<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.options.budget.budgetupload.BudgetUploadMapper">

    <!-- 検索 -->
    <resultMap type="fw.domain.options.budget.sectionbudget.SectionBudget" id="SectionBudget_Map">
        <id column="COMPANY_CD" property="sectionBudgetIdentify.section.company.companyCd" />
        <id column="SECTION_PLACE_CD" property="sectionBudgetIdentify.section.sectionPlace.sectionPlaceCd" />
        <id column="SECTION_CD" property="sectionBudgetIdentify.section.sectionCd" />
        <id column="SUBJECT_CD" property="sectionBudgetIdentify.subject.subjectCd" />
        <id column="BUDGET_YEAR" property="sectionBudgetIdentify.budgetYear" />
        <id column="SECTION_NAME" property="sectionBudgetIdentify.section.sectionName" />
        <id column="SUBJECT_NAME" property="sectionBudgetIdentify.subject.subjectName" />
        <id column="BUDGET_NAME" property="budgetName" />
        <id column="CURRENCY_CD" property="currency.currencyCd" />
        <id column="SEC_TOTAL_CHK_IND" property="secTotalChkInd" />
        <id column="SECTION_NOTE" property="notes.comment" />
        <id column="START_MONTH" property="startMonth" />
        <id column="START_YEAR_MONTH" property="startYearMonth" />
        <id column="BUDGET_AMOUNT_F_1" property="budgetAmountF1.amount" />
        <id column="BUDGET_AMOUNT_M_1" property="budgetAmountM1.amount" />
        <id column="BUDGET_AMOUNT_1" property="budgetAmount1.amount" />
        <id column="BUDGET_AMOUNT_F_2" property="budgetAmountF2.amount" />
        <id column="BUDGET_AMOUNT_M_2" property="budgetAmountM2.amount" />
        <id column="BUDGET_AMOUNT_2" property="budgetAmount2.amount" />
        <id column="BUDGET_AMOUNT_F_3" property="budgetAmountF3.amount" />
        <id column="BUDGET_AMOUNT_M_3" property="budgetAmountM3.amount" />
        <id column="BUDGET_AMOUNT_3" property="budgetAmount3.amount" />
        <id column="BUDGET_AMOUNT_F_4" property="budgetAmountF4.amount" />
        <id column="BUDGET_AMOUNT_M_4" property="budgetAmountM4.amount" />
        <id column="BUDGET_AMOUNT_4" property="budgetAmount4.amount" />
        <id column="BUDGET_AMOUNT_F_5" property="budgetAmountF5.amount" />
        <id column="BUDGET_AMOUNT_M_5" property="budgetAmountM5.amount" />
        <id column="BUDGET_AMOUNT_5" property="budgetAmount5.amount" />
        <id column="BUDGET_AMOUNT_F_6" property="budgetAmountF6.amount" />
        <id column="BUDGET_AMOUNT_M_6" property="budgetAmountM6.amount" />
        <id column="BUDGET_AMOUNT_6" property="budgetAmount6.amount" />
        <id column="BUDGET_AMOUNT_F_7" property="budgetAmountF7.amount" />
        <id column="BUDGET_AMOUNT_M_7" property="budgetAmountM7.amount" />
        <id column="BUDGET_AMOUNT_7" property="budgetAmount7.amount" />
        <id column="BUDGET_AMOUNT_F_8" property="budgetAmountF8.amount" />
        <id column="BUDGET_AMOUNT_M_8" property="budgetAmountM8.amount" />
        <id column="BUDGET_AMOUNT_8" property="budgetAmount8.amount" />
        <id column="BUDGET_AMOUNT_F_9" property="budgetAmountF9.amount" />
        <id column="BUDGET_AMOUNT_M_9" property="budgetAmountM9.amount" />
        <id column="BUDGET_AMOUNT_9" property="budgetAmount9.amount" />
        <id column="BUDGET_AMOUNT_F_10" property="budgetAmountF10.amount" />
        <id column="BUDGET_AMOUNT_M_10" property="budgetAmountM10.amount" />
        <id column="BUDGET_AMOUNT_10" property="budgetAmount10.amount" />
        <id column="BUDGET_AMOUNT_F_11" property="budgetAmountF11.amount" />
        <id column="BUDGET_AMOUNT_M_11" property="budgetAmountM11.amount" />
        <id column="BUDGET_AMOUNT_11" property="budgetAmount11.amount" />
        <id column="BUDGET_AMOUNT_F_12" property="budgetAmountF12.amount" />
        <id column="BUDGET_AMOUNT_M_12" property="budgetAmountM12.amount" />
        <id column="BUDGET_AMOUNT_12" property="budgetAmount12.amount" />
        <id column="BUDGET_AMOUNT_F_T" property="budgetAmountFT.amount" />
        <id column="BUDGET_AMOUNT_M_T" property="budgetAmountMT.amount" />
        <id column="BUDGET_AMOUNT_T" property="budgetAmountT.amount" />
        <id column="LAST_UPD_DATE" property="sectionBudgetIdentify.lastUpdDate" />
    </resultMap>
    <select id="searchSectionBudget"
    parameterType="fw.domain.options.budget.sectionbudget.SectionBudgetIdentify"
    resultMap="SectionBudget_Map">
    SELECT
        T_SECTION_BUDGET.COMPANY_CD
        , T_SECTION_BUDGET.SECTION_PLACE_CD
        , T_SECTION_BUDGET.SECTION_CD
        , T_SECTION_BUDGET.SUBJECT_CD
        , T_SECTION_BUDGET.BUDGET_YEAR
        , T_SECTION_BUDGET.SECTION_NAME
        , T_SECTION_BUDGET.SUBJECT_NAME
        , T_SECTION_BUDGET.BUDGET_NAME
        , T_SECTION_BUDGET.CURRENCY_CD
        , T_SECTION_BUDGET.SEC_TOTAL_CHK_IND
        , T_SECTION_BUDGET.SECTION_NOTE
        , T_SECTION_BUDGET.START_MONTH
        , T_SECTION_BUDGET.START_YEAR_MONTH
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_1
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_1
        , T_SECTION_BUDGET.BUDGET_AMOUNT_1
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_2
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_2
        , T_SECTION_BUDGET.BUDGET_AMOUNT_2
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_3
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_3
        , T_SECTION_BUDGET.BUDGET_AMOUNT_3
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_4
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_4
        , T_SECTION_BUDGET.BUDGET_AMOUNT_4
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_5
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_5
        , T_SECTION_BUDGET.BUDGET_AMOUNT_5
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_6
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_6
        , T_SECTION_BUDGET.BUDGET_AMOUNT_6
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_7
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_7
        , T_SECTION_BUDGET.BUDGET_AMOUNT_7
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_8
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_8
        , T_SECTION_BUDGET.BUDGET_AMOUNT_8
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_9
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_9
        , T_SECTION_BUDGET.BUDGET_AMOUNT_9
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_10
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_10
        , T_SECTION_BUDGET.BUDGET_AMOUNT_10
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_11
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_11
        , T_SECTION_BUDGET.BUDGET_AMOUNT_11
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_12
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_12
        , T_SECTION_BUDGET.BUDGET_AMOUNT_12
        , T_SECTION_BUDGET.BUDGET_AMOUNT_F_T
        , T_SECTION_BUDGET.BUDGET_AMOUNT_M_T
        , T_SECTION_BUDGET.BUDGET_AMOUNT_T
        , T_SECTION_BUDGET.LAST_UPD_DATE
    FROM
       T_SECTION_BUDGET
    WHERE
       T_SECTION_BUDGET.COMPANY_CD = #{section.company.companyCd}
       AND T_SECTION_BUDGET.SECTION_PLACE_CD = #{section.sectionPlace.sectionPlaceCd}
       AND T_SECTION_BUDGET.SECTION_CD = #{section.sectionCd}
       AND T_SECTION_BUDGET.SUBJECT_CD = NVL(TRIM(#{subject.subjectCd}), '　')
       AND T_SECTION_BUDGET.BUDGET_YEAR = #{budgetYear}
    </select>
    <!-- 登録 -->
    <insert id="insertSectionBudget" >
    INSERT INTO T_SECTION_BUDGET
    (
         COMPANY_CD         
       , SECTION_PLACE_CD   
       , SECTION_CD         
       , SUBJECT_CD         
       , BUDGET_YEAR        
       , SECTION_NAME       
       , SUBJECT_NAME       
       , BUDGET_NAME        
       , CURRENCY_CD        
       , SEC_TOTAL_CHK_IND  
       , DIFF_MAX_AMOUNT    
       , SECTION_NOTE       
       , START_MONTH        
       , START_YEAR_MONTH   
       , BUDGET_AMOUNT_F_1  
       , BUDGET_AMOUNT_M_1  
       , BUDGET_AMOUNT_1    
       , BUDGET_AMOUNT_F_2  
       , BUDGET_AMOUNT_M_2  
       , BUDGET_AMOUNT_2    
       , BUDGET_AMOUNT_F_3  
       , BUDGET_AMOUNT_M_3  
       , BUDGET_AMOUNT_3    
       , BUDGET_AMOUNT_F_4  
       , BUDGET_AMOUNT_M_4  
       , BUDGET_AMOUNT_4    
       , BUDGET_AMOUNT_F_5  
       , BUDGET_AMOUNT_M_5  
       , BUDGET_AMOUNT_5    
       , BUDGET_AMOUNT_F_6  
       , BUDGET_AMOUNT_M_6  
       , BUDGET_AMOUNT_6    
       , BUDGET_AMOUNT_F_7  
       , BUDGET_AMOUNT_M_7  
       , BUDGET_AMOUNT_7    
       , BUDGET_AMOUNT_F_8  
       , BUDGET_AMOUNT_M_8  
       , BUDGET_AMOUNT_8    
       , BUDGET_AMOUNT_F_9  
       , BUDGET_AMOUNT_M_9  
       , BUDGET_AMOUNT_9    
       , BUDGET_AMOUNT_F_10 
       , BUDGET_AMOUNT_M_10 
       , BUDGET_AMOUNT_10   
       , BUDGET_AMOUNT_F_11 
       , BUDGET_AMOUNT_M_11 
       , BUDGET_AMOUNT_11   
       , BUDGET_AMOUNT_F_12 
       , BUDGET_AMOUNT_M_12 
       , BUDGET_AMOUNT_12   
       , BUDGET_AMOUNT_F_T  
       , BUDGET_AMOUNT_M_T  
       , BUDGET_AMOUNT_T    
       , AUTO_DELETE_FLG    
       , AUTO_DELETE_DATE   
       , LAST_UPD_DATE      
       , LAST_UPD_COMPANY_CD
       , LAST_UPD_SECTION_CD
       , LAST_UPD_USER_ID   
       , REG_DATE           
       , REG_COMPANY_CD     
       , REG_SECTION_CD     
       , REG_USER_ID        
    )
    VALUES (
            #{uploadItem.companyCd jdbcType=VARCHAR},
            #{uploadItem.sectionPlaceCd jdbcType=VARCHAR},
            #{uploadItem.sectionCd jdbcType=VARCHAR},
            NVL(TRIM(#{uploadItem.subjectCd jdbcType=VARCHAR}), '　'),
            #{uploadItem.budgetYear jdbcType=VARCHAR},
            #{sectionName},
            #{subjectName},
            #{uploadItem.budgetName, jdbcType=VARCHAR},
            #{uploadItem.currencyCd, jdbcType=VARCHAR},
            NVL(#{uploadItem.totalChkInd, jdbcType=VARCHAR}, '0'),
            #{uploadItem.diffMaxAmount, jdbcType=VARCHAR},
            #{uploadItem.sectionNote, jdbcType=VARCHAR},
            #{startMonth},
            #{startYearMonth},
            #{uploadItem.budgetAmountF1, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM1, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount1, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF2, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM2, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount2, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF3, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM3, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount3, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF4, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM4, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount4, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF5, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM5, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount5, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF6, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM6, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount6, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF7, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM7, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount7, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF8, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM8, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount8, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF9, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM9, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount9, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF10, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM10, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount10, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF11, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM11, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount11, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountF12, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountM12, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount12, jdbcType=VARCHAR},
            #{uploadItem.budgetAmountFT},
            #{uploadItem.budgetAmountMT},
            #{uploadItem.budgetAmountT},
            '0',
            '',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}')
    </insert>
    <insert id="insertRingiBudget" >
        INSERT INTO T_RINGI_BUDGET(
            COMPANY_CD,
            SECTION_PLACE_CD,
            BUDGET_NO,
            REQ_SECTION_CD,
            REQ_SECTION_NAME,
            BUDGET_TITLE_NAME,
            PLAN_USER_ID,
            PLAN_USER_NAME,
            PERMIT_DATE,
            CURRENCY_CD,
            BUDGET_AMOUNT,
            END_EXP_DATE,
            END_DATE,
            RIN_TOTAL_CHK_IND,
            DIFF_MAX_AMOUNT,
            BUDGET_NOTE,
            AUTO_DELETE_FLG,
            AUTO_DELETE_DATE,
            LAST_UPD_DATE,
            LAST_UPD_COMPANY_CD,
            LAST_UPD_SECTION_CD,
            LAST_UPD_USER_ID,
            REG_DATE,
            REG_COMPANY_CD,
            REG_SECTION_CD,
            REG_USER_ID)
        VALUES (
            #{uploadItem.companyCd jdbcType=VARCHAR},
            #{uploadItem.sectionPlaceCd jdbcType=VARCHAR},
            #{uploadItem.budgetNo jdbcType=VARCHAR},
            #{uploadItem.reqSectionCd, jdbcType=VARCHAR},
            #{reqSectionName},
            #{uploadItem.budgetTitleName, jdbcType=VARCHAR},
            #{uploadItem.planUserId, jdbcType=VARCHAR},
            #{planUserName},
            #{uploadItem.permitDate, jdbcType=VARCHAR},
            #{uploadItem.currencyCd, jdbcType=VARCHAR},
            #{uploadItem.budgetAmount, jdbcType=VARCHAR},
            #{uploadItem.endExpDate, jdbcType=VARCHAR},
            #{uploadItem.endDate, jdbcType=VARCHAR},
            #{uploadItem.totalChkInd, jdbcType=VARCHAR},
            #{uploadItem.diffMaxAmount, jdbcType=VARCHAR},
            #{uploadItem.budgetNote, jdbcType=VARCHAR},
            '0',
            '',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}')
    </insert>
    <insert id="insertRingiBudgetDetail" >
        INSERT INTO T_RINGI_BUDGET_DTL(
            COMPANY_CD,
            SECTION_PLACE_CD,
            BUDGET_NO,
            BUDGET_DTL_NO,
            BUDGET_NAME,
            SUBJECT_CD,
            SUBJECT_NAME,
            BUDGET_AMOUNT,
            BUDGET_NOTE,
            AUTO_DELETE_FLG,
            AUTO_DELETE_DATE,
            LAST_UPD_DATE,
            LAST_UPD_COMPANY_CD,
            LAST_UPD_SECTION_CD,
            LAST_UPD_USER_ID,
            REG_DATE,
            REG_COMPANY_CD,
            REG_SECTION_CD,
            REG_USER_ID)
        VALUES (
            #{uploadItem.companyCd, jdbcType=VARCHAR},
            #{uploadItem.sectionPlaceCd, jdbcType=VARCHAR},
            #{uploadItem.budgetNo, jdbcType=VARCHAR},
            #{uploadItem.budgetDtlNo, jdbcType=VARCHAR},
            #{uploadItem.budgetName, jdbcType=VARCHAR},
            #{uploadItem.subjectCd, jdbcType=VARCHAR},
            #{subjectName},
            #{uploadItem.budgetDtlAmount, jdbcType=VARCHAR},
            #{uploadItem.budgetDtlNote, jdbcType=VARCHAR},
            '0',
            '',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}')
    </insert>
    <!-- 削除 -->
    <delete id="deleteSectionBudget" >
        DELETE T_SECTION_BUDGET
        WHERE
            COMPANY_CD = #{sectionBudgetIdentify.section.company.companyCd}
            AND SECTION_PLACE_CD = #{sectionBudgetIdentify.section.sectionPlace.sectionPlaceCd}
            AND SECTION_CD = #{sectionBudgetIdentify.section.sectionCd}
            AND SUBJECT_CD = NVL(TRIM(#{sectionBudgetIdentify.subject.subjectCd}), '　')
            AND BUDGET_YEAR = #{sectionBudgetIdentify.budgetYear}
    </delete>
    <delete id="deleteRingiBudget" >
        DELETE T_RINGI_BUDGET
        WHERE
            COMPANY_CD = #{ringiBudgetIdentify.company.companyCd}
            AND SECTION_PLACE_CD = #{ringiBudgetIdentify.sectionPlace.sectionPlaceCd}
            AND BUDGET_NO = #{ringiBudgetIdentify.budgetNo.budgetNo}
    </delete>
    <delete id="deleteRingiBudgetDetail" >
        DELETE T_RINGI_BUDGET_DTL
        WHERE
            COMPANY_CD = #{ringiBudgetIdentify.company.companyCd}
            AND SECTION_PLACE_CD = #{ringiBudgetIdentify.sectionPlace.sectionPlaceCd}
            AND BUDGET_NO = #{ringiBudgetIdentify.budgetNo.budgetNo}
            AND BUDGET_DTL_NO = #{budgetDtlNo}
     </delete>
</mapper>