<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_UNIT_NAME')</title><!-- 単位マスタ  -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

function onLoad() {
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
    var isSuccess = '#jsEscape($!isSuccess)';
    if(isSuccess == 'true'){
        #set( $manufactParam1 = ["#customSpringMessage('M_UNIT_NAME')"])
    	alert('#customMessageArgs("I003",$manufactParam1)');
    	buttonDisable();
        top.iframeChange("${flowExecutionUrl}&_eventId=back");
    }
}

function exec() {
    #set( $manufactParam1 = "#customSpringMessage('M_UNIT_NAME')")
    ## ＩＴ３-00202-000 2013.07.12 DEL SBO_WANGXM
    ###set( $delete = "#customSpringMessage('DELETE_BUTTON')" )
    ## ＩＴ３-00202-000 2013.07.12 ADD SBO_WANGXM
    #set( $delete = "#customSpringMessage('ACTION_DELETE')" )
	if( !confirm('#customMessageArgs("W001",[$manufactParam1,$delete])') ) {
		return;
	}
	buttonDisable();
	getObj("Body").submit();
}

//-->
</script>
</head>
<body class="Body" style="text-align:center;" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="left" onload="onLoad();">
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
	#customFormHiddenInput("pageid" "unitDelete")
    #customFormHiddenInput("lastUpdDate" "$!domain.unitIdentify.lastUpdDate")
<table width="70%" style="height:20px; margin-right:auto; margin-left:auto;"><tr id ="TR_ERROR" style="display:none;"><td class="error">
    $!errorMessage
</td></tr>
<tr>
    <td class="FontSmallBold DarkBlue">
        #customSpringMessage("PSMST152_DEL_HEADER_COMMENT")
    </td>
</tr>
</table>
    <table class="DTL_BOX" width="70%">
		<tr>
			<td class="DTL_TITLE_BOX" >
				<table class="NoBorder" width="100%">
					<tr>
						<td style="text-align:left;"><span class="DarkBlue FontBigBold">#customSpringMessage('SCREEN_M_UNIT_NAME_DELETE')</span></td><!--単位マスタ削除-->
						<td align="right" class="FontMini">
							<input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onclick="javascript:exec();">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="DTL_INTER_BOX">
				<table class="NoBorder" width="100%">
					<tr>
						<td width = "30%" class="DTL_OUTHEAD">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('UNIT_CD')</span><!--単位コード-->
							</div>
						</td>
						<td class="DTL_OUTBODY">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold">
									<span class="Brown">#out($!domain.unitIdentify.unitCd)</span>
									</td>
									<td class="FontMini" align="right" style="padding-right:10px;"></td>
								</tr></table>
							</div>
						</td>
					</tr>
					<tr>
						<td class="DTL_OUTHEAD" width="30%">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('LANGUAGE')</span><!--言語-->
                            ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
                            </div>
						</td>
						<td class="DTL_OUTHEAD">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold">
									 #customFormTable("$!domain.baseLanguageInd.languageInd_PageValue" "class='FontMiniAnkBold'" "class='Brown'")
									</td>
								</tr></table>
							</div>
						</td>
					</tr>
					<tr>
						<td width = "30%" class="DTL_OUTHEAD">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('UNIT_NAME')</span><!--単位名-->
							</div>
						</td>
						<td class="DTL_OUTHEAD">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold">
									<span id="UNIT_NAME" class="Brown">#out($!domain.unitName)</span>
									</td>
								</tr></table>
							</div>
						</td>
					</tr>
					<tr>
						<td width = "30%" class="DTL_OUTHEAD">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('DSP_ORDER')</span><!--表示順-->
							</div>
						</td>
						<td class="DTL_OUTHEAD">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold">
									<span id="UNIT_DSP_ORDER" class="Brown">#out($!domain.dspOrder)</span>
									</td>
								</tr></table>
							</div>
						</td>
					</tr>
				</table>
				<hr>
				#foreach($!unitLanguage in $!domain.unitLanguageList.unitLanguageList)
				<table class="NoBorder" width="100%">
					<tr>
						<td class="DTL_OUTHEAD" width="30%">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('LANGUAGE')</span><!--言語-->
                            ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
                            </div>
						</td>
						<td class="DTL_OUTHEAD">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold"><span id="LANGUAGE_CD" class="Brown">#out($!unitLanguage.languageInd.languageInd_PageValue)</span>
									</td>
								</tr></table>
							</div>
						</td>
					</tr>
					<tr>
						<td width = "30%" class="DTL_OUTHEAD">
							<div class="DTL_INHEAD">
								<span class="FontBoxHeader">#customSpringMessage('UNIT_NAME')</span><!--単位名-->
							</div>
						</td>
						<td class="DTL_OUTHEAD">
							<div class="DTL_INBODY">
								<table class="NoBorder" width="100%"><tr>
									<td class="FontMiniAnkBold"><span id="UNIT_NAME" class="Brown">#out($!unitLanguage.unitName)</span>
									</td>
								</tr></table>
							</div>
						</td>
					</tr>
				</table>
                #end

			</td>
		</tr>
		<tr>
			<td class="DTL_INTER_BOX" >
                 <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_MSGBOX" nowrap>
                            #customSpringMessage('PSMST152_DEL_FOOTER_COMMENT') ## 削除した場合、登録内容は消去されますが、過去の伝票には影響はありません。
                        </td>
                        <td align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onclick="exec();">
                        </td>
                    </tr>
                </table>
            </td>
		</tr>
	</table>
</form>

</body>

</html>
