<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_UNIT_NAME')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$unitSearchCondition)

#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
        alert(alertMessage);
        if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
    var isShowUpdate = "#jsEscape($isShowUpdate)";
    if (isShowUpdate == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=update","pageid","unitEdit");
    }
    var isShowDelete = "#jsEscape($isShowDelete)";
    if (isShowDelete == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","unitDelete");
    }
}

function openDetail(unitCd,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeUpdate","unitCd",unitCd,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

function openDetailDel(unitCd,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeDelete","unitCd",unitCd,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,0);">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" width="100%">
    <thead>
    #if($!itemList.unitItemList.size()!=0)
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall" width="6%;" >No.<!--NO.--></th>
            <th class="BoxHeaderCenter FontSmall" width="5%;" >#customSpringMessage('ACTION')<!--処理--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_UNIT_NAME.UNIT_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_UNIT_NAME.UNIT_CD')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('UNIT_CD')<!--単位コード-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="unitName" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','unitName')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('UNIT_NAME')<!--単位名-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_UNIT_NAME.DSP_ORDER" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_UNIT_NAME.DSP_ORDER')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('DSP_ORDER')<!--表示順-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" width="5%;" id="M_UNIT_NAME.TERM_FLG" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_UNIT_NAME.TERM_FLG')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('TERMINATION')<!--廃止-->
                    </span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
    #set( $index = 0 )
    #foreach($!unitItem in $!itemList.unitItemList)
        <tr>
            <td class="BoxDetailCenter FontList"><span class="FontList">#set( $index = $index + 1 )$index</span></td>
            <td class="BoxDetailCenter">
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_EDIT')" onclick="openDetail('#jsEscapeInHTML($!unitItem.unitIdentify.unitCd)','#jsEscapeInHTML($!unitItem.unitIdentify.lastUpdDate)');"><!-- 編集 -->
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_DELETE')" onclick="openDetailDel('#jsEscapeInHTML($!unitItem.unitIdentify.unitCd)','#jsEscapeInHTML($!unitItem.unitIdentify.lastUpdDate)');"><!-- 削除 -->
            </td>
            <td class="BoxDetailCenter FontList"><span class="FontList">#out($!unitItem.unitIdentify.unitCd)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!unitItem.unitName)</span></td>
            <td class="BoxDetailCenter FontList"><span class="FontList">#out($!unitItem.dspOrder)</span></td>
            <td class="BoxDetailCenter FontSmallBold"><span class="FontPartNo">#out($!unitItem.termFlg_PageValue)</span></td>
        </tr>
    #end
   </tbody>
  #end
</table>

<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table>


</body>

</html>
