<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.purprice.PurPriceMapper">

    <select id="searchCountSupplier" parameterType="fw.domain.mst.supplier.supplier.SupplierIdentify" resultType="int">
        SELECT 
            COUNT(1) 
        FROM 
            M_PUR_PRICE 
        WHERE 
            M_PUR_PRICE.SUP_CD = #{supCd}
       AND (M_PUR_PRICE.BUYER_COMPANY_CD = #{companyCd} OR 'ALL'=#{companyCd})
    </select>

    <select id="searchCountItem" parameterType="fw.domain.mst.material.item.ItemIdentify" resultType="int">
        SELECT 
            COUNT(1) 
        FROM 
            M_PUR_PRICE 
        WHERE 
            M_PUR_PRICE.ITEM_CD = #{itemCd}
    </select>

    <select id="searchCountItemTerm" parameterType="String" resultType="int">
        <![CDATA[
        SELECT 
            COUNT(1) 
        FROM 
            M_PUR_PRICE 
        WHERE 
            M_PUR_PRICE.ITEM_CD = #{itemCd} 
        AND M_PUR_PRICE.TERM_FLG = '0'
        AND M_PUR_PRICE.VALID_START_DATE <= '${@fw.common.util.AppUtil@getSysDate()}'
        AND M_PUR_PRICE.VALID_END_DATE >= '${@fw.common.util.AppUtil@getSysDate()}'
        ]]>
    </select>

</mapper>