<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.deliveryplace.DefaultDeliveryPlaceMapper">

	<resultMap id="DelivPlace_Map" type="fw.domain.mst.organization.deliveryplace.DelivPlace">
		<result column="DELIV_PLACE_CD" property="delivPlaceCd"/>
	</resultMap>

	<select id="getDefaultDeliveryPlace" resultMap="DelivPlace_Map">
		SELECT
			DELIV_PLACE_CD
		FROM
			M_DEFAULT_DELIVERY_PLACE
		WHERE
			COMPANY_CD = #{companyCd}
			AND SECTION_CD = #{sectionCd}
			AND USER_ID = #{userId}
			AND TERM_FLG = '0'
	</select>

	<insert id="registerDefaultDeliveryPlace">
		INSERT INTO M_DEFAULT_DELIVERY_PLACE (
			COMPANY_CD,
			SECTION_CD,
			USER_ID,
			DELIV_PLACE_CD,
			TERM_FLG,
			LAST_UPD_DATE,
			LAST_UPD_COMPANY_CD,
			LAST_UPD_SECTION_CD,
			LAST_UPD_USER_ID,
			REG_DATE,
			REG_COMPANY_CD,
			REG_SECTION_CD,
			REG_USER_ID
		) VALUES (
			#{userIdentify.companyCd},
			#{userIdentify.sectionCd},
			#{userIdentify.userId},
			#{delivPlace.delivPlaceCd},
			'0',
			'${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
			'${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
			'${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
			'${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
			'${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
			'${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
			'${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
			'${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
		)
	</insert>

	<delete id="unregisterDefaultDeliveryPlace">
		DELETE
		FROM
			M_DEFAULT_DELIVERY_PLACE
		WHERE
			COMPANY_CD = #{userIdentify.companyCd}
			AND SECTION_CD = #{userIdentify.sectionCd}
			AND USER_ID = #{userIdentify.userId}
	</delete>

</mapper>
