<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('INVENTORY_START_LIST')</title><!--棚卸開始一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($updateGrant = $LoginUser.hasAuth(${AuthNoConstant.getValue("INVENTORY_UPDATE_GRANT")}))## 棚卸更新権限
#parse("./common/common_js.vm")
## ビューが初めて表示される直前に発生します。
function onLoad(){
    parentButtonEnable();
    dataLoadHasPage();
#if($!itemList.inventoryStartItemList && $!itemList.inventoryStartItemList.size() > 0)
    setControlEnabled();
#end
    var alertMessage="$!alertMessage";
    if(alertMessage!=""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var isUpdateSuccess="#jsEscape($!isUpdateSuccess)";
    if(isUpdateSuccess=="true"){
        #set($params=["#customSpringMessage('STOCK_LOCK_STATUS')"])
        alert("#customMessageArgs('I002',$params)");
        return;
    }
    var isStartSuccess="#jsEscape($!isStartSuccess)";
    if(isStartSuccess=="true"){
        #set($params=["#customSpringMessage('INVENTORY_START')"])
        alert("#customMessageArgs('I601',$params)");
        return;
    }
    var isCancelSuccess="#jsEscape($!isCancelSuccess)";
    if(isCancelSuccess=="true"){
        #set($params=["#customSpringMessage('INVENTORY_CANCEL')"])
        alert("#customMessageArgs('I601',$params)");
        return;
    }
    var isPrintSuccess="#jsEscape($isPrintSuccess)";
    if(isPrintSuccess=="true"){
        alert("#customMessageArgs('I032',[])");
        return;
    }
}
## 各コントロールの表示/非表示を設定します。
function setControlEnabled(){
    var body="#TABLE > tbody > ";
    if($('#bodyTableDiv').length!=0){
        body="#bodyTableDiv > table > tbody > ";
    }
    $(body+'tr:[id^=Row_]').each(function(index){
        ## エラー発生時に選択色が元に戻るため、再設定する
        var checkbox=$('input:[type=checkbox][name=status_'+index+']');
        if(!$(checkbox)[0]){ return true; }
        if($(checkbox).prop('disabled')){ return; }
        if($(checkbox).prop('checked')){
            $(this).css('background-color','#ff9');
        }
    });
    if($updateGrant){ ## 編集可
        $('#update',parent.document).css('display','');
        $('#start',parent.document).css('display','');
        $('#cancel',parent.document).css('display','');
    }else{ ## 編集不可
        $('#update',parent.document).css('display','none');
        $('#start',parent.document).css('display','none');
        $('#cancel',parent.document).css('display','none');
    }
    $('#print',parent.document).css('display','');
}
## 全選択/全選択解除をクリックしたとき発生します。
$(function(){
    $(document).delegate('#ParentCheckBox','change',function(){
        if($(this).prop('disabled')){ return; }
        var checked = $(this).prop('checked');
        var body="#TABLE > tbody > ";
        if($('#bodyTableDiv').length!=0){
            body="#bodyTableDiv > table > tbody > ";
        }
        $(body+'tr:[id^=Row_]').each(function(index){
            var checkbox=$('input:[type=checkbox][name=status_'+index+']');
            if(!$(checkbox)[0]){ return true; }
            var status;
            if(checked){
                $('tr:[id=Row_'+index+']').css('background-color','#ff9');
                status = "1";
            }else{
                $('tr:[id=Row_'+index+']').css('background-color','');
                status = "0";
            }
            getObj("inventoryStartItemList["+index+"].checkStatus").value=status;
            $(checkbox).prop('checked',checked);
        });
    });
});
## 選択/選択解除ボタンをクリックしたとき発生します。
function checkboxOnClick(obj,index){
    if(obj.disabled){ return; }
    var status;
    if(obj.checked){
        $('tr:[id=Row_'+index+']').css('background-color','#ff9');
        status = "1";
    }else{
        $('tr:[id=Row_'+index+']').css('background-color','');
        status = "0";
    }
    getObj("inventoryStartItemList["+index+"].checkStatus").value=status;
}
## 「ロック更新」ボタンをクリックしたときに発生します。
function doUpdate(){
    var count=0;
    $("input:[type=checkbox][name^=status_]").each(function(){
        if($(this).prop("checked"))
            count++;
    });
    if(count==0){
        alert("#nothingSelectedMessage()");
    }else{
        #set($params = ["#customSpringMessage('STOCK_LOCK_STATUS')","#customSpringMessage('UPDATE')"]);
        if(!confirm("#customMessageArgs('W001',$params)")){
            return;
        }
        buttonDisable();
        parentButtonDisable();
        getObj("BodyForm").action="${flowExecutionUrl}&_eventId=update";
        getObj("BodyForm").submit();
    }
}
## 「棚卸開始」ボタンをクリックしたときに発生します。
function doStart(){
    var count=0;
    $("input:[type=checkbox][name^=status_]").each(function(){
        if($(this).prop("checked"))
            count++;
    });
    if(count==0){
        alert("#nothingSelectedMessage()");
    }else{
        #set($params = ["#customSpringMessage('INVENTORY_START')","#customSpringMessage('ACTION_RUN')"]);
        if(!confirm("#customMessageArgs('W001',$params)")){
            return;
        }
        buttonDisable();
        parentButtonDisable();
        getObj("BodyForm").action="${flowExecutionUrl}&_eventId=start";
        getObj("BodyForm").submit();
    }
}
## 「棚卸取消」ボタンをクリックしたときに発生します。
function doCancel(){
    var count=0;
    $("input:[type=checkbox][name^=status_]").each(function(){
        if($(this).prop("checked"))
            count++;
    });
    if(count==0){
        alert("#nothingSelectedMessage()");
    }else{
        if(!confirm("#customMessageArgs('W603',[])")){
            return;
        }
        buttonDisable();
        parentButtonDisable();
        getObj("BodyForm").action="${flowExecutionUrl}&_eventId=cancel";
        getObj("BodyForm").submit();
    }
}
## 「棚卸記入表印刷」ボタンをクリックしたときに発生します。
function doPrint(){
    var count=0;
    $("input:[type=checkbox][name^=status_]").each(function(){
        if($(this).prop("checked"))
            count++;
    });
    if(count==0){
        alert("#nothingSelectedMessage()");
    }else{
        #set($params = ["#customSpringMessage('INVENTORY_ENTRY_LIST')","#customSpringMessage('PRINT')"]);
        if(!confirm("#customMessageArgs('W001',$params)")){
            return;
        }
        buttonDisable();
        parentButtonDisable();
        getObj("BodyForm").action="${flowExecutionUrl}&_eventId=print";
        getObj("BodyForm").submit();
    }
}
//-->
</script>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,2+$!PSSTK071PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage != "")
<div id="error" class="error">
    $!errorMessage
</div>
#end
#if($!itemList.inventoryStartItemList && $!itemList.inventoryStartItemList.size() > 0)
<form id="BodyForm" name="BodyForm" method="post">
    <table id="TABLE" class="ListArea" width="100%">
        <thead>
            <tr id="Header">
                <th class="BoxHeaderCenter FontSmall" width="5%">No.<!--No.--></th>
                <th id="CheckCol_H" label="chk" class="BoxHeaderCenter FontSmall" width="5%">
                    <input name="ParentCheckBox" id="ParentCheckBox" type="checkbox"><!--全選択/全選択解除-->
                </th>
                #foreach($!item in $!PSSTK071PageCreaterForList.getItemListForBody())
                    #set($currentOneColumnFlag = $!PSSTK071PageCreaterForList.getOneColumnFlag($!item))
                    #if($velocityCount == 0)
                        $!PSSTK071PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                    #elseif($currentOneColumnFlag)
                        $!PSSTK071PageCreaterForList.printBRtag($!item)
                    #else
                        $!PSSTK071PageCreaterForList.printTHtagClose()
                        $!PSSTK071PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                    #end
                    #if($!item.getColumnName() == "T_INVENTORY.INV_STATUS")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.LAST_INV_YEAR_MONTH")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.INV_YEAR_MONTH")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                        <span class="FontWarn">&nbsp;※</span>
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_LOCK")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.COMPANY_CD")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.COMPANY_NAME")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.SECTION_PLACE_CD")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.SECTION_PLACE_NAME")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_PLACE_CD")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_PLACE_NAME")
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #else
                        $!PSSTK071PageCreaterForList.printHead($!item)
                    #end
                #end
                $!PSSTK071PageCreaterForList.printTHtagClose()
            </tr>
        </thead>
        <tbody>
        #foreach($!item in $!itemList.inventoryStartItemList)
            <tr id="Row_$foreach.index" name="Row_$foreach.index" #if($foreach.index % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
                #set($isCheckable=$!item.checkable)
                #set($isEditable=$!item.editable)
                #set($isLockUpdate=$!item.lockUpdate)
                <td class="BoxDetailCenter FontList">$foreach.count</td>
                <td id="CheckCol_$foreach.index" class="BoxDetailCenter FontList"><!--選択-->
                  #if($isCheckable)
                    <input type="checkbox" class="Icon" name="status_$foreach.index" onclick="checkboxOnClick(this,$foreach.index);" #if($!item.checkStatus == '1') checked #end>
                    #customFormHiddenInput("inventoryStartItemList[$foreach.index].checkStatus" "$!item.checkStatus")
                  #end
                </td>
                #foreach($!item in $!PSSTK071PageCreaterForList.getItemListForBody($velocityCount))
                    #set($currentOneColumnFlag = $!PSSTK071PageCreaterForList.getOneColumnFlag($!item))
                    #if($velocityCount == 0)
                        $!PSSTK071PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #elseif(!$currentOneColumnFlag)
                        $!PSSTK071PageCreaterForList.printTDtagClose()
                        $!PSSTK071PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #end
                    #if($!item.getColumnName() == "T_INVENTORY.INV_STATUS")
                        $!PSSTK071PageCreaterForList.printSpecial("s25_codeName", $!item
                            , 'INV_STATUS_IND', ''
                            , "_data_style", 'class="FontStatus" align="center"'
                        )
                    #elseif($!item.getColumnName() == "T_INVENTORY.LAST_INV_YEAR_MONTH")
                        $!PSSTK071PageCreaterForList.printDefault($!item
                            , "_data_style", 'align="center"'
                        )
                    #elseif($!item.getColumnName() == "T_INVENTORY.INV_YEAR_MONTH")
                      #if($isEditable && $updateGrant)
                        $!PSSTK071PageCreaterForList.printSpecial("s47_list_data_textbox", $!item
                            , "_data_style", 'align="center"'
                            , "_item_style", 'SmallAnk noIME'
                            , "_event", 'onblur="dateOnBlurYYYYMM(this);" onfocus="dateOnFocus(this);"'
                        )
                      #else
                        $!PSSTK071PageCreaterForList.printSpecial("s47_list_data_textbox", $!item
                            , "_data_style", 'align="center"'
                            , "_item_style", 'SmallDsp'
                            , "_event", 'readonly tabIndex="-1"'
                        )
                      #end
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_LOCK")
                     #if(!$isSettleEnd)
                      #if($isLockUpdate && $updateGrant)
                        $!PSSTK071PageCreaterForList.printSpecial("s48_list_data_checkbox", $!item
                            , "_data_style", 'align="center"'
                        )
                      #else
                        $!PSSTK071PageCreaterForList.printSpecial("s48_list_data_checkbox", $!item
                            , "_data_style", 'align="center"'
                            , "_disabled", 'true'
                        )
                      #end
                     #end
                    #elseif($!item.getColumnName() == "T_INVENTORY.COMPANY_CD")
                        $!PSSTK071PageCreaterForList.printDefault($!item
                            , "_data_style", 'align="center"'
                        )
                    #elseif($!item.getColumnName() == "T_INVENTORY.COMPANY_NAME")
                        $!PSSTK071PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.SECTION_PLACE_CD")
                        $!PSSTK071PageCreaterForList.printDefault($!item
                            , "_data_style", 'align="center"'
                        )
                    #elseif($!item.getColumnName() == "T_INVENTORY.SECTION_PLACE_NAME")
                        $!PSSTK071PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_PLACE_CD")
                        $!PSSTK071PageCreaterForList.printDefault($!item
                            , "_data_style", 'align="center"'
                        )
                    #elseif($!item.getColumnName() == "T_INVENTORY.STOCK_PLACE_NAME")
                        $!PSSTK071PageCreaterForList.printDefault($!item)
                    #else
                        $!PSSTK071PageCreaterForList.printDefault($!item)
                    #end
                #end
                $!PSSTK071PageCreaterForList.printTDtagClose()
            </tr>
        #end
        </tbody>
    </table>
</form>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')<!--問い合わせ中...--></span></td></tr></table>
</body>
</html>