<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('STRG_RESULTS_DTL')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#set($detailViewStateID='PSSTK050')
var title = top.document.title;
#parse("./common/common_js.vm")
top.document.title = title;
## ファイル型拡張項目のアンカーリンクがクリックされたときに発生します。
function downloadExt(filename, file){
    iframeChange("${flowExecutionUrl}&_eventId=downloadext",'filename',filename,'file',file);
}
//-->
</script>
</head>
<body method="post">
    <table class="DetailSheet" width="90%" height="100%" align="center">
        <tr>
            #if("$whereFromFlag" == "history")
                <td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
            #else 
                <td>
            #end    
               <table width="100%">
                   <tr>
                       <td align="right">
                           <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=30','PersonalSettingsDetail','500','500');">
                       </td>
                   </tr>
                    <tr><td>#customSpringMessage('PSSTK050_HEADER_COMMENT')</td></tr>
               </table>
                <table id="InnerTabBody_0" class="Box1G" width="100%">
                $!PSSTK050PageCreaterForDetail.build('_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1H FontBoxHeader"')
                    #foreach($!item in $!PSSTK050PageCreaterForDetail.getItemListForBody())
                        #if($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_NO")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item,'_td_style_left','class="Box1H FontBoxHeader"',"_td_style_right",'class="Box1D FontSlipNo"','_item_style', 'class="FontSlipNo"')
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_IND")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_CLASS_IND")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.REQ_DATE")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.CORRECT_CD")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.TITLE_NAME")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.REQ_USER_ID")
                            $!PSSTK050PageCreaterForDetail.printSpecial("CLIENT","m15_showUser",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_STOCK_PLACE_CD")
                            $!PSSTK050PageCreaterForDetail.printSpecial("STRG_STOCK_PLACE","m36_showStockPlace",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.ITEM_CLASS_S")
                            $!PSSTK050PageCreaterForDetail.printSpecial("PRODUCT_CLASS","m30_showItemProductClass",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.ITEM_CD")
                            $!PSSTK050PageCreaterForDetail.printSpecial("m24_showItem",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.ITEM_NAME")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.KATASHIKI")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.MANUFACT_CD")
                            $!PSSTK050PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.SUBJECT_CD")
                            $!PSSTK050PageCreaterForDetail.printSpecial("SUBJECT","m19_showSubject",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_DATE")
                            $!PSSTK050PageCreaterForDetail.printDefault('STRG_DATE',$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_VOL")
                            $!PSSTK050PageCreaterForDetail.printSpecial('STRG_VOL',"s16_showVol",$!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.CURRENCY_CD")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_UNIT_PRICE")
                            $!PSSTK050PageCreaterForDetail.printSpecial('PUR_UNIT_PRICE', 's24_currency', $!item
                                , '_item_style', 'class="FontCurrSmall"'
                            )
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_AMOUNT")
                            $!PSSTK050PageCreaterForDetail.printSpecial('PUR_AMOUNT', 's24_currency', $!item
                                , '_item_style', 'class="FontCurrSmall"'
                            )
                        #elseif($!item.getColumnName()=="T_STRG_SHIP_RESULTS.STRG_SHIP_NOTE")
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #else
                            $!PSSTK050PageCreaterForDetail.printDefault($!item)
                        #end
                    #end
                </table>
            </td>
        </tr>
        <tr><td>#customSpringMessage('PSSTK050_FOOTER_COMMENT')</td></tr>
        #if("$whereFromFlag" == "history")
        <tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"></td></tr>
        #end
    </table>
</body>
</html>
