<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('STOCK_LIST')</title><!--在庫一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript"> 
<!--
#set($searchCondition=$stockSearchCondition)
#parse("./common/common_js.vm")

function onLoad() {
    buttonUsableForAuth("#out($!errorMessage)");
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
        buttonUsableForList(alertMessage);
    }
    var errorMsg = "#out($!errorMessage)";
    if (errorMsg != ""){
        return;
    }
    var isShowDetail = "#out($isShowDetail)";
    if (isShowDetail == 'true'){
        poppage("#out(${flowExecutionUrl})&_eventId=detail",'DETAIL','900','850');
    }
}

//-->
</script>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,1);">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.stockItemList && $!itemList.stockItemList.size()>0)
<table id="TABLE" class="ListArea" width="100%">
    <thead> 
        <tr id="Header" style= "position:relative;overflow-y:auto; top:expression(this.offsetParent.scrollTop);">
            <th class="BoxHeaderCenter FontSmall">No.</th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_STOCK.STOCK_PLACE_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_STOCK.STOCK_PLACE_CD')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('STOCK_PLACE_CD')<!--在庫場所コード-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_STOCK_PLACE_LANG_VALID.STOCK_PLACE_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_STOCK_PLACE_LANG_VALID.STOCK_PLACE_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('STOCK_PLACE_NAME')<!--在庫場所名-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_STOCK.ITEM_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_STOCK.ITEM_CD')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('ITEM_CD')<!--品名コード-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_LANG_VALID.ITEM_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM_LANG_VALID.ITEM_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('ITEM_NAME')<!--品名-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.KATASHIKI" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM.KATASHIKI')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('KATASHIKI')<!--型式-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.MANUFACT_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM.MANUFACT_CD')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('MANUFACT_CD')<!--メーカーコード-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_MANUFACT_LANG_VALID.MANUFACT_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_MANUFACT_LANG_VALID.MANUFACT_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('MANUFACT_NAME')<!--メーカー名-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_STOCK.STOCK_VOL" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_STOCK.STOCK_VOL')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('NOW_STOCK_VOL')<!--現在庫数量-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id=" M_UNIT_NAME_LANG_VALID.UNIT_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column',' M_UNIT_NAME_LANG_VALID.UNIT_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('UNIT')<!--単位-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_CLASS_LANG_L.ITEM_CLASS_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM_CLASS_LANG_L.ITEM_CLASS_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('ITEM_CLASS_LARGE')<!--大分類-->
                    </span>
                </span>
            </th>
             <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_CLASS_LANG_M.ITEM_CLASS_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM_CLASS_LANG_M.ITEM_CLASS_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('ITEM_CLASS_MEDIUM')<!--中分類-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_CLASS_LANG_S.ITEM_CLASS_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_ITEM_CLASS_LANG_S.ITEM_CLASS_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('ITEM_CLASS_SMALL')<!--小分類-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_STOCK.SECTION_PLACE_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_STOCK.SECTION_PLACE_CD')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('SECTION_PLACE_CD')<!--事業所コード-->
                    </span>
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION_PLACE_LANG_VALID.SECTION_PLACE_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_SECTION_PLACE_LANG_VALID.SECTION_PLACE_NAME')">
                <span class="column">
                    <span class="BoxHeaderSortItem">
                        #customSpringMessage('SECTION_PLACE_NAME')<!--事業所名-->
                    </span>
                </span>
            </th>
        </tr>
    </thead>
    #set($No=0)
    <tbody>
    #foreach($!stockItem in $!itemList.stockItemList)
        #set( $No = $No + 1 )             
        <tr id="Row_$velocityCount" name="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">$No</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.stockPlaceCd)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.stockPlaceName)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.itemCd)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.itemName)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.katashiki)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.manufactCd)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.manufactName)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.nowStockVol.volFormat)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.unitName)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.itemClassLName)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.itemClassMName)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.itemClassSName)</td>
            <td class="BoxDetailCenter FontList">#out($!stockItem.sectionPlaceCd)</td>
            <td class="BoxDetailLeft FontList">#out($!stockItem.sectionPlaceName)</td>
        </tr>
    #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table>
</body>
</html>