<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
#set($commonTitle = "#customSpringMessage('HISTORY_REFE_ALL')")
<title>$commonTitle</title><!--履歴照会（全検索）-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchViewStateID='PSHIS160')
#set($listViewStateID='PSHIS161')
#parse("./common/common_js.vm")
var pinName="PSHIS160_Pin";
var maxSearchHeight = 160;
var minSearchHeight = 30;
## ビューが初めて表示される直前に発生します。
function onLoad() {
    bodyLoad();
    var alertMessage="$!alertMessage";
    if(alertMessage!=""){
        alert(alertMessage);
    }
    var errorMsg="$!errorMessage";
    if(errorMsg!=""){
        setErrorMessage("ERRORDIV",errorMsg,"DATAAREA");
        return;
    }
    var isShowList="#jsEscape($isShowList)";
    if(isShowList=='true'){
        iframeChange("${flowExecutionUrl}&_eventId=search","pageid","PSHIS160");
        return;
    }
}
## 「検索」ボタンをクリックしたとき発生します。
function execSearch() {
    buttonDisable();
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}
## 「品名」検索POPUPボタンをクリックしたとき発生します。
function itemPopupOnClick(){
    itemPopup.setObject(getObj('itemCd'),getObj('itemName'));
    masterSearch('../../src/itemPopup/search?pageid=itemPopupSearch&popupPageid=PSHIS160','itemPopup','850','600');
}
## 「取引先」検索POPUPボタンをクリックしたとき発生します。
function supplierPopupOnClick(){
    supplierPopup.setObject(getObj('supplierFromCd'),'',getObj('supplierFromName'));
    masterSearch('../../src/supplierPopup/search?pageid=supplierPopupSearch&popupPageid=PSHIS160','supplierPopup','700','500');
}
## 「購買部門」検索POPUPボタンをクリックしたとき発生します。
function buyerSectionPopupOnClick(){
    sectionPopup.setObject(getObj('buyerSectionCd'),getObj('buyerSectionName'));
    masterSearch('../../src/sectionPopup/search?pageid=sectionPopupSearch&popupPageid=PSHIS160&projectId=buyerSection','sectionPopup','700','500');
}
## 「購買部門」を変更したとき発生します。
function buyerSectionOnChange(){
    getObj("buyerSectionName").value="";
}
## 「購買担当者」検索POPUPボタンをクリックしたとき発生します。
function buyerUserPopupOnClick(){
    userPopup.setObject(getObj("buyerUserId"),getObj("buyerUserName"));
    masterSearch('../../src/userPopup/search?pageid=userPopupSearch&popupPageid=PSHIS160&projectId=buyerUser','userPopup','700','500');
}
## 「購買担当者」を変更したとき発生します。
function buyerUserOnChange(){
    getObj("buyerUserName").value="";
}
## 「依頼部門」検索POPUPボタンをクリックしたとき発生します。
function reqSectionPopupOnClick(){
    sectionPopup.setObject(getObj('reqSectionCd'),getObj('reqSectionName'));
    masterSearch('../../src/sectionPopup/search?pageid=sectionPopupSearch&popupPageid=PSHIS160&projectId=reqSection','sectionPopup','700','500');
}
## 「依頼部門」を変更したとき発生します。
function reqSectionOnChange(){
    getObj("reqSectionName").value="";
}
## 「依頼者」検索POPUPボタンをクリックしたとき発生します。
function reqUserPopupOnClick(){
    userPopup.setObject(getObj("reqUserId"),getObj("reqUserName"));
    masterSearch('../../src/userPopup/search?pageid=userPopupSearch&popupPageid=PSHIS160&projectId=client','userPopup','700','500');
}
## 「依頼者」を変更したとき発生します。
function reqUserOnChange(){
    getObj("reqUserName").value="";
}
//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%" onload="onLoad();" style="overflow-y:hidden;">
<form id="BodyForm" name="Body"  method="post" >
    #customFormHiddenInput("userId" "")
    #customFormHiddenInput("userName" "")
    #customFormHiddenInput("isClassify" "false")
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title_tran_with_personal_setting_listonly.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder"  width="100%">
                                <tr>
                                    <td nowrap align="left" colspan="4">
                                        #customSpringMessage('PSHIS160_HEADER_COMMENT')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('PUR_REQ_NO')<!--購入依頼番号-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.purReqNo" 'class="Small noIME" maxlength="19" size="30"')
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ORDER_NO')<!--注文番号-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.orderNo" 'class="Small noIME" maxlength="19" size="30"')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('PUR_APL_NO')<!--購入申請番号-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.aplNo" 'class="Small noIME" maxlength="17" size="30"')
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('QUOT_REQ_NO')<!--見積依頼番号-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.quotReqNo" 'class="Small noIME" maxlength="19" size="30"')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('TITLE_NAME')<!--件名-->
                                        <span class="FontComment">％</span>
                                    </td>
                                    <td nowrap align="left" colspan="3">
                                        #springFormInput("searchCondition.titleName" 'class="Small onIME" maxlength="30" size="71"')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ITEM_CD')<!--品名コード-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.itemCd" 'class="Small noIME" maxlength="25" size="40"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="itemPopupOnClick();">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ITEM_NAME')<!--品名-->
                                        <span class="FontComment">％</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.itemName" 'class="Small onIME" maxlength="60" size="80"')
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('SUP_CD')<!--取引先コード-->
                                        <span class="FontComment">＊</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.supplierFromCd" 'class="Small noIME" maxlength="12" size="20"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="supplierPopupOnClick();">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('SUP_NAME')<!--取引先名-->
                                        <span class="FontComment">％</span>
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.supplierFromName" 'class="Small onIME" maxlength="30" size="71"')
                                    </td>
                                </tr>
                                <tr>
                                #if($!searchCondition.historySerchAllGrantFlg == "1")
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage("BUYER_SECTION")<!--購買部門-->
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.buyerSectionCd" 'class="Small noIME" maxlength="12" size="20" onchange="buyerSectionOnChange();"')
                                        #springFormInput("searchCondition.buyerSectionName" 'class="SmallDsp" size="60" readonly tabIndex="-1"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="buyerSectionPopupOnClick();">
                                    </td>
                                #end
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage("BUYER_USER")<!--購買担当者-->
                                    </td>
                                #if($!searchCondition.historySerchAllGrantFlg == "1")
                                    <td nowrap align="left">
                                #else
                                    <td nowrap align="left" colspan="3">
                                #end
                                        #springFormInput("searchCondition.buyerUserId" 'class="Small noIME" maxlength="12" size="20" onchange="buyerUserOnChange();"')
                                        #springFormInput("searchCondition.buyerUserName" 'class="SmallDsp" size="32" readonly tabIndex="-1"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="buyerUserPopupOnClick();">
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage("REQ_SECTION")<!--依頼部門-->
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.reqSectionCd" 'class="Small noIME" maxlength="12" size="20" onchange="reqSectionOnChange();"')
                                        #springFormInput("searchCondition.reqSectionName" 'class="SmallDsp" size="60" readonly tabIndex="-1"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="reqSectionPopupOnClick();">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage("CLIENT")<!--依頼者-->
                                    </td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.reqUserId" 'class="Small noIME" maxlength="12" size="20" onchange="reqUserOnChange();"')
                                        #springFormInput("searchCondition.reqUserName" 'class="SmallDsp" size="32" readonly tabIndex="-1"')
                                        <img class="Icon" src="../../image/btnLupe.gif" onclick="reqUserPopupOnClick();">
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ORDER_DATE')<!--注文日-->
                                    </td>
                                    <td class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.orderDateFrom.dateOfymdFormat" 'class="SmallAnk noIME" maxLength="8" size="12" onblur="dateOnBlur(this);" onfocus="dateOnFocus(this);"')
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('orderDateFrom.dateOfymdFormat'));">
                                        &nbsp;～&nbsp;
                                        #springFormInput("searchCondition.orderDateTo.dateOfymdFormat" 'class="SmallAnk noIME" maxLength="8" size="12" onblur="dateOnBlur(this);" onfocus="dateOnFocus(this);"')
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('orderDateTo.dateOfymdFormat'));">
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('PUR_REQ_DATE')<!--購入依頼日-->
                                    </td>
                                    <td class="FontSmallBold" align="left">
                                        #springFormInput("searchCondition.purReqDateFrom.dateOfymdFormat" 'class="SmallAnk noIME" maxLength="8" size="12" onblur="dateOnBlur(this);" onfocus="dateOnFocus(this);"')
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('purReqDateFrom.dateOfymdFormat'));">
                                        &nbsp;～&nbsp;
                                        #springFormInput("searchCondition.purReqDateTo.dateOfymdFormat" 'class="SmallAnk noIME" maxLength="8" size="12" onblur="dateOnBlur(this);" onfocus="dateOnFocus(this);"')
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('purReqDateTo.dateOfymdFormat'));">
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage("REQ_TYPE_IND")<!--依頼区分-->
                                    </td>
                                    <td nowrap align="left" class="FontSmall" colspan="3">
                                        #customFormRadioButtons("searchCondition.reqInd" $REQ_TYPE_IND "" "")
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('RCV_STATUS')<!--受入状況-->
                                    </td>
                                    <td nowrap align="left" class="FontSmall" colspan="3">
                                        #customFormCheckboxes("searchCondition.receiveStates.list" $RECIVE_IND "" "class='FontSmall'")
                                        <input type="hidden" name="_${status.expression}" value="on"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('ACCEPT_SITUATION')<!--検収状況-->
                                    </td>
                                    <td nowrap align="left" class="FontSmall" colspan="3">
                                        #customFormCheckboxes("searchCondition.acceptanceStates.list" $ACCEPTANCE_STATUS_IND "" "class='FontSmall'")
                                        <input type="hidden" name="_${status.expression}" value="on"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap class="FontComment" align="left" colspan="4">
                                        #customSpringMessage("PSHIS160_FOOTER_COMMENT")<!--＊:前方一致 / ％:中間一致 / なし:完全一致-->
                                    </td>
                                </tr>
                            </table>
                            <!--検索条件入力部-->
                        </td>
                        <td nowrap class="FontSmallBold" align="right" valign="top">
                            <br>
                            <input type="button" onclick="javascript:execSearch();" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')"><!--検索-->
                            <br>
                            <br>
                            <a href="javascript:clear();">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')<!--検索条件をクリアする--></a>&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id ="TR_ERROR" style="display:none;">
            <td class="error" style="height:0px;">
                <div id="ERRORDIV">$!errorMessage</div>
            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="height:auto;">
                <iframe id="DATAAREA" name="DATAAREA" class="DataArea" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no"></iframe>
            </td>
        </tr>
    </table>
    <iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</form>
</body>
</html>
