<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('HISTORY_DETAIL')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    TableSort.init();
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
}

//詳細
function openSubDetail(historySeq,historyDataInd,purReqNo) {
    // 都度購入依頼詳細
    if (historyDataInd == '01') {
        poppage('${flowExecutionUrl}&_eventId=PurRequest&&historySeq='+historySeq,'DETAIL','800','700');
    // 見積依頼詳細
    } else if (historyDataInd == '02') {
        poppage('${flowExecutionUrl}&_eventId=QuotRequest&&historySeq='+historySeq,'DETAIL','800','700');
    // 見積回答詳細
    } else if (historyDataInd == '03') {
        poppage('${flowExecutionUrl}&_eventId=QuotResponse&&historySeq='+historySeq,'DETAIL','800','700');
    // 注文詳細
    } else if (historyDataInd == '04') {
        poppage('${flowExecutionUrl}&_eventId=Order&&historySeq='+historySeq,'DETAIL','800','700');
    // 納期回答詳細
    } else if (historyDataInd == '06') {
        poppage('${flowExecutionUrl}&_eventId=DlvEstAnswer&&historySeq='+historySeq,'DETAIL','800','700');
     // 納期確認詳細
    } else if (historyDataInd == '07') {
        poppage('${flowExecutionUrl}&_eventId=DlvEstConfirm&&historySeq='+historySeq,'DETAIL','800','700');
    // 受入詳細
    } else if (historyDataInd == '09') {
        poppage('${flowExecutionUrl}&_eventId=Receive&&historySeq='+historySeq,'DETAIL','800','700');
    // 検査詳細
    } else if (historyDataInd == '10') {
        poppage('${flowExecutionUrl}&_eventId=Inspect&&historySeq='+historySeq,'DETAIL','800','700');
    // 検収詳細
    } else if (historyDataInd == '11') {
        poppage('${flowExecutionUrl}&_eventId=Acceptance&&historySeq='+historySeq,'DETAIL','800','700');
    // 見積取得依頼詳細
    } else if (historyDataInd == '12') {
        poppage('${flowExecutionUrl}&_eventId=QuotAcqRequest&&historySeq='+historySeq,'DETAIL','800','700');
    // カタログ購入依頼詳細
    } else if (historyDataInd == '20') {
        poppage('${flowExecutionUrl}&_eventId=PurRequestCatalog&&historySeq='+historySeq+'&&purReqNo='+purReqNo,'DETAIL','800','700');
    }
}

// 「取引先連携履歴を表示する 」状態の変更
function kindChange(bool) {
    if (bool == true) {
        iframeChange("${flowExecutionUrl}&_eventId=change","showSupIfHistory",'0');
    } else {
        iframeChange("${flowExecutionUrl}&_eventId=change","showSupIfHistory",'1');
    }
}

//-->
</script>

</head>
<body id="BODY" class="NoBorder" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
<form name="Body">
#customFormHiddenInput("isSearchByHistory" "true")
<div style="width:100%; overflow-x:scroll;">
<table id="TABLE" class="ListArea" width="100%">
    #if($!itemList.historySearchList.size() > 0)
    <thead>
        <tr id="Header">
            #foreach($!item in $!PSHIS152listPageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSHIS152listPageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSHIS152listPageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSHIS152listPageCreaterForList.printBRtag($!item)
                #else
                    $!PSHIS152listPageCreaterForList.printTHtagClose()
                    $!PSHIS152listPageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="V_HISTORY.PUR_REQ_NO")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SLIP_STATUS")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_TYPE_IND")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.CORRECT_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.PUR_REQ_DATE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_NO")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_DATE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.CHANGE_ORDER_DATE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.QUOT_REQ_NO")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.PUR_APL_NO")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.TITLE_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ITEM_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ITEM_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.KATASHIKI")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.MANUFACT_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.MANUFACT_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SUP_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SUP_ABBR_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.UNIT_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_VOL")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_VOL")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                <th class="BoxHeaderCenter FontSmall" id="receiveRemainingVol">
                    #customSpringMessage('RCV_REMAIN_AMOUNT') 
                </th>
                #elseif($!item.getColumnName()=="V_HISTORY.RECEIVED_VOL")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ACCEPT_VOL")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.DELIV_PLACE_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.DELIV_PLACE_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_DELIV_DATE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_DELIV_DATE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.CURRENCY_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_UNIT_PRICE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_UNIT_PRICE")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ACCEPT_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.TAX_IND")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.CONSUMPT_IND")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SUBJECT_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SUBJECT_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.LOAD_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.LOAD_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_USER_ID")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_USER_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_USER_ID")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_USER_NAME")
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #else
                    $!PSHIS152listPageCreaterForList.printHead($!item)
                #end
            #end
            $!PSHIS152listPageCreaterForList.printTHtagClose()
        </tr>
    </thead>
    #end
    <tbody>
    #foreach($!historySearchItem in $!itemList.historySearchList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            #foreach($!item in $!PSHIS152listPageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSHIS152listPageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSHIS152listPageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSHIS152listPageCreaterForList.printTDtagClose()
                    $!PSHIS152listPageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end
                #if($!item.getColumnName()=="V_HISTORY.PUR_REQ_NO")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                #elseif($!item.getColumnName()=="V_HISTORY.SLIP_STATUS")
                    $!PSHIS152listPageCreaterForList.printSpecial("s25_codeName",$!item,'SLIP_STATUS','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_TYPE_IND")
                    $!PSHIS152listPageCreaterForList.printSpecial("s25_codeName",$!item,'REQ_TYPE_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.CORRECT_CD")
                    $!PSHIS152listPageCreaterForList.printSpecial("s25_codeName",$!item,'CORRECT_CD','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.PUR_REQ_DATE")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_NO")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_DATE")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.CHANGE_ORDER_DATE")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.QUOT_REQ_NO")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                #elseif($!item.getColumnName()=="V_HISTORY.PUR_APL_NO")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                #elseif($!item.getColumnName()=="V_HISTORY.TITLE_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.ITEM_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.ITEM_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.KATASHIKI")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.MANUFACT_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.MANUFACT_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.SUP_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.SUP_ABBR_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.UNIT_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_VOL")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_VOL")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                <td class="BoxDetailCenter FontList">$!historySearchItem.receiveRemainingVol.volFormat</td>
                #elseif($!item.getColumnName()=="V_HISTORY.RECEIVED_VOL")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.ACCEPT_VOL")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.DELIV_PLACE_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.DELIV_PLACE_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_DELIV_DATE")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_DELIV_DATE")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.CURRENCY_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_UNIT_PRICE")
                    $!PSHIS152listPageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_UNIT_PRICE")
                    $!PSHIS152listPageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.ORDER_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.ACCEPT_AMOUNT")
                    $!PSHIS152listPageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_HISTORY.TAX_IND")
                    $!PSHIS152listPageCreaterForList.printSpecial("s25_codeName",$!item,'TAX_CD','',"_data_style",'class="FontStatus"')
                #elseif($!item.getColumnName()=="V_HISTORY.CONSUMPT_IND")
                    $!PSHIS152listPageCreaterForList.printSpecial("s25_codeName",$!item,'CONSUMPT_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.SUBJECT_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.SUBJECT_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.LOAD_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.LOAD_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_USER_ID")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.REQ_USER_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_SECTION_CD")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_SECTION_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_USER_ID")
                    $!PSHIS152listPageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_HISTORY.BUYER_USER_NAME")
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #else
                    $!PSHIS152listPageCreaterForList.printDefault($!item)
                #end
            #end
            $!PSHIS152listPageCreaterForList.printTDtagClose()
        </tr>
    #end
    </tbody>
</table>
</div>

<table class="ListArea" width="100%">
    <tr id="SEARCH_AREA" bgcolor="#EAEAEA">
        <td nowrap class="FontSmall" align="left">
            <input name="Kind" type="checkbox" #if($!searchCondition.showSupIfHistory == '0') checked #end onclick="kindChange(this.checked);">#customSpringMessage("SHOW_SUP_IF_HISTORY")<!-- 取引先連携履歴を表示する -->
        </td>
    </tr>
</table>
## +++++ 強化-01243-000 2013/05/24 ADD SBO_CHENCHENG START +++++
<div style="width:100%; overflow-x:scroll;">
## +++++ 強化-01243-000 2013/05/24 ADD SBO_CHENCHENG -END- +++++
#if($!historyDetail.historyDetail.size()!=0)
<table id="TABLE" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.<!-- No.--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.LAST_UPD_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.LAST_UPD_DATE')">#customSpringMessage("UPD_DATE")<!-- 更新日時--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.LAST_UPD_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.LAST_UPD_USER_ID')">#customSpringMessage("UPD_USER")<!-- 更新者--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.HISTORY_DATA_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.HISTORY_DATA_IND')">#customSpringMessage("INFO_TYPE")<!-- 情報種別--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.OPE_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.OPE_IND')">#customSpringMessage("OPE_IND")<!-- 処理区分--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.FUNCTION_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.FUNCTION_IND')">#customSpringMessage("HISTORY_ACTION_IND")<!-- 履歴処理区分--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.DELIV_KEY_NO" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.DELIV_KEY_NO')">#customSpringMessage("DELIV_KEY_NO")<!-- 納品キー番号--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.VOL" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.VOL')">#customSpringMessage("VOL")<!-- 数量--></th>
            ## 2013/01/21 ADD DAIKO_KANEKO START
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.UNIT_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.UNIT_NAME')">#customSpringMessage("UNIT") #* 単位名 *# </th>
            ## 2013/01/21 ADD DAIKO_KANEKO -END-
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.CURRENCY_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.CURRENCY_CD')">#customSpringMessage("CURRENCY_CD")<!-- 通貨コード--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.UNIT_PRICE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.UNIT_PRICE')">#customSpringMessage("UNIT_PRICE")<!-- 単価--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="T_HISTORY.AMOUNT" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_HISTORY.AMOUNT')">#customSpringMessage("AMOUNT")<!-- 金額--></th>
            <th id="SubHead_Sel" class="BoxHeaderCenter FontSmall">#customSpringMessage("SHOW")<!-- 表示--></th>
        </tr>
    </thead>
    <tbody>
    #set($No=0)
        #foreach($!historyDetailItem in $!historyDetail.historyDetail)
            #set( $No = $No + 1 )
        <tr id="Row_$velocityCount" name="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList" nowrap>$No</td>
            <td class="BoxDetailCenter FontList" nowrap>#out($!historyDetailItem.history.historyIdentify.lastUpdDateDisp)</td>
            <td class="BoxDetailLeft FontList" nowrap>#out($!historyDetailItem.updUserName)</td>
            <td class="BoxDetailCenter FontList" nowrap>#out($!historyDetailItem.historyDataIndName)</td>
            <td class="BoxDetailCenter FontList" nowrap>#out($!historyDetailItem.history.opeInd.opeInd)</td>
            <td class="BoxDetailLeft FontList" nowrap>#out($!historyDetailItem.history.functionInd.functionInd)</td>
            <td class="BoxDetailCenter FontSlipNo" nowrap>#out($!historyDetailItem.history.slipNo.delivKeyNo)</td>
            ## ----- 強化-01802-000 2013/06/14 DEL SBO_CHENCHENG START -----
            ##<td class="BoxDetailRight FontList2" nowrap>#out($!historyDetailItem.history.vol.vol)</td>
            ## ----- 強化-01802-000 2013/06/14 DEL SBO_CHENCHENG -END- -----
            ## +++++ 強化-01802-000 2013/06/14 ADD SBO_CHENCHENG START +++++
            <td class="BoxDetailRight FontList2" nowrap>#out($!historyDetailItem.history.vol.volFormat)</td>
            ## +++++ 強化-01802-000 2013/06/14 ADD SBO_CHENCHENG -END- +++++
            ## 2013/01/21 ADD DAIKO_KANEKO START
            <td class="BoxDetailCenter FontList" nowra>#out($!historyDetailItem.history.unit.unitName)</td> ## 単位名
            ## 2013/01/21 ADD DAIKO_KANEKO -END-
            <td class="BoxDetailCenter FontList" nowrap>#out($!historyDetailItem.history.currency.currencyCd)</td>
            <td class="BoxDetailRight FontCurrSmall" nowrap>

                #out($!historyDetailItem.history.currency.currencyMark)
                #out($!historyDetailItem.history.unitPrice.amount.amountFormat)
            </td>
            <td class="BoxDetailRight FontCurrSmall" nowrap>
                #out($!historyDetailItem.history.currency.currencyMark)
                #out($!historyDetailItem.history.amount.amountFormat)</td>
            <td id="SubDataSel_0" class="BoxDetailCenter" nowrap>
            #if($!historyDetailItem.history.dspInd.dspInd=="1")
                <input id="SubSelButton_$No" class="SmallButton" type="button" value="#customSpringMessage('DETAIL')" onclick="openSubDetail('#jsEscapeInHTML($!historyDetailItem.history.historyIdentify.historySeq)','#jsEscapeInHTML($!historyDetailItem.history.historyDataInd.historyDataInd)','#jsEscapeInHTML($!historyDetailItem.purReqNo)');">
            #end
            </td>
        </tr>
        #end
    </tbody>
</table>
#end
## +++++ 強化-01243-000 2013/05/24 ADD SBO_CHENCHENG START +++++
</div>
## +++++ 強化-01243-000 2013/05/24 ADD SBO_CHENCHENG -END- +++++
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;" width="100%">
    <tr>
        <td align="center"><br><br>
            <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage("SEARCH_MESSAGE")...</span><!-- 問い合わせ中... -->
        </td>
    </tr>
</table>
<input type="hidden" name="rowno">
</form>
</body>
</html>
