<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.options.budget.ajax.BudgetnoOnblurMapper">
    <sql id="whereCondition">
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
            AND T_RINGI_BUDGET.COMPANY_CD = #{companyCd}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceCd)">
            AND T_RINGI_BUDGET.SECTION_PLACE_CD = #{sectionPlaceCd}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetNo)">
            AND T_RINGI_BUDGET_DTL.BUDGET_NO = #{budgetNo}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetDtlNo)">
            AND T_RINGI_BUDGET_DTL.BUDGET_DTL_NO = #{budgetDtlNo}
        </if>
    </sql>
    
    <resultMap type="fw.domain.mst.ringi.ringibudgetdtl.BudgetnoPopupItem" 
        id="BudgetnoPopupItem_Map">
        <id column="COMPANY_CD" property="ringibudgetdtlIdentify.companyCd" />
        <id column="SECTION_PLACE_CD" property="ringibudgetdtlIdentify.sectionPlaceCd" />
        <id column="BUDGET_NO" property="ringibudgetdtlIdentify.budgetNo" />
        <id column="BUDGET_DTL_NO" property="ringibudgetdtlIdentify.budgetDtlNo" />
        <id column="LAST_UPD_DATE" property="ringibudgetdtlIdentify.lastUpdDate" />
        <id column="BUDGET_NAME" property="budgetName" />
        <id column="END_DATE" property="endDate" />
    </resultMap>
    <select id="getBudgetnoInfoOnblur" resultMap="BudgetnoPopupItem_Map">
        SELECT
              T_RINGI_BUDGET_DTL.COMPANY_CD 
            , T_RINGI_BUDGET_DTL.SECTION_PLACE_CD 
            , T_RINGI_BUDGET_DTL.BUDGET_NO 
            , T_RINGI_BUDGET_DTL.BUDGET_DTL_NO 
            , T_RINGI_BUDGET_DTL.LAST_UPD_DATE 
            , T_RINGI_BUDGET_DTL.BUDGET_NAME 
            , T_RINGI_BUDGET.END_DATE 
        FROM
            T_RINGI_BUDGET_DTL 
        INNER JOIN T_RINGI_BUDGET 
            ON T_RINGI_BUDGET.COMPANY_CD = T_RINGI_BUDGET_DTL.COMPANY_CD 
            AND T_RINGI_BUDGET.SECTION_PLACE_CD = T_RINGI_BUDGET_DTL.SECTION_PLACE_CD 
            AND T_RINGI_BUDGET.BUDGET_NO = T_RINGI_BUDGET_DTL.BUDGET_NO
        <where>
            <include refid="whereCondition"/>
        </where>
    </select>
</mapper>