<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_SECTION')</title><!--部門マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($commonTitle = "#customSpringMessage('SCREEN_M_SECTION_LIST')")
#set($authNoFlag=$LoginUser.hasAuth(${AuthNoConstant.getValue("MASTER_SECTION_UPDATE_GRANT")}))
#set($uploadFileFlag=$LoginUser.hasAuth(${AuthNoConstant.getValue("MASTER_SECTION_UPDATE_GRANT")}))
var pinName="MstSection_Pin";
var newPageId="sectionInsert";

#parse("./common/common_js.vm")

function onLoad(){
    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var sectionPlaceName = "#jsEscape($!sectionPlaceName)";
    if (sectionPlaceName != ""){
        getObj('sectionPlaceName').value = sectionPlaceName;
    }
    var upperSectionName = "#jsEscape($!upperSectionName)";
    if (upperSectionName != ""){
        getObj('upperSectionName').value = upperSectionName;
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        setErrorMessage("ERRORDIV", errorMsg, "DATAAREA");
        return;
    }
    
    var isShowInfo = "#jsEscape($isShowInfo)";
    if (isShowInfo == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=showUploadResult");
        return;
    } else if (isShowInfo == 'false') {
        buttonUsable();
        #set( $mSection = "#customSpringMessage('M_SECTION')" )
        alert("#customMessageArgs('I005',[$mSection])");
        return;
    }
    
    var isDownload = "#jsEscape($!isDownLoadValidate)";
    if (isDownload == 'true') {
        iframeChange("${flowExecutionUrl}&_eventId=download","pageid","sectionList","HIDDENAREA");
    } else {
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search","pageid","sectionList");
        }
    }

}
function execSearch() {
    buttonDisable();
    getObj("BodyForm").target="_self";
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}

function doDownload() {
    //メッセージは空設定
    getObj("TR_ERROR").style.display = "none";
    getObj("ERRORDIV").innerHTML="";
    getObj("BodyForm").target = "HIDDENAREA";
    buttonDisable();
    setTimeout(buttonUsable,1000);
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=downloadValidate";

    getObj("BodyForm").submit();
}

//-->

//事業所
function sectionPlaceOnchange(){
    getObj("sectionPlaceName").value= "";
}

//上位部門
function upperSectionOnchange(){
    getObj("upperSectionName").value= "";
}

function doUpload() {
    if(getObj('file').value!=""){
        #set( $mSection = "#customSpringMessage('M_SECTION')" )
        #set( $mUpload = "#customSpringMessage('ACTION_UPLOAD')" )
        if( !confirm('#customMessageArgs("W001",[$mSection,$mUpload])'))  {
           return;
        }
        buttonDisable();
        getObj("BodyForm").target="_self";
        getObj('BodyForm').action = "${flowExecutionUrl}&_eventId=upload";
        getObj("BodyForm").submit();
    }else{
        #set( $mUploadFile = "#customSpringMessage('UPLOAD_FILE')" )
        document.getElementById("TR_ERROR").style.display = "";
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = "";
        document.getElementById("ERRORDIV").innerHTML="#customMessageArgs('E002',[$mUploadFile])";
    }
}

</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" style="height:100%;overflow-y:hidden;" onload="onLoad();">
<form id="BodyForm" name="Body" action="${flowExecutionUrl}&_eventId=validate" method="post" enctype="multipart/form-data"><!-- target="DATAAREA" -->
    <!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
	<iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    #customFormHiddenInput("searchCondition.termFlg.hidden" "$!defaultSearchCondition.searchCondition.termFlg")
    #customFormHiddenInput("searchCondition.page.pageRecorders.hidden" "$!defaultSearchCondition.searchCondition.page.pageRecorders")
    #customFormHiddenInput("pageid" "sectionList")
    #customFormHiddenInput("companyCd.hidden" "$!defaultSearchCondition.companyCd")
    #customFormHiddenInput("validStartDateTo.dateOfymd.hidden" "$!defaultSearchCondition.validStartDateTo.dateOfymd")
    #customFormHiddenInput("validEndDateFrom.dateOfymd.hidden" "$!defaultSearchCondition.validEndDateFrom.dateOfymd")
    <table class="NoBorder" style="width:100%;height:100%;z-index:0;">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea" style="height:0px;border-bottom:1px solid #999999;text-align:left;vertical-align:top;"><!-- onLoadで変更 -->
                #parse("./common/common_title.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust" >
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                ## 2013.03.21 ADD DAIKO_WANG
                                <tr><td align="left" colspan="4" nowrap>#customSpringMessage('PSMST110_HEADER_COMMENT')</td></tr>
                                <tr>
                                    <td >
                                        <table class="NoBorder" width="100%">
                                        
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('COMPANY_NAME')<span class="FontWarn">&nbsp;※</span></td><!--会社名-->
                                                <td nowrap class="FontSmallBold" align="left" COLSPAN="2">
                                                  #customFormSingleSelect("searchCondition.companyCd" $companyList "class='Small'")
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SECTION_CD')<span class="FontComment">＊</span><!--部門コード--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.sectionCd" "class='Middle noIME' maxlength='12' type='text' size='20'")
                                                </td>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SECTION_NAME')<span class="FontComment">％</span><!--部門名--></td>
                                               <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.sectionName" "class='Middle onIME' maxlength='30' size='55'")
                                               </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SECTION_PLACE')<!-- 事業所--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.sectionPlaceCd" "class='Middle noIME' type='text' maxlength='12'size='17'
                                                    onchange='javascript:sectionPlaceOnchange();'  onfocus='this.select();if(nowWarning==this) { closeWarningBox();}'")
                                                    #springFormInput("searchCondition.sectionPlaceName" "class='MiddleDsp' type='text' readonly tabIndex='-1' size='33'")
                                                    ## ----- 強化-00831-000 2013/04/13 DEL SBO_pangzhen START -----
                                                    ## <img class="Icon" name="ItemSearch" src="../../image/btnLupe.gif" onclick="sectionPlacePopup.setParam('0',getObj('companyCd').value,'1');sectionPlacePopup.setObject(getObj('sectionPlaceCd'),getObj('sectionPlaceName'),getObj('companyCd'));masterSearch('../../src/sectionPlacePopup/search?pageid=sectionPlacePopupSearch','SectionSearch','700','500');">
                                                    ## ----- 強化-00831-000 2013/04/13 DEL SBO_pangzhen -END- -----
                                                    ## +++++ 強化-00831-000 2013/04/13 ADD SBO_pangzhen START +++++
                                                    <img class="Icon" name="ItemSearch" src="../../image/btnLupe.gif" onclick="sectionPlacePopup.setParam('1',getObj('companyCd').value,'1','1');sectionPlacePopup.setObject(getObj('sectionPlaceCd'),getObj('sectionPlaceName'),getObj('companyCd'));masterSearch('../../src/sectionPlacePopup/search?pageid=sectionPlacePopupSearch','SectionSearch','700','500');">
                                                    ## +++++ 強化-00831-000 2013/04/13 ADD SBO_pangzhen -END- +++++
                                                </td>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('UPPER_SECTION')<!-- 上位部門--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.upperSectionCd" "class='Middle noIME' maxlength='12' size='17' onchange='javascript:upperSectionOnchange();'  onfocus='this.select();if(nowWarning==this) { closeWarningBox();}'")
                                                    #springFormInput("searchCondition.upperSectionName" " class='MiddleDsp' type='text' readonly tabIndex='-1' size='33'")
                                                    <img class="Icon" name="ItemSearch" src="../../image/btnLupe.gif" onclick="sectionPopup.setParam('1',getObj('companyCd').value,'1','','1');sectionPopup.setObject(getObj('upperSectionCd'),getObj('upperSectionName'),getObj('companyCd'));masterSearch('../../src/sectionPopup/search?pageid=sectionPopupSearch&popupPageid=PSMST110','SectionSearch','700','500');">
                                                </td>
                                            </tr>
                                             <tr></tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('VALID_START_DATE')<!--有効期間(開始)--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.validStartDateFrom.dateOfymdFormat" "maxLength=10 size=12 class='MiddleAnk noIME' 
                                                        onblur='dateOnBlur(this);' 
                                                        onfocus='dateOnFocus(this);' ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('validStartDateFrom.dateOfymdFormat'));">
                                                    <span class="FontSmall">～</span>
                                                    #springFormInput("searchCondition.validStartDateTo.dateOfymdFormat" "maxLength=10 size=12  class='MiddleAnk noIME' 
                                                        onblur='dateOnBlur(this);' 
                                                        onfocus='dateOnFocus(this);' ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('validStartDateTo.dateOfymdFormat'));">
                                                </td>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('VALID_END_DATE')<!--有効期間(終了)--></td>
                                                <td nowrap class="FontSmallBold" align="left">
                                                  #springFormInput("searchCondition.validEndDateFrom.dateOfymdFormat" "maxLength=10 size=12  class='MiddleAnk noIME' 
                                                        onblur='dateOnBlur(this);' 
                                                        onfocus='dateOnFocus(this);'") 
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('validEndDateFrom.dateOfymdFormat'));">
                                                    <span class="FontSmall">～</span>
                                                    #springFormInput("searchCondition.validEndDateTo.dateOfymdFormat" "maxLength=10 size=12  class='MiddleAnk noIME' 
                                                        onblur='dateOnBlur(this);' 
                                                        onfocus='dateOnFocus(this);'")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('validEndDateTo.dateOfymdFormat'));">
                                                </td>
                                            </tr>
                                           
                                            <tr><td nowrap class="FontSmallBold" align="right"></td>
                                                <td nowrap class="FontSmallBold" align="left"  COLSPAN="2">
                                                  #customFormRadioButtons("searchCondition.searchCondition.termFlg" $termFlagList "" "")
                                                </td>
                                            </tr>
                                        </table>
                                    </td> 
                                    <td nowrap class="FontSmallBold" align="right">
                                        #customSpringMessage('DISPLAY_COUNT')<!-- 表示件数 -->&nbsp;
                                        #customFormRadioButtons("searchCondition.searchCondition.page.pageRecorders" $pageRecordersList "" "")
                                        <br>
                                        <input type="button"  class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')" onclick="javascript:execSearch();"><!-- 検索 -->
                                        <br>
                                        <br>
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY START
                                        <a href="javascript:clear();">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')<!-- 検索条件をクリアする --></a>
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY -END-
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="4" nowrap class="FontComment">
                                        #customSpringMessage('PSMST110_FOOTER_COMMENT')</td>
                                    <td class="FontSmallBold"></td>
                                </tr>
                            </table>
                            <!-- 検索条件入力部 -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="UPLOAD_AREA" class="NoBorder" style="background-color:#eaeaea;height:35px;border-bottom:1px solid #999999;text-align:left;vertical-align:top;">
                 #parse("./common/common_upload_download.vm")
            </td>
        </tr>
        <tr id ="TR_ERROR" style="display:none;">
            <td class="error" style="height:0px;">
                 <div id="ERRORDIV">$!errorMessage </div>
            </td>
        </tr>
        <tr><td class="NoBorder" style="height:auto;">
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
            </td>
        </tr>
    </table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</form>
</body>
</html>
