<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.src.sectionpopup.SectionPopupMapper">

    <sql id="listKeyIdentityWhereCondition">
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
            AND M_SECTION.COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionCd)">
            AND M_SECTION.SECTION_CD ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.organization.section.SectionPopupSearchCondition","sectionCd")}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionName)">
            AND M_SECTION_LANG.SECTION_NAME ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.organization.section.SectionPopupSearchCondition","sectionName")}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceCd)">
            AND M_SECTION.SECTION_PLACE_CD ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.organization.section.SectionPopupSearchCondition","sectionPlaceCd")}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceName)">
            AND M_SECTION_PLACE_LANG.SECTION_PLACE_NAME ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.organization.section.SectionPopupSearchCondition","sectionPlaceName")}
        </if>
        <if test="searchCondition.termFlg==0">
            AND M_SECTION.TERM_FLG = #{searchCondition.termFlg, jdbcType=VARCHAR}
            AND M_SECTION_PLACE.TERM_FLG = #{searchCondition.termFlg, jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isEmpty(validDateFlg)">
            AND '${@fw.common.util.AppUtil@getSysDate(@fw.common.util.AppUtil@DATE_SHORT)}' BETWEEN M_SECTION.VALID_START_DATE AND M_SECTION.VALID_END_DATE
            AND '${@fw.common.util.AppUtil@getSysDate(@fw.common.util.AppUtil@DATE_SHORT)}' BETWEEN M_SECTION_PLACE.VALID_START_DATE AND M_SECTION_PLACE.VALID_END_DATE
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(loadSectionFlg)">
            AND M_SECTION.PLANNED_SECTION_FLG='1'
        </if>
    </sql>

    <select id="listKeyIdentity" parameterType ="fw.domain.mst.organization.section.SectionPopupSearchCondition" resultType="fw.domain.mst.organization.section.SectionPopupSearchCondition">
    WITH V_SECTION AS
 (SELECT M_SECTION.COMPANY_CD AS "companyCd"
       , M_SECTION.SECTION_CD AS "sectionCd"
       , ROW_NUMBER() OVER (PARTITION BY M_SECTION.COMPANY_CD, M_SECTION.SECTION_CD ORDER BY M_SECTION.VALID_START_DATE DESC) AS NO
    FROM M_SECTION
   INNER JOIN
        (SELECT M_COMPANY.COMPANY_CD
              , COMPANY_USE_LANGUAGE_IND
           FROM M_COMPANY
          INNER JOIN M_COMPANY_LANG
             ON M_COMPANY.COMPANY_CD = M_COMPANY_LANG.COMPANY_CD
            AND M_COMPANY.COMPANY_USE_LANGUAGE_IND = M_COMPANY_LANG.LANGUAGE_IND
           <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
            AND M_COMPANY.COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
           </if>
        ) M_COMPAN
      ON M_SECTION.COMPANY_CD=M_COMPAN.COMPANY_CD
   INNER JOIN M_SECTION_LANG
      ON M_SECTION.SECTION_CD = M_SECTION_LANG.SECTION_CD
     AND M_SECTION.COMPANY_CD = M_SECTION_LANG.COMPANY_CD
     AND M_SECTION.VALID_START_DATE = M_SECTION_LANG.VALID_START_DATE
     AND M_SECTION.VALID_END_DATE = M_SECTION_LANG.VALID_END_DATE
     AND M_SECTION_LANG.LANGUAGE_IND=M_COMPAN.COMPANY_USE_LANGUAGE_IND
    LEFT JOIN M_SECTION_PLACE
      ON M_SECTION_PLACE.SECTION_PLACE_CD = M_SECTION.SECTION_PLACE_CD
     AND M_SECTION_PLACE.COMPANY_CD = M_SECTION.COMPANY_CD
    LEFT JOIN M_SECTION_PLACE_LANG
      ON M_SECTION_PLACE_LANG.SECTION_PLACE_CD = M_SECTION_PLACE.SECTION_PLACE_CD
     AND M_SECTION_PLACE_LANG.COMPANY_CD = M_SECTION_PLACE.COMPANY_CD
     AND M_SECTION_PLACE_LANG.LANGUAGE_IND=M_COMPAN.COMPANY_USE_LANGUAGE_IND
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
ORDER BY ${searchCondition.columnOrder.columnOrder()}
 )SELECT * FROM V_SECTION WHERE V_SECTION.NO = 1
    </select>

    <select id="listPageItem" parameterType ="fw.domain.mst.searchcondition.SearchCondition" resultType="fw.domain.mst.organization.section.SectionPopupItem">
    WITH V_SECTION AS
 (SELECT M_SECTION.COMPANY_CD AS "sectionIdentify.companyCd"
       , M_SECTION.SECTION_CD AS "sectionIdentify.sectionCd"
       , M_COMPANY_LANG.COMPANY_NAME AS "companyName"
       , M_SECTION_LANG.SECTION_NAME AS "sectionName"
       , M_SECTION.SECTION_PLACE_CD AS "sectionPlaceCd"
       , M_SECTION_PLACE_LANG.SECTION_PLACE_NAME AS "sectionPlaceName"
       , ROW_NUMBER() OVER (PARTITION BY M_SECTION.COMPANY_CD, M_SECTION.SECTION_CD ORDER BY M_SECTION.VALID_START_DATE DESC) AS NO
    FROM M_SECTION
   INNER JOIN M_COMPANY
      ON M_SECTION.COMPANY_CD = M_COMPANY.COMPANY_CD
   INNER JOIN M_COMPANY_LANG
      ON M_COMPANY.COMPANY_CD = M_COMPANY_LANG.COMPANY_CD
     AND M_COMPANY.COMPANY_USE_LANGUAGE_IND = M_COMPANY_LANG.LANGUAGE_IND
    LEFT JOIN M_SECTION_LANG
      ON M_SECTION.COMPANY_CD=M_SECTION_LANG.COMPANY_CD
     AND M_SECTION.SECTION_CD=M_SECTION_LANG.SECTION_CD
     AND M_SECTION.VALID_START_DATE = M_SECTION_LANG.VALID_START_DATE
     AND M_SECTION.VALID_END_DATE = M_SECTION_LANG.VALID_END_DATE
     AND M_SECTION_LANG.LANGUAGE_IND=M_COMPANY.COMPANY_USE_LANGUAGE_IND
    LEFT JOIN M_SECTION_PLACE
      ON M_SECTION_PLACE.SECTION_PLACE_CD = M_SECTION.SECTION_PLACE_CD
     AND M_SECTION_PLACE.COMPANY_CD = M_SECTION.COMPANY_CD
    LEFT JOIN M_SECTION_PLACE_LANG
      ON M_SECTION_PLACE_LANG.SECTION_PLACE_CD = M_SECTION_PLACE.SECTION_PLACE_CD
     AND M_SECTION_PLACE_LANG.COMPANY_CD = M_SECTION_PLACE.COMPANY_CD
     AND M_SECTION_PLACE_LANG.LANGUAGE_IND=M_COMPANY.COMPANY_USE_LANGUAGE_IND
        <where>
            (M_SECTION.SECTION_CD,M_SECTION.COMPANY_CD) IN
                <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">
                    (#{keyList.sectionCd},#{keyList.companyCd})
                </foreach>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
ORDER BY ${searchCondition.columnOrder.columnOrder()}
 )SELECT * FROM V_SECTION WHERE V_SECTION.NO = 1
    </select>

   <select id="lostFocusSearch" parameterType ="fw.domain.mst.searchcondition.SearchCondition"
            resultType="String">
        SELECT
            M_SECTION_LANG.SECTION_NAME
        FROM M_SECTION
        INNER JOIN M_COMPANY
            ON M_SECTION.COMPANY_CD=M_COMPANY.COMPANY_CD
            AND M_COMPANY.COMPANY_USE_LANGUAGE_IND = '${@fw.security.SecurityUtil@getCompanyUseLanguageIndByEscapeSql()}'
        LEFT JOIN M_SECTION_LANG
            ON M_SECTION.COMPANY_CD=M_SECTION_LANG.COMPANY_CD
            AND M_SECTION.SECTION_CD=M_SECTION_LANG.SECTION_CD
            AND M_SECTION.VALID_START_DATE = M_SECTION_LANG.VALID_START_DATE
            AND M_SECTION.VALID_END_DATE = M_SECTION_LANG.VALID_END_DATE
            AND M_SECTION_LANG.LANGUAGE_IND =  M_COMPANY.COMPANY_USE_LANGUAGE_IND
        WHERE
             M_SECTION.COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
             AND M_SECTION.SECTION_CD = #{sectionCd, jdbcType=VARCHAR}
             AND M_SECTION.TERM_FLG = #{searchCondition.termFlg, jdbcType=VARCHAR}
             AND '${@fw.common.util.AppUtil@getSysDate(@fw.common.util.AppUtil@DATE_SHORT)}' BETWEEN M_SECTION.VALID_START_DATE AND M_SECTION.VALID_END_DATE
   </select>

</mapper>