<!doctype html>
<html lang="ja" style="height:99%;">
<head>
#if("ALL" == "$!searchCondition.status")
    #set($commonTitle = "#customSpringMessage('PAY_CLAIM_LIST')")
#else
    #set($commonTitle = "#customSpringMessage('PAY_CLAIM_LIST')(#out($!searchCondition.status_PageValue))")
#end
<title>#out($commonTitle)</title>## 支払請求一覧
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
#set($listViewStateID='PSPAY041')
<!--
var pinName="";
#parse("./common/common_js.vm")

#set($listViewStateID='PSPAY041')
    
var maxSearchHeight = 160;
var minSearchHeight = 30;

function onLoad(){
    getObj("issueVousher").focus();

    var alertMessage = "$!alertMessage";
    ##-----強化-01681-000 DEL 20130528 SBOQD_jiang START -----
    #*if( getCookie("ReqViewSlip_Pin")=="1" ) {
        setDisplay("PIN0",false);
        setDisplay("PIN1",true);
    } else {
        setDisplay("PIN0",true);
        setDisplay("PIN1",false);
    }
    if (alertMessage != ""){
        alert(alertMessage);
    }*#
    ##-----強化-01681-000 DEL 20130528 SBOQD_jiang END -----
    seachHrefDisplay();
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen START -----
        ## document.getElementById("DATAAREA").src="";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen -END- -----
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen START +++++
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = ""; 
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen -END- +++++
        return;
    }
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search");
        }else { 
             execSearch();
        }
}

function execSearch(){
    getObj("BodyForm").action="${flowExecutionUrl}&_eventId=quickLinkSearch";
    getObj("BodyForm").submit();
}

function seachHrefDisplay(){
    document.getElementById("SWITCH1").style.display= "none";
    document.getElementById("SWITCH2").style.display ="none";
}

function pin(prm) {
    setCookie("ReqViewSlip_Pin",prm);
    if( prm=="1" ) {
        setDisplay("PIN0",false);
        setDisplay("PIN1",true);
    } else {
        setDisplay("PIN0",true);
        setDisplay("PIN1",false);
    }
}
//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" style="height:100%;" onload="onLoad();" style="overflow-y:hidden;">
<form id="BodyForm" name="Body" action="" method="post"><!-- target="DATAAREA" -->
    <table class="NoBorder" style="width:100%;height:100%;z-index:0;">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea" style="height:0px;border-bottom:1px solid #999999;text-align:left;vertical-align:top;"><!-- onLoadで変更 -->
                #parse("./common/common_title_tran_with_personal_setting_listonly.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                    </tr>
                    </table>
            </td>
        </tr>
        
        <tr><td class="UploadArea">
        <table class="NoBorder" width="100%" style="margin:auto;">
            <tr>
            <td align="left">
                <table width="100%">
                    <tr>
                        <td align="left" class="FontSmallBold">
                            &nbsp;&nbsp;#customSpringMessage('ISSUE_VOUSHER_NAME')<!--起票者名-->：
                            #customFormSingleSelect("searchCondition.issueVousher" $issueVousherList "class='Small' onchange='execSearch();'")
                        </td>
                        <td align="right">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
        </td></tr>
        <tr id ="TR_ERROR" style="display:none;"><td class="error" style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr><td class="NoBorder" style="height:auto;">
            <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
        </td></tr>
    </table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</form>
</body>
</html>