<!doctype html>
<html LANG="ja">
<head>
<title>#springMessage('PAY_CLAIM_DTL')</title><!-- 支払請求詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" TYPE="text/javascript">
#set($detailViewStateID='PSPAY050')
#parse("./common/common_js.vm")
//添付ファイル
function downloadFile(seqNo) {
    iframeChange("${flowExecutionUrl}&_eventId=download",'seqNo',seqNo);
}
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body>
<table class="DetailSheet" width="100%" height="100%" align="left">
    <tr>
        <td>
           <table width="100%">
               <tr>
                   <td align="right">
                       <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=19','PersonalSettingsDetail','500','500');">
                   </td>
               </tr>
                <tr><td align="left">#customSpringMessage('PSPAY050_HEADER_COMMENT')</td></tr>
           </table>
           <table class="Box1G" width="100%" valign="center">
                $!PSPAY050PageCreaterForDetail.build('_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1HApp FontBoxHeader"')
                    #foreach($!item in $!PSPAY050PageCreaterForDetail.getItemListForBody())
                        #if($!item.getColumnName()=="T_P_PAY.PAY_NO")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item,"_td_style_right",'class="Box1D FontSlipNo"','_item_style','id="ReqNo" class="FontSlipNo"')

                        #elseif($!item.getColumnName()=="T_P_PAY.PAY_STATUS")
                         $!PSPAY050PageCreaterForDetail.printSpecial('s35_showPayStatus',$!item,"_screenKind",'detail')

                        #elseif($!item.getColumnName()=="T_P_PAY.REQ_DATE")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.TITLE_NAME")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.INPUT_USER_ID")
                            $!PSPAY050PageCreaterForDetail.printSpecial("ISSUE_VOUSHER","m15_showUser",$!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_ID")
                            $!PSPAY050PageCreaterForDetail.printSpecial("CLIENT","m15_showUser",$!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.PAY_CONDITION_NAME")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.SUP_CD")
                            $!PSPAY050PageCreaterForDetail.printSpecial("SUPPLIER","m18_showSupplier",$!item,'_subconInd',$!domain.payReqDetail.supplierFrom.subcon.subconInd,'_subconIndValue',$!domain.payReqDetail.supplierFrom.subcon.subconInd_PageValue)
                        #elseif($!item.getColumnName()=="T_P_PAY.BANK_NAME")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.BRANCH_NAME")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.ACCOUNT_TYPE")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.ACCOUNT_NO")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.ACCOUNT_NAME")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.PS_BILL_NO")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.PS_BILL_DATE")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.CURRENCY_CD")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.TOTAL_AMOUNT_IN_TAX")
                          $!PSPAY050PageCreaterForDetail.printSpecial('s49_claimAmountPerTax', $!item
                              , '_currency_mark_style', 'class="FontCurrSmall CurrencyMark"'
                              , '_amount_style', 'class="FontCurrSmall"'
                              , '_taxCdTaxName', $!taxCdTaxName
                              , '_taxCdReducedTaxName', $!taxCdReducedTaxName
                              , '_taxCdNonTaxName', $!taxCdNonTaxName
                              , '_taxCdTaxExemptionName', $!taxCdTaxExemptionName
                              , '_taxCdUnTaxName', $!taxCdUnTaxName
                          )
                        #elseif($!item.getColumnName() == "T_P_PAY.ATTACH_FILE_SEQ1")
                            $!PSPAY050PageCreaterForDetail.printSpecial('s14_showFile3', $!item, '_event','onclick = "downloadFile(id);"','_event2','onclick = "downloadFile(id);"','_event3','onclick = "downloadFile(id);"')
                        #elseif($!item.getColumnName() == "T_P_PAY.FOR_BOSS_COMMENT")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName() == "T_P_PAY.FOR_ACC_COMMENT")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #elseif($!item.getColumnName()=="T_P_PAY.ACC_USER_ID")
                            $!PSPAY050PageCreaterForDetail.printSpecial("ACC_USER","m15_showUser",$!item,'_td_style_left','class="Box1HApp FontBoxHeader"','_td_style_right','class="Box1D FontSmall"')
                        #elseif($!item.getColumnName() == "T_P_PAY.REQ_APP_ROUTE_NO")

                            $!PSPAY050PageCreaterForDetail.printSpecial("s15_appHistory",$!item,'_application',$!domain.payReqDetail.payClaimApproute,'_appManagement',$!domain.payReqDetail.payClaimAppManagement, '_name_element_cd', 'PAY_CLAIM_APP')

                        #elseif($!item.getColumnName() == "T_P_PAY.ACC_APP_ROUTE_NO")
                            #if($!domain.payReqDetail.accAppInfoDisp)
                                $!PSPAY050PageCreaterForDetail.printSpecial("s15_appHistory",$!item,'_application',$!domain.payReqDetail.payCheckApproute,'_appManagement',$!domain.payReqDetail.payCheckAppManagement, '_name_element_cd', 'PAY_CHECK_APP')

                            #end
                        #elseif($!item.getColumnName() == "T_APPROVAL.BACK_APP_COMMENTS")
                            $!PSPAY050PageCreaterForDetail.printSpecial('s36_showPayAppBackComment',$!item)
                        #elseif($!item.getColumnName() == "T_P_PAY.ACC_BACK_USER_COMMENTS")
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #else
                            $!PSPAY050PageCreaterForDetail.printDefault($!item)
                        #end
                   #end
                      </table>
                       #if($!domain.itemList.itemList.size()>0)
                       <table width="100%">
                           <tr>
                               <td align="right">
                                   <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=20','PersonalSettingsDetail','500','500');">
                               </td>
                           </tr>
                       </table>
                       #end
                       <table id="DetailTable" class="Box1G" width="100%">
                            $!PSPAY050PageCreaterForDetail.build('_td_style_left', 'class="Box1Hd FontBoxHeader" width="15%"','_td_style_right', 'class="Box1Dd FontSmall"')
                            $!PSPAY050PageCreaterForDetail.buildDetail('index')
                            #set( $index = 0 )
                            #foreach($!item in $!domain.itemList.itemList)
                              #set($listCount=$!PSPAY050PageCreaterForDetail.getItemListForDetail($velocityCount).size())
                                <tbody id="Detail$velocityCount" class="Box1H ListBorderWidth">
                                  #foreach($!item in $!PSPAY050PageCreaterForDetail.getItemListForDetail($velocityCount))
                                      #if(($velocityCount+1) == $listCount)
                                        #set($td_style_left="class='Box1Hdt FontBoxHeader' width='15%'")
                                        #set($td_style_right="class='Box1Ddt FontSmall'")
                                      #else
                                        #set($td_style_left="class='Box1Hd FontBoxHeader' width='15%'")
                                        #set($td_style_right="class='Box1Dd FontSmall'")
                                     #end
                                    #if($!item.getColumnName()=="T_P_PAY_DTL.DETAIL_SUBJECT")
                                          $!PSPAY050PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.PS_APPLY")
                                         $!PSPAY050PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.LOAD_SECTION_CD")
                                        $!PSPAY050PageCreaterForDetail.printSpecial("m16_showSection", $!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.SUBJECT_CD")
                                        $!PSPAY050PageCreaterForDetail.printSpecial("m19_showSubject", $!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.BUDGET_NO")
                                         $!PSPAY050PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.TAX_IND")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s00_label', $!item, '_page_value', true,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.CONSUMPT_IND")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s00_label', $!item, '_page_value', true,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.UNIT_PRICE")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.PAY_VOL")
                                         $!PSPAY050PageCreaterForDetail.printSpecial("s16_showVol",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.CLAIM_PRICE")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.CONSUMPT_AMOUNT")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.CLAIM_TOTAL_AMOUNT")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.DETAIL_BODY")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #elseif($!item.getColumnName()=="T_P_PAY_DTL.CLAIM_TOTAL_AMOUNT")
                                         $!PSPAY050PageCreaterForDetail.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #else
                                         $!PSPAY050PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                    #end
                                #end
                                </tbody>
                            #end
                        </table>
                    </td>
                </tr>
                <tr><td align="left">#customSpringMessage('PSPAY050_FOOTER_COMMENT')</td></tr>
            </table>
    </body>
</html>
