<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('QUOT_ACQ_REQ_DETAIL')</title><!--見積取得依頼詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" TYPE="text/javascript">
#set($detailViewStateID='PSREQ040')
## 2013/06/10 DEL DAIKO_KANEKO
## #parse("./common/common_js.vm")
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM START
var title = top.document.title;
#parse("./common/common_js.vm")
top.document.title = title;
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM -END-
<!--
//添付ファイル
function downloadFile(seqNo) {
    iframeChange("${flowExecutionUrl}&_eventId=download",'seqNo',seqNo);
}
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body>
    <table class="DetailSheet" width="100%" height="100%" align="left">
        <tr>
    		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
    		#if("$whereFromFlag" == "history")
    			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
    		#else
				<td >
			#end
			## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
			## ＩＴ３-00148-000 2013.06.18 DEL SBO_WANGXM
			##<td>

                <table id="InnerTabBody_5" width="98%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    ## 2013.03.21 ADD DAIKO_WANG
                                    <td>#customSpringMessage('PSREQ040_HEADER_COMMENT')</td>
                                    <td align="right">
                                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=1','PersonalSettingsDetail','500','500');">
                                    </td>
                                </tr>
                            </table>
                            <table class="Box1G" width="100%" valign="center">
                                $!PSREQ040PageCreaterForDetail.build('_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1HApp FontBoxHeader"')
                                #foreach($!item in $!PSREQ040PageCreaterForDetail.getItemListForBody())
                                    #if($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_NO")
                                        $!PSREQ040PageCreaterForDetail.printSpecial("s17_showNoWithUrgent",$!item,"_td_style_right",'class="Box1D FontSlipNo"','_item_style','id="ReqNo" class="FontSlipNo"')
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_STATUS")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item,"_td_style_right",'class="Box1D FontSmall"','_item_style','class="FontStatus"')
                                    #elseif($!item.getColumnName()=="T_APPROVAL.BACK_APP_COMMENTS")
                                        #if("$!domain.appManagement.backApp.backAppReason.backReason.comment" != "")
                                            $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                        #end
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_DATE")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.TITLE_NAME")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.INPUT_USER_ID")
                                        #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                        $!PSREQ040PageCreaterForDetail.printSpecial("ISSUE_VOUSHER","m15_showUser",$!item)
                                        *#
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                        $!PSREQ040PageCreaterForDetail.printSpecial("m15_showUser",$!item)
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_USER_ID")
                                        $!PSREQ040PageCreaterForDetail.printSpecial("CLIENT","m15_showUser",$!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.DELIV_PLACE_CD")
                                        $!PSREQ040PageCreaterForDetail.printSpecial("DELIVERY_PLACE","m17_showDelivery",$!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_CD")
                                     ## +++++ 強化-01689-000 2013/05/29 ADD SBO_wangzf START +++++
                                        $!PSREQ040PageCreaterForDetail.printSpecial("HOPE_SUPPLIER","m18_showSupplier",$!item,'_subconInd',$!domain.hopeSupplier.hopeSupplier.subcon.subconInd,'_subconIndValue',$!domain.hopeSupplier.hopeSupplier.subcon.subconInd_PageValue)
                                     ## +++++ 強化-01689-000 2013/05/29 ADD SBO_wangzf END +++++
                                     ## ----- 強化-01689-000 2013/05/29 DEL SBO_wangzf START -----
                                     ##$!PSREQ040PageCreaterForDetail.printSpecial("HOPE_SUPPLIER","m18_showSupplier",$!item,'_subconInd',$!domain.hopeSupplier.hopeSupplier.subcon.subconInd)
                                     ## ----- 強化-01689-000 2013/05/29 DEL SBO_wangzf END -----
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_S")
                                        #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                        $!PSREQ040PageCreaterForDetail.printSpecial("ITEM_KIND","m10_showItemKind",$!item)
                                        *#
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                        $!PSREQ040PageCreaterForDetail.printSpecial("m10_showItemKind",$!item)
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_REQ_RESP_LIMIT_DATE")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ATTACH_FILE_SEQ1")
                                        $!PSREQ040PageCreaterForDetail.printSpecial("s13_showFile2",$!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.PRICE_REQ_FLG")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.FOR_BOSS_COMMENT")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.FOR_BUYER_COMMENT")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.FOR_SUPPRIER_COMMENT")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.BUYER_USER_ID")
                                        ## 2013/01/18 DEL DAIKO_KANEKO START
                                        ## $!PSREQ040PageCreaterForDetail.printSpecial("BUYER_USER_NAME","m15_showUser",$!item)
                                        ## 2013/01/18 DEL DAIKO_KANEKO -END-
                                        ## ----- IT2-01349-000 2013/03/14 DEL KANGJW START -----
                                        ## 2013/01/18 ADD DAIKO_KANEKO START
                                        ##$!PSREQ040PageCreaterForDetail.printSpecial("BUYER_USER","m15_showUser",$!item)
                                        ## 2013/01/18 ADD DAIKO_KANEKO -END-
                                        ## ----- IT2-01349-000 2013/03/14 DEL KANGJW END -----
                                        ## +++++ IT2-01349-000 2013/03/14 ADD KANGJW START +++++
                                        $!PSREQ040PageCreaterForDetail.printSpecial("BUYER_USER","m15_showUser",$!item,'_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1HApp FontBoxHeader"')
                                        ## +++++ IT2-01349-000 2013/03/14 ADD KANGJW END +++++
                                    ## 2013/02/06 DEL DAIKO_KANEKO START
                                    ## #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.APP_ROUTE_NO")
                                    ##     $!PSREQ040PageCreaterForDetail.printSpecial("APP_ROUTE","s15_appHistory",$!item,'_application',$!domain,'_appManagement',$!domain.appManagement,
                                    ##    '_name_element_cd','QUOT_ACQ_REQ_APP','colspan','1')
                                    ## 2013/02/06 DEL DAIKO_KANEKO -END-
                                    ## 2013/02/06 ADD DAIKO_KANEKO START
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.APP_ROUTE_NO")
                                        #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                        $!PSREQ040PageCreaterForDetail.printSpecial("APP_ROUTE","s15_appHistory",$!item,'_application',$!domain.approute,'_appManagement',$!domain.appManagement,
                                        '_name_element_cd','QUOT_ACQ_REQ_APP','colspan','1')
                                        *#
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                        $!PSREQ040PageCreaterForDetail.printSpecial("s15_appHistory",$!item,'_application',$!domain.approute,'_appManagement',$!domain.appManagement,
                                        '_name_element_cd','QUOT_ACQ_REQ_APP','colspan','1')
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                    ## 2013/02/06 ADD DAIKO_KANEKO -END-
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.BUYER_BACK_USER_COMMENTS")
                                    ## +++++ 強化-00157-000 2013/03/21 ADD SBO_wangzf START +++++
                                       #if("$!domain.purReturn.backReason.backReason.comment"!="")
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                        #end
                                    ## +++++ 強化-00157-000 2013/03/21 ADD SBO_wangzf END +++++
                                    ## ----- 強化-00157-000 2013/03/21 ADD SBO_wangzf START -----
                                       ## $!PSREQ040PageCreaterForDetail.printDefault($!item))
                                    ## ----- 強化-00157-000 2013/03/21 ADD SBO_wangzf END -----
                                    #else
                                        $!PSREQ040PageCreaterForDetail.printDefault($!item)
                                    #end
                                #end
                                </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #if($!domain.quotAcqReqItemList.size()>0)
                            <table width="100%">
                                <tr>
                                    <td align="right">
                                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=2','PersonalSettingsDetail','500','500');">
                                    </td>
                                </tr>
                            </table>
                            #end
                            <table id="DetailTable" class="Box1G" width="100%">
                                $!PSREQ040PageCreaterForDetail.build('_td_style_left', 'class="Box1Hd FontBoxHeader" width="15%"','_td_style_right', 'class="Box1Dd FontSmall"')
                                $!PSREQ040PageCreaterForDetail.buildDetail('index')
                                #foreach($!quotAcqReqItem in $!domain.quotAcqReqItemList)
                                 ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                 #set($listCount=$!PSREQ040PageCreaterForDetail.getItemListForDetail($velocityCount).size())
                                 ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                    <tbody id="Detail$velocityCount" class="Box1HApp ListBorderWidth">
                                        #foreach($!item in $!PSREQ040PageCreaterForDetail.getItemListForDetail($velocityCount))
                                        ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                      #if(($velocityCount+1) == $listCount)<!-- 最後の一個データ-->
                                        #set($td_style_left="class='Box1Hdt FontBoxHeader' width='15%'")
                                        #set($td_style_right="class='Box1Ddt FontSmall'")
                                      #else
                                        #set($td_style_left="class='Box1Hd FontBoxHeader' width='15%'")
                                        #set($td_style_right="class='Box1Dd FontSmall'")
                                     #end
                                      ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            #if($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.ITEM_CD")
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                             ##$!PSREQ040PageCreaterForDetail.printDefault($!item)
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.ITEM_NAME")
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.KATASHIKI")
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.MANUFACT_CD")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSREQ040PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSREQ040PageCreaterForDetail.printSpecial("m20_showManufact",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSREQ040PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            ## 2013/06/06 ADD DAIKO_KANEKO START
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.CURRENCY_CD")
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.UNIT_PRICE")
                                                $!PSREQ040PageCreaterForDetail.printSpecial('s24_currency',$!item,'_td_style_right','class="Box1Dd FontSmall"','_item_style','class="FontCurrSmall"')
                                            ## 2013/04/26 ADD DAIKO_KANEKO -END-
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.REQ_VOL")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printSpecial("s16_showVol",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSREQ040PageCreaterForDetail.printSpecial("s16_showVol",$!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            ## 2013/06/06 DEL DAIKO_KANEKO START
                                            ## #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.CURRENCY_CD")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                            ##    $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSREQ040PageCreaterForDetail.printDefault($!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            ## 2013/06/06 DEL DAIKO_KANEKO -END-
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.REQ_AMOUNT")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printSpecial('s24_currency',$!item,'_item_style','class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSREQ040PageCreaterForDetail.printSpecial('s24_currency',$!item,'_td_style_right','class="Box1Dd FontSmall"','_item_style','class="FontCurrSmall"')
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.REQ_DELIV_DATE")
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                             ##$!PSREQ040PageCreaterForDetail.printDefault($!item)
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_QUOT_ACQ_REQUEST.ATTACH_FILE_SEQ")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printSpecial("s12_showFile1",$!item,'_event','onclick = "downloadFile(id);"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSREQ040PageCreaterForDetail.printSpecial("s12_showFile1",$!item,'_event','onclick = "download(id);"')
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #else
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSREQ040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                             ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                             ##$!PSREQ040PageCreaterForDetail.printDefault($!item)
                                             ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                        #end
                                    #end
                                    </tbody>
                                #end
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        ## 2013.03.21 ADD DAIKO_WANG
        <tr><td>#customSpringMessage('PSREQ040_FOOTER_COMMENT')</td></tr>
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
		#if("$whereFromFlag" == "history")
			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
		#end
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
    </table>
</body>

</html>
