<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('QUOT_ACQ_REQ_HISTORY_LIST')</title><!--見積取得依頼履歴一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG -END- +++++
        alert(alertMessage);
         //if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
         //   parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        //}
    }
    var errorMsg = "$!errorMessage";
    var noData="1"+" I004" +"#customSpringMessage('I004')" +"<br>";
    if (errorMsg != ""){
        return;
    }
    var isShowDetail = "#jsEscape($isShowDetail)";
    var isShowHistory = "#jsEscape($isShowHistory)";
    if (isShowDetail == 'true'){
        parent.poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','700');
    }
    
    if (isShowHistory == 'true'){
        top.iframeChange('${flowExecutionUrl}&_eventId=history','pattern','history','from', 'PSREQ051');
    }
}

//詳細
function openDetail(quotAcqAplSeqNo,quotAcqAplNo,lastUpdDate) {
    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate","quotAcqAplSeqNo",quotAcqAplSeqNo,"quotAcqAplNo.quotAcqAplNo",quotAcqAplNo,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

//入力
function openHistory(quotAcqAplSeqNo,quotAcqAplNo,lastUpdDate) {

    ## +++++ 強化-00041-000 2013/03/22 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/03/22 ADD SBO_KANGJW END +++++

    parent.iframeChange("${flowExecutionUrl}&_eventId=historyValidate","quotAcqAplSeqNo",quotAcqAplSeqNo,"quotAcqAplNo.quotAcqAplNo",quotAcqAplNo,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
//-->
</script>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLEFIX', 1, 3+$!PSREQ051PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
#if($!itemList.quotAcqReqHistoryItemList && ($!itemList.quotAcqReqHistoryItemList.size() > 0))
<table id="TABLEFIX" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")<!--詳細--></th>
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")<!--処理--></th>
            ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
            #foreach($!item in $!PSREQ051PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSREQ051PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSREQ051PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSREQ051PageCreaterForList.printBRtag($!item)
                #else
                    $!PSREQ051PageCreaterForList.printTHtagClose()
                    $!PSREQ051PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_NO")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.INPUT_USER_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_STATUS")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_DATE")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.TITLE_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_L_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_M_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_S_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_CD")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_ABBR_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.DELIV_PLACE_CD")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.DELIV_PLACE_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_SECTION_CD")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_SECTION_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_USER_ID")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_USER_NAME")
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #else
                    $!PSREQ051PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSREQ051PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
    <tbody>
        #foreach($!quotAcqReqHistoryItem in $!itemList.quotAcqReqHistoryItemList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter"><img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif" onclick="openDetail('#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.quotAcqAplSeqNo)','#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.quotAcqAplNo.quotAcqAplNo)','#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.lastUpdDate)');"></td><!--詳細-->
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
            <td class="BoxDetailCenter"><input class="SmallButton" type="button" value="#customSpringMessage('ACTION_FROM_HISTORY')" onclick="javascript:openHistory('#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.quotAcqAplSeqNo)','#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.quotAcqAplNo.quotAcqAplNo)','#jsEscapeInHTML($!quotAcqReqHistoryItem.quotAcqReqIdentify.lastUpdDate)');"></td><!--履歴から作成-->
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
             ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
            #foreach($!item in $!PSREQ051PageCreaterForList.getItemListForBody($velocityCount))
                    #set($currentOneColumnFlag = $!PSREQ051PageCreaterForList.getOneColumnFlag($!item))
                    #if($velocityCount == 0)
                        $!PSREQ051PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #elseif(!$currentOneColumnFlag)
                        $!PSREQ051PageCreaterForList.printTDtagClose()
                        $!PSREQ051PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #end
                    #if($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_NO")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.INPUT_USER_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.QUOT_ACQ_APL_STATUS")
                        $!PSREQ051PageCreaterForList.printSpecial("s25_codeNameRed",$!item,'QUOT_ACQ_APL_STATUS','','_redValue','03','_boldStyle','"Red"',"_data_style",'class="FontStatus" align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_DATE")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.TITLE_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_L_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_M_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.ITEM_CLASS_S_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_CD")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_ABBR_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.DELIV_PLACE_CD")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.DELIV_PLACE_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_SECTION_CD")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_SECTION_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_USER_ID")
                        $!PSREQ051PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.REQ_USER_NAME")
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #else
                        $!PSREQ051PageCreaterForList.printDefault($!item)
                    #end
                #end
                $!PSREQ051PageCreaterForList.printTDtagClose()
        </tr>
        #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>
