<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.options.budget.impl.exclusive.RingiBudgetDtlHistExclusiveCheckMapper">

    <resultMap type="fw.domain.options.budget.ringibudgethist.RingiBudgetDtlHistIdentify" 
        id="RingiBudgetDtlHistIdentify_Map">
        <id column="COMPANY_CD" property="company.companyCd" />
        <id column="SECTION_PLACE_CD" property="sectionPlace.sectionPlaceCd" />
        <id column="BUDGET_NO" property="budgetNo.budgetNo" />
        <id column="BUDGET_DTL_VERSION" property="budgetVersion.budgetVersion" />
        <id column="BUDGET_DTL_NO" property="budgetDtlNo.budgetDtlNo" />
        <id column="LAST_UPD_DATE" property="lastUpdDate" />
    </resultMap>
    <select id="searchExclusive" resultMap="RingiBudgetDtlHistIdentify_Map">
        SELECT
            COMPANY_CD
            , SECTION_PLACE_CD
            , BUDGET_NO
            , BUDGET_DTL_VERSION
            , BUDGET_DTL_NO 
            , LAST_UPD_DATE
        FROM
            T_RINGI_BUDGET_DTL_HIST 
        WHERE
            COMPANY_CD = #{companyCd}
            AND SECTION_PLACE_CD = #{sectionPlaceCd}
            AND BUDGET_NO = #{budgetNo}
            AND BUDGET_DTL_VERSION = #{budgetVersion}
            AND BUDGET_DTL_NO = #{budgetDtlNo}
            AND LAST_UPD_DATE = #{lastUpdDate}
    </select>

</mapper>
