<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.options.budget.impl.exclusive.RingiBudgetExclusiveCheckMapper">

    <select id="searchExclusive"
    resultType="fw.domain.options.budget.ringibudget.RingiBudgetIdentify">
        SELECT
            COMPANY_CD as "company.companyCd"
            , SECTION_PLACE_CD as "sectionPlace.sectionPlaceCd"
            , BUDGET_NO as "budgetNo.budgetNo"
            , LAST_UPD_DATE as "lastUpdDate"
        FROM
            T_RINGI_BUDGET
        WHERE
            COMPANY_CD = #{companyCd}
            AND SECTION_PLACE_CD = #{sectionPlaceCd}
            AND BUDGET_NO = #{budgetNo}
            AND LAST_UPD_DATE = #{lastUpdDate}
    </select>

</mapper>
