<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.rcv.rcvqr.RcvQrMapper">

    <resultMap type="fw.domain.slip.receive.receive.PackageReceiveItem" id="ReceiveItem_Map">
        <id column="ROUTENO" property="receiveApl.receive.order.appManagement.routeNo"/>
        <id column="DELIVKEYNO" property="receiveApl.receive.delivKeyNo.delivKeyNo"/>
        <id column="SLIPNO" property="receiveApl.receive.slipManagement.slipSearchIdentify.slipNo"/>
        <id column="STATUS" property="receiveApl.receive.slipManagement.status"/>
        <id column="REQIND" property="receiveApl.receive.order.reqInd.reqInd"/>
        <id column="INSPECTIND" property="receiveApl.receive.receiveResult.inspectInd.inspectInd"/>
        <id column="COMPANYCD" property="receiveApl.receive.order.accounting.orderItem.item.itemCompanyCd"/>
        <id column="ITEMCD" property="receiveApl.receive.order.accounting.orderItem.item.itemCd"/>
        <id column="ITEMNAME" property="receiveApl.receive.order.accounting.orderItem.item.itemName"/>
        <id column="SUPCD" property="receiveApl.receive.order.supplierFrom.supCd"/>
        <id column="SUPNAME" property="receiveApl.receive.order.supplierFrom.supplierName.supplierAbbrName"/>
        <id column="EDI" property="receiveApl.receive.order.supplierFrom.ediInd.ediInd"/>
        <id column="SUBCON" property="receiveApl.receive.order.supplierFrom.subcon.subconInd"/>
        <id column="DELIVPLACECD" property="receiveApl.receive.order.complement.delivPlace.delivPlaceCd"/>
        <id column="DELIVPLACENAME" property="receiveApl.receive.order.complement.delivPlace.delivPlaceName"/>
        <id column="ORDERVOL" property="receiveApl.receive.order.accounting.orderAmount.orderVolume.orderVol.vol"/>
        <id column="UNITCD" property="receiveApl.receive.order.accounting.orderItem.item.unit.unitCd"/>
        <id column="UNITNAME" property="receiveApl.receive.order.accounting.orderItem.item.unit.unitName"/>
        <id column="DELIVDATE" property="receiveApl.receive.order.schedule.dlvEst.dlvEst.dateOfymd"/>
        <id column="SHIPMENTVOL" property="receiveApl.receive.shipment.shipmentVol.shipmentVol.vol"/>
        <id column="ARRIVALDATE" property="receiveApl.receive.shipment.arrivalDate.arrivalDate.dateOfymd"/>
        <id column="PRICEFLG" property="receiveApl.receive.order.condition.autoTerminateFlg.autoTerminateFlg"/>
        <id column="UNITPRICEIND" property="receiveApl.receive.order.status.priceManagement.unitPriceInd"/>
        <id column="UNITPRICE" property="receiveApl.receive.order.accounting.orderAmount.unitPrice.amount.amount"/>
        <id column="RCVSETTAMOUNT" property="receiveApl.receive.receiveResult.receiveSettledVol.vol"/>
        <id column="RCVSETTVOL" property="receiveApl.receive.receiveResult.receiveRemainingVol.vol"/>
        <id column="ORDERDATE" property="receiveApl.receive.order.schedule.orderDate.orderDate.dateOfymd"/>
        <id column="REQUSERID" property="receiveApl.receive.order.user.reqUser.reqUser.userID"/>
        <id column="REQNAME" property="receiveApl.receive.order.user.reqUser.reqUser.userName"/>
        <id column="REQSECTIONCD" property="receiveApl.receive.order.user.reqUser.reqUser.section.sectionCd"/>
        <id column="SECTIONNAME" property="receiveApl.receive.order.user.reqUser.reqUser.section.sectionName"/>
        <id column="CURRENCYCD" property="receiveApl.receive.order.accounting.orderAmount.orderAmount.currencyCd"/>
        <id column="TAX_IND" property="receiveApl.receive.order.accounting.orderAmount.amountMng.taxCalculationInd.taxInd.taxInd"/>
        <id column="ORDERAMOUNT" property="receiveApl.receive.order.accounting.orderAmount.orderAmount.amount"/>
        <id column="ORDER_CANCEL_AMOUNT" property="receiveApl.receive.order.orderCancel.orderCancelAmount.amount"/>
        <id column="ORDER_CANCEL_VOL" property="receiveApl.receive.order.orderCancel.orderCancelVol.vol"/>
        <id column="CURRENCYCD" property="receiveApl.receive.order.orderCancel.orderCancelAmount.currencyCd"/>
        <id column="SEQNO" property="receiveApl.receive.arrivalSeqNo.seqNo"/>
        <id column="CORRECTIND" property="receiveApl.receive.correctInd.correctInd"/>
        <id column="ORDERSEQ" property="receiveApl.receive.order.orderIdentify.orderSeq"/>
        <id column="FAX" property="receiveApl.receive.sendInd.faxSendInd.sendInd"/>
        <id column="LASTUPDATE" property="receiveApl.receive.order.orderIdentify.lastUpdDate"/>
        <id column="ORDERSATUS" property="receiveApl.receive.order.status.orderStatus.orderStatus"/>
        <id column="BUYUSER" property="receiveApl.receive.order.user.buyUser.buyUser.userID"/>
        <id column="BUYER_COMPANY_CD" property="receiveApl.receive.order.buyerCompanyCd"/>
        <id column="COMMENT" property="receiveApl.receive.order.orderComment.forBuyerComment.forBuyerComment.comment"/>
        <id column="EXCLUSIVE_SLIP_NO" property="receiveApl.receive.identify.rcvSettledListIdentify.exclusiveSlipId.slipNo"/>
        <id column="EXCLUSIVE_LAST_UPD_DATE" property="receiveApl.receive.identify.rcvSettledListIdentify.exclusiveSlipId.lastUpdDate"/>
        <id column="TITLE_NAME" property="receiveApl.receive.order.titleName.titleName"/>
        <id column="KATASHIKI" property="receiveApl.receive.order.accounting.orderItem.item.katashiki"/>
        <id column="MANUFACT_CD" property="receiveApl.receive.order.accounting.orderItem.item.manufact.manufactCd"/>
        <id column="MANUFACT_NAME" property="receiveApl.receive.order.accounting.orderItem.item.manufact.manufactName"/>
        <id column="FOR_SUPPRIER_COMMENT" property="receiveApl.receive.order.orderComment.forSupplierComment.forSupplierComment.comment"/>
    </resultMap>
    <select id="listPage" parameterType="String" resultMap="ReceiveItem_Map" flushCache="true">
        SELECT T_SHIPMENT_MNG.DELIV_KEY_NO AS "DELIVKEYNO",
               T_SLIP_MNG.SLIP_NO AS "SLIPNO",
               T_SLIP_MNG.RECEIVE_STATUS_IND AS "STATUS",
               T_ORDER.REQ_TYPE_IND AS "REQIND",
               T_ORDER.ORDER_STATUS AS "ORDERSATUS",
               T_ORDER.INSPECT_IND AS "INSPECTIND",
               T_ORDER.ORDER_SEQ AS "ORDERSEQ",
               T_ORDER.CORRECT_CD AS "CORRECTIND",
               T_ORDER.BUYER_COMPANY_CD AS "BUYER_COMPANY_CD",
               T_ORDER.BUYER_USER_ID AS "BUYUSER",
               T_ORDER.BUYER_COMMENT AS "COMMENT",
               T_ORDER.LAST_UPD_DATE AS "LASTUPDATE",
               T_ORDER.ITEM_COMPANY_CD AS "COMPANYCD",
               T_ORDER.ITEM_CD AS "ITEMCD",
               T_ORDER.ORDER_AMOUNT AS "ORDERAMOUNT",
               T_ORDER.CURRENCY_CD AS "CURRENCYCD",
               T_ORDER.TAX_IND AS "TAX_IND",
               T_ORDER.ITEM_NAME AS "ITEMNAME",
               T_ORDER.SUP_CD AS "SUPCD",
               T_ORDER.SUP_ABBR_NAME AS "SUPNAME",
               T_ORDER.SUBCON_IND AS "SUBCON",
               T_ORDER.EDI_IND AS "EDI",
               T_ORDER.DELIV_PLACE_CD AS "DELIVPLACECD",
               T_ORDER.DELIV_PLACE_NAME AS "DELIVPLACENAME",
               T_ORDER.ORDER_VOL AS "ORDERVOL",
               T_ORDER.ORDER_CANCEL_AMOUNT,
               T_ORDER.ORDER_CANCEL_VOL,
               T_ORDER.ORDER_FIRST_DATE AS "ORDERDATE",
               T_ORDER.UNIT_CD AS "UNITCD",
               T_ORDER.UNIT_NAME AS "UNITNAME",
               T_ORDER.ORDER_DELIV_DATE AS "DELIVDATE",
               T_SHIPMENT.SHIPMENT_VOL AS "SHIPMENTVOL",
               T_SHIPMENT.ARVEXP_DATE AS "ARRIVALDATE",
               T_ORDER.AUTO_TERMINATE_FLG AS "PRICEFLG",
               T_ORDER.UNIT_PRICE_IND AS "UNITPRICEIND",
               T_ORDER.UNIT_PRICE AS "UNITPRICE",
               T_ORDER.REQ_USER_ID AS "REQUSERID",
               T_ORDER.REQ_SECTION_CD AS "REQSECTIONCD",
               T_ORDER.REQ_USER_NAME AS "REQNAME",
               T_ORDER.REQ_SECTION_NAME AS "SECTIONNAME",
               T_ORDER.TITLE_NAME AS "TITLE_NAME",
               T_ORDER.KATASHIKI AS "KATASHIKI",
               T_ORDER.MANUFACT_CD AS "MANUFACT_CD",
               T_ORDER.MANUFACT_NAME AS "MANUFACT_NAME",
               T_ORDER.FOR_SUPPRIER_COMMENT AS "FOR_SUPPRIER_COMMENT",
               T_SLIP_MNG.SLIP_NO AS "EXCLUSIVE_SLIP_NO",
               T_SLIP_MNG.LAST_UPD_DATE AS "EXCLUSIVE_LAST_UPD_DATE",
               CASE WHEN T_RECEIVE_MNG.DELIV_VOL_TOTAL IS NULL
               THEN 0
               ELSE T_RECEIVE_MNG.DELIV_VOL_TOTAL END AS "RCVSETTAMOUNT",
               M_SUPPLIER.ARRIVAL_FAX_IND AS "FAX",
               ((CASE WHEN T_ORDER.ORDER_VOL IS NULL
               THEN 0
               ELSE  T_ORDER.ORDER_VOL END)-
               (CASE WHEN T_RECEIVE_MNG.DELIV_VOL_TOTAL IS NULL
               THEN 0
               ELSE T_RECEIVE_MNG.DELIV_VOL_TOTAL END)) AS "RCVSETTVOL"
        FROM  T_ORDER
        LEFT JOIN T_SHIPMENT_MNG
                  ON T_SHIPMENT_MNG.ORDER_NO = T_ORDER.ORDER_NO
                  AND T_SHIPMENT_MNG.DELIV_KEY_NO = #{deliveyKeyNo}
                  AND T_SHIPMENT_MNG.DELETE_FLG = '0'
        LEFT JOIN T_SHIPMENT
                  ON T_SHIPMENT.SHIPMENT_SEQ = T_SHIPMENT_MNG.NEW_SHIPMENT_SEQ
                  AND T_SHIPMENT.DELETE_FLG = '0'
                  AND T_SHIPMENT.CORRECT_CD &lt;> '3'
        LEFT JOIN ( SELECT ORDER_NO, SUM(CASE WHEN DELIV_VOL IS NULL THEN 0 ELSE DELIV_VOL END) AS DELIV_VOL_TOTAL FROM T_RECEIVE_MNG
                    WHERE T_RECEIVE_MNG.DELETE_FLG = '0'
                                GROUP BY ORDER_NO) T_RECEIVE_MNG
                     ON T_RECEIVE_MNG.ORDER_NO = T_ORDER.ORDER_NO
        LEFT JOIN T_SLIP_MNG
                    ON T_SLIP_MNG.SLIP_NO = T_ORDER.ORDER_NO
                    AND T_SLIP_MNG.DELETE_FLG = '0'
        LEFT JOIN M_SUPPLIER
               ON (M_SUPPLIER.COMPANY_CD = T_ORDER.SUP_COMPANY_CD
               OR M_SUPPLIER.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
              AND M_SUPPLIER.SUP_CD = T_ORDER.SUP_CD
        <where>
                T_ORDER.ORDER_NO = #{orderNo}
            AND T_ORDER.DELETE_FLG = '0'
            AND T_ORDER.NEW_APP_FLG = '1'
            AND T_ORDER.INFO_CD &lt;> '0504'
            AND ((
                T_ORDER.REQ_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
                <if test="@fw.common.cache.ConstDataCacheHolder@getConstDataCache().getSystemSetting('ARRIVAL_SECTION_SCOPE').getCondValue()==1">
                    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(@fw.common.util.AppUtil@getSectionViewRegion())">
                        AND T_ORDER.REQ_SECTION_CD IN (${@fw.common.util.AppUtil@getSectionViewRegion()})
                    </if>
                </if>
                <if test="@fw.common.cache.ConstDataCacheHolder@getConstDataCache().getSystemSetting('ARRIVAL_SECTION_SCOPE').getCondValue()==3">
                    AND T_ORDER.REQ_SECTION_PLACE_CD = '${@fw.security.SecurityUtil@getSectionPlaceCdByEscapeSql()}'
                </if>
            ) OR (
                T_ORDER.RECIVE_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
                <if test="@fw.common.cache.ConstDataCacheHolder@getConstDataCache().getSystemSetting('ARRIVAL_SECTION_SCOPE').getCondValue()==1">
                    <if test = "@org.apache.commons.lang.StringUtils@isNotBlank(@fw.common.util.AppUtil@getSectionViewRegion())" >
                        AND T_ORDER.RECIVE_SECTION_CD IN (${@fw.common.util.AppUtil@getSectionViewRegion()})
                    </if>
                </if>
                <if test="@fw.common.cache.ConstDataCacheHolder@getConstDataCache().getSystemSetting('ARRIVAL_SECTION_SCOPE').getCondValue()==3">
                    AND T_ORDER.RECIVE_SECTION_PLACE_CD = '${@fw.security.SecurityUtil@getSectionPlaceCdByEscapeSql()}'
                </if>
            ))
        </where>
    </select>
    <select id="orderNoExit" parameterType="fw.domain.slip.receive.receive.ReceiveQrCd"
        resultType="String">
        SELECT DELIV_KEY_NO
        FROM T_RECEIVE_MNG
        WHERE DELIV_KEY_NO = #{qrCd}
              AND DELETE_FLG = '0'
    </select>
    <select id="orderReqExit" parameterType="fw.domain.slip.receive.receive.ReceiveQrCd"
        resultType="String">
        SELECT ORDER_SEQ
        FROM T_ORDER
        WHERE ORDER_NO = #{qrCd}
              AND DELETE_FLG = '0'
              <if test = "@org.apache.commons.lang.StringUtils@isNotBlank(@fw.common.util.AppUtil@getSectionViewRegion())" >
              AND  BUYER_SECTION_CD IN (${@fw.common.util.AppUtil@getSectionViewRegion()})
              </if>
              AND BUYER_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              AND NEW_APP_FLG = '1'
     </select>

     <select id="divPctSearch" parameterType="fw.domain.slip.receive.receive.PackageReceiveItem"
        resultType="fw.domain.mst.material.itemclass.DlvPctInfo">
        SELECT M_ITEM_CLASS.DLV_MAX_PCT AS "dlvMaxPct",M_ITEM_CLASS.DLV_MIN_PCT AS "dlvMinPct"
        FROM M_ITEM
            INNER JOIN M_ITEM_CLASS
            ON M_ITEM_CLASS.ITEM_CLASS_L = M_ITEM.ITEM_CLASS_L
            AND M_ITEM_CLASS.ITEM_CLASS_M = M_ITEM.ITEM_CLASS_M
            AND M_ITEM_CLASS.ITEM_CLASS_S = M_ITEM.ITEM_CLASS_S
        WHERE (M_ITEM.COMPANY_CD = #{receiveApl.receive.order.accounting.orderItem.item.itemCompanyCd}
           OR M_ITEM.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
              AND M_ITEM.ITEM_CD = #{receiveApl.receive.order.accounting.orderItem.item.itemCd}
              AND M_ITEM.TERM_FLG = '0'
     </select>
      <select id="maxVersion"  parameterType="fw.domain.slip.receive.receive.PackageReceiveItem"
        resultType="Integer">
        SELECT COUNT(*)
        FROM T_ARRIVAL
        WHERE ORDER_NO = #{receiveApl.receive.order.orderNo.orderNo}
                AND DELETE_FLG = '0'
     </select>

     <select id="exitCheck"  parameterType="fw.domain.slip.receive.receive.PackageReceiveItem"
        resultType="Integer">
        SELECT COUNT(*)
        FROM T_RECEIVE_MNG
        WHERE DELIV_KEY_NO = #{receiveApl.receive.delivKeyNo.delivKeyNo}
                AND DELIV_STATUS = '1105'
     </select>
     <insert id="insertReceive" parameterType="fw.domain.slip.receive.receive.PackageReceiveItem">
        INSERT INTO T_RECEIVE_MNG
        (  DELIV_KEY_NO,
           ORDER_NO,
           DELIV_STATUS,
           NEW_ARRIVAL_SEQ,
           NEW_INSPECT_SEQ,
           NEW_ACCEPTANCE_SEQ,
           APP_ARRIVAL_SEQ,
           APP_INSPECT_SEQ,
           APP_ACCEPTANCE_SEQ,
           DELIV_VOL,
           DELETE_FLG,
           AUTO_DELETE_FLG,
           AUTO_DELETE_DATE,
           LAST_UPD_DATE,
           LAST_UPD_COMPANY_CD,
           LAST_UPD_SECTION_CD,
           LAST_UPD_USER_ID,
           REG_DATE,
           REG_COMPANY_CD,
           REG_SECTION_CD,
           REG_USER_ID
        ) VALUES(
        #{receiveApl.receive.delivKeyNo.delivKeyNo},
        #{receiveApl.receive.order.orderNo.orderNo},
        '2101',
        #{receiveApl.receive.arrivalSeqNo.seqNo},
        '',
        '',
        '',
        '',
        '',
        #{receiveApl.receive.receiveResult.receiveVol.receiveVol.vol},
        '0',
        '0',
        '',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        )
    </insert>
    <update id="updateRecive" parameterType="fw.domain.slip.receive.receive.PackageReceiveItem">
      UPDATE T_RECEIVE_MNG
         SET
             DELIV_STATUS='2101',
             NEW_ARRIVAL_SEQ = #{receiveApl.receive.arrivalSeqNo.seqNo},
             NEW_INSPECT_SEQ ='',
             NEW_ACCEPTANCE_SEQ ='',
             APP_INSPECT_SEQ ='',
             APP_ACCEPTANCE_SEQ ='',
             DELIV_VOL = #{receiveApl.receive.receiveResult.receiveVol.receiveVol.vol},
             DELETE_FLG = '0',
             AUTO_DELETE_FLG = '0',
             AUTO_DELETE_DATE = '',
             LAST_UPD_DATE = '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
             LAST_UPD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
             LAST_UPD_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
             LAST_UPD_USER_ID = '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        WHERE DELIV_KEY_NO = #{receiveApl.receive.delivKeyNo.delivKeyNo}
    </update>
    <insert id="insertAppLang">
        INSERT INTO T_ARRIVAL_SUP_LNG
        (  ARRIVAL_SEQ,
           ARRIV_COMPANY_NAME,
           ARRIV_SECTION_PLACE_NAME,
           ARRIV_SECTION_NAME,
           ARRIV_USER_NAME,
           UNIT_NAME,
           STOCK_PLACE_NAME,
           AUTO_DELETE_FLG,
           AUTO_DELETE_DATE,
           LAST_UPD_DATE,
           LAST_UPD_COMPANY_CD,
           LAST_UPD_SECTION_CD,
           LAST_UPD_USER_ID,
           REG_DATE,
           REG_COMPANY_CD,
           REG_SECTION_CD,
           REG_USER_ID
        ) VALUES(
        #{seqNo},
        #{companyAbbrName},
        #{sectionPlaceName},
        #{sectionName},
        #{userName},
        #{unitName},
        #{stockPlaceName},
        '0',
        '',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        )
    </insert>
    <insert id="insertArrival" parameterType="fw.domain.slip.receive.receive.PackageReceiveItem">
        INSERT INTO T_ARRIVAL
        (  ARRIVAL_SEQ,
           DELIV_KEY_NO,
           ORDER_NO,
           ARRIVAL_VERSION,
           CORRECT_CD,
           PRE_SEQ,
           RB_IND,
           RB_SEQ,
           ARRIVAL_STATUS,
           ARRIV_EXP_DATE,
           DELIV_VOL,
           UNIT_CD,
           UNIT_NAME,
           TOTAL_AMOUNT,
           UN_DELIV_VOL,
           TOTAL_DELIV_VOL,
           PART_DELIV_IND,
           PART_DELIV_NO,
           ARRIV_COMPANY_CD,
           ARRIV_COMPANY_NAME,
           ARRIV_SECTION_PLACE_CD,
           ARRIV_SECTION_PLACE_NAME,
           ARRIV_SECTION_CD,
           ARRIV_SECTION_NAME,
           ARRIV_USER_ID,
           ARRIV_USER_NAME,
           INSPECT_IND,
           ARRIV_REMARK,
           APP_ROUTE_NO,
           APP_ROUTE_NAME,
           HAVE_IN_STOCK_FLG,
           STOCK_COMPANY_CD,
           STOCK_SECTION_PLACE_CD,
           STOCK_PLACE_CD,
           STOCK_PLACE_NAME,
           SEND_IND,
           FAX_SEND_IND,
           PRINT_IND,
           BI_OUT_IND,
           DELETE_FLG,
           AUTO_DELETE_FLG,
           AUTO_DELETE_DATE,
           LAST_UPD_DATE,
           LAST_UPD_COMPANY_CD,
           LAST_UPD_SECTION_CD,
           LAST_UPD_USER_ID,
           REG_DATE,
           REG_COMPANY_CD,
           REG_SECTION_CD,
           REG_USER_ID
        ) VALUES(
        #{receiveApl.receive.arrivalSeqNo.seqNo},
        #{receiveApl.receive.delivKeyNo.delivKeyNo},
        #{receiveApl.receive.order.orderNo.orderNo},
        #{receiveApl.receive.historyNo.historyNo},
        '1',
        (SELECT APP_ARRIVAL_SEQ FROM T_RECEIVE_MNG WHERE DELIV_KEY_NO = #{receiveApl.receive.delivKeyNo.delivKeyNo}),
        '0',
        '',
        '01',
        #{receiveApl.receive.receiveResult.receiveDate.receiveDate.dateOfymd},
        #{receiveApl.receive.receiveResult.receiveVol.receiveVol.vol},
        #{receiveApl.receive.order.accounting.orderItem.item.unit.unitCd},
        #{receiveApl.receive.order.accounting.orderItem.item.unit.unitName},
        #{receiveApl.receive.receiveManagement.totalAmount},
        #{receiveApl.receive.receiveManagement.unDelivVol.vol},
        #{receiveApl.receive.receiveManagement.totalDelivVol.vol},
        #{receiveApl.receive.receiveManagement.partDelivIndCd},
        #{receiveApl.receive.receiveManagement.partDelivNo},
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getCompanyNameByEscapeSql()}',
        '${@fw.security.SecurityUtil@getSectionPlaceCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getSectionPlaceNameByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionNameByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserNameByEscapeSql()}',
        #{receiveApl.receive.receiveResult.inspectInd.inspectInd},
        #{receiveApl.receive.receiveResult.receiveRemark.remark.comment},
        #{receiveApl.receive.order.appManagement.routeNo},
        #{receiveApl.receive.order.approute.appRouteName},
        #{receiveApl.receive.receiveResult.haveInStockFlg.haveInStockFlg},
        #{receiveApl.receive.receiveResult.stockPlace.company.companyCd},
        #{receiveApl.receive.receiveResult.stockPlace.sectionPlace.sectionPlaceCd},
        #{receiveApl.receive.receiveResult.stockPlace.stockPlaceCd},
        #{receiveApl.receive.receiveResult.stockPlace.stockPlaceName},
        CASE WHEN #{receiveApl.receive.order.supplierFrom.ediInd.ediInd} = '1' THEN '2' ELSE '9' END,
        CASE WHEN #{receiveApl.receive.sendInd.faxSendInd.sendInd} = '1' THEN '2' ELSE '9' END,
        '2',
        '2',
        '0',
        '0',
        '',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
        '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
        '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
        '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        )
    </insert>
    <select id="getOtherNotAcceptedDelivKeyNoList" parameterType="java.util.List" resultType="String">
        SELECT DELIV_KEY_NO
        FROM T_RECEIVE_MNG
        WHERE ORDER_NO IN
        <foreach collection="list" item="orderNo"  open="(" separator="," close=")">
            #{orderNo}
        </foreach>
        AND DELIV_STATUS &lt;> '1105'
        AND DELETE_FLG = '0'
        ORDER BY DELIV_KEY_NO
    </select>
    <select id="getMaxNotAcceptedDelivKeyNo" parameterType="string" resultType="string">
        SELECT MAX(DELIV_KEY_NO) as DELIV_KEY_NO
        FROM T_RECEIVE_MNG
        WHERE ORDER_NO = #{orderNo}
        AND DELIV_KEY_NO &lt; #{delivKeyNo}
        AND DELIV_STATUS = '1105'
        AND DELETE_FLG = '0'
    </select>
</mapper>