<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.common.attachfile.AttachFileAllMapper">
    <!-- 添付管理から添付ファイル取得SQL -->
    <select id="searchFileFromAttach" resultType="fw.domain.slip.common.attachfile.AttachFile">
        SELECT
            T_ATTACH_MNG.ATTACH_FILE_NAME as "fileName",
            T_ATTACH_MNG.ATTACH_FILE as "data"
        FROM 
            T_ATTACH_MNG
        WHERE 
            T_ATTACH_MNG.ATTACH_FILE_SEQ = #{attachFileSeq}
        UNION ALL
        SELECT
            T_ATTACH_MNG.ATTACH_FILE_NAME as "fileName",
            T_ATTACH_MNG.ATTACH_FILE as "data"
        FROM 
            H_ATTACH_MNG T_ATTACH_MNG
        WHERE 
            T_ATTACH_MNG.ATTACH_FILE_SEQ = #{attachFileSeq}
    </select>

    <!-- 見積回答添付から添付ファイル取得SQL -->
    <select id="searchFileFromQuotRespAttach" resultType="fw.domain.slip.common.attachfile.AttachFile">
        SELECT
            T_QUOT_RESP_ATTACH.ATTACH_FILE_NAME as "fileName",
            T_QUOT_RESP_ATTACH.ATTACH_FILE as "data"
        FROM 
            T_QUOT_RESP_ATTACH
        WHERE
            T_QUOT_RESP_ATTACH.ATTACH_FILE_SEQ = #{attachFileSeq}
        UNION ALL
        SELECT
            T_QUOT_RESP_ATTACH.ATTACH_FILE_NAME as "fileName",
            T_QUOT_RESP_ATTACH.ATTACH_FILE as "data"
        FROM 
            H_QUOT_RESP_ATTACH T_QUOT_RESP_ATTACH
        WHERE
            T_QUOT_RESP_ATTACH.ATTACH_FILE_SEQ = #{attachFileSeq}
    </select>
</mapper>