<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('SUPPLIER_SEARCH')</title><!--取引先検索-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../src/supplierPopup');
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}

//-->
</script>

</head>
<body id="BODY" class="Body" topmargin="10" leftmargin="10" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
	<form name="Body">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
        <!--#customFormHiddenInput("searchCondition.page.totalRows" "$searchCondition.searchCondition.page.totalRows")-->
        #if($itemList.supplierPopupItemList.size()!=0)
         #parse("./common/src_title.vm")
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><span class="FontMiddleBold">#customSpringMessage('CANDIDATE')<!--候補--></span></td>
            </tr>
        </table>
        
		<table id="TABLE" class="ListArea" width="100%">
			<thead>
                <tr id="Header">
                    <th class="BoxHeaderCenter FontSmall" >No.<!--NO.--></th>
                    <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')<!--処理--></th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER_LANG.SUP_CD"
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER_LANG.SUP_CD')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SUP_CD')<!--取引先コード-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER_LANG.SUP_ABBR_NAME" 
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER_LANG.SUP_ABBR_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SUP_ABBR_NAME')<!--取引先名（略称）-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER.TEL_NO"
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER.TEL_NO')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('TEL_NO')<!--電話番号-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER.FAX_NO" 
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER.FAX_NO')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('FAX_NO')<!--FAX番号-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="currencyCd" 
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','currencyCd')">
                       <span class="BoxHeaderSortItem">
                           #customSpringMessage('CURRENCY_CD')<!--通貨コード-->
                        </span>
                   </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER.SUBCON_IND" 
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER.SUBCON_IND')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SUBCONTRACTOR')<!--下請事業者-->
                        </span>
                    </th>
                     <th label="case" class="BoxHeaderCenter FontSmall" id="M_SUPPLIER.EDI_IND" 
                        onclick="parent.iframeChange('../../src/supplierPopup/order','column','M_SUPPLIER.EDI_IND')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('EDI_TRANS_A_WAY')##EDI転送方法
                        </span>
                    </th>
                </tr>
			</thead>
            #set( $index = 0 )
			#foreach($!supplierPopupItem in $!itemList.supplierPopupItemList)
			<tbody id="Row_0">
				<tr>
                    <td class="BoxDetailCenter FontList">#set( $index = $index + 1 )$index</td>
                    <td class="BoxDetailCenter">
                        <input type="button" class="miniButton" value="#customSpringMessage('SELECTION')" onclick="javascript:parent.selectRow('#jsEscapeInHTML($!supplierPopupItem.supplierIdentify.supCd)',
                            '#jsEscapeInHTML($!supplierPopupItem.supName)','#jsEscapeInHTML($!supplierPopupItem.supAbbrName)','#jsEscapeInHTML($!supplierPopupItem.currencyCd)',
                            '#jsEscapeInHTML($!supplierPopupItem.subconInd)','#jsEscapeInHTML($!supplierPopupItem.ediInd)','#jsEscapeInHTML($!supplierPopupItem.bankCd)',
                            '#jsEscapeInHTML($!supplierPopupItem.bankName)','#jsEscapeInHTML($!supplierPopupItem.branchCd)','#jsEscapeInHTML($!supplierPopupItem.branchName)',
                            '#jsEscapeInHTML($!supplierPopupItem.accountType)','#jsEscapeInHTML($!supplierPopupItem.accountNo)','#jsEscapeInHTML($!supplierPopupItem.accountName)',
                            '#jsEscapeInHTML($!supplierPopupItem.postalCode)','#jsEscapeInHTML($!supplierPopupItem.address1)','#jsEscapeInHTML($!supplierPopupItem.address2)',
                            '#jsEscapeInHTML($!supplierPopupItem.telNo)','#jsEscapeInHTML($!supplierPopupItem.faxNo)','#jsEscapeInHTML($!supplierPopupItem.subconTractor)',
                            '#jsEscapeInHTML($!supplierPopupItem.vendorCd)','#jsEscapeInHTML($!supplierPopupItem.supPersonName)','#jsEscapeInHTML($!supplierPopupItem.currencyMarkForHTML)',
                            '#jsEscapeInHTML($!supplierPopupItem.payConditonCd)');"><!--選択-->   
                    </td>
					<td class="BoxDetailCenter"><span class="FontList">#out($!supplierPopupItem.supplierIdentify.supCd)</span></td>
					<td class="BoxDetailLeft"><span class="FontList">#out($!supplierPopupItem.supAbbrName)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!supplierPopupItem.telNo)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!supplierPopupItem.faxNo)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!supplierPopupItem.currencyCd)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!supplierPopupItem.subconTractor)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!supplierPopupItem.ediInd_PageValue)</span></td>
                    #customFormHiddenInput("supName.hidden" "$!supplierPopupItem.supName")
                    #customFormHiddenInput("subconInd.hidden" "$!supplierPopupItem.subconInd")
                    #customFormHiddenInput("ediInd.hidden" "$!supplierPopupItem.ediInd")
                    #customFormHiddenInput("bankCd.hidden" "$!supplierPopupItem.bankCd")
                    #customFormHiddenInput("bankName.hidden" "$!supplierPopupItem.bankName")
                    #customFormHiddenInput("branchCd.hidden" "$!supplierPopupItem.branchCd")
                    #customFormHiddenInput("branchName.hidden" "$!supplierPopupItem.branchName")
                    #customFormHiddenInput("accountType.hidden" "$!supplierPopupItem.accountType")
                    #customFormHiddenInput("accountNo.hidden" "$!supplierPopupItem.accountNo")
                    #customFormHiddenInput("accountName.hidden" "$!supplierPopupItem.accountName")
				</tr>
			</tbody>
			#end
		</table>
        #parse("./common/src_title2.vm")
        #end
		<br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')<!--問い合わせ中...--></span>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
        </td></tr></table>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
	</form>
</body>
</html>
