<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage("NOT_ACTION_PUR_REQ_LIST")</title><!--未処理購入依頼一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    top.document.title=parent.document.title;
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    var count = #jsEscape($!itemList.notActionPurReqItemList.size());
    
    if(count == 0 && errorMsg == ""){
        var errorMsg = '#customMessageArgs("I004","")';
    }else if(count != 0 && errorMsg.indexOf("I004") != -1){
        var errorMsg = "";
    }
    
    if (errorMsg != ""){
        return;
    }
    var isShowDetail = "#jsEscape($isShowDetail)";
    if (isShowDetail == 'true'){
        poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','600');
    }
    
    var isShowOrderModify = "#jsEscape($isShowOrderModify)";
    if (isShowOrderModify == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=orderModify");
    }
    
    var isShowQuote = "#jsEscape($isShowQuote)";
    if (isShowQuote == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=quote");
    }
    
    var isShowQuotReqInput = "#jsEscape($isShowQuotReqInput)";
    if (isShowQuotReqInput == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=quotReqInput");
    }
    
    #if ($isShowDetailCat == 'true')
        poppage('${flowExecutionUrl}&_eventId=detailCat','DETAIL','800','700');
    #end
    #if ($isShowDetailPurReq == 'true')
        poppage('${flowExecutionUrl}&_eventId=detailPurReq','DETAIL','800','700');
    #end
}
function openDetail(reqTypeInd, purAplSeq, purReqNo, purReqSeq, lastUpdDate, purReqNoNotUnit) {
    if (reqTypeInd == '2') {
        parent.iframeChange("${flowExecutionUrl}&_eventId=detailCatValidate",'purAplSeq',purAplSeq,'purReqNo',purReqNo,'purReqSeq',purReqSeq,'lastUpdDate',lastUpdDate,'purReqNoNotUnit',purReqNoNotUnit,"HIDDENAREA");
    } else if (reqTypeInd == '3' || reqTypeInd == '9') {
        parent.iframeChange("${flowExecutionUrl}&_eventId=detailPurReqValidate",'purAplSeq',purAplSeq,'purReqNo',purReqNo,'purReqSeq',purReqSeq,'lastUpdDate',lastUpdDate,'purReqNoNotUnit',purReqNoNotUnit,"HIDDENAREA");
    }
}

// 見積依頼入力
function quotReqInput(purAplSeq, purReqSeq, lastUpdDate, slipNo, slipMngLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=editValidate",'purAplSeq',purAplSeq,'purReqSeq',purReqSeq,'lastUpdDate',lastUpdDate,'slipNo',slipNo,'slipMngLastUpdDate',slipMngLastUpdDate,"HIDDENAREA");
}

// 見積状況
function openQot(quotReqSeq, purReqSeq, lastUpdDate, quotLastUpdDate, slipNo, slipMngLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=quoteInfoValidate",'quotReqSeq',quotReqSeq,'pageid','PSQOT070Status','purReqSeq',purReqSeq,'lastUpdDate',lastUpdDate,'quotLastUpdDate',quotLastUpdDate,'slipNo',slipNo,'slipMngLastUpdDate',slipMngLastUpdDate,"HIDDENAREA");
}

// 注文入力
function openOrderInput(purReqSeq, lastUpdDate, slipNo, slipMngLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=acceptModifyValidate",'purReqSeq',purReqSeq,'lastUpdDate',lastUpdDate,'notActionPurReqIdentify.purReqSeq',purReqSeq,'notActionPurReqIdentify.lastUpdDate',lastUpdDate,'slipNo',slipNo,'slipMngLastUpdDate',slipMngLastUpdDate,"HIDDENAREA");
}

//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE', 1, 3+$!PSORD031PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" WIDTH="100%">
    #if($!itemList.notActionPurReqItemList.size() > 0)
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")<!--詳細--></th>
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")<!--処理--></th>
            #foreach($!item in $!PSORD031PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSORD031PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSORD031PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSORD031PageCreaterForList.printBRtag($!item)
                #else
                    $!PSORD031PageCreaterForList.printTHtagClose()
                    $!PSORD031PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="T_PUR_REQUEST.PUR_REQ_NO")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.URGENT_IND")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_TYPE_IND")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.QUOT_RESP_SEQ")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.TITLE_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.FOR_BOSS_COMMENT")
                    $!PSORD031PageCreaterForList.printHead("COMMENT",$!item)
                #elseif($!item.getColumnName()=="T_ATTACH_MNG.ATTACH_SCOPE")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_L_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_M_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_S_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CD")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.SUP_CD")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.SUP_ABBR_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="M_SUPPLIER.SUBCON_IND")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_DELIV_DATE")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.CURRENCY_CD")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_VOL")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_PRICE")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.TOTAL_AMOUNT")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.DELIV_PLACE_CD")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.DELIV_PLACE_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.PUR_REQ_DATE")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_SECTION_CD")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_SECTION_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_USER_ID")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_USER_NAME")
                    $!PSORD031PageCreaterForList.printHead($!item)
                #else
                    $!PSORD031PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSORD031PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
       #end
    <tbody>
    #foreach($!notActionPurReqItem in $!itemList.notActionPurReqItemList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter">
                <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif" onclick="openDetail('#jsEscapeInHTML($!notActionPurReqItem.voucherType)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purAplSeq)','#jsEscapeInHTML($!notActionPurReqItem.appUnitNo)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purReqSeq)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.lastUpdDate)','#jsEscapeInHTML($!notActionPurReqItem.purReqNo)')"></td>
            <td class="BoxDetailCenter">
            #if($LoginUser.hasAuth(${AuthNoConstant.getValue("QUOT_UPDATE_GRANT")}))
                #if(($!notActionPurReqItem.voucherType == "3" || $!notActionPurReqItem.voucherType == "9") && $!notActionPurReqItem.quotAcqReqExistFlg == "0" && $!notActionPurReqItem.slipStatus == "0612")
                    <input type="button" class="SmallButton" value="#customSpringMessage('QUOT_REQ')" onclick="quotReqInput('#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purAplSeq)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purReqSeq)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.lastUpdDate)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.slipNo)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.lastUpdDate)')"><!--見積依頼-->
                #elseif(($!notActionPurReqItem.voucherType == "3" || $!notActionPurReqItem.voucherType == "9") && $!notActionPurReqItem.quotAcqReqExistFlg == "0" 
                    && ($!notActionPurReqItem.slipStatus == "0305"||$!notActionPurReqItem.slipStatus == "0306"
                        ||$!notActionPurReqItem.slipStatus == "0307"||$!notActionPurReqItem.slipStatus == "0411"
                        ||$!notActionPurReqItem.slipStatus == "0412"||$!notActionPurReqItem.slipStatus == "0413"
                        ||$!notActionPurReqItem.slipStatus == "0421"||$!notActionPurReqItem.slipStatus == "0422"))
                    <input type="button" class="SmallButton" value="#customSpringMessage('QUOT_STATUS')" onclick="openQot('#jsEscapeInHTML($!notActionPurReqItem.quotReqSeq)','#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purReqSeq)', '#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.lastUpdDate)', '#jsEscapeInHTML($!notActionPurReqItem.quotStatusIdentify.lastUpdDate)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.slipNo)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.lastUpdDate)');"><!--見積状況-->
                #end
            #end
                <input type="button" class="SmallButton" value="#customSpringMessage('ORDER_INPUT')" onclick="openOrderInput('#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.purReqSeq)', '#jsEscapeInHTML($!notActionPurReqItem.notActionPurReqIdentify.lastUpdDate)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.slipNo)', '#jsEscapeInHTML($!notActionPurReqItem.slipMngIdentify.lastUpdDate)');"><!--注文入力-->
            </td>
            #foreach($!item in $!PSORD031PageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSORD031PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSORD031PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSORD031PageCreaterForList.printTDtagClose()
                    $!PSORD031PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end
            
                #if($!item.getColumnName()=="T_PUR_REQUEST.PUR_REQ_NO")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                #elseif($!item.getColumnName()=="T_PUR_APL.URGENT_IND")
                    #if ($!notActionPurReqItem.emergency == '1')
                        $!PSORD031PageCreaterForList.printSpecial("s25_codeNameRed", $!item, 'URGENT_IND','',"_data_style",'align="center"','_redValue','1','_boldStyle','"FontList Red"','_needBold','0')
                    #end
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_TYPE_IND")
                    $!PSORD031PageCreaterForList.printSpecial("s25_codeName", $!item, 'REQ_TYPE_IND','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.QUOT_RESP_SEQ")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.TITLE_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.FOR_BOSS_COMMENT")
                    $!PSORD031PageCreaterForList.printSpecial("s08_comment", $!item)
                #elseif($!item.getColumnName()=="T_ATTACH_MNG.ATTACH_SCOPE")
                    $!PSORD031PageCreaterForList.printSpecial("s09_attach", $!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_L_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_M_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CLASS_S_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CD")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.SUP_CD")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.SUP_ABBR_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="M_SUPPLIER.SUBCON_IND")
                    #if("$notActionPurReqItem.subcontractor"=="1")
                        <div align="center">$!subcontractor</div>
                    #end
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_DELIV_DATE")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.CURRENCY_CD")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_VOL")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_PRICE")
                    $!PSORD031PageCreaterForList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="T_PUR_REQUEST.TOTAL_AMOUNT")
                    $!PSORD031PageCreaterForList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="T_PUR_APL.DELIV_PLACE_CD")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.DELIV_PLACE_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.PUR_REQ_DATE")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_SECTION_CD")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_SECTION_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_USER_ID")
                    $!PSORD031PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_PUR_APL.REQ_USER_NAME")
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #else
                    $!PSORD031PageCreaterForList.printDefault($!item)
                #end
            #end
            $!PSORD031PageCreaterForList.printTDtagClose()
        </tr>
    #end
    </tbody>
</table>
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table>
</body>
</html>
