<!doctype html>
<html lang="ja">
<head>
#set($commonTitle = "#customSpringMessage('RINGI_BUDGET_DETAILS')")
<title>$commonTitle</title><!--稟議予算明細詳細 -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($listViewStateID='PSBDT070')
#parse("./common/common_js.vm")
function onLoad() {
    TableSort.init();
    dataLoadHasPage();
    parentButtonEnable();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
}
//固定行表示のため上書き
function setTablefix(id,fixR,fixC) {
    flag = false;
    var windowHeight = $(window).height();
    if($(".error").height() != null){
        windowHeight = windowHeight - $(".error").height() - 35;
    }
    windowHeight -= 64;

    if($(id).parent().attr("id")!="colTableDiv"){
        $(function() {
            $(id).tablefix({width: $(window).width(), height:  windowHeight,  fixRows: fixR, fixCols: fixC});
        });
    }else{
        $(function() {
            $(id).tablefixByChange({width: $(window).width(), height: windowHeight,  fixRows: fixR, fixCols: fixC});
        });
    }
    flag = true;
}

function setorder(stateID) {
    parentButtonDisable();
    buttonDisable();
    parent.iframeChange('${flowExecutionUrl}&_eventId=order','column',stateID);
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE2',1,1);">
#if($!itemList.rinbdtDetailsListItemList && $!itemList.rinbdtDetailsListItemList.size()>0)
#if($!itemList.ringiBudgetDtlManagement)
<div style="width:100%; overflow-x:scroll;">
    <table id="TABLE1" class="ListArea" width="100%">
        <thead>
            <tr id="Header" style= "position:relative;overflow-y:auto;">
                <th class="BoxHeaderCenter FontSmall">
                    <span class="column SortColumn">#customSpringMessage('DETAIL_NO')<!--予算明細番号--></span>
                </th>
                <th class="BoxHeaderCenter FontSmall">
                    <span class="column SortColumn">#customSpringMessage('BUDGET_NAME')<!--予算名--></span>
                </th>
                <th class="BoxHeaderCenter FontSmall">
                    <span class="column SortColumn">#customSpringMessage('SUBJECT_CD')<!--科目コード--></span>
                </th>
                <th class="BoxHeaderCenter FontSmall">
                    <span class="column SortColumn">#customSpringMessage('SUBJECT_NAME')<!--科目名--></span>
                </th>
                <th class="BoxHeaderCenter FontSmall">
                    <span class="column SortColumn">#customSpringMessage('BUDGET_AMOUNT')<!--予算金額--></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="Row_$velocityCount" name="Row_$velocityCount" bgcolor="#dce4ef">
                <td class="BoxDetailLeft FontList">
                    #out($!itemList.ringiBudgetDtlManagement.ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!itemList.ringiBudgetDtlManagement.titleName.titleName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!itemList.ringiBudgetDtlManagement.subject.subjectCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!itemList.ringiBudgetDtlManagement.subject.subjectName)
                </td>
                <td class="BoxDetailRight FontCurrSmall">
                    #if("$!itemList.ringiBudgetDtlManagement.budgetAmount.budgetAmount.amount"!="")
                        #out($!itemList.ringiBudgetDtlManagement.ringiBudgetDtlIdentify.company.currency.currencyMark)&nbsp;&nbsp;#out($!itemList.ringiBudgetDtlManagement.budgetAmount.budgetAmount.amountFormat)
                    #end
                </td>
            </tr
        </tbody>
    </table>
</div>
#end
<div style="width:100%;">
    <table id="TABLE2" class="ListArea" width="100%" height="100%">
        <thead>
            <tr id="Header" style= "position:relative;overflow-y:auto;">
                <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SLIP_NO" onclick="setorder('SLIP_NO')">
                    #customSpringMessage('SLIP_NO')<!--購入依頼番号-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SLIP_STATUS" onclick="setorder('SLIP_STATUS')">
                    #customSpringMessage('STATUS')<!--伝票管理-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_TYPE_IND" onclick="setorder('REQ_TYPE_IND')">
                    #customSpringMessage('REQ_TYPE_IND')<!--依頼区分-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="PUR_REQ_DATE" onclick="setorder('PUR_REQ_DATE')">
                    #customSpringMessage('PUR_REQ_DATE')<!--購入依頼日-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ORDER_FIRST_DATE" onclick="setorder('ORDER_FIRST_DATE')">
                    #customSpringMessage('ORDER_DATE')<!-- 注文日-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="TITLE_NAME" onclick="setorder('TITLE_NAME')">
                    #customSpringMessage('TITLE_NAME')<!--件名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUP_CD" onclick="setorder('SUP_CD')">
                    #customSpringMessage('SUP_CD')<!--取引先コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUP_ABBR_NAME" onclick="setorder('SUP_ABBR_NAME')">
                    #customSpringMessage('SUP_NAME')<!--取引先名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ITEM_CD" onclick="setorder('ITEM_CD')">
                    #customSpringMessage('ITEM_CD')<!--品名コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ITEM_NAME" onclick="setorder('ITEM_NAME')">
                    #customSpringMessage('ITEM_NAME')<!--品名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="KATASHIKI" onclick="setorder('KATASHIKI')">
                    #customSpringMessage('KATASHIKI')<!--型式-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="MANUFACT_CD" onclick="setorder('MANUFACT_CD')">
                    #customSpringMessage('MANUFACT_CD')<!--メーカーコード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="MANUFACT_NAME" onclick="setorder('MANUFACT_NAME')">
                    #customSpringMessage('MANUFACT_NAME')<!--メーカー名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_DELIV_DATE" onclick="setorder('REQ_DELIV_DATE')">
                    #customSpringMessage('REQ_DELIV_DATE')<!--希望納期-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ORDER_DELIV_DATE" onclick="setorder('ORDER_DELIV_DATE')">
                    #customSpringMessage('ORDER_DELIV_DATE')<!--注文納期-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="CURRENCY_CD" onclick="setorder('CURRENCY_CD')">
                    #customSpringMessage('CURRENCY_CD')<!--通貨コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_VOL" onclick="setorder('REQ_VOL')">
                    #customSpringMessage('HOPE_VOL')<!--希望数量-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ORDER_VOL" onclick="setorder('ORDER_VOL')">
                    #customSpringMessage('ORDER_VOL')<!--注文数量-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="UNIT_NAME" onclick="setorder('UNIT_NAME')">
                    #customSpringMessage('UNIT')<!--単位-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUM_ACCEPT_VOL" onclick="setorder('SUM_ACCEPT_VOL')">
                    #customSpringMessage('ACCEPT_VOL')<!--検収数量-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_AMOUNT" onclick="setorder('REQ_AMOUNT')">
                    #customSpringMessage('HOPE_QUOT_PRICE')<!--希望金額-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="ORDER_AMOUNT" onclick="setorder('ORDER_AMOUNT')">
                    #customSpringMessage('ORDER_AMOUNT')<!--注文金額-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUM_ACCEPT_AMOUNT" onclick="setorder('SUM_ACCEPT_AMOUNT')">
                    #customSpringMessage('ACCEPT_AMOUNT')<!--検収金額-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="BUDGET_NO" onclick="setorder('BUDGET_NO')">
                    #customSpringMessage('BUDGET_NO')<!--予算番号-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUBJECT_CD" onclick="setorder('SUBJECT_CD')">
                    #customSpringMessage('SUBJECT_CD')<!--科目コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="SUBJECT_NAME" onclick="setorder('SUBJECT_NAME')">
                    #customSpringMessage('SUBJECT_NAME')<!--科目名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="DELIV_PLACE_CD" onclick="setorder('DELIV_PLACE_CD')">
                    #customSpringMessage('DELIV_PLACE_CD')<!--納入先コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="DELIV_PLACE_NAME" onclick="setorder('DELIV_PLACE_NAME')">
                    #customSpringMessage('DELIV_PLACE_NAME')<!--納入先名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_SECTION_CD" onclick="setorder('REQ_SECTION_CD')">
                    #customSpringMessage('PUR_REQ_SECTION_CD')<!--購入依頼部門コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_SECTION_NAME" onclick="setorder('REQ_SECTION_NAME')">
                    #customSpringMessage('PUR_REQ_SECTION_NAME')<!--購入依頼部門名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_USER_ID" onclick="setorder('REQ_USER_ID')">
                    #customSpringMessage('PUR_REQ_CD')<!--購入依頼者コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_USER_NAME" onclick="setorder('REQ_USER_NAME')">
                    #customSpringMessage('PUR_REQ_NAME')<!--購入依頼者名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="BUYER_SECTION_CD" onclick="setorder('BUYER_SECTION_CD')">
                    #customSpringMessage('BUYER_SECTION_CD')<!--購買部門コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="BUYER_SECTION_NAME" onclick="setorder('BUYER_SECTION_NAME')">
                    #customSpringMessage('BUYER_SECTION_NAME')<!--購買部門名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="BUYER_USER_ID" onclick="setorder('BUYER_USER_ID')">
                    #customSpringMessage('BUYER_USER_ID')<!--購買担当者コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="BUYER_USER_NAME" onclick="setorder('BUYER_USER_NAME')">
                    #customSpringMessage('BUYER_USER_NAME')<!--購買担当者名-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="LOAD_SECTION_CD" onclick="setorder('LOAD_SECTION_CD')">
                    #customSpringMessage('LOAD_SECTION_CD')<!--負担部門コード-->
                </th>
                <th label="case" class="BoxHeaderCenter FontSmall" id="LOAD_SECTION_NAME" onclick="setorder('LOAD_SECTION_NAME')">
                    #customSpringMessage('LOAD_SECTION_NAME')<!--負担部門名-->
                </th>
            </tr>
        </thead>
        <tbody>
        #set ($No=0)
        #foreach($!item in $!itemList.rinbdtDetailsListItemList)
            #set( $No = $No + 1 )
            <tr id="Row_$velocityCount" name="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
                <td class="BoxDetailCenter FontList">$No</td>
                <td class="BoxDetailLeft FontList FontSlipNo">
                    #out($!item.slipSearchIdentify.slipNo)
                </td>
                <td class="BoxDetailCenter FontStatus">
                    #out($!item.slipStatusName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.reqTypeInd_PageValue)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.purReqDate.dateOfymdFormat)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.orderFirstDate.dateOfymdFormat)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.titleName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.supCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.supAbbrName)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.itemCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.itemName)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.katashiki)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.manufactCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.manufactName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.reqDelivDate.dateOfymdFormat)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.orderDelivDate.dateOfymdFormat)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.currencyCd)
                </td>
                <td class="BoxDetailRight FontList">
                    #out($!item.hopeVol.volFormat)
                </td>
                <td class="BoxDetailRight FontList">
                    #out($!item.orderVol.volFormat)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.unitName)
                </td>
                <td class="BoxDetailRight FontList">
                    #out($!item.acceptVol.volFormat)
                </td>
                <td class="BoxDetailRight FontCurrSmall">
                    #if("$!item.hopeQuotPrice.amount"!="")
                        #out($!item.hopeCurrencyMark)&nbsp;&nbsp;#out($!item.hopeQuotPrice.amountFormat)
                    #end
                </td>
                <td class="BoxDetailRight FontCurrSmall">
                    #if("$!item.orderAmount.amount"!="")
                        #out($!item.currencyMark)&nbsp;&nbsp;#out($!item.orderAmount.amountFormat)
                    #end
                </td>
                <td class="BoxDetailRight FontCurrSmall">
                    #if("$!item.acceptAmount.amount"!="")
                        #out($!item.currencyMark)&nbsp;&nbsp;#out($!item.acceptAmount.amountFormat)
                    #end
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.budgetNo)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.subjectCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.subjectName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.delivPlaceCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.delivPlaceName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.reqSectionCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.reqSectionName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.reqUserId)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.reqUserName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.buyerSectionCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.buyerSectionName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.buyerUserId)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.buyerUserName)
                </td>
                <td class="BoxDetailCenter FontList">
                    #out($!item.loadSectionCd)
                </td>
                <td class="BoxDetailLeft FontList">
                    #out($!item.loadSectionName)
                </td>
            </tr>
        #end
        </tbody>
    </table>
</div>
#end
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>
