<!doctype html>
<html LANG="ja">
<head>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('BUDGET_UPLOAD')</title>## 予算アップロード 
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

var isClickable = false;

function onLoad() {
    setFocusForInput();
    top.document.title = document.title;

    changeFontSize0();

    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("ERRORDIV").style.display = "";
        isClickable = true;
        return;
    }

    var isShowInfo = "#jsEscape($!isShowInfo)";
    if (isShowInfo == 'true'){
         buttonDisable();
         top.iframeChange("${flowExecutionUrl}&_eventId=showUploadResult");
         return;
    } else {
        var errorList = "#jsEscape($!errorList)";
        var errorSize = "#jsEscape($!errorList.size())";
        if (errorList == "" || errorSize == "0") {
            var isSuccess = "#jsEscape($!isSuccess)";
            if (isSuccess == "true") {
                #set( $param = "#customSpringMessage('BUDGET_UPLOAD')" )
                alert("#customMessageArgs('I005',[$param])");
                buttonDisable();
                parent.iframeChange("${flowExecutionUrl}&_eventId=reset");
                return;
            }
        }
    }
    
    isClickable = true;
}

function upload() {
    if(!isClickable) {
        return;
    }

    if(getObj("budgetUploadTable.attachFile.screenFile").value!=""){
        var chkFmt = $('.radio_bdt_data:checked').val();
        if (chkFmt == "1") {
            #set( $param1 = "#customSpringMessage('SECTION_BUDGET')" )
            #set( $param2 = "#customSpringMessage('ACTION_UPLOAD')" )
            if( confirm('#customMessageArgs("W001",[$param1,$param2])') ) {
                buttonDisable();
                getObj("Body").action = "${flowExecutionUrl}&_eventId=upload";
                getObj("Body").submit();
            }
        } else {
            #set( $param1 = "#customSpringMessage('RINGI_BUDGET')" )
            #set( $param2 = "#customSpringMessage('ACTION_UPLOAD')" )
            if( confirm('#customMessageArgs("W001",[$param1,$param2])') ) {
                buttonDisable();
                getObj("Body").action = "${flowExecutionUrl}&_eventId=upload";
                getObj("Body").submit();
            }
        }
    }else{
        #set( $mUploadFile = "#customSpringMessage('UPLOAD_FILE')" )
        getObj("ERRORDIV").innerHTML="#customMessageArgs('E002',[$mUploadFile])";
        getObj("ERRORDIV").style.display = "";
    }
}

//-->
</script>
<style>
table.HomeBox {
    background-color:#FFFFFF;
    border: 1px solid #333333;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    behavior: url("../../include/ie-css3.htc");
    zoom:1;
    position: relative;
    z-index:200;
    padding:16px;
    box-shadow: 3px 3px 0px #000000;
    margin-left:auto;
    margin-right:auto;
}
</style>
</head>
<body class="CreateArea" style="text-align:center;vertical-align:top;" onload="onLoad();" >
<form name="Body" id="Body" method="post" enctype="multipart/form-data">
<table class="HomeBox" width="620">
        <tr>
            <td>
                <table class="Base" style="width:100%;">
                    <tr>
                        <td align="left">
                            ## ＊＊＊＊＊＊＊＊＊＊左サイド＊＊＊＊＊＊＊＊＊＊ 
                            <table class="NoBorder" width="98%">
                                <tr>
                                    <td>
                                        <u><img src="../../image/mrkCircle.gif"><span id="StepTitle" class="FontStepTitle">#customSpringMessage('BUDGET_UPLOAD')</span></u><br><br>## 予算アップロード
                                    <br><br>
                                    </td>
                                    <td align="right" valign="middle" id="Submit1">
                                        <input type="button" class="LargeButton" value="#customSpringMessage('ACTION_UPLOAD')" onclick="upload();">##アップロード
                                    </td>
                                </tr>
                            </table>
                            
                            ## ＊＊＊＊＊＊＊＊＊＊１番目の四角＊＊＊＊＊＊＊＊＊＊ 
                            <div id="ERRORDIV" class="error" style="display:none;">
                                $!errorMessage
                            </div>
                            <table class="NoBorder" style="width:100%;">
                                <tr><td align="left" colspan="2">#customSpringMessage('PSBDT100_HEADER_COMMENT')</td></tr>
                                <tbody class="Box1H FontBoxHeader ListBorderWidth">
                                    <tr>
                                        <td nowrap class="Box1H FontBoxHeader">#customSpringMessage('DATA_FORMAT')<span class="FontWarn">&nbsp;※</span></td>## データ形式
                                        <td nowrap class="Box1D">
                                        <span id="format">#customFormRadioButtons("domain.bdtDataFormat" $BDT_DATA_FORMAT "" "class='radio_bdt_data'")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap class="Box1H FontBoxHeader">#customSpringMessage('UPLOAD_FILE')<span class="FontWarn">&nbsp;※</span></td>## アップロードファイル
                                        <td nowrap class="Box1D">
                                            #if($!domain.budgetUploadTable.attachFile.fileName!='') 
                                            <span id="filename">#out($!domain.budgetUploadTable.attachFile.fileName)</span>
                                            #end
                                            <input type="file" class="Small" name="budgetUploadTable.attachFile.screenFile" id="budgetUploadTable.attachFile.screenFile" style="width:400px;">
                                        </td>
                                    </tr>
                                </tbody>
                                <tr><td align="left" colspan="2">#customSpringMessage('PSBDT100_FOOTER_COMMENT')</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
