<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('SECTION_BUDGET_DTL')</title><!--部門予算詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#set($searchCondition=$sectionBudgetDtlSearchCondition)
#parse("./common/common_js.vm")
function onLoad() {
    parentButtonEnable();
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    var isSuccess = '#jsEscape($!isSuccess)';
    if(isSuccess == 'true'){
        #set( $ship = "#customSpringMessage('SHIP')" );
        alert('#customMessageArgs("I028",[$ship])');
    }
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
}

//固定行表示のため上書き
function setTablefix(id,fixR,fixC) {
    flag = false;
    var windowHeight = $(window).height();
    if($(".error").height() != null){
        windowHeight = windowHeight - $(".error").height() - 35;
    }
    windowHeight -= 64;

    if($(id).parent().attr("id")!="colTableDiv"){
        $(function() {
            $(id).tablefix({width: $(window).width(), height:  windowHeight,  fixRows: fixR, fixCols: fixC});
        });
    }else{
        $(function() {
            $(id).tablefixByChange({width: $(window).width(), height: windowHeight,  fixRows: fixR, fixCols: fixC});
        });
    }
    flag = true;
}

function exec(){
}

-->
</script>
<style>
## ソート用のカラムスタイル
.SortColumn {
    color: #0000ff;
    border-bottom-color: #0000ff;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    cursor: pointer;
}
</style>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,1);">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#else
<form id="BodyForm" name="BodyForm"  method="post">
<div style="width:100%;overflow:scroll;">
    <table width="100%" class="ListArea">
        <tr style= "position:relative;overflow-y:auto; top:">
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('SECTION_CD')<!--部門コード--></th>                           
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('SECTION_NAME')<!--部門名--></th>                           
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('SUBJECT_CD')<!--科目コード--></th>                           
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('SUBJECT_NAME')<!--科目名--></th>                           
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('FISCAL_YEAR')<!--年度--></th>                         
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('BUDGET_NAME')<!--予算名--></th>                            
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('CURRENCY_CD')<!--通貨コード--></th>                          
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('FIRST_BUDGET_AMOUNT')<!--期初予算合計額--></th>                            
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage('BUDGET_TOTAL_SUM')<!--予算合計額--></th>                         
        </tr>
        <tr bgcolor="#dce4ef">
            <td class="BoxDetailCenter FontList">#out($!sectionBudget.sectionBudgetIdentify.section.sectionCd)</td>
            <td class="BoxDetailLeft FontList">#out($!sectionBudget.sectionBudgetIdentify.section.sectionName)</td>
            <td class="BoxDetailCenter FontList">#out($!sectionBudget.sectionBudgetIdentify.subject.subjectCd)</td>
            <td class="BoxDetailLeft FontList">#out($!sectionBudget.sectionBudgetIdentify.subject.subjectName)</td>
            <td class="BoxDetailCenter FontList">#out($!sectionBudget.sectionBudgetIdentify.budgetYear)</td>
            <td class="BoxDetailLeft FontList">#out($!sectionBudget.budgetName)</td>
            <td class="BoxDetailCenter FontList">#out($!sectionBudget.currency.currencyCd)</td>
            <td class="BoxDetailRight FontCurrSmall">
                #if($!sectionBudget.budgetAmountFT.amountFormat != "")
                    $!sectionBudget.currency.currencyMark$!sectionBudget.budgetAmountFT.amountFormat
                #else
                    &nbsp;
                #end
            </td>
            <td class="BoxDetailRight FontCurrSmall">
                #if($!sectionBudget.budgetAmountT.amountFormat != "")
                    $!sectionBudget.currency.currencyMark$!sectionBudget.budgetAmountT.amountFormat
                #else
                    &nbsp;
                #end
            </td>
        </tr>
    </table>    
</div>
#end
#if($!itemList.sectionBudgetDtlItem && $!itemList.sectionBudgetDtlItem.size()>0)
<table id="TABLE" class="ListArea" width="100%">
    <thead>
        <tr id="Header" style= "position:relative;overflow-y:auto;">
            <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_RECEIVE_MNG.DELIV_KEY_NO" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_RECEIVE_MNG.DELIV_KEY_NO')">
                <span class="SortColumn">#customSpringMessage('DELIV_KEY_NO')<!--納品キー番号--></span>
            </th>                          
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.CORRECT_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.CORRECT_CD')">
                <span class="SortColumn">#customSpringMessage('CORRECT_NAME')<!--訂正区分--></span>
            </th>                          
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_VERSION" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_VERSION')">
                <span class="SortColumn">#customSpringMessage('REVISION_NUMBER')<!--履歴番号--></span>
            </th>                         
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.REQ_TYPE_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.REQ_TYPE_IND')">
                <span class="SortColumn">#customSpringMessage('REQ_TYPE_IND')<!--依頼区分--></span>
            </th>                          
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.ITEM_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.ITEM_CD')">
                <span class="SortColumn">#customSpringMessage('ITEM_CD')<!--品名コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.ITEM_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.ITEM_NAME')">
                <span class="SortColumn">#customSpringMessage('ITEM_NAME')<!--品名--></span>
            </th>                          
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_DATE')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_DATE')<!--検収日--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.CURRENCY_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.CURRENCY_CD')">
                <span class="SortColumn">#customSpringMessage('CURRENCY_CD')<!--通貨コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.DELIV_VOL" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.DELIV_VOL')">
                <span class="SortColumn">#customSpringMessage('RCV_AMOUNT')<!--受入数量--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_VOL" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_VOL')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_VOL')<!--検収数量--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.UNIT_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.UNIT_NAME')">
                <span class="SortColumn">#customSpringMessage('UNIT')<!--単位--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.UNIT_PRICE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.UNIT_PRICE')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_UNIT_PRICE')<!--検収単価--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_AMOUNT" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_AMOUNT')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_AMOUNT')<!--検収金額--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.TAX_RATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.TAX_RATE')">
                <span class="SortColumn">#customSpringMessage('TAX_RATE')<!--税率--></span>
            </th>                           
            #if($!acceptConsumptAmountDispInd == '1')
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.TOTAL_AMOUNT" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.TOTAL_AMOUNT')">
                <span class="SortColumn">#customSpringMessage('TOTAL_AMOUNT')<!--合計金額--></span>
            </th>                           
            #end
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_SECTION_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_SECTION_CD')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_SECTION_CD')<!--検収部門コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_SECTION_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_SECTION_NAME')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_SECTION_NAME')<!--検収部門名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_USER_ID')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_USER_CD')<!--検収担当者コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.ACCEPT_USER_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.ACCEPT_USER_NAME')">
                <span class="SortColumn">#customSpringMessage('ACCEPT_USER_NAME')<!--検収担当者名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.SUP_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.SUP_CD')">
                <span class="SortColumn">#customSpringMessage('SUP_CD')<!--取引先コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.SUP_ABBR_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.SUP_ABBR_NAME')">
                <span class="SortColumn">#customSpringMessage('SUP_NAME')<!--取引先名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.SUBCON_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.SUBCON_IND')">
                <span class="SortColumn">#customSpringMessage('SUBCONTRACTOR')<!--下請事業者--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.EDI_IND" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.EDI_IND')">
                <span class="SortColumn">#customSpringMessage('EDI')<!--EDI--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.LOAD_SECTION_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.LOAD_SECTION_CD')">
                <span class="SortColumn">#customSpringMessage('LOAD_SECTION_CD')<!--負担部門コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.LOAD_SECTION_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.LOAD_SECTION_NAME')">
                <span class="SortColumn">#customSpringMessage('LOAD_SECTION_NAME')<!--負担部門名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.SUBJECT_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.SUBJECT_CD')">
                <span class="SortColumn">#customSpringMessage('SUBJECT_CD')<!--科目コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.SUBJECT_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.SUBJECT_NAME')">
                <span class="SortColumn">#customSpringMessage('SUBJECT_NAME')<!--科目名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ACCEPTANCE.BUDGET_NO" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ACCEPTANCE.BUDGET_NO')">
                <span class="SortColumn">#customSpringMessage('BUDGET_NO')<!--予算番号--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.BUYER_SECTION_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.BUYER_SECTION_CD')">
                <span class="SortColumn">#customSpringMessage('BUYER_SECTION_CD')<!--購買部門コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.BUYER_SECTION_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.BUYER_SECTION_NAME')">
                <span class="SortColumn">#customSpringMessage('BUYER_SECTION_NAME')<!--購買部門名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.BUYER_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.BUYER_USER_ID')">
                <span class="SortColumn">#customSpringMessage('BUYER_USER_ID')<!--購買担当者コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.BUYER_USER_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.BUYER_USER_NAME')">
                <span class="SortColumn">#customSpringMessage('BUYER_USER_NAME')<!--購買担当者名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.ORDER_FIRST_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.ORDER_FIRST_DATE')">
                <span class="SortColumn">#customSpringMessage('ORDER_DATE')<!--注文日--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.REQ_SECTION_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.REQ_SECTION_CD')">
                <span class="SortColumn">#customSpringMessage('REQ_SECTION_CD')<!--依頼部門コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.REQ_SECTION_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.REQ_SECTION_NAME')">
                <span class="SortColumn">#customSpringMessage('REQ_SECTION_NAME')<!--依頼部門名--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.REQ_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.REQ_USER_ID')">
                <span class="SortColumn">#customSpringMessage('REQ_USER_ID')<!--依頼者コード--></span>
            </th>                           
            <th class="BoxHeaderCenter FontSmall" label="case" id="T_ORDER.REQ_USER_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','T_ORDER.REQ_USER_NAME')">
                <span class="SortColumn">#customSpringMessage('REQ_USER_NAME')<!--依頼者名--></span>
            </th>                           
        </tr>
    </thead>
    #set($No=0)
    <tbody>
    #foreach($!item in $!itemList.sectionBudgetDtlItem)
        #set( $No = $No + 1 )
        <tr id="Row_$velocityCount" name="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">$No</td>
            <td class="BoxDetailCenter FontSlipNo">#out($!item.sectionBudgetDtlIdentify.delivKeyNo)</td><!--納品キー番号-->
            <td class="BoxDetailCenter FontStatus">#out($!item.correctCdValue)</td><!--訂正区分-->
            <td class="BoxDetailCenter FontList">#out($!item.acceptVersion)</td><!--履歴番号-->
            <td class="BoxDetailCenter FontStatus">#out($!item.reqTypeIndValue)</td><!--依頼区分-->
            <td class="BoxDetailCenter FontList">#out($!item.itemCd)</td><!--品名コード-->
            <td class="BoxDetailLeft FontList">#out($!item.itemName)</td><!--品名-->
            <td class="BoxDetailCenter FontList">#out($!item.acceptDate.dateOfymdFormat)</td><!--検収日-->
            <td class="BoxDetailCenter FontList">#out($!item.currencyCd)</td><!--通貨コード-->
            <td class="BoxDetailRight FontList">#out($!item.delivVol.volFormat)</td><!--受入数量-->
            <td class="BoxDetailRight FontList">#out($!item.acceptVol.volFormat)</td><!--検収数量-->
            <td class="BoxDetailLeft FontList">#out($!item.unitName)</td><!--単位-->
            <td class="BoxDetailRight FontCurrSmall">$!item.currencyMark$!item.unitPrice.amountFormat</td><!--検収単価-->
            <td class="BoxDetailRight FontCurrSmall">$!item.currencyMark$!item.acceptAmount.amountFormat</td><!--検収金額-->
            <td class="BoxDetailRight FontList">#out($!item.taxRate)&nbsp;%</td><!--税率-->
            #if($!acceptConsumptAmountDispInd == '1')
            <td class="BoxDetailRight FontCurrSmall">$!item.currencyMark$!item.totalAmount.amountFormat</td><!--合計金額-->
            #end
            <td class="BoxDetailCenter FontList">#out($!item.acceptSectionCd)</td><!--検収部門コード-->
            <td class="BoxDetailLeft FontList">#out($!item.acceptSectionName)</td><!--検収部門名-->
            <td class="BoxDetailCenter FontList">#out($!item.acceptUserId)</td><!--検収担当者コード-->
            <td class="BoxDetailLeft FontList">#out($!item.acceptUserName)</td><!--検収担当者名-->
            <td class="BoxDetailCenter FontList">#out($!item.supCd)</td><!--取引先コード-->
            <td class="BoxDetailLeft FontList">#out($!item.supAbbrName)</td><!--取引先名-->
            <td class="BoxDetailCenter FontList">#out($!item.subconIndValue)</td><!--下請事業者-->
            <td class="BoxDetailLeft FontList">#out($!item.ediIndValue)</td><!--EDI-->
            <td class="BoxDetailCenter FontList">#out($!item.loadSectionCd)</td><!--負担部門コード-->
            <td class="BoxDetailLeft FontList">#out($!item.loadSectionName)</td><!--負担部門名-->
            <td class="BoxDetailCenter FontList">#out($!item.subjectCd)</td><!--科目コード-->
            <td class="BoxDetailLeft FontList">#out($!item.subjectName)</td><!--科目名-->
            <td class="BoxDetailCenter FontList">#out($!item.budgetNo)</td><!--予算番号-->
            <td class="BoxDetailCenter FontList">#out($!item.buyerSectionCd)</td><!--購買部門コード-->
            <td class="BoxDetailLeft FontList">#out($!item.buyerSectionName)</td><!--購買部門名-->
            <td class="BoxDetailCenter FontList">#out($!item.buyerUserId)</td><!--購買担当者コード-->
            <td class="BoxDetailLeft FontList">#out($!item.buyerUserName)</td><!--購買担当者名-->
            <td class="BoxDetailCenter FontList">#out($!item.orderDate.dateOfymdFormat)</td><!--注文日-->
            <td class="BoxDetailCenter FontList">#out($!item.reqSectionCd)</td><!--依頼部門コード-->
            <td class="BoxDetailLeft FontList">#out($!item.reqSectionName)</td><!--依頼部門名-->
            <td class="BoxDetailCenter FontList">#out($!item.reqUserId)</td><!--依頼者コード-->
            <td class="BoxDetailLeft FontList">#out($!item.reqUserName)</td><!--依頼者名-->
        </tr>
    #end
    </tbody>
</table>
</form>
#end

<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="Font8"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>