<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('SECTION_BUDGET_AND_RESULT_DETAIL')</title><!--部門検索-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--

#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../budget/sectionDetail');
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}

//-->
</script>

</head>
<body id="BODY" class="Body" topmargin="10" leftmargin="10" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
	<form name="Body">
#if($!errorMessage && $!errorMessage!="")
<table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea" style="background-color:white"><!-- onLoadで変更 -->
                <span class="CornerTopGray">
                    <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span>
                </span>
                <table class="CornerMidGray" width="100%">
                    <tr>
                        <td nowrap width="30%" align="left" class="ScreenName">
                            <script LANGUAGE="javascript" type="text/javascript">document.write(document.title);</script>
                        </td>
                        <td nowrap align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage("CLOSE")" onClick="window.close();">
                        </td>
                    </tr>
                </table>
                <span class="CornerBtmGray"><span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>
                <table width="100%">
<tr><td class="NoBorder" style="height:auto;">
<div id="error" name="error" class="error">
    $!errorMessage
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
#end
        <!--#customFormHiddenInput("searchCondition.page.totalRows" "$searchCondition.searchCondition.page.totalRows")-->
        #if($itemList.sectionPopupItemList.size()!=0)
        #parse("./options/budget/src_title.vm")
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><!--候補-->
            </tr>
        </table>
        
		<table id="TABLE" class="ListArea" width="100%">
			<thead>
                <tr id="Header">
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION.SECTION_CD"
                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','M_SECTION.SECTION_CD')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_CD')<!--部門コード-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION_LANG.SECTION_NAME" 
                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','M_SECTION_LANG.SECTION_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_NAME')<!--部門名-->
                        </span>
                    </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.SUBJECT_CD"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.SUBJECT_CD')">
		                <span class="BoxHeaderSortItem">#customSpringMessage('SUBJECT_CD')<!--科目コード--></span>
		            </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.SUBJECT_NAME"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.SUBJECT_NAME')">
                		<span class="BoxHeaderSortItem">#customSpringMessage('SUBJECT_NAME')<!--科目名--></span>
		            </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.BUDGET_YEAR"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.BUDGET_YEAR')">
		                <span class="BoxHeaderSortItem">#customSpringMessage('FISCAL_YEAR')<!--年度--></span>
		            </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.BUDGET_NAME" 
                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.BUDGET_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('BUDGET_NAME')<!--予算名-->
                        </span>
                    </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.BUDGET_AMOUNT_T"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.BUDGET_AMOUNT_T')">
                		<span class="BoxHeaderSortItem">#customSpringMessage('BUDGET_TOTAL_SUM')<!--予算合計額--></span>
		            </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.BUDGET_BAL_EST"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.BUDGET_BAL_EST')">
                		<span class="BoxHeaderSortItem">#customSpringMessage('BUDGET_BAL_EST')<!--予算残(見込)---></span>
		            </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.ACCEPT_SUM_AMOUNT_T"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.ACCEPT_SUM_AMOUNT_T')">
		                <span class="BoxHeaderSortItem">#customSpringMessage('ACCEPT_SUM')<!--検収累計額--></span>
		            </th>
		            <th label="case" class="BoxHeaderCenter FontSmall" id="SECTION_BUDGET.SEC_TOTAL_CHK_IND"
		                        onclick="parent.iframeChange('../../budget/sectionDetail/order','column','SECTION_BUDGET.SEC_TOTAL_CHK_IND')">
		                <span class="BoxHeaderSortItem">#customSpringMessage('TOTAL_CHK')<!--総額チェック--></span>
		            </th>

		            #foreach($!headerNameMonth in $!headerNameMonths)
		                <th class="BoxHeaderCenter FontSmall">
		                    #customSpringMessage($!headerNameMonth)
		                </th>
		            #end
                </tr>
			</thead>
            #set( $index = 0 )
			#foreach($!deptItem in $!itemList.sectionPopupItemList)
			<tbody id="Row_0">
				<tr>
					<td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.sectionIdentify.sectionCd)</span></td>
					<td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.sectionName)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.subjectCd)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.subjectName)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.fiscalYear)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.budgetName)</span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">$!deptItem.currencyMark#out($!deptItem.budgetTotalSum.amountFormat)</span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">$!deptItem.currencyMark#out($!deptItem.budgetBalEst.amountFormat)</span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">$!deptItem.currencyMark#out($!deptItem.acceptSum.amountFormat)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.totalChkIndString)</span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount1.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount1.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount2.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount2.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount3.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount3.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount4.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount4.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount5.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount5.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount6.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount6.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount7.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount7.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount8.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount8.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount9.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount9.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount10.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount10.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount11.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount11.amountFormat)
                    </span></td>
                    <td class="BoxDetailRight FontCurrSmall"><span class="FontList">
                    $!deptItem.currencyMark#out($!deptItem.budgetAmount12.amountFormat)<br>
                    $!deptItem.currencyMark#out($!deptItem.acceptSumAmount12.amountFormat)
                    </span></td>
				</tr>
			</tbody>
			#end
		</table>
        #end
		<br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
        </td></tr></table>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
	</form>
</body>
</html>
