<table class="NoBorder" width="100%">
        <tr>
            <td class="SearchArea">
                <span class="CornerTopGray">
                    <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span>
                </span>
				<table class="CornerMidGray" width="100%">
				    <tr>
				        <td nowrap width="20%" align="left" class="ScreenName">
				            <script LANGUAGE="javascript" type="text/javascript">document.write(document.title);</script>
				        </td>
				        <td nowrap width="80%" align="left">
				        	<table>
				        		<tr>
							        <td width="30%" align="right">
							            <img id="PageFirst" class="Icon" src="../../image/btnPageFirst.gif" >
							            <img id="PageFirstOn" class="Icon" style="display:none" src="../../image/btnPageFirstOn.gif" ></td><!-- 最初のページへ-->
							        <td width="10%" align="left">
							            <img id="PagePrev"  class="Icon" src="../../image/btnPagePrev.gif" >
							            <img id="PagePrevOn" class="Icon" style="display:none" src="../../image/btnPagePrevOn.gif" ></td><!-- 前のページへ -->
							        <td width="20%" align="center" class="FontSmallBold" nowrap><b>#customSpringMessage('PAGING_TOTAL')<!-- 全 -->&nbsp;
							            <span id="COUNT" class="FontMiddleAnkBold">0</span>&nbsp;#customSpringMessage('PAGING_COUNT')<!-- 件 -->&nbsp;&nbsp;
							            <select id="PAGENO" name="PageNo" class="FontMiddleAnkBold">
							                <option></option>
							            </select>
							            /&nbsp;<span id="PAGECOUNT" class="FontMiddleAnkBold">0</span>&nbsp;#customSpringMessage('PAGING_PAGE')<!-- ページ --></b></td>
							        <td width="10%" align="right">
							            <img id="PageNext" class="Icon" src="../../image/btnPageNext.gif" >
							            <img id="PageNextOn" class="Icon" style="display:none" src="../../image/btnPageNextOn.gif" ><!-- 次のページへ --></td>
							        <td width="30%" align="left">
							            <img id="PageLast" src="../../image/btnPageLast.gif"  class="Icon">
							            <img id="PageLastOn" class="Icon" src="../../image/btnPageLastOn.gif"  style="display:none;" onclick="execSearch2();"><!-- 最後のページへ -->
							        </td>
				        		</tr>
				        	</table>
				        </td>
				        <td nowrap align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage("CLOSE")" onClick="window.close();">
                        </td>
				    </tr>
				</table>
                <span class="CornerBtmGray"><span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>
			</td>
		</tr>
</table>
