<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('INS_DETAIL')</title><!--検査詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#parse("./common/common_js.vm")

function onLoad() {

}

function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body onload="onLoad();">

    <table class="DetailSheet" width="90%" height="100%" align="center">
        <tr>
            <td >
                <table width="90%" height="100%" aligh="center" class="DetailSheet">
                    <tr>
            		#if("$whereFromFlag" == "history")
            			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
            		#else
        				<td >
        			#end
                            <table id="InnerTabBody_6" class="NoBorder" width="100%" >
                                <tr><td>#customSpringMessage('PSTST050_HEADER_COMMENT')</td></tr>
                                <tr>
                                    <td>
                                        <table class="NoBorder">
                                            <tr>
                                                #set($detailViewStateID='PSTST050')
                                                <td align="right">
                                                    <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=17','PersonalSettingsDetail','500','500');" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                     <table class="Box1G">
                                                        <tr>
                                                        #foreach($!item in $!PSTST050PageCreaterForDetailList.getItemListForBody())
                                                            $!PSTST050PageCreaterForDetailList.printTHtag('class="Box1H FontBoxHeader"')
                                                            #if($!item.getColumnName()=="T_INSPECT.DELIV_KEY_NO")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_STATUS")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_INSPECT.UNIT_NAME")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_DATE")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_PASS_QUANT")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_ACCOUNT")
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #else
                                                                $!PSTST050PageCreaterForDetailList.printHead($!item)
                                                            #end
                                                            $!PSTST050PageCreaterForDetailList.printTHtagClose()
                                                        #end
                                                        </tr>
                                                        #foreach($!inspectDetail in $!domain)
                                                        <tr>
                                                            #foreach($!item in $!PSTST050PageCreaterForDetailList.getItemListForBody($velocityCount))
                                                                $!PSTST050PageCreaterForDetailList.printTDtag('class="Box1D FontSmall" nowrap')
                                                                #if($!item.getColumnName()=="T_INSPECT.DELIV_KEY_NO")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                                                                #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_STATUS")
                                                                    #if("$!inspectDetail.inspectApp.inspect.inspectResult.inspectStatus.inspectStatus" == "03")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus Red"')
                                                                    #else
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus"')
                                                                    #end
                                                                #elseif($!item.getColumnName()=="T_INSPECT.UNIT_NAME")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_DATE")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_PASS_QUANT")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_INSPECT.INSPECT_ACCOUNT")
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item)
                                                                #else
                                                                    $!PSTST050PageCreaterForDetailList.printDefault($!item)
                                                                #end
                                                                $!PSTST050PageCreaterForDetailList.printTDtagClose()
                                                            #end
                                                        </tr>
                                                        #end
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br>
                                    </td>
                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="Box1G">
                                                            <tr>
                                                                #if($!approveFlg ==0)
                                                                    <th class="Box1H FontBoxHeader">#customSpringMessage("DELIV_KEY_NO")<!--納品キー番号--></th>
                                                                #else
                                                                <th class="Box1H FontBoxHeader" rowspan="3">#customSpringMessage("DELIV_KEY_NO")</th><!--納品キー番号-->
                                                                #end
                                                                <th class="Box1H FontBoxHeader">
                                                                    #customSpringMessage('INSPECTION_USER')
                                                                </th><!--検査担当者-->
                                                            </tr>
                                                            #if($!approveFlg ==1)
                                                            <tr>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("INS_APP")</th><!--検査承認-->
                                                            </tr>
                                                            <tr>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("BACK_APP_COMMENTS")</th><!--差戻しコメント-->
                                                            </tr>
                                                            #end
                                                            #foreach($!inspectDetail in $!domain)
															#if($!inspectDetail.inspectApp.inspect.receiveManagement.NewSeqNo.inspect == $!inspectDetail.inspectApp.inspect.inspectIdentify.inspectSeqNo)
                                                                <tr>
                                                                #if("$!inspectDetail.appManagement.backApp.backAppReason.backReason.comment" != "")
                                                                    <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="3"><!-- 差戻しコメント-->
                                                                #else
                                                                    #if($!approveFlg ==1)
                                                                    <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="2"><!-- ルート名-->
                                                                    #else
                                                                        <td id="KeyNo_D1" class="Box1D FontSlipNo"><!-- ルート名-->
                                                                    #end
                                                            #end
                                                                #out($!inspectDetail.delivKeyNo.delivKeyNo)
                                                                <td class="Box1D FontSmall" >
                                                                    <table class="NoBorder">
                                                                    <tr>
                                                                        <td class="FontSmall">
                                                                            <table>
                                                                                <td valign="top" rowspan="2"><img class="Mark" src="../../image/mrkHuman.gif"></td><!--申請者-->
                                                                                <td class="AppPersonArea">
                                                                                    <span class="FontSmall">
                                                                                        #out($!inspectDetail.inspectUser.user.section.sectionCd)
                                                                                        #out($!inspectDetail.inspectUser.user.section.sectionName)
                                                                                    </span><br>
                                                                                    <span class="FontSmall">#out($!inspectDetail.inspectUser.user.userID)
                                                                                    </span>
                                                                                    <span class="FontUserName">
                                                                                        <b class="FontUserName">
                                                                                            #out($!inspectDetail.inspectUser.user.userName)
                                                                                        </b>
                                                                                    </span>
                                                                                </td>
                                                                                <td class="AppPersonArea">
                                                                                    <table class="NoBorder">
                                                                                        <tr>
                                                                                            <td><img class="Mark" src="../../image/mrkTel.gif"><!--連絡先--></td>
                                                                                            <td class="FontMini" nowrap>
                                                                                            #customSpringMessage('EXTENSION_NO')：<span class="FontSmallAnk">#out($!inspectDetail.inspectUser.user.extNo.extensionNo)</span>&nbsp;&nbsp;<!--内線番号-->
                                                                                            #customSpringMessage('EXTERNAL_NO')：<span class="FontSmallAnk">#out($!inspectDetail.inspectUser.user.externalNo.externalNo)</span><!--外線番号-->
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img class="Mark" src="../../image/mrkMail.gif" ></td><!--メールアドレス-->
                                                                                            <td class="FontMiniAnkBold" nowrap>
                                                                                            <span class="FontMiniAnk">
                                                                                                <A HREF='mailto:#out($!inspectDetail.inspectUser.user.userName)<#out($!inspectDetail.inspectUser.user.mailAddr.mail)>'>
                                                                                                    #out($!inspectDetail.inspectUser.user.mailAddr.mail)</A>
                                                                                            </span>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            #if($!approveFlg ==1)
                                                            <tr>
                                                                <td class="Box1D FontSmall" >
                                                                    <table class="NoBorder">
                                                                        <tr>
                                                                            <td nowrap>
                                                                                <span class="FontSmall">#customSpringMessage("APP_ROUTE_NAME")：</span><!--承認ルート名-->
                                                                                <span class="FontUserName">#out($!inspectDetail.inspectApp.inspect.inspectAppRoute.approute.appRouteName)</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    #if($!inspectDetail.appManagement.appList.appItemList.size() > 0)
                                                                    <table class="AppSheet" style="-webkit-box-shadow:2px 2px 0px #000000;white-space: nowrap;">
                                                                        #foreach($!appItem in $!inspectDetail.appManagement.appList.appItemList)
                                                                        #if("$!appItem.appItemStatus.appItemStatus" != "")
                                                                        <tr>
                                                                            <td class="AppNoArea FontNumber">
                                                                                #out($!appItem.appSeq).

                                                                            </td>
                                                                            #if($!appItem.subAppFlg == "1")
                                                                            <td class="AppPersonArea FontSmall" nowrap><!--代理承認部門-->
                                                                                #out($!appItem.subAppUserName.section.sectionCd) &nbsp; #out($!appItem.subAppUserName.section.sectionName)
                                                                                <br>
                                                                                #out($!appItem.subAppUserName.userID) &nbsp;<span class="FontUserName">#out($!appItem.subAppUserName.userName)</span><!--代理承認者-->
                                                                                <span class="FontMini">&nbsp;#out($!appItem.subAppUserName.official.officialName)</span><!--役職-->
                                                                            </td>
                                                                            <td class="AppPersonArea">
                                                                                <table class="NoBorder">
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                                                        <td class="FontMini" nowrap>#customSpringMessage("EXTENSION_NO")<!--内線番号-->:<span class="FontSmallAnk">#out($!appItem.subAppUserName.extNo.extensionNo)</span>&nbsp;&nbsp;
                                                                                            #customSpringMessage("EXTERNAL_NO")<!--外線番号-->:<span class="FontSmallAnk">#out($!appItem.subAppUserName.externalNo.externalNo)</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkMail.gif" ></td><!--メールアドレス-->
                                                                                        <td nowrap>
                                                                                            <span class="FontMiniAnk"><A HREF='mailto: #out($!appItem.subAppUserName.userName)<#out($!appItem.subAppUserName.mailAddr.mail)>'>#out($!appItem.subAppUserName.mailAddr.mail)</A></span></td><td align="right" valign="bottom">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            #else
                                                                                <td class="AppPersonArea FontSmall" nowrap><!--承認部門-->
                                                                                #out($!appItem.appUserName.section.sectionCd) &nbsp; #out($!appItem.appUserName.section.sectionName)
                                                                                <br>
                                                                                #out($!appItem.appUserName.userID) &nbsp;<span class="FontUserName">#out($!appItem.appUserName.userName)</span><!--承認者-->
                                                                                <span class="FontMini">&nbsp;#out($!appItem.appUserName.official.officialName)</span><!--役職-->
                                                                            </td>
                                                                            <td class="AppPersonArea">
                                                                                <table class="NoBorder">
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                                                        <td class="FontMini" nowrap>#customSpringMessage("EXTENSION_NO")<!--内線番号-->:<span class="FontSmallAnk">#out($!appItem.appUserName.extNo.extensionNo)</span>&nbsp;&nbsp;
                                                                                            #customSpringMessage("EXTERNAL_NO")<!--外線番号-->:<span class="FontSmallAnk">#out($!appItem.appUserName.externalNo.externalNo)</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkMail.gif" ></td><!--メールアドレス-->
                                                                                        <td nowrap>
                                                                                            <span class="FontMiniAnk"><A HREF='mailto: #out($!appItem.appUserName.userName)<#out($!appItem.appUserName.mailAddr.mail)>'>#out($!appItem.appUserName.mailAddr.mail)</A></span></td><td align="right" valign="bottom">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            #end
                                                                            <td class="AppStampArea">
                                                                               #if("$!appItem.appItemStatus.appItemStatus" == "4")
                                                                                   <span class="FontBigBold Red">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span><!--承認状態-->
                                                                              #elseif("$!appItem.appItemStatus.appItemStatus" == "2" || "$!appItem.appItemStatus.appItemStatus" == "3")
                                                                                   <span class="FontBigBold DarkBlue">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span>
                                                                              #end
                                                                              #if("$!appItem.appItemStatus.appItemStatus" != "0")
                                                                                   <span class="FontMiniAnk"><br><b>#out($!appItem.appDate.appDate.dateOfymdDispYMD)</b></span><!--承認日-->
                                                                              #end
                                                                            </td>
                                                                        </tr>
                                                                        #if($velocityCount+1 <$!inspectDetail.appManagement.appList.appItemList.size())
                                                                        <tr id = "row_$velocityCount" name = "row_$velocityCount"><td colspan="4" class="AppBorder">&nbsp;</td></tr>
                                                                        #end
                                                                        #end
                                                                        #end
                                                                    #else
                                                                    	<table class="AppSheet" style="display:none">
                                                                    #end
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            #if("$!inspectDetail.appManagement.backApp.backAppReason.backReason.comment" != "")
                                                            <tr>
                                                                #if($!inspectDetail.appManagement.backApp.backAppReason.backReason.comment != "")
                                                                <td class="Box1D FontSmall">#out($!inspectDetail.appManagement.backApp.backAppReason.backReason.comment)</td><!--差戻しコメント-->
                                                                #else
                                                                <td style="border: 1px solid #ffffff">#out($!inspectDetail.appManagement.backApp.backAppReason.backReason.comment)</td><!--差戻しコメント-->
                                                                #end
                                                            </tr>
                                                            #end
                                                            #end
															#end
                                                            #end
                                                        </table>
                                                    </td>
                                                </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr><td>#customSpringMessage('PSTST050_FOOTER_COMMENT')</td></tr>
                        		#if("$whereFromFlag" == "history")
                        			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
                        		#end
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
