<!doctype html>
<html LANG="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

var ROWNUM = 0;

## 2013.01.10 DEL DAIKO_KANEKO
## var TABNUM = 3;

## 2013.01.10 ADD DAIKO_KANEKO
var TABNUM = 4;
var Oldwidth;
var OldHheight;
## 2013.01.10 DEL DAIKO_KANEKO
## var nowPage=2;

## 2013.01.10 ADD DAIKO_KANEKO
var nowPage = 1;

function onresize(){

}
function onLoad() {
    getObj("closeButton").focus();
## 2013.01.09 DEL DAIKO_KANEKO START
#*
    for(i=0; i<TABNUM; i++) {
        #if($!isSearchByHistory!="true")
        setDisplay("TabHeader_"+i,true);
        #end
    }
    iframeChange("${flowExecutionUrl}&_eventId=inspectDetail");
    getObj("TabHeader_2").className = "DetailTabsOn";
    document.title = getText("TabHeader_" + nowPage);
    if (nowPage == 2) {
        getObj("TabHeader_2").className = "DetailTabsOn";
    }

*#
## 2013.01.09 DEL DAIKO_KANEKO -END-

## 2013.01.09 ADD DAIKO_KANEKO START
    for(i=0; i<TABNUM; i++) {
        setDisplay("TabHeader_"+i,false);
        getObj("TabHeader_"+i).className="DetailTabsOff";
    }

    document.title = getText("TabHeader_2");

    //注文
    setDisplay("TabHeader_0",true);

    //受入
    setDisplay("TabHeader_1",true);

    //検査
    #if ($!tabControl.inspectTab == "true")
        setDisplay("TabHeader_2",true);
        nowPage = 2;
    #end

    //検収
    #if ($!tabControl.acceptanceTab == "true")
        setDisplay("TabHeader_3",true);
    #end

    changeTab(nowPage);
## 2013.01.09 ADD DAIKO_KANEKO -END-

    changeFontSize0();
}

function changeTab(no) {
    for(i=0; i<TABNUM; i++) {
        if( i==no ) {
            getObj("TabHeader_"+i).className = "DetailTabsOn";

            ## 2013.01.10 DEL DAIKO_KANEKO START
            ## document.title = getText("TabHeader_"+i);
            ## 2013.01.10 DEL DAIKO_KANEKO -END-
        } else {
            getObj("TabHeader_"+i).className = "DetailTabsOff";
        }
    }

## 2013.01.10 DEL DAIKO_KANEKO START
#*
    //注文詳細
    if (no == 0) {
        iframeChange("${flowExecutionUrl}&_eventId=orderDetail");
    }
    //受入詳細
    if (no == 1){
        iframeChange("${flowExecutionUrl}&_eventId=receiveDetail");
    }
    //検査詳細
    if (no == 2){
        iframeChange("${flowExecutionUrl}&_eventId=inspectDetail");
    }
*#
## 2013.01.10 DEL DAIKO_KANEKO -END-

## 2013.01.10 ADD DAIKO_KANEKO START
    if (no == 0) {
        //注文詳細
        iframeChange("${flowExecutionUrl}&_eventId=orderDetail");
    } else if (no == 2) {
        //検査詳細
        iframeChange("${flowExecutionUrl}&_eventId=inspectDetail");
    } else if (no == 3) {
        //検収詳細
        iframeChange("${flowExecutionUrl}&_eventId=acceptDetail");
    } else {
        //受入詳細
        iframeChange("${flowExecutionUrl}&_eventId=receiveDetail");
}
## 2013.01.10 ADD DAIKO_KANEKO -END-
}

window.onload=init

ie=false
nn=false
if(document.all){ie=true}
if(navigator.appName=="Netscape"||navigator.userAgent.indexOf("Opera")!=-1){nn=true}

function init(){
    if(ie){
    DATAAREA1.document.body.onscroll=scrollie
    DATAAREA2.document.body.onscroll=scrollie
    }
    if(nn){
    scroll=new Array(0,0)
    scrollnn()
    }
}

function scrollie(){
    if(DATAAREA1.event){
        DATAAREA2.scrollTo(DATAAREA2.document.body.scrollLeft,DATAAREA1.document.body.scrollTop)
    }
    if(DATAAREA2.event){
        DATAAREA1.scrollTo(DATAAREA1.document.body.scrollLeft,DATAAREA2.document.body.scrollTop)
    }
}

function scrollnn(){
    var scr0=DATAAREA1.pageYOffset
    var scr1=DATAAREA2.pageYOffset
    if(scr0!=scroll[0]){
        //左がスクロール
        DATAAREA2.scrollTo(0,scr0)
        scroll[0]=scr0
        scroll[1]=scr0
        }else{
        if(scr1!=scroll[1]){
        //右がスクロール
        DATAAREA1.scrollTo(0,scr1)
        scroll[0]=scr1
        scroll[1]=scr1
    }
}
setTimeout("scrollnn()",500)
}


window.onload = function() {
    var isIE = 0<=window.navigator.userAgent.indexOf("MSIE");
    if(isIE && document.compatMode=="BackCompat"){
        document.body.onscroll = ScrollEvent;
    }else{
        document.documentElement.onscroll = ScrollEvent;
    }
}

function ScrollEvent(){
    window.status += "s"; // IEのみ
}

//-->
</script>
</head>
<body  class="DetailBody" onload="onLoad();" onresize="onresize();" style="overflow-y:hidden;">

<form name="Body"  >
    <table class="DetailSheet" style="width:98%; height:100%;" align="left">
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input id="closeButton" type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" width="100%">
                    <tr>
                        ## 2013/01/10 DEL DAIKO_KANEKO
                        ## #if($!isSearchByHistory != 'true')
                        <td id="TabHeader_0" class="DetailTabsOff" value="" nowrap><a class="Normal" href="javascript:changeTab(0);">#customSpringMessage('ORDER_DETAIL')</a></td><!-- 注文詳細 -->
                        <td id="TabHeader_1" class="DetailTabsOff" value="" nowrap><a  class="Normal" href="javascript:changeTab(1);">#customSpringMessage('RCV_DTL')</a></td><!-- 受入詳細 -->
                        ## 2013/01/10 DEL DAIKO_KANEKO
                        ## #end
                        <td id="TabHeader_2" class="DetailTabsOff" value="" nowrap><a  class="Normal" href="javascript:changeTab(2);">#customSpringMessage('INS_DETAIL')</a></td><!-- 検査詳細 -->
                        ## 2013/01/10 ADD DAIKO_KANEKO
                        <td id="TabHeader_3" class="DetailTabsOff" value="" nowrap><a  class="Normal" href="javascript:changeTab(3);">#customSpringMessage('ACP_DETAIL')</a></td><!-- 検収詳細 -->
                        <td class="DetailTabsNone">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td  class="InterTab">



                <!-- １番目のタグ-->
    <!--
                <tr><td style="height:auto;">
                -->
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="" scrolling="yes" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>

            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">

                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</form>


</body>
</html>
