<!doctype html>
<html lang="ja">
<head>
<title>
 #if("" != "$!quickLink")
        #customSpringMessage('SCREEN_NOT_INSPECT_LIST')(#customSpringMessage('UN_INSPECT'))
 #else
        #customSpringMessage('SCREEN_NOT_INSPECT_LIST')
 #end
</title><!--未検査一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">

<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")
function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
        if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }

    var isShowDetail = "#jsEscape($isShowDetail)";
    var isShowInput = "#jsEscape($isShowInput)";
    if (isShowDetail == 'true'){
        parent.poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','700');
    } else if (isShowInput == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=input");
    }
}

## 詳細
function openDetail(delivKeyNo,orderSeq,orderNo, exclusiveSlipNo, exclusiveLastUpdDate) {
    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate",
                        "unInspectIdentify.delivKeyNo.delivKeyNo",delivKeyNo,
                        "unInspectIdentify.orderSeq",orderSeq,
                        "unInspectIdentify.orderNo",orderNo,
                        'unInspectIdentify.exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'unInspectIdentify.exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate, 
                        "HIDDENAREA");
}
## 入力
function edit(delivKeyNo,orderSeq, exclusiveSlipNo, exclusiveLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=openTstValidate",
                        "unInspectIdentify.delivKeyNo.delivKeyNo",delivKeyNo,
                        "unInspectIdentify.orderSeq",orderSeq,
                        'unInspectIdentify.exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'unInspectIdentify.exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate, 
                        "HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLEFIX', 1, 3+$!PSTST011PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.unInspectList && ($!itemList.unInspectList.size() > 0))
<table id="TABLEFIX" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            ## No.
            <th class="BoxHeaderCenter FontSmall">No.</th>
            ## 詳細
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")</th>
            ## 処理
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")</th>
            #foreach($!item in $!PSTST011PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSTST011PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSTST011PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSTST011PageCreaterForList.printBRtag($!item)
                #else
                    $!PSTST011PageCreaterForList.printTHtagClose()
                    $!PSTST011PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUP_CD")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUP_ABBR_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.DELIV_PLACE_CD")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.DELIV_PLACE_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_VOL")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_DELIV_DATE")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_SECTION_CD")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_SECTION_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_USER_ID")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_USER_NAME")
                    $!PSTST011PageCreaterForList.printHead($!item)
                #else
                    $!PSTST011PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSTST011PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
    <tbody id="Tbody">
        #foreach($!unInspectListItem in $!itemList.unInspectList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter">
                ## 詳細ボタン
                <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif" 
                        onclick="openDetail('#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.delivKeyNo.delivKeyNo)', '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.orderSeq)', '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.orderNo)', 
                                            '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.exclusiveSlipId.slipNo)', '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.exclusiveSlipId.lastUpdDate)');">
            </td>
            <td class="BoxDetailCenter">
                ## 入力ボタン
                <input id="Proc_0" class="SmallButton" type="button" value="#customSpringMessage('ACTION_INPUT')"
                        onclick="edit('#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.delivKeyNo.delivKeyNo)', '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.orderSeq)', 
                                      '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.exclusiveSlipId.slipNo)', '#jsEscapeInHTML($!unInspectListItem.unInspectIdentify.unInspectIdentify.exclusiveSlipId.lastUpdDate)');">
            </td>
             #foreach($!item in $!PSTST011PageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSTST011PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSTST011PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSTST011PageCreaterForList.printTDtagClose()
                    $!PSTST011PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end
                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSTST011PageCreaterForList.printSpecial("s25_codeName",$!item,'REQ_TYPE_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.SUP_CD")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.SUP_ABBR_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                    #if("$unInspectListItem.subconInd"=="1")
                          <div> #out($!unInspectListItem.subconInd_PageValue)</div>
                    #end
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSTST011PageCreaterForList.printSpecial("s25_codeName",$!item,'QUOT_EDI_IND','')
                #elseif($!item.getColumnName()=="T_ORDER.DELIV_PLACE_CD")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.DELIV_PLACE_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_VOL")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_DELIV_DATE")
                    $!PSTST011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_SECTION_CD")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_SECTION_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_USER_ID")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_USER_NAME")
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #else
                    $!PSTST011PageCreaterForList.printDefault($!item)
                #end
            #end
            $!PSTST011PageCreaterForList.printTDtagClose()
        </tr>
        #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>
