    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right>
        <span $!_item_style>$!{masterCdValue}&nbsp;$!{masterNameValue}</span>
    </td>