<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.holiday.HolidayMapper">
    <select id="listHoliday" parameterType="fw.domain.mst.organization.holiday.HolidaySearchCondition"
        resultType="fw.domain.mst.organization.holiday.Holiday">
        SELECT
            COMPANY_CD as "holidayIdentify.companyCd",
            SECTION_PLACE_CD as "holidayIdentify.sectionPlaceCd",
            FISCAL_YEAR as "holidayIdentify.fiscalYear",
            HOLIDAY as "holidayIdentify.holiday",
            HOLIDAY_NAME as "holidayName",
            LAST_UPD_DATE as "registInfo.lastUpdDate",
            LAST_UPD_COMPANY_CD as "registInfo.lastUpdCompanyCd",
            LAST_UPD_SECTION_CD as "registInfo.lastUpdSectionCd",
            LAST_UPD_USER_ID as "registInfo.lastUpdUserId",
            REG_DATE as "registInfo.regDate",
            REG_COMPANY_CD as "registInfo.regCompanyCd",
            REG_SECTION_CD as "registInfo.regSectionCd",
            REG_USER_ID as "registInfo.regUserId"
        FROM M_HOLIDAY
         <where>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
                    AND COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceCd)">
                    AND SECTION_PLACE_CD = #{sectionPlaceCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fiscalYear)">
                    AND FISCAL_YEAR = #{fiscalYear, jdbcType=VARCHAR}
              </if>
        </where> 
        order by HOLIDAY
    </select>
     <select id="downloadCount" parameterType="fw.domain.mst.organization.holiday.HolidaySearchCondition"
        resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM M_HOLIDAY
         <where>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
                    AND COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceCd)">
                    AND SECTION_PLACE_CD = #{sectionPlaceCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fiscalYear)">
                    AND FISCAL_YEAR = #{fiscalYear, jdbcType=VARCHAR}
              </if>
        </where> 
        order by HOLIDAY
    </select>
    <insert id="insert" parameterType="fw.domain.mst.organization.holiday.Holiday">
    insert into M_HOLIDAY
    ( 
        COMPANY_CD,
        SECTION_PLACE_CD,
        FISCAL_YEAR,
        HOLIDAY,
        HOLIDAY_NAME,
        LAST_UPD_DATE,
        LAST_UPD_COMPANY_CD,
        LAST_UPD_SECTION_CD,
        LAST_UPD_USER_ID,
        REG_DATE,
        REG_COMPANY_CD,
        REG_SECTION_CD,
        REG_USER_ID
    ) 
    values (
        #{holidayIdentify.companyCd, jdbcType=VARCHAR},
        #{holidayIdentify.sectionPlaceCd, jdbcType=VARCHAR},
        #{holidayIdentify.fiscalYear, jdbcType=VARCHAR},
        #{holidayIdentify.holiday, jdbcType=VARCHAR},
        #{holidayName, jdbcType=VARCHAR},
        #{registInfo.lastUpdDate, jdbcType=VARCHAR},
        #{registInfo.lastUpdCompanyCd, jdbcType=VARCHAR},
        #{registInfo.lastUpdSectionCd, jdbcType=VARCHAR},
        #{registInfo.lastUpdUserId, jdbcType=VARCHAR},
        #{registInfo.regDate, jdbcType=VARCHAR},
        #{registInfo.regCompanyCd, jdbcType=VARCHAR},
        #{registInfo.regSectionCd, jdbcType=VARCHAR},
        #{registInfo.regUserId, jdbcType=VARCHAR}
    )
    </insert>
    
    <delete id="delete" parameterType="fw.domain.mst.organization.holiday.HolidayIdentify">
        DELETE FROM M_HOLIDAY
          <where>
            COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
            AND SECTION_PLACE_CD = #{sectionPlaceCd, jdbcType=VARCHAR}
            AND FISCAL_YEAR = #{fiscalYear, jdbcType=VARCHAR}
        </where> 
    </delete>
    <select id="downloadListHoliday" parameterType="fw.domain.mst.organization.holiday.HolidaySearchCondition"
        resultType="fw.domain.mst.organization.holiday.Holiday">
        <include refid="pageHeader"/>
        SELECT
            COMPANY_CD as "holidayIdentify.companyCd",
            SECTION_PLACE_CD as "holidayIdentify.sectionPlaceCd",
            FISCAL_YEAR as "holidayIdentify.fiscalYear",
            HOLIDAY as "holidayIdentify.holiday",
            HOLIDAY_NAME as "holidayName",
            LAST_UPD_DATE as "registInfo.lastUpdDate",
            LAST_UPD_COMPANY_CD as "registInfo.lastUpdCompanyCd",
            LAST_UPD_SECTION_CD as "registInfo.lastUpdSectionCd",
            LAST_UPD_USER_ID as "registInfo.lastUpdUserId",
            REG_DATE as "registInfo.regDate",
            REG_COMPANY_CD as "registInfo.regCompanyCd",
            REG_SECTION_CD as "registInfo.regSectionCd",
            REG_USER_ID as "registInfo.regUserId"
        FROM M_HOLIDAY
         <where>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
                    AND COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlaceCd)">
                    AND SECTION_PLACE_CD = #{sectionPlaceCd, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fiscalYear)">
                    AND FISCAL_YEAR = #{fiscalYear, jdbcType=VARCHAR}
              </if>
        </where> 
        order by HOLIDAY
        <include refid="pageRoot"/>
    </select>

    <sql id="pageHeader">
         select * from (
    </sql>
    <sql id="pageRoot">
        ) where  rownum &lt;=${@fw.common.util.PropertiesUtil@getLong("DOWNLOAD_MAXCNT")}
    </sql>
</mapper>