<!doctype html>
<html LANG="ja">
<head>
<style>
* {margin-top:0; padding:0;}
</style>
<title>
## ----- 強化-01237-000 2013/05/13 DEL SBO_CHENCHENG START -----
## ----- #if($!domain.priceArticle.item.itemCd != "")
## ----- 強化-01237-000 2013/05/13 DEL SBO_CHENCHENG -END- -----
## +++++ 強化-01237-000 2013/05/13 ADD SBO_CHENCHENG START +++++
#if("$!domain.priceArticle.item.itemCd" != "" || "$!isAddFavAll" == "true")
## +++++ 強化-01237-000 2013/05/13 ADD SBO_CHENCHENG -END- +++++
    #springMessage('FAV_REG_COMMENT')
#else
    #springMessage('FAV_UPD_COMMENT')
#end
</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

## +++++ 強化-00017-000 2013/04/26 ADD SBO_CHENCHENG START +++++
## フォルダは、操作が成功するかどうかフラグ 
var isFolderSuccess;
## +++++ 強化-00017-000 2013/04/26 ADD SBO_CHENCHENG -END- +++++
function onLoad() {
    
    setDisplay("Content1",false);
    setDisplay("FavoriteView",true);
    #if($isAddFavAll!="true")
        #if($!domain.priceArticle.item.itemCd != "")
                setDisplay("FolderArea",true);
                setDisplay("NewItem",true);
        #else
                setDisplay("FolderArea",false);
    //          setDisplay("NewItem",false);
        #end
    #else
    
        #foreach($!favoritesTabAll in $!domain.favoritesTabList)
            #if($!favoritesTabAll.priceArticle.item.itemCd != "")
                    setDisplay("FolderArea",true);
                    setDisplay("NewItem",true);
            #else
                    setDisplay("FolderArea",false);
        //          setDisplay("NewItemAll",false);
            #end
        #end
    #end

    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }

    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        getObj("error").style.display = "";
    }
    getObj("error").innerHTML=errorMsg;
        getObj("closeButton").focus();
}
## +++++ 強化-00528-000 2013/04/12 ADD SBO_shiyulin START +++++
function poppageExt(OBJ,winName,Width,Height){
    var attr = "toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,dependent=yes,width=";
    var posLeft = 0;
    var posTop = 0;
    
      if ((screen.width - Width) > 1){
        posLeft=(screen.width - Width) / 2;
      }
      if ((screen.height - Height) > 1){
        posTop=(screen.height - Height) / 2;
      }
      attr = attr + Width + ",height=";
      attr = attr + Height;
      attr = attr + ",left=" + posLeft;
      attr = attr + ",Top=" + posTop;
      
      window.open(OBJ,winName,attr);
}
## +++++ 強化-00528-000 2013/04/12 ADD SBO_shiyulin -END- +++++
function changeTag(no) {
    if( no==0 ) {
        ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
        getObj("TagHeader_0").className = "PsfavDetailTabsOn";
        getObj("TagHeader_1").className = "PsfavDetailTabsOff";
        ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
        ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START ----- 
        ##getObj("TagHeader_0").className = "DetailTabsOn";
        ##getObj("TagHeader_1").className = "DetailTabsOff";
        ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
    } else {
       ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
        getObj("TagHeader_1").className = "PsfavDetailTabsOn";
        getObj("TagHeader_0").className = "PsfavDetailTabsOff";
        ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
        ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START ----- 
        ##getObj("TagHeader_1").className = "DetailTabsOn";
        ##getObj("TagHeader_0").className = "DetailTabsOff";
        ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
    }
    getObj("FavoriteList").contentWindow.changeTag(no);
    getObj("ItemList").src = "";
}

function createFolder() {
    ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START ----- 
    ##if (getObj("TagHeader_0").className == "DetailTabsOn") {
    ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
    ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
    if (getObj("TagHeader_0").className == "PsfavDetailTabsOn") {
    ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
        getObj("FavoriteList").contentWindow.createFolder1("新しいフォルダ");
    } else {
        getObj("FavoriteList").contentWindow.createFolder2("新しいフォルダ");
    }
    
    getObj("ItemList").src = "";
    renameFolder();
}

function renameFolder() {
    getObj("FavoriteList").contentWindow.renameFolder();
}

function deleteFolder() {
    var Message = "#customMessageArgs("W029",['temp',$req_stop])";
    var favName = getText("FavoriteName");
    if( confirm(Message.replace("temp", favName)) ) {
        getObj("FavoriteList").contentWindow.deleteFolder();
        getObj("ItemList").src = "";
    }
}

function entry(comanyCd,sectionCd,itemCd,supCd) {
    ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START ----- 
    ##if (getObj("TagHeader_0").className == "DetailTabsOn") {
    ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
    ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
    if (getObj("TagHeader_0").className == "PsfavDetailTabsOn") {
    ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
        getObj("FavoriteList").contentWindow.entry(0,comanyCd,sectionCd,itemCd,supCd);
    } else {
        getObj("FavoriteList").contentWindow.entry(1,comanyCd,sectionCd,itemCd,supCd);
    }
}
## +++++ 強化-00017-000 2013/04/26 ADD SBO_CHENCHENG START +++++
window.onbeforeunload= function() {
    if(isFolderSuccess=="true"){
        var parentAction = window.opener.document.getElementById("Body").action;
        ## 父画面てはカタログ購入依頼入力画面ありませんの場合、父画面を更新する
        if(parentAction==""){
            window.opener.location.href="javascript:top.iframeChange('../cat/catalog/PSCAT010Search','pageid','PSCAT010Search','fromPattern','Home', 'needCartClear', 'false');"
        }
    }
}
## +++++ 強化-00017-000 2013/04/26 ADD SBO_CHENCHENG -END- +++++
function imgFileName(buyerCompanyCd, buyerSectionCd, itemCd, supCd, validStartDate, validEndDate){
    poppage('$!requestContext.contextPath/imageGet.do?buyerCompanyCd=' + encodeURIComponent(buyerCompanyCd) + '&buyerSectionCd=' + encodeURIComponent(buyerSectionCd) + '&itemCd=' + encodeURIComponent(itemCd) + '&supCd=' + encodeURIComponent(supCd) + '&validStartDate=' + validStartDate + '&validEndDate=' + validEndDate,'_blank',300,300);
}
//-->
</script>
</head>
<body class="DetailBody" id="BODY" onload="onLoad();">
<div id="error" name="error" class="error" style="display:none;">
</div>
<form name="Body" id="Body" action="${flowExecutionUrl}&_eventId=addYourFav" method="post" enctype="multipart/form-data">
    <table class="NoBorder" width="100%">
        <!-- お気に入り登録 -->
        <tr id="FavoriteView" style="display:none;">
            <td>
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input id="closeButton" type="button" class="MiddleButton" value="#springMessage('CLOSE')" onClick="window.close();"><!-- 閉じるボタン-->
                        </td>
                    </tr>
                    ## 2013.03.22 ADD DAIKO_WANG
                    <tr><td align="left" colspan="4">#customSpringMessage("PSFAV010_HEADER_COMMENT")</td></tr>
                </table>
                <table  class="NoBorder" width="100%" >
                    <tr>
                     ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
                        <td id="TagHeader_0" class="PsfavDetailTabsOn">
                     ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
                     ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START -----
                     ##<td id="TagHeader_0" class="DetailTabsOn">
                     ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----  
                            <a class="FontSmall" href="#" onclick="changeTag(0);" >#springMessage("YOUR_FAVORITE")</a><!-- あなたのお気に入りタブ-->
                        </td>
                      ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
                        <td id="TagHeader_1" class="PsfavDetailTabsOff">
                      ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
                      ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START -----
                       ##<td id="TagHeader_1" class="DetailTabsOff">
                      ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
                            <a class="FontSmall" href="#" onclick="changeTag(1);">#out($sectionName)#springMessage("OF_FAVARITE")</a><!-- 部門のお気に入りタブ　TODO 部門名の埋め込み確認-->
                        </td>
                    </tr>
                </table>
                <table  class="NoBorder" width="100%" >
                    <tr>
                        <td colspan="2" class="InterTab">
                            <span id="Content1" class="FontMini BarkBlue">#springMessage("UNDER_THE_LIST_SELECT")</span>
                            #if($isAddFavAll!="true")
                                #if($!domain.priceArticle.item.itemCd != "")
                                <table width="100%" id="NewItem">
                                    <tr>
                                        <td class="ProductArea">
                                            <table class="NoBorder">
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("PRODUCT_CLASS")：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td><!-- 品名分類-->
                                                    <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_L_ABBR')</div></td><!-- 大 -->
                                                    <td class="FontCategolyName" nowrap id="ClassL">#out($!domain.priceArticle.item.itemClass.itemClassNameL)</td>
                                                    <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_M_ABBR')</div></td><!-- 中 -->
                                                    <td class="FontCategolyName" nowrap id="ClassM">#out($!domain.priceArticle.item.itemClass.itemClassNameM)</td>
                                                    <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_S_ABBR')</div></td><!-- 小 -->
                                                    <td class="FontCategolyName" nowrap id="ClassS" >#out($!domain.priceArticle.item.itemClass.itemClassNameS)</td>
                                                </tr>
                                            </table>
                                            <table class="NoBorder">
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("ITEM_CD")：</span></td><!-- 品名コード -->
                                                    <td><span class="FontSmallAnk Brown">#out($!domain.priceArticle.item.itemCd)</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("ITEM_NAME")：</span></td><!-- 品名 -->
                                                    ## ----- 強化-00528-000 2013/04/08 DEL SBO_CHENCHENG START -----
                                                    ## -----<td><span class="FontMiddleAnkBold"><A href="javascript:poppage('$!domain.priceArticle.refUrl','_blank','600','600')">#out($!domain.priceArticle.item.itemName)</A></span></td>
                                                    ## ----- 強化-00528-000 2013/04/08 DEL SBO_CHENCHENG -END- -----
                                                    ## +++++ 強化-00528-000 2013/04/08 ADD SBO_CHENCHENG START +++++
                                                    #if(""=="$!domain.priceArticle.refUrl")
                                                        ## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
                                                        ##<td><span class="FontMiddleAnkBold">#out($!domain.priceArticle.item.itemName)</td>
                                                        ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
                                                        <td><span class="FontMiddleAnkBold">#out($!domain.priceArticle.item.itemName)</span></td>
                                                    #else
                                                    ## +++++ 強化-00528-000 2013/04/12 ADD SBO_shiyulin START +++++
                                                        <td><span class="FontMiddleAnkBold"><A href="javascript:poppageExt('#jsEscapeInHTML($!domain.priceArticle.refUrl)','_blank','600','600')">#out($!domain.priceArticle.item.itemName)</A></span></td>
                                                    ## +++++ 強化-00528-000 2013/04/12 ADD SBO_shiyulin -END- +++++
                                                    ## ----- 強化-00528-000 2013/04/12 DEL SBO_shiyulin START -----
                                                    ## -----<td><span class="FontMiddleAnkBold"><A href="javascript:location.href('$!domain.priceArticle.refUrl','600','600')">#out($!domain.priceArticle.item.itemName)</A></span></td>
                                                    ## ----- 強化-00528-000 2013/04/12 DEL SBO_shiyulin -END- -----
                                                    #end
                                                    ## +++++ 強化-00528-000 2013/04/08 ADD SBO_CHENCHENG -END- +++++
                                                </tr>
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("SUPPLIER")：</span></td><!-- 取引先 -->
                                                    <td>
                                                        <span class="FontSmallBold Green">
                                                        #out($!domain.priceArticle.supplierFrom.supCd)
                                                        #out($!domain.priceArticle.supplierFrom.supplierName.supplierAbbrName)
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("KATASHIKI")：</span></td><!-- 型式 -->
                                                    <td><span id="SPEC0" class="FontMiniAnk">#out($!domain.priceArticle.item.katashiki)</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("MANUFACT")：</span></td><!-- メーカー -->
                                                    <td><span id="MAKER0" class="FontMiniAnk">#out($!domain.priceArticle.item.manufact.manufactCd) #out($!domain.priceArticle.item.manufact.manufactName)</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="FontMini">#springMessage("UNIT")：</span></td>## 単位
                                                    <td><span class="FontMiniAnk">#out($!domain.priceArticle.item.unit.unitName)</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="FontMini" align="right" valign="bottom" nowrap style="padding-right:16px;">
                                            #if("$!domain.priceArticle.goodsImage.imgFileName"=="")
                                                #catalogImage($!domain.priceArticle.buySection.buySection.company.companyCd,
                                                                $!domain.priceArticle.buySection.buySection.sectionCd, 
                                                                $!domain.priceArticle.item.itemCd,
                                                                $!domain.priceArticle.supplierFrom.supCd,
                                                                $!domain.priceArticle.priceArticleIdentify.validStartDate, 
                                                                $!domain.priceArticle.priceArticleIdentify.validEndDate)
                                            #else
                                                <a href="#" onclick="imgFileName('#jsEscapeInHTML($!domain.priceArticle.buySection.buySection.company.companyCd)', '#jsEscapeInHTML($!domain.priceArticle.buySection.buySection.sectionCd)', '#jsEscapeInHTML($!domain.priceArticle.item.itemCd)', '#jsEscapeInHTML($!domain.priceArticle.supplierFrom.supCd)', '#jsEscapeInHTML($!domain.priceArticle.priceArticleIdentify.validStartDate)', '#jsEscapeInHTML($!domain.priceArticle.priceArticleIdentify.validEndDate)');">
                                                #catalogImage($!domain.priceArticle.buySection.buySection.company.companyCd,
                                                                $!domain.priceArticle.buySection.buySection.sectionCd, 
                                                                $!domain.priceArticle.item.itemCd,
                                                                $!domain.priceArticle.supplierFrom.supCd,
                                                                $!domain.priceArticle.priceArticleIdentify.validStartDate, 
                                                                $!domain.priceArticle.priceArticleIdentify.validEndDate)
                                                </a>
                                            #end
                                            <br>
                                            <span id="Curr_$velocityCount" class="FontCurrSmall">
                                                #out($!domain.priceArticle.supplierFrom.currency.currencyMark)
                                                #out($!domain.priceArticle.buyPrice.amount.amountFormat)
                                            </span>
                                            <span class="FontCurrMini">&nbsp;#out($!domain.priceArticle.supplierFrom.currency.currencyCd)</span>
                                            ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
                                            <br><span class="FontMini Green" id="Tax_0">(#out($!domain.priceArticle.taxCalculationInd.consumptInd.consumptInd_PageValue))</span><br>
                                             ## +++++ 強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
                                             ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START -----
                                             ##<br><span class="FontMini Green" id="Tax_0">#out($!domain.priceArticle.taxCalculationInd.consumptInd.consumptInd_PageValue)</span><br>
                                             ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
                                            <input id="Entry" name="Entry" class="SmallButton" type="button" value="#springMessage('ACTION_REG_FAV')" onclick="javaScript:buttonDisable();parentButtonDisable();setTimeout(buttonUsable,1000);setTimeout(parentButtonEnable,1000);entry();" disabled><!-- お気に入りに登録ボタン -->
                                        </td>
                                    </tr>
                                </table>
                                #end
                                #else
                                <table width="100%" id="NewItem">
                                    #foreach($!favoritesTabAll in $!domain.favoritesTabList)
                                        #if($!favoritesTabAll.priceArticle.item.itemCd != "")
                                        <tr>
                                            <td class="ProductArea">
                                                <table class="NoBorder">
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("PRODUCT_CLASS")：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td><!-- 品名分類-->
                                                        <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_L_ABBR')</div></td><!-- 大 -->
                                                        <td class="FontCategolyName" nowrap id="ClassL">#out($!favoritesTabAll.priceArticle.item.itemClass.itemClassNameL)</td>
                                                        <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_M_ABBR')</div></td><!-- 中 -->
                                                        <td class="FontCategolyName" nowrap id="ClassM">#out($!favoritesTabAll.priceArticle.item.itemClass.itemClassNameM)</td>
                                                        <td><div class="ItemKind">#customSpringMessage('ITEM_CLASS_S_ABBR')</div></td><!-- 小 -->
                                                        <td class="FontCategolyName" nowrap id="ClassS" >#out($!favoritesTabAll.priceArticle.item.itemClass.itemClassNameS)</td>
                                                    </tr>
                                                </table>
                                                <table class="NoBorder">
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("ITEM_CD")：</span></td><!-- 品名コード -->
                                                        <td><span class="FontSmallAnk Brown">#out($!favoritesTabAll.priceArticle.item.itemCd)</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("ITEM_NAME")：</span></td><!-- 品名 -->
                                                        ## ----- 強化-00528-000 2013/04/08 DEL SBO_CHENCHENG START -----
                                                        ## ----- <td><span class="FontMiddleAnkBold"><A href="javascript:poppage('$!favoritesTabAll.priceArticle.refUrl','_blank','600','600')">#out($!favoritesTabAll.priceArticle.item.itemName)</A></span></td>
                                                        ## ----- 強化-00528-000 2013/04/08 DEL SBO_CHENCHENG -END- -----
                                                        ## +++++ 強化-00528-000 2013/04/08 ADD SBO_CHENCHENG START +++++
                                                        #if(""=="$!favoritesTabAll.priceArticle.refUrl")
                                                            <td><span class="FontMiddleAnkBold">#out($!favoritesTabAll.priceArticle.item.itemName)</span></td>
                                                        #else
                                                            <td><span class="FontMiddleAnkBold"><A href="javascript:location.href('#jsEscapeInHTML($!favoritesTabAll.priceArticle.refUrl)')">#out($!favoritesTabAll.priceArticle.item.itemName)</A></span></td>
                                                        #end
                                                        ## +++++ 強化-00528-000 2013/04/08 ADD SBO_CHENCHENG -END- +++++
                                                    </tr>
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("SUPPLIER")：</span></td><!-- 取引先 -->
                                                        <td>
                                                            <span class="FontSmallBold Green">
                                                            #out($!favoritesTabAll.priceArticle.supplierFrom.supCd)
                                                            #out($!favoritesTabAll.priceArticle.supplierFrom.supplierName.supplierAbbrName)
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("KATASHIKI")：</span></td><!-- 型式 -->
                                                        <td><span id="SPEC0" class="FontMiniAnk">#out($!favoritesTabAll.priceArticle.item.katashiki)</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("MANUFACT")：</span></td><!-- メーカー -->
                                                        <td><span id="MAKER0" class="FontMiniAnk">#out($!favoritesTabAll.priceArticle.item.manufact.manufactCd) #out($!favoritesTabAll.priceArticle.item.manufact.manufactName)</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="FontMini">#springMessage("UNIT")：</span></td>## 単位
                                                        <td><span class="FontMiniAnk">#out($!domain.priceArticle.item.unit.unitName)</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="FontMini" align="right" valign="bottom" nowrap style="padding-right:16px;">
                                                #if("$!favoritesTabAll.priceArticle.goodsImage.imgFileName"=="")
                                                    #catalogImage($!favoritesTabAll.priceArticle.priceArticleIdentify.buyerCompanyCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.buyerSectionCd, 
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.itemCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.supCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.validStartDate, 
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.validEndDate)
                                                #else
                                                    <a href="#" onclick="imgFileName('#jsEscapeInHTML($!favoritesTabAll.priceArticle.buySection.buySection.company.companyCd)', '#jsEscapeInHTML($!favoritesTabAll.priceArticle.buySection.buySection.sectionCd)', '#jsEscapeInHTML($!favoritesTabAll.priceArticle.item.itemCd)', '#jsEscapeInHTML($!favoritesTabAll.priceArticle.supplierFrom.supCd)', '#jsEscapeInHTML($!favoritesTabAll.priceArticle.priceArticleIdentify.validStartDate)', '#jsEscapeInHTML($!favoritesTabAll.priceArticle.priceArticleIdentify.validEndDate)');">
                                                    #catalogImage($!favoritesTabAll.priceArticle.priceArticleIdentify.buyerCompanyCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.buyerSectionCd, 
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.itemCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.supCd,
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.validStartDate, 
                                                                                $!favoritesTabAll.priceArticle.priceArticleIdentify.validEndDate)
                                                    </a>
                                                #end
                                                <br>
                                                <span id="Curr_$velocityCount" class="FontCurrSmall">
                                                    #out($!favoritesTabAll.priceArticle.supplierFrom.currency.currencyMark)
                                                    #out($!favoritesTabAll.priceArticle.buyPrice.amount.amountFormat)
                                                </span>
                                                <span class="FontCurrMini">&nbsp;#out($!favoritesTabAll.priceArticle.supplierFrom.currency.currencyCd)</span>
                                                ## +++++  強化-00524-000 2013/04/07 ADD SBO_wangzf START +++++
                                                <br><span class="FontMini Green" id="Tax_0">(#out($!favoritesTabAll.priceArticle.taxCalculationInd.consumptInd.consumptInd_PageValue))</span><br>
                                                 ## +++++ 強化-00524-000 2013/04/07 ADD SBO_wangzf END +++++
                                                 ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf START -----
                                                 ##<br><span class="FontMini Green" id="Tax_0">#out($!favoritesTabAll.priceArticle.taxCalculationInd.consumptInd.consumptInd_PageValue)</span><br>
                                                 ## -----  強化-00524-000 2013/04/07 DEL SBO_wangzf END -----
                                                <input id="Entry" name="Entry" class="SmallButton" type="button" value="#springMessage('ACTION_REG_FAV')" onclick="javaScript:buttonDisable();parentButtonDisable();setTimeout(buttonUsable,1000);setTimeout(parentButtonEnable,1000);entry('#jsEscapeInHTML($!favoritesTabAll.priceArticle.buySection.buySection.company.companyCd)','#jsEscapeInHTML($!favoritesTabAll.priceArticle.buySection.buySection.sectionCd)','#jsEscapeInHTML($!favoritesTabAll.priceArticle.item.itemCd)','#jsEscapeInHTML($!favoritesTabAll.priceArticle.supplierFrom.supCd)');" disabled><!-- お気に入りに登録ボタン --></td>
                                        </tr>
                                        #end
                                    #end
                                    </table>
                            #end
                            <hr id="Hr1">
                            <span class="FontSmallBold">#springMessage("FAVORITE_FOLDER")</span><br><!-- お気に入りフォルダ -->
                            <div id="FolderArea" class="Box1D" style="background-color:lightyellow;width:98%;">
                                <table style="width:100%;">
                                    <tr>
                                        <td align="left" >
                                            <span id="FavoriteName" class="FontBigBold DarkBlue" width="98%">#springMessage('UNDER_THE_LIST_SELECT')</span><br><!-- フォルダを選択してください。 -->
                                            <span id="FavoriteCategoly" class="FontMini Green"></span>
                                        </td>
                                        <td align="right" valign="bottom" >
                                            <span id="FavoriteTime" class="FontSmallBold"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <iframe id="FavoriteList" name="FavoriteList" class="Box1D" framespacing="0" frameborder="0" src="" scrolling="auto" frameborder="no" style="width:98%;height:150px;background-color:white;"></iframe>
                            <input type="button" class="SmallButton" value="#springMessage('NEW_FOLDER')" style="margin:4px;" onclick="createFolder();"><!-- 新しいフォルダボタン -->
                            <input name="Rename" type="button" class="SmallButton" value="#springMessage('FOLDER_NAME_UPD')" style="margin:4px;" disabled onclick="renameFolder();"><!-- フォルダの名前を変更ボタン -->
                            <input name="Delete" type="button" class="SmallButton" value="#springMessage('FOLDER_DELETE')" style="margin:4px;" disabled onclick="deleteFolder();"><!-- フォルダを削除ボタン -->
                            <br>
                            <div id="ItemListHeader" class="Box1D" style="font-size:9pt;color:green;width:98%;text-align:left;background-color:#666666;color:white;">$itemCount</div><!-- 現在登録されている商品(n件) -->
                            <iframe id="ItemList" name="ItemList" class="Box1D" framespacing="0" frameborder="0" src="" scrolling="yes" frameborder="no" style="position:static;width:98%;height:265px;z-index:0;background-color:white;"></iframe>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <input name="dummy1" type="text" style="border:1px solid #FFFFFF;width:0px;">
            </td>
        </tr>
    </table>
    <table class="NoBorder" width="100%">
        ## 2013.03.22 ADD DAIKO_WANG
        <tr><td align="left" colspan="4">#customSpringMessage("PSFAV010_FOOTER_COMMENT")</td></tr>
        <tr>
            <td class="DTL_MSGBOX" align="right">
                <input type="button" class="MiddleButton" value="#springMessage('CLOSE')" onClick="window.close();"><!-- 閉じる -->
            </td>
        </tr>
    </table>
</form>
</body>
</html>
<script language="javascript" type="text/javascript">
    iframeChange("${flowExecutionUrl}&_eventId=PSFAV010_01","FavoriteList");
</script>