<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.rcv.rcv.RcvAllMapper">
    <resultMap type="fw.domain.slip.receive.receive.receivedetail.ReceiveDetail" id="ReceiveDetail_Map">
        <id column="ARRIV_EXP_DATE" property="receiveDate.receiveDate.dateOfymd"/>
        <id column="ARRIVAL_SEQ" property="receiveApp.receive.arrivalSeqNo.seqNo"/>
        <id column="TOTAL_AMOUNT" property="rcvPriceAmount.rcvPriceAmount.amount"/>
        <id column="APP_ROUTE_NAME" property="receiveApp.receive.receiveAppRoute.approute.appRouteName"/>
        <id column="APP_ROUTE_NO" property="receiveApp.receive.receiveAppRoute.approute.appRouteNo"/>
        <id column="APP_VOUCHER_KEY" property="appManagement.appVoucherKey.appVoucherKey"/>
        <id column="BACK_APP_COMMENTS" property="appManagement.backApp.backAppReason.backReason.comment"/>
        <id column="RB_SEQ" property="receiveApp.receive.rbInd.rbSeq"/>
        <id column="ARRIV_SECTION_CD" property="receiveUser.section.sectionCd"/>
        <id column="ARRIV_SECTION_NAME" property="receiveUser.section.sectionName"/>
        <id column="ARRIV_USER_ID" property="receiveUser.userID"/>
        <id column="ARRIV_USER_NAME" property="receiveUser.userName"/>
        <id column="SHIPMENT_DATE" property="shipment.shipmentDate.shipmentDate.dateOfymd"/>
        <id column="SHIPMENT_VOL" property="shipment.shipmentVol.shipmentVol.vol"/>
        <id column="ARVEXP_DATE" property="shipment.arrivalDate.arrivalDate.dateOfymd"/>
        <id column="SHIPMENT_REMARK" property="shipment.shipmentRemark.remark.comment"/>
        <id column="HAVE_IN_STOCK_FLG" property="haveInStockFlg.haveInStockFlg"/>
        <id column="STOCK_COMPANY_CD" property="stockPlace.company.companyCd"/>
        <id column="STOCK_SECTION_PLACE_CD" property="stockPlace.sectionPlace.sectionPlaceCd"/>
        <id column="STOCK_PLACE_CD" property="stockPlace.stockPlaceCd"/>
        <id column="STOCK_PLACE_NAME" property="stockPlace.stockPlaceName"/>

        <id column="EXT_TXT_1" property="detailExtItem.extendTxt.extendTxt1"/>
        <id column="EXT_TXT_2" property="detailExtItem.extendTxt.extendTxt2"/>
        <id column="EXT_TXT_3" property="detailExtItem.extendTxt.extendTxt3"/>
        <id column="EXT_TXT_4" property="detailExtItem.extendTxt.extendTxt4"/>
        <id column="EXT_TXT_5" property="detailExtItem.extendTxt.extendTxt5"/>
        <id column="EXT_TXT_6" property="detailExtItem.extendTxt.extendTxt6"/>
        <id column="EXT_TXT_7" property="detailExtItem.extendTxt.extendTxt7"/>
        <id column="EXT_TXT_8" property="detailExtItem.extendTxt.extendTxt8"/>
        <id column="EXT_TXT_9" property="detailExtItem.extendTxt.extendTxt9"/>
        <id column="EXT_TXT_10" property="detailExtItem.extendTxt.extendTxt10"/>
        <id column="EXT_AREA_1" property="detailExtItem.extendArea.extendArea1"/>
        <id column="EXT_AREA_2" property="detailExtItem.extendArea.extendArea2"/>
        <id column="EXT_AREA_3" property="detailExtItem.extendArea.extendArea3"/>
        <id column="EXT_AREA_4" property="detailExtItem.extendArea.extendArea4"/>
        <id column="EXT_AREA_5" property="detailExtItem.extendArea.extendArea5"/>
        <id column="EXT_DATE_1" property="detailExtItem.extendDate.extendDate1.dateOfymd"/>
        <id column="EXT_DATE_2" property="detailExtItem.extendDate.extendDate2.dateOfymd"/>
        <id column="EXT_DATE_3" property="detailExtItem.extendDate.extendDate3.dateOfymd"/>
        <id column="EXT_DATE_4" property="detailExtItem.extendDate.extendDate4.dateOfymd"/>
        <id column="EXT_DATE_5" property="detailExtItem.extendDate.extendDate5.dateOfymd"/>
        <id column="EXT_INT_1" property="detailExtItem.extendInt.extendInt1.value"/>
        <id column="EXT_INT_2" property="detailExtItem.extendInt.extendInt2.value"/>
        <id column="EXT_INT_3" property="detailExtItem.extendInt.extendInt3.value"/>
        <id column="EXT_INT_4" property="detailExtItem.extendInt.extendInt4.value"/>
        <id column="EXT_INT_5" property="detailExtItem.extendInt.extendInt5.value"/>
        <id column="EXT_INT_6" property="detailExtItem.extendInt.extendInt6.value"/>
        <id column="EXT_INT_7" property="detailExtItem.extendInt.extendInt7.value"/>
        <id column="EXT_INT_8" property="detailExtItem.extendInt.extendInt8.value"/>
        <id column="EXT_INT_9" property="detailExtItem.extendInt.extendInt9.value"/>
        <id column="EXT_INT_10" property="detailExtItem.extendInt.extendInt10.value"/>
        <id column="EXT_DEC_1" property="detailExtItem.extendDec.extendDec1.value"/>
        <id column="EXT_DEC_2" property="detailExtItem.extendDec.extendDec2.value"/>
        <id column="EXT_DEC_3" property="detailExtItem.extendDec.extendDec3.value"/>
        <id column="EXT_DEC_4" property="detailExtItem.extendDec.extendDec4.value"/>
        <id column="EXT_DEC_5" property="detailExtItem.extendDec.extendDec5.value"/>
        <id column="EXT_SEL_1" property="detailExtItem.extendSel.extendSel1"/>
        <id column="EXT_SEL_2" property="detailExtItem.extendSel.extendSel2"/>
        <id column="EXT_SEL_3" property="detailExtItem.extendSel.extendSel3"/>
        <id column="EXT_SEL_4" property="detailExtItem.extendSel.extendSel4"/>
        <id column="EXT_SEL_5" property="detailExtItem.extendSel.extendSel5"/>
        <id column="EXT_SEL_6" property="detailExtItem.extendSel.extendSel6"/>
        <id column="EXT_SEL_7" property="detailExtItem.extendSel.extendSel7"/>
        <id column="EXT_SEL_8" property="detailExtItem.extendSel.extendSel8"/>
        <id column="EXT_SEL_9" property="detailExtItem.extendSel.extendSel9"/>
        <id column="EXT_SEL_10" property="detailExtItem.extendSel.extendSel10"/>
        <id column="EXT_CHK_1" property="detailExtItem.extendChk.extendChk1"/>
        <id column="EXT_CHK_2" property="detailExtItem.extendChk.extendChk2"/>
        <id column="EXT_CHK_3" property="detailExtItem.extendChk.extendChk3"/>
        <id column="EXT_CHK_4" property="detailExtItem.extendChk.extendChk4"/>
        <id column="EXT_CHK_5" property="detailExtItem.extendChk.extendChk5"/>
        <id column="EXT_FILE_1" property="detailExtItem.extendFile.extendFile1.fileName"/>
        <id column="EXT_FILE_2" property="detailExtItem.extendFile.extendFile2.fileName"/>
        <id column="EXT_FILE_3" property="detailExtItem.extendFile.extendFile3.fileName"/>
        <id column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <id column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <id column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <id column="EXT_MST_1" property="detailExtItem.extendMst.extendMst1.mstKey"/>
        <id column="EXT_MST_2" property="detailExtItem.extendMst.extendMst2.mstKey"/>
        <id column="EXT_MST_3" property="detailExtItem.extendMst.extendMst3.mstKey"/>
        <id column="EXT_MST_4" property="detailExtItem.extendMst.extendMst4.mstKey"/>
        <id column="EXT_MST_5" property="detailExtItem.extendMst.extendMst5.mstKey"/>
        <id column="EXT_MST_6" property="detailExtItem.extendMst.extendMst6.mstKey"/>
        <id column="EXT_MST_7" property="detailExtItem.extendMst.extendMst7.mstKey"/>
        <id column="EXT_MST_8" property="detailExtItem.extendMst.extendMst8.mstKey"/>
        <id column="EXT_MST_NAME_1" property="detailExtItem.extendMst.extendMst1.mstName"/>
        <id column="EXT_MST_NAME_2" property="detailExtItem.extendMst.extendMst2.mstName"/>
        <id column="EXT_MST_NAME_3" property="detailExtItem.extendMst.extendMst3.mstName"/>
        <id column="EXT_MST_NAME_4" property="detailExtItem.extendMst.extendMst4.mstName"/>
        <id column="EXT_MST_NAME_5" property="detailExtItem.extendMst.extendMst5.mstName"/>
        <id column="EXT_MST_NAME_6" property="detailExtItem.extendMst.extendMst6.mstName"/>
        <id column="EXT_MST_NAME_7" property="detailExtItem.extendMst.extendMst7.mstName"/>
        <id column="EXT_MST_NAME_8" property="detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>

    <!-- 受入詳細を取得 -->
    <select id="receiveDetail" resultMap="ReceiveDetail_Map">
        SELECT
            DELIV_KEY_NO as "delivKeyNo.delivKeyNo",
            ARRIVAL_STATUS as "delivStatus",
            ARRIV_EXP_DATE as "ARRIV_EXP_DATE",
            CURRENCY_CD as "currency.currencyCd",
            DELIV_VOL as "receiveVol.receiveVol.vol",
            UNIT_NAME as "unit.unitName",
            ARRIVAL_SEQ as "ARRIVAL_SEQ",
            TOTAL_AMOUNT as "TOTAL_AMOUNT",
            HAVE_IN_STOCK_FLG,
            STOCK_COMPANY_CD,
            STOCK_SECTION_PLACE_CD,
            STOCK_PLACE_CD,
            STOCK_PLACE_NAME,
            INSPECT_IND as "inspectInd.inspectInd",
            ARRIV_REMARK as "receiveRemark.remark.comment",
            APP_ROUTE_NAME as "APP_ROUTE_NAME",
            APP_ROUTE_NO as "APP_ROUTE_NO",
            APP_VOUCHER_KEY as "APP_VOUCHER_KEY",
            BACK_APP_COMMENTS as "BACK_APP_COMMENTS",
            ARRIV_SECTION_CD as "ARRIV_SECTION_CD",
            ARRIV_SECTION_NAME as "ARRIV_SECTION_NAME",
            ARRIV_USER_ID as "ARRIV_USER_ID",
            ARRIV_USER_NAME as "ARRIV_USER_NAME",
            SHIPMENT_DATE,
            SHIPMENT_VOL,
            ARVEXP_DATE,
            SHIPMENT_REMARK,
            ARRIVAL_VERSION,
            CORRECT_CD,
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLNoTableName("")}
        FROM (
            SELECT 
                T_ARRIVAL.DELIV_KEY_NO,
                T_ARRIVAL.ARRIVAL_STATUS,
                T_ARRIVAL.ARRIV_EXP_DATE,
                T_ORDER.CURRENCY_CD,
                T_ARRIVAL.DELIV_VOL,
                T_ORDER.UNIT_NAME,
                T_ARRIVAL.ARRIVAL_SEQ,
                T_ARRIVAL.TOTAL_AMOUNT,
                T_ARRIVAL.HAVE_IN_STOCK_FLG,
                T_ARRIVAL.STOCK_COMPANY_CD,
                T_ARRIVAL.STOCK_SECTION_PLACE_CD,
                T_ARRIVAL.STOCK_PLACE_CD,
                T_ARRIVAL.STOCK_PLACE_NAME,
                T_ARRIVAL.INSPECT_IND,
                T_ARRIVAL.ARRIV_REMARK,
                T_ARRIVAL.APP_ROUTE_NAME,
                T_ARRIVAL.APP_ROUTE_NO,
                T_APPROVAL.APP_VOUCHER_KEY,
                T_APPROVAL.BACK_APP_COMMENTS,
                T_ARRIVAL.ARRIV_SECTION_CD,
                T_ARRIVAL.ARRIV_SECTION_NAME,
                T_ARRIVAL.ARRIV_USER_ID,
                T_ARRIVAL.ARRIV_USER_NAME,
                T_SHIPMENT.SHIPMENT_DATE,
                T_SHIPMENT.SHIPMENT_VOL,
                T_SHIPMENT.ARVEXP_DATE,
                T_SHIPMENT.SHIPMENT_REMARK,
                T_ARRIVAL.ARRIVAL_VERSION,
                T_ARRIVAL.CORRECT_CD,
                ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ARRIVAL")}
            FROM 
                T_ARRIVAL
            INNER JOIN 
                T_ORDER
            ON 
                T_ARRIVAL.ORDER_NO = T_ORDER.ORDER_NO
            AND T_ORDER.DELETE_FLG = '0'
            AND T_ORDER.NEW_APP_FLG = '1'
            LEFT JOIN 
                T_APPROVAL
            ON 
                T_APPROVAL.APP_VOUCHER_KEY = T_ARRIVAL.ARRIVAL_SEQ
            AND T_APPROVAL.APP_VOUCHER_IND = '3'
            AND T_APPROVAL.DELETE_FLG = '0'
            LEFT JOIN 
                T_SHIPMENT_MNG
            ON 
                T_ARRIVAL.DELIV_KEY_NO = T_SHIPMENT_MNG.DELIV_KEY_NO
            AND T_SHIPMENT_MNG.DELETE_FLG = 0
            LEFT JOIN 
                T_SHIPMENT
            ON 
                T_SHIPMENT.SHIPMENT_SEQ = T_SHIPMENT_MNG.NEW_SHIPMENT_SEQ
            AND T_SHIPMENT.CORRECT_CD != '3'
            AND T_SHIPMENT.DELETE_FLG = 0
            WHERE
                T_ARRIVAL.DELETE_FLG = '0'
                <if test="1== range">
                    AND T_ARRIVAL.ARRIVAL_STATUS = '04'
                </if>
                AND T_ORDER.ORDER_NO = #{orderNo.orderNo}
            <if test="1 != range">
                UNION ALL
                SELECT
                    T_SHIPMENT.DELIV_KEY_NO,
                    N'00' AS ARRIVAL_STATUS,
                    null AS ARRIV_EXP_DATE,
                    null AS CURRENCY_CD,
                    0 AS DELIV_VOL,
                    null AS UNIT_NAME,
                    null AS ARRIVAL_SEQ,
                    null AS TOTAL_AMOUNT,
                    null AS HAVE_IN_STOCK_FLG,
                    null AS STOCK_COMPANY_CD,
                    null AS STOCK_SECTION_PLACE_CD,
                    null AS STOCK_PLACE_CD,
                    null AS STOCK_PLACE_NAME,
                    null AS INSPECT_IND,
                    null AS ARRIV_REMARK,
                    null AS APP_ROUTE_NAME,
                    null AS APP_ROUTE_NO,
                    null AS APP_VOUCHER_KEY,
                    null AS BACK_APP_COMMENTS,
                    null AS ARRIV_SECTION_CD,
                    null AS ARRIV_SECTION_NAME,
                    null AS ARRIV_USER_ID,
                    null AS ARRIV_USER_NAME,
                    T_SHIPMENT.SHIPMENT_DATE,
                    T_SHIPMENT.SHIPMENT_VOL,
                    T_SHIPMENT.ARVEXP_DATE,
                    T_SHIPMENT.SHIPMENT_REMARK,
                    null AS ARRIVAL_VERSION,
                    null AS CORRECT_CD,
                    ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLNoTableName("null AS ")}
                FROM 
                    T_SHIPMENT
                INNER JOIN 
                    T_SHIPMENT_MNG
                ON 
                    T_SHIPMENT.SHIPMENT_SEQ = T_SHIPMENT_MNG.NEW_SHIPMENT_SEQ
                AND T_SHIPMENT_MNG.DELETE_FLG = 0
                INNER JOIN 
                    T_ORDER
                ON 
                    T_SHIPMENT_MNG.ORDER_NO = T_ORDER.ORDER_NO
                AND T_ORDER.DELETE_FLG = '0'
                AND T_ORDER.NEW_APP_FLG = '1'
                WHERE
                    T_SHIPMENT.DELETE_FLG = '0'
                AND T_SHIPMENT.CORRECT_CD != '3'
                AND T_ORDER.ORDER_NO = #{orderNo.orderNo}
                AND NOT EXISTS (
                    SELECT 
                        T_SHIPMENT_MNG.ORDER_NO 
                    FROM 
                        T_RECEIVE_MNG 
                    WHERE 
                        T_SHIPMENT_MNG.ORDER_NO = T_RECEIVE_MNG.ORDER_NO
                    AND T_SHIPMENT_MNG.DELIV_KEY_NO = T_RECEIVE_MNG.DELIV_KEY_NO
                )
            </if>
        )
        UNION ALL
        SELECT
            DELIV_KEY_NO as "delivKeyNo.delivKeyNo",
            ARRIVAL_STATUS as "delivStatus",
            ARRIV_EXP_DATE as "ARRIV_EXP_DATE",
            CURRENCY_CD as "currency.currencyCd",
            DELIV_VOL as "receiveVol.receiveVol.vol",
            UNIT_NAME as "unit.unitName",
            ARRIVAL_SEQ as "ARRIVAL_SEQ",
            TOTAL_AMOUNT as "TOTAL_AMOUNT",
            HAVE_IN_STOCK_FLG,
            STOCK_COMPANY_CD,
            STOCK_SECTION_PLACE_CD,
            STOCK_PLACE_CD,
            STOCK_PLACE_NAME,
            INSPECT_IND as "inspectInd.inspectInd",
            ARRIV_REMARK as "receiveRemark.remark.comment",
            APP_ROUTE_NAME as "APP_ROUTE_NAME",
            APP_ROUTE_NO as "APP_ROUTE_NO",
            APP_VOUCHER_KEY as "APP_VOUCHER_KEY",
            BACK_APP_COMMENTS as "BACK_APP_COMMENTS",
            ARRIV_SECTION_CD as "ARRIV_SECTION_CD",
            ARRIV_SECTION_NAME as "ARRIV_SECTION_NAME",
            ARRIV_USER_ID as "ARRIV_USER_ID",
            ARRIV_USER_NAME as "ARRIV_USER_NAME",
            SHIPMENT_DATE,
            SHIPMENT_VOL,
            ARVEXP_DATE,
            SHIPMENT_REMARK,
            ARRIVAL_VERSION,
            CORRECT_CD,
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLNoTableName("")}
        FROM (
            SELECT 
                T_ARRIVAL.DELIV_KEY_NO,
                T_ARRIVAL.ARRIVAL_STATUS,
                T_ARRIVAL.ARRIV_EXP_DATE,
                T_ORDER.CURRENCY_CD,
                T_ARRIVAL.DELIV_VOL,
                T_ORDER.UNIT_NAME,
                T_ARRIVAL.ARRIVAL_SEQ,
                T_ARRIVAL.TOTAL_AMOUNT,
                T_ARRIVAL.HAVE_IN_STOCK_FLG,
                T_ARRIVAL.STOCK_COMPANY_CD,
                T_ARRIVAL.STOCK_SECTION_PLACE_CD,
                T_ARRIVAL.STOCK_PLACE_CD,
                T_ARRIVAL.STOCK_PLACE_NAME,
                T_ARRIVAL.INSPECT_IND,
                T_ARRIVAL.ARRIV_REMARK,
                T_ARRIVAL.APP_ROUTE_NAME,
                T_ARRIVAL.APP_ROUTE_NO,
                T_APPROVAL.APP_VOUCHER_KEY,
                T_APPROVAL.BACK_APP_COMMENTS,
                T_ARRIVAL.ARRIV_SECTION_CD,
                T_ARRIVAL.ARRIV_SECTION_NAME,
                T_ARRIVAL.ARRIV_USER_ID,
                T_ARRIVAL.ARRIV_USER_NAME,
                T_SHIPMENT.SHIPMENT_DATE,
                T_SHIPMENT.SHIPMENT_VOL,
                T_SHIPMENT.ARVEXP_DATE,
                T_SHIPMENT.SHIPMENT_REMARK,
                T_ARRIVAL.ARRIVAL_VERSION,
                T_ARRIVAL.CORRECT_CD,
                ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ARRIVAL")}
            FROM 
                H_ARRIVAL T_ARRIVAL
            INNER JOIN 
                H_ORDER T_ORDER
            ON 
                T_ARRIVAL.ORDER_NO = T_ORDER.ORDER_NO
            AND T_ORDER.DELETE_FLG = '0'
            AND T_ORDER.NEW_APP_FLG = '1'
            LEFT JOIN 
                H_APPROVAL T_APPROVAL
            ON 
                T_APPROVAL.APP_VOUCHER_KEY = T_ARRIVAL.ARRIVAL_SEQ
            AND T_APPROVAL.APP_VOUCHER_IND = '3'
            AND T_APPROVAL.DELETE_FLG = '0'
            LEFT JOIN 
                H_SHIPMENT_MNG T_SHIPMENT_MNG
            ON 
                T_ARRIVAL.DELIV_KEY_NO = T_SHIPMENT_MNG.DELIV_KEY_NO
            AND T_SHIPMENT_MNG.DELETE_FLG = 0
            LEFT JOIN 
                H_SHIPMENT T_SHIPMENT
            ON 
                T_SHIPMENT.SHIPMENT_SEQ = T_SHIPMENT_MNG.NEW_SHIPMENT_SEQ
            AND T_SHIPMENT.CORRECT_CD != '3'
            AND T_SHIPMENT.DELETE_FLG = 0
            WHERE
                T_ARRIVAL.DELETE_FLG = '0'
            <if test="1== range">
                AND T_ARRIVAL.ARRIVAL_STATUS = '04'
            </if>
            AND T_ORDER.ORDER_NO = #{orderNo.orderNo}
            <if test="1 != range">
                UNION ALL
                SELECT
                    T_SHIPMENT.DELIV_KEY_NO,
                    N'00' AS ARRIVAL_STATUS,
                    null AS ARRIV_EXP_DATE,
                    null AS CURRENCY_CD,
                    0 AS DELIV_VOL,
                    null AS UNIT_NAME,
                    null AS ARRIVAL_SEQ,
                    null AS TOTAL_AMOUNT,
                    null AS HAVE_IN_STOCK_FLG,
                    null AS STOCK_COMPANY_CD,
                    null AS STOCK_SECTION_PLACE_CD,
                    null AS STOCK_PLACE_CD,
                    null AS STOCK_PLACE_NAME,
                    null AS INSPECT_IND,
                    null AS ARRIV_REMARK,
                    null AS APP_ROUTE_NAME,
                    null AS APP_ROUTE_NO,
                    null AS APP_VOUCHER_KEY,
                    null AS BACK_APP_COMMENTS,
                    null AS ARRIV_SECTION_CD,
                    null AS ARRIV_SECTION_NAME,
                    null AS ARRIV_USER_ID,
                    null AS ARRIV_USER_NAME,
                    T_SHIPMENT.SHIPMENT_DATE,
                    T_SHIPMENT.SHIPMENT_VOL,
                    T_SHIPMENT.ARVEXP_DATE,
                    T_SHIPMENT.SHIPMENT_REMARK,
                    null AS ARRIVAL_VERSION,
                    null AS CORRECT_CD,
                    ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLNoTableName("null AS ")}
                FROM 
                    H_SHIPMENT T_SHIPMENT
                INNER JOIN 
                    H_SHIPMENT_MNG T_SHIPMENT_MNG
                ON 
                    T_SHIPMENT.SHIPMENT_SEQ = T_SHIPMENT_MNG.NEW_SHIPMENT_SEQ
                AND T_SHIPMENT_MNG.DELETE_FLG = 0
                INNER JOIN 
                    H_ORDER T_ORDER
                ON 
                    T_SHIPMENT_MNG.ORDER_NO = T_ORDER.ORDER_NO
                AND T_ORDER.DELETE_FLG = '0'
                AND T_ORDER.NEW_APP_FLG = '1'
                WHERE
                    T_SHIPMENT.DELETE_FLG = '0'
                AND T_SHIPMENT.CORRECT_CD != '3'
                AND T_ORDER.ORDER_NO = #{orderNo.orderNo}
                AND NOT EXISTS (
                    SELECT 
                        T_SHIPMENT_MNG.ORDER_NO 
                    FROM 
                        H_RECEIVE_MNG T_RECEIVE_MNG
                    WHERE 
                        T_SHIPMENT_MNG.ORDER_NO = T_RECEIVE_MNG.ORDER_NO
                    AND T_SHIPMENT_MNG.DELIV_KEY_NO = T_RECEIVE_MNG.DELIV_KEY_NO
                )
            </if>
        )
        ORDER BY 
            "delivKeyNo.delivKeyNo",
            ARRIVAL_VERSION,
            CORRECT_CD
    </select>

    <select id="getOrderAndDelivVolByOrderNo" resultType="fw.domain.slip.order.order.OrderVolume">
        SELECT 
            T_ORDER.ORDER_VOL as "orderVol.vol"
            , DELIV_VOL_TOTAL.DELIV_VOL as "receivedVol.vol"
        FROM T_ORDER
        LEFT JOIN (
            SELECT ORDER_NO, SUM(DELIV_VOL) DELIV_VOL
            FROM T_RECEIVE_MNG
            WHERE DELETE_FLG = '0'
            GROUP BY ORDER_NO
        ) DELIV_VOL_TOTAL
        ON T_ORDER.ORDER_NO = DELIV_VOL_TOTAL.ORDER_NO
        WHERE T_ORDER.ORDER_NO = #{orderNo.orderNo}
            AND T_ORDER.NEW_APP_FLG = '1'
            AND T_ORDER.DELETE_FLG = '0'
        UNION ALL
        SELECT 
            T_ORDER.ORDER_VOL as "orderVol.vol"
            , DELIV_VOL_TOTAL.DELIV_VOL as "receivedVol.vol"
        FROM H_ORDER T_ORDER
        LEFT JOIN (
            SELECT ORDER_NO, SUM(DELIV_VOL) DELIV_VOL
            FROM H_RECEIVE_MNG T_RECEIVE_MNG
            WHERE DELETE_FLG = '0'
            GROUP BY ORDER_NO
        ) DELIV_VOL_TOTAL
        ON T_ORDER.ORDER_NO = DELIV_VOL_TOTAL.ORDER_NO
        WHERE T_ORDER.ORDER_NO = #{orderNo.orderNo}
            AND T_ORDER.NEW_APP_FLG = '1'
            AND T_ORDER.DELETE_FLG = '0'
    </select>

    <select id="getOrderCancelVolByOrderNo" resultType="fw.domain.slip.order.order.OrderCancel">
        SELECT 
            T_ORDER.ORDER_CANCEL_VOL as "orderCancelVol.vol"
        FROM T_ORDER
        WHERE T_ORDER.ORDER_NO = #{orderNo.orderNo}
            AND T_ORDER.NEW_APP_FLG = '1'
            AND T_ORDER.DELETE_FLG = '0'
        UNION ALL
        SELECT 
            T_ORDER.ORDER_CANCEL_VOL as "orderCancelVol.vol"
        FROM H_ORDER T_ORDER
        WHERE T_ORDER.ORDER_NO = #{orderNo.orderNo}
            AND T_ORDER.NEW_APP_FLG = '1'
            AND T_ORDER.DELETE_FLG = '0'
    </select>
</mapper>