<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.itemkind.DefaultItemKindMapper">
	<resultMap type="fw.domain.mst.material.itemkind.ItemKind"
		id="ItemKind_Map">
		<result column="COMPANY_CD" property="buyUser.buyUser.section.company.companyCd" />
		<result column="ITEM_CLASS_L" property="itemClassL" />
		<result column="ITEM_CLASS_M" property="itemClassM" />
		<result column="ITEM_CLASS_S" property="itemClassS" />
	</resultMap>

	<select id="getDefaultItemKind" resultMap="ItemKind_Map">
		SELECT
				M_DEFAULT_ITEM_KIND.COMPANY_CD,
				M_DEFAULT_ITEM_KIND.ITEM_CLASS_L,
				M_DEFAULT_ITEM_KIND.ITEM_CLASS_M,
				M_DEFAULT_ITEM_KIND.ITEM_CLASS_S
		FROM
			M_DEFAULT_ITEM_KIND
		WHERE
			M_DEFAULT_ITEM_KIND.COMPANY_CD = #{companyCd} AND
			M_DEFAULT_ITEM_KIND.SECTION_CD = #{sectionCd} AND
			M_DEFAULT_ITEM_KIND.USER_ID = #{userId} AND
			M_DEFAULT_ITEM_KIND.TERM_FLG = '0' 	
	</select>
	
	<insert id="registerDefaultItemKind">
		INSERT INTO M_DEFAULT_ITEM_KIND (
			COMPANY_CD,
			SECTION_CD,
			USER_ID,
			ITEM_CLASS_L,
			ITEM_CLASS_M,
			ITEM_CLASS_S,
			TERM_FLG,
			LAST_UPD_DATE,
			LAST_UPD_COMPANY_CD,
			LAST_UPD_SECTION_CD,
			LAST_UPD_USER_ID,
			REG_DATE,
			REG_COMPANY_CD,
			REG_SECTION_CD,
			REG_USER_ID
		) VALUES (
			#{userIdentify.companyCd},
			#{userIdentify.sectionCd},
			#{userIdentify.userId},
			#{itemKind.itemClassL},
			#{itemKind.itemClassM},
			#{itemKind.itemClassS},
			'0',
			'${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
            '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
		)
	</insert>
	
	<delete id="unregisterDefaultItemKind">
		DELETE FROM
			M_DEFAULT_ITEM_KIND
		WHERE
			COMPANY_CD = #{companyCd} AND
			SECTION_CD = #{sectionCd} AND
			USER_ID = #{userId}
	</delete>
</mapper>