<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.options.budget.ringibudgethistlist.RingiBudgetHistListMapper">

    <sql id="listKeyIdentityWhereCondition">
        T_RINGI_BUDGET_HIST.AUTO_DELETE_FLG = '0' 
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(ringiBudgetIdentify.company.companyCd)">
            AND T_RINGI_BUDGET_HIST.COMPANY_CD = #{ringiBudgetIdentify.company.companyCd} 
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(ringiBudgetIdentify.sectionPlace.sectionPlaceCd)">
            AND T_RINGI_BUDGET_HIST.SECTION_PLACE_CD = #{ringiBudgetIdentify.sectionPlace.sectionPlaceCd} 
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(ringiBudgetIdentify.budgetNo.budgetNo)">
            AND T_RINGI_BUDGET_HIST.BUDGET_NO = #{ringiBudgetIdentify.budgetNo.budgetNo} 
        </if>
    </sql>

    <resultMap type="fw.domain.options.budget.ringibudgethistlist.RingiBudgetHistListItem" 
        id="RingiBudgetHistListItem_Map">
        <id column="COMPANY_CD" property="ringiBudgetHistIdentify.company.companyCd" />
        <id column="SECTION_PLACE_CD" property="ringiBudgetHistIdentify.sectionPlace.sectionPlaceCd" />
        <id column="BUDGET_NO" property="ringiBudgetHistIdentify.budgetNo.budgetNo" />
        <id column="BUDGET_VERSION" property="ringiBudgetHistIdentify.budgetVersion.budgetVersion" />
        <id column="LAST_UPD_DATE" property="ringiBudgetHistIdentify.lastUpdDate.dateOfymd" />
        <id column="REQ_SECTION_CD" property="reqSectionCd" />
        <id column="REQ_SECTION_NAME" property="reqSectionName" />
        <id column="BUDGET_TITLE_NAME" property="budgetTitleName" />
        <id column="PLAN_USER_ID" property="planUserID" />
        <id column="PLAN_USER_NAME" property="planUserName" />
        <id column="PERMIT_DATE" property="permitDate.dateOfymd" />
        <id column="CURRENCY_CD" property="currencyCd" />
        <id column="BUDGET_AMOUNT" property="budgetAmount.amount" />
        <id column="END_EXP_DATE" property="endExpDate.dateOfymd" />
        <id column="END_DATE" property="endDate.dateOfymd" />
        <id column="RIN_TOTAL_CHK_IND" property="rinTotalChkInd" />
        <id column="DIFF_MAX_AMOUNT" property="diffMaxAmount.amount" />
        <id column="BUDGET_NOTE" property="budgetNote" />
        <id column="LAST_UPD_USER_ID" property="lastUpdUserID" />
        <id column="USER_NAME" property="lastUpdUserName" />
    </resultMap>

    <resultMap type="fw.domain.options.budget.ringibudgethist.RingiBudgetHistIdentify" 
        id="RingiBudgetHistIdentify_Map">
        <id column="COMPANY_CD" property="company.companyCd" />
        <id column="SECTION_PLACE_CD" property="sectionPlace.sectionPlaceCd" />
        <id column="BUDGET_NO" property="budgetNo.budgetNo" />
        <id column="BUDGET_VERSION" property="budgetVersion.budgetVersion" />
        <id column="LAST_UPD_DATE" property="lastUpdDate.dateOfymd" />
    </resultMap>

    <resultMap type="fw.domain.options.budget.ringibudgethist.RingiBudgetHistManagement" 
        id="RingiBudgetHistManagement_Map">
        <id column="COMPANY_CD" property="ringiBudgetHistIdentify.company.companyCd" />
        <id column="SECTION_PLACE_CD" property="ringiBudgetHistIdentify.sectionPlace.sectionPlaceCd" />
        <id column="BUDGET_NO" property="ringiBudgetHistIdentify.budgetNo.budgetNo" />
        <id column="BUDGET_VERSION" property="ringiBudgetHistIdentify.budgetVersion.budgetVersion" />
        <id column="REQ_SECTION_CD" property="planInfo.reqSection.sectionCd" />
        <id column="REQ_SECTION_NAME" property="planInfo.reqSection.sectionName" />
        <id column="BUDGET_TITLE_NAME" property="titleName.titleName" />
        <id column="PLAN_USER_ID" property="planInfo.planUser.userID" />
        <id column="PLAN_USER_NAME" property="planInfo.planUser.userName" />
        <id column="PERMIT_DATE" property="permitDate.permitDate.dateOfymd" />
        <id column="CURRENCY_CD" property="ringiBudgetHistIdentify.company.currency.currencyCd" />
        <id column="BUDGET_AMOUNT" property="budgetAmount.budgetAmount.amount" />
        <id column="END_EXP_DATE" property="endExpDate.endExpDate.dateOfymd" />
        <id column="END_DATE" property="endDate.endDate.dateOfymd" />
        <id column="RIN_TOTAL_CHK_IND" property="rinTotalChkInd.rinTotalChkInd" />
        <id column="DIFF_MAX_AMOUNT" property="diffMaxAmount.diffMaxAmount.amount" />
        <id column="BUDGET_NOTE" property="sectionNote.sectionNote.comment" />
        <id column="LAST_UPD_DATE1" property="ringiBudgetHistIdentify.lastUpdDate.dateOfymd" />
        <id column="LAST_UPD_DATE2" property="registInfo.lastUpdDate" />
        <id column="LAST_UPD_COMPANY_CD" property="registInfo.lastUpdCompanyCd" />
        <id column="LAST_UPD_SECTION_CD" property="registInfo.lastUpdSectionCd" />
        <id column="LAST_UPD_USER_ID" property="registInfo.lastUpdUserId" />
        <id column="REG_DATE" property="registInfo.regDate" />
        <id column="REG_COMPANY_CD" property="registInfo.regCompanyCd" />
        <id column="REG_SECTION_CD" property="registInfo.regSectionCd" />
        <id column="REG_USER_ID" property="registInfo.regUserId" />
    </resultMap>

    <select id="listKeyIdentity"
        parameterType="fw.domain.options.budget.ringibudgethistlist.RingiBudgetHistListSearchCondition"
        resultMap="RingiBudgetHistIdentify_Map">
        SELECT 
            T_RINGI_BUDGET_HIST.COMPANY_CD 
            , T_RINGI_BUDGET_HIST.SECTION_PLACE_CD 
            , T_RINGI_BUDGET_HIST.BUDGET_NO 
            , T_RINGI_BUDGET_HIST.BUDGET_VERSION 
        FROM 
            T_RINGI_BUDGET_HIST 
        LEFT JOIN M_B_USER bUser 
            ON bUser.COMPANY_CD = T_RINGI_BUDGET_HIST.COMPANY_CD 
            AND T_RINGI_BUDGET_HIST.LAST_UPD_USER_ID = bUser.USER_ID 
            AND bUser.TERM_FLG = '0' 
        LEFT JOIN M_B_USER_LANG bUserLang 
            ON bUser.COMPANY_CD = bUserLang.COMPANY_CD 
            AND bUser.USER_ID = bUserLang.USER_ID 
            AND bUser.USE_LANGUAGE_IND = bUserLang.LANGUAGE_IND 
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
        ORDER BY ${searchCondition.columnOrder.columnOrder()} 
    </select>

    <select id="listPageItem" 
        parameterType="fw.domain.options.budget.ringibudgethistlist.RingiBudgetHistListSearchCondition"
        resultMap="RingiBudgetHistListItem_Map">
        SELECT 
            T_RINGI_BUDGET_HIST.COMPANY_CD 
            , T_RINGI_BUDGET_HIST.SECTION_PLACE_CD 
            , T_RINGI_BUDGET_HIST.BUDGET_NO 
            , T_RINGI_BUDGET_HIST.BUDGET_VERSION 
            , T_RINGI_BUDGET_HIST.LAST_UPD_DATE 
            , T_RINGI_BUDGET_HIST.REQ_SECTION_CD 
            , T_RINGI_BUDGET_HIST.REQ_SECTION_NAME 
            , T_RINGI_BUDGET_HIST.BUDGET_TITLE_NAME 
            , T_RINGI_BUDGET_HIST.PLAN_USER_ID 
            , T_RINGI_BUDGET_HIST.PLAN_USER_NAME 
            , T_RINGI_BUDGET_HIST.PERMIT_DATE 
            , T_RINGI_BUDGET_HIST.CURRENCY_CD 
            , T_RINGI_BUDGET_HIST.BUDGET_AMOUNT 
            , T_RINGI_BUDGET_HIST.END_EXP_DATE 
            , T_RINGI_BUDGET_HIST.END_DATE 
            , T_RINGI_BUDGET_HIST.RIN_TOTAL_CHK_IND 
            , T_RINGI_BUDGET_HIST.DIFF_MAX_AMOUNT 
            , T_RINGI_BUDGET_HIST.BUDGET_NOTE 
            , T_RINGI_BUDGET_HIST.LAST_UPD_USER_ID 
            , bUserLang.USER_NAME 
        FROM 
            T_RINGI_BUDGET_HIST 
        LEFT JOIN M_B_USER bUser 
            ON bUser.COMPANY_CD = T_RINGI_BUDGET_HIST.COMPANY_CD 
            AND T_RINGI_BUDGET_HIST.LAST_UPD_USER_ID = bUser.USER_ID 
            AND bUser.TERM_FLG = '0' 
        LEFT JOIN M_B_USER_LANG bUserLang 
            ON bUser.COMPANY_CD = bUserLang.COMPANY_CD 
            AND bUser.USER_ID = bUserLang.USER_ID 
            AND bUser.USE_LANGUAGE_IND = bUserLang.LANGUAGE_IND 
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
            AND ( 
                T_RINGI_BUDGET_HIST.COMPANY_CD 
                , T_RINGI_BUDGET_HIST.SECTION_PLACE_CD 
                , T_RINGI_BUDGET_HIST.BUDGET_NO 
                , T_RINGI_BUDGET_HIST.BUDGET_VERSION 
            ) IN 
            <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">
                ( 
                    #{keyList.company.companyCd, jdbcType=VARCHAR} 
                    , #{keyList.sectionPlace.sectionPlaceCd, jdbcType=VARCHAR} 
                    , #{keyList.budgetNo.budgetNo, jdbcType=VARCHAR}
                    , #{keyList.budgetVersion.budgetVersion, jdbcType=VARCHAR} 
                ) 
            </foreach>
        </where>
        ORDER BY ${searchCondition.columnOrder.columnOrder()} 
    </select>

    <select id="searchRingiBudgetHistManagement" 
        parameterType="fw.domain.options.budget.ringibudgethist.RingiBudgetHistIdentify"
        resultMap="RingiBudgetHistManagement_Map">
        SELECT 
            T_RINGI_BUDGET_HIST.COMPANY_CD 
            , T_RINGI_BUDGET_HIST.SECTION_PLACE_CD 
            , T_RINGI_BUDGET_HIST.BUDGET_NO 
            , T_RINGI_BUDGET_HIST.BUDGET_VERSION 
            , T_RINGI_BUDGET_HIST.REQ_SECTION_CD 
            , T_RINGI_BUDGET_HIST.REQ_SECTION_NAME 
            , T_RINGI_BUDGET_HIST.BUDGET_TITLE_NAME 
            , T_RINGI_BUDGET_HIST.PLAN_USER_ID 
            , T_RINGI_BUDGET_HIST.PLAN_USER_NAME 
            , T_RINGI_BUDGET_HIST.PERMIT_DATE 
            , T_RINGI_BUDGET_HIST.CURRENCY_CD 
            , T_RINGI_BUDGET_HIST.BUDGET_AMOUNT 
            , T_RINGI_BUDGET_HIST.END_EXP_DATE 
            , T_RINGI_BUDGET_HIST.END_DATE 
            , T_RINGI_BUDGET_HIST.RIN_TOTAL_CHK_IND 
            , T_RINGI_BUDGET_HIST.DIFF_MAX_AMOUNT 
            , T_RINGI_BUDGET_HIST.BUDGET_NOTE 
            , T_RINGI_BUDGET_HIST.AUTO_DELETE_FLG
            , T_RINGI_BUDGET_HIST.AUTO_DELETE_DATE
            , T_RINGI_BUDGET_HIST.LAST_UPD_DATE AS LAST_UPD_DATE1
            , T_RINGI_BUDGET_HIST.LAST_UPD_DATE AS LAST_UPD_DATE2
            , T_RINGI_BUDGET_HIST.LAST_UPD_COMPANY_CD
            , T_RINGI_BUDGET_HIST.LAST_UPD_SECTION_CD
            , T_RINGI_BUDGET_HIST.LAST_UPD_USER_ID
            , T_RINGI_BUDGET_HIST.REG_DATE
            , T_RINGI_BUDGET_HIST.REG_COMPANY_CD
            , T_RINGI_BUDGET_HIST.REG_SECTION_CD
            , T_RINGI_BUDGET_HIST.REG_USER_ID 
        FROM 
            T_RINGI_BUDGET_HIST 
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(company.companyCd)">
                AND T_RINGI_BUDGET_HIST.COMPANY_CD = #{company.companyCd} 
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlace.sectionPlaceCd)">
                AND T_RINGI_BUDGET_HIST.SECTION_PLACE_CD = #{sectionPlace.sectionPlaceCd} 
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetNo.budgetNo)">
                AND T_RINGI_BUDGET_HIST.BUDGET_NO = #{budgetNo.budgetNo} 
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetVersion.budgetVersion)">
                AND T_RINGI_BUDGET_HIST.BUDGET_VERSION = #{budgetVersion.budgetVersion} 
            </if>
        </where>
    </select>
</mapper>