<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.ord.order.OrderAllMapper">
    <resultMap type="fw.domain.slip.order.order.Order" id="Order_Map">
        <id column="ORDER_SEQ" property="orderIdentify.orderSeq"/>
        <id column="PRE_SEQ" property="orderIdentify.preSeq"/>
        <id column="ORDER_NO" property="orderManagement.orderNo.orderNo"/>
        <id column="ORDER_VERSION" property="orderManagement.historyNo.historyNo"/>
        <id column="INFO_CD" property="orderManagement.informationInd.informationInd"/>
        <id column="TITLE_NAME" property="orderManagement.titleName.titleName"/>
        <id column="ORDER_FIRST_DATE" property="schedule.orderDate.orderFirstDate.dateOfymd"/>
        <id column="ORDER_DATE" property="schedule.orderDate.orderDate.dateOfymd"/>
        <id column="LOAD_SECTION_CD" property="user.loadSection.loadSection.sectionCd"/>
        <id column="LOAD_SECTION_NAME" property="user.loadSection.loadSection.sectionName"/>
        <id column="DELIV_PLACE_CD" property="complement.delivPlace.delivPlaceCd"/>
        <id column="DELIV_PLACE_NAME" property="complement.delivPlace.delivPlaceName"/>
        <id column="SUP_ABBR_NAME" property="supplierFrom.supplierName.supplierAbbrName"/>
        <id column="SUP_ZIP_CD" property="supplierFrom.supplierContact.ctc.zipCd.zipCd"/>
        <id column="SUP_ADDRESS1" property="supplierFrom.supplierContact.ctc.address1.address"/>
        <id column="SUP_ADDRESS2" property="supplierFrom.supplierContact.ctc.address2.address"/>
        <id column="SUP_TEL_NO" property="supplierFrom.supplierContact.ctc.telNo.telNo"/>
        <id column="SUP_FAX_NO" property="supplierFrom.supplierContact.ctc.faxNo.faxNo"/>
        <id column="ITEM_CLASS_COMPANY_CD" property="accounting.orderItem.itemKind.itemClassCompanyCd"/>
        <id column="ITEM_CLASS_L_NAME" property="accounting.orderItem.itemKind.itemClassLName"/>
        <id column="ITEM_CLASS_M_NAME" property="accounting.orderItem.itemKind.itemClassMName"/>
        <id column="ITEM_CLASS_S_NAME" property="accounting.orderItem.itemKind.itemClassSName"/>
        <id column="ITEM_CD" property="accounting.orderItem.item.itemCd"/>
        <id column="ITEM_NAME" property="accounting.orderItem.item.itemName"/>
        <id column="KATASHIKI" property="accounting.orderItem.item.katashiki"/>
        <id column="MANUFACT_CD" property="accounting.orderItem.item.manufact.manufactCd"/>
        <id column="MANUFACT_NAME" property="accounting.orderItem.item.manufact.manufactName"/>
        <id column="INSPECT_IND" property="condition.inspectInd.inspectInd"/>
        <id column="ORDER_DELIV_DATE" property="schedule.dlvEst.dlvEst.dateOfymd"/>
        <id column="UNIT_PRICE_IND" property="status.priceManagement.unitPriceInd"/>
        <id column="PRICE_UNDEC_REASON" property="status.priceManagement.priceUndecReason.comment"/>
        <id column="PRICE_DEC_DATE" property="status.priceManagement.priceDecDate.dateOfymd"/>
        <id column="CURRENCY_CD" property="accounting.orderAmount.amountMng.currency.currencyCd"/>
        <id column="UNIT_PRICE" property="accounting.orderAmount.unitPrice.amount.amount"/>
        <id column="ORDER_VOL" property="accounting.orderAmount.orderVolume.orderVol.vol"/>
        <id column="UNIT_CD" property="accounting.orderItem.item.unit.unitCd"/>
        <id column="UNIT_NAME" property="accounting.orderItem.item.unit.unitName"/>
        <id column="ORDER_AMOUNT" property="accounting.orderAmount.orderAmount.amount"/>
        <id column="TAX_IND" property="accounting.orderAmount.amountMng.taxCalculationInd.taxInd.taxInd"/>
        <id column="CONSUMPT_IND" property="accounting.orderAmount.amountMng.taxCalculationInd.consumptInd.consumptInd"/>
        <id column="BUDGET_NO" property="complement.budgetNumber.budgetNumber"/>
        <id column="BUDGET_NAME" property="complement.budgetNumber.titleName.titleName"/>
        <id column="ORDER_CANCEL_VOL" property="orderCancel.orderCancelVol.vol"/>
        <id column="ORDER_CANCEL_AMOUNT" property="orderCancel.orderCancelAmount.amount"/>
        <id column="CURRENCY_CD" property="orderCancel.orderCancelAmount.currencyCd"/>
        <id column="ATTACH_FILE_SEQ1" property="complement.rangeByAttachFile1.attachFile.seqNo"/>
        <id column="ATTACH_FILE_SEQ2" property="complement.rangeByAttachFile2.attachFile.seqNo"/>
        <id column="ATTACH_FILE_SEQ3" property="complement.rangeByAttachFile3.attachFile.seqNo"/>
        <id column="REQ_SECTION_CD" property="user.reqUser.reqUser.section.sectionCd"/>
        <id column="REQ_SECTION_NAME" property="user.reqUser.reqUser.section.sectionName"/>
        <id column="REQ_USER_EXTENSION_NO" property="user.reqUser.reqUser.extNo.extensionNo"/>
        <id column="REQ_USER_TEL_NO" property="user.reqUser.reqUser.externalNo.externalNo"/>
        <id column="BUYER_SECTION_CD" property="user.buyUser.buyUser.section.sectionCd"/>
        <id column="BUYER_SECTION_NAME" property="user.buyUser.buyUser.section.sectionName"/>
        <id column="BUYER_USER_EXTENSION_NO" property="user.buyUser.buyUser.extNo.extensionNo"/>
        <id column="BUYER_USER_TEL_NO" property="user.buyUser.buyUser.externalNo.externalNo"/>
        <id column="BUYER_COMMENT" property="orderComment.buyerComment.comment.comment"/>
        <id column="REQ_TYPE_IND" property="reqInd.reqInd"/>
        <id column="FOR_SUPPRIER_COMMENT" property="orderComment.forSupplierComment.forSupplierComment.comment"/>
        <id column="APP_ROUTE_NO" property="approute.appRouteNo"/>
        <id column="APP_ROUTE_NAME" property="approute.appRouteName"/>
        <id column="FOR_BUYER_COMMENT" property="orderComment.forBuyerComment.forBuyerComment.comment"/>
        <id column="PUR_REQ_NO" property="orderManagement.slipOriginNo.purReqNo.purReqNo"/>
        <id column="REQ_CURRENCY_CD" property="requestAccount.unitPrice.currencyCd"/>
        <id column="REQ_UNIT_PRICE" property="requestAccount.unitPrice.amount"/>
        <id column="REQ_VOL" property="requestAccount.requestVol.vol"/>
        <id column="REQ_UNIT_NAME" property="requestAccount.unitName"/>
        <id column="REQ_CURRENCY_CD" property="requestAccount.requestAmount.currencyCd"/>
        <id column="REQ_AMOUNT" property="requestAccount.requestAmount.amount"/>
        <id column="PRICE_REG_FLG" property="condition.priceRegFlg"/>
        <id column="SUP_CONFIRM_FLG" property="status.supConfirmFlg.supConfirmFlag"/>
        <id column="attach_file_name_a" property="complement.rangeByAttachFile1.attachFile.fileName"/>
        <id column="attach_file_name_b" property="complement.rangeByAttachFile2.attachFile.fileName"/>
        <id column="attach_file_name_c" property="complement.rangeByAttachFile3.attachFile.fileName"/>
        <id column="requser.mail" property="user.reqUser.reqUser.mailAddr.mail"/>
        <id column="buyuser.mail" property="user.buyUser.buyUser.mailAddr.mail"/>
        <id column="ATTACHRANGE1" property="complement.rangeByAttachFile1.attachRange.attachRange"/>
        <id column="ATTACHRANGE2" property="complement.rangeByAttachFile2.attachRange.attachRange"/>
        <id column="ATTACHRANGE3" property="complement.rangeByAttachFile3.attachRange.attachRange"/>
        <id column="PAY_CONDITION_CD" property="payConditionItem.payConditionIdentify.payConditionCd"/>
        <id column="PAY_CONDITION_NAME" property="payConditionItem.payConditionName"/>
        <id column="EXT_TXT_1" property="detailExtItem.extendTxt.extendTxt1"/>
        <id column="EXT_TXT_2" property="detailExtItem.extendTxt.extendTxt2"/>
        <id column="EXT_TXT_3" property="detailExtItem.extendTxt.extendTxt3"/>
        <id column="EXT_TXT_4" property="detailExtItem.extendTxt.extendTxt4"/>
        <id column="EXT_TXT_5" property="detailExtItem.extendTxt.extendTxt5"/>
        <id column="EXT_TXT_6" property="detailExtItem.extendTxt.extendTxt6"/>
        <id column="EXT_TXT_7" property="detailExtItem.extendTxt.extendTxt7"/>
        <id column="EXT_TXT_8" property="detailExtItem.extendTxt.extendTxt8"/>
        <id column="EXT_TXT_9" property="detailExtItem.extendTxt.extendTxt9"/>
        <id column="EXT_TXT_10" property="detailExtItem.extendTxt.extendTxt10"/>
        <id column="EXT_AREA_1" property="detailExtItem.extendArea.extendArea1"/>
        <id column="EXT_AREA_2" property="detailExtItem.extendArea.extendArea2"/>
        <id column="EXT_AREA_3" property="detailExtItem.extendArea.extendArea3"/>
        <id column="EXT_AREA_4" property="detailExtItem.extendArea.extendArea4"/>
        <id column="EXT_AREA_5" property="detailExtItem.extendArea.extendArea5"/>
        <id column="EXT_DATE_1" property="detailExtItem.extendDate.extendDate1.dateOfymd"/>
        <id column="EXT_DATE_2" property="detailExtItem.extendDate.extendDate2.dateOfymd"/>
        <id column="EXT_DATE_3" property="detailExtItem.extendDate.extendDate3.dateOfymd"/>
        <id column="EXT_DATE_4" property="detailExtItem.extendDate.extendDate4.dateOfymd"/>
        <id column="EXT_DATE_5" property="detailExtItem.extendDate.extendDate5.dateOfymd"/>
        <id column="EXT_INT_1" property="detailExtItem.extendInt.extendInt1.value"/>
        <id column="EXT_INT_2" property="detailExtItem.extendInt.extendInt2.value"/>
        <id column="EXT_INT_3" property="detailExtItem.extendInt.extendInt3.value"/>
        <id column="EXT_INT_4" property="detailExtItem.extendInt.extendInt4.value"/>
        <id column="EXT_INT_5" property="detailExtItem.extendInt.extendInt5.value"/>
        <id column="EXT_INT_6" property="detailExtItem.extendInt.extendInt6.value"/>
        <id column="EXT_INT_7" property="detailExtItem.extendInt.extendInt7.value"/>
        <id column="EXT_INT_8" property="detailExtItem.extendInt.extendInt8.value"/>
        <id column="EXT_INT_9" property="detailExtItem.extendInt.extendInt9.value"/>
        <id column="EXT_INT_10" property="detailExtItem.extendInt.extendInt10.value"/>
        <id column="EXT_DEC_1" property="detailExtItem.extendDec.extendDec1.value"/>
        <id column="EXT_DEC_2" property="detailExtItem.extendDec.extendDec2.value"/>
        <id column="EXT_DEC_3" property="detailExtItem.extendDec.extendDec3.value"/>
        <id column="EXT_DEC_4" property="detailExtItem.extendDec.extendDec4.value"/>
        <id column="EXT_DEC_5" property="detailExtItem.extendDec.extendDec5.value"/>
        <id column="EXT_SEL_1" property="detailExtItem.extendSel.extendSel1"/>
        <id column="EXT_SEL_2" property="detailExtItem.extendSel.extendSel2"/>
        <id column="EXT_SEL_3" property="detailExtItem.extendSel.extendSel3"/>
        <id column="EXT_SEL_4" property="detailExtItem.extendSel.extendSel4"/>
        <id column="EXT_SEL_5" property="detailExtItem.extendSel.extendSel5"/>
        <id column="EXT_SEL_6" property="detailExtItem.extendSel.extendSel6"/>
        <id column="EXT_SEL_7" property="detailExtItem.extendSel.extendSel7"/>
        <id column="EXT_SEL_8" property="detailExtItem.extendSel.extendSel8"/>
        <id column="EXT_SEL_9" property="detailExtItem.extendSel.extendSel9"/>
        <id column="EXT_SEL_10" property="detailExtItem.extendSel.extendSel10"/>
        <id column="EXT_CHK_1" property="detailExtItem.extendChk.extendChk1"/>
        <id column="EXT_CHK_2" property="detailExtItem.extendChk.extendChk2"/>
        <id column="EXT_CHK_3" property="detailExtItem.extendChk.extendChk3"/>
        <id column="EXT_CHK_4" property="detailExtItem.extendChk.extendChk4"/>
        <id column="EXT_CHK_5" property="detailExtItem.extendChk.extendChk5"/>
        <id column="EXT_FILE_1" property="detailExtItem.extendFile.extendFile1.fileName"/>
        <id column="EXT_FILE_2" property="detailExtItem.extendFile.extendFile2.fileName"/>
        <id column="EXT_FILE_3" property="detailExtItem.extendFile.extendFile3.fileName"/>
        <id column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <id column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <id column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <id column="EXT_MST_1" property="detailExtItem.extendMst.extendMst1.mstKey"/>
        <id column="EXT_MST_2" property="detailExtItem.extendMst.extendMst2.mstKey"/>
        <id column="EXT_MST_3" property="detailExtItem.extendMst.extendMst3.mstKey"/>
        <id column="EXT_MST_4" property="detailExtItem.extendMst.extendMst4.mstKey"/>
        <id column="EXT_MST_5" property="detailExtItem.extendMst.extendMst5.mstKey"/>
        <id column="EXT_MST_6" property="detailExtItem.extendMst.extendMst6.mstKey"/>
        <id column="EXT_MST_7" property="detailExtItem.extendMst.extendMst7.mstKey"/>
        <id column="EXT_MST_8" property="detailExtItem.extendMst.extendMst8.mstKey"/>
        <id column="EXT_MST_NAME_1" property="detailExtItem.extendMst.extendMst1.mstName"/>
        <id column="EXT_MST_NAME_2" property="detailExtItem.extendMst.extendMst2.mstName"/>
        <id column="EXT_MST_NAME_3" property="detailExtItem.extendMst.extendMst3.mstName"/>
        <id column="EXT_MST_NAME_4" property="detailExtItem.extendMst.extendMst4.mstName"/>
        <id column="EXT_MST_NAME_5" property="detailExtItem.extendMst.extendMst5.mstName"/>
        <id column="EXT_MST_NAME_6" property="detailExtItem.extendMst.extendMst6.mstName"/>
        <id column="EXT_MST_NAME_7" property="detailExtItem.extendMst.extendMst7.mstName"/>
        <id column="EXT_MST_NAME_8" property="detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>
    <!--注文マスタを取得する-->
    <select id="detail" parameterType="fw.domain.slip.order.order.OrderIdentify" resultMap="Order_Map">
        SELECT 
            T_ORDER.ORDER_SEQ,
            T_ORDER.PRE_SEQ,
            T_ORDER.ORDER_NO,
            T_ORDER.ORDER_VERSION,
            T_ORDER.INFO_CD,
            T_ORDER.ORDER_STATUS AS "status.orderstatus.orderstatus",
            T_ORDER.TITLE_NAME,
            T_ORDER.ORDER_FIRST_DATE,
            T_ORDER.ORDER_DATE,
            T_ORDER.LOAD_SECTION_CD,
            T_ORDER.LOAD_SECTION_NAME, 
            T_ORDER.DELIV_PLACE_CD,
            T_ORDER.DELIV_PLACE_NAME, 
            T_ORDER.SUP_CD AS "supplierfrom.supcd", 
            T_ORDER.SUP_ABBR_NAME,
            T_ORDER.SUBCON_IND AS "supplierfrom.subcon.subconind",
            T_ORDER.EDI_IND AS "supplierfrom.ediInd.ediInd",
            T_ORDER.SUP_ZIP_CD,
            T_ORDER.SUP_ADDRESS1,
            T_ORDER.SUP_ADDRESS2,
            T_ORDER.SUP_TEL_NO,
            T_ORDER.SUP_FAX_NO,
            T_ORDER.SUBJECT_CD AS "accounting.subject.subjectcd",
            T_ORDER.SUBJECT_NAME AS "accounting.subject.subjectname", 
            T_ORDER.ITEM_CLASS_COMPANY_CD,
            T_ORDER.ITEM_CLASS_L_NAME, 
            T_ORDER.ITEM_CLASS_M_NAME,
            T_ORDER.ITEM_CLASS_S_NAME,
            T_ORDER.ITEM_CD,
            T_ORDER.ITEM_NAME,
            T_ORDER.KATASHIKI, 
            T_ORDER.MANUFACT_CD,
            T_ORDER.MANUFACT_NAME,
            T_ORDER.INSPECT_IND,
            T_ORDER.ORDER_DELIV_DATE,
            T_ORDER.UNIT_PRICE_IND,
            T_ORDER.PRICE_UNDEC_REASON,
            T_ORDER.PRICE_DEC_DATE,
            T_ORDER.CURRENCY_CD,
            T_ORDER.UNIT_PRICE,
            T_ORDER.ORDER_VOL,
            T_ORDER.UNIT_CD,
            T_ORDER.UNIT_NAME,
            T_ORDER.ORDER_AMOUNT,
            T_ORDER.TAX_IND,
            T_ORDER.CONSUMPT_IND,
            T_ORDER.BUDGET_NO,
            T_RINGI_BUDGET_DTL.BUDGET_NAME,
            T_ORDER.ORDER_CANCEL_VOL,
            T_ORDER.ORDER_CANCEL_AMOUNT,
            T_ORDER.SUP_CONFIRM_FLG,
            T_ORDER.ATTACH_FILE_SEQ1,
            T_ORDER.ATTACH_FILE_SEQ2,
            T_ORDER.ATTACH_FILE_SEQ3,
            T_ORDER.BUYER_COMMENT,
            T_ORDER.FOR_SUPPRIER_COMMENT,
            T_ORDER.REQ_SECTION_CD,
            T_ORDER.REQ_SECTION_NAME,
            T_ORDER.REQ_USER_EXTENSION_NO,
            T_ORDER.REQ_USER_TEL_NO,
            T_ORDER.REQ_USER_ID AS "user.requser.requser.userid",
            T_ORDER.REQ_USER_NAME AS "user.reqUser.reqUser.userName",
            T_ORDER.BUYER_SECTION_CD,
            T_ORDER.BUYER_SECTION_NAME,
            T_ORDER.BUYER_USER_EXTENSION_NO,
            T_ORDER.BUYER_USER_TEL_NO,
            T_ORDER.BUYER_USER_ID AS "user.buyuser.buyuser.userid",
            T_ORDER.BUYER_USER_NAME AS "user.buyuser.buyuser.username",
            T_ORDER.APP_ROUTE_NO,
            T_ORDER.APP_ROUTE_NAME,
            T_ORDER.PAY_CONDITION_CD,
            T_ORDER.PAY_CONDITION_NAME,
            T_PUR_APL.FOR_BUYER_COMMENT,
            T_PUR_APL.REQ_TYPE_IND,
            T_PUR_REQUEST.PUR_REQ_NO,
            T_PUR_REQUEST.CURRENCY_CD AS REQ_CURRENCY_CD,
            T_PUR_REQUEST.UNIT_PRICE AS REQ_UNIT_PRICE,
            T_PUR_REQUEST.REQ_VOL,
            T_PUR_REQUEST.UNIT_NAME AS REQ_UNIT_NAME,
            T_PUR_REQUEST.REQ_AMOUNT,
            T_PUR_REQUEST.PRICE_REG_FLG,
            M_B_USER_A.MAIL_ADDR AS "requser.mail",
            M_B_USER_B.MAIL_ADDR AS "buyuser.mail",
            T_ATTACH_MNG_A.ATTACH_FILE_NAME AS "attach_file_name_a",
            T_ATTACH_MNG_B.ATTACH_FILE_NAME AS "attach_file_name_b",
            T_ATTACH_MNG_C.ATTACH_FILE_NAME AS "attach_file_name_c",
            T_ATTACH_MNG_A.ATTACH_SCOPE AS "ATTACHRANGE1", 
            T_ATTACH_MNG_B.ATTACH_SCOPE AS "ATTACHRANGE2", 
            T_ATTACH_MNG_C.ATTACH_SCOPE AS "ATTACHRANGE3",
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ORDER")}
        FROM  T_ORDER
        LEFT JOIN T_PUR_REQUEST
            ON        T_ORDER.PUR_REQ_NO = T_PUR_REQUEST.PUR_REQ_NO
            AND  T_PUR_REQUEST.NEW_APP_FLG = '1'
            AND  T_PUR_REQUEST.NEW_FLG = '1'
            AND  T_PUR_REQUEST.DELETE_FLG  = '0'
        LEFT JOIN T_PUR_APL
            ON   T_PUR_APL.PUR_APL_SEQ = T_PUR_REQUEST.PUR_APL_SEQ
            AND  T_PUR_APL.NEW_APP_FLG = '1'
            AND  T_PUR_APL.DELETE_FLG  = '0'
        LEFT JOIN M_B_USER　M_B_USER_A
            ON    T_ORDER.REQ_COMPANY_CD = M_B_USER_A.COMPANY_CD
            AND  T_ORDER.REQ_USER_ID  = M_B_USER_A.USER_ID
            AND  M_B_USER_A.TERM_FLG = '0'
        LEFT JOIN M_B_USER　M_B_USER_B
            ON T_ORDER.BUYER_COMPANY_CD = M_B_USER_B.COMPANY_CD
            AND  T_ORDER.BUYER_USER_ID = M_B_USER_B.USER_ID
            AND  M_B_USER_B.TERM_FLG = '0'
        LEFT JOIN T_ATTACH_MNG T_ATTACH_MNG_A
            ON    T_ORDER.ATTACH_FILE_SEQ1 = T_ATTACH_MNG_A.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_A.DELETE_FLG  = '0'
        LEFT JOIN T_ATTACH_MNG T_ATTACH_MNG_B
            ON    T_ORDER.ATTACH_FILE_SEQ2 = T_ATTACH_MNG_B.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_B.DELETE_FLG  = '0'
        LEFT JOIN T_ATTACH_MNG T_ATTACH_MNG_C
            ON    T_ORDER.ATTACH_FILE_SEQ3 = T_ATTACH_MNG_C.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_C.DELETE_FLG  = '0'
        LEFT JOIN T_RINGI_BUDGET_DTL 
            ON T_RINGI_BUDGET_DTL.COMPANY_CD = T_ORDER.LOAD_COMPANY_CD 
            AND T_RINGI_BUDGET_DTL.SECTION_PLACE_CD = T_ORDER.LOAD_SECTION_PLACE_CD 
            AND T_RINGI_BUDGET_DTL.BUDGET_DTL_NO = T_ORDER.BUDGET_NO 
        WHERE    T_ORDER.ORDER_SEQ = #{orderSeq, jdbcType=VARCHAR}
        UNION ALL
        SELECT 
            T_ORDER.ORDER_SEQ,
            T_ORDER.PRE_SEQ,
            T_ORDER.ORDER_NO,
            T_ORDER.ORDER_VERSION,
            T_ORDER.INFO_CD,
            T_ORDER.ORDER_STATUS AS "status.orderstatus.orderstatus",
            T_ORDER.TITLE_NAME,
            T_ORDER.ORDER_FIRST_DATE,
            T_ORDER.ORDER_DATE,
            T_ORDER.LOAD_SECTION_CD,
            T_ORDER.LOAD_SECTION_NAME, 
            T_ORDER.DELIV_PLACE_CD,
            T_ORDER.DELIV_PLACE_NAME, 
            T_ORDER.SUP_CD AS "supplierfrom.supcd", 
            T_ORDER.SUP_ABBR_NAME,
            T_ORDER.SUBCON_IND AS "supplierfrom.subcon.subconind",
            T_ORDER.EDI_IND AS "supplierfrom.ediInd.ediInd",
            T_ORDER.SUP_ZIP_CD,
            T_ORDER.SUP_ADDRESS1,
            T_ORDER.SUP_ADDRESS2,
            T_ORDER.SUP_TEL_NO,
            T_ORDER.SUP_FAX_NO,
            T_ORDER.SUBJECT_CD AS "accounting.subject.subjectcd",
            T_ORDER.SUBJECT_NAME AS "accounting.subject.subjectname", 
            T_ORDER.ITEM_CLASS_COMPANY_CD,
            T_ORDER.ITEM_CLASS_L_NAME, 
            T_ORDER.ITEM_CLASS_M_NAME,
            T_ORDER.ITEM_CLASS_S_NAME,
            T_ORDER.ITEM_CD,
            T_ORDER.ITEM_NAME,
            T_ORDER.KATASHIKI, 
            T_ORDER.MANUFACT_CD,
            T_ORDER.MANUFACT_NAME,
            T_ORDER.INSPECT_IND,
            T_ORDER.ORDER_DELIV_DATE,
            T_ORDER.UNIT_PRICE_IND,
            T_ORDER.PRICE_UNDEC_REASON,
            T_ORDER.PRICE_DEC_DATE,
            T_ORDER.CURRENCY_CD,
            T_ORDER.UNIT_PRICE,
            T_ORDER.ORDER_VOL,
            T_ORDER.UNIT_CD,
            T_ORDER.UNIT_NAME,
            T_ORDER.ORDER_AMOUNT,
            T_ORDER.TAX_IND,
            T_ORDER.CONSUMPT_IND,
            T_ORDER.BUDGET_NO,
            T_RINGI_BUDGET_DTL.BUDGET_NAME,
            T_ORDER.ORDER_CANCEL_VOL,
            T_ORDER.ORDER_CANCEL_AMOUNT,
            T_ORDER.SUP_CONFIRM_FLG,
            T_ORDER.ATTACH_FILE_SEQ1,
            T_ORDER.ATTACH_FILE_SEQ2,
            T_ORDER.ATTACH_FILE_SEQ3,
            T_ORDER.BUYER_COMMENT,
            T_ORDER.FOR_SUPPRIER_COMMENT,
            T_ORDER.REQ_SECTION_CD,
            T_ORDER.REQ_SECTION_NAME,
            T_ORDER.REQ_USER_EXTENSION_NO,
            T_ORDER.REQ_USER_TEL_NO,
            T_ORDER.REQ_USER_ID AS "user.requser.requser.userid",
            T_ORDER.REQ_USER_NAME AS "user.reqUser.reqUser.userName",
            T_ORDER.BUYER_SECTION_CD,
            T_ORDER.BUYER_SECTION_NAME,
            T_ORDER.BUYER_USER_EXTENSION_NO,
            T_ORDER.BUYER_USER_TEL_NO,
            T_ORDER.BUYER_USER_ID AS "user.buyuser.buyuser.userid",
            T_ORDER.BUYER_USER_NAME AS "user.buyuser.buyuser.username",
            T_ORDER.APP_ROUTE_NO,
            T_ORDER.APP_ROUTE_NAME,
            T_ORDER.PAY_CONDITION_CD,
            T_ORDER.PAY_CONDITION_NAME,
            T_PUR_APL.FOR_BUYER_COMMENT,
            T_PUR_APL.REQ_TYPE_IND,
            T_PUR_REQUEST.PUR_REQ_NO,
            T_PUR_REQUEST.CURRENCY_CD AS REQ_CURRENCY_CD,
            T_PUR_REQUEST.UNIT_PRICE AS REQ_UNIT_PRICE,
            T_PUR_REQUEST.REQ_VOL,
            T_PUR_REQUEST.UNIT_NAME AS REQ_UNIT_NAME,
            T_PUR_REQUEST.REQ_AMOUNT,
            T_PUR_REQUEST.PRICE_REG_FLG,
            M_B_USER_A.MAIL_ADDR AS "requser.mail",
            M_B_USER_B.MAIL_ADDR AS "buyuser.mail",
            T_ATTACH_MNG_A.ATTACH_FILE_NAME AS "attach_file_name_a",
            T_ATTACH_MNG_B.ATTACH_FILE_NAME AS "attach_file_name_b",
            T_ATTACH_MNG_C.ATTACH_FILE_NAME AS "attach_file_name_c",
            T_ATTACH_MNG_A.ATTACH_SCOPE AS "ATTACHRANGE1", 
            T_ATTACH_MNG_B.ATTACH_SCOPE AS "ATTACHRANGE2", 
            T_ATTACH_MNG_C.ATTACH_SCOPE AS "ATTACHRANGE3",
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ORDER")}
        FROM  H_ORDER T_ORDER
        LEFT JOIN H_PUR_REQUEST T_PUR_REQUEST
            ON        T_ORDER.PUR_REQ_NO = T_PUR_REQUEST.PUR_REQ_NO
            AND  T_PUR_REQUEST.NEW_APP_FLG = '1'
            AND  T_PUR_REQUEST.NEW_FLG = '1'
            AND  T_PUR_REQUEST.DELETE_FLG  = '0'
        LEFT JOIN H_PUR_APL T_PUR_APL
            ON   T_PUR_APL.PUR_APL_SEQ = T_PUR_REQUEST.PUR_APL_SEQ
            AND  T_PUR_APL.NEW_APP_FLG = '1'
            AND  T_PUR_APL.DELETE_FLG  = '0'
        LEFT JOIN M_B_USER　M_B_USER_A
            ON    T_ORDER.REQ_COMPANY_CD = M_B_USER_A.COMPANY_CD
            AND  T_ORDER.REQ_USER_ID  = M_B_USER_A.USER_ID
            AND  M_B_USER_A.TERM_FLG = '0'
        LEFT JOIN M_B_USER　M_B_USER_B
            ON T_ORDER.BUYER_COMPANY_CD = M_B_USER_B.COMPANY_CD
            AND  T_ORDER.BUYER_USER_ID = M_B_USER_B.USER_ID
            AND  M_B_USER_B.TERM_FLG = '0'
        LEFT JOIN H_ATTACH_MNG T_ATTACH_MNG_A
            ON    T_ORDER.ATTACH_FILE_SEQ1 = T_ATTACH_MNG_A.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_A.DELETE_FLG  = '0'
        LEFT JOIN H_ATTACH_MNG T_ATTACH_MNG_B
            ON    T_ORDER.ATTACH_FILE_SEQ2 = T_ATTACH_MNG_B.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_B.DELETE_FLG  = '0'
        LEFT JOIN H_ATTACH_MNG T_ATTACH_MNG_C
            ON    T_ORDER.ATTACH_FILE_SEQ3 = T_ATTACH_MNG_C.ATTACH_FILE_SEQ
            AND  T_ATTACH_MNG_C.DELETE_FLG  = '0'
        LEFT JOIN T_RINGI_BUDGET_DTL 
            ON T_RINGI_BUDGET_DTL.COMPANY_CD = T_ORDER.LOAD_COMPANY_CD 
            AND T_RINGI_BUDGET_DTL.SECTION_PLACE_CD = T_ORDER.LOAD_SECTION_PLACE_CD 
            AND T_RINGI_BUDGET_DTL.BUDGET_DTL_NO = T_ORDER.BUDGET_NO 
        WHERE    T_ORDER.ORDER_SEQ = #{orderSeq, jdbcType=VARCHAR}
    </select>
</mapper>