<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.tst.ins.InsAllMapper">
    <resultMap type="fw.domain.slip.receive.inspect.inspectdetail.InspectDetail" id="InspectDetail_Map">
        <id column="DELIV_KEY_NO" property="delivKeyNo.delivKeyNo" />
        <id column="UNIT_CD" property="unit.unitCd" />
        <id column="UNIT_NAME" property="unit.unitName" />
        <id column="INSPECT_STATUS" property="inspectApp.inspect.inspectResult.inspectStatus.inspectStatus"/>
        <id column="INSPECT_DATE" property="inspectDate.inspectDate.dateOfymd"/>
        <id column="INSPECT_PASS_QUANT" property="inspectVol.successAmount.vol"/>
        <id column="INSPECT_ACCOUNT" property="inspectAccount.comment"/>
        <id column="APP_ROUTE_NO" property="inspectApp.inspect.inspectAppRoute.approute.appRouteNo"/>
        <id column="APP_ROUTE_NAME" property="inspectApp.inspect.inspectAppRoute.approute.appRouteName"/>
        <id column="INSPECT_SEQ" property="inspectApp.inspect.inspectIdentify.inspectSeqNo" /> 
        <id column="INSPECT_SECTION_CD" property="inspectUser.user.section.sectionCd"/>
        <id column="INSPECT_SECTION_NAME" property="inspectUser.user.section.sectionName"/>
        <id column="INSPECT_USER_ID" property="inspectUser.user.userID"/>
        <id column="INSPECT_USER_NAME" property="inspectUser.user.userName"/>

        <id column="EXT_TXT_1" property="detailExtItem.extendTxt.extendTxt1"/>
        <id column="EXT_TXT_2" property="detailExtItem.extendTxt.extendTxt2"/>
        <id column="EXT_TXT_3" property="detailExtItem.extendTxt.extendTxt3"/>
        <id column="EXT_TXT_4" property="detailExtItem.extendTxt.extendTxt4"/>
        <id column="EXT_TXT_5" property="detailExtItem.extendTxt.extendTxt5"/>
        <id column="EXT_TXT_6" property="detailExtItem.extendTxt.extendTxt6"/>
        <id column="EXT_TXT_7" property="detailExtItem.extendTxt.extendTxt7"/>
        <id column="EXT_TXT_8" property="detailExtItem.extendTxt.extendTxt8"/>
        <id column="EXT_TXT_9" property="detailExtItem.extendTxt.extendTxt9"/>
        <id column="EXT_TXT_10" property="detailExtItem.extendTxt.extendTxt10"/>
        <id column="EXT_AREA_1" property="detailExtItem.extendArea.extendArea1"/>
        <id column="EXT_AREA_2" property="detailExtItem.extendArea.extendArea2"/>
        <id column="EXT_AREA_3" property="detailExtItem.extendArea.extendArea3"/>
        <id column="EXT_AREA_4" property="detailExtItem.extendArea.extendArea4"/>
        <id column="EXT_AREA_5" property="detailExtItem.extendArea.extendArea5"/>
        <id column="EXT_DATE_1" property="detailExtItem.extendDate.extendDate1.dateOfymd"/>
        <id column="EXT_DATE_2" property="detailExtItem.extendDate.extendDate2.dateOfymd"/>
        <id column="EXT_DATE_3" property="detailExtItem.extendDate.extendDate3.dateOfymd"/>
        <id column="EXT_DATE_4" property="detailExtItem.extendDate.extendDate4.dateOfymd"/>
        <id column="EXT_DATE_5" property="detailExtItem.extendDate.extendDate5.dateOfymd"/>
        <id column="EXT_INT_1" property="detailExtItem.extendInt.extendInt1.value"/>
        <id column="EXT_INT_2" property="detailExtItem.extendInt.extendInt2.value"/>
        <id column="EXT_INT_3" property="detailExtItem.extendInt.extendInt3.value"/>
        <id column="EXT_INT_4" property="detailExtItem.extendInt.extendInt4.value"/>
        <id column="EXT_INT_5" property="detailExtItem.extendInt.extendInt5.value"/>
        <id column="EXT_INT_6" property="detailExtItem.extendInt.extendInt6.value"/>
        <id column="EXT_INT_7" property="detailExtItem.extendInt.extendInt7.value"/>
        <id column="EXT_INT_8" property="detailExtItem.extendInt.extendInt8.value"/>
        <id column="EXT_INT_9" property="detailExtItem.extendInt.extendInt9.value"/>
        <id column="EXT_INT_10" property="detailExtItem.extendInt.extendInt10.value"/>
        <id column="EXT_DEC_1" property="detailExtItem.extendDec.extendDec1.value"/>
        <id column="EXT_DEC_2" property="detailExtItem.extendDec.extendDec2.value"/>
        <id column="EXT_DEC_3" property="detailExtItem.extendDec.extendDec3.value"/>
        <id column="EXT_DEC_4" property="detailExtItem.extendDec.extendDec4.value"/>
        <id column="EXT_DEC_5" property="detailExtItem.extendDec.extendDec5.value"/>
        <id column="EXT_SEL_1" property="detailExtItem.extendSel.extendSel1"/>
        <id column="EXT_SEL_2" property="detailExtItem.extendSel.extendSel2"/>
        <id column="EXT_SEL_3" property="detailExtItem.extendSel.extendSel3"/>
        <id column="EXT_SEL_4" property="detailExtItem.extendSel.extendSel4"/>
        <id column="EXT_SEL_5" property="detailExtItem.extendSel.extendSel5"/>
        <id column="EXT_SEL_6" property="detailExtItem.extendSel.extendSel6"/>
        <id column="EXT_SEL_7" property="detailExtItem.extendSel.extendSel7"/>
        <id column="EXT_SEL_8" property="detailExtItem.extendSel.extendSel8"/>
        <id column="EXT_SEL_9" property="detailExtItem.extendSel.extendSel9"/>
        <id column="EXT_SEL_10" property="detailExtItem.extendSel.extendSel10"/>
        <id column="EXT_CHK_1" property="detailExtItem.extendChk.extendChk1"/>
        <id column="EXT_CHK_2" property="detailExtItem.extendChk.extendChk2"/>
        <id column="EXT_CHK_3" property="detailExtItem.extendChk.extendChk3"/>
        <id column="EXT_CHK_4" property="detailExtItem.extendChk.extendChk4"/>
        <id column="EXT_CHK_5" property="detailExtItem.extendChk.extendChk5"/>
        <id column="EXT_FILE_1" property="detailExtItem.extendFile.extendFile1.fileName"/>
        <id column="EXT_FILE_2" property="detailExtItem.extendFile.extendFile2.fileName"/>
        <id column="EXT_FILE_3" property="detailExtItem.extendFile.extendFile3.fileName"/>
        <id column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <id column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <id column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <id column="EXT_MST_1" property="detailExtItem.extendMst.extendMst1.mstKey"/>
        <id column="EXT_MST_2" property="detailExtItem.extendMst.extendMst2.mstKey"/>
        <id column="EXT_MST_3" property="detailExtItem.extendMst.extendMst3.mstKey"/>
        <id column="EXT_MST_4" property="detailExtItem.extendMst.extendMst4.mstKey"/>
        <id column="EXT_MST_5" property="detailExtItem.extendMst.extendMst5.mstKey"/>
        <id column="EXT_MST_6" property="detailExtItem.extendMst.extendMst6.mstKey"/>
        <id column="EXT_MST_7" property="detailExtItem.extendMst.extendMst7.mstKey"/>
        <id column="EXT_MST_8" property="detailExtItem.extendMst.extendMst8.mstKey"/>
        <id column="EXT_MST_NAME_1" property="detailExtItem.extendMst.extendMst1.mstName"/>
        <id column="EXT_MST_NAME_2" property="detailExtItem.extendMst.extendMst2.mstName"/>
        <id column="EXT_MST_NAME_3" property="detailExtItem.extendMst.extendMst3.mstName"/>
        <id column="EXT_MST_NAME_4" property="detailExtItem.extendMst.extendMst4.mstName"/>
        <id column="EXT_MST_NAME_5" property="detailExtItem.extendMst.extendMst5.mstName"/>
        <id column="EXT_MST_NAME_6" property="detailExtItem.extendMst.extendMst6.mstName"/>
        <id column="EXT_MST_NAME_7" property="detailExtItem.extendMst.extendMst7.mstName"/>
        <id column="EXT_MST_NAME_8" property="detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>
    <select id="selectDetail" resultMap="InspectDetail_Map" >
        SELECT 
            T_INSPECT.DELIV_KEY_NO
            , T_INSPECT.UNIT_NAME
            , T_INSPECT.INSPECT_STATUS
            , T_INSPECT.INSPECT_DATE
            , T_INSPECT.INSPECT_PASS_QUANT
            , T_INSPECT.INSPECT_ACCOUNT
            , T_INSPECT.APP_ROUTE_NO
            , T_INSPECT.APP_ROUTE_NAME
            , T_INSPECT.INSPECT_SEQ
            , T_INSPECT.INSPECT_SECTION_CD as "INSPECT_SECTION_CD"
            , T_INSPECT.INSPECT_SECTION_NAME as "INSPECT_SECTION_NAME"
            , T_INSPECT.INSPECT_USER_ID as "INSPECT_USER_ID"
            , T_INSPECT.INSPECT_USER_NAME as "INSPECT_USER_NAME"
            , T_INSPECT.INSPECT_VERSION
            , T_INSPECT.CORRECT_CD
            , ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_INSPECT")}
        FROM T_INSPECT 
        WHERE T_INSPECT.ORDER_NO = #{identify.orderNo}
            <if test="range == 1">
                AND T_INSPECT.INSPECT_STATUS = '04'
            </if>
            AND T_INSPECT.DELETE_FLG = '0'
        UNION ALL
        SELECT 
            T_INSPECT.DELIV_KEY_NO
            , T_INSPECT.UNIT_NAME
            , T_INSPECT.INSPECT_STATUS
            , T_INSPECT.INSPECT_DATE
            , T_INSPECT.INSPECT_PASS_QUANT
            , T_INSPECT.INSPECT_ACCOUNT
            , T_INSPECT.APP_ROUTE_NO
            , T_INSPECT.APP_ROUTE_NAME
            , T_INSPECT.INSPECT_SEQ
            , T_INSPECT.INSPECT_SECTION_CD as "INSPECT_SECTION_CD"
            , T_INSPECT.INSPECT_SECTION_NAME as "INSPECT_SECTION_NAME"
            , T_INSPECT.INSPECT_USER_ID as "INSPECT_USER_ID"
            , T_INSPECT.INSPECT_USER_NAME as "INSPECT_USER_NAME"
            , T_INSPECT.INSPECT_VERSION
            , T_INSPECT.CORRECT_CD
            , ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_INSPECT")}
        FROM H_INSPECT T_INSPECT
        WHERE T_INSPECT.ORDER_NO = #{identify.orderNo}
            <if test="range == 1">
                AND T_INSPECT.INSPECT_STATUS = '04'
            </if>
            AND T_INSPECT.DELETE_FLG = '0'
        ORDER BY DELIV_KEY_NO, INSPECT_VERSION, CORRECT_CD
    </select>
</mapper>