<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.authname.AuthNameMapper">
    <select id="listAuthName" resultType="fw.domain.mst.userauthority.authname.AuthName">
    select auth_no             as "authIdentify.authNo",
       auth_name           as "authName",
       auth_remarks        as "authRemarks",
       auth_group_no       as "authGroupNo",
       auth_top_flg        as "authTopFlg",
       dsp_order           as "dspOrder",
       term_flg            as "termFlg",
       last_upd_date       as "registInfo.lastUpdDate",
       last_upd_company_cd as "registInfo.lastUpdCompanyCd",
       last_upd_section_cd as "registInfo.lastUpdSectionCd",
       last_upd_user_id    as "registInfo.lastUpdUserId",
       reg_date            as "registInfo.regDate",
       reg_company_cd      as "registInfo.regCompanyCd",
       reg_section_cd      as "registInfo.regSectionCd",
       reg_user_id         as "registInfo.regUserId"
    from m_auth_name
    order by auth_group_no, m_auth_name.auth_top_flg desc, dsp_order
    </select>
    
</mapper>