<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_RATE')</title><!--レートマスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($commonTitle = "#customSpringMessage('SCREEN_M_RATE_LIST')")
## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
#set($authNoFlag=$LoginUser.hasAuth(${AuthNoConstant.getValue("MASTER_RATE_UPDATE_GRANT")}))
## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
var pinName="MstRate_Pin";
var newPageId="rateRegist";

#parse("./common/common_js.vm")
function onLoad(){
    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen START -----
        ## document.getElementById("DATAAREA").src="";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen -END- -----
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen START +++++
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = ""; 
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen -END- +++++
        return;
    }
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search","pageid","rateList");
        }
    
}
## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf START +++++
function execSearch() {
    getObj("BodyForm").target="_self";
    buttonDisable();
    getObj("BodyForm").action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}
## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf -END- +++++
//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%" onload="onLoad();" style="overflow-y:hidden;">
<form id="BodyForm" name="Body" action="${flowExecutionUrl}&_eventId=validate" method="post"><!-- target="DATAAREA" -->
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    #customFormHiddenInput("searchCondition.termFlg.hidden" "$!defaultSearchCondition.searchCondition.termFlg")
    #customFormHiddenInput("searchCondition.page.pageRecorders.hidden" "$!defaultSearchCondition.searchCondition.page.pageRecorders")
    #customFormHiddenInput("companyCd.hidden" "$!defaultSearchCondition.companyCd")
    #customFormHiddenInput("valStartDateTo.dateOfymd.hidden" "$!defaultSearchCondition.valStartDateTo.dateOfymd")
    #customFormHiddenInput("valEndDateFrom.dateOfymd.hidden" "$!defaultSearchCondition.valEndDateFrom.dateOfymd")
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust" >
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                <tr><td align="left" colspan="4" nowrap>#customSpringMessage('PSMST240_HEADER_COMMENT')</td></tr>
                                <tr>
                                    <td>
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">
                                                    #if("$!isUseAll"=="false")
                                                        #customSpringMessage('COMPANY_NAME')<span class="FontWarn">&nbsp;※</span>
                                                    #end
                                                </td><!--会社名-->
                                                <td nowrap class="FontSmallBold" align="left"  COLSPAN="3">
                                                    #if("$!isUseAll"=="true")
                                                        #customFormHiddenInput("companyCd" "ALL")
                                                    #else
                                                        #customFormSingleSelect("searchCondition.companyCd" $companyList "class='Small'")
                                                    #end
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('ORG_CURRENCY_CD')</td><!--換算元通貨コード-->
                                                <td nowrap class="FontSmallBold" align="left" COLSPAN="3">
                                                    #customFormSingleSelect("searchCondition.orgCurrencyCd" $currencyList "class='Small'")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('RATE_START_DATE')</td><!--適用開始日-->
                                                <td nowrap align="left">
                                                    #springFormInput("searchCondition.valStartDateFrom.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);'  ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('valStartDateFrom.dateOfymdFormat'));">
                                                    <span class="FontSmall">～</span>
                                                    #springFormInput("searchCondition.valStartDateTo.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);'  ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('valStartDateTo.dateOfymdFormat'));">
                                                </td>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('RATE_END_DATE')</td><!--適用終了日-->
                                                <td nowrap align="left">
                                                    #springFormInput("searchCondition.valEndDateFrom.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);'  ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('valEndDateFrom.dateOfymdFormat'));">
                                                    <span class="FontSmall">～</span>
                                                    #springFormInput("searchCondition.valEndDateTo.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);'  ")
                                                    <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('valEndDateTo.dateOfymdFormat'));">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right" >
                                        #customSpringMessage('DISPLAY_COUNT')<!-- 表示件数 -->&nbsp;
                                        #customFormRadioButtons("searchCondition.searchCondition.page.pageRecorders" $pageRecordersList "" "")
                                        <br>
                                        ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf START +++++
                                        <input type="button" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')" onclick="javascript:execSearch();"><!--検索-->
                                        ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf END +++++
                                        ## ----- 強化-00041-000 2013/04/03 DEL SBO_wangzf START -----
                                        ##<input type="submit"  class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')"><!-- 検索 -->
                                        ## ----- 強化-00041-000 2013/04/03 DEL SBO_wangzf END -----
                                        <br>
                                        <br>
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY START
                                        <a href="javascript:clear();">#customSpringMessage('ACTION_CLEAR_SEARCH_CRITERIA')<!-- 検索条件をクリアする --></a>
                                        ## 強化-00928-000 20130624 SBO_SOKOU MODIFY -END-
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="4" nowrap class="FontComment">
                                        #customSpringMessage('PSMST240_FOOTER_COMMENT') ## ＊:前方一致 / ％:中間一致 / なし:完全一致
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id ="TR_ERROR" style="display:none;"><td class="error" style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr><td class="NoBorder" style="height:auto;">
            <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
        </td></tr>
    </table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</form>
</body>
</html>
