<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.src.elementconfigpopup.ElementConfigPopupMapper">

   <select id="listKeyIdentity" parameterType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionPopupSearchCondition"
        resultType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionIdentify">
        SELECT 
            S_ELEMENT_CONFIG.ELEMENT_SEQ as "elementSeq"
        FROM S_ELEMENT_CONFIG 
        <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU START -->
            <!-- LEFT JOIN S_ELEMENT_NAME-->
            <!-- ON -->
                <!-- S_ELEMENT_CONFIG.ELEMENT_NAME_CD = S_ELEMENT_NAME.ELEMENT_NAME_CD-->
                <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW START -->
                <!-- AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getCompanyUseLanguageIndByEscapeSql()}'-->
                <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW END -->
                <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW START -->
                <!-- AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}' -->
                <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW END -->
        <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU -END- -->
        <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU START -->
            INNER JOIN S_ELEMENT_NAME
                    ON S_ELEMENT_CONFIG.ELEMENT_NAME_CD = S_ELEMENT_NAME.ELEMENT_NAME_CD
                   AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}'
        <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU -END- -->
         <where>
              S_ELEMENT_CONFIG.EXTEND_FLG = '1'
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementNameCd)">
                  AND S_ELEMENT_CONFIG.ELEMENT_NAME_CD ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementNameCd")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementName)">
                  AND S_ELEMENT_NAME.ELEMENT_NAME ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementName")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(itemType)">
                  AND S_ELEMENT_CONFIG.ITEM_TYPE = #{itemType, jdbcType=VARCHAR}
              </if>
          
        </where> 
        ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>
    
    <select id="listSortKeyIdentity"
        resultType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionIdentify">
        SELECT 
            S_ELEMENT_CONFIG.ELEMENT_SEQ as "elementSeq"
        FROM S_ELEMENT_CONFIG 
        <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU START -->
        <!-- LEFT JOIN S_ELEMENT_NAME-->
            <!-- ON -->
                <!-- S_ELEMENT_CONFIG.ELEMENT_NAME_CD = S_ELEMENT_NAME.ELEMENT_NAME_CD-->
                <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW START -->
                <!-- AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getCompanyUseLanguageIndByEscapeSql()}'-->
                <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW END -->
                <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW START -->
                <!-- AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}' -->
                <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW END -->
        <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU -END- -->
        <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU START -->
            INNER JOIN S_ELEMENT_NAME
                    ON S_ELEMENT_CONFIG.ELEMENT_NAME_CD = S_ELEMENT_NAME.ELEMENT_NAME_CD
                   AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}'
        <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU -END- -->
        <where>
              S_ELEMENT_CONFIG.EXTEND_FLG = '1'
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementNameCd)">
                  AND S_ELEMENT_CONFIG.ELEMENT_NAME_CD ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementNameCd")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementName)">
                  AND S_ELEMENT_NAME.ELEMENT_NAME ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementName")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(itemType)">
                  AND S_ELEMENT_CONFIG.ITEM_TYPE = #{itemType, jdbcType=VARCHAR}
              </if>
        </where> 
        ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>
    
    <resultMap type="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionPopupItem" id="ItemDefinitionPopupItem_Map">
        <id column="ELEMENT_SEQ" property="itemDefinitionIdentify.elementSeq"/>
        <id column="LAST_UPD_DATE" property="itemDefinitionIdentify.lastUpdDate"/>
    </resultMap>    
    
    <select id="listPageItem" parameterType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionPopupSearchCondition"
        resultMap="ItemDefinitionPopupItem_Map">
            SELECT
                ELEMENT_SEQ ,
                S_ELEMENT_NAME.ELEMENT_NAME_CD as "elementNameCd",
                ELEMENT_NAME as "elementName",
                ITEM_TYPE as "itemType",
                INPUT_TYPE as "textType",
                IME_TYPE as "ime",
                MAX_LENGTH as "maxLength",
                DECIMAL_PLACE as "decimalPlace",
                MASTER_TYPE as "masterType",
                S_ELEMENT_CONFIG.LAST_UPD_DATE
            FROM S_ELEMENT_CONFIG 
            INNER JOIN S_ELEMENT_NAME
            ON 
                S_ELEMENT_CONFIG.ELEMENT_NAME_CD = S_ELEMENT_NAME.ELEMENT_NAME_CD
            <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU START -->
                 <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW START -->
                 <!-- AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getCompanyUseLanguageIndByEscapeSql()}'-->
                 <!-- 強化-01740-000　2013/06/07 ADD SBO_KANGJW END -->
                 <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW START -->
                 <!--AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}'-->
                 <!-- 強化-01740-000　2013/06/07 DEL SBO_KANGJW END -->
            <!-- 強化-01774-000 2013/06/10 DEL SBO_SOKOU -END- -->
            <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU START -->
                AND S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}'
            <!-- 強化-01774-000 2013/06/10 ADD SBO_SOKOU -END- -->
            WHERE 
                S_ELEMENT_CONFIG.ELEMENT_SEQ in 
              <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">  
                #{keyList.elementSeq}  
              </foreach>   
              AND S_ELEMENT_CONFIG.EXTEND_FLG = '1'
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementNameCd)">
                  AND S_ELEMENT_CONFIG.ELEMENT_NAME_CD ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementNameCd")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(elementName)">
                  AND S_ELEMENT_NAME.ELEMENT_NAME ${@fw.common.util.SearchModeUtil@getSearchSQL("fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionSearchCondition","elementName")}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(itemType)">
                  AND S_ELEMENT_CONFIG.ITEM_TYPE = #{itemType, jdbcType=VARCHAR}
              </if>
            ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>
    
</mapper>