<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage("S_ELEMENT_CONFIG")</title> <!-- 項目定義マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$itemDefinitionSearchCondition)
#parse("./common/common_js.vm")
function onLoad() {
    dataLoadHasPage();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW  END +++++
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
        var isShowUpdate = "#jsEscape($isShowUpdate)";
        if (isShowUpdate == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=edit","pageid","elementConfigUpdate");
        }
        var isShowDelete = "#jsEscape($isShowDelete)";
        if (isShowDelete == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","elementConfigDelete");
        }
}

function openDetail(elementSeq,lastUpdDate) {
    ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    parentButtonDisable();
    ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW  END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=editValidate","elementSeq",elementSeq,"lastUpdDate",lastUpdDate,"HIDDENAREA");}

function openDetailDel(elementSeq,lastUpdDate) {
    ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    parentButtonDisable();
    ## +++++ 強化-01732-000　2013/06/07 ADD SBO_KANGJW  END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=deleteValidate","elementSeq",elementSeq,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,0);">
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" width="100%">
    <thead>
    #if($itemDefinitionList.itemDefinitionItemList.size()!=0)
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall ">No.</th>
            <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage("ACTION")</th> <!-- 処理 -->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.ELEMENT_NAME_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.ELEMENT_NAME_CD')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('ELEMENT_NAME_CD')
                </span>
            </th>
            ## ＩＴ２-01494-000 20130801 SBO_SOKOU START
            <th label="case" class="BoxHeaderCenter FontSmall" id="elementName" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','elementName')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('ELEMENT_NAME')
                </span>
            </th><!--名称-->
            ## ＩＴ２-01494-000 20130801 SBO_SOKOU END
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.ITEM_TYPE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.ITEM_TYPE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('ELEMENT_CONFIG_KIND')
                </span>
            </th><!--項目種別-->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.INPUT_TYPE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.INPUT_TYPE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('INPUT_CHARACTER_KIND')
                </span>
            </th><!--入力文字種別-->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.IME_TYPE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.IME_TYPE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('IME_KIND')
                </span>
            </th><!--IME種別-->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.MAX_LENGTH" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.MAX_LENGTH')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('MAXIMUM_LENGTH')
                </span>
            </th><!--最大長-->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.DECIMAL_PLACE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.DECIMAL_PLACE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('BELOW_DECIMAL_POINT_DIGIT')
                </span>
            </th><!--小数点以下桁数-->
            <th label="case" class="BoxHeaderCenter FontSmall" id="S_ELEMENT_CONFIG.MASTER_TYPE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','S_ELEMENT_CONFIG.MASTER_TYPE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('MASTRT_KIND')
                </span>
            </th><!--マスタ種別-->
        </tr>
    </thead>
    <tbody>
    #foreach($!itemDefinitionItem in $itemDefinitionList.itemDefinitionItemList)
        <tr #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $velocityCount = $velocityCount + 1 )$velocityCount</td>
            <td class="BoxDetailCenter">
            #if($!itemDefinitionItem.extendItem=='1')
                #if($!itemDefinitionItem.itemType=='1' || $!itemDefinitionItem.itemType=='2' || $!itemDefinitionItem.itemType=='3' || $!itemDefinitionItem.itemType=='4' || $!itemDefinitionItem.itemType=='6' || $!itemDefinitionItem.itemType=='7' ||  $!itemDefinitionItem.itemType=='9')
                    <input type="button" class="SmallButton" value="#customSpringMessage("ACTION_EDIT")" onclick="openDetail('#jsEscapeInHTML($!itemDefinitionItem.itemDefinitionIdentify.elementSeq)','#jsEscapeInHTML($!itemDefinitionItem.itemDefinitionIdentify.lastUpdDate)');"> 
                #end    
                    <input type="button" class="SmallButton" value="#customSpringMessage("ACTION_DELETE")" onclick="openDetailDel('#jsEscapeInHTML($!itemDefinitionItem.itemDefinitionIdentify.elementSeq)','#jsEscapeInHTML($!itemDefinitionItem.itemDefinitionIdentify.lastUpdDate)');"><!-- 削除 -->
            </td>
            #end
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.elementNameCd)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.elementName)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.itemType_PageValue)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.textType_PageValue)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.ime_PageValue)</span></td>
            <td class="BoxDetailRight FontList"><span class="FontList">#out($!itemDefinitionItem.maxLength)</span></td>
            <td class="BoxDetailRight FontList"><span class="FontList">#out($!itemDefinitionItem.decimalPlace)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemDefinitionItem.masterType_PageValue)</span></td>
        </tr>

    #end
    ## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
    ##<tbody/>
    ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
    </tbody>
</table>

<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
## 2013.03.19 DEL DAIKO_WANG
##<img src="../../image/wait.gif"><br><span class="Font8"><br>#customSpringMessage("SEARCH_MESSAGE")...</span></td></tr></table><!--問い合わせ中...-->
## 2013.03.19 ADD DAIKO_WANG
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage("SEARCH_MESSAGE")</span></td></tr></table><!--問い合わせ中...-->

    #end
## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
##</table>

</body>
</html>
