<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage("S_ELEMENT_CONFIG")</title> <!-- 項目定義マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--

#parse("./common/common_js.vm")
#set($masterName = "#customSpringMessage('S_ELEMENT_CONFIG')")
#set($deleteMsg = "#customSpringMessage('ACTION_DELETE')")

function onLoad() {
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
        var isSuccess = "#jsEscape($isSuccess)";
        if (isSuccess == 'true'){
            alert("#customMessageArgs("I003", [$masterName])");
            top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }
}

function exec() {
    if(!confirm('#customMessageArgs("W001", [$masterName, $deleteMsg])')) {
        return;
    }
   getObj("BodyForm").submit();
}
//-->
</script>
<style type="text/css">
<!--
/*シートカスタマイズの項目追加・変更画面*/
table.editItemList {
    width: 400px;
}

.disp_setting_order_style{
    border-top:0px !important; 
    border-right:0px !important; 
    border-bottom:0px !important;
    white-space:nowrap !important;
    text-align:left !important;
    vertical-align:bottom !important;
    background:#fff;
    width:1%;
}
/*表-項目*/
.table_item{
    white-space:nowrap;
    background:url('../image/background_active.png') 50% 50% repeat #6eac2c;
    color:#fff;
    text-align:center;
    padding:2px 5px;
    white-space:nowrap;
}
/*表*/
.select_table{
    font-size:x-small;
    border-collapse:collapse;
    color:#000;
    word-break: break-all;
    background:#fff;
}
.select_table td{
    border:solid 1px #006;
    padding:2px;
}
//-->
</style>
</head>
<body class="Body" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="center" onload="onLoad();" >
<form id="BodyForm" name="Body" action="${flowExecutionUrl}&_eventId=delete" method="post">
    <table width="70%" style="height:20px; margin-right:auto; margin-left:auto;">
       <tr id ="TR_ERROR" style="display:none;">
           <td class="error">
               $!errorMessage
           </td>
       </tr>
        <tr>
            <td class="FontSmallBold DarkBlue">
                #customSpringMessage("PSMST342_DEL_HEADER_COMMENT")
            </td>
        </tr>
    </table>
    <table class="DTL_BOX" width="70%">

        <tr>
            <td class="DTL_TITLE_BOX" >
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="ScreenName" style="text-align:left;">#customSpringMessage('SCREEN_S_ELEMENT_CONFIG_DELETE')</td><!--項目定義マスタ削除-->
                        <td align="right" class="FontSmall">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onclick="javascript:exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="DTL_INTER_BOX">
                <table class="NoBorder" width="100%">
            <tr>
                <td class="DTL_OUTHEAD"  width="30%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('ELEMENT_NAME_CD')</span>
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                        <span class="FontDetailData">#out($!itemDefinitionManagement.elementNameCd.elementNameCd)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD"  width="30%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('ELEMENT_NAME')</span><!--名称-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                        <span class="FontDetailData">#out($!elementName)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD" width="30%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('ELEMENT_CONFIG_KIND')</span><!--項目種別-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                         <span class="FontDetailData">#out($itemDefinitionManagement.itemClass.itemType.itemType_PageValue)</span>
                    </div>
                </td>
            </tr>
            #if("1" == "$!itemDefinitionManagement.itemClass.itemType.itemType" || "2" == "$itemDefinitionManagement.itemClass.itemType.itemType" || "3" == "$itemDefinitionManagement.itemClass.itemType.itemType" || "4" == "$itemDefinitionManagement.itemClass.itemType.itemType" || "5" == "$itemDefinitionManagement.itemClass.itemType.itemType")
            <tr>
                <td class="DTL_OUTHEAD"  width="30%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('INPUT_CHARACTER_KIND')</span><!--入力文字種別-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                            <span  class="FontDetailData">#out($itemDefinitionManagement.inputMethod.inputType.inputType_PageValue)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD"  width="30%">
                    <div class="DTL_INHEAD">
                        
                        <span class="FontDetailHeader">#customSpringMessage('IME_KIND')</span><!--IME種別-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                            <span class="FontDetailData">#out($itemDefinitionManagement.inputMethod.imeType.imeType_PageValue)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('MAXIMUM_LENGTH')</span><!--最大長-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                           <span class="FontDetailData">#out($itemDefinitionManagement.inputMethod.maxLength.maxLength) #customSpringMessage('CHARACTER')</span><!--文字-->
                    </div>
                </td>
            </tr>
            #end
            #if("4" == "$!itemDefinitionManagement.itemClass.itemType.itemType")
            <tr>
                <td class="DTL_OUTHEAD">
                    <div class="DTL_INHEAD">
                        
                        <span class="FontDetailHeader">#customSpringMessage('BELOW_DECIMAL_POINT_DIGIT')</span><span class="FontWarn">&nbsp;※</span><!--小数点以下桁数-->
                       
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                           <span class="FontDetailData">#out($itemDefinitionManagement.inputMethod.maxLength.decimalPlace.decimalPlace) #customSpringMessage('DIGIT')</span><!--桁-->
                    </div>
                </td>
            </tr>
            #end
            #if("9" == "$!itemDefinitionManagement.itemClass.itemType.itemType")
##            <tr>
##                <td class="DTL_OUTHEAD">
##                    <div class="DTL_INHEAD">
##                        <span class="FontDetailHeader">#customSpringMessage('MASTRT_KIND')<!--マスタ種別--></span>
##                    </div>
##                </td>
##                <td class="DTL_OUTBODY">
##                    <div class="DTL_INBODY">
##                           <span class="FontDetailData">#out($!itemDefinitionManagement.itemClass.masterType.masterType_PageValue)</span>
##                    </div>
##                </td>
##            </tr>
            <tr>
                <td class="DTL_OUTHEAD">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('MAXIMUM_LENGTH')</span><!--最大長-->
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                        <span class="FontDetailData">#out($itemDefinitionManagement.inputMethod.maxLength.maxLength) #customSpringMessage('CHARACTER')</span><!--文字-->
                    </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage('MASTRT_KIND')<!--マスタ種別--></span>
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                           <span class="FontDetailData">#out($!itemDefinitionManagement.itemClass.masterType.masterType_PageValue)</span>
                    </div>
                </td>
            </tr>
            #end
        </table>
         #if("6" == "$!itemDefinitionManagement.itemClass.itemType.itemType"||"7" == "$!itemDefinitionManagement.itemClass.itemType.itemType" )
        <table width="100%">
            <tr>
                <td class="DTL_OUTHEAD" width="30%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage("LANGUAGE")</span>
                    </div>
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                        <span id="LANGUAGE_IND" class="FontDetailData">
                            #out($!itemDefinitionManagement.userCondSelectItemDefinitionManagement.optionList.optionItemList[0].optionLangKanaNameList.optionLangKanaNameList[0].languageInd.languageInd_PageValue)
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <table id="lang_1" class="NoBorder" width="100%">
            <tr>
                <td>
                    <input type="hidden" id="langCount"/>
                    <div class="DTL_INBODY">
                        <table width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table id="TABLE" class="select_table editItemList">
                                            <thead>
                                            <tr id="Header table_item">
                                                <th class="BoxHeaderCenter FontSmall ">#customSpringMessage('ELEMENT_CONFIG_NAME')<!--項目名--></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            
                                            #foreach($option in $!itemDefinitionManagement.userCondSelectItemDefinitionManagement.optionList.optionItemList)
                                            #set($optionLangKanaName = $option.optionLangKanaNameList.optionLangKanaNameList[0])
                                            <tr>
                                                <td class="BoxDetailLeft FontSmall">
                                                    #out($!optionLangKanaName.optionLangKanaName)
                                                </td>
                                            </tr>
                                            #end
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        
        #set($optionFirst = $!itemDefinitionManagement.userCondSelectItemDefinitionManagement.optionList.optionItemList[0])
        #if($optionFirst.optionLangKanaNameList.optionLangKanaNameList.size() > 1)
        <hr>
        #end
        
        #foreach($optionLangKanaNameFirst in $optionFirst.optionLangKanaNameList.optionLangKanaNameList)
        #set($optionLangIndex = $velocityCount+1)
        #if($optionFirst.optionLangKanaNameList.optionLangKanaNameList.size() > $optionLangIndex)
        <table width="100%">
            <tr>
                <td class="DTL_OUTHEAD" width="10%">
                    <div class="DTL_INHEAD">
                        <span class="FontDetailHeader">#customSpringMessage("LANGUAGE")</span>
                    </div>
                </td>
                <td class="DTL_OUTHEAD">
                    <div class="DTL_INBODY">
                        <span id="LANGUAGE_IND" class="FontDetailData">
                        #out($!itemDefinitionManagement.userCondSelectItemDefinitionManagement.optionList.optionItemList[0].optionLangKanaNameList.optionLangKanaNameList[$optionLangIndex].languageInd.languageInd_PageValue)
                        </span>
                     </div>
                </td>
            </tr>
            <tr>
                <td class="DTL_OUTHEAD" width="30%">
                </td>
                <td class="DTL_OUTBODY">
                    <div class="DTL_INBODY">
                        <table id="TABLE" class="select_table editItemList">
                            <thead>
                            <tr id="Header table_item">
                                <th class="BoxHeaderCenter FontSmall ">#customSpringMessage('ELEMENT_CONFIG_NAME')<!--項目名--></th>
                            </tr>
                            </thead>
                                #foreach($option in $!itemDefinitionManagement.userCondSelectItemDefinitionManagement.optionList.optionItemList)
                                    #set($optionLangKanaName = $option.optionLangKanaNameList.optionLangKanaNameList[$optionLangIndex])
                                    <tr>
                                        <td class="BoxDetailLeft FontSmall">
                                            #out($!optionLangKanaName.optionLangKanaName)
                                        </td>
                                    </tr>
                                #end
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        #end
        #end
        <hr>
        #end
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_MSGBOX" nowrap>
                            #customSpringMessage("PSMST342_DEL_FOOTER_COMMENT")
                        </td>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onclick="javascript:exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</form>

</body>

</html>
