<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('ITEM_NAME_SEARCH')</title><!--品名検索（価格マスタ・品名マスタ） -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript"> 
<!--

#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../src/itemPopup');
    #if($itemList.itemPopupItemList.size() != 0 && $!searchCondition.searchType=="0")
        displayColumn();
    #end
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}

function displayColumn(){
    var table = document.getElementById("TABLE");
    for(var i=0; i<table.rows.length; i++) {
        //取引先コード
        var td2 = table.rows[i].cells[2];
        //取引先名
        var td3 = table.rows[i].cells[3];
        //通貨コード
        var td13 = table.rows[i].cells[13];
        //有効期間（開始）
        var td14 = table.rows[i].cells[14];
        //有効期間（終了）
        var td15 = table.rows[i].cells[15];
        td2.style.display='none';
        td3.style.display='none';
        td13.style.display='none';
        td14.style.display='none';
        td15.style.display='none';
    }
}

function selectRow(buyerCompanyCd,buyerSectionCd,itemClassL,itemClassNameL,itemClassM,itemClassNameM,itemClassS,itemClassNameS,itemCd,itemName,katashiki,manufactCd,manufactName,supCd,supName,supAbbrName,unitCd,unitName,currencyCd,currencyMark,inspectInd,priceFlg,autoOrderFlg, taxInd, subjectCd, subjectName){
    parent.selectRow(buyerCompanyCd,buyerSectionCd,itemClassL,itemClassNameL,itemClassM,itemClassNameM,itemClassS,itemClassNameS,itemCd,itemName,katashiki,manufactCd,manufactName,supCd,supName,supAbbrName,unitCd,unitName,currencyCd,currencyMark,inspectInd,priceFlg,autoOrderFlg, taxInd, subjectCd, subjectName );
}

//-->
</script>
 
</head>
<body id="BODY" class="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
    <form name="Body">
        #if($itemList.itemPopupItemList.size() != 0)
        #parse("./common/src_title.vm")
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><span class="FontMiddleBold">#customSpringMessage('CANDIDATE')</span></td><!--候補-->
            </tr>
        </table>
        
        <table id="TABLE" class="ListArea" width="100%">
            <thead>
                <tr id="Header">
                    <th class="BoxHeaderCenter FontSmall">No.</th><!--No.-->
                    <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')</th><!--処理-->
                    
                    <th label="case" class="BoxHeaderCenter FontSmall" width="33%;" id="M_SUPPLIER.SUP_CD" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_SUPPLIER.SUP_CD')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('SUP_CD')
                            </span>
                        </span><!--取引先コード-->
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" width="33%;" id="supName" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','supName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('SUP_NAME')
                            </span>
                        </span><!--取引先名-->
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.ITEM_CD" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_ITEM.ITEM_CD')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CD')<!--品名コード-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemName" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','itemName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_NAME')<!--品名-->
                            </span>
                        </span>
                    </th>
                     <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameL" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','itemClassNameL')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_LARGE')<!--大分類-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameM" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','itemClassNameM')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_MEDIUM')<!--中分類-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameS" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','itemClassNameS')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_SMALL')<!--小分類-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.MANUFACT_CD" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_ITEM.MANUFACT_CD')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('MANUFACT_CD')<!--メーカーコード-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="manufactName" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','manufactName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('MANUFACT_NAME')<!--メーカー名-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.KATASHIKI" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_ITEM.KATASHIKI')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('KATASHIKI')<!--型式-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="unitName" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','unitName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('UNIT_NAME')<!--単位名-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE.CURRENCY_CD" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_PUR_PRICE.CURRENCY_CD')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('CURRENCY_CD')<!--通貨コード-->
                            </span>
                       </span>
                   </th>
                   <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE_DTL.BUY_PRICE" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_PUR_PRICE_DTL.BUY_PRICE')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('UNIT_PRICE')<!--単価-->
                            </span>
                       </span>
                   </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE.PRICE_TYPE" 
                        onclick="parent.iframeChange('../../src/itemPopup/order','column','M_PUR_PRICE.PRICE_TYPE')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('PRICE_TYPE')<!--価格タイプ-->
                            </span>
                       </span>
                   </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="subjectName" onclick="parent.iframeChange('../../src/itemPopup/order','column','subjectName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('SUBJECT_NAME')<!--科目名-->
                            </span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            #set ($velocityCount=1)
            #foreach($!itemPopupItem in $!itemList.itemPopupItemList)
            <tr>
                <td class="BoxDetailCenter FontList">#set( $velocityCount = $velocityCount + 1 )$velocityCount</td>
                <td class="BoxDetailCenter">
                    <input type="button" class="miniButton" value="#customSpringMessage('SELECTION')" onclick="javascript:selectRow('#jsEscapeInHTML($!itemPopupItem.buyerCompanyCd)',
                        '#jsEscapeInHTML($!itemPopupItem.buyerSectionCd)','#jsEscapeInHTML($!itemPopupItem.itemClassL)','#jsEscapeInHTML($!itemPopupItem.itemClassNameL)',
                        '#jsEscapeInHTML($!itemPopupItem.itemClassM)','#jsEscapeInHTML($!itemPopupItem.itemClassNameM)','#jsEscapeInHTML($!itemPopupItem.itemClassS)',
                        '#jsEscapeInHTML($!itemPopupItem.itemClassNameS)','#jsEscapeInHTML($!itemPopupItem.priceArticleIdentify.itemCd)','#jsEscapeInHTML($!itemPopupItem.itemName)',
                        '#jsEscapeInHTML($!itemPopupItem.katashiki)','#jsEscapeInHTML($!itemPopupItem.manufactCd)','#jsEscapeInHTML($!itemPopupItem.manufactName)',
                        '#jsEscapeInHTML($!itemPopupItem.priceArticleIdentify.supCd)','#jsEscapeInHTML($!itemPopupItem.supName)','#jsEscapeInHTML($!itemPopupItem.supAbbrName)',
                        '#jsEscapeInHTML($!itemPopupItem.unitCd)','#jsEscapeInHTML($!itemPopupItem.unitName)','#jsEscapeInHTML($!itemPopupItem.currencyCd)',
                        '#jsEscapeInHTML($!itemPopupItem.currencyMark)', '#jsEscapeInHTML($!itemPopupItem.inspectInd)', '#jsEscapeInHTML($!itemPopupItem.priceFlg)', 
                        '#jsEscapeInHTML($!itemPopupItem.autoOrderFlg.autoOrderFlg)', '#jsEscapeInHTML($!itemPopupItem.taxInd.taxInd)',
                        '#jsEscapeInHTML($!itemPopupItem.subjectCd)','#jsEscapeInHTML($!itemPopupItem.subjectName)');"><!--選択-->
                </td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.supCd)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.supAbbrName)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.priceArticleIdentify.itemCd)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.itemName)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.itemClassNameL)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.itemClassNameM)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.itemClassNameS)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.manufactCd)</span></td>
                <td class="BoxDetailLeft"><span class="FontList">#out($!itemPopupItem.manufactName)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.katashiki)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.unitName)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.currencyCd)</span></td>
                <td class="BoxDetailRight FontCurrSmall"><span class="FontList">#out($!itemPopupItem.currencyMark)
                 #out($!itemPopupItem.unitPrice.amount.amountFormat)
                </span>
                </td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.priceFlg_PageValue)</span></td>
                <td class="BoxDetailCenter"><span class="FontList">#out($!itemPopupItem.subjectName)</span></td>
            </tr>
            #end
            </tbody>
        </table>
        #parse("./common/src_title2.vm")
        #end
        <br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
    </form>
</body>
</html>

