<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_PAY_CONDITION')</title><!--支払条件マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$payConditionSearchCondition)

#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
        var isShowUpdate = "#jsEscape($isShowUpdate)";
        if (isShowUpdate == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=update","pageid","payConditionUpdate");
        }
        var isShowDelete = "#jsEscape($isShowDelete)";
        if (isShowDelete == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","payConditionDelete");
        }
}

function openDetail(companyCd,payConditionCd,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf -END- +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeUpdate","companyCd",companyCd,"payConditionCd",payConditionCd,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

function openDetailDel(companyCd,payConditionCd,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/03 ADD SBO_wangzf -END- +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeDelete","companyCd",companyCd,"payConditionCd",payConditionCd,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,0);">
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" width="100%">
<thead>
    #if($itemList.payConditionItemList.size()!=0)
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
            <th class="BoxHeaderCenter FontSmall" width="5%;" >#customSpringMessage('ACTION')<!--処理--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_PAY_CONDITION.PAY_CONDITION_CD" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_PAY_CONDITION.PAY_CONDITION_CD')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('PAY_CONDITION_CD')<!--支払条件コード-->
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="payConditionName" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','payConditionName')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('PAY_CONDITION_NAME')<!--支払条件名-->
                </span>
            </th>   
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_PAY_CONDITION.PAY_SITE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_PAY_CONDITION.PAY_SITE')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('PAY_SITE_DAY')<!--支払サイト（日）-->
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_PAY_CONDITION.PAY_CUTOFF_DAY" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_PAY_CONDITION.PAY_CUTOFF_DAY')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('PAY_CUTOFF_DAY')<!--支払締-->
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_PAY_CONDITION.PAY_DAY" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_PAY_CONDITION.PAY_DAY')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('PAY_DAY')<!--支払予定日付-->
                </span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_PAY_CONDITION.TERM_FLG" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=order','column','M_PAY_CONDITION.TERM_FLG')">
                <span class="BoxHeaderSortItem">
                    #customSpringMessage('TERMINATION')<!--廃止-->
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
    #set ($No=1)
    #foreach($!payConditionItem in $!itemList.payConditionItemList)
        <tr>
            <td class="BoxDetailCenter FontList">$No
            </td>
            #set ($No=$No+1) 
            <td class="BoxDetailCenter">
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_EDIT')" onclick="openDetail('#jsEscapeInHTML($!payConditionItem.payConditionIdentify.companyCd)','#jsEscapeInHTML($!payConditionItem.payConditionIdentify.payConditionCd)','#jsEscapeInHTML($!payConditionItem.payConditionIdentify.lastUpdDate)');"><!-- 編集 -->
                
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_DELETE')" onclick="openDetailDel('#jsEscapeInHTML($!payConditionItem.payConditionIdentify.companyCd)','#jsEscapeInHTML($!payConditionItem.payConditionIdentify.payConditionCd)','#jsEscapeInHTML($!payConditionItem.payConditionIdentify.lastUpdDate)');"><!-- 編集 -->
            </td>
            <td class="BoxDetailCenter FontList"><span class="FontList">#out($payConditionItem.payConditionIdentify.payConditionCd)</span></td>
            <td class="BoxDetailLeft FontList"><span class="FontList">#out($payConditionItem.payConditionName)</span></td>
            <td class="BoxDetailRight FontList"><span class="FontList">#out($payConditionItem.paySite)</span></td>
            <td class="BoxDetailRight FontList"><span class="FontList">#out($payConditionItem.payCutoffDay)</span></td>
            <td class="BoxDetailRight FontList"><span class="FontList">#out($payConditionItem.payDay)</span></td>
            <td class="BoxDetailCenter FontSmallBold"><span class="FontSmallBold">#out($payConditionItem.termFlg_PageValue)</span></td>
        </tr>
    #end
    </tbody>
 #end
</table>
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
##<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...--></span>
## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->

</body>

</html>
