<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_PAY_CONDITION')</title><!--支払条件マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" rc="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

function onLoad() {
	var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
        var isSuccess = '#jsEscape($!isSuccess)';
        if(isSuccess == 'true'){
            #set( $mPayCondition = "#customSpringMessage('M_PAY_CONDITION')" )
            alert('#customMessageArgs("I003",[$mPayCondition])') 
            buttonDisable();
            top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }
}

function exec() {
    #set( $mmPayCondition = "#customSpringMessage('M_PAY_CONDITION')" )   
    #set( $delete = "#customSpringMessage('ACTION_DELETE')" ) 
    if( !confirm("#customMessageArgs("W001",[$mmPayCondition,$delete])") ) {
        return;
    }
    buttonDisable();
    getObj("Body").submit();
}

//-->
</script>
</head>
<body class="Body" style="text-align:center;" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="center" onload="onLoad();">
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    #customFormHiddenInput("pageid" "payConditionDelete")
    <table width="70%" style="height:20px; margin-right:auto; margin-left:auto;">
       <tr id ="TR_ERROR" style="display:none;">
           <td class="error">
               $!errorMessage
           </td>
       </tr>
        <tr>
            <td class="FontSmallBold DarkBlue">
                #customSpringMessage("PSMST272_DEL_HEADER_COMMENT")
            </td>
        </tr>
    </table>
    <table class="DTL_BOX" width="70%">
        <tr>
            <td class="DTL_TITLE_BOX" >
                <table class="NoBorder" width="100%">
                    <tr>
                        <td style="text-align:left;"><span class="DarkBlue ScreenName">#customSpringMessage('SCREEN_M_PAY_CONDITION_DELETE')</span></td><!--支払条件マスタ削除-->
                        <td class="FontMini" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onClick="javascript:exec();"><!--削除-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="DTL_INTER_BOX">
                <table class="NoBorder" width="100%">
                    #if("$!isUseAll"=="false")
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('COMPANY_CD')<!--会社コード--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                               ## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
                               ##<span class="FontDetailData">#out($domain.payConditionIdentify.companyCd)</span></td>
                               ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
                               <span class="FontDetailData">#out($domain.payConditionIdentify.companyCd)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('COMPANY_NAME')<!--会社名--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                 ## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
                                 ##<span class="FontDetailData">#out($domain.companySummary.companyName)</span></td>
                                 ## 強化-01835-000 2013.06.29 ADD SBO_WANGXM
                                 <span class="FontDetailData">#out($domain.companySummary.companyName)</span>
                            </div>
                        </td>
                    </tr>
                    #end
                    <tr>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('COMPANY_USE_LANGUAGE')<!--会社使用言語--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                       <span class="FontDetailData">#out($domain.companySummary.languageInd_PageValue)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_CONDITION_CD')<!--支払条件コード--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                               <span class="FontDetailData">#out($domain.payConditionIdentify.payConditionCd)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_CONDITION_NAME')<!--支払条件名--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($domain.payConditionName)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_SITE_DAY')<!--支払サイト（日）--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($domain.paySite.paySite)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_CUTOFF_DAY')<!--支払締--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($domain.payCutoffDay)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_DAY')<!--支払予定日付--></span>
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($domain.payDay)</span>
                            </div>
                        </td>
                    </tr>
                </table>
				<hr>
                 #foreach($!payConditionLanguage in $!domain.payConditionLanguageList.payConditionLanguageList)
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('LANGUAGE')</span><!--言語-->
							</div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($!domain.payConditionLanguageList.payConditionLanguageList[$velocityCount].languageInd.languageInd_PageValue)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width = "30%" class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('PAY_CONDITION_NAME')</span><!--支払条件名-->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <span class="FontDetailData">#out($!domain.payConditionLanguageList.payConditionLanguageList[$velocityCount].payConditionName)</span>
                            </div>
                        </td>
                    </tr>
                </table>
                 #end
                
                <table class="NoBorder" style="width:100%;">
                    <tr>
                        <td class="DTL_MSGBOX" nowrap>
                                #customSpringMessage('PSMST272_DEL_FOOTER_COMMENT') ## 削除した場合、登録内容は消去されますが、過去の伝票には影響はありません。
                        </td>
                        <td   class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onClick="javascript:exec();"><!--削除-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
