<!doctype html>
<html LANG="ja">
<head>
<title>
    #if("$isResp" == "true")
        #customSpringMessage('DELIV_RCV_DETAIL')
    #else
        #customSpringMessage('DELIV_CHECK_DETAIL')
    #end
</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript"></script>
</head>
## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
<body>
## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW END +++++
## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW START -----
##<body  style="overflow-y:hidden;">
## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW END -----
    <table class="DetailSheet" style="width:90%; height:98%; -webkit-box-shadow:0px 0px 0px #FFFFFF;" align="center">
        ## 2013.03.21 ADD DAIKO_WANG
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
		<tr>
		#if("$whereFromFlag" == "history")
			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
		#else
			<td >
		#end
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
		## ＩＴ３-00148-000 2013.06.18 DEL SBO_WANGXM
        ##<tr><td>
                ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
                <table width="100%">
                    <tr>
                        <td>
                        ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW END +++++
                        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
                            ###customSpringMessage('PSDLV021_HEADER_COMMENT')</td></tr>
                            #customSpringMessage('PSDLV021_HEADER_COMMENT')
                        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
                        ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
                        </td>
                    </tr>
                </table>
                ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW END +++++
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
        </tr>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
        <tr>
            <td>
               ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                 ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
                 <table class="Box1G" width="100%"  height="100%" >
                 ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
                 ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW START -----
                 ##<table class="Box1G" width="100%"  height="75%" >
                 ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW END -----
                ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf START -----
                ##  <table class="DetailSheet" width="100%"  height="100%" >
                ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf END -----
                    <tr>
                        <td nowrap class="Box1H FontBoxHeader">
                            #customSpringMessage('ORDER_NO')<!--注文番号-->
                        </td>
                        <td nowrap class="Box1D FontSlipNo" colspan="2">
                            #out($domain.order.orderManagement.orderNo.orderNo)
                        </td>
                    </tr>
                    <tr>
                        #if($isResp == "true")
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('DELIV_RCV_DATE')<!--納期回答日-->
                            </td>
                            <td nowrap class="Box1D FontSmall" colspan="2">
                                #out($domain.respInformation.respDate.respDate.dateOfymdFormat)
                            </td>
                        #else
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('DELIV_CHECK_DATE')<!--納期確認日-->
                            </td>
                            <td nowrap class="Box1D FontSmall" colspan="2">
                                #out($domain.appInformation.appDate.appDate.dateOfymdFormat)
                            </td>
                        #end
                    </tr>
                    <tr>
                        <td nowrap class="Box1H FontBoxHeader">
                            #customSpringMessage('ORDER_VOL')<!--注文数量-->
                        </td>
                        <td nowrap class="Box1D FontSmall" colspan="2">
                            <span id="orderVol"></span>
                            #out($domain.order.accounting.orderAmount.orderVolume.orderVol.volFormat)
                            #out($domain.order.accounting.orderItem.item.unit.unitName)
                        </td>
                    </tr>
                    <tr>
                        <td nowrap class="Box1H FontBoxHeader">
                            #customSpringMessage('ORDER_DELIV_DATE')<!--注文納期-->
                        </td>
                        <td nowrap class="Box1D FontSmall" colspan="2">
                            #out($domain.order.schedule.dlvEst.dlvEst.dateOfymdFormat)
                        </td>
                    </tr>
                    #if($isResp != "true")
                        <tr>
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('DELIV_RCV_LIMIT')<!--納期回答期限-->
                            </td>
                            <td nowrap class="Box1D FontSmall" colspan="2">
                                #out($domain.delivRespLimit.delivRespLimit.dateOfymdFormat)
                            </td>
                        </tr>
                    #end
                    <tr>
                        #if($isResp == "true")
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('RCV_DETAIL')<!--回答備考-->
                            </td>
                            <td nowrap class="Box1D FontSmall" colspan="2">
                                #out($domain.respInformation.respBackup.respBackup.comment)
                            </td>
                        #else
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('CHECK_DETAIL')<!--確認備考-->
                            </td>
                            <td nowrap class="Box1D FontSmall" colspan="2">
                                #out($domain.appInformation.appRemark.comment.comment)
                            </td>
                        #end
                    </tr>
                    <tr>
                        <td nowrap class="Box1H FontBoxHeader">
                            #customSpringMessage('CONFIRM_MARK')<!--確認マーク-->
                        </td>
                        <td nowrap class="Box1D FontSmall" colspan="2">
                         ## ----- IT2-01390-000 2013/03/12 DEL KANGJW START -----
                         ##  #out($domain.appMark.appMark)
                         ## ----- IT2-01390-000 2013/03/12 DEL KANGJW -END- -----
                         ## +++++ IT2-01390-000 2013/03/12 ADD KANGJW START +++++
                            #out($domain.appMark.appMarkName)
                         ## +++++ IT2-01390-000 2013/03/12 ADD KANGJW -END- +++++
                        </td>
                    </tr>
                    ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                    </table>
                    ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW START -----
                    ##<br>
                    ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW END -----
                    ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                    ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf START -----
                    ## <tr><td class="NoBorder">&nbsp;</td></tr>
                    ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf END -----
               ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
                    </td>
               </tr>
               <tr>
                    <td class="NoBorder">&nbsp;</td>
               </tr>
               <tr>
                    <td>
               ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW END +++++
                #if("$domain.delivRespItemList" != "")
                 ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                 ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW START +++++
               <table class="Box1G" width="100%"  height="100%" >
                 ## +++++ ＩＴ２-01531-000　2013/06/03 ADD SBO_KANGJW END +++++
                 ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW START -----
                 ##<table class="Box1G" width="100%"  height="20%" >
                 ## ----- ＩＴ２-01531-000 2013/06/03 DEL SBO_KANGJW END -----
                 ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                <tbody class="Box1H FontBoxHeader ListBorderWidth" width="100%">
                    <tr>
                        <td nowrap class="Box1H FontBoxHeader">
                            #customSpringMessage('PART_DELIV_NO')<!--分納回数-->
                        </td>
                        #if($isResp == "true")
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('QUOT_RESP_DELIV_DATE')<!--回答納期-->
                            </td>
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('QUOT_RESP_VOL')<!--回答数量-->
                            </td>
                        #else
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('CHECK_DELIV_DATE')<!--確認納期-->
                            </td>
                            <td nowrap class="Box1H FontBoxHeader">
                                #customSpringMessage('CHECK_AMOUNT')<!--確認数量-->
                            </td>
                        #end
                    </tr>
                    #foreach($delivRespItem in $domain.delivRespItemList)
                        <tr>
                            <td nowrap class="Box1D FontSmall" style="text-align:center;">
                                <span id="rowNo[$velocityCount]"></span>
                                #out($delivRespItem.delivRespItemIdentifyNo.rowNo)
                            </td>
                            <td nowrap class="Box1D FontSmall" style="text-align:center;">
                                #if("$delivRespItem.respDelivDate" != "")
                                    #out($delivRespItem.respDelivDate.dateOfymdFormat)
                                #end
                            </td>
                            ## ----- 強化-01002-000 2013/05/10 DEL SBO_CHENCHENG START -----
                            ## ----- <td nowrap class="Box1D " style="text-align:center;">
                            ## ----- 強化-01002-000 2013/05/10 DEL SBO_CHENCHENG -END- -----
                            ## +++++ 強化-01002-000 2013/05/10 ADD SBO_CHENCHENG START +++++
                            <td nowrap class="Box1D FontSmall" style="text-align:center;">
                            ## +++++ 強化-01002-000 2013/05/10 ADD SBO_CHENCHENG -END- +++++
                                <span id="respVol[$velocityCount]"></span>
                                #out($delivRespItem.respVol.volFormat)
                            </td>
                        </tr>
                    #end
                </tbody>
                #end
               </table>
            </td>
        </tr>
        ## 2013.03.21 ADD DAIKO_WANG
        <tr><td>#customSpringMessage('PSDLV021_FOOTER_COMMENT')</td></tr>
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
		#if("$whereFromFlag" == "history")
			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
		#end
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
    </table>

</body>
</html>

