<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('PRINT_LIST')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>

<script language="javascript" TYPE="text/javascript">
<!--

#set($searchCondition = $priceRevCreateSearchCondition)
#parse("./common/common_js.vm")
function onLoad() {
    TableSort.init();
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG -END- +++++
        alert(alertMessage);
        if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
    window.parent.getObj("SHOWPDFAREA").style.display = "";
}

function selectRow(no) {
    $('table tr:even').css('background-color', '#ffffff');
    $('table tr:odd').css('background-color', '#dce4ef');
    getObj("Row_"+no).style.backgroundColor = "#ffff99";
}

function issue(){
    var count = 0;
    var checkStatus = 0;
    var radio = document.getElementsByName('Chk');
    var fileName;
    for(var i = 0;i < radio.length; i++){
        if (radio[i].checked) {
           checkStatus = radio[i].value;
           count = count + 1;
           fileName = getObj("fileName_"+i).value;
        }
    }
    if(count==0){
        alert("#customMessageArgs("E247",[""])");
        return;
    }
    if( !confirm("#customMessageArgs("W001",[$"#customSpringMessage('TARGET_SHEET')","#customSpringMessage('ACTION_DOWNLOAD')"])") ) {
        return;
    }
    ## *****  ＩＴ２-01362-000 2013/03/22 MODIFY SBO_SOKOU START *****
    ## メソッドprintPdfはPSCMN040.vmに移動する。
    parent.printPdf(checkStatus,fileName,"${flowExecutionUrl}");
    ## *****  ＩＴ２-01362-000 2013/03/22 MODIFY SBO_SOKOU START *****
}
//-->
</script>
</head>

<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
<form id="BodyForm" name="Body"  method="post">
#if($!itemList.printItemList.size() > 0)
<table id="TABLE" class="ListArea" width="100%">
    <thead>
        <tr id="Header" style= "position:relative;overflow-y:auto; top:expression(this.offsetParent.scrollTop);">
            <th class="BoxHeaderCenter FontSmall">No.</th>
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("SELECTION")<!--選択 --></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="PROCESS_STATUS" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','PROCESS_STATUS')">#customSpringMessage("STATUS")<!--状態--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE02" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE02')">#customSpringMessage("REPORT_NAME")<!--帳票名--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE03" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE03')">#customSpringMessage("SUP_CD")<!--取引先コード--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE04" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE04')">#customSpringMessage("SUP_NAME")<!--取引先名--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="FILE_NAME" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','FILE_NAME')">#customSpringMessage("CREATE_REQ_FILE_NAME")<!--作成依頼ファイル名--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_DATE" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','REQ_DATE')">#customSpringMessage("CREATE_REQ_DAY_TIME")<!--作成依頼日時--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE09" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE09')">#customSpringMessage("DOWNLOAD_DATE_TIME")<!--ダウンロード日時--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE05" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE05')">#customSpringMessage("CREATE_REQ_SECTION_CD")<!--作成依頼部門コード--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE06" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE06')">#customSpringMessage("CREATE_REQ_SECTION_NAME")<!--作成依頼部門名--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="REQ_USER_ID" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','REQ_USER_ID')">#customSpringMessage("CREATE_REQ_USER_CD")<!--作成依頼者コード--></th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="NOTE07" onclick="parent.iframeChange('${flowExecutionUrl}&_eventId=sort','column','NOTE07')">#customSpringMessage("CREATE_REQ_USER_NAME")<!--作成依頼者名--></th>
        </tr>
    </thead>
    <tbody id="Tbody">
        #foreach($!printList in $!itemList.printItemList)
        <input type="hidden" id="fileName_$velocityCount" value="$!printList.createReqFileName" />
          <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter">
                 <input type="radio" name="Chk"  value="$!printList.orderSeq"  #if($!printList.status != '2') disabled="true" #end onclick="selectRow($velocityCount);">
            </td>
            <td class="BoxDetailCenter FontStatus">#out($!printList.status_PageValue)</td>
            <td class="BoxDetailLeft FontList">#out($!printList.reportName)</td>
            <td class="BoxDetailCenter FontList">#out($!printList.supplierCd)</td>
            <td class="BoxDetailLeft FontList">#out($!printList.supplierName)</td>
            <td class="BoxDetailLeft FontList">#out($!printList.createReqFileName)</td>
            <td class="BoxDetailCenter FontList">#out($!printList.createReqDayTime.dateOfymdDispYMDHMS)</td>
            <td class="BoxDetailCenter FontList">#out($!printList.downloadDayTime.dateOfymdDispYMDHMS)</td>
            <td class="BoxDetailCenter FontList">#out($!printList.createReqSectionCode)</td>
            <td class="BoxDetailLeft FontList">#out($!printList.createReqSectionName)</td>
            <td class="BoxDetailCenter FontList">#out($!printList.createReqUserCd)</td>
            <td class="BoxDetailLeft FontList">#out($!printList.createReqUserName)</td>
          </tr>
        #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</form>
</body>
</html>
