<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.dataaccess.pay.download.PayDataDownLoadMapper">

    <sql id="listKeyIdentityWhereCondition">
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(fiscalYearMonth.dateOfym)">
         AND T_P_PAY.FISCAL_MONTH = #{fiscalYearMonth.dateOfym, jdbcType=VARCHAR}
        </if>
         AND T_P_PAY.ACC_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
        <if test="!@org.apache.commons.lang.StringUtils@isNotBlank(payDataDownloadAllGrantFlg)">
         AND T_P_PAY.ACC_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(payDataDownloadAllGrantFlg)">
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(accSectionCd)">
         AND T_P_PAY.ACC_SECTION_CD = #{accSectionCd}
            </if> 
        </if>
         AND T_P_PAY.NEW_FLG = '1'
         AND T_P_PAY.ACC_STATUS = '05'
         AND T_P_PAY.DELETE_FLG = '0'
         AND EXISTS (SELECT 1 FROM T_P_PAY_DTL
                      WHERE T_P_PAY_DTL.PAY_SEQ = T_P_PAY.PAY_SEQ
                        AND T_P_PAY_DTL.DELETE_FLG = '0')
    </sql>

    <resultMap type="fw.domain.slip.payreq.payreq.payvoucherpeference.PayVoucherPeferenceItemDownLoadItem" id="PayVoucherPeferenceItemDownloadItem_Map">
        <id column="FISCAL_MONTH" property="fiscalMonth.dateOfym" />
        <id column="SUP_CD" property="supCd" />
        <id column="SUP_NAME" property="supName" />
        <id column="SUP_ABBR_NAME" property="supAbbrName" />
        <id column="SUP_COMPANY_CD" property="supCompanyCd" />
        <id column="DELIV_KEY_NO" property="delivKeyNo" />
        <id column="PAY_VERSION_NO" property="acceptVersion" />
        <id column="CORRECT_CD" property="divisionCd" />
        <id column="PAY_NO" property="orderNo" />
        <id column="RB_IND" property="rbInd" />
        <id column="REQ_COMPANY_CD" property="reqCompanyCd" />
        <id column="REQ_COMPANY_NAME" property="reqCompanyName" />
        <id column="REQ_SECTION_PLACE_CD" property="reqSectionPlaceCd" />
        <id column="REQ_SECTION_PLACE_NAME" property="reqSectionPlaceName" />
        <id column="REQ_SECTION_CD" property="reqSectionCd" />
        <id column="REQ_SECTION_NAME" property="reqSectionName" />
        <id column="REQ_USER_ID" property="reqUserId" />
        <id column="REQ_USER_NAME" property="reqUserName" />
        <id column="LOAD_COMPANY_CD" property="loadCompanyCd" />
        <id column="LOAD_COMPANY_NAME" property="loadCompanyName" />
        <id column="LOAD_SECTION_PLACE_CD" property="loadSectionPlaceCd" />
        <id column="LOAD_SECTION_PLACE_NAME" property="loadSectionPlaceName" />
        <id column="LOAD_SECTION_CD" property="loadSectionCd" />
        <id column="LOAD_SECTION_NAME" property="loadSectionName" />
        <id column="ACC_COMPANY_CD" property="buyerCompanyCd" />
        <id column="ACC_COMPANY_NAME" property="buyerCompanyName" />
        <id column="ACC_SECTION_PLACE_CD" property="buyerSectionPlaceCd" />
        <id column="ACC_SECTION_PLACE_NAME" property="buyerSectionPlaceName" />
        <id column="ACC_SECTION_CD" property="buyerSectionCd" />
        <id column="ACC_SECTION_NAME" property="buyerSectionName" />
        <id column="ACC_USER_ID" property="buyerUserId" />
        <id column="ACC_USER_NAME" property="buyerUserName" />
        <id column="ACC_COMPANY_CD" property="acceptCompanyCd" />
        <id column="ACC_COMPANY_NAME" property="acceptCompanyName" />
        <id column="ACC_SECTION_PLACE_CD" property="acceptSectionPlaceCd" />
        <id column="ACC_SECTION_PLACE_NAME" property="acceptSectionPlaceName" />
        <id column="ACC_SECTION_CD" property="acceptSectionCd" />
        <id column="ACC_SECTION_NAME" property="acceptSectionName" />
        <id column="ACC_USER_ID" property="acceptUserId" />
        <id column="ACC_USER_NAME" property="acceptUserName" />
        <id column="PS_BILL_DATE" property="acceptDate.dateOfymd" />
        <id column="DETAIL_SUBJECT" property="itemName" />
        <id column="SUBJECT_COMPANY_CD" property="subjectCompanyCd" />
        <id column="SUBJECT_CD" property="subjectCd" />
        <id column="SUBJECT_NAME" property="subjectName" />
        <id column="BUDGET_NO" property="budgetNo" />
        <id column="CURRENCY_CD" property="currencyCd" />
        <id column="UNIT_CD" property="unitCd" />
        <id column="UNIT_NAME" property="unitName" />
        <id column="CONSUMPT_IND" property="acceptConsumptInd" />
        <id column="TAX_IND" property="acceptTaxInd" />
        <id column="TAX_RATE" property="taxRate.rate.amount" />
        <id column="PAY_VOL" property="acceptVol.vol" />
        <id column="UNIT_PRICE" property="acceptUnitPrice.amount" />
        <id column="CLAIM_PRICE" property="acceptAmount.amount" />
        <id column="CONSUMPT_AMOUNT" property="consumptAmount.amount" />
        <id column="CLAIM_TOTAL_AMOUNT" property="totalAmount.amount" />
        <id column="TITLE_NAME" property="titleName" />
        <id column="PAY_CONDITION_CD" property="payConditionCd" />
        <id column="PAY_CONDITION_NAME" property="payConditionName" />
        <id column="PAY_SEQ" property="AcceptSeq" />
        <id column="ELIGIBLE_INVOICE_ISSUE_IND" property="eligibleInvoiceIssueInd" />
        <id column="BUSINESS_REGIST_NO" property="businessRegistNo" />
    </resultMap>

    <sql id="viewDownloadSql">
      SELECT T_P_PAY.FISCAL_MONTH
           , T_P_PAY.SUP_CD
           , T_P_PAY.SUP_NAME
           , T_P_PAY.SUP_ABBR_NAME
           , T_P_PAY.SUP_COMPANY_CD
           , T_P_PAY.PAY_NO ||
             CASE WHEN LENGTH(T_P_PAY_DTL.DETAIL_NO) = 1
                  THEN LPAD(TO_CHAR(T_P_PAY_DTL.DETAIL_NO), 2, '0')
                  ELSE SUBSTR(TO_CHAR(T_P_PAY_DTL.DETAIL_NO), -2)
             END AS "DELIV_KEY_NO"
           , T_P_PAY.PAY_VERSION_NO
           , T_P_PAY.CORRECT_CD
           , T_P_PAY.PAY_NO
           , '0' AS RB_IND
           , T_P_PAY.REQ_COMPANY_CD
           , T_P_PAY.REQ_COMPANY_NAME
           , T_P_PAY.REQ_SECTION_PLACE_CD
           , T_P_PAY.REQ_SECTION_PLACE_NAME
           , T_P_PAY.REQ_SECTION_CD
           , T_P_PAY.REQ_SECTION_NAME
           , T_P_PAY.REQ_USER_ID
           , T_P_PAY.REQ_USER_NAME
           , T_P_PAY_DTL.LOAD_COMPANY_CD
           , T_P_PAY_DTL.LOAD_COMPANY_NAME
           , T_P_PAY_DTL.LOAD_SECTION_PLACE_CD
           , T_P_PAY_DTL.LOAD_SECTION_PLACE_NAME
           , T_P_PAY_DTL.LOAD_SECTION_CD
           , T_P_PAY_DTL.LOAD_SECTION_NAME
           , T_P_PAY.ACC_COMPANY_CD
           , T_P_PAY.ACC_COMPANY_NAME
           , T_P_PAY.ACC_SECTION_PLACE_CD
           , T_P_PAY.ACC_SECTION_PLACE_NAME
           , T_P_PAY.ACC_SECTION_CD
           , T_P_PAY.ACC_SECTION_NAME
           , T_P_PAY.ACC_USER_ID
           , T_P_PAY.ACC_USER_NAME
           , T_P_PAY.PS_BILL_DATE
           , T_P_PAY_DTL.DETAIL_SUBJECT
           , T_P_PAY_DTL.SUBJECT_COMPANY_CD
           , T_P_PAY_DTL.SUBJECT_CD
           , T_P_PAY_DTL.SUBJECT_NAME
           , T_P_PAY_DTL.BUDGET_NO
           , T_P_PAY.CURRENCY_CD
           , T_P_PAY_DTL.UNIT_CD
           , T_P_PAY_DTL.UNIT_NAME
           , T_P_PAY_DTL.CONSUMPT_IND
           , T_P_PAY_DTL.TAX_IND
           , T_P_PAY_DTL.TAX_RATE
           , T_P_PAY_DTL.PAY_VOL
           , T_P_PAY_DTL.UNIT_PRICE
           , T_P_PAY_DTL.CLAIM_PRICE
           , T_P_PAY_DTL.CONSUMPT_AMOUNT
           , T_P_PAY_DTL.CLAIM_TOTAL_AMOUNT
           , T_P_PAY.TITLE_NAME
           , T_P_PAY.PAY_CONDITION_CD
           , T_P_PAY.PAY_CONDITION_NAME
           , T_P_PAY.PAY_SEQ
           , M_SUPPLIER.ELIGIBLE_INVOICE_ISSUE_IND
           , M_SUPPLIER.BUSINESS_REGIST_NO
           , ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLDomainAliasNonBinary("T_P_PAY", "payResExtItem")}
           , ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQLDomainAliasNonBinary("T_P_PAY_DTL", "payResExtItemDtl")}
        FROM T_P_PAY
       INNER JOIN T_P_PAY_DTL
          ON T_P_PAY.PAY_SEQ = T_P_PAY_DTL.PAY_SEQ
       LEFT JOIN M_SUPPLIER
         ON  (M_SUPPLIER.COMPANY_CD = T_P_PAY.REQ_COMPANY_CD
         OR  M_SUPPLIER.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
        AND  M_SUPPLIER.SUP_CD = T_P_PAY.SUP_CD
    </sql>

    <select id="download" parameterType="fw.domain.slip.payreq.payreq.payDataDownLoad.PayDataDownLoadSearchCondition" resultMap="PayVoucherPeferenceItemDownloadItem_Map">
      SELECT *
        FROM(<include refid="viewDownloadSql"/><where><include refid="listKeyIdentityWhereCondition"/></where>) T_P_PAY
       WHERE ROWNUM &lt;= ${@fw.common.util.PropertiesUtil@getLong("DOWNLOAD_MAXCNT")}
    ORDER BY FISCAL_MONTH DESC, SUP_CD, DELIV_KEY_NO, PAY_VERSION_NO, CORRECT_CD
    </select>

    <select id="downloadCount" parameterType="fw.domain.slip.payreq.payreq.payDataDownLoad.PayDataDownLoadSearchCondition" resultType="java.lang.Long">
      SELECT COUNT(*)
        FROM(<include refid="viewDownloadSql"/><where><include refid="listKeyIdentityWhereCondition"/></where>)
    </select>

</mapper>