<!doctype html>
<html LANG="ja">
<head>
#if("$!searchCondition.status" == "")
    #set($commonTitle = "#customSpringMessage('RCV_PRICE_LIST')")
#else
    #set($commonTitle = "#customSpringMessage('RCV_PRICE_LIST')(#out($!searchCondition.status_PageValue))")
#end
<title>#out($commonTitle)</title> ## 回答価格改定一覧
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>

<script language="javascript" type="text/javascript">
<!--

#set($searchViewStateID='PSPRC130')
#set($listViewStateID='PSPRC131')

var pinName="PSPRC130_Pin";
#parse("./common/common_js.vm")

function onLoad(){
	setFocusForInput();
    var status = "#jsEscape($!status)";
    var isLinkTrue = false;
    var isStatusTrue = true;
    
    if(status != "" ){
        isLinkTrue = true;
    }
    if( getCookie("PSPRC130_Pin")=="1" ) {
        setDisplay("PIN0",false);
        setDisplay("PIN1",true);
    } else {
        setDisplay("PIN0",true);
        setDisplay("PIN1",false);
    }
    
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
        if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    if( isLinkTrue && isStatusTrue){
        iframeChange("${flowExecutionUrl}&_eventId=search","pageid","PSPRC131");
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen START -----
        ## document.getElementById("DATAAREA").src="";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen -END- -----
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen START +++++
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = ""; 
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen -END- +++++
        return;
    }
    var isShowList = "#jsEscape($isShowList)";
    if (isShowList == 'true'){
        iframeChange("${flowExecutionUrl}&_eventId=search","pageid","PSPRC131");
        isStatusTrue = false;
    }
    

}

function clearSupName() {
        getObj('supName').value='';
}

## +++++ 強化-00041-000 2013/03/25 ADD SBO_KANGJW START +++++
function execSearch(){
    buttonDisable();
    getObj('BodyForm').action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}
## +++++ 強化-00041-000 2013/03/25 ADD SBO_KANGJW -END- +++++

//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%" onload="onLoad();" style="overflow-y:hidden;">
<form id="BodyForm" name="Body" action="${flowExecutionUrl}&_eventId=validate" method="post">
    #customFormHiddenInput("status" "")  
    <!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    <!--検索部テーブル開始-->
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title_nonew.vm")
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust" align="right" valign="top">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder"  width="100%">
                                ## 2013.03.21 ADD DAIKO_WANG
                                <tr><td align="left" colspan="4">#customSpringMessage('PSPRC130_HEADER_COMMENT')</td></tr>
                                <tr>
                                   <td nowrap class="FontSmallBold" align="right">#customSpringMessage('SUPPLIER')<!--取引先--></td>
                                   <td nowrap align="left">
                                        #springFormInput("searchCondition.supCd" "class='Small noIME' maxlength='12' size='20' ondblclick='' onchange='clearSupName();'
                                            onfocus='this.select();if(nowWarning==this) { closeWarningBox();}' onmouseover='reDrowWbx(this);' value='$!searchCondition.supCd'")
                                        ## +++++ 強化-00601-000 2013/03/25 ADD SBO_wangzf START +++++
                                        #springFormInput("searchCondition.supName" " class='SmallDsp' type='text' readonly tabIndex='-1' tabindex = '-1' size='71' ")
                                        ## +++++ 強化-00601-000 2013/03/25 ADD SBO_wangzf END +++++
                                        ## ----- 強化-00601-000 2013/03/25 DEL SBO_wangzf START -----
                                        ## #springFormInput("searchCondition.supName" " class='SmallDsp' type='text' readonly  size='32' ")
                                        ## ----- 強化-00601-000 2013/03/25 DEL SBO_wangzf END -----
                                        <img class="Icon" name="ItemSearch" src="../../image/btnLupe.gif" onclick="supplierPopup.setObject(getObj('supCd'),getObj('supName'),getObj('supName'));masterSearch('../../src/supplierPopup/search?pageid=supplierPopupSearch&popupPageid=PSPRC130','supplierPopup','700','500');">
                                     </td>
                                   <td nowrap class="FontSmallBold" align="right">#customSpringMessage('PRICE_REQ_DATE')<!--価格改定依頼日 --></td>
                                   <td nowrap align="left">
                                         #springFormInput("searchCondition.priceReqDateFrom.dateOfymdFormat" "maxLength=8 size=12 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                         <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('priceReqDateFrom.dateOfymdFormat'));">
                                        <span class="FontSmall">～</span>
                                         #springFormInput("searchCondition.priceReqDateTo.dateOfymdFormat" "maxLength=8 size=12 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                         <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('priceReqDateTo.dateOfymdFormat'));">
                                   </td>
                               </tr>
                               <tr>
                                   <td nowrap class="FontSmallBold" align="right">#customSpringMessage('PRICE_RESP_DATE')<!--価格改定回答日--></td>
                                   <td nowrap align="left">
                                         #springFormInput("searchCondition.priceRespDateFrom.dateOfymdFormat" "maxLength=8 size=12 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('priceRespDateFrom.dateOfymdFormat'));">
                                        <span class="FontSmall">～</span>
                                        #springFormInput("searchCondition.priceRespDateTo.dateOfymdFormat" "maxLength=8 size=12 class='SmallAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="initSearchBox(1,getObj('priceRespDateTo.dateOfymdFormat'));">
                                   </td>
                                    <td nowrap class="FontSmallBold" align="right">#customSpringMessage('NEXT_UPD_YM')<!--次回見直時期--></td>
                                   <td nowrap align="left">
                                   ## +++++  強化-01309-000 2013/05/14 ADD SBO_wangzf START +++++
                                         #springFormInput("searchCondition.nextUpdYmFrom.dateOfymFormat" "maxLength=6 size=12 class='SmallAnk noIME' onblur='dateOnBlurYYYYMM(this);' onfocus='dateOnFocus(this);'")
                                        <span class="FontSmall">&nbsp;～&nbsp;</span>
                                         #springFormInput("searchCondition.nextUpdYmTo.dateOfymFormat" "maxLength=6 size=12 class='SmallAnk noIME' onblur='dateOnBlurYYYYMM(this);' onfocus='dateOnFocus(this);'")
                                   ## +++++  強化-01309-000 2013/05/14 ADD SBO_wangzf END +++++
                                   ## -----  強化-00515-000 2013/05/14 DEL SBO_wangzf START -----
                                   ## #springFormInput("searchCondition.nextUpdYmFrom.dateOfymFormat" "maxLength=6 size=12 class='MiddleAnk noIME' onblur='dateOnBlurYYYYMM(this);'")
                                   ##    <span class="FontSmall">&nbsp;～&nbsp;</span>
                                   ##     #springFormInput("searchCondition.nextUpdYmTo.dateOfymFormat" "maxLength=6 size=12 class='MiddleAnk noIME' onblur='dateOnBlurYYYYMM(this);'")
                                   ## -----  強化-00515-000 2013/05/14 DEL SBO_wangzf END -----
                                   </td>
                               </tr>
                              <tr>
                                   <td nowrap class="FontSmallBold" align="right">#customSpringMessage('STATUS')<!--状態--></td>
                                   <td nowrap class="FontSmall" align="left">
                                     #customFormCheckboxes("searchCondition.statusList" $PRICE_STATUS "" "class='FontSmall'")<br/>
                                   </td>
                                   <td nowrap class="FontSmallBold" align="right">#customSpringMessage('BUYER_USER_NAME')<!--購買担当者名--></td>
                                   ## +++++ 強化-01345-000 2013/05/15 ADD SBO_KANGJW  END +++++
                                   <td nowrap class="FontSmallBold" align="left">
                                          #customFormSingleSelect("searchCondition.priceReqUserId" $buyerUserList "")
                                   </td>
                               </tr>
                               <tr>
                                    <td align="left" colspan="4" nowrap class="FontComment">
                                        #customSpringMessage("PSPRC130_FOOTER_COMMENT") ## ＊:前方一致 / ％:中間一致 / なし:完全一致
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td nowrap class="FontSmallBold" align="right" valign="top">
                            <br>
                            <!-- ＊＊＊＊＊　検索実行　＊＊＊＊＊ -->
                            ## ----- 強化-00041-000 2013/03/25 DEL SBO_KANGJW START -----
                            ##<input type="submit" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')">
                            ## ----- 強化-00041-000 2013/03/25 DEL SBO_KANGJW -END- -----
                            ## +++++ 強化-00041-000 2013/03/25 ADD SBO_KANGJW START +++++
                            <input type="button" onclick="javascript:execSearch();" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')"><!--検索-->
                            ## +++++ 強化-00041-000 2013/03/25 ADD SBO_KANGJW -END- +++++
                            <br>
                            ## +++++ 強化-00928-000 2013/06/24 ADD SBO_lichao START +++++
                            ##<br><a href="javascript:clear('Adjust');" id="clearSearch">#customSpringMessage("ACTION_CLEAR_SEARCH_CRITERIA")<!--検索条件をクリアする--></a>&nbsp;
                            <br><a href="javascript:clear();" id="clearSearch">#customSpringMessage("ACTION_CLEAR_SEARCH_CRITERIA")<!--検索条件をクリアする--></a>&nbsp;
                            ## +++++ 強化-00928-000 2013/06/24 ADD SBO_lichao -END- +++++
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       <tr>
            <td class="UploadArea">
                <table class="NoBorder" width="100%" style="margin:auto;">
                    <tr>
                        <td align="left">
                            <table width="100%">
                                <tr>
                                    <td align="left"  class="FontSmallBold DarkBlue">#customSpringMessage("ACTION_STOP_COMMENT")</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id ="TR_ERROR" style="display:none;"><td class="error " style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr>
            <td class="NoBorder" style="height:auto;">
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
            </td>
        </tr>

    </table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>

</form>
</body>

</html>
