    #if(!$!_item_style)
        #set($_item_style='Small')
    #end    
    
    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
        #if($!dspFlg == '1')
            <span class="$!_label_style">$!propertyValue</span>
            <input 
                    type="hidden" 
                    id="$!property" 
                    name="$!property" 
                    value="$!propertyValue">
        #else
        <input 
            class="$!_item_style $!ime" 
            id="$!property" 
            name="$!property" 
            type="text" 
            maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
            size="$!size" 
            value="$!propertyValue" 
            $!_event>
         #end
    </td>
