    #if(!$fileindex)
        #set($fileindex='1')
    #end 
    #if(!$!_item_style)
        #set($_item_style='Small')
    #end  
    
    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
        <table width="100%" class="FontMini">
            <tr>
                #set( $fileDisp = "" )
                #if("$!fileNameValue"!='') 
                <td id="FileLinkExt" nowrap width="30%">
                    <a href="#" onclick="downloadExt('$!fileName','$!binary');">$!fileNameValue</a>
                    #if($!dspFlg!='1')
                    <input type="checkbox" onclick="getObj('$!file').disabled =!this.checked;getObj('fileClearBtn_$!file').disabled =!this.checked;getObj('$!delFlg').value = this.checked?'1':'0'"/>#customSpringMessage('ACTION_DELETE')
                    #end
                </td>
                    #set( $fileDisp = "disabled" )
                <td id="$!{file}.td" nowrap width="70%">
                #else
                <td id="$!{file}.td" nowrap>
                #end
                    #if($!dspFlg!='1')
                    <input 
                    type="hidden" 
                    id="$!delFlg" 
                    name="$!delFlg" 
                    #if($!delFlg=='')
                    value="0" 
                    #else 
                    value="$!delFlgValue"
                    #end>
                    <input 
                    class="$!_item_style $!ime" 
                    id="$!file" 
                    name="$!file" 
                    type="file" 
                    maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
                    size="$!size" 
                    value="$!fileNameValue" $fileDisp >
                    <input id="fileClearBtn_$!file" type="button" class="MinimumButton" onclick="getObj('$!file').outerHTML = getObj('$!file').outerHTML;" value="#customSpringMessage('ACTION_CLEAR')" $fileDisp >
                    #end
                </td>
                <script language="javascript" type="text/javascript">
                function downloadExt(filename, file) {
                    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
                }
                </script>
               
            </tr>
        </table>
    </td>