    #if(!$!_masterCdIme)
        #set($_masterCdIme=$!ime)
    #end
    #if(!$!_masterNameIme)
        #set($_masterNameIme=$!ime)
    #end
    #if(!$!_imageName)
        #set($_imageName='StockPlaceSearch')
    #end
    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
            <input 
            class="$!_item_style $!_masterCdIme Small" 
            id="$!masterCd" 
            name="$!masterCd" 
            type="text" 
            maxlength="12" 
            size="14" 
            value="$!masterCdValue"
            onchange="getObj('$!masterName').value='';"
            $!_event>
            <input 
            readonly 
            class="$!_item_style $!_masterNameIme SmallDsp" 
            id="$!masterName" 
            name="$!masterName" 
            type="text" 
            size="71" 
            tabindex="-1"
            value="$!masterNameValue">
            <img class="Icon" 
                 name="$!_imageName" 
                 src="../../image/btnLupe.gif" 
                 onclick="deliveryPlacePopup.setParam('#jsEscapeInHTML($!_termFlag)','#jsEscapeInHTML($!_companyCd)','#jsEscapeInHTML($!_sectionPlaceCd)','#jsEscapeInHTML($!_referenceRangeFlg)');
                          deliveryPlacePopup.setObject(getObj('$!sectionPlaceCd'),getObj('$!sectionPlaceName'),getObj('$!masterCd'),getObj('$!masterName'));
                          masterSearch('../../src/stockPlacePopup/search?pageid=stockPlacePopupSearch',
                                       'StockPlaceSearch',
                                       '700',
                                       '500');">
    </td>
