<!doctype html>
<html lang="ja">
<head>
<title>    
    #if("Insert" == "$!type")
        #customSpringMessage("SCREEN_M_USER_CREATE")
    #else
        #customSpringMessage("SCREEN_M_USER_EDIT")
    #end</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link  rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe start
##var password = "#jsEscape($!old_psw)";
##var passwordcon = "#jsEscape($!old_pswconfirm)";
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe end
function onLoad() {
    setFocus();
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe start
##    getObj('password1').value = getObj('password').value;
##    getObj('passwordConfirmation1').value = getObj('passwordConfirmation').value;
##    if (password == "#user_edit($!domain.password)") {
##        getObj('password1').value = "";
##    }
##    if (passwordcon == "#user_edit($!domain.passwordConfirmation)") {
##        getObj('passwordConfirmation1').value = "";
##    }
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe end
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var sectionName = "#jsEscape($!SectionName)";
    if (sectionName != ""){
        getObj('userSectionInfo.userSection.sectionName').value = sectionName;
        getObj('userSectionInfo.userSection.sectionCd').focus();
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
     var isSuccess = '#jsEscape($!isSuccess)';
    if(isSuccess == 'true'){
        #set($mUser = "#customSpringMessage('M_USER')" )
        
        #if($!type == "Update")
            alert('#customMessageArgs("I002",[$mUser])');
        #else
            alert('#customMessageArgs("I005",[$mUser])');
        #end
        buttonDisable();
        top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }
}

function exec() {
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe start
##    if (getObj("password1").value == "" && getObj("passwordConfirmation1").value == "") {
##        getObj("password").value = password;
##        getObj("passwordConfirmation").value = password;
##    }
## TODO 14/11/14 del パスワード暗号化 daiko t.watanabe end
    #set( $mmUser = "#customSpringMessage('M_USER')" )   
    #if($!type == "Update")
        #set( $register = "#customSpringMessage('UPDATE')" )
        if( !confirm('#customMessageArgs("W001",[$mmUser,$register])') ) {
            return;
        }
    #else
        #set( $register = "#customSpringMessage('ACTION_REGISTER')" )
        if( !confirm('#customMessageArgs("W001",[$mmUser,$register])') ) {
            return;
        }
    #end
    
    buttonDisable();
    getObj("Body").submit();
}

function getCalendar(num,objName){
    var obj = document.getElementsByName(objName)[0];
    initSearchBox(num,obj);
}

function poppageOpen(no,approuteVoucherInd) {
   var userPermissionFlg = 0;
    if(approuteVoucherInd == '1') {  ##購入依頼（都度・カタログ）
        userPermissionFlg = '530,540';
    }else if(approuteVoucherInd == '2') {//注文
        userPermissionFlg = 570;
    }else if(approuteVoucherInd == '3') {//受入
        userPermissionFlg = 580;
    }else if(approuteVoucherInd == '4') {//検査
        userPermissionFlg = 590;
    }else if(approuteVoucherInd == '5') {//検収
        userPermissionFlg = 600;
    }else if(approuteVoucherInd == '7') {//支払請求
        userPermissionFlg = 550;
    }else if(approuteVoucherInd == '8') {//支払伝票
        userPermissionFlg = 670;
    }else if(approuteVoucherInd == 'A') {//見積取得依頼
        userPermissionFlg = 520;
    }else if(approuteVoucherInd == 'B') {//見積依頼
        userPermissionFlg = 560;
    }else if(approuteVoucherInd == 'C') {//見積回答
        userPermissionFlg = 560;
    }else if(approuteVoucherInd == 'D') {//購買価格
        userPermissionFlg = '620';
    }else {
        userPermissionFlg = 0;
    }

    userPopup.setParam('0','#jsEscape($domain.userIdentify.companyCd)','','','1',userPermissionFlg,'','1');

    var userId;
    var userName;
    userId = document.getElementById("subAppUserList.subAppUserList["+no+"].userId");
    userName = document.getElementById("subAppUserList.subAppUserList["+no+"].userName");

    userPopup.setObject(userId,userName);
    masterSearch('../../src/userPopup/search?pageid=userPopupSearch&popupPageid=PSMST061','userSearch','700','500');
}
function sectionCdLostFocus(){
    var termFlg = "0";
    var companyCd = getObj('userIdentify.companyCd').value;
    var sectionCd = getObj('userSectionInfo.userSection.sectionCd').value;
    if(sectionCd == ""){
    getObj('userSectionInfo.userSection.sectionName').value = "";
    return;
    }
    $.post(
    "../../getSectionInfoOnBlur",
    {
    "termFlag":termFlg,
    "companyCd":cleanXss(companyCd),
    "sectionCd":cleanXss(sectionCd),
    "validDateFlg":"1"
    },
    function(data){
    getObj("userSectionInfo.userSection.sectionName").value= data.sectionName;
    }
    );
}

$("document").ready(function(){
 $("#userSectionInfo\\.userSection\\.sectionName").bind("focus", function(){
 $("#userSectionInfo\\.validity\\.validityPeriod\\.period\\.startDate\\.dateOfymdFormat").focus();
});
});

//代理承認者 
function appUserOnblur(no,approuteVoucherInd){
        var userPermissionFlg = 0;
    
    if(approuteVoucherInd == '1') {  ##購入依頼（都度・カタログ）
        userPermissionFlg = '530,540';
    }else if(approuteVoucherInd == '2') {//注文
        userPermissionFlg = 570;
    }else if(approuteVoucherInd == '3') {//受入
        userPermissionFlg = 580;
    }else if(approuteVoucherInd == '4') {//検査
        userPermissionFlg = 590;
    }else if(approuteVoucherInd == '5') {//検収
        userPermissionFlg = 600;
    }else if(approuteVoucherInd == '7') {//支払請求
        userPermissionFlg = 550;
    }else if(approuteVoucherInd == '8') {//支払伝票
        userPermissionFlg = 670;
    }else if(approuteVoucherInd == 'A') {//見積取得依頼
        userPermissionFlg = 520;
    }else if(approuteVoucherInd == 'B') {//見積依頼
        userPermissionFlg = 560;
    }else if(approuteVoucherInd == 'C') {//見積回答
        userPermissionFlg = 560;
    }else if(approuteVoucherInd == 'D') {//購買価格
        userPermissionFlg = '620,630';
    }else {
        userPermissionFlg = 0;
    }
    
    var userId = document.getElementById("subAppUserList.subAppUserList["+no+"].userId").value;
    var userSectionCd = "";
     #if("$!type" == "Update")
        userSectionCd = "#jsEscape($!domain.userSectionInfo.userSection.sectionCd)";
     #else
        userSectionCd = document.getElementById("userSectionInfo.userSection.sectionCd").value;
     #end
    $.post(
        "../../getUserInfoOnBlur",
        {
            termFlag:'0',
            companyCd:'#jsEscape($domain.userIdentify.companyCd)',
            sectionCd:userSectionCd,
            referenceRangeFlg:'1',
            userPermissionFlg:userPermissionFlg,
            userId:userId
        },
        function(data){
            document.getElementById("subAppUserList.subAppUserList["+no+"].userName").value= data.userName;
        }
    );
}

// 代理承認者クリア処理
function clearSubAppUser(no) {
    document.getElementById("subAppUserList.subAppUserList["+no+"].userId").value= "";
    document.getElementById("subAppUserList.subAppUserList["+no+"].userName").value= "";
}

//-->
</script>
</head>
<body class="Body" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="center" onload="onLoad();">
<table class="NoBorder" style="height:0;"><tr><td>
<!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
<iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
</td></tr></table>
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    #customFormHiddenInput("pageid" "user$!type")
    #customFormHiddenInput("userIdentify.lastUpdDate" "$!domain.userIdentify.lastUpdDate")
    #customFormHiddenInput("usernum" "-1") 
<table width="70%" style="height:20px; margin-right:auto; margin-left:auto;"><tr id ="TR_ERROR" style="display:none;"><td class="error">
    $!errorMessage
</td></tr>
       <tr>
            <td class="FontSmallBold DarkBlue">
                #if($!{type} == "Insert")
                    #customSpringMessage("PSMST062_ADD_HEADER_COMMENT") 
                #else 
                    #customSpringMessage("PSMST062_EDIT_HEADER_COMMENT") 
                #end
            </td>
       </tr>    
</table>
    <table class="DTL_BOX" width="70%">
        <tr>
            <td class="DTL_TITLE_BOX">
                <table class="NoBorder" width="100%">
                    <tr>
                        <td style="text-align:left;">
                            <span class="DarkBlue FontBigBold">
                                 #if("Insert" == "$!type")
                                    #customSpringMessage("SCREEN_M_USER_CREATE")<!--ユーザーマスタ登録-->
                                #else
                                    #customSpringMessage("SCREEN_M_USER_EDIT")<!--ユーザーマスタ編集-->
                                 #end
                        </span>
                        </td>
                        <td class="FontSmall" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_REGISTER')" onclick="exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="DTL_INTER_BOX">
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("COMPANY_CD") </span><!--会社コード -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                             <table class="NoBorder" width="100%">
                                <tr>
                                    <td class="FontMiniAnkBold">
                                        <div class="Brown">
                                            #customFormHiddenInput("userIdentify.companyCd" "$!domain.userIdentify.companyCd")
                                            #out($domain.userIdentify.companyCd)
                                        </div>
                                    </td>
                                    <td align="right">
                                         #customFormSingCheckboxByType("TERMINATION" "domain.userSectionInfo.validity.term.termFlg" "" $termFlagList "class='FontSmall'")<!--廃止-->&nbsp;
                                    </td>  
                                </tr>
                             </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("COMPANY_NAME") </span><!--会社名 -->
                            </div>
                        </td>
                          <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                        <td class="FontMiniAnkBold">
                                            <span class="Brown">
                                               #out($!domain.companySummary.companyName)
                                             </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("USER_ID")</span> #customFormRedMessageByType("class='FontWarn'" "false" "※")<!--ユーザーID -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                        <td class="FontMiniAnkBold">
                                            <span class="Brown">
                                                #customFormInputByType("domain.userIdentify.userId" "class='Middle noIME' maxLength='12' size='20'" "false" "class='FontMiniAnkBold'" "class='Brown'")
                                             </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("COMPANY_USE_LANGUAGE")</span><!--言語  -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                        <td class="FontMiniAnkBold">
                                            <span class="Brown">
                                               #out($!domain.companySummary.languageInd_PageValue)
                                             </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("USER_NAME") </span> <span class="FontWarn" >&nbsp;※</span> <img src="../../image/mrkBook.gif" align="center"><!--ユーザー名 -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                        <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.userName" "class='Middle onIME' maxLength='30' size='74'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("PASSWORD") </span>#customFormRedMessageByType("class='FontWarn'" "false" "※")<!--パスワード -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown">
## TODO 14/11/14 mod パスワード暗号化 daiko t.watanabe start
                                            #springFormPasswordInput("domain.password" "size=40 maxLength=128 class='Middle'")
##                                             <input class="Middle noIME" id="password1" type="password" size="40" maxlength="30" onchange="getObj('password').value = getObj('password1').value;">
##                                             #customFormHiddenInput("password" "$!domain.password")
## TODO 14/11/14 mod パスワード暗号化 daiko t.watanabe end
                                        </span>
                                        <span id = "passwordCha" class="FontWarn" >
                                        #if("Update"==$type)
                                            #customSpringMessage('PASSWD_INFO_COMMENT')
                                        #end
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("PASSWORD_CONFIRMATION") </span>#customFormRedMessageByType("class='FontWarn'" "false" "※")<!--パスワードの確認 -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown">
## TODO 14/11/14 mod パスワード暗号化 daiko t.watanabe start
                                            #springFormPasswordInput("domain.passwordConfirmation" "size=40 maxLength=128 class='Middle'")
##                                            <input class="Middle noIME" id="passwordConfirmation1" type="password" size="40" maxlength="30" onchange="getObj('passwordConfirmation').value = getObj('passwordConfirmation1').value;">
##                                            #customFormHiddenInput("passwordConfirmation" "$!domain.passwordConfirmation")
## TODO 14/11/14 mod パスワード暗号化 daiko t.watanabe end
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
## TODO 14/11/14 add パスワード暗号化 daiko t.watanabe start
                #if ($!{type} != "Insert" && ($!domain.passwordValidEnabled || $!domain.passwordLockEnabled))
                    ## パスワード有効期限チェック機能が有効な場合のみ
                    #if ($!domain.passwordValidEnabled)
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontSmallBold">#customSpringMessage('PASSWORD_LIMIT_TIME')</span><!--パスワード有効期限-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%"><tr>
                                    <td class="FontMiniAnkBold"><span class="Brown">#out($!domain.passwordValidEndTime.dateOfymdDispYMDHMS)</span></td>
                                </tr></table>
                            </div>
                        </td>
                    </tr>
                    #end
                    ## パスワードロックチェック機能が有効な場合のみ
                    #if ($!domain.passwordLockEnabled)
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontSmallBold">#customSpringMessage('PASSWORD_UNLOCK_TIME')</span><!--パスワードロック解除-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%"><tr>
                                    <td class="FontMiniAnkBold"><span class="Brown">
                                    #if ($!domain.passwordUnlockEnabled || $!domain.passwordLockStartTime.dateOfymd == "")
                                        #out($!domain.passwordLockEndTime.dateOfymdDispYMDHMS)#else#customSpringMessage('PASSWORD_UNLOCK_IMPOSSIBLE')#end</span></td>
                                </tr></table>
                            </div>
                        </td>
                    </tr>
                    ## パスワードロック解除機能が有効な場合のみ
                    #if ($!domain.passwordUnlockEnabled)
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontSmallBold">#customSpringMessage('PASSWORD_FAILED_COUNT')</span><!--パスワード連続失敗回数-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%"><tr>
                                    <td class="FontMiniAnkBold"><span class="Brown">#out($!domain.passwordFailedCount)</span></td>
                                </tr></table>
                            </div>
                        </td>
                    </tr>
                    #end
                    #end
                #end
## TODO 14/11/14 add パスワード暗号化 daiko t.watanabe end
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("MAIL_ADDR") </span><!-- メールアドレス -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.mailAddr.mail" "class='Middle noIME' maxLength='100' size='140'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("USE_LANGUAGE") </span><span class="FontWarn">&nbsp;※</span><!--使用言語-->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormSingleSelect("domain.languageInd.languageInd" $languageList "class='small'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <hr>
                    
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD"  width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontDetailHeader">#customSpringMessage('USER_SECTION')</span> #customFormRedMessageByType("class='FontWarn'" "false" "※")<!-- 所属部門 -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                               <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">

                                             #if($type=="Update")
                                                <span class="Brown"> 
                                                #customFormHiddenInput("userIdentify.sectionCd" "$!domain.userSectionInfo.userSection.sectionCd")
                                                #out($!domain.userSectionInfo.userSection.sectionName)
                                                </span>
                                                 #customFormCheckbox("domain.userSectionInfo.isDefaultLoginSection" "class='FontMiddle Black'" "1" "0")
                                                <span class="FontMiddle Black">#customSpringMessage("LOGIN_SECTION")</span>
                                             #else
                                            <span class="Brown"
                                                #customFormHiddenInput("userIdentify.sectionCd" "011")
                                                #customFormInputByType("domain.userSectionInfo.userSection.sectionCd" "class='Middle noIME' maxlength='12' size='14' onblur='javascript:sectionCdLostFocus();'  onfocus='this.select();if(nowWarning==this) { closeWarningBox();}' onmouseover='reDrowWbx(this);'")   
                                                <input id="userSectionInfo.userSection.sectionName" name="userSectionInfo.userSection.sectionName" class="MiddleDsp" type="text" readonly   onselectstart= "return false;" size="63" value="$!domain.userSectionInfo.userSection.sectionName">
                                                <img class="Icon" name="ItemSearch" src="../../image/btnLupe.gif" onclick="sectionPopup.setParam('0','#jsEscapeInHTML($!domain.userIdentify.companyCd)','0','','1');sectionPopup.setObject(getObj('userSectionInfo.userSection.sectionCd'),getObj('userSectionInfo.userSection.sectionName'));masterSearch('../../src/sectionPopup/search?pageid=sectionPopupSearch&popupPageid=PSMST062','SectionSearch','700','500');">
                                              </span>
                                             #end
                                             
                                           
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("VALID_PERIOD")</span><!--有効期間 -->
                            </div>
                        </td>
                          <td class="DTL_OUTBODY">
                           <div class="DTL_INBODY">
                             #springFormInput("domain.userSectionInfo.validity.validityPeriod.period.startDate.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                            <img class="Icon" src="../../image/btnCalendar.gif" onclick="getCalendar(1,'userSectionInfo.validity.validityPeriod.period.startDate.dateOfymdFormat');"><!--カレンダー-->
                                                                                            ～
                                 #springFormInput("domain.userSectionInfo.validity.validityPeriod.period.endDate.dateOfymdFormat" "maxLength=8 size=12 class='MiddleAnk noIME' 
                                                        onblur='dateOnBlur(this);' 
                                                        onfocus='dateOnFocus(this);' ")
                                <img class="Icon" src="../../image/btnCalendar.gif" onclick="getCalendar(1,'userSectionInfo.validity.validityPeriod.period.endDate.dateOfymdFormat');">
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("POST") </span><!-- 役職  -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.userSectionInfo.official.officialName" "class='Middle onIME' maxLength='20' size='50'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                      <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("EXTENSION_NO") </span><!-- 内線番号   -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.userSectionInfo.contact.extNo.extensionNo" "class='Middle noIME' maxLength='20' size='30'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                      <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("EXTERNAL_NO") </span><!-- 外線番号   -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.userSectionInfo.contact.telNo.telNo" "class='Middle noIME' maxLength='20' size='30'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("FAX_NO") </span><!-- FAX番号   -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown"> 
                                             #customFormInputByType("domain.userSectionInfo.contact.faxNo.faxNo" "class='Middle noIME' maxLength='20' size='30'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                      <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("AUTH_ROLE") </span><!-- 権限（ロール）  -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="Brown" > 
                                               #customFormSingleSelect("domain.userSectionInfo.roleManagement.roleIdentify.roleNo" $roleList "class='small'")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                
                <hr>
                <table width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                  <span class="FontBoxHeader">#customSpringMessage('MAIL_RCV_FLG') </span><!--メール受信設定-->
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="NoBorder" width="100%">
                     <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("MAIL_RCV_NOTICE") </span><!-- 承認依頼通知メール  -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                        <span class="FontMiddle">
                                            #customFormRadioButtons("domain.mailRcvFlg.mailRcvNotice" $mailRcvNoticeList "" "")
                                        </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                      <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage("MAIL_RCV_REJECT") </span><!-- 承認差戻メール   -->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                <table class="NoBorder" width="100%">
                                    <tr>
                                      <td class="FontMiniAnkBold">
                                          <span class="FontMiddle">
                                               #customFormRadioButtons("domain.mailRcvFlg.mailRcvReject" $mailRcvRejectList "" "")
                                          </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            <hr>
                <table width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%" colspan="2">
                            <div class="DTL_INHEAD" >
                                 <span class="ScreenName">#customSpringMessage('SUB_APP_USER') </span><!--代理承認者-->
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="NoBorder" width="100%">

                    #foreach($!appVoucherInd in $domain.subAppUserList.subAppUserList)
                    #set ($num = $velocityCount + 1)
                    #set( $foo = $velocityCount % 5 ) 
                    <tr id="aprReqQuot_$velocityCount">
                    #if($foo == 0)
                        <td class="DTL_OUTHEAD" width="30%" rowspan='5' valign='top'>
                              #customFormHiddenInput("subAppUserList.subAppUserList[$velocityCount].appVoucherInd" "$!domain.subAppUserList.subAppUserList[$velocityCount].appVoucherInd")
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#out($!domain.subAppUserList.subAppUserList[$velocityCount].appVoucherIndView)</span>
                                </div>
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">&nbsp;</span>
                                </div>
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">&nbsp;</span>
                                </div>
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">&nbsp;</span>
                                </div>
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">&nbsp;</span>
                                </div>
                        </td>
                        <td>
                    #elseif($foo == 4)
                        <td class="DTL_OUTHEAD">
                    #else
                        <td>
                    #end
                            <div class="DTL_INBODY">
                                <table class="NoBorder">
                                    <tr>
                                      <td nowrap>
                                                #customFormHiddenInput("subAppUserList.subAppUserList[$velocityCount].dspOrder" "$velocityCount")
                                                #customFormHiddenInput("subAppUserList.subAppUserList[$velocityCount].companyCd" "$!domain.userIdentify.companyCd")
                                                
                                                #customFormInputByType("domain.subAppUserList.subAppUserList[$velocityCount].userId" "class='MiddleDsp' maxLength='12' readonly size='20' " "true" "class='FontMiniAnkBold'" "class='Brown'")
                                                #customFormInputByType("domain.subAppUserList.subAppUserList[$velocityCount].userName" "class='MiddleDsp' maxLength='30' readonly   size='74'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                              <img class="Icon" id="ItemSearch[$velocityCount]" name="ItemSearch" src="../../image/btnLupe.gif" onclick="poppageOpen($velocityCount,'#jsEscapeInHTML($!domain.subAppUserList.subAppUserList[$velocityCount].appVoucherInd)')">
                                              <input type="button" class="MinimumButton" onclick="clearSubAppUser($velocityCount)" value="#customSpringMessage('ACTION_CLEAR')">
                                       </td>
                                    </tr>
                                </table>
                                   <script>
                                   $("document").ready(function(){
                                       $("#subAppUserList\\.subAppUserList\\[$velocityCount\\]\\.userName").bind("focus", function(){
                                       #if($num < 55)
                                        $("#subAppUserList\\.subAppUserList\\[$num\\]\\.userId").focus();
                                       #else
                                        $("#languageAdd").focus();
                                       #end
                                    });
                                  });
                                   </script>
                            </div>
                        </td>
                     </tr>
                    #end
                 
                </table>
                <hr>
                <table width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INHEAD">
                                <input id="languageAdd" class="SmallButton" type="button" value="#customSpringMessage('ACTION_LANGUAGE_ADD')" onclick="addLanguage();">
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div id="languageArea">
                    #foreach($!userLanguage in $!domain.userLanguageList.userLanguageList)
                    <div id="LAUNGAGE_FIELD_$velocityCount">
                    <table id="lang_1" class="NoBorder" width="100%">
                        <tr>
                            <td class="DTL_OUTHEAD" width="10%">
                                <div class="DTL_INHEAD">
                                    <span class="FontBoxHeader">#customSpringMessage("LANGUAGE")</span>#customFormRedMessageByType("class='FontWarn'" "true" "※")<!--言語-->
                                </div>
                            </td>
                            <td class="DTL_OUTBODY">
                                <div class="DTL_INBODY">
                                #customFormSingSelectByType("domain.userLanguageList.userLanguageList[$velocityCount].languageInd.languageInd" $languageList "class='Small'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                </div>
                            </td>
                            <td class="DTL_OUTBODY">
                                <div class="DTL_INBODY" align="right" rightmargin="10">
                                    <input class="SmallButton" type="button" value="#customSpringMessage('ACTION_LANGUAGE_DELETE')" onclick="removeLanguage($velocityCount);">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="DTL_OUTHEAD" width="10%">
                                <div class="DTL_INHEAD">
                                    <span class="FontBoxHeader">#customSpringMessage("USER_NAME")</span>#customFormRedMessageByType("class='FontWarn'" "true" "※")<!--ユーザー名-->
                                </div>
                            </td>
                            <td class="DTL_OUTBODY" colspan="2">
                                <div class="DTL_INBODY">
                                    #customFormInputByType("domain.userLanguageList.userLanguageList[$velocityCount].userName" "class='Middle onIME' maxLength='30' size='74'" "true" "class='FontMiniAnkBold'" "class='Brown'")
                                </div>
                            </td>
                        </tr>
                    </table>
                    </div>
                    #end
                </div>
                <hr>

                <table class="NoBorder" style="width:100%;">
                    <tr>
                        <td class="DTL_MSGBOX" nowrap>
                            ## ※印の項目は、必須入力です。
                            #if($!{type} == "Insert")
                                #customSpringMessage("PSMST062_ADD_FOOTER_COMMENT") 
                            #else 
                                #customSpringMessage("PSMST062_EDIT_FOOTER_COMMENT") 
                            #end
                        </td>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage("ACTION_REGISTER")" onclick="exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
