<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('BUDGET_NO_SEARCH')</title><!--予算番号検索-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
var maxSearchHeight = 120;
var minSearchHeight = 30;
#parse("./common/common_js.vm")
#parse("./common/popup_js.vm")
function onLoad() {
    bodyLoad();
    setFocus();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg == ""){
        var isShowList = "#jsEscape($isShowList)";
        if (isShowList == 'true'){
            iframeChange("../../src/budgetnoPopup/list","pageid","budgetnoPopupItemList");
        }
    } else {
        document.getElementById("TR_ERROR").style.display = "";
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = "";
    }
    setParam();
    document.getElementById("SEARCH_AREA").style.height = maxSearchHeight;
}

function selectRow(companyCd, sectionPlaceCd, budgetNo, budgetDtlNo, budgetName, endDate){
    window.opener.budgetnoPopup.setObjectValue(
        budgetDtlNo
    );
    window.parent.close();
    try {
        window.parent.afterProc();
    } catch( e ) {}
    try {
        window.parent.budgetnoPopupafterProc();
    } catch( e ) {}
}
function setParam(){
    var popupParam = window.opener.budgetnoPopup.getParam();
    getObj("termFlg").value = popupParam[0];
    getObj("companyCd").value = popupParam[1];
    getObj("sectionPlaceCd").value = popupParam[2];
    getObj("sectionCd").value = popupParam[3];
    getObj("sectionName").value = popupParam[4];
}
function execSearch(){
    buttonDisable();
    getObj("BodyForm").action = "../../src/budgetnoPopup/validate";
    getObj('BodyForm').submit();
}
//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%" onload="onLoad();" scroll="no">
<form id="BodyForm" name="Body" method="post">
    #customFormHiddenInput("pageid" "budgetnoPopup")
    #customFormHiddenInput("termFlg" "$!SearchCondition.termFlg")
    #customFormHiddenInput("companyCd" "$!SearchCondition.companyCd")
    #customFormHiddenInput("sectionPlaceCd" "$!SearchCondition.sectionPlaceCd")
    #customFormHiddenInput("sectionCd" "$!SearchCondition.sectionCd")
    #customFormHiddenInput("sectionName" "$!SearchCondition.sectionName")
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                <span class="CornerTopGray">
                    <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span>
                </span>
                <table class="CornerMidGray" width="100%">
                    <tr>
                        <td nowrap width="30%" align="left" class="ScreenName">
                            <script LANGUAGE="javascript" type="text/javascript">document.write(document.title);</script>
                        </td>
                        <td nowrap align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる-->
                        </td>
                    </tr>
                </table>
                <span class="CornerBtmGray"><span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                <tr>
                                    <td>
                                        <table class="NoBorder" width="100%">
                                            <tr><td align="left" colspan="4" nowrap>#customSpringMessage('PSSRC200_HEADER_COMMENT')</td></tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('BUDGET_NO')<span class="FontComment">＊</span></td><!--予算番号-->
                                                <td nowrap class="FontSmallBold" align="left">
                                                    #springFormInput("searchCondition.budgetDtlNo" "class='Small noIME' maxLength=31 size=38")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap class="FontSmallBold" align="right">#customSpringMessage('BUDGET_NAME')<span class="FontComment">％</span></td><!--予算名-->
                                                <td nowrap class="FontSmallBold" align="left" colspan="3">
                                                    #springFormInput("searchCondition.budgetName" "class='Small onIME' maxLength=30 size=45")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td nowrap class="FontSmallBold" align="left"><!--完了区分-->
                                                    #customFormRadioButtons("searchCondition.searchComp" $searchCompInList "" "")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td nowrap align="left" colspan="4" class="FontComment">
                                                    #customSpringMessage('PSSRC200_FOOTER_COMMENT')
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td nowrap class="FontSmallBold" align="right">
                                        <br>
                                        <input type="button" onclick="javascript:execSearch();" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id ="TR_ERROR" style="display:none;"><td class="error" style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr><td class="NoBorder" style="height:auto;">
            <iframe id="DATAAREA" name="DATAAREA" class="DataArea" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="yes" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
        </td></tr>
    </table>
</form>
</body>
</html>
