<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.acp.acc.AccAllMapper">
    <resultMap type="fw.domain.slip.receive.acceptance.acceptancedetail.AcceptDetail" id="AcceptDetail_Map">
        <id column="ACCEPT_SEQ" property="acceptApp.accept.acceptSeqNo.sequenceNo" />
        <id column="ACCEPT_STATUS" property="acceptApp.accept.acceptResult.acceptStatus.acceptStatus" />
        <id column="LOAD_SECTION_CD" property="loadSection.loadSection.sectionCd" />
        <id column="LOAD_SECTION_NAME" property="loadSection.loadSection.sectionName" />
        <id column="ACCEPT_DATE" property="acceptDate.acceptDate.dateOfymd" />
        <id column="BUDGET_NO" property="budgetNumber.budgetNumber" />
        <id column="HAVE_IN_STOCK_FLG" property="haveInStockFlg.haveInStockFlg"/>
        <id column="STOCK_COMPANY_CD" property="stockPlace.company.companyCd"/>
        <id column="STOCK_SECTION_PLACE_CD" property="stockPlace.sectionPlace.sectionPlaceCd"/>
        <id column="STOCK_PLACE_CD" property="stockPlace.stockPlaceCd"/>
        <id column="STOCK_PLACE_NAME" property="stockPlace.stockPlaceName"/>
        <id column="UNIT_PRICE" property="acceptAmount.acceptUnitPrice.amount" />
        <id column="ACCEPT_AMOUNT" property="acceptAmount.acceptAmount.amount" />
        <id column="ARRIV_EXP_DATE" property="receiveDate.receiveDate.dateOfymd" />
        <id column="APP_ROUTE_NAME" property="acceptApp.accept.acceptAppRoute.approute.appRouteName" />
        <id column="APP_ROUTE_NO" property="acceptApp.accept.acceptAppRoute.approute.appRouteNo" />
        <id column="APP_VOUCHER_KEY" property="appManagement.appVoucherKey.appVoucherKey" />
        <id column="BACK_APP_COMMENTS" property="appManagement.backApp.backAppReason.backReason.comment" />
        <id column="UNIT_CD" property="unit.unitCd" />
        <id column="UNIT_NAME" property="unit.unitName" />
        <id column="ACCEPT_SECTION_CD" property="acceptUser.user.section.sectionCd"/>
        <id column="ACCEPT_SECTION_NAME" property="acceptUser.user.section.sectionName"/>
        <id column="ACCEPT_USER_ID" property="acceptUser.user.userID"/>
        <id column="ACCEPT_USER_NAME" property="acceptUser.user.userName"/>
        <id column="FISCAL_MONTH" property="fiscalYearMonth.dateOfym"/>
        <id column="TOTAL_AMOUNT" property="acceptAmount.includingTaxSum.amount"/>

        <id column="EXT_TXT_1" property="detailExtItem.extendTxt.extendTxt1"/>
        <id column="EXT_TXT_2" property="detailExtItem.extendTxt.extendTxt2"/>
        <id column="EXT_TXT_3" property="detailExtItem.extendTxt.extendTxt3"/>
        <id column="EXT_TXT_4" property="detailExtItem.extendTxt.extendTxt4"/>
        <id column="EXT_TXT_5" property="detailExtItem.extendTxt.extendTxt5"/>
        <id column="EXT_TXT_6" property="detailExtItem.extendTxt.extendTxt6"/>
        <id column="EXT_TXT_7" property="detailExtItem.extendTxt.extendTxt7"/>
        <id column="EXT_TXT_8" property="detailExtItem.extendTxt.extendTxt8"/>
        <id column="EXT_TXT_9" property="detailExtItem.extendTxt.extendTxt9"/>
        <id column="EXT_TXT_10" property="detailExtItem.extendTxt.extendTxt10"/>
        <id column="EXT_AREA_1" property="detailExtItem.extendArea.extendArea1"/>
        <id column="EXT_AREA_2" property="detailExtItem.extendArea.extendArea2"/>
        <id column="EXT_AREA_3" property="detailExtItem.extendArea.extendArea3"/>
        <id column="EXT_AREA_4" property="detailExtItem.extendArea.extendArea4"/>
        <id column="EXT_AREA_5" property="detailExtItem.extendArea.extendArea5"/>
        <id column="EXT_DATE_1" property="detailExtItem.extendDate.extendDate1.dateOfymd"/>
        <id column="EXT_DATE_2" property="detailExtItem.extendDate.extendDate2.dateOfymd"/>
        <id column="EXT_DATE_3" property="detailExtItem.extendDate.extendDate3.dateOfymd"/>
        <id column="EXT_DATE_4" property="detailExtItem.extendDate.extendDate4.dateOfymd"/>
        <id column="EXT_DATE_5" property="detailExtItem.extendDate.extendDate5.dateOfymd"/>
        <id column="EXT_INT_1" property="detailExtItem.extendInt.extendInt1.value"/>
        <id column="EXT_INT_2" property="detailExtItem.extendInt.extendInt2.value"/>
        <id column="EXT_INT_3" property="detailExtItem.extendInt.extendInt3.value"/>
        <id column="EXT_INT_4" property="detailExtItem.extendInt.extendInt4.value"/>
        <id column="EXT_INT_5" property="detailExtItem.extendInt.extendInt5.value"/>
        <id column="EXT_INT_6" property="detailExtItem.extendInt.extendInt6.value"/>
        <id column="EXT_INT_7" property="detailExtItem.extendInt.extendInt7.value"/>
        <id column="EXT_INT_8" property="detailExtItem.extendInt.extendInt8.value"/>
        <id column="EXT_INT_9" property="detailExtItem.extendInt.extendInt9.value"/>
        <id column="EXT_INT_10" property="detailExtItem.extendInt.extendInt10.value"/>
        <id column="EXT_DEC_1" property="detailExtItem.extendDec.extendDec1.value"/>
        <id column="EXT_DEC_2" property="detailExtItem.extendDec.extendDec2.value"/>
        <id column="EXT_DEC_3" property="detailExtItem.extendDec.extendDec3.value"/>
        <id column="EXT_DEC_4" property="detailExtItem.extendDec.extendDec4.value"/>
        <id column="EXT_DEC_5" property="detailExtItem.extendDec.extendDec5.value"/>
        <id column="EXT_SEL_1" property="detailExtItem.extendSel.extendSel1"/>
        <id column="EXT_SEL_2" property="detailExtItem.extendSel.extendSel2"/>
        <id column="EXT_SEL_3" property="detailExtItem.extendSel.extendSel3"/>
        <id column="EXT_SEL_4" property="detailExtItem.extendSel.extendSel4"/>
        <id column="EXT_SEL_5" property="detailExtItem.extendSel.extendSel5"/>
        <id column="EXT_SEL_6" property="detailExtItem.extendSel.extendSel6"/>
        <id column="EXT_SEL_7" property="detailExtItem.extendSel.extendSel7"/>
        <id column="EXT_SEL_8" property="detailExtItem.extendSel.extendSel8"/>
        <id column="EXT_SEL_9" property="detailExtItem.extendSel.extendSel9"/>
        <id column="EXT_SEL_10" property="detailExtItem.extendSel.extendSel10"/>
        <id column="EXT_CHK_1" property="detailExtItem.extendChk.extendChk1"/>
        <id column="EXT_CHK_2" property="detailExtItem.extendChk.extendChk2"/>
        <id column="EXT_CHK_3" property="detailExtItem.extendChk.extendChk3"/>
        <id column="EXT_CHK_4" property="detailExtItem.extendChk.extendChk4"/>
        <id column="EXT_CHK_5" property="detailExtItem.extendChk.extendChk5"/>
        <id column="EXT_FILE_1" property="detailExtItem.extendFile.extendFile1.fileName"/>
        <id column="EXT_FILE_2" property="detailExtItem.extendFile.extendFile2.fileName"/>
        <id column="EXT_FILE_3" property="detailExtItem.extendFile.extendFile3.fileName"/>
        <id column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <id column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <id column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <id column="EXT_MST_1" property="detailExtItem.extendMst.extendMst1.mstKey"/>
        <id column="EXT_MST_2" property="detailExtItem.extendMst.extendMst2.mstKey"/>
        <id column="EXT_MST_3" property="detailExtItem.extendMst.extendMst3.mstKey"/>
        <id column="EXT_MST_4" property="detailExtItem.extendMst.extendMst4.mstKey"/>
        <id column="EXT_MST_5" property="detailExtItem.extendMst.extendMst5.mstKey"/>
        <id column="EXT_MST_6" property="detailExtItem.extendMst.extendMst6.mstKey"/>
        <id column="EXT_MST_7" property="detailExtItem.extendMst.extendMst7.mstKey"/>
        <id column="EXT_MST_8" property="detailExtItem.extendMst.extendMst8.mstKey"/>
        <id column="EXT_MST_NAME_1" property="detailExtItem.extendMst.extendMst1.mstName"/>
        <id column="EXT_MST_NAME_2" property="detailExtItem.extendMst.extendMst2.mstName"/>
        <id column="EXT_MST_NAME_3" property="detailExtItem.extendMst.extendMst3.mstName"/>
        <id column="EXT_MST_NAME_4" property="detailExtItem.extendMst.extendMst4.mstName"/>
        <id column="EXT_MST_NAME_5" property="detailExtItem.extendMst.extendMst5.mstName"/>
        <id column="EXT_MST_NAME_6" property="detailExtItem.extendMst.extendMst6.mstName"/>
        <id column="EXT_MST_NAME_7" property="detailExtItem.extendMst.extendMst7.mstName"/>
        <id column="EXT_MST_NAME_8" property="detailExtItem.extendMst.extendMst8.mstName"/>
        <result column="" property="" />
    </resultMap>
    <!-- 検収詳細を取得する -->
    <select id="listAcceptDetail" resultMap="AcceptDetail_Map">
        SELECT
            T_ACCEPTANCE.DELIV_KEY_NO as "delivKeyNo.delivKeyNo",
            T_ACCEPTANCE.ACCEPT_SEQ,
            T_ACCEPTANCE.ACCEPT_STATUS,
            T_ACCEPTANCE.LOAD_SECTION_CD ,
            T_ACCEPTANCE.LOAD_SECTION_NAME ,
            T_ACCEPTANCE.SUBJECT_CD as "subject.subjectCd",
            T_ACCEPTANCE.SUBJECT_NAME as "subject.subjectName",
            T_ACCEPTANCE.BUDGET_NO ,
            T_ACCEPTANCE.HAVE_IN_STOCK_FLG,
            T_ACCEPTANCE.STOCK_COMPANY_CD,
            T_ACCEPTANCE.STOCK_SECTION_PLACE_CD,
            T_ACCEPTANCE.STOCK_PLACE_CD,
            T_ACCEPTANCE.STOCK_PLACE_NAME,
            T_ACCEPTANCE.ACCEPT_DATE ,
            T_ACCEPTANCE.CURRENCY_CD as "currency.currencyCd",
            T_ACCEPTANCE.UNIT_PRICE ,
            T_ACCEPTANCE.ACCEPT_VOL as "acceptVol.acceptVol.vol",
            T_ACCEPTANCE.ACCEPT_AMOUNT ,
            T_ACCEPTANCE.TAX_IND as "taxInd.taxInd",
            T_ACCEPTANCE.ARRIV_EXP_DATE ,
            T_ACCEPTANCE.DELIV_VOL as "receiveVol.receiveVol.vol",
            T_ACCEPTANCE.APP_ROUTE_NAME ,
            T_ACCEPTANCE.APP_ROUTE_NO ,
            T_ACCEPTANCE.UNIT_NAME as "unit.unitName",
            T_APPROVAL.APP_VOUCHER_KEY ,
            T_APPROVAL.BACK_APP_COMMENTS
            ,T_ACCEPTANCE.ACCEPT_SECTION_CD as "ACCEPT_SECTION_CD"
            ,T_ACCEPTANCE.ACCEPT_SECTION_NAME as "ACCEPT_SECTION_NAME"
            ,T_ACCEPTANCE.ACCEPT_USER_ID as "ACCEPT_USER_ID"
            ,T_ACCEPTANCE.ACCEPT_USER_NAME as "ACCEPT_USER_NAME"
            ,T_ACCEPTANCE.FISCAL_MONTH
            ,T_ORDER.ORDER_FIRST_DATE as "ORDER_DATE"
            ,T_ACCEPTANCE.TAX_RATE as "taxRate"
            ,T_ACCEPTANCE.TOTAL_AMOUNT
            ,T_ACCEPTANCE.DELIV_KEY_NO
            ,T_ACCEPTANCE.ACCEPT_VERSION
            ,T_ACCEPTANCE.CORRECT_CD
            ,${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ACCEPTANCE")}
        FROM T_ACCEPTANCE
        LEFT JOIN T_ORDER
            ON T_ACCEPTANCE.ORDER_NO = T_ORDER.ORDER_NO
            AND T_ORDER.DELETE_FLG = '0'
            AND T_ORDER.NEW_FLG = '1'
            AND T_ORDER.NEW_APP_FLG = '1'
        LEFT JOIN T_APPROVAL
            ON T_APPROVAL.APP_VOUCHER_KEY = T_ACCEPTANCE.ACCEPT_SEQ
            AND T_APPROVAL.APP_VOUCHER_IND = '5'
            AND T_APPROVAL.DELETE_FLG = '0'
        <where>
            T_ACCEPTANCE.ORDER_NO = #{identify.orderNo}
            <if test="range == 1">
            AND T_ACCEPTANCE.ACCEPT_STATUS = '04'
            </if>
            AND T_ACCEPTANCE.DELETE_FLG = '0'
        </where>
        UNION ALL
        SELECT
            T_ACCEPTANCE.DELIV_KEY_NO as "delivKeyNo.delivKeyNo",
            T_ACCEPTANCE.ACCEPT_SEQ,
            T_ACCEPTANCE.ACCEPT_STATUS,
            T_ACCEPTANCE.LOAD_SECTION_CD ,
            T_ACCEPTANCE.LOAD_SECTION_NAME ,
            T_ACCEPTANCE.SUBJECT_CD as "subject.subjectCd",
            T_ACCEPTANCE.SUBJECT_NAME as "subject.subjectName",
            T_ACCEPTANCE.BUDGET_NO ,
            T_ACCEPTANCE.HAVE_IN_STOCK_FLG,
            T_ACCEPTANCE.STOCK_COMPANY_CD,
            T_ACCEPTANCE.STOCK_SECTION_PLACE_CD,
            T_ACCEPTANCE.STOCK_PLACE_CD,
            T_ACCEPTANCE.STOCK_PLACE_NAME,
            T_ACCEPTANCE.ACCEPT_DATE ,
            T_ACCEPTANCE.CURRENCY_CD as "currency.currencyCd",
            T_ACCEPTANCE.UNIT_PRICE ,
            T_ACCEPTANCE.ACCEPT_VOL as "acceptVol.acceptVol.vol",
            T_ACCEPTANCE.ACCEPT_AMOUNT ,
            T_ACCEPTANCE.TAX_IND as "taxInd.taxInd",
            T_ACCEPTANCE.ARRIV_EXP_DATE ,
            T_ACCEPTANCE.DELIV_VOL as "receiveVol.receiveVol.vol",
            T_ACCEPTANCE.APP_ROUTE_NAME ,
            T_ACCEPTANCE.APP_ROUTE_NO ,
            T_ACCEPTANCE.UNIT_NAME as "unit.unitName",
            T_APPROVAL.APP_VOUCHER_KEY ,
            T_APPROVAL.BACK_APP_COMMENTS
            ,T_ACCEPTANCE.ACCEPT_SECTION_CD as "ACCEPT_SECTION_CD"
            ,T_ACCEPTANCE.ACCEPT_SECTION_NAME as "ACCEPT_SECTION_NAME"
            ,T_ACCEPTANCE.ACCEPT_USER_ID as "ACCEPT_USER_ID"
            ,T_ACCEPTANCE.ACCEPT_USER_NAME as "ACCEPT_USER_NAME"
            ,T_ACCEPTANCE.FISCAL_MONTH
            ,T_ORDER.ORDER_FIRST_DATE as "ORDER_DATE"
            ,T_ACCEPTANCE.TAX_RATE as "taxRate"
            ,T_ACCEPTANCE.TOTAL_AMOUNT
            ,T_ACCEPTANCE.DELIV_KEY_NO
            ,T_ACCEPTANCE.ACCEPT_VERSION
            ,T_ACCEPTANCE.CORRECT_CD
            ,${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_ACCEPTANCE")}
        FROM H_ACCEPTANCE T_ACCEPTANCE
        LEFT JOIN H_ORDER T_ORDER
            ON T_ACCEPTANCE.ORDER_NO = T_ORDER.ORDER_NO
            AND T_ORDER.DELETE_FLG = '0'
            AND T_ORDER.NEW_FLG = '1'
            AND T_ORDER.NEW_APP_FLG = '1'
        LEFT JOIN H_APPROVAL T_APPROVAL
            ON T_APPROVAL.APP_VOUCHER_KEY = T_ACCEPTANCE.ACCEPT_SEQ
            AND T_APPROVAL.APP_VOUCHER_IND = '5'
            AND T_APPROVAL.DELETE_FLG = '0'
        <where>
            T_ACCEPTANCE.ORDER_NO = #{identify.orderNo}
            <if test="range == 1">
            AND T_ACCEPTANCE.ACCEPT_STATUS = '04'
            </if>
            AND T_ACCEPTANCE.DELETE_FLG = '0'
        </where>
        ORDER BY DELIV_KEY_NO, ACCEPT_VERSION, CORRECT_CD
    </select>
</mapper>