<!doctype html>
<html LANG="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

var ROWNUM = 0;

var TABNUM = 4;
var Oldwidth;
var OldHheight;
var nowPage=3;

function onLoad() {
    getObj("closeButton").focus();
    setDisplay("TabHeader_0",true);
    iframeChange("${flowExecutionUrl}&_eventId=reqDetail");
    getObj("TabHeader_0").className = "DetailTabsOn";
    document.title = getText("TabHeader_0");
    getObj("TabHeader_0").className = "DetailTabsOn";
    setDisplay("TabHeader_0",true);
    changeFontSize0();
}

window.onload=init

ie=false
nn=false
if(document.all){ie=true}
if(navigator.appName=="Netscape"||navigator.userAgent.indexOf("Opera")!=-1){nn=true}

function init(){
    if(ie){
        DATAAREA1.document.body.onscroll=scrollie
        DATAAREA2.document.body.onscroll=scrollie
    }
    if(nn){
    scroll=new Array(0,0)
    scrollnn()
    }
}

function scrollie(){
    if(DATAAREA1.event){
        DATAAREA2.scrollTo(DATAAREA2.document.body.scrollLeft,DATAAREA1.document.body.scrollTop)
    }
    if(DATAAREA2.event){
        DATAAREA1.scrollTo(DATAAREA1.document.body.scrollLeft,DATAAREA2.document.body.scrollTop)
    }
}

function scrollnn(){
    var scr0=DATAAREA1.pageYOffset
    var scr1=DATAAREA2.pageYOffset
    if(scr0!=scroll[0]){
        //左がスクロール
        DATAAREA2.scrollTo(0,scr0)
        scroll[0]=scr0
        scroll[1]=scr0
        }else{
        if(scr1!=scroll[1]){
        //右がスクロール
        DATAAREA1.scrollTo(0,scr1)
        scroll[0]=scr1
        scroll[1]=scr1
    }
}
setTimeout("scrollnn()",500)
}


window.onload = function() {
    var isIE = 0<=window.navigator.userAgent.indexOf("MSIE");
    if(isIE && document.compatMode=="BackCompat"){
        document.body.onscroll = ScrollEvent;
    }else{
        document.documentElement.onscroll = ScrollEvent;
    }
}

function ScrollEvent(){
    window.status += "s"; // IEのみ
}

//-->
</script>
</head>
<body  class="DetailBody" onload="onLoad();" style="overflow-y:hidden;">

<form name="Body"  >
    <table class="DetailSheet" style="width:98%; height:100%;" align="left">
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input id="closeButton" type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" width="100%">
                    <tr>
                        <td id="TabHeader_0" class="DetailTabsOff" value="" nowrap>
                            <a class="Normal" href='javascript:iframeChange("${flowExecutionUrl}&_eventId=reqDetail")'>
                                #customSpringMessage("QUOT_REQ_DTL")<!-- 見積依頼詳細 -->
                            </a>
                        </td><!-- 注文詳細 -->
                        <td class="DetailTabsNone">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td  class="InterTab">



                <!-- １番目のタグ-->
    <!--
                <tr><td style="height:auto;">
                -->
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="" scrolling="yes" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>

            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">

                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</form>


</body>
</html>
