<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('QUOT_REQ_DTL')</title><!--見積依頼詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" TYPE="text/javascript">
#set($detailViewStateID='PSQOT020')
<!--
## 2013/06/10 DEL DAIKO_KANEKO
## #parse("./common/common_js.vm")
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM START
var title = top.document.title;
#parse("./common/common_js.vm")
top.document.title = title;
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM -END-
//添付ファイル
function downloadFile(seqNo) {

    iframeChange("${flowExecutionUrl}&_eventId=download",'seqNo',seqNo);
}
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body>

    <table class="DetailSheet" width="100%" height="100%" align="left">
        <tr>
    		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
    		#if("$whereFromFlag" == "history")
    			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
    		#else
				<td>
			#end
			## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
			## ＩＴ３-00148-000 2013.06.18 DEL SBO_WANGXM
			##<td>
                <!-- １１番目のタグ-->
                <table id="InnerTabBody_10" class="NoBorder" width="98%">
                    <tr>
                        <td id="SEARCH_AREA1" height="100%">
                            <table width="100%">
                                <tr>
                                    <td align="right">
                                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=3','PersonalSettingsDetail','500','500');">
                                    </td>
                                </tr>
                                ## 2013.03.21 ADD DAIKO_WANG
                                <tr><td>#customSpringMessage('PSQOT020_HEADER_COMMENT')</td></tr>
                            </table>
                             ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                              <table class="Box1G" width="100%">
                             ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                             ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf START -----
                             ##<table class="NoBorder" width="100%">
                             ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf END -----
                                $!PSQOT020PageCreaterForDetail.build('_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1HApp FontBoxHeader"')
                                #foreach($!item in $!PSQOT020PageCreaterForDetail.getItemListForBody())
                                    #if($!item.getColumnName()=="T_QUOT_REQUEST.QUOT_REQ_NO")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item,"_td_style_right",'class="Box1D FontSlipNo"','_item_style','class="FontMiniAnkBold" aligh="left"')
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.QUOT_REQ_VERSION")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.ITEM_CLASS_S")
                                        #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                        $!PSQOT020PageCreaterForDetail.printSpecial("ITEM_KIND","m10_showItemKind",$!item)
                                        *#
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                        $!PSQOT020PageCreaterForDetail.printSpecial("m10_showItemKind",$!item)
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.REQ_USER_ID")
                                     ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                                     $!PSQOT020PageCreaterForDetail.printSpecial("CLIENT","m15_showUser",$!item,'_td_style_left','class="Box1HApp FontBoxHeader"','_td_style_right','class="Box1D FontSmall"')
                                    ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                                    ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf START -----
                                    ## $!PSQOT020PageCreaterForDetail.printSpecial("CLIENT","m15_showUser",$!item)
                                    ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf END -----
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.APP_ROUTE_NO")
                                        ## 2013/02/06 DEL DAIKO_KANEKO
                                        ## $!PSQOT020PageCreaterForDetail.printSpecial("APP_ROUTE","s15_appHistory",$!item,'_application',$!domain,'_appManagement',$!domain.appManagement,'colspan',1)
                                        ## 2013/02/06 ADD DAIKO_KANEKO
                                        #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                        $!PSQOT020PageCreaterForDetail.printSpecial("APP_ROUTE","s15_appHistory",$!item,'_application',$!domain.approute,'_appManagement',$!domain.appManagement,'colspan',1)
                                        *#
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                        $!PSQOT020PageCreaterForDetail.printSpecial("s15_appHistory",$!item,'_application',$!domain.approute,'_appManagement',$!domain.appManagement,'colspan',1)
                                        ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                    #elseif($!item.getColumnName()=="T_APPROVAL.BACK_APP_COMMENTS")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.TITLE_NAME")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.BUYER_USER_ID")
                                        $!PSQOT020PageCreaterForDetail.printSpecial("BUYER_USER","m15_showUser",$!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.QUOT_RESP_LIMIT_DATE")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.DELIV_PLACE_CD")
                                        $!PSQOT020PageCreaterForDetail.printSpecial("DELIVERY_PLACE","m17_showDelivery",$!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.FOR_SUPPRIER_COMMENT")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.FOR_BUYER_COMMENT")
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_QUOT_REQUEST.ATTACH_FILE_SEQ1")
                                        $!PSQOT020PageCreaterForDetail.printSpecial("s13_showFile2",$!item)
                                    #else
                                        $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                    #end
                                 #end
                                <tr>
                                    <td class="Box1HApp FontBoxHeader" colspan="2" >#customSpringMessage("SUPPLIER")</td><!--取引先-->
                                </tr>
                                #set( $index = 0 )
                                #foreach($!quotReqSupplier in $!domain.quotReqSupplierList)
                                <tr>
                                    <td class="Box1HApp FontBoxHeader" width="3%">#set( $index = $index + 1 )$index</td>
                                    <td class="Box1D FontSmall" >
                                        <table class="NoBorder">
                                            <tr>
                                                <td class="FontSmallBold" nowrap><span class="FontMiniAnk">#out($!quotReqSupplier.supplierFrom.supCd)</span>
                                                    &nbsp;#out($!quotReqSupplier.supplierFrom.supplierName.supplierName)</td><!--取引先-->
                                                <td nowrap><span class="FontSubcon Subcon">&nbsp;#out($!quotReqSupplier.supplierFrom.subcon.subconInd)</span></td>
                                                <td nowrap>
                                                	<span class="FontSmallAnk">
                                                	#if($!quotReqSupplier.supplierFrom.ediInd.ediInd == '1')
                                                		$!edi
                                                	#else
                                                		$!nonEdi
                                                	#end
                                                	</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <span class="SkyBlue">#out($!quotReqSupplier.supplierFrom.supplierContact.ctc.zipCd.zipCd)
                                            <br>
                                             #out($!quotReqSupplier.supplierFrom.supplierContact.ctc.address1.address)
                                        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
                                        ##</span></br>
                                        </span><br>
                                        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
                                             #out($!quotReqSupplier.supplierFrom.supplierContact.ctc.address2.address)
                                             <br>
                                        <table class="NoBorder">
                                            <tr>
                                                <td><img src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                <td class="FontMiniAnkBold" nowrap>
                                                    <span class="FontMini">#customSpringMessage("EXTERNAL_NO")<!--外線番号-->：</span><span class="FontSmallAnk">#out($!quotReqSupplier.supplierFrom.supplierContact.ctc.telNo.telNo)</span>&nbsp;&nbsp;
                                                    <span class="FontMini">#customSpringMessage("FAX")：</span><span class="FontSmallAnk">#out($!quotReqSupplier.supplierFrom.supplierContact.ctc.faxNo.faxNo)</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="NoBorder">
                                            <tr>
                                                <td>
                                                    <span class="FontMini">#customSpringMessage("QUOT_REQ_DATE")<!--見積依頼日-->：</span><span class="FontSmallAnk">#out($!quotReqSupplier.quotReqDate.quotReqDate.reqDate.dateOfymdFormat)</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                #end
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #if($!domain.quotReqItemList.size()>0)
                            <table width="100%">
                                <tr>
                                    <td align="right">
                                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=4','PersonalSettingsDetail','500','500');">
                                    </td>
                                </tr>
                            </table>
                            #end
                            ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf START +++++
                              <table class="Box1G" width="100%" >
                            ## +++++ IT2-01349-000 2013/03/14 ADD SBO_wangzf END +++++
                            ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf START -----
                            ## <table class="Box1HApp NoBorder" width="100%" >
                            ## ----- IT2-01349-000 2013/03/14 DEL SBO_wangzf END -----
                                <tr >
                                    <td class="Box1Hd FontBoxHeader" colspan="3" >#customSpringMessage("ITEM_NAME")<!--品名--></td>
                                </tr>
                                #foreach($!quotReqItem in $!domain.quotReqItemList)
                                    $!PSQOT020PageCreaterForDetail.build('_td_style_left', 'class="Box1Hd FontBoxHeader" width="1%"','_td_style_right', 'class="Box1Dd FontSmall"')
                                    $!PSQOT020PageCreaterForDetail.buildDetail('index')
                                    <tbody id="Detail$velocityCount" class="Box1HApp ListBorderWidth">
                                        #foreach($!item in $!PSQOT020PageCreaterForDetail.getItemListForDetail($velocityCount))
                                            #if($!item.getColumnName()=="T_QUOT_REQ_DTL.ITEM_CD")
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item,'_isTop','1','_td_style_left1','class="Box1Hdb FontBoxHeader" noWrap="nowrap"','_td_style_right1','class="Box1Ddb FontSmall" noWrap="nowrap"')
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.ITEM_NAME")
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.KATASHIKI")
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.MANUFACT_CD")
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSQOT020PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSQOT020PageCreaterForDetail.printSpecial("m20_showManufact",$!item)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.CURRENCY_CD")
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                            ## 2013/04/30 ADD DAIKO_KANEKO START
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.UNIT_PRICE")
                                                $!PSQOT020PageCreaterForDetail.printSpecial("s24_currency",$!item,'_td_style_right','class="Box1Dd FontSmall"','_item_style','class="FontCurrSmall"')
                                            ## 2013/04/30 ADD DAIKO_KANEKO -END-
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.QUOT_REQ_VOL")
                                                $!PSQOT020PageCreaterForDetail.printSpecial("HOPE_VOL_UNIT", "s16_showVol",$!item)
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.QUOT_REQ_AMOUNT")
                                                $!PSQOT020PageCreaterForDetail.printSpecial("s24_currency",$!item,'_td_style_right','class="Box1Dd FontSmall"','_item_style','class="FontCurrSmall"')
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.REQ_DELIV_DATE")
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                            #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.ATTACH_FILE_SEQ")
                                                $!PSQOT020PageCreaterForDetail.printSpecial("s12_showFile1",$!item,'_event','onclick = "downloadFile(id);"')
                                            #else
                                                $!PSQOT020PageCreaterForDetail.printDefault($!item)
                                            #end
                                        #end
                                    </tbody>
                                #end
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        ## 2013.03.21 ADD DAIKO_WANG
        <tr><td>#customSpringMessage('PSQOT020_FOOTER_COMMENT')</td></tr>
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
		#if("$whereFromFlag" == "history")
			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
		#end
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
    </table>

</body>
</html>
