<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.cat.catalog.CatalogAllMapper">
    <!--編集からの場合,購入依頼入力の明細の表示情報の取得SQL-->
    <resultMap type="fw.domain.slip.purreq.purreqcatalog.CatalogPurReq" id="CatalogPurReq_Map">
        <result column="PUR_REQ_VERSION" property="historyNo.historyNo"/>
        <result column="ITEM_COMPANY_CD" property="priceArticle.item.itemCompanyCd"/>
        <result column="ITEM_CLASS_L_NAME" property="priceArticle.item.itemClass.itemClassNameL"/>
        <result column="ITEM_CLASS_M_NAME" property="priceArticle.item.itemClass.itemClassNameM"/>
        <result column="ITEM_CLASS_S_NAME" property="priceArticle.item.itemClass.itemClassNameS"/>
        <result column="ITEM_CLASS_L" property="priceArticle.item.itemClass.itemClassL"/>
        <result column="ITEM_CLASS_M" property="priceArticle.item.itemClass.itemClassM"/>
        <result column="ITEM_CLASS_S" property="priceArticle.item.itemClass.itemClassS"/>
        <result column="SUP_CD" property="priceArticle.supplierFrom.supCd"/>
        <result column="SUP_NAME" property="priceArticle.supplierFrom.supplierName.supplierName"/>
        <result column="SUP_ABBR_NAME" property="priceArticle.supplierFrom.supplierName.supplierAbbrName"/>
        <result column="MANUFACT_CD" property="priceArticle.item.manufact.manufactCd"/>
        <result column="MANUFACT_NAME" property="priceArticle.item.manufact.manufactName"/>
        <result column="INSPECT_IND" property="priceArticle.inspectInd.inspectInd"/>
        <result column="UNIT_PRICE" property="priceArticle.buyPrice.amount.amount"/>
        <result column="UNIT_NAME" property="priceArticle.item.unit.unitName"/>
        <result column="BUYER_COMPANY_CD" property="priceArticle.buyUser.buyUser.section.company.companyCd"/>
        <result column="BUYER_COMPANY_NAME" property="priceArticle.buyUser.buyUser.section.company.companyName"/>
        <result column="BUYER_SECTION_PLACE_CD" property="priceArticle.buyUser.buyUser.section.sectionPlace.sectionPlaceCd"/>
        <result column="BUYER_SECTION_PLACE_NAME" property="priceArticle.buyUser.buyUser.section.sectionPlace.sectionPlaceName"/>
        <result column="BUYER_SECTION_CD" property="priceArticle.buyUser.buyUser.section.sectionCd"/>
        <result column="BUYER_SECTION_NAME" property="priceArticle.buyUser.buyUser.section.sectionName"/>
        <result column="BUYER_USER_ID" property="priceArticle.buyUser.buyUser.userID"/>
        <result column="BUYER_USER_NAME" property="priceArticle.buyUser.buyUser.userName"/>
        <result column="BUYER_BACK_USER_COMMENTS" property="purReturnUser.backReason.backReason.comment"/>
        <result column="PRICE_REG_FLG" property="priceCreateFlg.priceCreateFlg"/>
        <result column="INSPECT_IND" property="priceArticle.inspectInd.inspectInd"/>
        <result column="SUBJECT_COMPANY_CD" property="priceArticle.buySection.buySection.company.companyCd"/>
        <result column="SUP_COMPANY_CD" property="priceArticle.supplierFrom.supCompanyCd"/>
        <result column="TAX_IND" property="priceArticle.taxCalculationInd.taxInd.taxInd"/>
        <result column="CONSUMPT_AMOUNT" property="amountMng.consumptAmount.consumptAmount.amount"/>
        <result column="TOTAL_AMOUNT" property="amountMng.totalAmount.totalAmount.amount"/>

        <result column="SUBCON_IND" property="priceArticle.supplierFrom.subcon.subconInd"/>
        <result column="ZIP_CD" property="priceArticle.supplierFrom.supplierContact.ctc.zipCd.zipCd"/>
        <result column="ADDRESS1" property="priceArticle.supplierFrom.supplierContact.ctc.address1.address"/>
        <result column="ADDRESS2" property="priceArticle.supplierFrom.supplierContact.ctc.address2.address"/>
        <result column="CTCTEL_NO" property="priceArticle.supplierFrom.supplierContact.ctc.telNo.telNo"/>
        <result column="FAX_NO" property="priceArticle.supplierFrom.supplierContact.ctc.faxNo.faxNo"/>
        <result column="KATASHIKI" property="priceArticle.item.katashiki"/>
        <result column="REQ_DELIV_DATE" property="hopeDlvEst.hopeDlvEst.dateOfymd"/>
        <result column="SUBJECT_COMPANY_CD" property="subject.subjectCompanyCd"/>
        <result column="SUBJECT_CD" property="subject.subjectCd"/>
        <result column="SUBJECT_NAME" property="subject.subjectName"/>
        <result column="REQ_VOL" property="hopeVol.hopeVol.vol"/>
        <result column="REQ_AMOUNT" property="reqAmount.amount"/>
        <result column="EXTENSION_NO" property="purReturnUser.user.extNo.extensionNo"/>
        <result column="TEL_NO" property="purReturnUser.user.externalNo.externalNo"/>
        <result column="BUY_USRE_EXTENSION_NO" property="priceArticle.buyUser.buyUser.extNo.extensionNo"/>
        <result column="BUY_USRE_TEL_NO" property="priceArticle.buyUser.buyUser.externalNo.externalNo"/>
        <result column="MAIL_ADDR" property="purReturnUser.user.mailAddr.mail"/>
        <result column="PUR_APL_NO" property="catalogIdentify.purAplNo.purAplNo"/>
        <result column="T_PUR_REQUEST_UNIT_PRICE" property="unitPrice.amount.amount"/>
        <result column="T_REQ_AMOUNT" property="amountMng.noTaxAmount.noTaxAmount.amount"/>
        <result column="CURRENCY_CD" property="priceArticle.supplierFrom.currency.currencyCd"/>
        <result column="CURRENCY_CD" property="amountMng.currency.currencyCd"/>
        <result column="PUR_REQ_NO" property="purReqNo.purReqNo"/>
        <result column="PUR_REQ_STATUS" property="purReqStatus.status"/>

        <result column="SLIP_NO" property="exclusiveSlipId.slipNo"/>
        <result column="SLIP_LAST_UPD_DATE" property="exclusiveSlipId.lastUpdDate"/>

        <result column="EXT_TXT_1" property="editExtItem.editTextExtItem.textExtItem1.value" />
        <result column="EXT_TXT_2" property="editExtItem.editTextExtItem.textExtItem2.value" />
        <result column="EXT_TXT_3" property="editExtItem.editTextExtItem.textExtItem3.value" />
        <result column="EXT_TXT_4" property="editExtItem.editTextExtItem.textExtItem4.value" />
        <result column="EXT_TXT_5" property="editExtItem.editTextExtItem.textExtItem5.value" />
        <result column="EXT_TXT_6" property="editExtItem.editTextExtItem.textExtItem6.value" />
        <result column="EXT_TXT_7" property="editExtItem.editTextExtItem.textExtItem7.value" />
        <result column="EXT_TXT_8" property="editExtItem.editTextExtItem.textExtItem8.value" />
        <result column="EXT_TXT_9" property="editExtItem.editTextExtItem.textExtItem9.value" />
        <result column="EXT_TXT_10" property="editExtItem.editTextExtItem.textExtItem10.value" />
        <result column="EXT_AREA_1" property="editExtItem.editAreaExtItem.arrayExtItem1.value" />
        <result column="EXT_AREA_2" property="editExtItem.editAreaExtItem.arrayExtItem2.value" />
        <result column="EXT_AREA_3" property="editExtItem.editAreaExtItem.arrayExtItem3.value" />
        <result column="EXT_AREA_4" property="editExtItem.editAreaExtItem.arrayExtItem4.value" />
        <result column="EXT_AREA_5" property="editExtItem.editAreaExtItem.arrayExtItem5.value" />
        <result column="EXT_DATE_1" property="editExtItem.editDateExtItem.dateExtItem1.dateType.dateOfymd" />
        <result column="EXT_DATE_2" property="editExtItem.editDateExtItem.dateExtItem2.dateType.dateOfymd" />
        <result column="EXT_DATE_3" property="editExtItem.editDateExtItem.dateExtItem3.dateType.dateOfymd" />
        <result column="EXT_DATE_4" property="editExtItem.editDateExtItem.dateExtItem4.dateType.dateOfymd" />
        <result column="EXT_DATE_5" property="editExtItem.editDateExtItem.dateExtItem5.dateType.dateOfymd" />
        <result column="EXT_INT_1" property="editExtItem.editIntExtItem.intExtItem1.value" />
        <result column="EXT_INT_2" property="editExtItem.editIntExtItem.intExtItem2.value" />
        <result column="EXT_INT_3" property="editExtItem.editIntExtItem.intExtItem3.value" />
        <result column="EXT_INT_4" property="editExtItem.editIntExtItem.intExtItem4.value" />
        <result column="EXT_INT_5" property="editExtItem.editIntExtItem.intExtItem5.value" />
        <result column="EXT_INT_6" property="editExtItem.editIntExtItem.intExtItem6.value" />
        <result column="EXT_INT_7" property="editExtItem.editIntExtItem.intExtItem7.value" />
        <result column="EXT_INT_8" property="editExtItem.editIntExtItem.intExtItem8.value" />
        <result column="EXT_INT_9" property="editExtItem.editIntExtItem.intExtItem9.value" />
        <result column="EXT_INT_10" property="editExtItem.editIntExtItem.intExtItem10.value" />
        <result column="EXT_DEC_1" property="editExtItem.editDecExtItem.decExtItem1.value" />
        <result column="EXT_DEC_2" property="editExtItem.editDecExtItem.decExtItem2.value" />
        <result column="EXT_DEC_3" property="editExtItem.editDecExtItem.decExtItem3.value" />
        <result column="EXT_DEC_4" property="editExtItem.editDecExtItem.decExtItem4.value" />
        <result column="EXT_DEC_5" property="editExtItem.editDecExtItem.decExtItem5.value" />
        <result column="EXT_SEL_1" property="editExtItem.editSelExtItem.selExtItem1.value" />
        <result column="EXT_SEL_2" property="editExtItem.editSelExtItem.selExtItem2.value" />
        <result column="EXT_SEL_3" property="editExtItem.editSelExtItem.selExtItem3.value" />
        <result column="EXT_SEL_4" property="editExtItem.editSelExtItem.selExtItem4.value" />
        <result column="EXT_SEL_5" property="editExtItem.editSelExtItem.selExtItem5.value" />
        <result column="EXT_SEL_6" property="editExtItem.editSelExtItem.selExtItem6.value" />
        <result column="EXT_SEL_7" property="editExtItem.editSelExtItem.selExtItem7.value" />
        <result column="EXT_SEL_8" property="editExtItem.editSelExtItem.selExtItem8.value" />
        <result column="EXT_SEL_9" property="editExtItem.editSelExtItem.selExtItem9.value" />
        <result column="EXT_SEL_10" property="editExtItem.editSelExtItem.selExtItem10.value" />
        <result column="EXT_CHK_1" property="editExtItem.editChkExtItem.chkExtItem1.value" />
        <result column="EXT_CHK_2" property="editExtItem.editChkExtItem.chkExtItem2.value" />
        <result column="EXT_CHK_3" property="editExtItem.editChkExtItem.chkExtItem3.value" />
        <result column="EXT_CHK_4" property="editExtItem.editChkExtItem.chkExtItem4.value" />
        <result column="EXT_CHK_5" property="editExtItem.editChkExtItem.chkExtItem5.value" />
        <result column="EXT_FILE_1" property="editExtItem.editFileExtItem.fileExtItem1.fileName" />
        <result column="EXT_FILE_2" property="editExtItem.editFileExtItem.fileExtItem2.fileName" />
        <result column="EXT_FILE_3" property="editExtItem.editFileExtItem.fileExtItem3.fileName" />
        <result column="EXT_FILE_BINARY_1" property="editExtItem.editFileExtItem.fileExtItem1.binary"/>
        <result column="EXT_FILE_BINARY_2" property="editExtItem.editFileExtItem.fileExtItem2.binary"/>
        <result column="EXT_FILE_BINARY_3" property="editExtItem.editFileExtItem.fileExtItem3.binary"/>
        <result column="EXT_MST_1" property="editExtItem.editMstExtItem.mstExtItem1.mstKey" />
        <result column="EXT_MST_2" property="editExtItem.editMstExtItem.mstExtItem2.mstKey" />
        <result column="EXT_MST_3" property="editExtItem.editMstExtItem.mstExtItem3.mstKey" />
        <result column="EXT_MST_4" property="editExtItem.editMstExtItem.mstExtItem4.mstKey" />
        <result column="EXT_MST_5" property="editExtItem.editMstExtItem.mstExtItem5.mstKey" />
        <result column="EXT_MST_6" property="editExtItem.editMstExtItem.mstExtItem6.mstKey" />
        <result column="EXT_MST_7" property="editExtItem.editMstExtItem.mstExtItem7.mstKey" />
        <result column="EXT_MST_8" property="editExtItem.editMstExtItem.mstExtItem8.mstKey" />
        <result column="EXT_MST_NAME_1" property="editExtItem.editMstExtItem.mstExtItem1.mstName"/>
        <result column="EXT_MST_NAME_2" property="editExtItem.editMstExtItem.mstExtItem2.mstName"/>
        <result column="EXT_MST_NAME_3" property="editExtItem.editMstExtItem.mstExtItem3.mstName"/>
        <result column="EXT_MST_NAME_4" property="editExtItem.editMstExtItem.mstExtItem4.mstName"/>
        <result column="EXT_MST_NAME_5" property="editExtItem.editMstExtItem.mstExtItem5.mstName"/>
        <result column="EXT_MST_NAME_6" property="editExtItem.editMstExtItem.mstExtItem6.mstName"/>
        <result column="EXT_MST_NAME_7" property="editExtItem.editMstExtItem.mstExtItem7.mstName"/>
        <result column="EXT_MST_NAME_8" property="editExtItem.editMstExtItem.mstExtItem8.mstName"/>
        <!--詳細画面用-->
        <result column="EXT_TXT_1" property="detailExtItem.extendTxt.extendTxt1" />
        <result column="EXT_TXT_2" property="detailExtItem.extendTxt.extendTxt2" />
        <result column="EXT_TXT_3" property="detailExtItem.extendTxt.extendTxt3" />
        <result column="EXT_TXT_4" property="detailExtItem.extendTxt.extendTxt4" />
        <result column="EXT_TXT_5" property="detailExtItem.extendTxt.extendTxt5" />
        <result column="EXT_TXT_6" property="detailExtItem.extendTxt.extendTxt6" />
        <result column="EXT_TXT_7" property="detailExtItem.extendTxt.extendTxt7" />
        <result column="EXT_TXT_8" property="detailExtItem.extendTxt.extendTxt8" />
        <result column="EXT_TXT_9" property="detailExtItem.extendTxt.extendTxt9" />
        <result column="EXT_TXT_10" property="detailExtItem.extendTxt.extendTxt10" />
        <result column="EXT_AREA_1" property="detailExtItem.extendArea.extendArea1" />
        <result column="EXT_AREA_2" property="detailExtItem.extendArea.extendArea2" />
        <result column="EXT_AREA_3" property="detailExtItem.extendArea.extendArea3" />
        <result column="EXT_AREA_4" property="detailExtItem.extendArea.extendArea4" />
        <result column="EXT_AREA_5" property="detailExtItem.extendArea.extendArea5" />
        <result column="EXT_DATE_1" property="detailExtItem.extendDate.extendDate1.dateOfymd" />
        <result column="EXT_DATE_2" property="detailExtItem.extendDate.extendDate2.dateOfymd" />
        <result column="EXT_DATE_3" property="detailExtItem.extendDate.extendDate3.dateOfymd" />
        <result column="EXT_DATE_4" property="detailExtItem.extendDate.extendDate4.dateOfymd" />
        <result column="EXT_DATE_5" property="detailExtItem.extendDate.extendDate5.dateOfymd" />
        <result column="EXT_INT_1" property="detailExtItem.extendInt.extendInt1.value" />
        <result column="EXT_INT_2" property="detailExtItem.extendInt.extendInt2.value" />
        <result column="EXT_INT_3" property="detailExtItem.extendInt.extendInt3.value" />
        <result column="EXT_INT_4" property="detailExtItem.extendInt.extendInt4.value" />
        <result column="EXT_INT_5" property="detailExtItem.extendInt.extendInt5.value" />
        <result column="EXT_INT_6" property="detailExtItem.extendInt.extendInt6.value" />
        <result column="EXT_INT_7" property="detailExtItem.extendInt.extendInt7.value" />
        <result column="EXT_INT_8" property="detailExtItem.extendInt.extendInt8.value" />
        <result column="EXT_INT_9" property="detailExtItem.extendInt.extendInt9.value" />
        <result column="EXT_INT_10" property="detailExtItem.extendInt.extendInt10.value" />
        <result column="EXT_DEC_1" property="detailExtItem.extendDec.extendDec1.value" />
        <result column="EXT_DEC_2" property="detailExtItem.extendDec.extendDec2.value" />
        <result column="EXT_DEC_3" property="detailExtItem.extendDec.extendDec3.value" />
        <result column="EXT_DEC_4" property="detailExtItem.extendDec.extendDec4.value" />
        <result column="EXT_DEC_5" property="detailExtItem.extendDec.extendDec5.value" />
        <result column="EXT_SEL_1" property="detailExtItem.extendSel.extendSel1" />
        <result column="EXT_SEL_2" property="detailExtItem.extendSel.extendSel2" />
        <result column="EXT_SEL_3" property="detailExtItem.extendSel.extendSel3" />
        <result column="EXT_SEL_4" property="detailExtItem.extendSel.extendSel4" />
        <result column="EXT_SEL_5" property="detailExtItem.extendSel.extendSel5" />
        <result column="EXT_SEL_6" property="detailExtItem.extendSel.extendSel6" />
        <result column="EXT_SEL_7" property="detailExtItem.extendSel.extendSel7" />
        <result column="EXT_SEL_8" property="detailExtItem.extendSel.extendSel8" />
        <result column="EXT_SEL_9" property="detailExtItem.extendSel.extendSel9" />
        <result column="EXT_SEL_10" property="detailExtItem.extendSel.extendSel10" />
        <result column="EXT_CHK_1" property="detailExtItem.extendChk.extendChk1" />
        <result column="EXT_CHK_2" property="detailExtItem.extendChk.extendChk2" />
        <result column="EXT_CHK_3" property="detailExtItem.extendChk.extendChk3" />
        <result column="EXT_CHK_4" property="detailExtItem.extendChk.extendChk4" />
        <result column="EXT_CHK_5" property="detailExtItem.extendChk.extendChk5" />
        <result column="EXT_FILE_1" property="detailExtItem.extendFile.extendFile1.fileName" />
        <result column="EXT_FILE_2" property="detailExtItem.extendFile.extendFile2.fileName" />
        <result column="EXT_FILE_3" property="detailExtItem.extendFile.extendFile3.fileName" />
        <result column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <result column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <result column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <result column="EXT_MST_1" property="detailExtItem.extendMst.extendMst1.mstKey" />
        <result column="EXT_MST_2" property="detailExtItem.extendMst.extendMst2.mstKey" />
        <result column="EXT_MST_3" property="detailExtItem.extendMst.extendMst3.mstKey" />
        <result column="EXT_MST_4" property="detailExtItem.extendMst.extendMst4.mstKey" />
        <result column="EXT_MST_5" property="detailExtItem.extendMst.extendMst5.mstKey" />
        <result column="EXT_MST_6" property="detailExtItem.extendMst.extendMst6.mstKey" />
        <result column="EXT_MST_7" property="detailExtItem.extendMst.extendMst7.mstKey" />
        <result column="EXT_MST_8" property="detailExtItem.extendMst.extendMst8.mstKey" />
        <result column="EXT_MST_NAME_1" property="detailExtItem.extendMst.extendMst1.mstName"/>
        <result column="EXT_MST_NAME_2" property="detailExtItem.extendMst.extendMst2.mstName"/>
        <result column="EXT_MST_NAME_3" property="detailExtItem.extendMst.extendMst3.mstName"/>
        <result column="EXT_MST_NAME_4" property="detailExtItem.extendMst.extendMst4.mstName"/>
        <result column="EXT_MST_NAME_5" property="detailExtItem.extendMst.extendMst5.mstName"/>
        <result column="EXT_MST_NAME_6" property="detailExtItem.extendMst.extendMst6.mstName"/>
        <result column="EXT_MST_NAME_7" property="detailExtItem.extendMst.extendMst7.mstName"/>
        <result column="EXT_MST_NAME_8" property="detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>
    <select id="listCatalogPurReq" parameterType="fw.domain.slip.purreq.purreqcatalog.CatalogIdentify" resultMap="CatalogPurReq_Map">
        SELECT
            T_PUR_REQUEST.PUR_REQ_NO,
            T_PUR_REQUEST.PUR_REQ_SEQ as "purReqSeq",
            T_PUR_REQUEST.APP_UNIT_NO as "appUnitNo",
            T_PUR_REQUEST.PUR_REQ_VERSION,
            T_PUR_REQUEST.BUYER_COMPANY_CD,
            T_PUR_REQUEST.BUYER_COMPANY_NAME,
            T_PUR_REQUEST.BUYER_SECTION_PLACE_CD,
            T_PUR_REQUEST.BUYER_SECTION_PLACE_NAME,
            T_PUR_REQUEST.BUYER_SECTION_CD,
            T_PUR_REQUEST.BUYER_SECTION_NAME,
            T_PUR_REQUEST.BUYER_USER_ID,
            T_PUR_REQUEST.BUYER_USER_NAME,
            T_PUR_REQUEST.BUYER_BACK_USER_COMMENTS,
            T_PUR_REQUEST.AUTO_ORDER_FLG as "priceArticle.autoOrderFlag",
            T_PUR_REQUEST.PRICE_REG_FLG,
            T_PUR_REQUEST.SUBJECT_COMPANY_CD,
            T_PUR_REQUEST.SUP_COMPANY_CD,
            T_PUR_REQUEST.TAX_IND,
            T_PUR_REQUEST.TAX_RATE as "amountMng.taxRate.taxRate",
            T_PUR_REQUEST.CONSUMPT_AMOUNT,
            T_PUR_REQUEST.TOTAL_AMOUNT,
            T_PUR_REQUEST.PUR_REQ_CNV_RATE as "cnvAmount.rate.rate",
            T_PUR_REQUEST.ITEM_CLASS_L_NAME,
            T_PUR_REQUEST.ITEM_CLASS_M_NAME,
            T_PUR_REQUEST.ITEM_CLASS_S_NAME,
            T_PUR_REQUEST.ITEM_CLASS_L,
            T_PUR_REQUEST.ITEM_CLASS_M,
            T_PUR_REQUEST.ITEM_CLASS_S,
            T_PUR_REQUEST.ITEM_COMPANY_CD,
            T_PUR_REQUEST.ITEM_CD as "priceArticle.item.itemCd",
            T_PUR_REQUEST.ITEM_NAME as "priceArticle.item.itemName",
            T_PUR_REQUEST.SUP_CD,
            T_PUR_REQUEST.SUP_NAME,
            T_PUR_REQUEST.SUP_ABBR_NAME,
            T_PUR_REQUEST.KATASHIKI as "priceArticle.item.katashiki",
            T_PUR_REQUEST.MANUFACT_CD,
            T_PUR_REQUEST.MANUFACT_NAME,
            T_PUR_REQUEST.REQ_DELIV_DATE,
            T_PUR_REQUEST.SUBJECT_CD as "subject.subjectCd",
            T_PUR_REQUEST.SUBJECT_NAME as "subject.subjectName",
            T_PUR_REQUEST.UNIT_PRICE,
            T_PUR_REQUEST.REQ_VOL as "hopeVol.hopeVol.vol",
            T_PUR_REQUEST.UNIT_NAME,
            T_PUR_REQUEST.UNIT_CD as "priceArticle.item.unit.unitCd",
            T_PUR_REQUEST.REQ_AMOUNT as "reqAmount.amount",
            T_PUR_REQUEST.REQ_AMOUNT as "T_REQ_AMOUNT",
            T_PUR_REQUEST.PUR_REQ_CNV_AMOUNT as "cnvAmount.cnvAmount.amount",
            T_PUR_REQUEST.INSPECT_IND,
            T_PUR_REQUEST.CURRENCY_CD,
            T_PUR_REQUEST.UNIT_PRICE as "T_PUR_REQUEST_UNIT_PRICE",
            T_PUR_REQUEST.PUR_REQ_STATUS,
            T_SLIP_MNG.SLIP_NO,
            T_SLIP_MNG.LAST_UPD_DATE as "SLIP_LAST_UPD_DATE",
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_PUR_REQUEST")}
        FROM
            T_PUR_REQUEST 
        INNER JOIN 
            T_SLIP_MNG 
        ON 
            T_PUR_REQUEST.PUR_REQ_NO =  T_SLIP_MNG.SLIP_NO
        WHERE 
            T_PUR_REQUEST.PUR_APL_SEQ = #{purAplSeqNo}
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(purReqNo.purReqNo)">
                AND T_PUR_REQUEST.PUR_REQ_NO = #{purReqNo.purReqNo}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(appUnitNo)">
                AND T_PUR_REQUEST.APP_UNIT_NO = #{appUnitNo}
            </if>
        AND 
            T_PUR_REQUEST.DELETE_FLG = '0'
        UNION All
        SELECT
            T_PUR_REQUEST.PUR_REQ_NO,
            T_PUR_REQUEST.PUR_REQ_SEQ as "purReqSeq",
            T_PUR_REQUEST.APP_UNIT_NO as "appUnitNo",
            T_PUR_REQUEST.PUR_REQ_VERSION,
            T_PUR_REQUEST.BUYER_COMPANY_CD,
            T_PUR_REQUEST.BUYER_COMPANY_NAME,
            T_PUR_REQUEST.BUYER_SECTION_PLACE_CD,
            T_PUR_REQUEST.BUYER_SECTION_PLACE_NAME,
            T_PUR_REQUEST.BUYER_SECTION_CD,
            T_PUR_REQUEST.BUYER_SECTION_NAME,
            T_PUR_REQUEST.BUYER_USER_ID,
            T_PUR_REQUEST.BUYER_USER_NAME,
            T_PUR_REQUEST.BUYER_BACK_USER_COMMENTS,
            T_PUR_REQUEST.AUTO_ORDER_FLG as "priceArticle.autoOrderFlag",
            T_PUR_REQUEST.PRICE_REG_FLG,
            T_PUR_REQUEST.SUBJECT_COMPANY_CD,
            T_PUR_REQUEST.SUP_COMPANY_CD,
            T_PUR_REQUEST.TAX_IND,
            T_PUR_REQUEST.TAX_RATE as "amountMng.taxRate.taxRate",
            T_PUR_REQUEST.CONSUMPT_AMOUNT,
            T_PUR_REQUEST.TOTAL_AMOUNT,
            T_PUR_REQUEST.PUR_REQ_CNV_RATE as "cnvAmount.rate.rate",
            T_PUR_REQUEST.ITEM_CLASS_L_NAME,
            T_PUR_REQUEST.ITEM_CLASS_M_NAME,
            T_PUR_REQUEST.ITEM_CLASS_S_NAME,
            T_PUR_REQUEST.ITEM_CLASS_L,
            T_PUR_REQUEST.ITEM_CLASS_M,
            T_PUR_REQUEST.ITEM_CLASS_S,
            T_PUR_REQUEST.ITEM_COMPANY_CD,
            T_PUR_REQUEST.ITEM_CD as "priceArticle.item.itemCd",
            T_PUR_REQUEST.ITEM_NAME as "priceArticle.item.itemName",
            T_PUR_REQUEST.SUP_CD,
            T_PUR_REQUEST.SUP_NAME,
            T_PUR_REQUEST.SUP_ABBR_NAME,
            T_PUR_REQUEST.KATASHIKI as "priceArticle.item.katashiki",
            T_PUR_REQUEST.MANUFACT_CD,
            T_PUR_REQUEST.MANUFACT_NAME,
            T_PUR_REQUEST.REQ_DELIV_DATE,
            T_PUR_REQUEST.SUBJECT_CD as "subject.subjectCd",
            T_PUR_REQUEST.SUBJECT_NAME as "subject.subjectName",
            T_PUR_REQUEST.UNIT_PRICE,
            T_PUR_REQUEST.REQ_VOL as "hopeVol.hopeVol.vol",
            T_PUR_REQUEST.UNIT_NAME,
            T_PUR_REQUEST.UNIT_CD as "priceArticle.item.unit.unitCd",
            T_PUR_REQUEST.REQ_AMOUNT as "reqAmount.amount",
            T_PUR_REQUEST.REQ_AMOUNT as "T_REQ_AMOUNT",
            T_PUR_REQUEST.PUR_REQ_CNV_AMOUNT as "cnvAmount.cnvAmount.amount",
            T_PUR_REQUEST.INSPECT_IND,
            T_PUR_REQUEST.CURRENCY_CD,
            T_PUR_REQUEST.UNIT_PRICE as "T_PUR_REQUEST_UNIT_PRICE",
            T_PUR_REQUEST.PUR_REQ_STATUS,
            T_SLIP_MNG.SLIP_NO,
            T_SLIP_MNG.LAST_UPD_DATE as "SLIP_LAST_UPD_DATE",
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_PUR_REQUEST")}
        FROM
            H_PUR_REQUEST T_PUR_REQUEST
        INNER JOIN 
            H_SLIP_MNG T_SLIP_MNG
        ON 
            T_PUR_REQUEST.PUR_REQ_NO = T_SLIP_MNG.SLIP_NO
        WHERE
            T_PUR_REQUEST.PUR_APL_SEQ = #{purAplSeqNo}
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(purReqNo.purReqNo)">
                AND T_PUR_REQUEST.PUR_REQ_NO = #{purReqNo.purReqNo}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(appUnitNo)">
                AND T_PUR_REQUEST.APP_UNIT_NO = #{appUnitNo}
            </if>
        AND     T_PUR_REQUEST.DELETE_FLG = '0'
        ORDER BY PUR_REQ_NO ASC
    </select>

    <resultMap type="fw.domain.slip.purreq.purreqcatalog.CatalogPurReqApl" id="CatalogPurReqApl_Detail_Map">
        <result column="PUR_APL_SEQ" property="purAplManagement.catalogIdentify.purAplSeqNo"/>
        <result column="PUR_APL_NO" property="purAplManagement.catalogIdentify.purAplNo.purAplNo"/>
        <result column="PUR_REQ_DATE" property="purAplManagement.purReqDate.purReqDate.reqDate.dateOfymd"/>
        <result column="URGENT_IND" property="purAplManagement.urgentInd.urgentInd"/>
        <result column="TITLE_NAME" property="purAplManagement.titleName.titleName"/>
        <result column="REQ_COMPANY_CD" property="purAplManagement.reqUser.reqUser.section.company.companyCd"/>
        <result column="REQ_SECTION_CD" property="purAplManagement.reqUser.reqUser.section.sectionCd"/>
        <result column="REQ_SECTION_NAME" property="purAplManagement.reqUser.reqUser.section.sectionName"/>
        <result column="REQ_USER_EXTENSION_NO" property="purAplManagement.reqUser.reqUser.extNo.extensionNo"/>
        <result column="REQ_USER_TEL_NO" property="purAplManagement.reqUser.reqUser.externalNo.externalNo"/>
        <result column="REQ_USER_ID" property="purAplManagement.reqUser.reqUser.userID"/>
        <result column="REQ_USER_NAME" property="purAplManagement.reqUser.reqUser.userName"/>
        <result column="LOAD_COMPANY_CD" property="purAplManagement.loadSection.loadSection.company.companyCd"/>
        <result column="LOAD_COMPANY_NAME" property="purAplManagement.loadSection.loadSection.company.companyName"/>
        <result column="LOAD_SECTION_PLACE_CD" property="purAplManagement.loadSection.loadSection.sectionPlace.sectionPlaceCd"/>
        <result column="LOAD_SECTION_PLACE_NAME" property="purAplManagement.loadSection.loadSection.sectionPlace.sectionPlaceName"/>
        <result column="BUDGET_NO" property="purAplManagement.budgetNumber.budgetNumber"/>
        <result column="BUDGET_NAME" property="purAplManagement.budgetNumber.titleName.titleName" />
        <result column="FOR_BOSS_COMMENT" property="purAplManagement.forAppComment.forAppComment.comment"/>
        <result column="FOR_SUPPRIER_COMMENT" property="purAplManagement.forSupplierComment.forSupplierComment.comment"/>
        <result column="PUR_APL_STATUS" property="purAplManagement.purReqStatus.status"/>
        <result column="INPUT_SECTION_CD" property="purAplManagement.inputUser.inputUser.section.sectionCd"/>
        <result column="INPUT_COMPANY_CD" property="purAplManagement.inputUser.inputUser.section.company.companyCd"/>
        <result column="INPUT_SECTION_NAME" property="purAplManagement.inputUser.inputUser.section.sectionName"/>
        <result column="INPUT_USER_ID" property="purAplManagement.inputUser.inputUser.userID"/>
        <result column="INPUT_USER_NAME" property="purAplManagement.inputUser.inputUser.userName"/>
        <result column="APP_ROUTE_NO" property="application.approute.appRouteNo"/>
        <result column="APP_ROUTE_NAME" property="application.approute.appRouteName"/>
        <result column="DELIV_PLACE_CD" property="purAplManagement.delivPlace.delivPlaceCd"/>
        <result column="DELIV_PLACE_NAME" property="purAplManagement.delivPlace.delivPlaceName"/>
        <result column="LOAD_SECTION_CD" property="purAplManagement.loadSection.loadSection.sectionCd"/>
        <result column="LOAD_SECTION_NAME" property="purAplManagement.loadSection.loadSection.sectionName"/>
        <result column="APL_AMOUNT" property="purAplManagement.aplAmount.amount"/>
        <result column="PUR_REQ_CNV_CURRENCY_CD" property="purAplManagement.reqUser.reqUser.section.company.currency.currencyCd"/>
        <result column="LAST_UPD_DATE" property="purAplManagement.catalogIdentify.lastUpdDate"/>
        <result column="BACK_APP_COMMENTS" property="purAplManagement.appManagement.backApp.backAppReason.backReason.comment"/>

        <result column="EXT_TXT_1" property="purAplManagement.detailExtItem.extendTxt.extendTxt1" />
        <result column="EXT_TXT_2" property="purAplManagement.detailExtItem.extendTxt.extendTxt2" />
        <result column="EXT_TXT_3" property="purAplManagement.detailExtItem.extendTxt.extendTxt3" />
        <result column="EXT_TXT_4" property="purAplManagement.detailExtItem.extendTxt.extendTxt4" />
        <result column="EXT_TXT_5" property="purAplManagement.detailExtItem.extendTxt.extendTxt5" />
        <result column="EXT_TXT_6" property="purAplManagement.detailExtItem.extendTxt.extendTxt6" />
        <result column="EXT_TXT_7" property="purAplManagement.detailExtItem.extendTxt.extendTxt7" />
        <result column="EXT_TXT_8" property="purAplManagement.detailExtItem.extendTxt.extendTxt8" />
        <result column="EXT_TXT_9" property="purAplManagement.detailExtItem.extendTxt.extendTxt9" />
        <result column="EXT_TXT_10" property="purAplManagement.detailExtItem.extendTxt.extendTxt10" />
        <result column="EXT_AREA_1" property="purAplManagement.detailExtItem.extendArea.extendArea1" />
        <result column="EXT_AREA_2" property="purAplManagement.detailExtItem.extendArea.extendArea2" />
        <result column="EXT_AREA_3" property="purAplManagement.detailExtItem.extendArea.extendArea3" />
        <result column="EXT_AREA_4" property="purAplManagement.detailExtItem.extendArea.extendArea4" />
        <result column="EXT_AREA_5" property="purAplManagement.detailExtItem.extendArea.extendArea5" />
        <result column="EXT_DATE_1" property="purAplManagement.detailExtItem.extendDate.extendDate1.dateOfymd" />
        <result column="EXT_DATE_2" property="purAplManagement.detailExtItem.extendDate.extendDate2.dateOfymd" />
        <result column="EXT_DATE_3" property="purAplManagement.detailExtItem.extendDate.extendDate3.dateOfymd" />
        <result column="EXT_DATE_4" property="purAplManagement.detailExtItem.extendDate.extendDate4.dateOfymd" />
        <result column="EXT_DATE_5" property="purAplManagement.detailExtItem.extendDate.extendDate5.dateOfymd" />
        <result column="EXT_INT_1" property="purAplManagement.detailExtItem.extendInt.extendInt1.value" />
        <result column="EXT_INT_2" property="purAplManagement.detailExtItem.extendInt.extendInt2.value" />
        <result column="EXT_INT_3" property="purAplManagement.detailExtItem.extendInt.extendInt3.value" />
        <result column="EXT_INT_4" property="purAplManagement.detailExtItem.extendInt.extendInt4.value" />
        <result column="EXT_INT_5" property="purAplManagement.detailExtItem.extendInt.extendInt5.value" />
        <result column="EXT_INT_6" property="purAplManagement.detailExtItem.extendInt.extendInt6.value" />
        <result column="EXT_INT_7" property="purAplManagement.detailExtItem.extendInt.extendInt7.value" />
        <result column="EXT_INT_8" property="purAplManagement.detailExtItem.extendInt.extendInt8.value" />
        <result column="EXT_INT_9" property="purAplManagement.detailExtItem.extendInt.extendInt9.value" />
        <result column="EXT_INT_10" property="purAplManagement.detailExtItem.extendInt.extendInt10.value" />
        <result column="EXT_DEC_1" property="purAplManagement.detailExtItem.extendDec.extendDec1.value" />
        <result column="EXT_DEC_2" property="purAplManagement.detailExtItem.extendDec.extendDec2.value" />
        <result column="EXT_DEC_3" property="purAplManagement.detailExtItem.extendDec.extendDec3.value" />
        <result column="EXT_DEC_4" property="purAplManagement.detailExtItem.extendDec.extendDec4.value" />
        <result column="EXT_DEC_5" property="purAplManagement.detailExtItem.extendDec.extendDec5.value" />
        <result column="EXT_SEL_1" property="purAplManagement.detailExtItem.extendSel.extendSel1" />
        <result column="EXT_SEL_2" property="purAplManagement.detailExtItem.extendSel.extendSel2" />
        <result column="EXT_SEL_3" property="purAplManagement.detailExtItem.extendSel.extendSel3" />
        <result column="EXT_SEL_4" property="purAplManagement.detailExtItem.extendSel.extendSel4" />
        <result column="EXT_SEL_5" property="purAplManagement.detailExtItem.extendSel.extendSel5" />
        <result column="EXT_SEL_6" property="purAplManagement.detailExtItem.extendSel.extendSel6" />
        <result column="EXT_SEL_7" property="purAplManagement.detailExtItem.extendSel.extendSel7" />
        <result column="EXT_SEL_8" property="purAplManagement.detailExtItem.extendSel.extendSel8" />
        <result column="EXT_SEL_9" property="purAplManagement.detailExtItem.extendSel.extendSel9" />
        <result column="EXT_SEL_10" property="purAplManagement.detailExtItem.extendSel.extendSel10" />
        <result column="EXT_CHK_1" property="purAplManagement.detailExtItem.extendChk.extendChk1" />
        <result column="EXT_CHK_2" property="purAplManagement.detailExtItem.extendChk.extendChk2" />
        <result column="EXT_CHK_3" property="purAplManagement.detailExtItem.extendChk.extendChk3" />
        <result column="EXT_CHK_4" property="purAplManagement.detailExtItem.extendChk.extendChk4" />
        <result column="EXT_CHK_5" property="purAplManagement.detailExtItem.extendChk.extendChk5" />
        <result column="EXT_FILE_1" property="purAplManagement.detailExtItem.extendFile.extendFile1.fileName" />
        <result column="EXT_FILE_2" property="purAplManagement.detailExtItem.extendFile.extendFile2.fileName" />
        <result column="EXT_FILE_3" property="purAplManagement.detailExtItem.extendFile.extendFile3.fileName" />
        <result column="EXT_FILE_BINARY_1" property="purAplManagement.detailExtItem.extendFile.extendFile1.binary"/>
        <result column="EXT_FILE_BINARY_2" property="purAplManagement.detailExtItem.extendFile.extendFile2.binary"/>
        <result column="EXT_FILE_BINARY_3" property="purAplManagement.detailExtItem.extendFile.extendFile3.binary"/>
        <result column="EXT_MST_1" property="purAplManagement.detailExtItem.extendMst.extendMst1.mstKey" />
        <result column="EXT_MST_2" property="purAplManagement.detailExtItem.extendMst.extendMst2.mstKey" />
        <result column="EXT_MST_3" property="purAplManagement.detailExtItem.extendMst.extendMst3.mstKey" />
        <result column="EXT_MST_4" property="purAplManagement.detailExtItem.extendMst.extendMst4.mstKey" />
        <result column="EXT_MST_5" property="purAplManagement.detailExtItem.extendMst.extendMst5.mstKey" />
        <result column="EXT_MST_6" property="purAplManagement.detailExtItem.extendMst.extendMst6.mstKey" />
        <result column="EXT_MST_7" property="purAplManagement.detailExtItem.extendMst.extendMst7.mstKey" />
        <result column="EXT_MST_8" property="purAplManagement.detailExtItem.extendMst.extendMst8.mstKey" />
        <result column="EXT_MST_NAME_1" property="purAplManagement.detailExtItem.extendMst.extendMst1.mstName"/>
        <result column="EXT_MST_NAME_2" property="purAplManagement.detailExtItem.extendMst.extendMst2.mstName"/>
        <result column="EXT_MST_NAME_3" property="purAplManagement.detailExtItem.extendMst.extendMst3.mstName"/>
        <result column="EXT_MST_NAME_4" property="purAplManagement.detailExtItem.extendMst.extendMst4.mstName"/>
        <result column="EXT_MST_NAME_5" property="purAplManagement.detailExtItem.extendMst.extendMst5.mstName"/>
        <result column="EXT_MST_NAME_6" property="purAplManagement.detailExtItem.extendMst.extendMst6.mstName"/>
        <result column="EXT_MST_NAME_7" property="purAplManagement.detailExtItem.extendMst.extendMst7.mstName"/>
        <result column="EXT_MST_NAME_8" property="purAplManagement.detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>
    <!--詳細画面のカタログ購入依頼詳細を取得する-->
    <select id="searchCatalogPurReqAplForDetail" parameterType="fw.domain.slip.purreq.purreqcatalog.CatalogIdentify" resultMap="CatalogPurReqApl_Detail_Map">
        SELECT
            T_PUR_APL.PUR_APL_NO,
            T_PUR_APL.URGENT_IND,
            T_PUR_APL.PUR_APL_STATUS,
            T_PUR_APL.PUR_REQ_DATE,
            T_PUR_APL.TITLE_NAME,
            T_PUR_APL.INPUT_SECTION_CD,
            T_PUR_APL.INPUT_COMPANY_CD,
            T_PUR_APL.INPUT_SECTION_NAME,
            T_PUR_APL.INPUT_USER_ID,
            T_PUR_APL.INPUT_USER_NAME,
            T_PUR_APL.REQ_SECTION_CD,
            T_PUR_APL.REQ_COMPANY_CD,
            T_PUR_APL.REQ_SECTION_NAME,
            T_PUR_APL.REQ_USER_EXTENSION_NO,
            T_PUR_APL.REQ_USER_TEL_NO,
            T_PUR_APL.REQ_USER_ID,
            T_PUR_APL.REQ_USER_NAME,
            T_PUR_APL.LOAD_SECTION_CD,
            T_PUR_APL.LOAD_SECTION_NAME,
            T_PUR_APL.DELIV_PLACE_CD,
            T_PUR_APL.DELIV_PLACE_NAME,
            T_PUR_APL.BUDGET_NO,
            T_RINGI_BUDGET_DTL.BUDGET_NAME,
            T_PUR_APL.FOR_BOSS_COMMENT,
            T_PUR_APL.FOR_SUPPRIER_COMMENT,
            T_PUR_APL.APP_ROUTE_NO,
            T_PUR_APL.APP_ROUTE_NAME,
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_PUR_APL")}
        FROM T_PUR_APL
        LEFT JOIN T_RINGI_BUDGET_DTL
            ON T_RINGI_BUDGET_DTL.COMPANY_CD = T_PUR_APL.LOAD_COMPANY_CD
            AND T_RINGI_BUDGET_DTL.SECTION_PLACE_CD = T_PUR_APL.LOAD_SECTION_PLACE_CD
            AND T_RINGI_BUDGET_DTL.BUDGET_DTL_NO = T_PUR_APL.BUDGET_NO
        WHERE T_PUR_APL.PUR_APL_SEQ = #{purAplSeqNo}
            AND T_PUR_APL.NEW_FLG = '1'
            AND T_PUR_APL.DELETE_FLG = '0'
        UNION ALL
        SELECT
            T_PUR_APL.PUR_APL_NO,
            T_PUR_APL.URGENT_IND,
            T_PUR_APL.PUR_APL_STATUS,
            T_PUR_APL.PUR_REQ_DATE,
            T_PUR_APL.TITLE_NAME,
            T_PUR_APL.INPUT_SECTION_CD,
            T_PUR_APL.INPUT_COMPANY_CD,
            T_PUR_APL.INPUT_SECTION_NAME,
            T_PUR_APL.INPUT_USER_ID,
            T_PUR_APL.INPUT_USER_NAME,
            T_PUR_APL.REQ_SECTION_CD,
            T_PUR_APL.REQ_COMPANY_CD,
            T_PUR_APL.REQ_SECTION_NAME,
            T_PUR_APL.REQ_USER_EXTENSION_NO,
            T_PUR_APL.REQ_USER_TEL_NO,
            T_PUR_APL.REQ_USER_ID,
            T_PUR_APL.REQ_USER_NAME,
            T_PUR_APL.LOAD_SECTION_CD,
            T_PUR_APL.LOAD_SECTION_NAME,
            T_PUR_APL.DELIV_PLACE_CD,
            T_PUR_APL.DELIV_PLACE_NAME,
            T_PUR_APL.BUDGET_NO,
            T_RINGI_BUDGET_DTL.BUDGET_NAME,
            T_PUR_APL.FOR_BOSS_COMMENT,
            T_PUR_APL.FOR_SUPPRIER_COMMENT,
            T_PUR_APL.APP_ROUTE_NO,
            T_PUR_APL.APP_ROUTE_NAME,
            ${@ps.common.util.ItemSettingUtil@getItemSettingSelectSQL("T_PUR_APL")}
        FROM H_PUR_APL T_PUR_APL
        LEFT JOIN T_RINGI_BUDGET_DTL 
            ON T_RINGI_BUDGET_DTL.COMPANY_CD = T_PUR_APL.LOAD_COMPANY_CD
            AND T_RINGI_BUDGET_DTL.SECTION_PLACE_CD = T_PUR_APL.LOAD_SECTION_PLACE_CD
            AND T_RINGI_BUDGET_DTL.BUDGET_DTL_NO = T_PUR_APL.BUDGET_NO
        WHERE T_PUR_APL.PUR_APL_SEQ = #{purAplSeqNo}
            AND T_PUR_APL.NEW_FLG = '1'
            AND T_PUR_APL.DELETE_FLG = '0'
    </select>

    <!--詳細画面の依頼金額合計を取得する-->
    <select id = "searchReqAmount" parameterType="fw.domain.slip.purreq.purreqcatalog.CatalogIdentify" resultType="String" >
        SELECT  CASE WHEN SUM(REQ_AMOUNT)IS NULL
                THEN 0
                ELSE SUM(REQ_AMOUNT) END "REQ_AMOUNT"
        FROM (
        SELECT 
            T_PUR_REQUEST.PUR_APL_SEQ
            , T_PUR_REQUEST.REQ_AMOUNT
        FROM    T_PUR_REQUEST
        WHERE  T_PUR_REQUEST.PUR_APL_SEQ = #{purAplSeqNo}
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(appUnitNo)">
                AND T_PUR_REQUEST.APP_UNIT_NO = #{appUnitNo, jdbcType=VARCHAR}
            </if>
            AND T_PUR_REQUEST.DELETE_FLG = '0'
        UNION ALL
        SELECT  
            T_PUR_REQUEST.PUR_APL_SEQ
            , T_PUR_REQUEST.REQ_AMOUNT
        FROM    H_PUR_REQUEST T_PUR_REQUEST
        WHERE  T_PUR_REQUEST.PUR_APL_SEQ = #{purAplSeqNo}
                <if test="@org.apache.commons.lang.StringUtils@isNotBlank(appUnitNo)">
                    AND T_PUR_REQUEST.APP_UNIT_NO = #{appUnitNo, jdbcType=VARCHAR}
                </if>
                AND T_PUR_REQUEST.DELETE_FLG = '0'
        )
        GROUP BY PUR_APL_SEQ
    </select>
</mapper>