<!doctype html>
<HTML LANG="ja">
<HEAD>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<META http-equiv="Pragma" content="no-cache">
<META http-equiv="Content-script-type" CONTENT="text/javascript">
<title>#customSpringMessage('LOGIN')</title>
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../../include/common.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../../include/check.js"></SCRIPT>
<SCRIPT LANGUAGE="javascript" TYPE="text/javascript" SRC="../../include/searchbox.js"></SCRIPT>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
if (top != self)    {
 top.location=self.location;
}
<!--
#parse("./common/common_js.vm")
function onLoad(){
	setFocusForInput();
    var alertMessage = "$!alertInfo";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}
function loginExec(){
    buttonDisable();
    getObj('Body').submit();
}
//-->
</script>
</HEAD>

<BODY ONLOAD="onLoad();" CLASS="Body" ALIGN="center" VALIGN="middle" topmargin="0" leftmargin="0" height="100%">
<FORM NAME="Body" id="Body" action="$!requestContext.contextPath/j_spring_security_check" method="post">
<TABLE CLASS="NoBorder" STYLE="width:700px;height:380px;margin:auto;background-repeat : no-repeat;background-image:url('../../image/title.gif')">
    <TR>
        <TD COLSPAN="2" STYLE="height:350px;">&nbsp;</TD>
    </TR>
    #if(${domain.multiCompanyEnabled})
        <TR>
            <TD CLASS="FontMiniAnkBold" ALIGN="right" STYLE="width=45%;vertical-align:bottom;">#customSpringMessage('COMPANY')：&nbsp;</TD>
            <TD ALIGN="left" STYLE="width:55%;vertical-align:bottom;">
                #customFormSingleSelect("domain.companyCd" $!companyList "CLASS=’Small’")
            </TD>
        </TR>
    #end
    <TR>
        <TD CLASS="FontMiniAnkBold" ALIGN="right" STYLE="width:45%;vertical-align:bottom;" >
            #customSpringMessage('USER_ID_LOGIN')：&nbsp;
        </TD>
        <TD ALIGN="left" STYLE="width:55%;vertical-align:bottom;">
            #springFormInput("domain.userId" "maxlength='12' CLASS='Small noIME' SIZE='20' autocomplete='off'")
        </TD>
    </TR>
    <TR>
        <TD CLASS="FontMiniAnkBold" ALIGN="right" STYLE="width:45%;vertical-align:top;">
            #customSpringMessage('PASSWORD_LOGIN')：&nbsp;
        </TD>
        <TD ALIGN="left" STYLE="width:55%;vertical-align:top;">
           #customFormPasswordInput("domain.password" "maxlength='128' CLASS='Small' SIZE='20'")
        </TD>
    </TR>
    <TR>
        <TD COLSPAN="2" ALIGN="right" STYLE="vertical-align:top;">
            <div ALIGN="center">
                 <input type="button" onclick="javaScript:loginExec();" class="LargeButton" value="#customSpringMessage('LOGIN')">
            </div>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN="2" ALIGN="center" STYLE="vertical-align:top;">
            <div class="FontMiniAnk" style="color:#999999;font-size:7pt;font-style:italic;">$!versionInfo.versionString</div>
        </TD>
    </TR>
</TABLE>
#customFormHiddenInput("xToken" "$xToken")
<div class="error" STYLE="margin:auto;width:500px;">$!errorInfo</div>
</FORM>
</BODY>
</HTML>
