<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:webflow="http://www.springframework.org/schema/webflow-config"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/webflow-config
        http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.3.xsd" default-lazy-init="true">

    <bean id="m01_inputUser" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M01_inputUser.vm" />
    </bean>
    <bean id="m03_inputSection" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M03_inputSection.vm" />
    </bean>
    <bean id="m03_inputLoadSection" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M03_inputLoadSection.vm" />
    </bean>
    <bean id="m04_inputDelivery" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M04_inputDelivery.vm" />
    </bean>
    <bean id="m05_inputSupplier" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M05_inputSupplier.vm" />
    </bean>
    <bean id="m06_inputItemKind" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M06_inputItemKind.vm" />
    </bean>
    <bean id="m07_inputSubject" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M07_inputSubject.vm" />
    </bean>
    <bean id="m08_inputItem" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M08_inputItem.vm" />
    </bean>
    <bean id="m09_inputManufact" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M09_inputManufact.vm" />
    </bean>
    <bean id="m10_showItemKind" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M10_showItemKind.vm" />
    </bean>
    <bean id="m11_inputItemCodeOnly" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M11_inputItemCodeOnly.vm" />
    </bean>
    <bean id="m12_inputSupplierCodeOnly" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M12_inputSupplierCodeOnly.vm" />
    </bean>
    <bean id="m13_inputUserForSearch" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M13_inputUserForSearch.vm" />
    </bean>
    <bean id="m13_inputUserForSearchExtend" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M13_inputUserForSearchExtend.vm" />
    </bean>
<!-- 強化-01362-000 2013/05/14 DEL SBO_pangzhen START -->
<!--     <bean id="m14_inputItemKindSelect" class="ps.common.itemsetting.special.SpecialCreatorTemplate"> -->
<!--        <constructor-arg name="templateName" value="template/master/M14_inputItemKindSelect.vm" /> -->
<!--     </bean> -->
<!-- 強化-01362-000 2013/05/14 DEL SBO_pangzhen -END- -->
    <bean id="m15_showUser" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M15_showUser.vm" />
    </bean>
    <bean id="m15_showUser2" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M15_showUser2.vm" />
    </bean>
    <bean id="m16_showSection" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M16_showSection.vm" />
    </bean>
    <bean id="m16_showSectionForOrderStop" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M16_showSectionForOrderStop.vm" />
    </bean>
    <bean id="m17_showDelivery" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M17_showDelivery.vm" />
    </bean>
    <bean id="m18_showSupplier" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M18_showSupplier.vm" />
    </bean>
    <bean id="m18_showSupplierAbbrName" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M18_showSupplierAbbrName.vm" />
    </bean>
    <bean id="m19_showSubject" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M19_showSubject.vm" />
    </bean>
    <bean id="m20_showManufact" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M20_showManufact.vm" />
    </bean>
    <bean id="m21_inputSupplier2" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M21_inputSupplier2.vm" />
    </bean>
    <bean id="m24_showItem" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M24_showItem.vm" />
    </bean>
    <bean id="m25_inputItemName" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M25_inputItemName.vm" />
    </bean>
    <bean id="m26_inputUser2" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M26_inputUser2.vm" />
    </bean>
    <bean id="m27_inputSupplierBank" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M27_inputSupplierBank.vm" />
    </bean>
    <bean id="m28_inputItemWithPrice" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M28_inputItemWithPrice.vm" />
    </bean>
    <bean id="m30_showItemProductClass" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M30_showItemProductClass.vm" />
    </bean>
    <bean id="m31_showSupplierSimple" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M31_showSupplierSimple.vm" />
    </bean>
    <bean id="m33_inputSectionPlace" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M33_inputSectionPlace.vm" />
    </bean>
    <bean id="m34_showSectionPlace" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M34_showSectionPlace.vm" />
    </bean>
    <bean id="m35_inputStockPlace" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M35_inputStockPlace.vm" />
    </bean>
    <bean id="m36_showStockPlace" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M36_showStockPlace.vm" />
    </bean>
    <bean id="m200_optional" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/master/M200_optional.vm" />
    </bean>

    <bean id="s00_label" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S00_label.vm" />
    </bean>
    <bean id="s01_file2" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S01_file2.vm" />
    </bean>
    <bean id="s02_currency" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S02_currency.vm" />
    </bean>
    <bean id="s04_file1" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S04_file1.vm" />
    </bean>
    <bean id="s05_radio" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S05_radio.vm" />
    </bean>
    <bean id="s08_comment" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S08_comment.vm" />
    </bean>
    <bean id="s12_showFile1" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S12_showFile1.vm" />
    </bean>
    <bean id="s13_showFile2" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S13_showFile2.vm" />
    </bean>
    <bean id="s14_showFile3" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S14_showFile3.vm" />
    </bean>
    <bean id="s15_appHistory" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S15_appHistory.vm" />
    </bean>
    <bean id="s18_data_receiveRemainderVol" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S18_data_receiveRemainderVol.vm" />
    </bean>
    <bean id="s18_head_receiveRemainderVol" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S18_head_receiveRemainderVol.vm" />
    </bean>
    <bean id="s20_file3" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S20_file3.vm" />
    </bean>
    <bean id="s22_volForOrderUpdate" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S22_volForOrderUpdate.vm" />
    </bean>
    <bean id="s23_data_receivedVol" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S23_data_receivedVol.vm" />
    </bean>
    <bean id="s24_currency" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S24_currency.vm" />
    </bean>
    <bean id="s26_amountForCancel" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S26_amountForCancel.vm" />
    </bean>
    <bean id="s26_amountForOriginAndCancel" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S26_amountForOriginAndCancel.vm" />
    </bean>
    <bean id="s27_list_data_currency" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S27_list_data_currency.vm" />
    </bean>
    <bean id="s27_volForCancel" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S27_volForCancel.vm" />
    </bean>
    <bean id="s27_volForOriginAndCancel" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S27_volForOriginAndCancel.vm" />
    </bean>
    <bean id="s29_list_data_status" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S29_list_data_status.vm" />
    </bean>
    <bean id="s30_list_inqRespDate" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S30_list_inqRespDate.vm" />
    </bean>
    <bean id="s31_checkbox" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S31_checkbox.vm" />
    </bean>
    <bean id="s32_ansIndLink" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S32_ansIndLink.vm" />
    </bean>
    <bean id="s34_file3NoRange" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S34_file3NoRange.vm" />
    </bean>
    <bean id="s37_showIfTrue" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S37_showIfTrue.vm" />
    </bean>
    <bean id="s38_inputPriceDecDate" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S38_inputPriceDecDate.vm" />
    </bean>
    <bean id="s43_showPercentage" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S43_showPercentage.vm" />
    </bean>
    <bean id="s44_list_data_Percentage" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S44_list_data_Percentage.vm" />
    </bean>
    <bean id="s45_comment" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S45_comment.vm" />
    </bean>
    <bean id="s47_list_data_textbox" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S47_list_data_textbox.vm" />
    </bean>
    <bean id="s48_list_data_checkbox" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S48_list_data_checkbox.vm" />
    </bean>
    <bean id="s49_claimAmountPerTax" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/S49_claimAmountPerTax.vm" />
    </bean>
    <!-- 予算オプション -->
    <bean id="BG01_input_BudgetNo" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/options/budget/BG01_input_BudgetNo.vm" />
    </bean>
    <bean id="BG02_budget_no_label" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/options/budget/BG02_budget_no_label.vm" />
    </bean>
    <bean id="BG03_budget_no_without_button" class="ps.common.itemsetting.special.SpecialCreatorTemplate">
       <constructor-arg name="templateName" value="template/special/options/budget/BG03_budget_no_without_button.vm" />
    </bean>
    <!-- 予算オプション -->
</beans>