<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_SUPPLIER')</title><!--取引先マスタ -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

function onLoad() {
	var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
    var isSuccess = '#jsEscape($!isSuccess)';
    if(isSuccess == 'true'){
        #set( $mSupplier = "#customSpringMessage('M_SUPPLIER')" )
        alert('#customMessageArgs("I003",[$mSupplier])')
        buttonDisable();
        top.iframeChange("${flowExecutionUrl}&_eventId=back");
    }
}

function exec() {
    #set( $mmSupplier = "#customSpringMessage('M_SUPPLIER')" )
    #set( $delete = "#customSpringMessage('ACTION_DELETE')" )
    if( !confirm("#customMessageArgs("W001",[$mmSupplier,$delete])") ) {
        return;
    }
    buttonDisable();
    getObj("Body").submit();
}

//-->
</script>
</head>
<body class="Body" style="text-align:center;" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="left" onload="onLoad();">
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    #customFormHiddenInput("pageid" "supplierDelete")
<table width="70%" style="height:20px; margin-right:auto; margin-left:auto;"><tr id ="TR_ERROR" style="display:none;"><td class="error">
    $!errorMessage
</td></tr>
<tr>
    <td class="FontSmallBold DarkBlue">
        #customSpringMessage("PSMST072_DEL_HEADER_COMMENT")
    </td>
</tr>
</table>
    <table class="DTL_BOX" width="70%">
                <tr>
                    <td class="DTL_TITLE_BOX" >
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td style="text-align:left;"><span class="DarkBlue ScreenName">#customSpringMessage('SCREEN_M_SUPPLIER_DELETE')</span></td><!--取引先マスタ削除-->
                                <td class="FontSmall" align="right">
                                    <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onClick="javascript:exec();"><!--削除-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="DTL_INTER_BOX">
                        <table class="NoBorder" width="100%">
                            #if("$!isUseAll"=="false")
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('COMPANY_CD')<!--会社コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.supplierIdentify.companyCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('COMPANY_NAME')<!--会社名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.companySummary.companyName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            #end
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('COMPANY_USE_LANGUAGE')<!--会社使用言語--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.companySummary.languageInd_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_CD')<!--取引先コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.supplierIdentify.supCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_NAME')<!--取引先名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.supName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_ABBR_NAME')<!--取引先名（略称）--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.supAbbrName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_USE_LANGUAGE')<!--取引先使用言語--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.useLanguageInd.languageInd.languageInd_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('VENDER')<!--統一取引先--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.vendorCd) #out($domain.vendorName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('TRADE_CURRENCY_CD')<!--取引先通貨コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.baseCurrencyCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUBCON_IND')<!--下請法適用業者--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.sup.subcon.subconInd_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('EDI_IND')<!--EDIデータ送受信方法--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.ctc.ediInd.ediInd_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD" width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('COUNTRY_CD')<!--国コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.ctc.supCtc.ctc.country.cyCd_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ZIP_CD')<!--郵便番号--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.supCtc.ctc.zipCd.zipCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ADDRESS1')<!--住所１--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.supCtc.ctc.address1.address)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ADDRESS2')<!--住所２--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.ctc.supCtc.ctc.address2.address)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('TEL_NO')<!--電話番号--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.supCtc.ctc.telNo.telNo)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_NO')<!--FAX番号--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.supCtc.ctc.faxNo.faxNo)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('DEST_NAME')<!--宛先名称--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.supCtc.dest.destName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('VALID_PERIOD')<!--有効期間--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">
                                                  #out($domain.valt.valPd.period.startDate.dateOfymdFormat)</span>
                                                 #if("" != "$domain.valt.valPd.period.startDate.dateOfymd" || "" != "$domain.valt.valPd.period.endDate.dateOfymd")
                                                <span class="Brown"> ～ </span>
                                                #end
                                                <span class="Brown">
                                                    #out($domain.valt.valPd.period.endDate.dateOfymdFormat)</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('BANK_CD')<!--銀行コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.bankCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('BANK_NAME')<!--銀行名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.bankName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('BRANCH_CD')<!--支店コード--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.branchCd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('BRANCH_NAME')<!--支店名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.branchName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ACCOUNT_TYPE')<!--口座種別--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.sup.pay.ac.acType.acType_PageValue)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ACCOUNT_NO')<!--口座番号--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.accountNo)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ACCOUNT_NAME')<!--口座名義--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.pay.ac.accountName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_SECTION_NAME')<!--取引先所属名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.supPerName.supSectionName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('SUP_PERSON_NAME')<!--取引先担当者名--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.supPerName.supPersonName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('PAY_CONDITION')<!--支払条件--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($!domain.sup.pay.payCondMgmt.payConditionIdentify.payConditionCd) #out($!domain.sup.pay.payCondMgmt.payConditionName)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('ELIGIBLE_INVOICE_ISSUE_IND')<!--適格請求書発行事業者区分--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.eligibleInvoiceIssueInd.eligibleInvoiceIssueInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('BUSINESS_REGIST_NO')<!--登録番号--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.sup.businessRegistNo)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_OUTHEAD" colspan="2">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND')<!--FAX送信--></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND_QUOT')<!--見積依頼書--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.fax.quotFaxInd.faxInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND_ORDER')<!--納品書兼注文書--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.fax.orderFaxInd.faxInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND_DELIV')<!--納期確認書--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.fax.delivFaxInd.faxInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND_ARRIVAL')<!--入荷通知--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.fax.arrivalFaxInd.faxInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="DTL_OUTHEAD"  width="30%">
                                    <div class="DTL_INHEAD">
                                        <span class="FontDetailHeader">#customSpringMessage('FAX_IND_ACCEPT')<!--検収書--></span>
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY">
                                    <div class="DTL_INBODY">
                                        <table class="NoBorder" width="100%">
                                            <tr>
                                                <td class="FontDetailData"><span class="Brown">#out($domain.ctc.fax.acceptFaxInd.faxInd)</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                    #foreach($!supplierLanguage in $!domain.supplierLanguageList.supplierLanguageList)
                    <div id="LAUNGAGE_FIELD_$velocityCount">
                    <table id="lang_1" class="NoBorder" width="100%">
                        <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('LANGUAGE')</span><!--言語-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].languageInd.languageInd_PageValue)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('SUP_NAME')</span><!--取引先名-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].supName)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('SUP_ABBR_NAME')</span><!--取引先名（略称）-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].supAbbrName)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('ADDRESS1')</span><!--住所１-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].address1.address)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('ADDRESS2')</span><!--住所2-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].address2.address)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('DEST_NAME')</span><!--宛先名称-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].destName.destName)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('SUP_SECTION_NAME')</span><!--取引先所属名-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].supPersonName.supSectionName)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td class="DTL_OUTHEAD" width="30%">
                                <div class="DTL_INHEAD">
                                    <span class="FontDetailHeader">#customSpringMessage('SUP_PERSON_NAME')</span><!--取引先担当者名-->
                                </div>
                            </td>
                            <td class="DTL_OUTHEAD">
                                <div class="DTL_INBODY">
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td class="FontDetailData"><span class="Brown">#out($domain.supplierLanguageList.supplierLanguageList[$velocityCount].supPersonName.supPersonName)</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            #end
            </td>
        </tr>
        <tr>
            <td class="DTL_INTER_BOX" >
                <table class="NoBorder" style="width:100%;">
                        <tr>
                            <td class="DTL_MSGBOX">
                                #customSpringMessage('PSMST072_DEL_FOOTER_COMMENT') ## ※削除した場合、登録内容は消去されますが、過去の伝票には影響はありません。-->
                            </td>
                            <td class="DTL_MSGBOX" align="right">
                                <br/><input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_DELETE')" onClick="javascript:exec();"><!--削除-->
                            </td>
                        </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>