<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_ITEM_KIND')</title><!--品種マスタ-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$itemKindSearchCondition)
#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
        var isShowUpdate = "#jsEscape($isShowUpdate)";
        if (isShowUpdate == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=update","pageid","itemKindUpdate");
        }
        var isShowDelete = "#jsEscape($isShowDelete)";
        if (isShowDelete == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","itemKindDelete");
        }
}

function openDetail(companyCd,itemClassL,itemClassM,itemClassS,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeUpdate","companyCd",companyCd,"itemClassL",itemClassL,"itemClassM",itemClassM,"itemClassS",itemClassS,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
function openDetailDel(companyCd,itemClassL,itemClassM,itemClassS,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeDelete","companyCd",companyCd,"itemClassL",itemClassL,"itemClassM",itemClassM,"itemClassS",itemClassS,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,2);">
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.itemKindItemList.size() > 0)
<table id="TABLE" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall" width="5%;">No.</th><!--No.-->
            <th class="BoxHeaderCenter FontSmall" width="5%;" >#customSpringMessage('ACTION')<!--処理--></th>            
            <th label="case" class="BoxHeaderCenter FontSmall" width="80px;" id="M_ITEM_KIND.ITEM_CLASS_L" >
                <span class="column">#customSpringMessage('ITEM_CLASS_L')<!--大分類コード--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_KIND_LANG.ITEM_CLASS_NAME">
                <span class="column">#customSpringMessage('ITEM_CLASS_L_NAME')<!--大分類名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" width="80px;" id="M_ITEM_KIND.ITEM_CLASS_M">
                <span class="column">#customSpringMessage('ITEM_CLASS_M')<!--中分類コード--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_KIND_LANG.ITEM_CLASS_NAME">
                <span class="column">#customSpringMessage('ITEM_CLASS_M_NAME')<!--中分類名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" width="80px;" id="M_ITEM_KIND.ITEM_CLASS_S">
                <span class="column">#customSpringMessage('ITEM_CLASS_S')<!--小分類コード--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM_KIND_LANG.ITEM_CLASS_NAME">
                <span class="column">#customSpringMessage('ITEM_CLASS_S_NAME')<!--小分類名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION_LANG.SECTION_NAME">
                <span class="column">#customSpringMessage('BUYER_SECTION_NAME')<!--購買部門名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" id="M_B_USER_LANG.USER_NAME">
                <span class="column">#customSpringMessage('BUYER_USER_NAME')<!--購買担当者名--></span>
            </th>
            <th label="case" class="BoxHeaderCenter FontSmall" width="5%;" id="M_ITEM_KIND.TERM_FLG">
                <span class="column">#customSpringMessage('TERMINATION')<!--廃止--></span>
            </th>
        </tr>
    </thead>
    <tbody>
    #set( $index = 0 )
    #foreach($!itemKindItem in $!itemList.itemKindItemList)
    <tr>
        <td class="BoxDetailCenter FontList"><span class="FontList">#set( $index = $index + 1 )$index</span></td>
        <td class="BoxDetailLeft">
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_EDIT')" onclick="openDetail('#jsEscapeInHTML($!itemKindItem.itemKindIdentify.companyCd)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassL)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassM)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassS)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.lastUpdDate)');"><!-- 編集 -->
                <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_DELETE')" onclick="openDetailDel('#jsEscapeInHTML($!itemKindItem.itemKindIdentify.companyCd)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassL)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassM)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.itemClassS)','#jsEscapeInHTML($!itemKindItem.itemKindIdentify.lastUpdDate)');"><!-- 削除 -->
        </td>
        <td class="BoxDetailCenter FontList"><span class="FontList">#out($!itemKindItem.itemClassL)</span></td>
        <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemKindItem.itemClassNameL)</span></td>
        <td class="BoxDetailCenter FontList"><span class="FontList">#out($!itemKindItem.itemClassM)</span></td>
        <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemKindItem.itemClassNameM)</span></td>
        <td class="BoxDetailCenter FontList"><span class="FontList">#out($!itemKindItem.itemClassS)</span></td>
        <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemKindItem.itemClassNameS)</span></td>
        <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemKindItem.buyerSectionName)</span></td>
        <td class="BoxDetailLeft FontList"><span class="FontList">#out($!itemKindItem.buyerUserName)</span></td>
        <td class="BoxDetailCenter FontSmallBold"><span class="FontPartNo">#out($!itemKindItem.termFlg.termFlg_PageValue)</span></td>
    </tr>
    #end
    </tbody>
</table>
#end

<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->

</body>

</html>
