<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.common.autocancel.AutoCancelMapper">
    <resultMap type="fw.domain.slip.order.order.Order" id="Order_Map">
        <id  column="ORDER_NO" property="orderManagement.orderNo.orderNo"/>
        <id  column="ORDER_VERSION" property="orderManagement.historyNo.historyNo"/>
        <id  column="INFO_CD" property="orderManagement.informationInd.informationInd"/>
        <id  column="TITLE_NAME" property="orderManagement.titleName.titleName"/>
        <id  column="ORDER_FIRST_DATE" property="schedule.orderDate.orderFirstDate.dateOfymd"/>
        <id  column="ORDER_INPUT_DATE" property="schedule.orderDate.orderInputDate.dateOfymd"/>
        <id column="LOAD_COMPANY_CD" property="user.loadSection.loadSection.company.companyCd"/><!-- 負担会社コード -->
        <id column="LOAD_SECTION_PLACE_CD" property="user.loadSection.loadSection.sectionPlace.sectionPlaceCd"/> <!-- 負担事業所コード -->
        <id  column="LOAD_SECTION_CD" property="user.loadSection.loadSection.sectionCd"/>
        <id  column="LOAD_SECTION_NAME" property="user.loadSection.loadSection.sectionName"/>
        <id column="DELIV_PLACE_COMPANY_CD" property="complement.delivPlace.delivPlaceCompanyCd"/><!-- 納入先会社コード -->
        <id  column="DELIV_PLACE_CD" property="complement.delivPlace.delivPlaceCd"/>
        <id  column="DELIV_PLACE_NAME" property="complement.delivPlace.delivPlaceName"/>
        <id column="SUP_COMPANY_CD" property="supplierFrom.supCompanyCd"/><!-- 取引先会社コード -->
        <id column="SUP_CD" property="supplierFrom.supCd"/><!-- 取引先コード -->
        <id column="SUP_ABBR_NAME" property="supplierFrom.supplierName.supplierAbbrName"/><!-- 取引先名（略称） -->
        <id  column="SUP_ZIP_CD" property="supplierFrom.supplierContact.ctc.zipCd.zipCd"/>
        <id  column="SUP_ADDRESS1" property="supplierFrom.supplierContact.ctc.address1.address"/>
        <id  column="SUP_ADDRESS2" property="supplierFrom.supplierContact.ctc.address2.address"/>
        <id  column="SUP_TEL_NO" property="supplierFrom.supplierContact.ctc.telNo.telNo"/>
        <id  column="SUP_FAX_NO" property="supplierFrom.supplierContact.ctc.faxNo.faxNo"/>
        <id  column="ITEM_CLASS_COMPANY_CD" property="accounting.orderItem.itemKind.itemClassCompanyCd"/>
        <id  column="ITEM_CLASS_L_NAME" property="accounting.orderItem.itemKind.itemClassLName"/>
        <id  column="ITEM_CLASS_M_NAME" property="accounting.orderItem.itemKind.itemClassMName"/>
        <id  column="ITEM_CLASS_S_NAME" property="accounting.orderItem.itemKind.itemClassSName"/>
        <id column="ITEM_COMPANY_CD" property="accounting.orderItem.item.itemCompanyCd"/><!-- 品名会社コード -->
        <id  column="ITEM_CD" property="accounting.orderItem.item.itemCd"/>
        <id  column="ITEM_NAME" property="accounting.orderItem.item.itemName"/>
        <id  column="KATASHIKI" property="accounting.orderItem.item.katashiki"/>
        <id  column="MANUFACT_CD" property="accounting.orderItem.item.manufact.manufactCd"/>
        <id  column="MANUFACT_NAME" property="accounting.orderItem.item.manufact.manufactName"/>
        <id  column="INSPECT_IND" property="condition.inspectInd.inspectInd"/>
        <id  column="ORDER_DELIV_DATE" property="schedule.dlvEst.dlvEst.dateOfymd"/>
        <id  column="UNIT_PRICE_IND" property="status.priceManagement.unitPriceInd"/>
        <id  column="PRICE_UNDEC_REASON" property="status.priceManagement.priceUndecReason.comment"/>
        <id  column="PRICE_DEC_DATE" property="status.priceManagement.priceDecDate.dateOfymd"/>
        <id  column="CURRENCY_CD" property="accounting.orderAmount.amountMng.currency.currencyCd"/>
        <id  column="UNIT_PRICE" property="accounting.orderAmount.unitPrice.amount.amount"/>
        <id  column="ORDER_VOL" property="accounting.orderAmount.orderVolume.orderVol.vol"/>
        <id column="UNIT_CD" property="accounting.orderItem.item.unit.unitCd"/>
        <id column="UNIT_NAME" property="accounting.orderItem.item.unit.unitName"/>
        <id  column="ORDER_AMOUNT" property="accounting.orderAmount.orderAmount.amount"/>
        <id  column="TAX_IND" property="accounting.orderAmount.amountMng.taxCalculationInd.taxInd.taxInd"/>
        <id  column="CONSUMPT_IND" property="accounting.orderAmount.amountMng.taxCalculationInd.consumptInd.consumptInd"/>
        <id  column="BUDGET_NO" property="complement.budgetNumber.budgetNumber"/>
        <id  column="ATTACH_FILE_SEQ1" property="complement.rangeByAttachFile1.attachFile.seqNo"/>
        <id  column="ATTACH_FILE_SEQ2" property="complement.rangeByAttachFile2.attachFile.seqNo"/>
        <id  column="ATTACH_FILE_SEQ3" property="complement.rangeByAttachFile3.attachFile.seqNo"/>
        <id column="REQ_COMPANY_CD" property="user.reqUser.reqUser.section.company.companyCd"/> <!-- 依頼元会社コード -->
        <id column="REQ_SECTION_PLACE_CD" property="user.reqUser.reqUser.section.sectionPlace.sectionPlaceCd"/> <!-- 依頼元事業所コード -->
        <id column="REQ_USER_ID" property="user.reqUser.reqUser.userID"/><!-- 依頼元担当者ID -->
        <id  column="REQ_SECTION_CD" property="user.reqUser.reqUser.section.sectionCd"/>
        <id  column="REQ_SECTION_NAME" property="user.reqUser.reqUser.section.sectionName"/>
        <id  column="REQ_USER_EXTENSION_NO" property="user.reqUser.reqUser.extNo.extensionNo"/>
        <id  column="REQ_USER_TEL_NO" property="user.reqUser.reqUser.externalNo.externalNo"/>
        <id  column="BUYER_COMPANY_CD" property="user.buyUser.buyUser.section.company.companyCd"/><!-- 購買会社コード -->
        <id column="BUYER_SECTION_PLACE_CD" property="user.buyUser.buyUser.section.sectionPlace.sectionPlaceCd"/> <!-- 購買事業所コード -->
        <id column="BUYER_USER_ID" property="user.buyUser.buyUser.userID"/><!-- 購買担当者ID -->
        <id  column="BUYER_SECTION_CD" property="user.buyUser.buyUser.section.sectionCd"/>
        <id  column="BUYER_SECTION_NAME" property="user.buyUser.buyUser.section.sectionName"/>
        <id  column="BUYER_USER_EXTENSION_NO" property="user.buyUser.buyUser.extNo.extensionNo"/>
        <id  column="BUYER_USER_TEL_NO" property="user.buyUser.buyUser.externalNo.externalNo"/>
        <id  column="BUYER_COMMENT" property="orderComment.buyerComment.comment.comment"/>
        <id  column="FOR_SUPPRIER_COMMENT" property="orderComment.forSupplierComment.forSupplierComment.comment"/>
        <id  column="APP_ROUTE_NO" property="approute.appRouteNo"/>
        <id  column="APP_ROUTE_NAME" property="approute.appRouteName"/>
        <id column="SUBJECT_COMPANY_CD" property="accounting.subject.subjectCompanyCd"/><!-- 科目会社コード -->
        <id column="SUBJECT_CD" property="accounting.subject.subjectCd"/><!-- 科目コード -->
        <id column="RECIVE_COMPANY_CD" property="user.receiveSection.receiveSection.company.companyCd"/><!-- 受入会社コード -->
        <id column="RECIVE_SECTION_PLACE_CD" property="user.receiveSection.receiveSection.sectionPlace.sectionPlaceCd"/><!-- 受入事業所コード -->
        <id column="RECIVE_SECTION_CD" property="user.receiveSection.receiveSection.sectionCd"/><!-- 受入部門コード -->
    </resultMap>
    <!--注文マスタを取得する-->
    <select id="getOldOrderInfo" parameterType="String" resultMap="Order_Map">
           SELECT
              T_ORDER.ORDER_SEQ as "orderIdentify.orderSeq",
              T_ORDER.ORDER_NO,
              T_ORDER.ORDER_VERSION,
              T_ORDER.INFO_CD,
              T_ORDER.ORDER_STATUS AS "status.orderStatus.orderStatus",
              T_ORDER.TITLE_NAME,
              T_ORDER.ORDER_FIRST_DATE,
              T_ORDER.ORDER_INPUT_DATE,
              T_ORDER.LOAD_COMPANY_CD,
              T_ORDER.LOAD_SECTION_PLACE_CD,
              T_ORDER.LOAD_SECTION_CD,
              T_ORDER.LOAD_SECTION_NAME,
              T_ORDER.DELIV_PLACE_COMPANY_CD, 
              T_ORDER.DELIV_PLACE_CD,
              T_ORDER.DELIV_PLACE_NAME, 
              T_ORDER.SUP_COMPANY_CD,
              T_ORDER.SUP_CD AS "supplierFrom.supCd", 
              T_ORDER.SUP_ABBR_NAME,
              T_ORDER.SUBCON_IND AS "supplierFrom.subcon.subconInd",
              T_ORDER.SUP_ZIP_CD,
              T_ORDER.SUP_ADDRESS1,
              T_ORDER.SUP_ADDRESS2,
              T_ORDER.SUP_TEL_NO,
              T_ORDER.SUP_FAX_NO,
              T_ORDER.SUBJECT_CD AS "accounting.subject.subjectCd",
              T_ORDER.SUBJECT_NAME AS "accounting.subject.subjectName", 
              T_ORDER.ITEM_CLASS_COMPANY_CD,
              T_ORDER.ITEM_CLASS_L_NAME, 
              T_ORDER.ITEM_CLASS_M_NAME,
              T_ORDER.ITEM_CLASS_S_NAME,
              T_ORDER.ITEM_COMPANY_CD,
              T_ORDER.ITEM_CD,
              T_ORDER.ITEM_NAME,
              T_ORDER.KATASHIKI, 
              T_ORDER.MANUFACT_CD,
              T_ORDER.MANUFACT_NAME,
              T_ORDER.INSPECT_IND,
              T_ORDER.ORDER_DELIV_DATE,
              T_ORDER.UNIT_PRICE_IND,
              T_ORDER.PRICE_UNDEC_REASON,
              T_ORDER.PRICE_DEC_DATE,
              T_ORDER.CURRENCY_CD,
              T_ORDER.UNIT_PRICE,
              T_ORDER.ORDER_VOL,
              T_ORDER.UNIT_CD,
              T_ORDER.UNIT_NAME,
              T_ORDER.ORDER_AMOUNT,
              T_ORDER.TAX_IND,
              T_ORDER.CONSUMPT_IND,
              T_ORDER.BUDGET_NO,
              T_ORDER.ATTACH_FILE_SEQ1,
              T_ORDER.ATTACH_FILE_SEQ2,
              T_ORDER.ATTACH_FILE_SEQ3,
              T_ORDER.BUYER_COMMENT,
              T_ORDER.FOR_SUPPRIER_COMMENT,
              T_ORDER.REQ_COMPANY_CD,
              T_ORDER.REQ_SECTION_PLACE_CD,
              T_ORDER.REQ_USER_ID,
              T_ORDER.REQ_SECTION_CD,
              T_ORDER.REQ_SECTION_NAME,
              T_ORDER.REQ_USER_EXTENSION_NO,
              T_ORDER.REQ_USER_TEL_NO,
              T_ORDER.REQ_USER_ID AS "user.reqUser.reqUser.userID",
              T_ORDER.REQ_USER_NAME AS "user.reqUser.reqUser.userName",
              T_ORDER.BUYER_COMPANY_CD,
              T_ORDER.BUYER_SECTION_PLACE_CD,
              T_ORDER.BUYER_SECTION_PLACE_CD,
              T_ORDER.BUYER_SECTION_CD,
              T_ORDER.BUYER_SECTION_NAME,
              T_ORDER.BUYER_USER_EXTENSION_NO,
              T_ORDER.BUYER_USER_TEL_NO,
              T_ORDER.BUYER_USER_ID AS "user.buyUser.buyUser.userId",
              T_ORDER.BUYER_USER_NAME AS "user.buyUser.buyUser.userName",
              T_ORDER.APP_ROUTE_NO,
              T_ORDER.APP_ROUTE_NAME,
              T_ORDER.SUBJECT_COMPANY_CD,
              T_ORDER.SUBJECT_CD,
              T_ORDER.RECIVE_COMPANY_CD,
              T_ORDER.RECIVE_SECTION_PLACE_CD,
              T_ORDER.RECIVE_SECTION_CD
          FROM  T_ORDER
          WHERE    T_ORDER.ORDER_SEQ = #{orderSeq}
    </select>
    <update id="updateOldOrder" parameterType="String">
        UPDATE T_ORDER 
        SET 
             NEW_FLG = '0',
             NEW_APP_FLG = '0',
             LAST_UPD_DATE = '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',<!-- 最終更新日時 -->
             LAST_UPD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',<!-- 最終更新会社コード -->
             LAST_UPD_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',<!-- 最終更新部門コード -->
             LAST_UPD_USER_ID = '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'<!-- 最終更新ユーザーID -->
         WHERE ORDER_SEQ = #{orderSeq}<!-- 注文シーケンス番号 -->
    </update>
    <insert id="insertOrderCancel" parameterType="fw.domain.slip.order.order.Order">
		INSERT INTO 
			 T_ORDER( 
			  ORDER_SEQ
			, ORDER_NO
			, ORDER_VERSION
			, ORDER_STATUS
			, INFO_CD
			, REQ_TYPE_IND
			, CORRECT_CD
			, PRE_SEQ
			, NEW_FLG
			, NEW_APP_FLG
			, PUR_REQ_DATE
			, ORDER_INPUT_DATE
			, ORDER_DATE
			, ORDER_FIRST_DATE
			, PUR_REQ_NO
			, QUOT_REQ_NO
			, QUOT_REQ_DTL_NO
			, REQ_COMPANY_CD
			, REQ_COMPANY_NAME
			, REQ_SECTION_PLACE_CD
			, REQ_SECTION_PLACE_NAME
			, REQ_SECTION_CD
			, REQ_SECTION_NAME
			, REQ_USER_ID
			, REQ_USER_NAME
			, REQ_USER_EXTENSION_NO
			, REQ_USER_TEL_NO
			, REQ_USER_MAIL_ADDR
			, BUYER_COMPANY_CD
			, BUYER_COMPANY_NAME
			, BUYER_SECTION_PLACE_CD
			, BUYER_SECTION_PLACE_NAME
			, BUYER_SECTION_CD
			, BUYER_SECTION_NAME
			, BUYER_USER_ID
			, BUYER_USER_NAME
			, BUYER_USER_EXTENSION_NO
			, BUYER_USER_TEL_NO
			, BUYER_USER_MAIL_ADDR
			, BUYER_COMMENT
			, FOR_SUPPRIER_COMMENT
			, TITLE_NAME
			, LOAD_COMPANY_CD
			, LOAD_COMPANY_NAME
			, LOAD_SECTION_PLACE_CD
			, LOAD_SECTION_PLACE_NAME
			, LOAD_SECTION_CD
			, LOAD_SECTION_NAME
			, RECIVE_COMPANY_CD
			, RECIVE_COMPANY_NAME
			, RECIVE_SECTION_PLACE_CD
			, RECIVE_SECTION_PLACE_NAME
			, RECIVE_SECTION_CD
			, RECIVE_SECTION_NAME
			, INSPECT_IND
			, ITEM_CLASS_COMPANY_CD
			, ITEM_CLASS_L
			, ITEM_CLASS_L_NAME
			, ITEM_CLASS_M
			, ITEM_CLASS_M_NAME
			, ITEM_CLASS_S
			, ITEM_CLASS_S_NAME
			, ITEM_COMPANY_CD
			, ITEM_CD
			, ITEM_NAME
			, KATASHIKI
			, MANUFACT_CD
			, MANUFACT_NAME
			, SUBJECT_COMPANY_CD
			, SUBJECT_CD
			, SUBJECT_NAME
			, SUP_COMPANY_CD
			, SUP_CD
			, SUP_NAME
			, SUP_ABBR_NAME
			, SUP_ZIP_CD
			, SUP_ADDRESS1
			, SUP_ADDRESS2
			, SUP_TEL_NO
			, SUP_FAX_NO
			, SUBCON_IND
			, EDI_IND
			, VENDOR_CD
			, BUDGET_NO
			, ORDER_DELIV_DATE
			, DELIV_PLACE_COMPANY_CD
			, DELIV_PLACE_CD
			, DELIV_PLACE_NAME
			, DELIV_PLACE_ZIP_CD
			, DELIV_PLACE_ADDRESS1
			, DELIV_PLACE_ADDRESS2
			, DELIV_PLACE_NAME_INB
			, DELIV_PLACE_TEL_NO
			, DELIV_PLACE_FAX_NO
            , DELIV_PLACE_COMPANY_NAME
            , DELIV_PLACE_CONTACT_NAME
			, CURRENCY_CD
			, TAX_IND
			, CONSUMPT_IND
			, TAX_RATE
			, ORDER_VOL
			, UNIT_CD
			, UNIT_NAME
			, UNIT_PRICE
			, ORDER_AMOUNT
			, CONSUMPT_AMOUNT
			, TOTAL_AMOUNT
			, ORDER_CANCEL_VOL
			, ORDER_CANCEL_AMOUNT
			, UNIT_PRICE_IND
			, PRICE_UNDEC_REASON
			, PRICE_DEC_DATE
			, ORDER_CNV_CURRENCY_CD
			, ORDER_CNV_RATE
			, ORDER_CNV_AMOUNT
			, EST_DELIV_FLG
			, AUTO_TERMINATE_FLG
			, SUP_CONFIRM_FLG
			, PRICE_DEC_FLG
			, ATTACH_FILE_SEQ1
			, ATTACH_FILE_SEQ2
			, ATTACH_FILE_SEQ3
			, APP_ROUTE_NO
			, APP_ROUTE_NAME
			, SEND_IND
			, RECEIPT_NUMBER
			, PRINT_IND
			, FAX_SEND_IND
			, FAX_RECEIPT_NUMBER
			, BI_OUT_IND
			, DELETE_FLG
			, AUTO_DELETE_FLG
			, AUTO_DELETE_DATE
			, PAY_CONDITION_COMPANY_CD
			, PAY_CONDITION_CD
			, PAY_CONDITION_NAME
			, LAST_UPD_DATE
			, LAST_UPD_COMPANY_CD
			, LAST_UPD_SECTION_CD
			, LAST_UPD_USER_ID
			, REG_DATE
			, REG_COMPANY_CD
			, REG_SECTION_CD
			, REG_USER_ID
			) 
			SELECT 
			  #{orderIdentify.orderSeq}<!-- 注文シーケンス番号 -->
			, T1.ORDER_NO<!-- 注文番号 -->
			, T1.ORDER_VERSION + 1<!-- 注文版数 -->
			, '20'
			, '0505'
			, T1.REQ_TYPE_IND
			, '3'
			, #{orderIdentify.preSeq}<!-- 変更前シーケンス番号 -->
			, '1'
			, '1'
			, T1.PUR_REQ_DATE
			, '${@fw.common.util.AppUtil@getSysDate()}'
			, '${@fw.common.util.AppUtil@getSysDate()}'
			, T1.ORDER_FIRST_DATE
			, T1.PUR_REQ_NO
			, T1.QUOT_REQ_NO
			, T1.QUOT_REQ_DTL_NO
			, T1.REQ_COMPANY_CD
			, T1.REQ_COMPANY_NAME
			, T1.REQ_SECTION_PLACE_CD
			, T1.REQ_SECTION_PLACE_NAME
			, T1.REQ_SECTION_CD
			, T1.REQ_SECTION_NAME
			, T1.REQ_USER_ID
			, T1.REQ_USER_NAME
			, T1.REQ_USER_EXTENSION_NO
			, T1.REQ_USER_TEL_NO
			, T1.REQ_USER_MAIL_ADDR
			, T1.BUYER_COMPANY_CD
			, T1.BUYER_COMPANY_NAME
			, T1.BUYER_SECTION_PLACE_CD
			, T1.BUYER_SECTION_PLACE_NAME
			, T1.BUYER_SECTION_CD
			, T1.BUYER_SECTION_NAME
			, T1.BUYER_USER_ID
			, T1.BUYER_USER_NAME
			, T1.BUYER_USER_EXTENSION_NO
			, T1.BUYER_USER_TEL_NO
			, T1.BUYER_USER_MAIL_ADDR
			, T1.BUYER_COMMENT
			, T1.FOR_SUPPRIER_COMMENT
			, T1.TITLE_NAME
			, T1.LOAD_COMPANY_CD
			, T1.LOAD_COMPANY_NAME
			, T1.LOAD_SECTION_PLACE_CD
			, T1.LOAD_SECTION_PLACE_NAME
			, T1.LOAD_SECTION_CD
			, T1.LOAD_SECTION_NAME
			, T1.RECIVE_COMPANY_CD
			, T1.RECIVE_COMPANY_NAME
			, T1.RECIVE_SECTION_PLACE_CD
			, T1.RECIVE_SECTION_PLACE_NAME
			, T1.RECIVE_SECTION_CD
			, T1.RECIVE_SECTION_NAME
			, T1.INSPECT_IND
			, T1.ITEM_CLASS_COMPANY_CD
			, T1.ITEM_CLASS_L
			, T1.ITEM_CLASS_L_NAME
			, T1.ITEM_CLASS_M
			, T1.ITEM_CLASS_M_NAME
			, T1.ITEM_CLASS_S
			, T1.ITEM_CLASS_S_NAME
			, T1.ITEM_COMPANY_CD
			, T1.ITEM_CD
			, T1.ITEM_NAME
			, T1.KATASHIKI
			, T1.MANUFACT_CD
			, T1.MANUFACT_NAME
			, T1.SUBJECT_COMPANY_CD
			, T1.SUBJECT_CD
			, T1.SUBJECT_NAME
			, T1.SUP_COMPANY_CD
			, T1.SUP_CD
			, T1.SUP_NAME
			, T1.SUP_ABBR_NAME
			, T1.SUP_ZIP_CD
			, T1.SUP_ADDRESS1
			, T1.SUP_ADDRESS2
			, T1.SUP_TEL_NO
			, T1.SUP_FAX_NO
			, T1.SUBCON_IND
			, T1.EDI_IND
			, T1.VENDOR_CD
			, T1.BUDGET_NO
			, T1.ORDER_DELIV_DATE
			, T1.DELIV_PLACE_COMPANY_CD
			, T1.DELIV_PLACE_CD
			, T1.DELIV_PLACE_NAME
			, T1.DELIV_PLACE_ZIP_CD
			, T1.DELIV_PLACE_ADDRESS1
			, T1.DELIV_PLACE_ADDRESS2
			, T1.DELIV_PLACE_NAME_INB
            , T1.DELIV_PLACE_TEL_NO
            , T1.DELIV_PLACE_FAX_NO
            , T1.DELIV_PLACE_COMPANY_NAME
            , T1.DELIV_PLACE_CONTACT_NAME
			, T1.CURRENCY_CD
			, T1.TAX_IND
			, T1.CONSUMPT_IND
			, T1.TAX_RATE
			, '${@fw.common.util.AppUtil@deleteComma(accounting.orderAmount.orderVolume.receivedVol.vol)}'<!-- 注文数量 -->
			, T1.UNIT_CD
			, T1.UNIT_NAME
			, T1.UNIT_PRICE
			, #{accounting.orderAmount.orderAmount.amount}<!-- 注文金額 -->
			, #{accounting.orderAmount.amountMng.consumptAmount.consumptAmount.amount}<!-- 消費税額 -->
			, #{accounting.orderAmount.amountMng.totalAmount.totalAmount.amount}<!-- 合計金額 -->
			, #{orderCancel.orderCancelVol.vol}<!-- 打切取消数量 -->
			, #{orderCancel.orderCancelAmount.amount}<!-- 打切取消金額 -->
			, T1.UNIT_PRICE_IND
			, T1.PRICE_UNDEC_REASON
			, T1.PRICE_DEC_DATE
			, T1.ORDER_CNV_CURRENCY_CD
			, T1.ORDER_CNV_RATE
			, T1.ORDER_CNV_AMOUNT
			, T1.EST_DELIV_FLG
			, T1.AUTO_TERMINATE_FLG
			, '0'<!-- 取引先確認フラグ     0:未確認,1:確認済 -->
			, T1.PRICE_DEC_FLG
			, T1.ATTACH_FILE_SEQ1
			, T1.ATTACH_FILE_SEQ2
			, T1.ATTACH_FILE_SEQ3
			, ''<!-- 承認ルート番号 -->
			, ''<!-- 承認ルート名 -->
            , #{supplierFrom.ediInd.ediInd}<!-- データ送信区分 -->
            , ''<!-- 受付番号 -->
            , '0'<!-- 印刷区分  -->
            , #{supplierFrom.fax.arrivalFaxInd.faxInd}<!-- FAX送信区分 -->
			, ''
			, '0'
			, '0'
			, '0'
			, ''
			, T1.PAY_CONDITION_COMPANY_CD
			, T1.PAY_CONDITION_CD
			, T1.PAY_CONDITION_NAME
			, '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
			, '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
			, '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
			, '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
			, '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
			, '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
			, '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
			, '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
			FROM T_ORDER T1
			WHERE T1.ORDER_SEQ = #{orderIdentify.preSeq}
    </insert>
    <insert id="insertOrderSupplierLanguage" >
        INSERT INTO T_ORDER_SUP_LNG
            (ORDER_SEQ,<!-- 注文シーケンス番号 -->
             SUP_LANGUAGE_IND,<!-- 取引先言語区分 -->
             REQ_COMPANY_NAME,<!-- 依頼元会社名 -->
             REQ_SECTION_PLACE_NAME,<!-- 依頼元事業所名 -->
             REQ_SECTION_NAME,<!-- 依頼元部門名 -->
             REQ_USER_NAME,<!-- 依頼元担当者名 -->
             BUYER_COMPANY_NAME,<!-- 購買会社名 -->
             BUYER_SECTION_PLACE_NAME,<!-- 購買事業所名 -->
             BUYER_SECTION_NAME,<!-- 購買部門名 -->
             BUYER_USER_NAME,<!-- 購買担当者名 -->
             LOAD_COMPANY_NAME,<!-- 負担会社名 -->
             LOAD_SECTION_PLACE_NAME,<!-- 負担事業所名 -->
             LOAD_SECTION_NAME,<!-- 負担部門名 -->
             ITEM_CLASS_L_NAME,<!-- 大分類名 -->
             ITEM_CLASS_M_NAME,<!-- 中分類名 -->
             ITEM_CLASS_S_NAME,<!-- 小分類名 -->
             ITEM_NAME,<!-- 品名 -->
             MANUFACT_NAME,<!-- メーカー名 -->
             SUBJECT_NAME,<!-- 科目名 -->
             SUP_NAME,<!-- 取引先名 -->
             SUP_ABBR_NAME,<!-- 取引先名（略称） -->
             DELIV_PLACE_NAME,<!-- 納入先名 -->
             DELIV_PLACE_ADDRESS1,<!-- 納入先住所１ -->
             DELIV_PLACE_ADDRESS2,<!-- 納入先住所２ -->
             DELIV_PLACE_NAME_INB,<!-- 構内配送先 -->
             DELIV_PLACE_COMPANY_NAME,<!-- 納入先会社名 -->
             DELIV_PLACE_CONTACT_NAME,<!-- 納入先担当者名 -->
             UNIT_NAME,<!-- 単位名 -->
             PAY_CONDITION_NAME,<!-- 支払条件名 -->
             AUTO_DELETE_FLG,<!-- 自動データ削除フラグ -->
             AUTO_DELETE_DATE,<!-- 自動データ削除日 -->
             LAST_UPD_DATE,<!-- 最終更新日時 -->
             LAST_UPD_COMPANY_CD,<!-- 最終更新会社コード -->
             LAST_UPD_SECTION_CD,<!-- 最終更新部門コード -->
             LAST_UPD_USER_ID,<!-- 最終更新ユーザーID -->
             REG_DATE,<!-- 登録日時 -->
             REG_COMPANY_CD,<!-- 登録会社コード -->
             REG_SECTION_CD,<!-- 登録部門コード -->
             REG_USER_ID)<!-- 登録ユーザーID -->
        SELECT
             #{newOrderSeq},<!-- 注文シーケンス番号 -->
             SUP_LANGUAGE_IND,<!-- 取引先言語区分 -->
             REQ_COMPANY_NAME,<!-- 依頼元会社名 -->
             REQ_SECTION_PLACE_NAME,<!-- 依頼元事業所名 -->
             REQ_SECTION_NAME,<!-- 依頼元部門名 -->
             REQ_USER_NAME,<!-- 依頼元担当者名 -->
             BUYER_COMPANY_NAME,<!-- 購買会社名 -->
             BUYER_SECTION_PLACE_NAME,<!-- 購買事業所名 -->
             BUYER_SECTION_NAME,<!-- 購買部門名 -->
             BUYER_USER_NAME,<!-- 購買担当者名 -->
             LOAD_COMPANY_NAME,<!-- 負担会社名 -->
             LOAD_SECTION_PLACE_NAME,<!-- 負担事業所名 -->
             LOAD_SECTION_NAME,<!-- 負担部門名 -->
             ITEM_CLASS_L_NAME,<!-- 大分類名 -->
             ITEM_CLASS_M_NAME,<!-- 中分類名 -->
             ITEM_CLASS_S_NAME,<!-- 小分類名 -->
             ITEM_NAME,<!-- 品名 -->
             MANUFACT_NAME,<!-- メーカー名 -->
             SUBJECT_NAME,<!-- 科目名 -->
             SUP_NAME,<!-- 取引先名 -->
             SUP_ABBR_NAME,<!-- 取引先名（略称） -->
             DELIV_PLACE_NAME,<!-- 納入先名 -->
             DELIV_PLACE_ADDRESS1,<!-- 納入先住所１ -->
             DELIV_PLACE_ADDRESS2,<!-- 納入先住所２ -->
             DELIV_PLACE_NAME_INB,<!-- 構内配送先 -->
             DELIV_PLACE_COMPANY_NAME,<!-- 納入先会社名 -->
             DELIV_PLACE_CONTACT_NAME,<!-- 納入先担当者名 -->
             UNIT_NAME,<!-- 単位名 -->
             PAY_CONDITION_NAME,<!-- 支払条件名 -->
             '0',<!-- 自動データ削除フラグ -->
             '',<!-- 自動データ削除日 -->
             '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',<!-- 最終更新日時 -->
             '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',<!-- 最終更新会社コード -->
             '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',<!-- 最終更新部門コード -->
             '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',<!-- 最終更新ユーザーID -->
             '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',<!-- 登録日時 -->
             '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',<!-- 登録会社コード -->
             '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',<!-- 登録部門コード -->
             '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'<!-- 登録ユーザーID -->
         FROM T_ORDER_SUP_LNG
         WHERE ORDER_SEQ = #{orderSeq}
    </insert>
</mapper>
