<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('PRICE_DETAIL')</title>## 価格詳細（エラー）
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript"> 
<!--
#parse("./common/common_js.vm")

function onLoad() {
    var errorMsg = "#invalidPriceArticleMessage()";
    document.getElementById("error").innerHTML=errorMsg;
}

//-->
</script>

</head>

<body  class="DetailBody" onload="onLoad();getObj('closeButton').focus();">
    <table class="DetailSheet" style="width:100%; height:100%;" align="center">
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input id="closeButton" type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="javascript:window.close();"> <!--閉じる -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="DetailSheet" width="90%" height="100%" align="center">
                    <tr>
                        <td>#customSpringMessage('PSPRC050_HEADER_COMMENT')</td>
                    </tr>
                    <tr>
                        <td id="error" class="error">
                            
                        </td>
                    </tr>
                    <tr><td>#customSpringMessage('PSPRC050_FOOTER_COMMENT')</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="javascript:window.close();"><!--閉じる --> 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
