<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('RCV_DTL')</title><!--受入詳細-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#set($isActiveProfileStock = "#isActiveProfile('stock')")
#parse("./common/common_js.vm")
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body>
    <table class="DetailSheet" width="90%" height="100%" align="center">
        <tr>
    		#if("$whereFromFlag" == "history")
    			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
    		#else
				<td >
			#end
                <!-- ５番目のタグ-->
                <table id="InnerTabBody_4" class="NoBorder" width="100%" >
                    <tr><td align="left" nowrap>#customSpringMessage('PSRCV050_HEADER_COMMENT')</td></tr>
                    <tr>
                        <td>
                            <table class="Box1G">
                                <tr>
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('ORDER_VOL')
                                    </th>
                                    <td class="Box1Dr FontSmall">
                                        #out($!domain.originVol.volFormat)
                                    </td>
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('RCV_SETTLED_AMOUNT')
                                    </th>
                                    <td class="Box1Dr FontSmall">
                                        #out($!domain.orderVolume.receivedVol.volFormat)
                                    </td>
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('RCV_REMAIN_AMOUNT')
                                    </th>
                                    <td class="Box1Dr FontSmall">
                                        #out($!domain.orderVolume.calculatedUnDelivVol.volFormat)
                                    </td>
                                </tr>
                            </table>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="NoBorder">
                                <tr>
                                    #set($detailViewStateID='PSRCV050')
                                    <td align="right">
                                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=16','PersonalSettingsDetail','500','500');" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="Box1G">
                                            <tr>
                                                #foreach($!item in $!PSRCV050PageCreaterForDetailList.getItemListForBody())
                                                    #if($isActiveProfileStock == "false"
                                                        &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                        || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                       ))## 在庫オプション
                                                    #else
                                                        $!PSRCV050PageCreaterForDetailList.printTHtag('class="Box1H FontBoxHeader"')
                                                    #end
                                                    #if($!item.getColumnName()=="T_ARRIVAL.DELIV_KEY_NO")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIVAL_STATUS")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.UNIT_NAME")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.TOTAL_AMOUNT")
                                                        #customSpringMessage('CURRENCY_CD')
                                                        $!PSRCV050PageCreaterForDetailList.printTHtagClose()
                                                        $!PSRCV050PageCreaterForDetailList.printTHtag('class="Box1H FontBoxHeader"')
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG" && $isActiveProfileStock == "true")## 在庫オプション
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD" && $isActiveProfileStock == "true")## 在庫オプション
                                                        $!PSRCV050PageCreaterForDetailList.printHead("STOCK_PLACE", $!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.INSPECT_IND")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_REMARKS")
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                    #else
                                                      #if($isActiveProfileStock == "false"
                                                          &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                          || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                         ))## 在庫オプション
                                                      #else
                                                        $!PSRCV050PageCreaterForDetailList.printHead($!item)
                                                      #end
                                                    #end
                                                    #if($isActiveProfileStock == "false"
                                                        &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                        || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                       ))## 在庫オプション
                                                    #else
                                                        $!PSRCV050PageCreaterForDetailList.printTHtagClose()
                                                    #end
                                                #end
                                                <th class="Box1H FontBoxHeader">#customSpringMessage('SHIPMENT_DATE')</th><!--出荷日-->
                                                <th class="Box1H FontBoxHeader">#customSpringMessage('SHIPMENT_VOL')</th><!--出荷数-->
                                                <th class="Box1H FontBoxHeader">#customSpringMessage('ARVEXP_DATE')</th><!--着荷予定日-->
                                                <th class="Box1H FontBoxHeader">#customSpringMessage('SHIPMENT_REMARK')</th><!--出荷備考-->
                                            </tr>
                                        #foreach($!receiveDetailItem in $!domain.receiveDetail)
                                            <tr>
                                                #foreach($!item in $!PSRCV050PageCreaterForDetailList.getItemListForBody($velocityCount))
                                                      #if($isActiveProfileStock == "false"
                                                          &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                          || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                         ))## 在庫オプション
                                                      #else
                                                        $!PSRCV050PageCreaterForDetailList.printTDtag('class="Box1D FontSmall" nowrap')
                                                      #end
                                                    #if($!item.getColumnName()=="T_ARRIVAL.DELIV_KEY_NO")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIVAL_STATUS")
                                                        #if("$!receiveDetailItem.delivStatus" == "03")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus Red"')
                                                        #else
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus"')
                                                        #end
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.UNIT_NAME")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.TOTAL_AMOUNT")
                                                        <div>#out($!receiveDetailItem.currency.currencyCd)</div>
                                                        $!PSRCV050PageCreaterForDetailList.printTDtagClose()
                                                        $!PSRCV050PageCreaterForDetailList.printTDtag('class="Box1D FontSmall" nowrap')
                                                        $!PSRCV050PageCreaterForDetailList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG" && $isActiveProfileStock == "true")## 在庫オプション
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item, "_data_style",'class="FontStatus"')
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD" && $isActiveProfileStock == "true")## 在庫オプション
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.INSPECT_IND")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus"')
                                                    #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_REMARKS")
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                    #else
                                                      #if($isActiveProfileStock == "false"
                                                          &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                          || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                         ))## 在庫オプション
                                                      #else
                                                        $!PSRCV050PageCreaterForDetailList.printDefault($!item)
                                                      #end
                                                    #end
                                                    #if($isActiveProfileStock == "false"
                                                        &&($!item.getColumnName()=="T_ARRIVAL.HAVE_IN_STOCK_FLG"
                                                        || $!item.getColumnName()=="T_ARRIVAL.STOCK_PLACE_CD"
                                                       ))## 在庫オプション
                                                    #else
                                                        $!PSRCV050PageCreaterForDetailList.printTDtagClose()
                                                    #end
                                                #end
                                                <td class="Box1D FontSmall" nowrap>
                                                    <div align="right">#out($!receiveDetailItem.shipment.shipmentDate.shipmentDate.dateOfymdFormat)</div>
                                                </td>
                                                <td class="Box1D FontSmall" nowrap>
                                                    <div align="right">#out($!receiveDetailItem.shipment.shipmentVol.shipmentVol.volFormat)</div>
                                                </td>
                                                <td class="Box1D FontSmall" nowrap>
                                                    <div align="right">#out($!receiveDetailItem.shipment.arrivalDate.arrivalDate.dateOfymdFormat)</div>
                                                </td>
                                                <td class="Box1D FontSmall" nowrap>
                                                    <div>#out($!receiveDetailItem.shipment.shipmentRemark.remark.comment)</div>
                                                </td>
                                            </tr>
                                            #end
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <br>
                        </td>
                    </tr>
                        <td>
                        </td>
                    <tr>
                        <td>
                             <table class="Box1G">
                                <tr>
                                    #if($!approveFlg ==0)
                                        <th class="Box1H FontBoxHeader">
                                    #else
                                    <th class="Box1H FontBoxHeader" rowspan="3">
                                    #end
                                        #customSpringMessage('DELIV_KEY_NO')
                                    </th><!-- 納品キー番号-->
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('RCV_USER')
                                    </th><!--受入担当者-->
                                </tr>
                                #if($!approveFlg ==1)
                                <tr>
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('RCV_APP')
                                    </th><!-- 受入承認-->
                                </tr>
                                <tr>
                                    <th class="Box1H FontBoxHeader">
                                        #customSpringMessage('BACK_APP_COMMENTS')
                                    </th><!-- 差戻しコメント-->
                                </tr>
                                #end
                                #foreach($!receiveDetailItem in $!domain.receiveDetail)
								#if($!receiveDetailItem.receiveApp.receive.receiveManagement.NewSeqNo.arrival == $!receiveDetailItem.receiveApp.receive.arrivalSeqNo.seqNo)
                                <tr>
                                    #if("$!receiveDetailItem.appManagement.backApp.backAppReason.backReason.comment" != "")
                                        <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="3"><!-- ルート名-->
                                    #else
                                        #if($!approveFlg ==1)
                                        <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="2"><!-- ルート名-->
                                        #else
                                            <td id="KeyNo_D1" class="Box1D FontSlipNo"><!-- ルート名-->
                                        #end
                                    #end
                                        #out($!receiveDetailItem.delivKeyNo.delivKeyNo)
                                    </td>
                                    <td class="Box1D FontSmall" >
                                        <table class="NoBorder">
                                        <tr>
                                            <td class="FontSmall">
                                                <table>
                                                    <td valign="top" rowspan="2"><img class="Mark" src="../../image/mrkHuman.gif"></td><!--申請者-->
                                                    <td class="AppPersonArea">
                                                        <span class="FontSmall">
                                                            #out($!receiveDetailItem.receiveUser.section.sectionCd)
                                                            #out($!receiveDetailItem.receiveUser.section.sectionName)
                                                        </span><br>
                                                        <span class="FontSmall">
                                                            #out($!receiveDetailItem.receiveUser.userID)
                                                        </span>
                                                        <span class="FontUserName">
                                                            <b class="FontUserName">
                                                                #out($!receiveDetailItem.receiveUser.userName)
                                                            </b>
                                                        </span>
                                                    </td>
                                                    <td class="AppPersonArea">
                                                        <table class="NoBorder">
                                                            <tr>
                                                                <td><img class="Mark" src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                                <td class="FontMini" nowrap>
                                                                #customSpringMessage('EXTENSION_NO')：<span class="FontSmallAnk">#out($!receiveDetailItem.receiveUser.extNo.extensionNo)</span>&nbsp;&nbsp;<!--内線番号-->
                                                                #customSpringMessage('EXTERNAL_NO')：<span class="FontSmallAnk">#out($!receiveDetailItem.receiveUser.externalNo.externalNo)</span><!--外線番号-->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><img class="Mark" src="../../image/mrkMail.gif" ></td><!--メールアドレス-->
                                                                <td class="FontMiniAnkBold" nowrap>
                                                                <span class="FontMiniAnk">
                                                                    <A HREF='mailto:#out($!receiveDetailItem.receiveUser.userName)<#out($!receiveDetailItem.receiveUser.mailAddr.mail)>'>
                                                                        #out($!receiveDetailItem.receiveUser.mailAddr.mail)</A>
                                                                </span>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </table>
                                            </td>
                                        </tr>
                                        </table>
                                    </td>
                                </tr>
                                #if($!approveFlg ==1)
                                <tr>
                                    <td class="Box1D FontSmall" >
                                        <table class="NoBorder">
                                            <tr>
                                                <td nowrap>
                                                        <span class="FontSmall">
                                                        #customSpringMessage('APP_ROUTE_NAME') :</span><!-- 承認ルート名-->
                                                    <span class="FontUserName">
                                                        #out($!receiveDetailItem.receiveApp.receive.receiveAppRoute.approute.appRouteName)
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                        #if($!receiveDetailItem.appManagement.appList.appItemList && $!receiveDetailItem.appManagement.appList.appItemList.size()>0)
                                        <table class="AppSheet" style="-webkit-box-shadow:2px 2px 0px #000000;white-space: nowrap;">
                                            #foreach($!appItem in $!receiveDetailItem.appManagement.appList.appItemList)
                                            #if("$!appItem.appItemStatus.appItemStatus" != "")
                                                #if($!appItem.appSeq != "1")
                                                    <tr>
                                                        <td colspan="4" class="AppBorder">&nbsp;</td>
                                                    </tr>
                                                #end
                                            <tr>
                                                <td class="AppNoArea FontNumber">
                                                    #out($!appItem.appSeq)
                                                </td>
                                                #if("$!appItem.subAppFlg" == "1")
                                                <td class="AppPersonArea FontSmall" nowrap>
                                                        #out($!appItem.subAppUserName.section.sectionCd) &nbsp;
                                                        #out($!appItem.subAppUserName.section.sectionName)
                                                    <br>
                                                        #out($!appItem.subAppUserName.userID)
                                                    <span class="FontUserName">
                                                        #out($!appItem.subAppUserName.userName)
                                                    </span>
                                                    <span class="FontMini">&nbsp;#out($!appItem.subAppUserName.official.officialName)</span>
                                                </td>
                                                <td class="AppPersonArea">
                                                    <table class="NoBorder">
                                                        <tr>
                                                            <td><img src="../../image/mrkTel.gif"></td>
                                                            <td class="FontMini" nowrap>
                                                                #customSpringMessage('EXTENSION_NO') : <!-- 内線番号 -->
                                                            <span class="FontSmallAnk">#out($!appItem.subAppUserName.extNo.extensionNo)</span>
                                                                &nbsp;&nbsp;#customSpringMessage('EXTERNAL_NO') : <!-- 内線番号 -->
                                                            <span class="FontSmallAnk">#out($!appItem.subAppUserName.externalNo.externalNo)</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../image/mrkMail.gif"></td>
                                                            <td nowrap>
                                                                <span class="FontMiniAnk"><A HREF='mailto:#out($!appItem.subAppUserName.userName)<#out($!appItem.subAppUserName.mailAddr.mail)>'>
                                                                #out($!appItem.subAppUserName.mailAddr.mail)</A></span></td><td align="right" valign="bottom">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                #else
                                                <td class="AppPersonArea FontSmall" nowrap>
                                                        #out($!appItem.appUserName.section.sectionCd) &nbsp;
                                                        #out($!appItem.appUserName.section.sectionName)
                                                    <br>
                                                        #out($!appItem.appUserName.userID)
                                                    <span class="FontUserName">
                                                        #out($!appItem.appUserName.userName)
                                                    </span>
                                                    <span class="FontMini">&nbsp;#out($!appItem.appUserName.official.officialName)</span>
                                                </td>
                                                <td class="AppPersonArea">
                                                    <table class="NoBorder">
                                                        <tr>
                                                            <td><img src="../../image/mrkTel.gif"></td>
                                                            <td class="FontMini" nowrap>
                                                                #customSpringMessage('EXTENSION_NO') : <!-- 内線番号 -->
                                                            <span class="FontSmallAnk">#out($!appItem.appUserName.extNo.extensionNo)</span>
                                                                &nbsp;&nbsp;#customSpringMessage('EXTERNAL_NO') : <!-- 内線番号 -->
                                                            <span class="FontSmallAnk">#out($!appItem.appUserName.externalNo.externalNo)</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../image/mrkMail.gif"></td>
                                                            <td nowrap>
                                                                <span class="FontMiniAnk"><A HREF='mailto:#out($!appItem.appUserName.userName)<#out($!appItem.appUserName.mailAddr.mail)>'>
                                                                #out($!appItem.appUserName.mailAddr.mail)</A></span></td><td align="right" valign="bottom">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                #end
                                                <td class="AppStampArea">
                                                     #if("$!appItem.appItemStatus.appItemStatus" == "4")
                                                         <span class="FontBigBold Red">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span><!--承認状態-->
                                                     #elseif("$!appItem.appItemStatus.appItemStatus" == "2" || "$!appItem.appItemStatus.appItemStatus" == "3")
                                                         <span class="FontBigBold DarkBlue">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span>
                                                     #end
                                                    #if("$!appItem.appItemStatus.appItemStatus" != "0")
                                                        <span class="FontMiniAnk"><br><b>#out($!appItem.appDate.appDate.dateOfymdDispYMD)</b></span>
                                                   #end
                                                </td>
                                            </tr>
                                            #end
                                            #end
                                        #else
                                        <table class="AppSheet" style="display:none">
                                        #end
                                        </table>
                                    </td>
                                </tr>
                                #if("$!receiveDetailItem.appManagement.backApp.backAppReason.backReason.comment" != "")
                                <tr>
                                    <td class="Box1D FontSmall"><!-- 差戻しコメント-->
                                        #out($!receiveDetailItem.appManagement.backApp.backAppReason.backReason.comment)
                                    </td>
                                </tr>
                                #end
                                #end
                #end
              #end
      </table>
      <table class="NoBorder" width="100%"><tr><td align="left" nowrap>#customSpringMessage('PSRCV050_FOOTER_COMMENT')</td></tr></table>
		#if("$whereFromFlag" == "history")
			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
		#end
</body>
</html>
