<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('ITEM_NAME_SEARCH')</title><!--価格検索 -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--

#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../src/pricePopup');
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}

function selectRow(buyerCompanyCd,buyerSectionCd,itemClassL,itemClassNameL,itemClassM,itemClassNameM,itemClassS,itemClassNameS,itemCd,itemName,katashiki,manufactCd,manufactName,supCd,supName,supAbbrName,unitCd,unitName,currencyCd,currencyMark,inspectInd,priceFlg,autoOrderFlg, taxInd){
    parent.selectRow(buyerCompanyCd,buyerSectionCd,itemClassL,itemClassNameL,itemClassM,itemClassNameM,itemClassS,itemClassNameS,itemCd,itemName,katashiki,manufactCd,manufactName,supCd,supName,supAbbrName,unitCd,unitName,currencyCd,currencyMark,inspectInd,priceFlg,autoOrderFlg, taxInd);
}

//-->
</script>

</head>
<body id="BODY" class="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
    <form name="Body">
        #if($itemList.pricePopupItemList.size() != 0)
        #parse("./common/src_title.vm")
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><span class="FontMiddleBold">#customSpringMessage('CANDIDATE')</span></td><!--候補-->
            </tr>
        </table>

        <table id="TABLE" class="ListArea" width="100%">
            <thead>
                <tr id="Header">
                    <th class="BoxHeaderCenter FontSmall">No.</th><!--No.-->
                    <!--<th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')</th>--><!--処理-->

                    <th label="case" class="BoxHeaderCenter FontSmall" width="33%;" id="M_SUPPLIER.SUP_CD"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_SUPPLIER.SUP_CD')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('SUP_CD')
                            </span>
                        </span><!--取引先コード-->
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" width="33%;" id="supName"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','supName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('SUP_NAME')
                            </span>
                        </span><!--取引先名-->
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.ITEM_CD"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_ITEM.ITEM_CD')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CD')<!--品名コード-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemName"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','itemName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_NAME')<!--品名-->
                            </span>
                        </span>
                    </th>

                   <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE.CURRENCY_CD"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_PUR_PRICE.CURRENCY_CD')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('CURRENCY_CD')<!--通貨コード-->
                            </span>
                       </span>
                   </th>
                   <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE_DTL.BUY_PRICE"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_PUR_PRICE_DTL.BUY_PRICE')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('UNIT_PRICE')<!--単価-->
                            </span>
                       </span>
                   </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_PUR_PRICE.PRICE_TYPE"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_PUR_PRICE.PRICE_TYPE')">
                       <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('PRICE_TYPE')<!--価格タイプ-->
                            </span>
                       </span>
                   </th>

                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.MANUFACT_CD"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_ITEM.MANUFACT_CD')">

                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('MANUFACT_CD')<!--メーカーコード-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="manufactName"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','manufactName')">

                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('MANUFACT_NAME')<!--メーカー名-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_ITEM.KATASHIKI"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','M_ITEM.KATASHIKI')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('KATASHIKI')<!--型式-->
                            </span>
                        </span>
                    </th>

                     <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameL"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','itemClassNameL')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_LARGE')<!--大分類-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameM"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','itemClassNameM')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_MEDIUM')<!--中分類-->
                            </span>
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="itemClassNameS"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','itemClassNameS')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('ITEM_CLASS_SMALL')<!--小分類-->
                            </span>
                        </span>
                    </th>

                    <th label="case" class="BoxHeaderCenter FontSmall" id="unitName"
                        onclick="parent.iframeChange('../../src/pricePopup/order','column','unitName')">
                        <span class="column">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('UNIT_NAME')<!--単位名-->
                            </span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            #set ($velocityCount=1)
            #foreach($!pricePopupItem in $!itemList.pricePopupItemList)
            <tr>
                <td class="BoxDetailCenter FontList">#set( $velocityCount = $velocityCount + 1 )$velocityCount</td>
                <!--<td class="BoxDetailCenter">
                    <input type="button" class="miniButton" value="#customSpringMessage('SELECTION')" onclick="javascript:selectRow('#jsEscapeInHTML($!pricePopupItem.buyerCompanyCd)',
                        '#jsEscapeInHTML($!pricePopupItem.buyerSectionCd)','#jsEscapeInHTML($!pricePopupItem.itemClassL)','#jsEscapeInHTML($!pricePopupItem.itemClassNameL)',
                        '#jsEscapeInHTML($!pricePopupItem.itemClassM)','#jsEscapeInHTML($!pricePopupItem.itemClassNameM)','#jsEscapeInHTML($!pricePopupItem.itemClassS)',
                        '#jsEscapeInHTML($!pricePopupItem.itemClassNameS)','#jsEscapeInHTML($!pricePopupItem.priceArticleIdentify.itemCd)','#jsEscapeInHTML($!pricePopupItem.itemName)',
                        '#jsEscapeInHTML($!pricePopupItem.katashiki)','#jsEscapeInHTML($!pricePopupItem.manufactCd)','#jsEscapeInHTML($!pricePopupItem.manufactName)',
                        '#jsEscapeInHTML($!pricePopupItem.priceArticleIdentify.supCd)','#jsEscapeInHTML($!pricePopupItem.supName)','#jsEscapeInHTML($!pricePopupItem.supAbbrName)',
                        '#jsEscapeInHTML($!pricePopupItem.unitCd)','#jsEscapeInHTML($!pricePopupItem.unitName)','#jsEscapeInHTML($!itemPopupItem.currencyCd)',
                        '#jsEscapeInHTML($!pricePopupItem.currencyMark)', '#jsEscapeInHTML($!pricePopupItem.inspectInd)', '#jsEscapeInHTML($!itemPopupItem.priceFlg)',
                        '#jsEscapeInHTML($!pricePopupItem.autoOrderFlg.autoOrderFlg)', '#jsEscapeInHTML($!pricePopupItem.taxInd.taxInd)');">選択
                </td>選択ボタン-->
                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.supCd)</span></td>  <!--取引先コード-->
                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.supAbbrName)</span></td>  <!--取引先名-->
                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.priceArticleIdentify.itemCd)</span></td>  <!--品名コード-->
                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.itemName)</span></td>  <!--品名-->

                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.currencyCd)</span></td>  <!--通貨コード-->
                <td class="BoxDetailRight FontCurrSmall"><span class="FontList">#out($!pricePopupItem.currencyMark)  <!--単価-->
                 #out($pricePopupItem.unitPrice.amount.amountFormat)
                </span>
                </td>  <!--単価-->
                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.priceFlg_PageValue)</span></td>

                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.manufactCd)</span></td>  <!--メーカーコード-->
                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.manufactName)</span></td>  <!--メーカー名-->
                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.katashiki)</span></td>  <!--型式-->

                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.itemClassNameL)</span></td>  <!--大分類-->
                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.itemClassNameM)</span></td>  <!--中分類-->
                <td class="BoxDetailLeft"><span class="FontList">#out($!pricePopupItem.itemClassNameS)</span></td>  <!--小分類-->

                <td class="BoxDetailCenter"><span class="FontList">#out($!pricePopupItem.unitName)</span></td>  <!--単位名-->

            </tr>
            #end
            </tbody>
        </table>
        #parse("./common/src_title2.vm")
        #end
        <br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
    </form>
</body>
</html>

