<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage("SCREEN_NOT_ACCEPT_LIST")</title><!--未検収一覧-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">

<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }

    var isShowDetail = "#jsEscape($isShowDetail)";
    if (isShowDetail == 'true'){
        parent.poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','700');
    }

    var isShowAcceptInput = "#jsEscape($isShowAcceptInput)";
    if (isShowAcceptInput == 'true'){
        top.iframeChange("${flowExecutionUrl}&_eventId=acceptInput");
    }

}

## 詳細
function openDetail(orderSeq,orderNo, delivKeyNo, acceptanceStatus,isShowInsFlg, exclusiveSlipNo, exclusiveLastUpdDate) {
    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate",
                        'orderSeq',orderSeq,
                        'orderNo',orderNo,
                        'delivKeyNo',delivKeyNo,
                        'acceptanceStatus',acceptanceStatus,
                        'isShowInsFlg',isShowInsFlg,
                        'exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate,
                        "HIDDENAREA");
}

## 入力
function edit(orderSeq, delivKeyNo, exclusiveSlipNo, exclusiveLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=openAcpValidate",
                        'orderSeq', orderSeq,
                        'delivKeyNo', delivKeyNo,
                        'exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate,
                        "HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLEFIX', 1, 3+$!PSACP011PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.screenNotAcceptItemList && ($!itemList.screenNotAcceptItemList.size() > 0))
<table id="TABLEFIX" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.</th>
            ## 詳細
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")</th>
            ## 処理
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")</th>
            #foreach($!item in $!PSACP011PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSACP011PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSACP011PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSACP011PageCreaterForList.printBRtag($!item)
                #else
                    $!PSACP011PageCreaterForList.printTHtagClose()
                    $!PSACP011PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                
                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_STATUS")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_PRICE_IND")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.TITLE_NAME")
                    $!PSACP011PageCreaterForList.printHead("TITLE_NAME", $!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUP_CD")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUP_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.PAY_CONDITION_CD")
                    $!PSACP011PageCreaterForList.printHead("PAY_CONDITION_CD", $!item)
                #elseif($!item.getColumnName()=="T_ORDER.PAY_CONDITION_CD")
                    $!PSACP011PageCreaterForList.printHead("PAY_CONDITION_NAME", $!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_CD")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_ID")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_FIRST_DATE")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_CD")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_ID")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.LOAD_SECTION_CD")
                    $!PSACP011PageCreaterForList.printHead("LOAD_SECTION_CD", $!item)
                #elseif($!item.getColumnName()=="T_ORDER.LOAD_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBJECT_CD")
                    $!PSACP011PageCreaterForList.printHead("SUBJECT_CD", $!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBJECT_NAME")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUDGET_NO")
                    $!PSACP011PageCreaterForList.printHead($!item)
                #else
                    $!PSACP011PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSACP011PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
    <tbody id="Tbody">
    #foreach($!screenNotAcceptItem in $!itemList.screenNotAcceptItemList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter">
                ## 詳細
                <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif" 
                            onclick="openDetail('#jsEscapeInHTML($!screenNotAcceptItem.identify.orderSeq)','#jsEscapeInHTML($!screenNotAcceptItem.identify.orderNo)','#jsEscapeInHTML($!screenNotAcceptItem.identify.delivKeyNo)','#jsEscapeInHTML($!screenNotAcceptItem.acceptanceStatus)','#jsEscapeInHTML($!screenNotAcceptItem.isShowInsFlg)',
                                                '#jsEscapeInHTML($!screenNotAcceptItem.identify.exclusiveSlipId.slipNo)','#jsEscapeInHTML($!screenNotAcceptItem.identify.exclusiveSlipId.lastUpdDate)');">
            </td>
            <td class="BoxDetailCenter" nowrap>
                #if($!screenNotAcceptItem.unitPriceInd != "0")
                ## 処理
                <input id="Proc_0" class="SmallButton" type="button" value="#customSpringMessage('ACTION_INPUT')"
                            onclick="edit('#jsEscapeInHTML($!screenNotAcceptItem.identify.orderSeq)','#jsEscapeInHTML($!screenNotAcceptItem.identify.delivKeyNo)',
                                          '#jsEscapeInHTML($!screenNotAcceptItem.identify.exclusiveSlipId.slipNo)','#jsEscapeInHTML($!screenNotAcceptItem.identify.exclusiveSlipId.lastUpdDate)');">
                #end
            </td>
            #foreach($!item in $!PSACP011PageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSACP011PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSACP011PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSACP011PageCreaterForList.printTDtagClose()
                    $!PSACP011PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end
            
                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_STATUS")
                    $!PSACP011PageCreaterForList.printSpecial("s25_codeName",$!item,'SLIP_STATUS','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSACP011PageCreaterForList.printSpecial("s25_codeName",$!item,'REQ_TYPE_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_PRICE_IND")
                    $!PSACP011PageCreaterForList.printSpecial("s25_codeName",$!item,'UNIT_PRICE_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.TITLE_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.DELIV_VOL")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ORDER.UNIT_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ARRIVAL.ARRIV_EXP_DATE")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.SUP_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.SUP_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                #if("$screenNotAcceptItem.subconInd"=="1")
                       <div align="center"> #out($!screenNotAcceptItem.subconInd_PageValue)</div>
                #end
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSACP011PageCreaterForList.printSpecial("s25_codeName",$!item,'QUOT_EDI_IND','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.PAY_CONDITION_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.PAY_CONDITION_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_ID")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_FIRST_DATE")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_ID")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.LOAD_SECTION_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.LOAD_SECTION_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBJECT_CD")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.SUBJECT_NAME")
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUDGET_NO")
                    $!PSACP011PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #else
                    $!PSACP011PageCreaterForList.printDefault($!item)
                #end
           #end
           $!PSACP011PageCreaterForList.printTDtagClose()
        </tr>
    #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>
