<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('ACP_DETAIL')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--
#set($isActiveProfileStock = "#isActiveProfile('stock')")
#parse("./common/common_js.vm")
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body>
    <table class="DetailSheet" width="98%" height="100%" align="left" style="-webkit-box-shadow:0px 0px 0px #FFFFFF">
        <tr>
            <td>
                    <table width="90%" height="100%" aligh="center" class="DetailSheet">
                        <tr>
                		#if("$whereFromFlag" == "history")
                			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
                		#else
            				<td >
            			#end
                            <table id="InnerTabBody_7" class="NoBorder" width="100%" >
                                <tr><td>#customSpringMessage('PSACP050_HEADER_COMMENT')</td></tr>
                                <tr>
                                    <td>
                                        <table class="NoBorder">
                                            <tr>
                                                #set($detailViewStateID='PSACP050')
                                                <td align="right">
                                                    <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=18','PersonalSettingsDetail','500','500');" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="Box1G">
                                                        <tr>
                                                        #foreach($!item in $!PSACP050PageCreaterForDetailList.getItemListForBody())
                                                            #if($isActiveProfileStock == "false"
                                                                &&($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG"
                                                                || $!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD"
                                                               ))## 在庫オプション
                                                            #else
                                                                $!PSACP050PageCreaterForDetailList.printTHtag('class="Box1H FontBoxHeader"')
                                                            #end
                                                            #if($!item.getColumnName()=="T_ACCEPTANCE.DELIV_KEY_NO")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_STATUS")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_CD")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_CD")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.BUDGET_NO")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.FISCAL_MONTH")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_DATE")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.CURRENCY_CD")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_PRICE")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VOL")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_NAME")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_AMOUNT")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_IND")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_RATE")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.TOTAL_AMOUNT")
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG")
                                                              #if($isActiveProfileStock == "true")## 在庫オプション
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                              #end
                                                            #elseif($!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD")
                                                              #if($isActiveProfileStock == "true")## 在庫オプション
                                                                $!PSACP050PageCreaterForDetailList.printHead("STOCK_PLACE", $!item)
                                                              #end
                                                            #else
                                                                $!PSACP050PageCreaterForDetailList.printHead($!item)
                                                            #end
                                                            #if($isActiveProfileStock == "false"
                                                                &&($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG"
                                                                || $!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD"
                                                               ))## 在庫オプション
                                                            #else
                                                                $!PSACP050PageCreaterForDetailList.printTHtagClose()
                                                            #end
                                                        #end
                                                                ##<th class="Box1H FontBoxHeader">#customSpringMessage("ORDER_DATE")<!--注文日--></th>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("RCV_DATE")<!--受入日--></th>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("RCV_AMOUNT")<!--受入数量--></th>
                                                        </tr>
                                                        #foreach($!acceptDetail in $!domain)
                                                            <tr>
                                                            #foreach($!item in $!PSACP050PageCreaterForDetailList.getItemListForBody($velocityCount))
                                                                #if($isActiveProfileStock == "false"
                                                                    &&($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG"
                                                                    || $!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD"
                                                                   ))## 在庫オプション
                                                                #else
                                                                    $!PSACP050PageCreaterForDetailList.printTDtag('class="Box1D FontSmall" nowrap')
                                                                #end
                                                                #if($!item.getColumnName()=="T_ACCEPTANCE.DELIV_KEY_NO")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontSlipNo"')
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_STATUS")
                                                                    #if("$!acceptDetail.acceptApp.accept.acceptResult.acceptStatus.acceptStatus" == "03")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus Red"')
                                                                    #else
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item,"_data_style",'class="FontStatus"')
                                                                    #end
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_CD")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_CD")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.BUDGET_NO")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.FISCAL_MONTH")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_DATE")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.CURRENCY_CD")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_PRICE")
                                                                    $!PSACP050PageCreaterForDetailList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VOL")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_NAME")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_AMOUNT")
                                                                    $!PSACP050PageCreaterForDetailList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_IND")
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_RATE")
                                                                    $!PSACP050PageCreaterForDetailList.printSpecial("s44_list_data_Percentage",$!item,"_data_style",'align="right"')
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TOTAL_AMOUNT")
                                                                    $!PSACP050PageCreaterForDetailList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG")
                                                                  #if($isActiveProfileStock == "true")## 在庫オプション
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                  #end
                                                                #elseif($!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD")
                                                                  #if($isActiveProfileStock == "true")## 在庫オプション
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                  #end
                                                                #else
                                                                    $!PSACP050PageCreaterForDetailList.printDefault($!item)
                                                                #end
                                                                #if($isActiveProfileStock == "false"
                                                                    &&($!item.getColumnName()=="T_ACCEPTANCE.HAVE_IN_STOCK_FLG"
                                                                    || $!item.getColumnName()=="T_ACCEPTANCE.STOCK_PLACE_CD"
                                                                   ))## 在庫オプション
                                                                #else
                                                                    $!PSACP050PageCreaterForDetailList.printTDtagClose()
                                                                #end
                                                            #end
                                                                ##<td class="Box1D FontSmall" nowrap>#out($!acceptDetail.orderDate.dateOfymdFormat)</td>
                                                                <td class="Box1D FontSmall" nowrap><div align="right">#out($!acceptDetail.receiveDate.receiveDate.dateOfymdFormat)</div></td>
                                                                <td class="Box1D FontSmall" nowrap><div align="right">#out($!acceptDetail.receiveVol.receiveVol.volFormat)</div></td>
                                                            </tr>
                                                        #end
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br>
                                    </td>
                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                         <table class="Box1G">
                                                            <tr>
                                                                #if($!approveFlg ==0)
                                                                    <th class="Box1H FontBoxHeader">#customSpringMessage("DELIV_KEY_NO")<!--納品キー番号--></th>
                                                                #else
                                                                    <th class="Box1H FontBoxHeader" rowspan="3">#customSpringMessage("DELIV_KEY_NO")<!--納品キー番号--></th>
                                                                #end
                                                                <th class="Box1H FontBoxHeader">
                                                                    #customSpringMessage('ACCEPT_USER')
                                                                </th><!--検収担当者-->
                                                            </tr>
                                                            #if($!approveFlg ==1)
                                                            <tr>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("ACCEPT_APP")<!--検収承認--></th>
                                                            </tr>
                                                            <tr>
                                                                <th class="Box1H FontBoxHeader">#customSpringMessage("BACK_APP_COMMENTS")<!--差戻しコメント--></th>
                                                            </tr>
                                                            #end
                                                            #foreach($!acceptDetail in $!domain)
															#if($!acceptDetail.acceptApp.accept.receiveManagement.NewSeqNo.acceptance == $!acceptDetail.acceptApp.accept.acceptSeqNo.sequenceNo)
                                                            <tr>
                                                            #if("$!acceptDetail.appManagement.backApp.backAppReason.backReason.comment" != "")
                                                                #if($!approveFlg ==1)
                                                                    <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="3"><!-- 差戻しコメント-->
                                                                #else
                                                                    <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="2"><!-- 差戻しコメント-->
                                                                #end
                                                            #else
                                                                #if($!approveFlg ==1)
                                                                <td id="KeyNo_D1" class="Box1D FontSlipNo" rowspan="2"><!-- ルート名-->
                                                                #else
                                                                    <td id="KeyNo_D1" class="Box1D FontSlipNo"><!-- ルート名-->
                                                                #end
                                                            #end
                                                            #out($!acceptDetail.delivKeyNo.delivKeyNo)</td>
                                                                <td class="Box1D FontSmall" >
                                                                    <table class="NoBorder">
                                                                    <tr>
                                                                        <td class="FontSmall">
                                                                            <table>
                                                                                <td valign="top" rowspan="2"><img class="Mark" src="../../image/mrkHuman.gif"></td><!--申請者-->
                                                                                <td class="AppPersonArea">
                                                                                    <span class="FontSmall">
                                                                                        #out($!acceptDetail.acceptUser.user.section.sectionCd)
                                                                                        #out($!acceptDetail.acceptUser.user.section.sectionName)
                                                                                    </span><br>
                                                                                    <span class="FontSmall">#out($!acceptDetail.acceptUser.user.userID)
                                                                                    </span>
                                                                                    <span class="FontUserName">
                                                                                        <b class="FontUserName">
                                                                                            #out($!acceptDetail.acceptUser.user.userName)
                                                                                        </b>
                                                                                    </span>
                                                                                </td>
                                                                                <td class="AppPersonArea">
                                                                                    <table class="NoBorder">
                                                                                        <tr>
                                                                                            <td><img class="Mark" src="../../image/mrkTel.gif"><!--連絡先--></td>
                                                                                            <td class="FontMini" nowrap>
                                                                                            #customSpringMessage('EXTENSION_NO')：<span class="FontSmallAnk">#out($!acceptDetail.acceptUser.user.extNo.extensionNo)</span>&nbsp;&nbsp;<!--内線番号-->
                                                                                            #customSpringMessage('EXTERNAL_NO')：<span class="FontSmallAnk">#out($!acceptDetail.acceptUser.user.externalNo.externalNo)</span><!--外線番号-->
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img class="Mark" src="../../image/mrkMail.gif" ></td><!--メールアドレス-->
                                                                                            <td class="FontMiniAnkBold" nowrap>
                                                                                            <span class="FontMiniAnk">
                                                                                                <A HREF='mailto:#out($!acceptDetail.acceptUser.user.userName)<#out($!acceptDetail.acceptUser.user.mailAddr.mail)>'>
                                                                                                    #out($!acceptDetail.acceptUser.user.mailAddr.mail)</A>
                                                                                            </span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            #if($!approveFlg ==1)
                                                            <tr>
                                                                <td class="Box1D FontSmall" >
                                                                    <table class="NoBorder">
                                                                        <tr>
                                                                            <td nowrap>
                                                                                <span class="FontSmall">#customSpringMessage("APP_ROUTE_NAME")<!--承認ルート名-->：</span>
                                                                                <span class="FontUserName">#out($!acceptDetail.acceptApp.accept.acceptAppRoute.approute.appRouteName)</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    #if($!acceptDetail.appManagement.appList.appItemList.size() > 0)
                                                                    <table class="AppSheet" style="-webkit-box-shadow:2px 2px 0px #000000;white-space: nowrap;">
                                                                        #foreach($!appItem in $!acceptDetail.appManagement.appList.appItemList)
                                                                        #if("$!appItem.appItemStatus.appItemStatus" != "")
                                                                        <tr>
                                                                            <td class="AppNoArea FontNumber">#out($!appItem.appSeq)</td>
                                                                            #if($!appItem.subAppFlg == "1")
                                                                            <td class="AppPersonArea FontSmall" nowrap>
                                                                                #out($!appItem.subAppUserName.section.sectionCd) #out($!appItem.subAppUserName.section.sectionName)
                                                                                <br>
                                                                                #out($!appItem.subAppUserName.userID) &nbsp;<span class="FontUserName">#out($!appItem.subAppUserName.userName)</span>
                                                                                <span class="FontMini">&nbsp;#out($!appItem.subAppUserName.official.officialName)</span>
                                                                                </td>
                                                                            <td class="AppPersonArea">
                                                                                <table class="NoBorder">
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                                                        <td class="FontMini" nowrap>#customSpringMessage("EXTENSION_NO")<!--内線番号-->:<span class="FontSmallAnk">#out($!appItem.subAppUserName.extNo.extensionNo)</span>&nbsp;&nbsp;
                                                                                            #customSpringMessage("EXTERNAL_NO")<!--外線番号-->:<span class="FontSmallAnk">#out($!appItem.subAppUserName.externalNo.externalNo)</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkMail.gif"></td><!--メールアドレス-->
                                                                                        <td nowrap>
                                                                                            <span class="FontMiniAnk"><a href='mailto: #out($!appItem.subAppUserName.userName)<#out($!appItem.subAppUserName.mailAddr.mail)>'>#out($!appItem.subAppUserName.mailAddr.mail)</a></span>
                                                                                        </td>
                                                                                        <td align="right" valign="bottom">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            #else
                                                                            <td class="AppPersonArea FontSmall" nowrap>
                                                                                #out($!appItem.appUserName.section.sectionCd) #out($!appItem.appUserName.section.sectionName)
                                                                                <br>
                                                                                #out($!appItem.appUserName.userID) &nbsp;<span class="FontUserName">#out($!appItem.appUserName.userName)</span>
                                                                                <span class="FontMini">&nbsp;#out($!appItem.appUserName.official.officialName)</span>
                                                                            </td>
                                                                            <td class="AppPersonArea">
                                                                                <table class="NoBorder">
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkTel.gif"></td><!--連絡先-->
                                                                                        <td class="FontMini" nowrap>#customSpringMessage("EXTENSION_NO")<!--内線番号-->:<span class="FontSmallAnk">#out($!appItem.appUserName.extNo.extensionNo)</span>&nbsp;&nbsp;
                                                                                            #customSpringMessage("EXTERNAL_NO")<!--外線番号-->:<span class="FontSmallAnk">#out($!appItem.appUserName.externalNo.externalNo)</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><img src="../../image/mrkMail.gif"></td><!--メールアドレス-->
                                                                                        <td nowrap>
                                                                                            <span class="FontMiniAnk"><a href='mailto: #out($!appItem.appUserName.userName)<#out($!appItem.appUserName.mailAddr.mail)>'>#out($!appItem.appUserName.mailAddr.mail)</a></span>
                                                                                        </td>
                                                                                        <td align="right" valign="bottom">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            #end
                                                                            <td class="AppStampArea">
                                                                                #if("$!appItem.appItemStatus.appItemStatus" == "4")
                                                                                    <span class="FontBigBold Red">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span>
                                                                                #elseif("$!appItem.appItemStatus.appItemStatus" == "2" || "$!appItem.appItemStatus.appItemStatus" == "3")
                                                                                    <span class="FontBigBold DarkBlue">#out($!appItem.appItemStatus.appItemStatus_PageValue)</span>
                                                                                #end
                                                                                #if("$!appItem.appItemStatus.appItemStatus" != "0")
                                                                                    <span class="FontMiniAnk"><br><b>#out($!appItem.appDate.appDate.dateOfymdDispYMD)</b></span>
                                                                                #end
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                             #if($velocityCount+1 != $!acceptDetail.appManagement.appList.appItemList.size())
                                                                              <td colspan="4" class="AppBorder">&nbsp;</td>
                                                                             #end
                                                                        </tr>
                                                                        #end
                                                                        #end
                                                                    #else
                                                                    	<table class="AppSheet" style="display:none">
                                                                    #end
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            #end
                                                            #if("$!acceptDetail.appManagement.backApp.backAppReason.backReason.comment" != "")
                                                            <tr>
                                                                #if($!acceptDetail.appManagement.backApp.backAppReason.backReason.comment !="")
                                                                <td class="Box1D FontSmall">#out($!acceptDetail.appManagement.backApp.backAppReason.backReason.comment)</td><!--差戻しコメント-->
                                                                #else
                                                                <td style="border:1px solid #ffffff">#out($!acceptDetail.appManagement.backApp.backAppReason.backReason.comment)</td><!--差戻しコメント-->
                                                                #end
                                                            </tr>
                                                            #end
															#end
                                                            #end
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr><td>#customSpringMessage('PSACP050_FOOTER_COMMENT')</td></tr>
                                        		#if("$whereFromFlag" == "history")
                                        			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
                                        		#end
                                            </table>
                                </td>
                            </tr>
                        </table>
            </td>
        </tr>
    </table>
</body>

</html>
