<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage("INSPECTION_SETTLED_LIST")</title>## 検収済一覧
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">

<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
    var isShowDetail = "#jsEscape($isShowDetail)";
    if (isShowDetail == 'true'){
        parent.poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','700');
    }
    var isAcceptModify = "#jsEscape($isAcceptModify)";
    if (isAcceptModify == 'true'){
      top.iframeChange("${flowExecutionUrl}&_eventId=acceptModify");
    }
    var isAcceptCancel = "#jsEscape($isAcceptCancel)";
    if (isAcceptCancel == 'true'){
      top.iframeChange("${flowExecutionUrl}&_eventId=acceptCancel");
    }

}

## 詳細
function openDetail(delivKeyNo,orderSeq,orderNo,isShowInsFlg, exclusiveSlipNo, exclusiveLastUpdDate) {
    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate",
                        'delivKeyNo',delivKeyNo,
                        'orderSeq',orderSeq,
                        'orderNo',orderNo,
                        'isShowInsFlg',isShowInsFlg,
                        'exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate,
                        "HIDDENAREA");
}

## 変更
function change(delivKeyNo,orderSeq, exclusiveSlipNo, exclusiveLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=acceptModifyValidate",
                        'delivKeyNo',delivKeyNo,
                        'orderSeq',orderSeq,
                        'exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate,
                        "HIDDENAREA");
}

## 取消
function cancel(delivKeyNo,orderSeq, exclusiveSlipNo, exclusiveLastUpdDate) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=acceptCancelValidate",
                        'delivKeyNo',delivKeyNo,
                        'orderSeq',orderSeq,
                        'exclusiveSlipId.slipNo', exclusiveSlipNo,
                        'exclusiveSlipId.lastUpdDate', exclusiveLastUpdDate,
                        "HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLEFIX', 1, 3+$!PSACP041PageCreaterForList.printLockColumn());">

#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.acceptancedListItemList && ($!itemList.acceptancedListItemList.size() > 0))
<table id="TABLEFIX" class="ListArea" width="100%">
    <thead>
        <tr id="Header">
            <th class="BoxHeaderCenter FontSmall">No.</th>
            ## 詳細
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")</th>
            ## 処理
            <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")</th>
            #foreach($!item in $!PSACP041PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSACP041PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSACP041PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSACP041PageCreaterForList.printBRtag($!item)
                #else
                    $!PSACP041PageCreaterForList.printTHtagClose()
                    $!PSACP041PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end

                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.CORRECT_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VERSION")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_DATE")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.CURRENCY_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.DELIV_VOL")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VOL")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_PRICE")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_AMOUNT")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_IND")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_RATE")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TOTAL_AMOUNT")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_SECTION_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_USER_ID")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_USER_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUP_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUP_ABBR_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_ID")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_FIRST_DATE")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_CD")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_ID")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_CD")
                    $!PSACP041PageCreaterForList.printHead("LOAD_SECTION_CD", $!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_CD")
                    $!PSACP041PageCreaterForList.printHead("SUBJECT_CD", $!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_NAME")
                    $!PSACP041PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.BUDGET_NO")
                    $!PSACP041PageCreaterForList.printHead($!item)
                ## 2015/06/16 ADD RIKI_SUGIYAMA START
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.BUDGET_NO")
                    $!PSACP041PageCreaterForList.printHead($!item)
                ## 2015/06/16 ADD RIKI_SUGIYAMA END
                #else
                    $!PSACP041PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSACP041PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
    <tbody id="Tbody">
        #foreach($!acceptancedListItem in $!itemList.acceptancedListItemList)
            <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
                <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
                <td class="BoxDetailCenter">
                    ## 詳細
                    <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif"
                                onclick="openDetail('#jsEscapeInHTML($!acceptancedListItem.Identify.delivKeyNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.orderSeq)','#jsEscapeInHTML($!acceptancedListItem.Identify.orderNo)','#jsEscapeInHTML($!acceptancedListItem.isShowInsFlg)',
                                                    '#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.slipNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.lastUpdDate)');">
                </td>
                <td class="BoxDetailCenter">## 処理
                #if($LoginUser.hasAuth(${AuthNoConstant.getValue("ACCEPT_UPDATE_GRANT")}))
                    #if($!acceptancedListItem.delivStatus == "4104" && $!acceptancedListItem.reqTypeInd != "9")
                    ## 変更
                    <input id="Proc_0" class="SmallButton" type="button" value="#customSpringMessage('CHANGE_BUTTON')"
                                onclick="change('#jsEscapeInHTML($!acceptancedListItem.Identify.delivKeyNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.orderSeq)',
                                                '#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.slipNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.lastUpdDate)');">
                    ## 取消
                    <input id="Proc_0" class="SmallButton" type="button" value="#customSpringMessage('ACTION_CANCEL')"
                                onclick="cancel('#jsEscapeInHTML($!acceptancedListItem.Identify.delivKeyNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.orderSeq)',
                                                '#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.slipNo)','#jsEscapeInHTML($!acceptancedListItem.Identify.exclusiveSlipId.lastUpdDate)');">
                    #end
                #end
                </td>
                #foreach($!item in $!PSACP041PageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSACP041PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSACP041PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSACP041PageCreaterForList.printTDtagClose()
                    $!PSACP041PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end

                #if($!item.getColumnName()=="T_RECEIVE_MNG.DELIV_KEY_NO")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.CORRECT_CD")
                    $!PSACP041PageCreaterForList.printSpecial("s25_codeNameRed",$!item,'CORRECT_CD','','_redValue','3','_boldStyle','"Red"',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VERSION")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.FISCAL_MONTH")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_TYPE_IND")
                    $!PSACP041PageCreaterForList.printSpecial("s25_codeName",$!item,'REQ_TYPE_IND','',"_data_style",'class="FontStatus" align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.ITEM_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_DATE")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.CURRENCY_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_IND")
                    $!PSACP041PageCreaterForList.printSpecial("s25_codeName",$!item,'TAX_CD','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.DELIV_VOL")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_VOL")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.UNIT_PRICE")
                    $!PSACP041PageCreaterForList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_AMOUNT")
                    $!PSACP041PageCreaterForList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TAX_RATE")
                    $!PSACP041PageCreaterForList.printSpecial("s44_list_data_Percentage",$!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.TOTAL_AMOUNT")
                    $!PSACP041PageCreaterForList.printSpecial("s27_list_data_currency",$!item,"_data_style",'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_SECTION_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_USER_ID")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.ACCEPT_USER_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUP_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUP_ABBR_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.SUBCON_IND")
                #if("$acceptancedListItem.subconInd"=="1")
                       <div> #out($!acceptancedListItem.subconInd_PageValue)</div>
                #end
                #elseif($!item.getColumnName()=="T_ORDER.EDI_IND")
                    $!PSACP041PageCreaterForList.printSpecial("s25_codeName",$!item,'QUOT_EDI_IND','')
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_ID")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.BUYER_USER_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.ORDER_FIRST_DATE")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_ID")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ORDER.REQ_USER_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.LOAD_SECTION_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_CD")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUBJECT_NAME")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.BUDGET_NO")
                    $!PSACP041PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                ## 2015/06/16 ADD RIKI_SUGIYAMA START
                #elseif($!item.getColumnName()=="T_ACCEPTANCE.SUP_CONFIRM_FLG")
                    #if("$acceptancedListItem.ediInd"=="1")
                    $!PSACP041PageCreaterForList.printDefault($!item)
                    #end
                ## 2015/06/16 ADD RIKI_SUGIYAMA END
                #else
                    $!PSACP041PageCreaterForList.printDefault($!item)
                #end
           #end
           $!PSACP041PageCreaterForList.printTDtagClose()
            </tr>
        #end
    </tbody>
</table>
#end
<br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</body>
</html>
