<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage("M_CUTOFF_DATE")</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--

#set($searchCondition=$cutoffdateSearchCondition)

#parse("./common/common_js.vm")
function onLoad() {
    dataLoadHasPage();
    TableSort.init();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00852-000 2013/05/27 ADD SBO_CHENCHENG -END- +++++
        alert(alertMessage);
        if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
        var isShowUpdate = "#jsEscape($isShowUpdate)";
        if (isShowUpdate == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=update","pageid","cutoffdateUpdate");
        }
        var isShowCopy = "#jsEscape($isShowCopy)";
        if (isShowCopy == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=copy","pageid","cutoffdateCopy");
        }
}

function openDetail(companyCd,lastUpdDate,businessYear) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeUpdate", "companyCd",companyCd,"lastUpdDate",lastUpdDate,"businessYear.year.year",businessYear,"HIDDENAREA");
}

function openDetailCopy(companyCd,lastUpdDate,businessYear) {
    buttonDisable();
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeCopy","companyCd",companyCd,"lastUpdDate",lastUpdDate,"businessYear.year.year",businessYear,"HIDDENAREA");
}
//-->
</script>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',1,4);">
    <thead>
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
#if($!itemList.cutoffdateItemList.size()>0)
                        <table id="TABLE" class="ListArea" width="100%">
                            <thead>
                            <tr id="Header">
                                <td class="DTL_OUTHEAD" align="center" valign="middle">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span>
                                        <span class="FontMiddleAnkBold DarkBlue">No.&nbsp;</span><br>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" align="center" valign="middle">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span>
                                        <span class="FontBigBold DarkBlue">#customSpringMessage("ACTION")&nbsp;</span><br>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" align="center">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span> 
                                        <span class="FontBigBold DarkBlue">#customSpringMessage("FISCAL_YEAR")&nbsp;</span><br>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" align="center">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span> 
                                        <span class="FontBigBold DarkBlue">&nbsp;</span><br>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                #foreach($!weeks in $!monthArray)
                                    <td class="DTL_OUTHEAD" align="center">
                                        <div class="DTL_INHEAD">
                                             <span class="FontMonth">
                                            #if($weeks.monthName == '4')
                                                #customSpringMessage('APRIL')
                                            #elseif($weeks.monthName == '5')
                                                #customSpringMessage('MAY')
                                            #elseif($weeks.monthName == '6')
                                                #customSpringMessage('JUNE')
                                            #elseif($weeks.monthName == '7')
                                                #customSpringMessage('JULY')
                                            #elseif($weeks.monthName == '8')
                                                #customSpringMessage('AUGUST')
                                            #elseif($weeks.monthName == '9')
                                                #customSpringMessage('SEPTEMBER')
                                            #elseif($weeks.monthName == '10')
                                                #customSpringMessage('OCTOBER')
                                            #elseif($weeks.monthName == '11')
                                                #customSpringMessage('NOVEMBER')
                                            #elseif($weeks.monthName == '12')
                                                #customSpringMessage('DECEMBER')
                                            #elseif($weeks.monthName == '1')
                                                #customSpringMessage('JANUARY')
                                            #elseif($weeks.monthName == '2')
                                                #customSpringMessage('FEBRUARY')
                                            #elseif($weeks.monthName == '3')
                                                #customSpringMessage('MARCH')
                                            #end
                                            </span><br><!--月 -->
                                        </div>
                                    </td>
                                #end
                                
                            </tr>
                            </thead>
                            <tbody>
                            #set($index = 1)
                            #foreach($!cutoffdateItem in $!itemList.cutoffdateItemList)
                            <tr>
                                <td class="DTL_OUTBODY" align="center" rowspan="4">
                                    <div class="DTL_INBODY" nowrap>
                                        <span class="FontMiddleAnkBold Black">$index</span>
                                    </div>
                                    #set($index = $index +1)
                                </td>
                                <td class="DTL_OUTBODY" nowrap rowspan="4">
                                    <div class="DTL_INBODY">
                                        <input type="button" class="SmallButton" value="#customSpringMessage("ACTION_EDIT")" onclick="openDetail('#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.companyCd)','#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.lastUpdDate)','#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.businessYear.year.year)');">
                                        <br><input type="button" class="SmallButton" value="#customSpringMessage("ACTION_COPY")" onclick="openDetailCopy('#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.companyCd)','#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.lastUpdDate)','#jsEscapeInHTML($!cutoffdateItem.cutoffdateIdentify.businessYear.year.year)');">
                                    </div>
                                </td>
                                <td class="DTL_OUTBODY" align="center" rowspan="4">
                                    <div class="DTL_INBODY" nowrap>
                                        <span class="FontMiddleAnkBold Black">#out($!cutoffdateItem.cutoffdateIdentify.businessYear.year.year)</span><span class="FontMiddleAnkBold Black">#customSpringMessage('FISCAL_YEAR')&nbsp;</span>
                                    </div>
                                </td>
                                <td class="DTL_OUTHEAD" align="center">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span> 
                                        <span class="FontMiddleAnkBold DarkBlue">#customSpringMessage("CUTOFF_DATE")&nbsp;</span>
                                        <span class="FontMiniAnkBold">&nbsp;</span>
                                    </div>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW START +++++
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW END +++++
                                #foreach($!cutoffdateDetail in $!cutoffdateItem.cutoffdatedetailList.cutoffDetailList)
                                    <td class="DTL_OUTBODY">
                                        <div class="DTL_INBODY">
                                            <span class="FontMiddle Black">#out($cutoffdateDetail.cutoffdateDate.yearDate.yearDate)</span>
                                        </div>
                                    </td>
                                #end
                            </tr>

                            <tr>
                                <td class="DTL_OUTHEAD" align="center" rowspan="3">
                                    <div class="DTL_INHEAD">
                                        <span class="FontMonth">&nbsp;</span> 
                                        <span class="FontMiddleAnkBold DarkBlue"><br><br>#customSpringMessage("VOUCHER_CUTOFF_DATE_HOUR")&nbsp;<br><br></span>
                                        <span class="FontMiniAnkBold">&nbsp;</span>
                                    </div>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW START +++++
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW END +++++
                                 #foreach($!cutoffdateDetail in $!cutoffdateItem.cutoffdatedetailList.cutoffDetailList)
                                    <td class="DTL_OUTBODY" nowrap>
                                        <div class="DTL_INBODY">
                                            <span class="FontMiddle Black">#out($cutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate)</span>
                                            &nbsp;
                                            #if($!cutoffdateDetail.cutoffdateCutoffInd.cutoffInd == "1")
                                            <img name="mrkCheck" src="../../image/mrkCheck.gif">
                                            #end&nbsp;
                                        </div>
                                    </td>
                                #end
                            </tr>
                            <tr>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW START +++++
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW END +++++
                                #foreach($!cutoffdateDetail in $!cutoffdateItem.cutoffdatedetailList.cutoffDetailList)
                                    <td class="DTL_OUTBODY" nowrap>
                                        <div class="DTL_INBODY">
                                            <span class="FontMiddle Black">#out($cutoffdateDetail.cutoffdateAccDate.accHour.hour.hour)</span>
                                        </div>
                                    </td>
                                #end
                            </tr>
                            <tr>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW START +++++
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                ## +++++ ＩＴ３-00126-000　2013/06/17 ADD SBO_KANGJW END +++++
                                #foreach($!cutoffdateDetail in $!cutoffdateItem.cutoffdatedetailList.cutoffDetailList)
                                    <td class="DTL_OUTBODY" nowrap>
                                    <div class="DTL_INBODY">
                                        <span class="FontMiddle Black">#out($cutoffdateDetail.cutoffdateAccDate.accWeekDay.weekDay.weekDay)</span>
                                    </div>
                                </td>
                                #end
                            </tr>
                            #end
                            </tbody>
                             #end
                        </table>

                        <table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
                       
## 強化-01835-000 2013.06.29 DEL SBO_WANGXM
##</form>

</body>

</html>