<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('UNIFIED_SUPPLIER_SEARCH')</title><!--統一取引先検索-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../src/vendorPopup');
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }
}
//-->
</script>

</head>
<body id="BODY" class="Body" topmargin="10" leftmargin="10" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
#if($!errorMessage && $!errorMessage!="")
<div class="error">
    $!errorMessage
</div>
#end
    <form name="Body">
        <!--#customFormHiddenInput("searchCondition.page.totalRows" "$searchCondition.searchCondition.page.totalRows")-->
        #if($!itemList.vendorPopupItemList.size() > 0)
            #parse("./common/src_title.vm")
            <table width="100%" bgcolor="#EAEAEA">
                <tr>
                    <td align="left"><span class="FontMiddleBold">#customSpringMessage('CANDIDATE')<!--候補--></span></td>
                </tr>
            </table>
            <table id="TABLE" class="ListArea" width="100%">
                <thead>
                    <tr id="Header">
                        <th class="BoxHeaderCenter FontSmall">No.<!--No.--></th>
                        <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')<!--処理--></th>
                        <th label="case" class="BoxHeaderCenter FontSmall" id="M_VENDOR.VENDOR_CD" 
                            onclick="parent.iframeChange('../../src/vendorPopup/order','column','M_VENDOR.VENDOR_CD')">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('VENDOR_CD')<!--統一取引先コード-->
                            </span>
                        </th>
                        <th label="case" class="BoxHeaderCenter FontSmall" id="M_VENDOR.VENDOR_NAME" 
                            onclick="parent.iframeChange('../../src/vendorPopup/order','column','M_VENDOR.VENDOR_NAME')">
                            <span class="BoxHeaderSortItem">
                                #customSpringMessage('VENDOR_NAME')<!--統一取引先名-->
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    #set( $index = 0 )
                    #foreach($!vendorItem in $!itemList.vendorPopupItemList)
                    <tr>
                        <td class="BoxDetailCenter FontList"><span class="FontList">#set( $index = $index + 1 )$index</span></td>
                        <td class="BoxDetailCenter">
                            <input type="button" class="miniButton" value="#customSpringMessage('SELECTION')" onclick="javascript:parent.selectRow('#jsEscapeInHTML($!vendorItem.vendorIdentify.vendorCd)','#jsEscapeInHTML($!vendorItem.vendorName)');"><!--選択-->
                        </td>
                        <td class="BoxDetailCenter"><span class="FontList">#out($!vendorItem.vendorIdentify.vendorCd)</span></td>
                        <td class="BoxDetailLeft"><span class="FontList">#out($!vendorItem.vendorName)</span></td>
                    </tr>
                    #end
                </tbody>
           </table>
            #parse("./common/src_title2.vm")
        #end
        <br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')<!--問い合わせ中...--></span></td></tr></table>
    </form>
</body>
</html>
