<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.prc.journal.PriceJournalMapper">

    <resultMap type="fw.domain.slip.price.register.purprice.PriceDetail" id="PriceDetail_Map">
        <result column="LAST_UPD_DATE" property="buyerPrice.managementInfo.registerDate.reqDate.dateOfymd"/>
        <result column="TERM_FLG" property="buyerPrice.termFlg"/>
        <result column="ITEM_CD" property="buyerPrice.identify.item.itemCd"/>
        <result column="ITEM_NAME" property="buyerPrice.identify.item.itemName"/>
        <result column="ITEM_CLASS_L" property="buyerPrice.identify.item.itemClass.itemClassL"/>
        <result column="ITEM_CLASS_L_NAME" property="buyerPrice.identify.item.itemClass.itemClassNameL"/>
        <result column="ITEM_CLASS_M" property="buyerPrice.identify.item.itemClass.itemClassM"/>
        <result column="ITEM_CLASS_M_NAME" property="buyerPrice.identify.item.itemClass.itemClassNameM"/>
        <result column="ITEM_CLASS_S" property="buyerPrice.identify.item.itemClass.itemClassS"/>
        <result column="ITEM_CLASS_S_NAME" property="buyerPrice.identify.item.itemClass.itemClassNameS"/>
        <result column="CATALOG_IND" property="buyerPrice.managementInfo.catalogInd"/>
        <result column="SUP_CD" property="buyerPrice.identify.supplierFrom.supCd"/>
        <result column="SUP_NAME" property="buyerPrice.identify.supplierFrom.supplierName.supplierAbbrName"/>
        <result column="VALID_START_DATE" property="buyerPrice.identify.validityPeriod.period.startDate.dateOfymd"/>
        <result column="VALID_END_DATE" property="buyerPrice.identify.validityPeriod.period.endDate.dateOfymd"/>
        <result column="UPDATE_NO" property="buyerPrice.managementInfo.historyNo.historyNo"/>
        <result column="MNG_IND" property="buyerPrice.managementInfo.priceManagementInd.priceManagementInd"/>
        <result column="AUTO_ORDER_FLG" property="buyerPrice.orderDeliv.autoOrderFlg.autoOrderFlg"/>
        <result column="BUYER_SECTION_CD" property="buyerPrice.identify.buyerCompany.buyerSectionCd"/>
        <result column="BUYER_USER_SECTION_CD" property="buyerPrice.managementInfo.buyerUserSectionCd"/>
        <result column="BUYER_USER_ID" property="buyerPrice.managementInfo.buyerUser.buyerUserId"/>
        <result column="PRICE_MNG_USER_ID" property="buyerPrice.managementInfo.priceMngUser.priceMngUserId"/>
        <result column="PIECE_FLG" property="buyerPrice.orderDeliv.autoTerminateFlg.autoTerminateFlg"/>
        <result column="ORDER_LT" property="buyerPrice.orderDeliv.standardDelivDayCount.standardDelivDayCount.dayCount"/>
        <result column="KATASHIKI" property="buyerPrice.identify.item.katashiki"/>
        <result column="MANUFACT_CD" property="buyerPrice.identify.item.manufact.manufactCd"/>
        <result column="MANUFACT_NAME" property="buyerPrice.identify.item.manufact.manufactName"/>
        <result column="ORDER_UNIT" property="buyerPrice.orderDeliv.custUnitVol.custUnitVol.vol"/>
        <result column="MIN_ORDER_VOL" property="buyerPrice.orderDeliv.minCustVol.minCustVol.vol"/>
        <result column="PRICE_LIST_NO" property="buyerPrice.supple.priceNo"/>
        <result column="NEXT_UPD_YM" property="buyerPrice.revision.lastUpdYm.lastUpdYm.dateOfym"/>
        <result column="UPDATE_CYCLE" property="buyerPrice.revision.updateCycle.updateCycle"/>
        <result column="QUOT_REQ_NO" property="buyerPrice.managementInfo.quotReqNo.quotReqNo"/>
        <result column="INSPECT_IND" property="buyerPrice.orderDeliv.inspectInd.inspectInd"/>
        <result column="TAX_IND" property="buyerPrice.supItem.amountTypePrice.taxCalculationInd.taxInd.taxInd"/>
        <result column="CONSUMPT_IND" property="buyerPrice.supItem.amountTypePrice.taxCalculationInd.consumptInd.consumptInd"/>
        <result column="GREEN_FLG" property="buyerPrice.supple.green.greenPur"/>
        <result column="GREEN_LABEL" property="buyerPrice.supple.green.priceLabel"/>
        <result column="GREEN_FILE_NAME" property="buyerPrice.supple.green.greenItemAttach.fileName"/>
        <result column="GREEN_FILE" property="buyerPrice.supple.green.greenItemAttach.data"/>
        <result column="CATALOG_FLG" property="buyerPrice.supItem.kind.materialType.materialType"/>
        <result column="CONNECT_TYPE" property="buyerPrice.orderDeliv.connectType.connectTypeInd"/>
        <result column="PUR_STOP_FROM" property="buyerPrice.managementInfo.purStopFlag.purStopPeriod.purStopPeriodStart.dateOfymd"/>
        <result column="PUR_STOP_TO" property="buyerPrice.managementInfo.purStopFlag.purStopPeriod.purStopPeriodEnd.dateOfymd"/>
        <result column="PRICE_REMARKS" property="buyerPrice.supple.buyerPriceRemarks"/>
        <result column="REF_URL" property="buyerPrice.supple.refUrl"/>
        <result column="IMG_FILE_NAME" property="buyerPrice.supple.imgFile.fileName"/>
        <result column="IMG_FILE" property="buyerPrice.supple.imgFile.data"/>
        <result column="CURRENCY_CD" property="buyerPrice.identify.supplierFrom.currency.currencyCd"/>
        <result column="APP_PRICE_REG_ROUTE" property="buyerPrice.managementInfo.approute.appRouteNo"/>
        <result column="APP_PRICE_REG_ROUTE_NAME" property="buyerPrice.managementInfo.approute.appRouteName"/>
        <result column="BUYER_COMPANY_CD" property="buyerPrice.identify.buyerCompany.buyerCompanyCd"/>
        <result column="PUR_PRICE_JNL_SEQ" property="buyerPrice.purPriceJnlSeq"/>
        <result column="BUY_PRICE" property="buyerPrice.buyPrice.amount"/>
        <result column="UNIT_CD" property="buyerPrice.identify.item.unit.unitCd"/>
        <result column="UNIT_NAME" property="buyerPrice.identify.item.unit.unitName"/>
    </resultMap>

    <select id="findByPurPriceHistSeq"  resultMap="PriceDetail_Map">
        SELECT
            M_PUR_PRICE_JNL.LAST_UPD_DATE,
            M_PUR_PRICE_JNL.TERM_FLG,
            M_PUR_PRICE_JNL.ITEM_CD,
            M_PUR_PRICE_JNL.ITEM_NAME,
            M_PUR_PRICE_JNL.ITEM_CLASS_L,
            M_PUR_PRICE_JNL.ITEM_CLASS_L_NAME,
            M_PUR_PRICE_JNL.ITEM_CLASS_M,
            M_PUR_PRICE_JNL.ITEM_CLASS_M_NAME,
            M_PUR_PRICE_JNL.ITEM_CLASS_S,
            M_PUR_PRICE_JNL.ITEM_CLASS_S_NAME,
            M_PUR_PRICE_JNL.CATALOG_IND,
            M_PUR_PRICE_JNL.SUP_CD,
            M_PUR_PRICE_JNL.SUP_NAME,
            M_PUR_PRICE_JNL.VALID_START_DATE,
            M_PUR_PRICE_JNL.VALID_END_DATE,
            M_PUR_PRICE_JNL.UPDATE_NO,
            M_PUR_PRICE_JNL.MNG_IND,
            M_PUR_PRICE_JNL.AUTO_ORDER_FLG,
            M_PUR_PRICE_JNL.BUYER_SECTION_CD,
            M_PUR_PRICE_JNL.BUYER_USER_SECTION_CD,
            M_PUR_PRICE_JNL.BUYER_USER_ID,
            M_PUR_PRICE_JNL.PRICE_MNG_USER_ID,
            M_PUR_PRICE_JNL.PIECE_FLG,
            M_PUR_PRICE_JNL.ORDER_LT,
            M_PUR_PRICE_JNL.KATASHIKI,
            M_PUR_PRICE_JNL.MANUFACT_CD,
            M_PUR_PRICE_JNL.MANUFACT_NAME,
            M_PUR_PRICE_JNL.ORDER_UNIT,
            M_PUR_PRICE_JNL.MIN_ORDER_VOL,
            M_PUR_PRICE_JNL.PRICE_LIST_NO,
            M_PUR_PRICE_JNL.NEXT_UPD_YM,
            M_PUR_PRICE_JNL.UPDATE_CYCLE,
            M_PUR_PRICE_JNL.QUOT_REQ_NO,
            M_PUR_PRICE_JNL.INSPECT_IND,
            M_PUR_PRICE_JNL.TAX_IND,
            M_PUR_PRICE_JNL.CONSUMPT_IND,
            M_PUR_PRICE_JNL.GREEN_FLG,
            M_PUR_PRICE_JNL.GREEN_LABEL,
            M_PUR_PRICE_JNL.GREEN_FILE_NAME,
            M_PUR_PRICE_JNL.GREEN_FILE,
            M_PUR_PRICE_JNL.CATALOG_FLG,
            M_PUR_PRICE_JNL.CONNECT_TYPE,
            M_PUR_PRICE_JNL.PUR_STOP_FROM,
            M_PUR_PRICE_JNL.PUR_STOP_TO,
            M_PUR_PRICE_JNL.PRICE_REMARKS,
            M_PUR_PRICE_JNL.REF_URL,
            M_PUR_PRICE_JNL.IMG_FILE_NAME,
            M_PUR_PRICE_JNL.IMG_FILE,
            M_PUR_PRICE_JNL.CURRENCY_CD,
            M_PUR_PRICE_JNL.PUR_PRICE_JNL_SEQ,
            M_PUR_PRICE_JNL.APP_PRICE_REG_ROUTE,
            M_PUR_PRICE_JNL.APP_PRICE_REG_ROUTE_NAME,
            M_PUR_PRICE_JNL.BUYER_COMPANY_CD,
            M_PUR_PRICE_JNL.BUY_PRICE,
            M_PUR_PRICE_JNL.UNIT_CD,
            M_PUR_PRICE_JNL.UNIT_NAME
        FROM
            M_PUR_PRICE_JNL
        WHERE
            M_PUR_PRICE_JNL.PUR_PRICE_HIST_SEQ = #{purPriceHistSeq}
    </select>


    <resultMap type="fw.domain.slip.price.register.purprice.priceregisterapp.PriceItem" id="PriceItem_Map">
        <result column="LOWER_VOL" property="minAmount.vol"/>
        <result column="BUY_PRICE" property="price.amount"/>
    </resultMap>

    <select id="detailListOfpurPriceHistSeq" resultMap="PriceItem_Map">
        SELECT
            M_PUR_PRICE_DTL_JNL.LOWER_VOL,
            M_PUR_PRICE_DTL_JNL.BUY_PRICE
        FROM
            M_PUR_PRICE_DTL_JNL
        WHERE
            M_PUR_PRICE_DTL_JNL.PUR_PRICE_HIST_SEQ = #{purPriceHistSeq}
        ORDER BY
            M_PUR_PRICE_DTL_JNL.LOWER_VOL ASC
    </select>


    <resultMap type="fw.domain.slip.price.register.purprice.Requester" id="Requester_Map">
        <result column="REQ_COMPANY_CD" property="reqCompanyCd"/>
        <result column="REQ_SECTION_PLACE_CD" property="reqSectionPlaceCd"/>
    </resultMap>

    <select id="authListOfPriceHistSeq" resultMap="Requester_Map" >
        SELECT
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_COMPANY_CD,
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_SECTION_PLACE_CD
        FROM
            M_PUR_PRICE_DSP_AUTH_JNL
        WHERE
            M_PUR_PRICE_DSP_AUTH_JNL.PUR_PRICE_HIST_SEQ = #{purPriceHistSeq}
    </select>

    <select id="authListExistSectionOfPriceHistSeq" resultMap="Requester_Map" >
        SELECT
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_COMPANY_CD,
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_SECTION_PLACE_CD
        FROM
            M_PUR_PRICE_DSP_AUTH_JNL
        INNER JOIN
            M_COMPANY
        ON
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_COMPANY_CD = M_COMPANY.COMPANY_CD
        AND M_COMPANY.TERM_FLG = '0'
        INNER JOIN
            M_SECTION_PLACE
        ON
            M_PUR_PRICE_DSP_AUTH_JNL.REQ_SECTION_PLACE_CD = M_SECTION_PLACE.SECTION_PLACE_CD
        AND M_PUR_PRICE_DSP_AUTH_JNL.REQ_COMPANY_CD = M_SECTION_PLACE.COMPANY_CD
        AND M_SECTION_PLACE.TERM_FLG = '0'
        WHERE
            M_PUR_PRICE_DSP_AUTH_JNL.PUR_PRICE_HIST_SEQ = #{purPriceHistSeq}
    </select>

</mapper>
