    #if(!$!_item_style)
        #set($_item_style='Small')
    #end
    #if(!$!_button_style)
        #set($_button_style='MinimumButton')
    #end

    <td $!_td_style_left rowspan="2">
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1')
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
        <table width="100%" class="FontMini">
            <tr>
                #if($!fileNameValue!='')
                <td id="FileLink1" nowrap>
					<a href="#" onclick="downloadFile('$!seqNoValue','1','0');">$!fileNameValue</a>
                    <input type="checkbox" onclick="getObj('$!file').disabled =!this.checked;getObj('clearBtn1').disabled =!this.checked;getObj('$!delFlg').value = this.checked?'1':'0';"/>#customSpringMessage('ACTION_DELETE')
                </td>
                #end
                <td id="File1" nowrap>
                    <input
                    class="$!_item_style $!ime"
                    id="$!file"
                    name="$!file"
                    type="file"
                    maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength"
                    size="$!size"
                    #if($!dspFlg=='1')
                    readonly
                    #end
                    value="$!fileNameValue"
                    #if($!fileNameValue!='')
                        disabled="false"
                    #end
                    >
                    <input id="clearBtn1" class="$!_button_style"  type="button" onclick="clearfile1();" value="#customSpringMessage('ACTION_CLEAR')"
                        #if($!fileNameValue!='')
                            disabled="false"
                        #end
                    >
                </td>
                <td align="right" nowrap>
                    <input
                        type="hidden"
                        id="$!attachRange"
                        name="$!attachRange"
                        #if($!attachRangeValue=='')
                        value="0"
                        #else
                        value="$!attachRangeValue"
                        #end>
                     <input
                        type="hidden"
                        id="$!delFlg"
                        name="$!delFlg"
                        #if($!delFlg=='')
                        value="0"
                        #else
                        value="$!delFlgValue"
                        #end>
                    <input
                        type="checkbox"
                        id="_$!attachRange"
                        #if($!attachRangeValue=='1')
                            checked="checked"
                        #end
                        onchange="getObj('$!attachRange').value = getObj('_$!attachRange').checked?'1':'0';">
                       #customSpringMessage('SUPPLIER_OPEN')
                        <script language="javascript" type="text/javascript">
                        function clearfile1(){
                            var file=getObj("$!file");
                            file.outerHTML = file.outerHTML;
                         }
                        </script>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td $!_td_style_right>
        <table width="100%" class="FontMini">
            <tr>
                #if($!fileName2Value!='')
                <td id="FileLink1" nowrap>
					<a href="#" onclick="downloadFile('$!seqNo2Value', '2','0');">$!fileName2Value</a>
                    <input type="checkbox" onclick="getObj('$!file2').disabled =!this.checked;getObj('clearBtn2').disabled =!this.checked;getObj('$!delFlg2').value = this.checked?'1':'0';"/>#customSpringMessage('ACTION_DELETE')
                </td>
                #end
                <td id="File2" nowrap>
                    <input
                    class="$!_item_style $!ime"
                    id="$!file2"
                    name="$!file2"
                    type="file"
                    maxlength="$!maxlength"
                    size="$!size"
                    #if($!dspFlg=='1')
                    readonly
                    #end
                    value="$!fileName2Value"
                    #if($!fileName2Value!='')
                        disabled="false"
                    #end
                    $!event
                    >
                    <input type="button" id="clearBtn2" class="$!_button_style"  onclick="clearfile2();" value="#customSpringMessage('ACTION_CLEAR')"
                    #if($!fileName2Value!='')
                        disabled="false"
                    #end
                    >
                </td>
                <td align="right" nowrap>
                    <input
                        type="hidden"
                        id="$!attachRange2"
                        name="$!attachRange2"
                        #if($!attachRange2Value=='')
                        value="0"
                        #else
                        value="$!attachRange2Value"
                        #end>
                      <input
                        type="hidden"
                        id="$!delFlg2"
                        name="$!delFlg2"
                        #if($!delFlg2=='')
                        value="0"
                        #else
                        value="$!delFlg2Value"
                        #end>
                    <input
                        type="checkbox"
                        id="_$!attachRange2"
                        #if($!attachRange2Value=='1')
                            checked="checked"
                        #end
                        onchange="getObj('$!attachRange2').value = getObj('_$!attachRange2').checked?'1':'0';">
                        #customSpringMessage('SUPPLIER_OPEN')
                        <script language="javascript" type="text/javascript">
                        function clearfile2(){
                            var file=getObj("$!file2");
                            file.outerHTML = file.outerHTML;
                        }
                        </script>
                </td>
            </tr>
        </table>
    </td>
