    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
            <input 
                class="$!_item_style $!ime SmallRight" 
                id="$!property" 
                name="$!property" 
                type="text" 
                maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
                size="$!size" 
                value="$!propertyValue"
                #if($!_detailtype) 
                    onblur="editVal(this); calculateTaxAmountByAjax('$!_index', '$!_detailtype');" onfocus="deleteComma(this);"
                #else
                    $!_event
                #end
                >
            #customFormSingleSelectForItemSetting("$!unitName" $!options "onchange='setUnit$!_index()' $!_item_style" "$!unitNameValue")
            <input 
                id="$!unit" 
                name="$!unit" 
                type="hidden" 
                value="$!unitValue">
    </td>
    <script language="javascript" type="text/javascript">
        function setUnit$!_index() {
            var selObj = getObj('$!unitName');
            var index = selObj.selectedIndex;
            if(!selObj.options[0].selected){
                getObj('$!unit').value = selObj.options[index].text;
            } else {
                getObj('$!unit').value = "";
            }
        }
    </script>