    <td $!_td_style_left align="right">
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.searchMethod.searchType.searchType=='1')
            <span class="FontComment">＊</span>
        #elseif($!itemDefinitionDetail.searchMethod.searchType.searchType=='2')
            <span class="FontComment">％</span>
        #end
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
        #customFormRadioButtonsForItemSetting("$!property" $!options "$!_item_style $!_event" "$!propertyValue")
    </td>
