<div $!_data_style>
    #if("$!buyerCommentValue" != "")
        #customSpringMessage("BUYER")<!--購買-->
        #if("$!supplierCommentValue" != "")
            <br/>
            #customSpringMessage("SUPPLIER")<!--取引先-->
        #end
    #else
        #if("$!supplierCommentValue" != "")
            #customSpringMessage("SUPPLIER")<!--取引先-->
        #end
    #end
</div>
