    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        <span class="FontWarn">&nbsp;※</span>
    </td>
    <td $!_td_style_right>
            #customFormSingleSelectForItemSetting("$!undecidedReason" $!unDecReasonOptions "onchange='setUnDecReasonText(this)' $!_item_style" "$!undecidedReasonValue")
            <input 
                class="$!_item_style $!ime" 
                id="$!property" 
                name="$!property" 
                type="text" 
                maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
                size="$!size" 
                value="$!propertyValue"
                $!_event>
                <script language="javascript" type="text/javascript">
                function setUnDecReasonText(selObj) {
                    var index = selObj.selectedIndex;
                    getObj('$!property').value = selObj.options[index].text;
                }
                </script>
    </td>