    <div align='right'>$!propertyValue</div><!--注文数量-->
#if(!$currentOneColumnFlag)
</td>
<td $!_tdStyle>
#end
  ## ----- 強化-00172-000 2013/04/02 DEL SBO_wangzf START -----
    ##<div $!_data_style>$!unitValue</div><!--単位-->
  ## ----- 強化-00172-000 2013/04/02 DEL SBO_wangzf END -----  
  ## +++++ 強化-00172-000 2013/04/02 ADD SBO_wangzf START +++++
      <div $!_data_Unit_style>$!unitValue</div><!--単位-->
  ## +++++ 強化-00172-000 2013/04/02 ADD SBO_wangzf END +++++
#if(!$currentOneColumnFlag)
</td>
<td $!_tdStyle>
#end
    <div $!_data_style>$!receiveRemainderValue</div><!--受入残数量-->
