    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right>
            <input 
                class="$!_item_style $!ime SmallRight" 
                id="$!property" 
                name="$!property" 
                type="text" 
                maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
                size="$!size" 
                #if($!dspFlg=='1')
                    readonly tabIndex="-1"
                #end
                value="$!propertyValue"
                $!_event>
        &nbsp;
        $!unitValue
    </td>