<div $!_data_style>
       #if("" != "$!propertyValue")
        <a href="#" onclick="openAnsDetail('#jsEscapeInHTML($!quotReqSeqValue)','#jsEscapeInHTML($!exclusiveSlipNoValue)', '#jsEscapeInHTML($!exclusiveLastUpdDateValue)');" id =$!quotReqSeqValue $!_event>$!propertyValue</a>
       #end
</div>