    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        <span class="FontWarn">&nbsp;※</span>
    </td>
    <td $!_td_style_right>
            <input 
            class="MiddleAnk $!_item_style $!ime" 
            id="$!property" 
            name="$!property" 
            type="text" 
            maxlength="$!itemDefinitionDetail.inputMethod.maxLength.maxLength" 
            size="$!size" 
            #if($!dspFlg=='1')
            readonly
            #end
            value="$!propertyValue" 
            $!_event
            onblur="dateOnBlur(this);"
            onfocus="dateOnFocus(this);"
            >
            <img class="Icon" 
                 src="../../image/btnCalendar.gif" 
                #if($!dspFlg!='1')
                onclick="initSearchBox(1,getElementById('$!property'));"
                #end>
    </td>