 <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.searchMethod.searchType.searchType=='1')
            <span class="FontComment">＊</span>
        #elseif($!itemDefinitionDetail.searchMethod.searchType.searchType=='2')
            <span class="FontComment">％</span>
        #end
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right nowrap>
        #customFormHiddenInput("$!{property}.hidden" "")
        #customFormRadioButtonsForItemSetting("$!property" $!options "$!_item_style" "$!propertyValue")
    </td>
