#if("$!propertyValue" != "") ## 値が空でない場合
    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right>
        <span $!_item_style>
            $propertyValue
        </span>
    </td>
#else ## 値が空の場合
    <td></td><td></td>
#end ## 改行制御の為のコメント