    <td $!_td_style_left>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right>
        #customFormSingleSelectForItemSetting("$!property" $!options "$!_event $!_item_style" "$!propertyValue")%
    </td>