#if("$!propertyValue"!="undefined")
<div $!_data_style>
  #if(!$!_displayOnly)
<input  type="text"
    #if($!_ime)
        class="$!_item_style $!_ime"
    #else
        class="$!_item_style"
    #end
        id="$!property"
        name="$!property"
    #if($!_maxlength)
        maxlength="$!_maxlength" 
    #else
        maxlength="12" 
    #end
    #if($!_size)
        size="$!_size"
    #else
        size="20"
    #end
        value="$!propertyValue"
        $!_event>
  #else
$!propertyValue
<input  type="hidden" 
        id="$!property" 
        name="$!property" 
        value="$!propertyValue">
  #end
</div>
#end
