<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_ROLE')</title><!--ロールマスタ-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$roleSearchCondition)

#parse("./common/common_js.vm")

function onLoad() {
    dataLoadHasPage();
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen START +++++
    buttonUsableForAuth("$!errorMessage");
    ## +++++ 強化-01233-000 2013/05/02 ADD SBO_pangzhen -END- +++++
	var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
        buttonUsableForList(alertMessage);
        ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
        alert(alertMessage);
         if(alertMessage.indexOf("#customSpringMessage('E035')")!=-1){
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
        }
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        if(errorMsg.indexOf("#customSpringMessage('I004')")!=-1){
            parent.getObj("SWITCH1").style.display="none";
            parent.getObj("SWITCH2").style.display="";
            parent.getObj("SEARCH_AREA2").style.display = "";
        }
        return;
    }
        var isShowUpdate = "#jsEscape($isShowUpdate)";
        if (isShowUpdate == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=update","pageid","roleEdit");
        }
        var isShowDelete = "#jsEscape($isShowDelete)";
        if (isShowDelete == 'true'){
            top.iframeChange("${flowExecutionUrl}&_eventId=delete","pageid","roleDelete");
        }
}

function openDetail(companyCd,roleNo,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeUpdate","companyCd",companyCd,"roleNo",roleNo,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

function openDetailDel(companyCd,roleNo,lastUpdDate) {
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
    buttonDisable();
    ## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
    parent.iframeChange("${flowExecutionUrl}&_eventId=validateBeforeDelete","companyCd",companyCd,"roleNo",roleNo,"lastUpdDate",lastUpdDate,"HIDDENAREA");
}

//-->
</script>
<style>
.authname {
    padding:5px;
    text-align:top;
}
</style>
</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE',2,3);">
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
<table id="TABLE" class="ListArea" width="100%" style="background-color:#FFFFFF;">
    <thead>
        #if($itemList.roleItemList.size()!=0)
        ## +++++ 強化-01090-000 2013/04/26 ADD SBO_KANGJW START +++++
        <tr>
            <td>
            </td>
        </tr>
        ## +++++ 強化-01090-000 2013/04/26 ADD SBO_KANGJW END +++++
        <tr id="Header">
        <td class="DTL_OUTHEAD RoleHeaderLeft">
            <span class="FontLargeAnkBold">No.</span><!--No.-->
        </td>
        <td class="DTL_OUTHEAD RoleHeaderLeft">
            <span class="FontLargeAnkBold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#customSpringMessage('ROLE_NAME')<!--ロール名--></span>
        </td>

        <td class="DTL_OUTHEAD RoleHeaderLeft">
            <span class="FontSmall">#customSpringMessage('TERMINATION')<!--廃止--></span>
        </td>
                #set ($authNameNo=1)
                    #foreach($!roleDtl in $!itemList.roleItemList[0].roleDtlList.roleDtlList)
                            #if($!roleDtl.authName.authTopFlg=="1")
                                <th label="case" class="DTL_OUTHEAD RoleHeaderRight" style="background-color:#E6E6FA;border:1px solid white;padding:4px;vertical-align:top;">
                                    <span class="FontLargeAnkBold" style= "Writing-mode:tb-rl">
                                        #out($!roleDtl.authName.authName)
                                    </span>
                                </th>
                            #else
                                <th  class="DTL_authname_area">
                                    <div class="DTL_authno">
                                        <span class="FontMiniAnk">
                                              #if($authNameNo<10)
                                                  0$authNameNo
                                              #else
                                                  $authNameNo
                                              #end
                                        </span>
                                    </div>
                                    #set ($authNameNo=$authNameNo+1)
                                    <div class="authname"  width="1px" style="Writing-mode:tb-rl">   
                                        <span class="FontDetailData" width="1px" style="text-align:top;">
                                          #out($!roleDtl.authName.authName)<br>
                                        </span>
                                    </div>
                                </th>
                            #end
                        #end
        </tr>
        </thead>
        <tbody>
        #set ($No=1)
        #foreach($!roleItem in $!itemList.roleItemList)
            <tr>
            <td class="DTL_OUTHEAD" align="center">
                   <div class="DTL_INHEAD" style="height:24px;line-height:24px;">
                     <span class="FontSmallBold DarkBlue">
                     $No
                    </span>
                   </div>
            </td>
            #set ($No=$No+1) 
                <td class="DTL_OUTHEAD">
                      <div class="DTL_INHEAD" style="padding-left:4px;padding-right:16px;">
                        <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_EDIT')" onclick="openDetail('#jsEscapeInHTML($!roleItem.roleIdentify.companyCd)','#jsEscapeInHTML($!roleItem.roleIdentify.roleNo)','#jsEscapeInHTML($!roleItem.roleIdentify.lastUpdDate)');"><!-- 編集 -->
                        <input type="button" class="SmallButton" value="#customSpringMessage('ACTION_DELETE')" onclick="openDetailDel('#jsEscapeInHTML($!roleItem.roleIdentify.companyCd)','#jsEscapeInHTML($!roleItem.roleIdentify.roleNo)','#jsEscapeInHTML($!roleItem.roleIdentify.lastUpdDate)');"><!-- 削除 -->
                        <span class="FontSmallBold DarkBlue">#out($roleItem.roleNo) #out($roleItem.roleName)</span>
                      </div>
                </td>
                 <td  class="DTL_OUTBODY" style="background-color:#FFFFCC;border-right:1px dotted #CCCCCC;text-align:center;vertical-align:middle;padding:1px;">
                    <span class="FontSmallBold">#out($!roleItem.termFlg_PageValue)</span>
                </td>
            #foreach($!roleDtl in $!roleItem.roleDtlList.roleDtlList)
            #if($!roleDtl.authName.authTopFlg=="0")
                #if($!roleDtl.authInd=="0")
                        <td  class="DTL_OUTBODY" style="background-color:#FFFFCC;border-right:1px dotted #CCCCCC;text-align:center;vertical-align:middle;padding:1px;">
                        </td>
                #else
                        <td  class="DTL_OUTBODY" style="background-color:#FFFFCC;border-right:1px dotted #CCCCCC;text-align:center;vertical-align:middle;padding:1px;">
                            <img src="../../image/mrkCheck.gif">
                        </td>
                #end
            #else
            <td class="BoxHeader" style="background-color:#E6E6FA;border:1px solid white;padding:4px;vertical-align:top;">
                <span class="FontLargeAnkBold" >
                </span>
                </td>
                #end
            #end
            </tr>
        #end
        </tbody>
        #end
        </table>
    <br>
<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->

</body>
</html>
