<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd" default-lazy-init="true">
    
    <import resource="classpath:interf/applicationContext-Properties*.xml" />
    <context:annotation-config />

    <!-- ↓↓↓ datasource handle ↓↓↓ -->
    <bean id="dataSource" class="oracle.ucp.jdbc.PoolDataSourceFactory" factory-method="getPoolDataSource">
         <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource" />
         <property name="URL" value="${jdbcHistory.url}" />
         <property name="user" value="${jdbcHistory.user}" />
         <property name="password" value="${jdbcHistory.password}" />
         <property name="connectionPoolName" value="IF_POOL" />
         <property name="initialPoolSize" value="3" />
         <property name="minPoolSize" value="3" />
         <property name="maxPoolSize" value="15" />
         <property name="inactiveConnectionTimeout" value="300" />
         <property name="timeoutCheckInterval" value="60" />
         <property name="validateConnectionOnBorrow" value="true" />
    </bean>

    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="fw.domain" />
    </bean>
    
    <bean id="SequenceUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.SequenceUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="HistoryUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.HistoryUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="HistoryAllUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.HistoryAllUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="AutoOrderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.common.autoorder.AutoOrderMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="SlipMngMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.common.slipmng.SlipMngMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="EstMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.qot.est.EstMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="AmountUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.AmountUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="MasterUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.MasterUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="ApprovalUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.ApprovalUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="ApprovalAllUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.ApprovalAllUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="OrderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.ord.order.OrderMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="OrderAllMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.ord.order.OrderAllMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="PriceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.prc.price.PriceMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="AttachFileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.common.attachfile.AttachFileMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="AttachFileAllMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.common.attachfile.AttachFileAllMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="VolUtilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.common.util.VolUtilMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="masterExistCheckMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.dataaccess.MasterExistCheckMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="dlvEstIsHolidayPolicyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.check.impl.business.DlvEstIsHolidayPolicyMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="externalCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="external.catalog.dataaccess.ExternalCatalogMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="externalCatalogDataMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="external.catalog.dataaccess.ExternalCatalogDataMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="supplierMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.mst.supplier.SupplierMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="condMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.mst.cond.CondMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="payConditionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="ps.dataaccess.mst.paycondition.PayConditionMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="cooperationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="fw.dataaccess.cooperation.CooperationMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="approvalUtil" class="fw.common.util.ApprovalUtil" />
    <bean id="amountUtil" class="fw.common.util.AmountUtil" />
    <bean id="masterUtil" class="fw.common.util.MasterUtil" />
    <bean id="historyUtil" class="fw.common.util.HistoryUtil" />
    <bean id="sequenceUtil" class="fw.common.util.SequenceUtil" />
    <bean id="autoOrderDataAccess" class="ps.dataaccess.common.autoorder.AutoOrderDataAccess" />
    <bean id="autoOrderCheckHelper" class="ps.dataaccess.common.autoorder.AutoOrderDataAccess$AutoOrderCheckHelper" />
    <bean id="slipMngDataAccess" class="ps.dataaccess.common.slipmng.SlipMngDataAccess" />
    <bean id="receiveMngDataAccess" class="ps.dataaccess.common.slipmng.ReceiveMngDataAccess" />
    <bean id="slipMngInfoDataAccess" class="ps.dataaccess.common.slipmng.SlipMngInfoDataAccess" />
    <bean id="psord090Service" class="ps.service.ord.order.PSORD090Service" />
    <bean id="orderDataAccess" class="ps.dataaccess.ord.order.OrderDataAccess" />
	<bean id="orderAllDataAccess" class="ps.dataaccess.ord.order.OrderAllDataAccess" />

    <bean id="orderDataAccessHelper" class="ps.dataaccess.ord.order.OrderDataAccessHelper" />
    <bean id="attachFileDataAccess" class="ps.dataaccess.common.attachfile.AttachFileDataAccess" />
    <bean id="attachFileAllDataAccess" class="ps.dataaccess.common.attachfile.AttachFileAllDataAccess" />
    <bean id="volUtil" class="fw.common.util.VolUtil" />
    <bean id="historyOrderUtil" class="ps.common.util.HistoryOrderUtil" />
    <bean id="extAttachFileUtil" class="ps.common.util.ExtAttachFileUtil" />
    
    <bean id="externalCatalogDataDataAccess" class="external.catalog.dataaccess.ExternalCatalogDataDataAccess" />
    <bean id="externalCatalogDataAccess" class="external.catalog.dataaccess.ExternalCatalogDataAccess" />
    <bean id="externalCatalogOrderHelper" class="ps.dataaccess.common.externalcatalog.ExternalCatalogOrderHelper" />
    <bean id="condDataAccess" class="ps.dataaccess.mst.cond.CondDataAccess" />
    <bean id="cooperationDataAccess" class="fw.dataaccess.cooperation.CooperationDataAccess" />
</beans>