<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.options.budget.rinbdtdetails.RinbdtDetailsListMapper">

    <!-- 検索する -->
    <sql id="listKeyIdentityWhereCondition">
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(ringiBudgetDtlIdentify.budgetNo.budgetNo)">
            AND PURAPLORDER.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo}
        </if>
    </sql>
    <sql id="RinbdtDetailsSql">
        SELECT
            tSlipMng.SLIP_NO 
            , CASE 
                WHEN acceptSum.BUDGET_NO IS NOT NULL
                THEN acceptSum.BUDGET_NO 
                ELSE 
                    CASE 
                        WHEN tOrder.BUDGET_NO IS NOT NULL 
                        THEN tOrder.BUDGET_NO 
                        ELSE tPurApl.BUDGET_NO
                    END 
              END AS BUDGET_NO
            , tPurApl.REQ_TYPE_IND
            , CASE 
                WHEN tPurApl.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
                THEN tPurApl.PUR_REQ_DATE 
                ELSE NULL
              END AS PUR_REQ_DATE
            , CASE 
              WHEN tOrderInfo.REQ_SECTION_CD IS NOT NULL 
              THEN tOrderInfo.REQ_SECTION_CD 
              ELSE tPurApl.REQ_SECTION_CD 
              END AS REQ_SECTION_CD
            , CASE 
              WHEN tOrderInfo.REQ_SECTION_NAME IS NOT NULL 
              THEN tOrderInfo.REQ_SECTION_NAME 
              ELSE tPurApl.REQ_SECTION_NAME 
              END AS REQ_SECTION_NAME
            , CASE 
              WHEN tOrderInfo.REQ_USER_ID IS NOT NULL 
              THEN tOrderInfo.REQ_USER_ID 
              ELSE tPurApl.REQ_USER_ID 
              END AS REQ_USER_ID
            , CASE 
              WHEN tOrderInfo.REQ_USER_NAME IS NOT NULL 
              THEN tOrderInfo.REQ_USER_NAME 
              ELSE tPurApl.REQ_USER_NAME 
              END AS REQ_USER_NAME
            , CASE 
              WHEN tOrderInfo.BUYER_SECTION_CD IS NOT NULL 
              THEN tOrderInfo.BUYER_SECTION_CD 
              ELSE tPurRequest.BUYER_SECTION_CD 
              END AS BUYER_SECTION_CD
            , CASE 
              WHEN tOrderInfo.BUYER_SECTION_NAME IS NOT NULL 
              THEN tOrderInfo.BUYER_SECTION_NAME 
              ELSE tPurRequest.BUYER_SECTION_NAME 
              END AS BUYER_SECTION_NAME
            , CASE 
              WHEN tOrderInfo.BUYER_USER_ID IS NOT NULL 
              THEN tOrderInfo.BUYER_USER_ID 
              ELSE tPurRequest.BUYER_USER_ID 
              END AS BUYER_USER_ID
            , CASE 
              WHEN tOrderInfo.BUYER_USER_NAME IS NOT NULL 
              THEN tOrderInfo.BUYER_USER_NAME 
              ELSE tPurRequest.BUYER_USER_NAME 
              END AS BUYER_USER_NAME
            , CASE 
              WHEN tOrderInfo.LOAD_SECTION_CD IS NOT NULL 
              THEN tOrderInfo.LOAD_SECTION_CD 
              ELSE tPurApl.LOAD_SECTION_CD 
              END AS LOAD_SECTION_CD
            , CASE 
              WHEN tOrderInfo.LOAD_SECTION_NAME IS NOT NULL 
              THEN tOrderInfo.LOAD_SECTION_NAME 
              ELSE tPurApl.LOAD_SECTION_NAME 
              END AS LOAD_SECTION_NAME
            , CASE 
              WHEN tOrderInfo.TITLE_NAME IS NOT NULL 
              THEN tOrderInfo.TITLE_NAME 
              ELSE tPurApl.TITLE_NAME 
              END AS TITLE_NAME
            , CASE 
              WHEN tOrderInfo.DELIV_PLACE_CD IS NOT NULL 
              THEN tOrderInfo.DELIV_PLACE_CD 
              ELSE tPurApl.DELIV_PLACE_CD 
              END AS DELIV_PLACE_CD
            , CASE 
              WHEN tOrderInfo.DELIV_PLACE_NAME IS NOT NULL 
              THEN tOrderInfo.DELIV_PLACE_NAME 
              ELSE tPurApl.DELIV_PLACE_NAME 
              END AS DELIV_PLACE_NAME
            , CASE 
              WHEN tOrderInfo.ITEM_CD IS NOT NULL 
              THEN tOrderInfo.ITEM_CD 
              ELSE tPurRequest.ITEM_CD 
              END AS ITEM_CD
            , CASE 
              WHEN tOrderInfo.ITEM_NAME IS NOT NULL 
              THEN tOrderInfo.ITEM_NAME 
              ELSE tPurRequest.ITEM_NAME 
              END AS ITEM_NAME
            , CASE 
              WHEN tOrderInfo.KATASHIKI IS NOT NULL 
              THEN tOrderInfo.KATASHIKI 
              ELSE tPurRequest.KATASHIKI 
              END AS KATASHIKI
            , CASE 
              WHEN tOrderInfo.MANUFACT_CD IS NOT NULL 
              THEN tOrderInfo.MANUFACT_CD 
              ELSE tPurRequest.MANUFACT_CD 
              END AS MANUFACT_CD
            , CASE 
              WHEN tOrderInfo.MANUFACT_NAME IS NOT NULL 
              THEN tOrderInfo.MANUFACT_NAME 
              ELSE tPurRequest.MANUFACT_NAME 
              END AS MANUFACT_NAME
            , CASE 
              WHEN tOrderInfo.SUBJECT_CD IS NOT NULL 
              THEN tOrderInfo.SUBJECT_CD 
              ELSE tPurRequest.SUBJECT_CD 
              END AS SUBJECT_CD
            , CASE 
              WHEN tOrderInfo.SUBJECT_NAME IS NOT NULL 
              THEN tOrderInfo.SUBJECT_NAME 
              ELSE tPurRequest.SUBJECT_NAME 
              END AS SUBJECT_NAME
            , CASE 
              WHEN tOrderInfo.SUP_CD IS NOT NULL 
              THEN tOrderInfo.SUP_CD 
              ELSE tPurRequest.SUP_CD 
              END AS SUP_CD
            , CASE 
              WHEN tOrderInfo.SUP_NAME IS NOT NULL 
              THEN tOrderInfo.SUP_NAME 
              ELSE tPurRequest.SUP_NAME 
              END AS SUP_NAME
            , CASE 
              WHEN tOrderInfo.SUP_ABBR_NAME IS NOT NULL 
              THEN tOrderInfo.SUP_ABBR_NAME 
              ELSE tPurRequest.SUP_ABBR_NAME 
              END AS SUP_ABBR_NAME
            , CASE 
                WHEN tPurApl.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
                THEN tPurRequest.REQ_DELIV_DATE 
                ELSE NULL
              END AS REQ_DELIV_DATE
            , tPurRequest.CURRENCY_CD AS HOPE_CURRENCY_CD
            , CASE 
              WHEN tOrderInfo.CURRENCY_CD IS NOT NULL 
              THEN tOrderInfo.CURRENCY_CD 
              ELSE tPurRequest.CURRENCY_CD 
              END AS CURRENCY_CD
            , CASE 
                WHEN tPurApl.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
                THEN tPurRequest.REQ_VOL 
                ELSE NULL
              END AS REQ_VOL
            , CASE 
              WHEN tOrderInfo.UNIT_CD IS NOT NULL 
              THEN tOrderInfo.UNIT_CD 
              ELSE tPurRequest.UNIT_CD 
              END AS UNIT_CD
            , CASE 
              WHEN tOrderInfo.UNIT_NAME IS NOT NULL 
              THEN tOrderInfo.UNIT_NAME 
              ELSE tPurRequest.UNIT_NAME 
              END AS UNIT_NAME
            , CASE 
                WHEN tPurApl.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
                THEN tPurRequest.REQ_AMOUNT 
                ELSE NULL
              END AS REQ_AMOUNT
            , tSlipMng.SLIP_STATUS
            , tSlipMng.RECEIVE_STATUS_IND
            , tSlipMng.INSPECT_STATUS_IND
            , tSlipMng.ACCEPTANCE_STATUS_IND
            , tOrder.ORDER_CANCEL_VOL
            , tOrder.ORDER_CANCEL_AMOUNT
            , tOrder.ORDER_FIRST_DATE 
            , tOrder.ORDER_DELIV_DATE 
            , tOrder.ORDER_VOL 
            , tOrder.ORDER_AMOUNT 
            , approved.APPROVED_DELIV_VOL
            , acceptSum.SUM_ACCEPT_VOL 
            , acceptSum.SUM_ACCEPT_AMOUNT 
            , tSlipMng.LAST_UPD_DATE
            , CASE 
                WHEN tPurApl.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
                THEN tPurRequest.PUR_REQ_CNV_AMOUNT 
                ELSE NULL
              END PUR_REQ_CNV_AMOUNT
            , tOrder.ORDER_CNV_AMOUNT 
            , acceptSum.SUM_ACCEPT_CNV_AMOUNT
        FROM
            T_SLIP_MNG tSlipMng 
        INNER JOIN T_PUR_REQUEST tPurRequest 
            ON tPurRequest.PUR_REQ_NO = tSlipMng.SLIP_NO
            AND tPurRequest.PUR_REQ_STATUS = '11' 
            AND tPurRequest.NEW_APP_FLG = '1' 
            AND tPurRequest.DELETE_FLG = '0' 
        INNER JOIN T_PUR_APL tPurApl 
            ON tPurApl.PUR_APL_SEQ = tPurRequest.PUR_APL_SEQ 
            AND tPurApl.NEW_APP_FLG = '1' 
            AND tPurApl.PUR_APL_STATUS = '11'
            AND tPurApl.DELETE_FLG = '0' 
            AND tPurApl.LOAD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
            AND tPurApl.LOAD_SECTION_PLACE_CD = '${@fw.security.SecurityUtil@getSectionPlaceCdByEscapeSql()}'
        LEFT JOIN T_ORDER tOrder 
            ON tSlipMng.SLIP_NO = tOrder.ORDER_NO 
            AND tOrder.NEW_APP_FLG = '1' 
            AND tOrder.DELETE_FLG = '0' 
            AND tOrder.LOAD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
            AND tOrder.LOAD_SECTION_PLACE_CD = '${@fw.security.SecurityUtil@getSectionPlaceCdByEscapeSql()}'
            AND tOrder.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
        LEFT JOIN T_ORDER tOrderInfo 
            ON tSlipMng.SLIP_NO = tOrderInfo.ORDER_NO 
            AND tOrderInfo.NEW_APP_FLG = '1' 
            AND tOrderInfo.DELETE_FLG = '0' 
        LEFT JOIN ( 
            SELECT
                tAcceptance.BUDGET_NO
                , tReceiveMng.ORDER_NO
                , Sum(tAcceptance.ACCEPT_VOL) AS SUM_ACCEPT_VOL
                , Sum(tAcceptance.ACCEPT_AMOUNT) AS SUM_ACCEPT_AMOUNT 
                , Sum(tAcceptance.ACCEPT_CNV_AMOUNT) AS SUM_ACCEPT_CNV_AMOUNT 
            FROM
                T_RECEIVE_MNG tReceiveMng 
            INNER JOIN T_ACCEPTANCE tAcceptance 
                ON tReceiveMng.APP_ACCEPTANCE_SEQ = tAcceptance.ACCEPT_SEQ 
                AND tAcceptance.RB_IND = '0' 
                AND tAcceptance.DELETE_FLG = '0'
                AND tAcceptance.BUDGET_NO = #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} 
            WHERE
                tReceiveMng.DELETE_FLG = '0' 
            GROUP BY
                tAcceptance.BUDGET_NO
                , tReceiveMng.ORDER_NO
        ) acceptSum 
            ON acceptSum.ORDER_NO = tSlipMng.SLIP_NO
        LEFT JOIN (
            SELECT 
                T_ARRIVAL.ORDER_NO
                , SUM(T_ARRIVAL.DELIV_VOL) AS APPROVED_DELIV_VOL
            FROM 
                T_ARRIVAL
            INNER JOIN T_RECEIVE_MNG
                ON T_ARRIVAL.ARRIVAL_SEQ = T_RECEIVE_MNG.APP_ARRIVAL_SEQ
            WHERE T_ARRIVAL.DELETE_FLG = '0'
                AND T_ARRIVAL.RB_IND = '0'
                AND T_RECEIVE_MNG.DELETE_FLG = '0'
            GROUP BY 
                T_ARRIVAL.ORDER_NO
        ) approved
            ON approved.ORDER_NO = tSlipMng.SLIP_NO
        WHERE
            tSlipMng.DELETE_FLG = '0'
    </sql>
    <!-- キー項目検索 -->
    <resultMap type="fw.domain.slip.businesscommon.slipsearch.SlipSearchIdentify"
        id="RinbdtDetailsIdentify_Map">
        <id column="SLIP_NO" property="slipNo" />
        <id column="LAST_UPD_DATE" property="lastUpdDate" />
    </resultMap>
    <select id="listKeyIdentity"
        parameterType="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsSearchCondition"
        resultMap="RinbdtDetailsIdentify_Map">
        WITH PURAPLORDER AS (
            <include refid="RinbdtDetailsSql"/>
        )
        SELECT
            PURAPLORDER.SLIP_NO
            , PURAPLORDER.LAST_UPD_DATE
        FROM
            PURAPLORDER
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
        ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>
    <!-- 一覧取得 -->
    <resultMap type="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsListItem"
        id="RingiBudgetDtlListItem_Map">
        <id column="BUDGET_NO" property="budgetNo" />
        <id column="PUR_REQ_NO" property="purReqNo" />
        <id column="REQ_TYPE_IND" property="reqTypeInd" />
        <id column="PUR_REQ_DATE" property="purReqDate.dateOfymd" />
        <id column="REQ_SECTION_CD" property="reqSectionCd" />
        <id column="REQ_SECTION_NAME" property="reqSectionName" />
        <id column="REQ_USER_ID" property="reqUserId" />
        <id column="REQ_USER_NAME" property="reqUserName" />
        <id column="BUYER_SECTION_CD" property="buyerSectionCd" />
        <id column="BUYER_SECTION_NAME" property="buyerSectionName" />
        <id column="BUYER_USER_ID" property="buyerUserId" />
        <id column="BUYER_USER_NAME" property="buyerUserName" />
        <id column="LOAD_SECTION_CD" property="loadSectionCd" />
        <id column="LOAD_SECTION_NAME" property="loadSectionName" />
        <id column="TITLE_NAME" property="titleName" />
        <id column="DELIV_PLACE_CD" property="delivPlaceCd" />
        <id column="DELIV_PLACE_NAME" property="delivPlaceName" />
        <id column="ITEM_CD" property="itemCd" />
        <id column="ITEM_NAME" property="itemName" />
        <id column="KATASHIKI" property="katashiki" />
        <id column="MANUFACT_CD" property="manufactCd" />
        <id column="MANUFACT_NAME" property="manufactName" />
        <id column="SUBJECT_CD" property="subjectCd" />
        <id column="SUBJECT_NAME" property="subjectName" />
        <id column="SUP_CD" property="supCd" />
        <id column="SUP_NAME" property="supName" />
        <id column="SUP_ABBR_NAME" property="supAbbrName" />
        <id column="REQ_DELIV_DATE" property="reqDelivDate.dateOfymd" />
        <id column="HOPE_CURRENCY_CD" property="hopeCurrencyCd" />
        <id column="CURRENCY_CD" property="currencyCd" />
        <id column="REQ_VOL" property="hopeVol.vol" />
        <id column="UNIT_CD" property="unitCd" />
        <id column="UNIT_NAME" property="unitName" />
        <id column="REQ_AMOUNT" property="hopeQuotPrice.amount" />
        <id column="SLIP_STATUS" property="slipStatus" />
        <id column="RECEIVE_STATUS_IND" property="receiveStatusInd" />
        <id column="INSPECT_STATUS_IND" property="inspectStatusInd" />
        <id column="ACCEPTANCE_STATUS_IND" property="acceptanceStatusInd" />
        <id column="ORDER_FIRST_DATE" property="orderFirstDate.dateOfymd" />
        <id column="ORDER_DELIV_DATE" property="orderDelivDate.dateOfymd" />
        <id column="ORDER_VOL" property="orderVol.vol" />
        <id column="ORDER_AMOUNT" property="orderAmount.amount" />
        <id column="SUM_ACCEPT_VOL" property="acceptVol.vol" />
        <id column="SUM_ACCEPT_AMOUNT" property="acceptAmount.amount" />
        <id column="ORDER_CANCEL_VOL" property="orderCancel.orderCancelVol.vol"/>
        <id column="ORDER_CANCEL_AMOUNT" property="orderCancel.orderCancelAmount.amount"/>
        <id column="APPROVED_DELIV_VOL" property="approvedDelivVol.vol"/>
        <id column="SLIP_NO" property="slipSearchIdentify.slipNo" />
        <id column="LAST_UPD_DATE" property="slipSearchIdentify.lastUpdDate" />
    </resultMap>
    <select id="listPageItem"
        parameterType="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsSearchCondition"
        resultMap="RingiBudgetDtlListItem_Map">
        WITH PURAPLORDER AS (
            <include refid="RinbdtDetailsSql"/>
        )
        SELECT
            PURAPLORDER.BUDGET_NO
            , PURAPLORDER.SLIP_NO 
            , PURAPLORDER.REQ_TYPE_IND
            , PURAPLORDER.PUR_REQ_DATE
            , PURAPLORDER.REQ_SECTION_CD
            , PURAPLORDER.REQ_SECTION_NAME
            , PURAPLORDER.REQ_USER_ID
            , PURAPLORDER.REQ_USER_NAME
            , PURAPLORDER.BUYER_SECTION_CD
            , PURAPLORDER.BUYER_SECTION_NAME
            , PURAPLORDER.BUYER_USER_ID
            , PURAPLORDER.BUYER_USER_NAME
            , PURAPLORDER.LOAD_SECTION_CD
            , PURAPLORDER.LOAD_SECTION_NAME
            , PURAPLORDER.TITLE_NAME
            , PURAPLORDER.DELIV_PLACE_CD
            , PURAPLORDER.DELIV_PLACE_NAME
            , PURAPLORDER.ITEM_CD
            , PURAPLORDER.ITEM_NAME
            , PURAPLORDER.KATASHIKI
            , PURAPLORDER.MANUFACT_CD
            , PURAPLORDER.MANUFACT_NAME
            , PURAPLORDER.SUBJECT_CD
            , PURAPLORDER.SUBJECT_NAME
            , PURAPLORDER.SUP_CD
            , PURAPLORDER.SUP_NAME
            , PURAPLORDER.SUP_ABBR_NAME
            , PURAPLORDER.REQ_DELIV_DATE
            , PURAPLORDER.HOPE_CURRENCY_CD
            , PURAPLORDER.CURRENCY_CD
            , PURAPLORDER.REQ_VOL
            , PURAPLORDER.UNIT_CD
            , PURAPLORDER.UNIT_NAME
            , PURAPLORDER.REQ_AMOUNT
            , PURAPLORDER.SLIP_STATUS
            , PURAPLORDER.RECEIVE_STATUS_IND
            , PURAPLORDER.INSPECT_STATUS_IND
            , PURAPLORDER.ACCEPTANCE_STATUS_IND
            , PURAPLORDER.ORDER_FIRST_DATE
            , PURAPLORDER.ORDER_DELIV_DATE
            , PURAPLORDER.ORDER_CANCEL_VOL
            , PURAPLORDER.ORDER_CANCEL_AMOUNT
            , PURAPLORDER.ORDER_VOL
            , PURAPLORDER.ORDER_AMOUNT
            , PURAPLORDER.SUM_ACCEPT_VOL
            , PURAPLORDER.SUM_ACCEPT_AMOUNT
            , PURAPLORDER.APPROVED_DELIV_VOL
            , PURAPLORDER.LAST_UPD_DATE 
        FROM
            PURAPLORDER
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
            AND (
                PURAPLORDER.SLIP_NO
            ) IN
            <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">
                (
                    #{keyList.slipNo, jdbcType=VARCHAR}
                )
            </foreach>
        </where>
        ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>

    <!-- 明細情報取得 -->
    <resultMap type="fw.domain.options.budget.ringibudget.RingiBudgetDtlManagement"
        id="RingiBudgetDtlManagement_Map">
        <id column="COMPANY_CD" property="ringiBudgetDtlIdentify.company.companyCd" />
        <id column="SECTION_PLACE_CD" property="ringiBudgetDtlIdentify.sectionPlace.sectionPlaceCd" />
        <id column="BUDGET_NO" property="ringiBudgetDtlIdentify.budgetNo.budgetNo" />
        <id column="BUDGET_DTL_NO" property="ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo" />
        <id column="BUDGET_NAME" property="titleName.titleName" />
        <id column="SUBJECT_CD" property="subject.subjectCd" />
        <id column="SUBJECT_NAME" property="subject.subjectName" />
        <id column="BUDGET_AMOUNT" property="budgetAmount.budgetAmount.amount" />
        <id column="BUDGET_NOTE" property="sectionNote.sectionNote.comment" />
        <id column="LAST_UPD_DATE1" property="ringiBudgetDtlIdentify.lastUpdDate" />
        <id column="LAST_UPD_DATE2" property="registInfo.lastUpdDate" />
        <id column="LAST_UPD_COMPANY_CD" property="registInfo.lastUpdCompanyCd" />
        <id column="LAST_UPD_SECTION_CD" property="registInfo.lastUpdSectionCd" />
        <id column="LAST_UPD_USER_ID" property="registInfo.lastUpdUserId" />
        <id column="REG_DATE" property="registInfo.regDate" />
        <id column="REG_COMPANY_CD" property="registInfo.regCompanyCd" />
        <id column="REG_SECTION_CD" property="registInfo.regSectionCd" />
        <id column="REG_USER_ID" property="registInfo.regUserId" />
    </resultMap>
    <select id="getRingiBudgetDtlManagement"
            parameterType="fw.domain.options.budget.ringibudget.RingiBudgetDtlIdentify"
            resultMap="RingiBudgetDtlManagement_Map">
        SELECT
          COMPANY_CD
          , SECTION_PLACE_CD
          , BUDGET_NO
          , BUDGET_DTL_NO
          , BUDGET_NAME
          , SUBJECT_CD
          , SUBJECT_NAME
          , BUDGET_AMOUNT
          , BUDGET_NOTE
          , AUTO_DELETE_FLG
          , AUTO_DELETE_DATE
          , LAST_UPD_DATE AS LAST_UPD_DATE1
          , LAST_UPD_DATE AS LAST_UPD_DATE2
          , LAST_UPD_COMPANY_CD
          , LAST_UPD_SECTION_CD
          , LAST_UPD_USER_ID
          , REG_DATE
          , REG_COMPANY_CD
          , REG_SECTION_CD
          , REG_USER_ID
        FROM
            T_RINGI_BUDGET_DTL
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(company.companyCd)">
                AND COMPANY_CD = #{company.companyCd}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(sectionPlace.sectionPlaceCd)">
                AND SECTION_PLACE_CD = #{sectionPlace.sectionPlaceCd}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetNo.budgetNo)">
                AND BUDGET_NO = #{budgetNo.budgetNo}
            </if>
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(budgetDtlNo.budgetDtlNo)">
                AND BUDGET_DTL_NO = #{budgetDtlNo.budgetDtlNo}
            </if>
        </where>
    </select>

    <!-- ダウンロードする。 -->
    <resultMap type="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsListDownload"
        id="RingiBudgetDtlListDownload_Map">
        <id column="BUDGET_NO" property="budgetNo" />
        <id column="SLIP_NO" property="slipSearchIdentify.slipNo" />
        <id column="REQ_TYPE_IND" property="reqTypeInd" />
        <id column="PUR_REQ_DATE" property="purReqDate.dateOfymd" />
        <id column="REQ_SECTION_CD" property="reqSectionCd" />
        <id column="REQ_SECTION_NAME" property="reqSectionName" />
        <id column="REQ_USER_ID" property="reqUserId" />
        <id column="REQ_USER_NAME" property="reqUserName" />
        <id column="BUYER_SECTION_CD" property="buyerSectionCd" />
        <id column="BUYER_SECTION_NAME" property="buyerSectionName" />
        <id column="BUYER_USER_ID" property="buyerUserId" />
        <id column="BUYER_USER_NAME" property="buyerUserName" />
        <id column="LOAD_SECTION_CD" property="loadSectionCd" />
        <id column="LOAD_SECTION_NAME" property="loadSectionName" />
        <id column="TITLE_NAME" property="titleName" />
        <id column="DELIV_PLACE_CD" property="delivPlaceCd" />
        <id column="DELIV_PLACE_NAME" property="delivPlaceName" />
        <id column="ITEM_CD" property="itemCd" />
        <id column="ITEM_NAME" property="itemName" />
        <id column="KATASHIKI" property="katashiki" />
        <id column="MANUFACT_CD" property="manufactCd" />
        <id column="MANUFACT_NAME" property="manufactName" />
        <id column="SUBJECT_CD" property="subjectCd" />
        <id column="SUBJECT_NAME" property="subjectName" />
        <id column="SUP_CD" property="supCd" />
        <id column="SUP_NAME" property="supName" />
        <id column="SUP_ABBR_NAME" property="supAbbrName" />
        <id column="REQ_DELIV_DATE" property="reqDelivDate.dateOfymd" />
        <id column="CURRENCY_CD" property="currencyCd" />
        <id column="REQ_VOL" property="hopeVol.vol" />
        <id column="UNIT_CD" property="unitCd" />
        <id column="UNIT_NAME" property="unitName" />
        <id column="REQ_AMOUNT" property="hopeQuotPrice.amount" />
        <id column="SLIP_STATUS" property="slipStatus" />
        <id column="RECEIVE_STATUS_IND" property="receiveStatusInd" />
        <id column="INSPECT_STATUS_IND" property="inspectStatusInd" />
        <id column="ACCEPTANCE_STATUS_IND" property="acceptanceStatusInd" />
        <id column="ORDER_FIRST_DATE" property="orderFirstDate.dateOfymd" />
        <id column="ORDER_DELIV_DATE" property="orderDelivDate.dateOfymd" />
        <id column="ORDER_CANCEL_VOL" property="orderCancel.orderCancelVol.vol"/>
        <id column="ORDER_CANCEL_AMOUNT" property="orderCancel.orderCancelAmount.amount"/>
        <id column="ORDER_VOL" property="orderVol.vol" />
        <id column="ORDER_AMOUNT" property="orderAmount.amount" />
        <id column="SUM_ACCEPT_VOL" property="acceptVol.vol" />
        <id column="SUM_ACCEPT_AMOUNT" property="acceptAmount.amount" />
        <id column="APPROVED_DELIV_VOL" property="approvedDelivVol.vol"/>
        <id column="DTL_COMPANY_CD" property="ringiBudgetDtlManagement.ringiBudgetDtlIdentify.company.companyCd" />
        <id column="DTL_SECTION_PLACE_CD" property="ringiBudgetDtlManagement.ringiBudgetDtlIdentify.sectionPlace.sectionPlaceCd" />
        <id column="DTL_BUDGET_NO" property="ringiBudgetDtlManagement.ringiBudgetDtlIdentify.budgetNo.budgetNo" />
        <id column="DTL_BUDGET_DTL_NO" property="ringiBudgetDtlManagement.ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo" />
        <id column="LAST_UPD_DATE1" property="ringiBudgetDtlManagement.ringiBudgetDtlIdentify.lastUpdDate" />
        <id column="LAST_UPD_DATE2" property="slipSearchIdentify.lastUpdDate" />
        <id column="PUR_REQ_CNV_AMOUNT" property="purReqCnvAmount.amount" />
        <id column="ORDER_CNV_AMOUNT" property="orderCnvAmount.amount" />
        <id column="SUM_ACCEPT_CNV_AMOUNT" property="acceptCnvAmount.amount" />
        <id column="HOPE_CURRENCY_CD" property="hopeCurrencyCd" />
    </resultMap>
    <select id="listDownload"
            parameterType="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsSearchCondition"
            resultMap="RingiBudgetDtlListDownload_Map">
        WITH PURAPLORDER AS (
            <include refid="RinbdtDetailsSql"/>
        )
        <include refid="pageHeader"/>
        SELECT
            PURAPLORDER.BUDGET_NO
            , PURAPLORDER.SLIP_NO 
            , PURAPLORDER.REQ_TYPE_IND
            , PURAPLORDER.PUR_REQ_DATE
            , PURAPLORDER.REQ_SECTION_CD
            , PURAPLORDER.REQ_SECTION_NAME
            , PURAPLORDER.REQ_USER_ID
            , PURAPLORDER.REQ_USER_NAME
            , PURAPLORDER.BUYER_SECTION_CD
            , PURAPLORDER.BUYER_SECTION_NAME
            , PURAPLORDER.BUYER_USER_ID
            , PURAPLORDER.BUYER_USER_NAME
            , PURAPLORDER.LOAD_SECTION_CD
            , PURAPLORDER.LOAD_SECTION_NAME
            , PURAPLORDER.TITLE_NAME
            , PURAPLORDER.DELIV_PLACE_CD
            , PURAPLORDER.DELIV_PLACE_NAME
            , PURAPLORDER.ITEM_CD
            , PURAPLORDER.ITEM_NAME
            , PURAPLORDER.KATASHIKI
            , PURAPLORDER.MANUFACT_CD
            , PURAPLORDER.MANUFACT_NAME
            , PURAPLORDER.SUBJECT_CD
            , PURAPLORDER.SUBJECT_NAME
            , PURAPLORDER.SUP_CD
            , PURAPLORDER.SUP_NAME
            , PURAPLORDER.SUP_ABBR_NAME
            , PURAPLORDER.REQ_DELIV_DATE
            , PURAPLORDER.CURRENCY_CD
            , PURAPLORDER.HOPE_CURRENCY_CD
            , PURAPLORDER.REQ_VOL
            , PURAPLORDER.UNIT_CD
            , PURAPLORDER.UNIT_NAME
            , PURAPLORDER.REQ_AMOUNT
            , PURAPLORDER.SLIP_STATUS
            , PURAPLORDER.RECEIVE_STATUS_IND
            , PURAPLORDER.INSPECT_STATUS_IND
            , PURAPLORDER.ACCEPTANCE_STATUS_IND
            , PURAPLORDER.ORDER_FIRST_DATE
            , PURAPLORDER.ORDER_DELIV_DATE
            , PURAPLORDER.ORDER_CANCEL_VOL
            , PURAPLORDER.ORDER_CANCEL_AMOUNT
            , PURAPLORDER.ORDER_VOL
            , PURAPLORDER.ORDER_AMOUNT
            , PURAPLORDER.SUM_ACCEPT_VOL
            , PURAPLORDER.SUM_ACCEPT_AMOUNT
            , PURAPLORDER.APPROVED_DELIV_VOL
            , #{ringiBudgetDtlIdentify.company.companyCd} AS DTL_COMPANY_CD
            , #{ringiBudgetDtlIdentify.sectionPlace.sectionPlaceCd} AS DTL_SECTION_PLACE_CD
            , #{ringiBudgetDtlIdentify.budgetNo.budgetNo} AS DTL_BUDGET_NO
            , #{ringiBudgetDtlIdentify.budgetDtlNo.budgetDtlNo} AS DTL_BUDGET_DTL_NO
            , #{ringiBudgetDtlIdentify.lastUpdDate} AS LAST_UPD_DATE1
            , PURAPLORDER.LAST_UPD_DATE AS  LAST_UPD_DATE2
            , PURAPLORDER.PUR_REQ_CNV_AMOUNT
            , PURAPLORDER.ORDER_CNV_AMOUNT 
            , PURAPLORDER.SUM_ACCEPT_CNV_AMOUNT
        FROM
            PURAPLORDER
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
        ORDER BY
             PURAPLORDER.SLIP_NO DESC
        <include refid="pageRoot"/>
    </select>
    <select id="downloadCount"
            parameterType="fw.domain.options.budget.rinbdtdetails.RinbdtDetailsSearchCondition"
            resultType="java.lang.Long">
        WITH PURAPLORDER AS (
            <include refid="RinbdtDetailsSql"/>
        )
        SELECT
            COUNT(*)
        FROM
            PURAPLORDER
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
    </select>
    <sql id="pageHeader">
       SELECT * FROM (
    </sql>
    <sql id="pageRoot">
        ) WHERE  ROWNUM &lt;=${@fw.common.util.PropertiesUtil@getLong("DOWNLOAD_MAXCNT")}
    </sql>

</mapper>