<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('VOUCHER_REFE_PUR_ALL')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">

<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">

<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.noform.js"></script>
<script language="javascript" TYPE="text/javascript">

<!--
#parse("./common/common_js.vm")

//初期
function onLoad() {
    dataLoadHasPage();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    
    if (errorMsg != ""){
        return;
    }
    var isSuccess = '#jsEscape($!isSuccess)';
    if(isSuccess == 'true'){
            #set( $claim = "#customSpringMessage('PAY_CLAIM_REG')" )
            alert('#customMessageArgs("I028",[$!claim])');
            parent.iframeChange("${flowExecutionUrl}&_eventId=page");
    }
    var isShowApproval = "#jsEscape($isShowApproval)";
    if (isShowApproval == 'true'){
           top.iframeChange("${flowExecutionUrl}&_eventId=individualApproval");
    }
    var isShowDetail = "#jsEscape($isShowDetail)";
    if (isShowDetail == 'true'){
       parent.poppage('${flowExecutionUrl}&_eventId=detail','DETAIL','800','700');
    }
}

//受入詳細
/*
quotReqNo             見積依頼番号
reqInd                依頼区分
slipStatus            伝票ステータス
receiveStatusInd      受入状態区分
inspectStatusInd      検査状態区分
acceptanceStatusInd   検収状態区分

quotAcqAplSeqNo    見積取得申請シーケンス番号
purAplSeqNo        購入申請シーケンス番号
orderSeq           注文シーケンス番号
orderNo            注文番号
quotReqSeqNo       見積依頼シーケンス番号
lastUpdDate        購入依頼の最終更新日時
purReqSeq          購入依頼シーケンス番号
purReqNo           購入依頼番号
*/
function openDetail(reqInd, quotReqNo, slipStatus, receiveStatusInd, inspectStatusInd, acceptanceStatusInd, 
    quotAcqAplSeqNo, purAplSeqNo, orderSeq, orderNo, quotReqSeqNo, lastUpdDateReq, purReqSeq, purAplNo, purReqNo) {

    parent.iframeChange("${flowExecutionUrl}&_eventId=detailValidate","reqInd", reqInd,
    "quotReqNo", quotReqNo,
    "slipStatus", slipStatus,
    "receiveStatusInd", receiveStatusInd,
    "inspectStatusInd", inspectStatusInd,
    "acceptanceStatusInd", acceptanceStatusInd,
    "quotAcqAplSeqNo", quotAcqAplSeqNo,
    "purAplSeqNo", purAplSeqNo,
    "orderSeq", orderSeq,
    "orderNo", orderNo,
    "quotReqSeqNo", quotReqSeqNo,
    "lastUpdDate", lastUpdDateReq,
    "purReqSeq", purReqSeq, 
    "purAplNo", purAplNo, 
    "purReqNo", purReqNo,
    "HIDDENAREA");
}
//-->
</script>

</head>
<body id="BODY" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE', 1, 2+$!PSVIW110PageCreaterForList.printLockColumn());">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
<form id="BodyForm" name="BodyForm"  method="post">
<table id="TABLE" class="ListArea" WIDTH="100%">
    #if($!itemList.slipSearchByBuyerList.size() > 0)
    <thead>
        <tr id="Header">
           <th class="BoxHeaderCenter FontSmall">No.</th><!--No.-->
           <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")<!--詳細--></th>
            #foreach($!item in $!PSVIW110PageCreaterForList.getItemListForBody(0))
                #set($currentOneColumnFlag = $!PSVIW110PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSVIW110PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSVIW110PageCreaterForList.printBRtag($!item)
                #else
                    $!PSVIW110PageCreaterForList.printTHtagClose()
                   $!PSVIW110PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="V_SLIP_BUY.PUR_REQ_NO") 
                   $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SLIP_STATUS") 
                   $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_TYPE_IND") 
                   $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CORRECT_CD") 
                   $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.PUR_REQ_DATE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_DATE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_NO") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.QUOT_REQ_NO") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.PUR_APL_NO") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()==" V_SLIP_BUY.COMMENT_1") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()==" V_SLIP_BUY.ATTACH_FILE_1") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.TITLE_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUP_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUP_ABBR_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBCON_IND") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.EDI_IND") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.KATASHIKI") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.MANUFACT_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.MANUFACT_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_DELIV_DATE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_DELIV_DATE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CURRENCY_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_VOL") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_VOL") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.UNIT_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="DUMMY.RCV_REMAIN_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.RECEIVED_VOL")
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_CANCEL_VOL") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ACCEPT_VOL")
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.UNIT_PRICE_IND") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CURRENCY_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_UNIT_PRICE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_UNIT_PRICE") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_CANCEL_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ACCEPT_AMOUNT")
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.TAX_IND") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUDGET_NO") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBJECT_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBJECT_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.DELIV_PLACE_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.DELIV_PLACE_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_L_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_M_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_S_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_USER_ID") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_USER_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_USER_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_USER_ID") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.LOAD_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.LOAD_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #else
                    $!PSVIW110PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSVIW110PageCreaterForList.printTHtagClose()
        </tr>
    </thead>
       #end
    <tbody>
    #foreach($!payClaimAppListItem in $!itemList.slipSearchByBuyerList)
        <tr id="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">#set( $index = $velocityCount + 1 )$index</td>
            <td class="BoxDetailCenter">
                <img id="DetailButton_0" class="Icon" src="../../image/btnDetailDisp.gif"  onclick="openDetail('#jsEscapeInHTML($!payClaimAppListItem.reqInd)',
                 '#jsEscapeInHTML($!payClaimAppListItem.quotReqNo)',
                 '#jsEscapeInHTML($!payClaimAppListItem.slipStatus)', '#jsEscapeInHTML($!payClaimAppListItem.receiveStatusInd)',
                 '#jsEscapeInHTML($!payClaimAppListItem.inspectStatusInd)', '#jsEscapeInHTML($!payClaimAppListItem.acceptanceStatusInd)',
                 '#jsEscapeInHTML($!payClaimAppListItem.quotAcqAplSeqNo)', '#jsEscapeInHTML($!payClaimAppListItem.purAplSeqNo)',
                 '#jsEscapeInHTML($!payClaimAppListItem.orderSeq)', '#jsEscapeInHTML($!payClaimAppListItem.orderNo)',
                 '#jsEscapeInHTML($!payClaimAppListItem.quotReqSeqNo)', '#jsEscapeInHTML($!payClaimAppListItem.lastUpdDate)',
                 '#jsEscapeInHTML($!payClaimAppListItem.purReqSeq)', '#jsEscapeInHTML($!payClaimAppListItem.purAplNo)',
                 '#jsEscapeInHTML($!payClaimAppListItem.purReqNo)')"></td>
            #foreach($!item in $!PSVIW110PageCreaterForList.getItemListForBody($velocityCount))
                #set($currentOneColumnFlag = $!PSVIW110PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSVIW110PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #elseif(!$currentOneColumnFlag)
                    $!PSVIW110PageCreaterForList.printTDtagClose()
                    $!PSVIW110PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                #end
                #if($!item.getColumnName()=="V_SLIP_BUY.PUR_REQ_NO") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SLIP_STATUS") 
                    #if($!payClaimAppListItem.isReturnBack())
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontStatus Red" align="center"')
                    #else
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontStatus" align="center"')
                    #end
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_TYPE_IND") 
                    $!PSVIW110PageCreaterForList.printSpecial("s25_codeName",$!item,'REQ_TYPE_IND','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CORRECT_CD") 
                    $!PSVIW110PageCreaterForList.printSpecial("s25_codeName",$!item,'CORRECT_CD','',"_data_style",'align="center" class="FontStatus"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.PUR_REQ_DATE") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_NO") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_DATE") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.QUOT_REQ_NO") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.PUR_APL_NO") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.TITLE_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUP_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUP_ABBR_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBCON_IND") 
                    #if("$payClaimAppListItem.subconInd"=="1")
                       <div>$!payClaimAppListItem.subconInd_PageValue</div>
                    #end
                <!-- EDI--> 
                #elseif($!item.getColumnName()=="V_SLIP_BUY.EDI_IND") 
                    $!PSVIW110PageCreaterForList.printSpecial("s25_codeName",$!item,'EDI_IND','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.KATASHIKI") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.MANUFACT_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.MANUFACT_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_DELIV_DATE") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_DELIV_DATE") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CURRENCY_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_VOL") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_VOL") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.UNIT_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="DUMMY.RCV_REMAIN_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.RECEIVED_VOL")
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_CANCEL_VOL") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ACCEPT_VOL")
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.UNIT_PRICE_IND") 
                    $!PSVIW110PageCreaterForList.printSpecial("s25_codeName",$!item,'UNIT_PRICE_IND','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.CURRENCY_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_UNIT_PRICE") 
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_UNIT_PRICE") 
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ORDER_CANCEL_AMOUNT") 
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ACCEPT_AMOUNT")
                    $!PSVIW110PageCreaterForList.printSpecial('s27_list_data_currency', $!item, '_data_style', 'class="FontCurrSmall" align="right"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.TAX_IND") 
                    $!PSVIW110PageCreaterForList.printSpecial("s25_codeName",$!item,'TAX_CD','',"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUDGET_NO") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBJECT_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.SUBJECT_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.DELIV_PLACE_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.DELIV_PLACE_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_L_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_M_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.ITEM_CLASS_S_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_USER_ID") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.REQ_USER_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_USER_ID") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.BUYER_USER_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #elseif($!item.getColumnName()=="V_SLIP_BUY.LOAD_SECTION_CD") 
                    $!PSVIW110PageCreaterForList.printDefault($!item,"_data_style",'align="center"')
                #elseif($!item.getColumnName()=="V_SLIP_BUY.LOAD_SECTION_NAME") 
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #else
                    $!PSVIW110PageCreaterForList.printDefault($!item)
                #end
            #end
            $!PSVIW110PageCreaterForList.printTDtagClose()
              </tr>
         #end
    </tbody>
</table>
<br>

<table id="WAIT" class="NoBorder" style="display:none;width:100%;"><tr><td style="text-align:center;"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中...-->
</form>
<br>
</body>
</html>