<!doctype html>
<html LANG="ja">
<head>
## 2013/06/07 ADD DAIKO_KANEKO
<title>#customSpringMessage('VOUCHER_DETAIL')</title>## 伝票詳細
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

var ROWNUM = 0;

## 2013.01.05 DEL DAIKO_KANEKO
## var TABNUM = 9;

## 2013.01.05 ADD DAIKO_KANEKO
var TABNUM = 11;

var Oldwidth;
var OldHheight;
var nowPage;


function onresize(){
    
}
function onLoad() {
    getObj("closeButton").focus();
## 2013.01.05 DEL DAIKO_KANEKO START
#*
    // 依頼区分
    var reqInd = "$!slipSearchByBuyerItem.reqInd";
    
    // 見積取得申請シーケンス番号
    var quotAcqAplSeqNo = "$!slipSearchByBuyerItem.quotAcqAplSeqNo";
    
    // 見積依頼番号
    var quotReqNo = "$!slipSearchByBuyerItem.quotReqNo";

    // 伝票ステータス
    var slipStatus = "$!slipSearchByBuyerItem.slipStatus";
    
    // 受入状態区分
    var receiveStatusInd = "$!slipSearchByBuyerItem.receiveStatusInd";
    
    // 検査状態区分
    var inspectStatusInd = "$!slipSearchByBuyerItem.inspectStatusInd";
    
    // 検収状態区分
    var acceptanceStatusInd = "$!slipSearchByBuyerItem.acceptanceStatusInd";
    // 【カタログ購入依頼】
    if(reqInd == "2") {
        //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 2
        if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "2") {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSREQ040");
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 1
        else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "1") {
           getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分 = 2
        else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "2") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
        } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分= 1
        else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "1") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
        } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 2
        else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "2") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
        } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 1
        else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "1") {
            getObj("TabHeader_0").className="DetailTabsOff";
            getObj("TabHeader_1").className="DetailTabsOff";
            getObj("TabHeader_2").className="DetailTabsOff";
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            setDisplay("TabHeader_0",true);
            setDisplay("TabHeader_1",true);
            setDisplay("TabHeader_2",true);
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
        } //注文のステータス：1404:注文打切済  
        else if(slipStatus == "1404" ) {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1403:注文打切差戻し
        else if(slipStatus == "1403") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1402:注文打切承認中
        else if(slipStatus == "1402") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1401:注文打切承認待ち
        else if(slipStatus == "1401") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            getObj("TabHeader_6").className="DetailTabsOff";
            getObj("TabHeader_7").className="DetailTabsOff";
            getObj("TabHeader_8").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
            setDisplay("TabHeader_6",true);
            setDisplay("TabHeader_7",true);
            setDisplay("TabHeader_8",true);
        } //注文のステータス：1304:注文取消済
        else if(slipStatus == "1304") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
       } //注文のステータス：1303:注文取消差戻し
        else if(slipStatus == "1303") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1302:注文取消承認中
        else if(slipStatus == "1302") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1301:注文取消承認待ち
        else if(slipStatus == "1301") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1203:注文変更差戻し
        else if(slipStatus == "1203") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1202:注文変更承認中
        else if(slipStatus == "1202") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1201:注文変更承認待ち
        else if(slipStatus == "1201") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1105:注文済
        else if(slipStatus == "1105") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            getObj("TabHeader_5").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
            setDisplay("TabHeader_5",true);
        } //注文のステータス：1104:注文一時保存
        else if(slipStatus == "1104") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
        } //注文のステータス：1103:注文差戻し
        else if(slipStatus == "1103") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
        } //注文のステータス：1102:注文承認中
        else if(slipStatus == "1102") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
        } //注文のステータス：1101:注文承認待ち
        else if(slipStatus == "1101") {
            getObj("TabHeader_3").className="DetailTabsOff";
            getObj("TabHeader_4").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
            setDisplay("TabHeader_4",true);
        } //注文のステータス：0613：購買受付差戻し
        else if(slipStatus == "0613") {
            getObj("TabHeader_3").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
        } //注文のステータス：0612：購買受付済
        else if(slipStatus == "0612") {
            getObj("TabHeader_3").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
        } //注文のステータス：0611：購買未受付
        else if(slipStatus == "0611") {
            getObj("TabHeader_3").className="DetailTabsOff";
            setDisplay("TabHeader_3",true);
        }
    } else {
        // 【都度購入依頼_購入依頼前に見積処理を実施した場合】
        if(quotReqNo != "") {
            //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 2
            if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "2") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "1") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分 = 2
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "2") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分= 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "1") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 2
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "2") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "1") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
            } //注文のステータス：1404:注文打切済  
            else if(slipStatus == "1404" ) {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1403:注文打切差戻し
            else if(slipStatus == "1403") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1402:注文打切承認中
            else if(slipStatus == "1402") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1401:注文打切承認待ち
            else if(slipStatus == "1401") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1304:注文取消済
            else if(slipStatus == "1304") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1303:注文取消差戻し
            else if(slipStatus == "1303") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1302:注文取消承認中
            else if(slipStatus == "1302") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1301:注文取消承認待ち
            else if(slipStatus == "1301") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1203:注文変更差戻し
            else if(slipStatus == "1203") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1202:注文変更承認中
            else if(slipStatus == "1202") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1201:注文変更承認待ち
            else if(slipStatus == "1201") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1105:注文済
            else if(slipStatus == "1105") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1104:注文一時保存
            else if(slipStatus == "1104") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1103:注文差戻し
            else if(slipStatus == "1103") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1102:注文承認中
            else if(slipStatus == "1102") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1101:注文承認待ち
            else if(slipStatus == "1101") {
                if(quotAcqAplSeqNo!=""){
                     getObj("TabHeader_0").className="DetailTabsOff";
                }
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotAcqAplSeqNo!=""){
                     setDisplay("TabHeader_0",true);
                }
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：0506：依頼元差戻し(購買から)
            else if(slipStatus == "0506") {
                getObj("TabHeader_0").className="DetailTabsOff";
                setDisplay("TabHeader_0",true);
            } //注文のステータス：0503：依頼元差戻し(承認者から)
            else if(slipStatus == "0503") {
                getObj("TabHeader_0").className="DetailTabsOff";
                setDisplay("TabHeader_0",true);
            } //注文のステータス：0502：依頼元承認中
            else if(slipStatus == "0502") {
                getObj("TabHeader_0").className="DetailTabsOff";
                setDisplay("TabHeader_0",true);
            } //注文のステータス：0501：依頼元承認待ち
            else if(slipStatus == "0501") {
                getObj("TabHeader_0").className="DetailTabsOff";
                setDisplay("TabHeader_0",true);
            }
            //ＩＴ２-00194-000 2012.12.21 start
            //ステータス：0305：見積中
            else if(slipStatus == "0305") {
                getObj("TabHeader_1").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_1",true);
                setDisplay("TabHeader_3",true);
            }
            //ＩＴ２-00194-000 2012.12.21 end
        } else {
        // 【都度購入依頼_購入依頼前に見積処理を実施しない場合】
            //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 2
            if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "2") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    setDisplay("TabHeader_1",true);
                }
                
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検収状態区分 = 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && acceptanceStatusInd == "1") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分 = 2
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "2") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.検査状態区分= 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && inspectStatusInd == "1") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 2
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "2") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
            } //注文のステータス：1105・12**～14**のいずれか  &伝票管理.受入状態区分 = 1
            else if((slipStatus == "1105" || slipStatus.substr(0,2) == "12" || slipStatus.substr(0,2) == "13" || slipStatus.substr(0,2) == "14") && receiveStatusInd == "1") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
            } //注文のステータス：1404:注文打切済  
            else if(slipStatus == "1404" ) {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1403:注文打切差戻し
            else if(slipStatus == "1403") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1402:注文打切承認中
            else if(slipStatus == "1402") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1401:注文打切承認待ち
            else if(slipStatus == "1401") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                getObj("TabHeader_6").className="DetailTabsOff";
                getObj("TabHeader_7").className="DetailTabsOff";
                getObj("TabHeader_8").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
                setDisplay("TabHeader_6",true);
                setDisplay("TabHeader_7",true);
                setDisplay("TabHeader_8",true);
            } //注文のステータス：1304:注文取消済
            else if(slipStatus == "1304") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1303:注文取消差戻し
            else if(slipStatus == "1303") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1302:注文取消承認中
            else if(slipStatus == "1302") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1301:注文取消承認待ち
            else if(slipStatus == "1301") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1203:注文変更差戻し
            else if(slipStatus == "1203") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1202:注文変更承認中
            else if(slipStatus == "1202") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1201:注文変更承認待ち
            else if(slipStatus == "1201") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1105:注文済
            else if(slipStatus == "1105") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                getObj("TabHeader_5").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
                setDisplay("TabHeader_5",true);
            } //注文のステータス：1104:注文一時保存
            else if(slipStatus == "1104") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1103:注文差戻し
            else if(slipStatus == "1103") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1102:注文承認中
            else if(slipStatus == "1102") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：1101:注文承認待ち
            else if(slipStatus == "1101") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                getObj("TabHeader_4").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
                setDisplay("TabHeader_4",true);
            } //注文のステータス：0422：見積完了(強制)
            else if(slipStatus == "0422") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0421：見積完了
            else if(slipStatus == "0421") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0413：見積採否差戻し
            else if(slipStatus == "0413") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0412：見積採否承認中
            else if(slipStatus == "0412") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0411：見積採否承認待ち
            else if(slipStatus == "0411") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0307：見積回答済
            else if(slipStatus == "0307") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0306：見積回答あり
            else if(slipStatus == "0306") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_2").className="DetailTabsOff";
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_2",true);
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0305：見積中
            else if(slipStatus == "0305") {
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                getObj("TabHeader_3").className="DetailTabsOff";
                if(quotReqNo!=""){
                    getObj("TabHeader_1").className="DetailTabsOff";
                    
                }
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0304：購買一時保存
            else if(slipStatus == "0304") {
               getObj("TabHeader_3").className="DetailTabsOff";
               setDisplay("TabHeader_3",true);
          } //注文のステータス：0303：購買差戻し
            else if(slipStatus == "0303") {
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
           } //注文のステータス：0302：購買承認中
            else if(slipStatus == "0302") {
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
           } //注文のステータス：0301：購買承認待ち
            else if(slipStatus == "0301") {
                 getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0613：購買受付差戻し
            else if(slipStatus == "0613") {
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0612：購買受付済
            else if(slipStatus == "0612") {
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
            } //注文のステータス：0611：購買未受付
            else if(slipStatus == "0611") {
                getObj("TabHeader_3").className="DetailTabsOff";
                setDisplay("TabHeader_3",true);
            } 
        }
    }
    
    if(reqInd == "2") {
        // カタログ購入依頼詳細
        getObj("ahead_3").innerHTML = "#customSpringMessage('CAT_EVERY_PUR_REQ_DTL')";
    } else {
        // 都度購入依頼詳細
        getObj("ahead_3").innerHTML = "#customSpringMessage('EVERY_PUR_REQ_DETAIL')";
    }
  
    // 見積回答詳細表示判断
    var qot080 = "#out($SessionKey_QOT080_Detail)";
    if(qot080 != "1") {
        setDisplay("TabHeader_2",false);
    }
    
    // 納期回答詳細表示判断
    var dlv021 = "#out($SessionKey_DLV021_Detail)";
    if(dlv021 != "1") {
        setDisplay("TabHeader_5",false);
    }
    
    // カタログ購入依頼詳細表示判断
    var cat040 = "#out($SessionKey_CAT040_Detail)";
    if(cat040 != "1" && reqInd == "2") {
        setDisplay("TabHeader_3",false);
    }
    
*#
## 2013.01.05 DEL DAIKO_KANEKO -END-

## 2013.01.05 ADD DAIKO_KANEKO START
    //見積取得依頼
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.quotAcqReqTab == "true")
        getObj("TabHeader_0").className="DetailTabsOff";
        setDisplay("TabHeader_0",true);
    #end

    //見積依頼
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.quotReqTab == "true")
        getObj("TabHeader_1").className="DetailTabsOff";
        setDisplay("TabHeader_1",true);
    #end

    //見積回答
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.quotReqAnsTab == "true")
        getObj("TabHeader_2").className="DetailTabsOff";
        setDisplay("TabHeader_2",true);
    #end

    //購入依頼（カタログ）
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.purReqCatTab == "true")
        getObj("TabHeader_3").className="DetailTabsOff";
        setDisplay("TabHeader_3",true);
    #end

    //購入依頼（都度・その他）
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.purReqTab == "true")
        getObj("TabHeader_4").className="DetailTabsOff";
        setDisplay("TabHeader_4",true);
    #end

    //注文
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.orderTab == "true")
        getObj("TabHeader_5").className="DetailTabsOff";
        setDisplay("TabHeader_5",true);
    #end

    //納期確認
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.delivCheckTab == "true")
        getObj("TabHeader_6").className="DetailTabsOff";
        setDisplay("TabHeader_6",true);
    #end

    //納期回答
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.delivAnsTab == "true")
        getObj("TabHeader_7").className="DetailTabsOff";
        setDisplay("TabHeader_7",true);
    #end

    //受入
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.receiveTab == "true")
        getObj("TabHeader_8").className="DetailTabsOff";
        setDisplay("TabHeader_8",true);
    #end

    //検査
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.inspectTab == "true")
        getObj("TabHeader_9").className="DetailTabsOff";
        setDisplay("TabHeader_9",true);
    #end

    //検収
    #if ($!slipSearchByBuyerItem.slipSearchTabControl.acceptanceTab == "true")
        getObj("TabHeader_10").className="DetailTabsOff";
        setDisplay("TabHeader_10",true);
    #end
## 2013.01.05 ADD DAIKO_KANEKO -END-

    if(getObj("TabHeader_0").style.display != "none") {
        changeTab(0)
    } else if(getObj("TabHeader_1").style.display != "none") {
        changeTab(1)
    } else if(getObj("TabHeader_2").style.display != "none") {
        changeTab(2)
    } else if(getObj("TabHeader_3").style.display != "none") {
        changeTab(3)
    } else if(getObj("TabHeader_4").style.display != "none") {
        changeTab(4)
    } else if(getObj("TabHeader_5").style.display != "none") {
        changeTab(5)
    } else if(getObj("TabHeader_6").style.display != "none") {
        changeTab(6)
    } else if(getObj("TabHeader_7").style.display != "none") {
        changeTab(7)
    } else if(getObj("TabHeader_8").style.display != "none") {
        changeTab(8)

    ## 2013.01.05 ADD DAIKO_KANEKO START
    } else if(getObj("TabHeader_9").style.display != "none") {
        changeTab(9)
    } else if(getObj("TabHeader_10").style.display != "none") {
        changeTab(10)
    ## 2013.01.05 ADD DAIKO_KANEKO -END-

    }
}

function changeTab(no) {
    // 依頼区分
    var reqInd = "#jsEscape($!slipSearchByBuyerItem.reqInd)";
    
    for(i=0; i<TABNUM; i++) {
        if( i==no ) {
            getObj("TabHeader_"+i).className = "DetailTabsOn";
            ## 2013.06.10 DEL DAIKO_KANEKO
            ## document.title = getText("TabHeader_"+i);
        } else {
            getObj("TabHeader_"+i).className = "DetailTabsOff";
        }
    }
    
    // 見積取得申請シーケンス番号
    var quotAcqAplSeqNo = "#jsEscape($!slipSearchByBuyerItem.quotAcqAplSeqNo)";
    
    // 見積依頼シーケンス番号
    var quotReqSeqNo = "#jsEscape($!slipSearchByBuyerItem.quotReqSeqNo)";
    
    // 見積依頼番号
    var quotReqNo = "#jsEscape($!slipSearchByBuyerItem.quotReqNo)";
    
    // 購入申請シーケンス番号
    var purAplSeqNo = "#jsEscape($!slipSearchByBuyerItem.purAplSeqNo)";
    
    // 購入依頼番号
    var purReqNo = "#jsEscape($!slipSearchByBuyerItem.purReqNo)";
    
    // 注文シーケンス番号
    var orderSeq = "#jsEscape($!slipSearchByBuyerItem.orderSeq)";
    
    // 注文番号
    var orderNo = "#jsEscape($!slipSearchByBuyerItem.orderNo)";

    if (no == 0) {
        if(quotAcqAplSeqNo != "" && quotAcqAplSeqNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSREQ040");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    }
    else if(no == 1){
        if(quotReqSeqNo != "" && quotReqSeqNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSQOT020");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    }else if(no == 2){
        if(quotReqNo != "" && quotReqNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSQOT080");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    }else if(no == 3){
        if(purAplSeqNo != "" && purAplSeqNo.length > 0) {

## 2013.01.05 DEL DAIKO_KANEKO START
#*
            if(reqInd == "2") {
                iframeChange("${flowExecutionUrl}&_eventId=TRPSCAT040");
            } else {
                iframeChange("${flowExecutionUrl}&_eventId=TRPSPUR040");
            }
*#
## 2013.01.05 DEL DAIKO_KANEKO -END-

            ## 2013.01.05 ADD DAIKO_KANEKO
            iframeChange("${flowExecutionUrl}&_eventId=TRPSCAT040");

        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }

    ## 2013.01.05 ADD DAIKO_KANEKO START
    }else if(no == 4){
        if(purAplSeqNo != "" && purAplSeqNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSPUR040");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    ## 2013.01.05 ADD DAIKO_KANEKO -END-

    ## 2013.01.05 DEL DAIKO_KANEKO
    ## }else if(no == 4){

    ## 2013.01.05 ADD DAIKO_KANEKO
    }else if(no == 5){
        if(orderSeq != "" && orderSeq.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSORD090");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }

    ## 2013.01.05 ADD DAIKO_KANEKO START
    }else if(no == 6){
        if(orderNo != "" && orderNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSDLV021_CHECK");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    ## 2013.01.05 ADD DAIKO_KANEKO -END-

    ## 2013.01.05 DEL DAIKO_KANEKO
    ## }else if(no == 5){

    ## 2013.01.05 ADD DAIKO_KANEKO
    }else if(no == 7){

        if(orderNo != "" && orderNo.length > 0) {
            ## 2013.01.05 DEL DAIKO_KANEKO
            ## iframeChange("${flowExecutionUrl}&_eventId=TRPSDLV021");

            ## 2013.01.05 ADD DAIKO_KANEKO
            iframeChange("${flowExecutionUrl}&_eventId=TRPSDLV021_ANS");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }

    ## 2013.01.05 DEL DAIKO_KANEKO
    ## }else if(no == 6){

    ## 2013.01.05 ADD DAIKO_KANEKO
    }else if(no == 8){

        if(orderNo != "" && orderNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSRCV050");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }

    ## 2013.01.05 DEL DAIKO_KANEKO
    ## }else if(no == 7){

    ## 2013.01.05 ADD DAIKO_KANEKO
    }else if(no == 9){

        if(orderNo != "" && orderNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSTST050");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }

    ## 2013.01.05 DEL DAIKO_KANEKO
    ## }else if(no == 8){

    ## 2013.01.05 ADD DAIKO_KANEKO
    }else if(no == 10){

        if(orderNo != "" && orderNo.length > 0) {
            iframeChange("${flowExecutionUrl}&_eventId=TRPSACP050");
        } else {
            document.frames["DATAAREA"].location.href = "about:blank";
        }
    }else {
        document.frames["DATAAREA"].location.href = "about:blank";
    }
}


window.onload=init

ie=false
nn=false
if(document.all){ie=true}
if(navigator.appName=="Netscape"||navigator.userAgent.indexOf("Opera")!=-1){nn=true}

function init(){
    if(ie){
    DATAAREA1.document.body.onscroll=scrollie
    DATAAREA2.document.body.onscroll=scrollie
    }
    if(nn){
    scroll=new Array(0,0)
    scrollnn()
    }
}

function scrollie(){
    if(DATAAREA1.event){
        DATAAREA2.scrollTo(DATAAREA2.document.body.scrollLeft,DATAAREA1.document.body.scrollTop)
    }
    if(DATAAREA2.event){
        DATAAREA1.scrollTo(DATAAREA1.document.body.scrollLeft,DATAAREA2.document.body.scrollTop)
    }
}

function scrollnn(){
    var scr0=DATAAREA1.pageYOffset
    var scr1=DATAAREA2.pageYOffset
    if(scr0!=scroll[0]){
        //左がスクロール
        DATAAREA2.scrollTo(0,scr0)
        scroll[0]=scr0
        scroll[1]=scr0
        }else{
        if(scr1!=scroll[1]){
        //右がスクロール
        DATAAREA1.scrollTo(0,scr1)
        scroll[0]=scr1
        scroll[1]=scr1
    }
}
setTimeout("scrollnn()",500)
}


window.onload = function() {
    var isIE = 0<=window.navigator.userAgent.indexOf("MSIE");
    if(isIE && document.compatMode=="BackCompat"){
        document.body.onscroll = ScrollEvent;
    }else{
        document.documentElement.onscroll = ScrollEvent;
    }
}

function ScrollEvent(){
    window.status += "s"; // IEのみ
}

//-->
</script>
</head>
<body  class="DetailBody" onload="onLoad();" onresize="onresize();" style="overflow-y:hidden">

<form name="Body"  >
    <table class="DetailSheet" style="width:100%; height:100%;" align="center">
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input id="closeButton" type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">
                <table class="NoBorder" width="100%">
                    <tr>
                     <td id="TabHeader_0" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(0);">#customSpringMessage('QUOT_ACQ_REQ_DETAIL')</a></td><!-- 見積取得依頼詳細 -->
                        <td id="TabHeader_1" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(1);">#customSpringMessage('QUOT_REQ_DTL')</a></td><!-- 見積依頼詳細 -->
                        <td id="TabHeader_2" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(2);">#customSpringMessage('QUOT_ANS_DTL')</a></td><!-- 見積回答詳細 -->
                        ## 2013.01.05 DEL DAIKO_KANEKO START
                        ##<td id="TabHeader_3" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(3);" id="ahead_3">&nbsp;</a></td><!--カタログ購入依頼詳細 -->
                        ##<td id="TabHeader_4" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(4);">#customSpringMessage('ORDER_DETAIL')</a></td><!--注文詳細 -->
                        ##<td id="TabHeader_5" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(5);">#customSpringMessage('DELIV_RCV_DETAIL')</a></td><!-- 納期回答詳細 -->
                        ##<td id="TabHeader_6" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(6);">#customSpringMessage('RCV_DTL')</a></td><!-- 受入詳細 -->
                        ##<td id="TabHeader_7" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(7);">#customSpringMessage('INS_DETAIL')</a></td><!-- 検査詳細 -->
                        ##<td id="TabHeader_8" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(8);">#customSpringMessage('ACP_DETAIL')</a></td><!-- 検収詳細-->
                        ## 2013.01.05 DEL DAIKO_KANEKO -END-

                        ## 2013.01.05 ADD DAIKO_KANEKO START
                        <td id="TabHeader_3" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(3);">#customSpringMessage('CAT_EVERY_PUR_REQ_DTL')</a></td><!--カタログ購入依頼詳細 -->
                        <td id="TabHeader_4" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(4);">#customSpringMessage('EVERY_PUR_REQ_DETAIL')</a></td><!--都度購入依頼詳細 -->
                        <td id="TabHeader_5" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(5);">#customSpringMessage('ORDER_DETAIL')</a></td><!--注文詳細 -->
                        <td id="TabHeader_6" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(6);">#customSpringMessage('DELIV_CHECK_DETAIL')</a></td><!-- 納期確認詳細 -->
                        <td id="TabHeader_7" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(7);">#customSpringMessage('DELIV_RCV_DETAIL')</a></td><!-- 納期回答詳細 -->
                        <td id="TabHeader_8" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(8);">#customSpringMessage('RCV_DTL')</a></td><!-- 受入詳細 -->
                        <td id="TabHeader_9" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(9);">#customSpringMessage('INS_DETAIL')</a></td><!-- 検査詳細 -->
                        <td id="TabHeader_10" class="DetailTabsOff" style="display:none;" value="" nowrap><a class="Normal" href="javascript:changeTab(10);">#customSpringMessage('ACP_DETAIL')</a></td><!-- 検収詳細-->
                        ## 2013.01.05 ADD DAIKO_KANEKO -END-

                        <td class="DetailTabsNone">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td  class="InterTab">

                

                <!-- １番目のタグ-->
    <!--            
                <tr><td style="height:auto;">
                -->
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="" scrolling="yes" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>

            </td>
        </tr>
        <tr>
            <td class="NoBorder" style="width:100%; height:0px;">

                <table class="NoBorder" style="width:100%; ">
                    <tr>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <input id="Adjust" type="text" style="width:0px;">
</form>
    

</body>
</html>
