<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.common.autoquotrequest.AutoQuotRequestMapper">

    <!-- 見積依頼テーブル登録SQL -->
    <insert id="insertQuotRequest">
    INSERT INTO 
		T_QUOT_REQUEST( 
			  QUOT_REQ_SEQ
			  , QUOT_REQ_NO
			  , QUOT_REQ_VERSION
			  , QUOT_REQ_STATUS
			  , QUOT_ADO_STATUS
			  , QUOT_TYPE_IND
			  , CORRECT_CD
			  , PRE_SEQ
			  , QUOT_ACQ_APL_NO
			  , PUR_APL_NO
			  , NEW_FLG
			  , NEW_APP_FLG
			  , QUOT_RESP_LIMIT_DATE
			  , REQ_COMPANY_CD
			  , REQ_COMPANY_NAME
			  , REQ_SECTION_PLACE_CD
			  , REQ_SECTION_PLACE_NAME
			  , REQ_SECTION_CD
			  , REQ_SECTION_NAME
			  , REQ_USER_ID
			  , REQ_USER_NAME
			  , REQ_USER_EXTENSION_NO
			  , REQ_USER_TEL_NO
			  , REQ_USER_MAIL_ADDR
			  , BUYER_COMPANY_CD
			  , BUYER_COMPANY_NAME
			  , BUYER_SECTION_PLACE_CD
			  , BUYER_SECTION_PLACE_NAME
			  , BUYER_SECTION_CD
			  , BUYER_SECTION_NAME
			  , BUYER_USER_ID
			  , BUYER_USER_NAME
			  , BUYER_USER_EXTENSION_NO
			  , BUYER_USER_TEL_NO
			  , BUYER_USER_MAIL_ADDR
			  , FOR_SUPPRIER_COMMENT
			  , TITLE_NAME
			  , DELIV_PLACE_COMPANY_CD<!-- 納入先会社コード -->
			  , DELIV_PLACE_CD<!-- 納入先コード -->
			  , DELIV_PLACE_NAME<!-- 納入先名 -->
			  , DELIV_PLACE_ZIP_CD<!-- 納入先郵便番号 -->
			  , ITEM_CLASS_COMPANY_CD
			  , ITEM_CLASS_L
			  , ITEM_CLASS_L_NAME
			  , ITEM_CLASS_M
			  , ITEM_CLASS_M_NAME
			  , ITEM_CLASS_S
			  , ITEM_CLASS_S_NAME
			  , ATTACH_FILE_SEQ1
			  , ATTACH_FILE_SEQ2
			  , QUOT_ADO_COMMENT
			  , APP_ROUTE_NO
			  , APP_ROUTE_NAME
			  , DELETE_FLG
			  , AUTO_DELETE_FLG
			  , AUTO_DELETE_DATE
			  , LAST_UPD_DATE
			  , LAST_UPD_COMPANY_CD
			  , LAST_UPD_SECTION_CD
			  , LAST_UPD_USER_ID
			  , REG_DATE
			  , REG_COMPANY_CD
			  , REG_SECTION_CD
			  , REG_USER_ID
		    ) 
		SELECT
			  #{quotReqSeq}<!-- 見積依頼シーケンス番号 -->
              , CASE WHEN T_QUOT_REQUEST_A.QUOT_REQ_NO IS NULL THEN T_SLIP_MNG.SLIP_NO ELSE T_QUOT_REQUEST_A.QUOT_REQ_NO END
			  , CASE WHEN T_QUOT_REQUEST_A.QUOT_REQ_VERSION IS NULL THEN 1 ELSE T_QUOT_REQUEST_A.QUOT_REQ_VERSION + 1 END<!-- 見積依頼版数 -->
			  , '05'<!-- 見積依頼ステータス -->
			  , ''<!-- 見積採否ステータス -->
			  , '1'<!-- 見積区分 -->
			  , '1'<!-- 訂正コード -->
			  , ''<!-- 変更前シーケンス番号 -->
			  , ''<!-- 見積取得申請番号 -->
			  , T_SLIP_MNG.APL_NO<!-- 購入申請番号 -->
			  , '1'<!-- 最新フラグ -->
			  , '1'<!-- 最新承認済みフラグ -->
			  , T_ORDER.PRICE_DEC_DATE<!-- 見積回答提出期限 -->
			  , T_ORDER.REQ_COMPANY_CD
			  , T_ORDER.REQ_COMPANY_NAME
			  , T_ORDER.REQ_SECTION_PLACE_CD
			  , T_ORDER.REQ_SECTION_PLACE_NAME
			  , T_ORDER.REQ_SECTION_CD
			  , T_ORDER.REQ_SECTION_NAME
			  , T_ORDER.REQ_USER_ID
			  , T_ORDER.REQ_USER_NAME
			  , T_ORDER.REQ_USER_EXTENSION_NO
			  , T_ORDER.REQ_USER_TEL_NO
			  , T_ORDER.REQ_USER_MAIL_ADDR
			  , T_ORDER.BUYER_COMPANY_CD
			  , T_ORDER.BUYER_COMPANY_NAME
			  , T_ORDER.BUYER_SECTION_PLACE_CD
			  , T_ORDER.BUYER_SECTION_PLACE_NAME
			  , T_ORDER.BUYER_SECTION_CD
			  , T_ORDER.BUYER_SECTION_NAME
			  , T_ORDER.BUYER_USER_ID
			  , T_ORDER.BUYER_USER_NAME
			  , T_ORDER.BUYER_USER_EXTENSION_NO
			  , T_ORDER.BUYER_USER_TEL_NO
			  , T_ORDER.BUYER_USER_MAIL_ADDR
			  , ''<!-- 取引先向けコメント -->
			  , T_ORDER.TITLE_NAME<!-- 件名 -->
			  , T_ORDER.DELIV_PLACE_COMPANY_CD<!-- 納入先会社コード -->
			  , T_ORDER.DELIV_PLACE_CD<!-- 納入先コード -->
			  , T_ORDER.DELIV_PLACE_NAME<!-- 納入先名 -->
			  , T_ORDER.DELIV_PLACE_ZIP_CD<!-- 納入先郵便番号 -->
			  , T_ORDER.ITEM_CLASS_COMPANY_CD<!-- 品種会社コード -->
			  , T_ORDER.ITEM_CLASS_L<!-- 大分類コード -->
			  , T_ORDER.ITEM_CLASS_L_NAME<!-- 大分類名 -->
			  , T_ORDER.ITEM_CLASS_M<!-- 中分類コード -->
			  , T_ORDER.ITEM_CLASS_M_NAME<!-- 中分類名 -->
			  , T_ORDER.ITEM_CLASS_S<!-- 小分類コード -->
			  , T_ORDER.ITEM_CLASS_S_NAME<!-- 小分類名 -->
			  , T_ORDER.ATTACH_FILE_SEQ1<!-- 添付ファイルシーケンス１ -->
			  , T_ORDER.ATTACH_FILE_SEQ2<!-- 添付ファイルシーケンス２ -->
			  , ''<!-- 見積採否コメント -->
			  , ''<!-- 承認ルート番号 -->
			  , ''<!-- 承認ルート名 -->
			  , '0'<!-- 削除フラグ -->
			  , '0'<!-- 自動データ削除フラグ -->
			  , ''<!-- 自動データ削除日 -->
			  , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
			  , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
			  , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
			  , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
			  , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
			  , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
			  , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
			  , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        FROM        T_ORDER 
        LEFT JOIN   T_SLIP_MNG ON T_ORDER.ORDER_NO = T_SLIP_MNG.SLIP_NO 
        AND         T_SLIP_MNG.DELETE_FLG = '0'
        LEFT JOIN   (
                        SELECT      T_QUOT_REQUEST.QUOT_REQ_NO
                        ,           MAX(T_QUOT_REQUEST.QUOT_REQ_VERSION) AS QUOT_REQ_VERSION
                        FROM        T_QUOT_REQUEST 
                        WHERE       T_QUOT_REQUEST.DELETE_FLG = '0' 
                        GROUP BY    T_QUOT_REQUEST.QUOT_REQ_NO
                    ) T_QUOT_REQUEST_A 
        ON          (T_QUOT_REQUEST_A.QUOT_REQ_NO = T_SLIP_MNG.SLIP_NO
        OR          T_QUOT_REQUEST_A.QUOT_REQ_NO = T_SLIP_MNG.APL_NO)
        WHERE       T_ORDER.ORDER_SEQ = #{orderSeq} AND T_ORDER.DELETE_FLG = '0'
    </insert>
    
    <!-- 見積依頼明細テーブル登録SQL -->
    <insert id="insertQuotReqDel">
    INSERT INTO 
        T_QUOT_REQ_DTL( 
			  QUOT_REQ_SEQ
			  , QUOT_REQ_DTL_NO
			  , QUOT_REQ_NO
			  , QUOT_REQ_VERSION
			  , ITEM_COMPANY_CD
			  , ITEM_CD
			  , ITEM_NAME
			  , KATASHIKI
			  , MANUFACT_CD
			  , MANUFACT_NAME
			  , REQ_DELIV_DATE
			  , CURRENCY_CD
			  , QUOT_REQ_VOL
			  , UNIT_CD
			  , UNIT_NAME
			  , UNIT_PRICE
			  , QUOT_REQ_AMOUNT
			  , ATTACH_FILE_SEQ
			  , DELETE_FLG
			  , AUTO_DELETE_FLG
			  , AUTO_DELETE_DATE
			  , LAST_UPD_DATE
			  , LAST_UPD_COMPANY_CD
			  , LAST_UPD_SECTION_CD
			  , LAST_UPD_USER_ID
			  , REG_DATE
			  , REG_COMPANY_CD
			  , REG_SECTION_CD
			  , REG_USER_ID
            ) 
        SELECT
              #{quotReqSeq}<!-- 見積依頼シーケンス番号 -->
              , T_ORDER.ORDER_NO<!-- 見積依頼明細番号 -->
              , T_QUOT_REQUEST.QUOT_REQ_NO<!-- 見積依頼番号 -->
			  , T_QUOT_REQUEST.QUOT_REQ_VERSION<!-- 見積依頼版数 -->
			  , T_ORDER.ITEM_COMPANY_CD<!-- 品名会社コード -->
			  , T_ORDER.ITEM_CD<!-- 品名コード -->
			  , T_ORDER.ITEM_NAME<!-- 品名 -->
			  , T_ORDER.KATASHIKI<!-- 型式 -->
			  , T_ORDER.MANUFACT_CD<!-- メーカーコード -->
			  , T_ORDER.MANUFACT_NAME<!-- メーカー名 -->
			  , T_ORDER.ORDER_DELIV_DATE<!-- 希望納期 -->
			  , T_ORDER.CURRENCY_CD<!-- 通貨コード -->
			  , T_ORDER.ORDER_VOL<!-- 見積依頼数量 -->
			  , T_ORDER.UNIT_CD<!-- 単位コード -->
			  , T_ORDER.UNIT_NAME<!-- 単位名 -->
			  , T_ORDER.UNIT_PRICE<!-- 単価 -->
			  , T_ORDER.ORDER_AMOUNT<!-- 見積依頼金額 -->
			  , T_ORDER.ATTACH_FILE_SEQ3<!-- 添付ファイルシーケンス番号 -->
			  , '0'
			  , '0'
			  , ''
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        FROM T_ORDER, T_QUOT_REQUEST
        WHERE T_ORDER.ORDER_SEQ = #{orderSeq} AND T_ORDER.DELETE_FLG = '0'
        AND T_QUOT_REQUEST.QUOT_REQ_SEQ = #{quotReqSeq} AND T_QUOT_REQUEST.DELETE_FLG = '0'
    </insert>

    <!-- 見積依頼取引先テーブル登録SQL -->
    <insert id="insertQuotReqSup">
    INSERT INTO 
        T_QUOT_REQ_SUP( 
			  QUOT_REQ_SEQ
			  , QUOT_SUP_LINE_NO
			  , QUOT_SUP_STATUS
			  , QUOT_REQ_NO
			  , QUOT_REQ_VERSION
			  , CORRECT_CD
			  , SUP_REG_FLG
              , APPROVAL_IND
			  , SUP_COMPANY_CD
			  , SUP_CD
			  , SUP_NAME
			  , SUP_ABBR_NAME
			  , SUP_TEL_NO
			  , SUP_FAX_NO
			  , SUP_SECTION_NAME
			  , SUP_PERSON_NAME
			  , SUP_ZIP_CD
			  , SUP_ADDRESS1
			  , SUP_ADDRESS2
			  , SUBCON_IND
			  , EDI_IND
			  , QUOT_REQ_FIRST_DATE
			  , QUOT_REQ_DATE
			  , QUOT_REQ_SEND_IND
			  , REQ_RECEIPT_NUMBER
			  , QUOT_CANCEL_SEND_IND
			  , CANCEL_RECEIPT_NUMBER
			  , FAX_SEND_IND
			  , FAX_RECEIPT_NUMBER
			  , PRINT_IND
              , QUOT_ADO_SEND_IND
			  , ADO_RECEIPT_NUMBER
			  , DELETE_FLG
			  , AUTO_DELETE_FLG
			  , AUTO_DELETE_DATE
			  , LAST_UPD_DATE
			  , LAST_UPD_COMPANY_CD
			  , LAST_UPD_SECTION_CD
			  , LAST_UPD_USER_ID
			  , REG_DATE
			  , REG_COMPANY_CD
			  , REG_SECTION_CD
			  , REG_USER_ID
            ) 
        SELECT
			  #{quotReqSeq}<!-- 見積依頼シーケンス番号 -->
			  , '1'<!-- 見積取引先行番号 -->
			  , '01'<!-- 見積依頼取引先ステータス -->
			  , T_QUOT_REQUEST.QUOT_REQ_NO<!-- 見積依頼番号 -->
			  , T_QUOT_REQUEST.QUOT_REQ_VERSION<!-- 見積依頼版数 -->
			  , '1'<!-- 訂正コード -->
			  , '1'<!-- 取引先マスタ登録フラグ -->
              , '1'<!-- 承認区分 -->
			  , T_ORDER.SUP_COMPANY_CD<!-- 取引先会社コード -->
			  , T_ORDER.SUP_CD<!-- 取引先コード -->
			  , T_ORDER.SUP_NAME<!-- 取引先名 -->
			  , T_ORDER.SUP_ABBR_NAME<!-- 取引先名（略称） -->
			  , M_SUPPLIER.TEL_NO<!-- 取引先電話番号 -->
			  , M_SUPPLIER.FAX_NO<!-- 取引先FAX番号 -->
			  , CASE WHEN M_SUPPLIER_LANG.SUP_CD IS NULL THEN M_SUPPLIER_LANG_A.SUP_SECTION_NAME ELSE M_SUPPLIER_LANG.SUP_SECTION_NAME END<!-- 取引先所属名 -->
			  , CASE WHEN M_SUPPLIER_LANG.SUP_CD IS NULL THEN M_SUPPLIER_LANG_A.SUP_PERSON_NAME ELSE M_SUPPLIER_LANG.SUP_PERSON_NAME END<!-- 取引先担当者名 -->
			  , M_SUPPLIER.ZIP_CD<!-- 取引先郵便番号 -->
			  , CASE WHEN M_SUPPLIER_LANG.SUP_CD IS NULL THEN M_SUPPLIER_LANG_A.ADDRESS1 ELSE M_SUPPLIER_LANG.ADDRESS1 END<!-- 取引先住所１ -->
			  , CASE WHEN M_SUPPLIER_LANG.SUP_CD IS NULL THEN M_SUPPLIER_LANG_A.ADDRESS2 ELSE M_SUPPLIER_LANG.ADDRESS2 END<!-- 取引先住所２ -->
			  , T_ORDER.SUBCON_IND<!-- 下請法適用業者区分 -->
			  , T_ORDER.EDI_IND<!-- EDIデータ送受信方法 -->
			  , CASE WHEN #{quotReqFirstDate} = '' OR #{quotReqFirstDate} IS NULL THEN '${@fw.common.util.AppUtil@getSysDate()}' ELSE #{quotReqFirstDate} END<!-- 初回見積依頼日 -->
			  , '${@fw.common.util.AppUtil@getSysDate()}'<!-- 見積依頼日 -->
			  , CASE WHEN T_ORDER.EDI_IND = '1' THEN '0' ELSE '9' END<!-- 依頼データ送信区分 -->
              , ''<!-- 依頼受付番号 -->
              , ' '<!-- 取消データ送信区分 -->
              , ''<!-- 取消受付番号 -->
			  , CASE WHEN M_SUPPLIER.QUOT_FAX_IND = '1' THEN '0' ELSE '9' END<!-- FAX送信区分 -->
              , ''<!-- FAX受付番号 -->
			  , '0'<!-- 印刷区分 -->
			  , ' '<!-- 採否データ送信区分 -->
              , ''<!-- 採否受付番号 -->
			  , '0'
			  , '0'
			  , ''
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        FROM T_ORDER 
        LEFT JOIN T_QUOT_REQUEST ON T_QUOT_REQUEST.QUOT_REQ_SEQ = #{quotReqSeq} 
            AND T_QUOT_REQUEST.DELETE_FLG = '0'
        LEFT JOIN T_QUOT_REQ_SUP ON T_ORDER.QUOT_REQ_NO = T_QUOT_REQ_SUP.QUOT_REQ_NO 
            AND T_ORDER.SUP_CD = T_QUOT_REQ_SUP.SUP_CD
            AND T_QUOT_REQ_SUP.DELETE_FLG = '0'
        LEFT JOIN M_SUPPLIER
            ON (T_ORDER.SUP_COMPANY_CD = M_SUPPLIER.COMPANY_CD OR M_SUPPLIER.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
            AND T_ORDER.SUP_CD = M_SUPPLIER.SUP_CD
            AND M_SUPPLIER.VALID_START_DATE &lt;= ${@fw.common.util.AppUtil@getSysDate()}
            AND M_SUPPLIER.VALID_END_DATE &gt;= ${@fw.common.util.AppUtil@getSysDate()}
            AND M_SUPPLIER.TERM_FLG = '0'
        LEFT JOIN M_SUPPLIER_LANG
            ON M_SUPPLIER.COMPANY_CD = M_SUPPLIER_LANG.COMPANY_CD
            AND M_SUPPLIER.SUP_CD = M_SUPPLIER_LANG.SUP_CD
            AND M_SUPPLIER_LANG.LANGUAGE_IND = '${@fw.security.SecurityUtil@getCompanyUseLanguageIndByEscapeSql()}' 
        LEFT JOIN M_SUPPLIER_LANG M_SUPPLIER_LANG_A
            ON M_SUPPLIER.COMPANY_CD = M_SUPPLIER_LANG_A.COMPANY_CD
            AND M_SUPPLIER.SUP_CD = M_SUPPLIER_LANG_A.SUP_CD
            AND M_SUPPLIER_LANG_A.LANGUAGE_IND = '${@fw.common.util.AppUtil@getSysLanguageByEscapeSql()}' 
        WHERE T_ORDER.ORDER_SEQ = #{orderSeq} AND T_ORDER.DELETE_FLG = '0'
    </insert>
    
    <!-- 見積依頼取引先言語テーブル登録SQL -->
    <insert id="insertQuotReqSupLng">
    INSERT INTO 
        T_QUOT_REQ_SUP_LNG( 
			  QUOT_REQ_SEQ
			  , QUOT_SUP_LINE_NO
			  , SUP_LANGUAGE_IND
			  , REQ_COMPANY_NAME
			  , REQ_SECTION_PLACE_NAME
			  , REQ_SECTION_NAME
			  , REQ_USER_NAME
			  , BUYER_COMPANY_NAME
			  , BUYER_SECTION_PLACE_NAME
			  , BUYER_SECTION_NAME
			  , BUYER_USER_NAME
			  , ITEM_CLASS_L_NAME
			  , ITEM_CLASS_M_NAME
			  , ITEM_CLASS_S_NAME
			  , SUP_NAME
			  , SUP_ABBR_NAME
			  , SUP_SECTOIN_NAME
			  , SUP_PERSON_NAME
			  , SUP_ADDRESS1
			  , SUP_ADDRESS2
			  , DELIV_PLACE_NAME
			  , DELIV_PLACE_ADDRESS1
			  , DELIV_PLACE_ADDRESS2
			  , DELIV_PLACE_NAME_LIB
			  , DELETE_FLG
			  , AUTO_DELETE_FLG
			  , AUTO_DELETE_DATE
			  , LAST_UPD_DATE
			  , LAST_UPD_COMPANY_CD
			  , LAST_UPD_SECTION_CD
			  , LAST_UPD_USER_ID
			  , REG_DATE
			  , REG_COMPANY_CD
			  , REG_SECTION_CD
			  , REG_USER_ID
            ) 
        SELECT
			  #{quotReqSeq}
			  , '1'
			  , T_ORDER_SUP_LNG.SUP_LANGUAGE_IND
			  , T_ORDER_SUP_LNG.REQ_COMPANY_NAME
			  , T_ORDER_SUP_LNG.REQ_SECTION_PLACE_NAME
			  , T_ORDER_SUP_LNG.REQ_SECTION_NAME
			  , T_ORDER_SUP_LNG.REQ_USER_NAME
			  , T_ORDER_SUP_LNG.BUYER_COMPANY_NAME
			  , T_ORDER_SUP_LNG.BUYER_SECTION_PLACE_NAME
			  , T_ORDER_SUP_LNG.BUYER_SECTION_NAME
			  , T_ORDER_SUP_LNG.BUYER_USER_NAME
			  , T_ORDER_SUP_LNG.ITEM_CLASS_L_NAME
			  , T_ORDER_SUP_LNG.ITEM_CLASS_M_NAME
			  , T_ORDER_SUP_LNG.ITEM_CLASS_S_NAME
			  , T_ORDER_SUP_LNG.SUP_NAME
			  , T_ORDER_SUP_LNG.SUP_ABBR_NAME
			  , M_SUPPLIER_LANG.SUP_SECTION_NAME
			  , M_SUPPLIER_LANG.SUP_PERSON_NAME
			  , M_SUPPLIER_LANG.ADDRESS1
			  , M_SUPPLIER_LANG.ADDRESS2
              , T_ORDER_SUP_LNG.DELIV_PLACE_NAME
              , T_ORDER_SUP_LNG.DELIV_PLACE_ADDRESS1
              , T_ORDER_SUP_LNG.DELIV_PLACE_ADDRESS2
              , T_ORDER_SUP_LNG.DELIV_PLACE_NAME_INB
			  , '0'
			  , '0'
			  , ''
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        FROM T_ORDER_SUP_LNG
        LEFT JOIN T_ORDER ON T_ORDER_SUP_LNG.ORDER_SEQ = T_ORDER.ORDER_SEQ 
            AND T_ORDER.DELETE_FLG = '0'
        LEFT JOIN M_SUPPLIER
            ON (T_ORDER.SUP_COMPANY_CD = M_SUPPLIER.COMPANY_CD OR M_SUPPLIER.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
            AND T_ORDER.SUP_CD = M_SUPPLIER.SUP_CD
            AND M_SUPPLIER.VALID_START_DATE &lt;= ${@fw.common.util.AppUtil@getSysDate()}
            AND M_SUPPLIER.VALID_END_DATE &gt;= ${@fw.common.util.AppUtil@getSysDate()}
            AND M_SUPPLIER.TERM_FLG = '0'
        LEFT JOIN M_SUPPLIER_LANG
            ON M_SUPPLIER.COMPANY_CD = M_SUPPLIER_LANG.COMPANY_CD
            AND M_SUPPLIER.SUP_CD = M_SUPPLIER_LANG.SUP_CD
            AND M_SUPPLIER_LANG.LANGUAGE_IND = T_ORDER_SUP_LNG.SUP_LANGUAGE_IND
        WHERE T_ORDER_SUP_LNG.ORDER_SEQ = #{orderSeq}
    </insert>

    <!-- 見積依頼明細取引先言語テーブル登録SQL -->
    <insert id="insertQuotReqDelSupLng">
    INSERT INTO 
        T_QUOT_REQ_DTL_SUP_LNG( 
			  QUOT_REQ_SEQ
			  , QUOT_SUP_LINE_NO
			  , QUOT_REQ_DTL_NO
			  , ITEM_NAME
			  , MANUFACT_NAME
			  , UNIT_NAME
			  , DELETE_FLG
			  , AUTO_DELETE_FLG
			  , AUTO_DELETE_DATE
			  , LAST_UPD_DATE
			  , LAST_UPD_COMPANY_CD
			  , LAST_UPD_SECTION_CD
			  , LAST_UPD_USER_ID
			  , REG_DATE
			  , REG_COMPANY_CD
			  , REG_SECTION_CD
			  , REG_USER_ID
            ) 
        SELECT
			  #{quotReqSeq}
			  , '1'
			  , T_ORDER.ORDER_NO<!-- 見積依頼明細番号 -->
			  , T_ORDER_SUP_LNG.ITEM_NAME
			  , T_ORDER_SUP_LNG.MANUFACT_NAME
			  , T_ORDER_SUP_LNG.UNIT_NAME
			  , '0'
			  , '0'
			  , ''
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
              , '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}'
              , '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
              , '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        FROM T_ORDER_SUP_LNG, T_ORDER
        WHERE T_ORDER_SUP_LNG.ORDER_SEQ = #{orderSeq}
          AND T_ORDER.ORDER_SEQ = T_ORDER_SUP_LNG.ORDER_SEQ 
    </insert>
    
    <select id="getQuotReqFirstDate" resultType="string">
        SELECT 
              T_QUOT_REQ_SUP.QUOT_REQ_FIRST_DATE
        FROM T_ORDER, T_QUOT_REQ_SUP,T_QUOT_REQUEST
        WHERE T_QUOT_REQ_SUP.QUOT_REQ_SEQ = #{quotReqSeq}
          AND T_QUOT_REQUEST.QUOT_REQ_SEQ = T_QUOT_REQ_SUP.QUOT_REQ_SEQ
          AND T_QUOT_REQUEST.NEW_FLG ='1'
          AND T_QUOT_REQUEST.DELETE_FLG = '0'
          AND T_ORDER.SUP_CD = T_QUOT_REQ_SUP.SUP_CD
          AND T_QUOT_REQ_SUP.DELETE_FLG = '0'
          AND T_ORDER.ORDER_SEQ = #{orderSeq} AND T_ORDER.DELETE_FLG = '0'
    </select>
    
    <update id="updateOldQuotReq">
        UPDATE  T_QUOT_REQUEST
        SET     NEW_FLG = '0',
                NEW_APP_FLG = '0',
                LAST_UPD_DATE       = '${@fw.common.util.AppUtil@getSysDateYyyyMMddHHmmssSSS()}',
                LAST_UPD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
                LAST_UPD_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
                LAST_UPD_USER_ID    = '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        WHERE   EXISTS (
                    SELECT      *
                    FROM        T_ORDER
                    INNER JOIN  T_SLIP_MNG 
                    ON          T_ORDER.ORDER_NO = T_SLIP_MNG.SLIP_NO
                    AND         T_SLIP_MNG.DELETE_FLG = '0'
                    WHERE       T_ORDER.ORDER_SEQ = #{orderSeq}
                    AND         T_ORDER.DELETE_FLG = '0'
                    AND         (T_SLIP_MNG.APL_NO = T_QUOT_REQUEST.QUOT_REQ_NO
                    OR          T_SLIP_MNG.SLIP_NO = T_QUOT_REQUEST.QUOT_REQ_NO)
                )
        AND     (NEW_FLG = '1' OR NEW_APP_FLG = '1')
    </update>
</mapper>