<!doctype html>
<html LANG="ja">
<head>
<title>#springMessage("QUOT_ANS_DTL")</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
#set($detailViewStateID='PSQOT080_02')
<!--
var title = top.document.title;
#parse("./common/common_js.vm")
top.document.title = title;

function onLoad() {
    changeFontSize();
}

function changeFontSize() {
    changeFontSize0();
}

function downloadFile(seqNo) {
    iframeChange("${flowExecutionUrl}&_eventId=download&seqNo="+seqNo, "HIDDENAREA");
}

function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}

//-->
</script>
</head>
<body onload="onLoad();"  topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" style="overflow-y:auto;">
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    <table class="NoBorder" width="100%">
        <tr>
            <td class="Box3H" nowrap align="center" style="height:40px;">
                <table class="NoBorder" width="100%" >
                    <tr>
                        <td class="FontLargeBold DarkBlue">
                            #springMessage("QUOT_REQ_INFO")<!-- 見積依頼情報 -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        	<td>

    <table class="Box1G" width="100%" >
        <tbody class="Box1D">
        $!PSQOT080_02PageCreater.build('upd', '_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1H FontBoxHeader" colspan="2"')
        #foreach($!item in $!PSQOT080_02PageCreater.getItemListForBody())
            #if($!item.getColumnName()=="T_QUOT_REQUEST.ITEM_CLASS_S")
                $!PSQOT080_02PageCreater.printSpecial("m10_showItemKind",$!item)
            #elseif($!item.getColumnName()=="T_QUOT_REQUEST.TITLE_NAME")
                $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                <tr>
                    <td class="Box1H FontBoxHeader" colspan="2">
                        #springMessage("CURRENCY_CD")<!-- 通貨コード -->
                    </td>
                    <td class="Box1D FontSmall">
                        #out($!domain.quotReqInfo.currency.currencyCd)
                    </td>
                </tr>
                <tr>
                    <td nowrap class="Box1H FontBoxHeader" colspan="2">
                        #springMessage("TOTAL_HOPE_QUOT_PRICE")<!-- 希望金額計 -->
                    </td>
                    <td nowrap class="Box1D FontCurrSmall">
                        #out($!domain.quotReqInfo.currency.currencyMark)
                        #out($!domain.quotReqInfo.hopeAmount.amountFormat)
                    </td>
                </tr>
            #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.SUP_CD")
                $!PSQOT080_02PageCreater.printSpecial("HOPE_SUPPLIER","m31_showSupplierSimple",$!item, '_name_style', 'class="FontUserName"')
            #elseif($!item.getColumnName()=="T_QUOT_REQUEST.FOR_SUPPRIER_COMMENT")
                $!PSQOT080_02PageCreater.printSpecial('s00_label', $!item)
            #elseif($!item.getColumnName()=="T_QUOT_REQUEST.FOR_BUYER_COMMENT")
                $!PSQOT080_02PageCreater.printSpecial('s00_label', $!item)
            #elseif($!item.getColumnName()=="T_QUOT_REQUEST.ATTACH_FILE_SEQ1")
                $!PSQOT080_02PageCreater.printSpecial("s13_showFile2",$!item,'_event','onclick = "downloadFile(id);"','_event2','onclick = "downloadFile(id);"')
            #elseif($!item.getColumnName()=="T_QUOT_ACQ_APL.PRICE_REQ_FLG")
                $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
            #else
                $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
            #end

        #end
        </tbody>

        <tbody class="Box1H FontBoxHeader">
            $!PSQOT080_02PageCreater.buildDetail('index')
            #foreach($!itemItem in $!domain.quotReqInfo.quotReqInfoItemList)
            <tbody id="Detail$velocityCount" class="Box1H FontBoxHeader">
                #set($listCount=$!PSQOT080_02PageCreater.getItemListForDetail($velocityCount).size())
                #foreach($!item in $!PSQOT080_02PageCreater.getItemListForDetail($velocityCount))
                    #if(($velocityCount+1) == $listCount)
                        $!PSQOT080_02PageCreater.build('upd','_td_style_left', 'class="Box1Hdt FontBoxHeader" width="17%"','_td_style_right', 'class="Box1Ddt FontSmall"')
                    #else
                        $!PSQOT080_02PageCreater.build('upd','_td_style_left', 'class="Box1Hd FontBoxHeader" width="17%"','_td_style_right', 'class="Box1Dd FontSmall"')
                    #end
                    #if($!item.getColumnName()=="T_QUOT_REQ_DTL.ITEM_CD")
                        $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.ITEM_NAME")
                        $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.MANUFACT_CD")
                        $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.KATASHIKI")
                        $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.REQ_DELIV_DATE")
                        $!PSQOT080_02PageCreater.printDefaultForCancel("DELIV_DATE", $!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.QUOT_REQ_VOL")
                        $!PSQOT080_02PageCreater.printSpecial("VOL", 's16_showVol', $!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.CURRENCY_CD")
                        $!PSQOT080_02PageCreater.printSpecial("s00_label",$!item)
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.UNIT_PRICE")
                        $!PSQOT080_02PageCreater.printSpecial("UNIT_PRICE", "s24_currency", $!item,"_item_style",'class="FontCurrSmall"')
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.QUOT_REQ_AMOUNT")
                        $!PSQOT080_02PageCreater.printSpecial("AMOUNT", "s24_currency", $!item,"_item_style",'class="FontCurrSmall"')
                    #elseif($!item.getColumnName()=="T_QUOT_REQ_DTL.ATTACH_FILE_SEQ")
                        $!PSQOT080_02PageCreater.printSpecial("REQ_ATTACH", "s12_showFile1",$!item,'_event','onclick = "downloadFile(id);"','_event2','onclick = "downloadFile(id);"')
                    #else
                        $!PSQOT080_02PageCreater.printDefaultForCancel($!item)
                    #end
                #end
            </tbody>
            #end
        </tbody>
    </table>

    </td>
   </tr>
  </table>
    <iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</form>
</body>
</html>
<script language="javascript" type="text/javascript">
parent.iframeChange("${flowExecutionUrl}&_eventId=PSQOT080_03","DATAAREA2");
</script>