    #if(!$!_userCdIme)
        #set($_userCdIme=$!ime)
    #end
    #if(!$!_userNameIme)
        #set($_userNameIme=$!ime)
    #end
    #if(!$!_extensionNoIme)
        #set($_extensionNoIme=$!ime)
    #end
    #if(!$!_externalNoIme)
        #set($_externalNoIme=$!ime)
    #end
    #if(!$!_imageName)
        #set($_imageName='UserSearch')
    #end
    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right nowrap>
        <table class="NoBorder">
            <tr>
                <td valign="top">
                    <img class="Mark" src="../../image/mrkHuman.gif">
                </td>
                <td nowrap class="FontSmall">
                    <input 
                        id="$!sectionCd" 
                        name="$!sectionCd" 
                        type="text" 
                        class="Small" 
                        style="background:transparent;border:0px" 
                        size="14" 
                        readonly 
                        tabindex="-1"
                        value="$!sectionCdValue">
                    <input 
                        id="$!sectionName" 
                        name="$!sectionName" 
                        type="text" 
                        class="Small"
                        style="background:transparent;border:0px" 
                        size="35" 
                        readonly
                        tabindex="-1"
                        value="$!sectionNameValue"><br>
                    <input 
                        id="$!userCd" 
                        name="$!userCd"
                        class="Small $!_userCdIme" 
                        maxlength="12" 
                        type="text"
                        size="20" 
                        value="$!userCdValue"
                        $!_userCdEvent>
                    <input 
                        id="$!userName" 
                        name="$!userName"
                        class="SmallDsp $!_userNameIme" 
                        type="text" 
                        size="35" 
                        readonly 
                        tabindex="-1"
                        value="$!userNameValue">
                    <img 
                        class="Icon" 
                        name="$!_imageName" 
                        src="../../image/btnLupe.gif" 
                        onclick="userPopup.setObject(getObj('$!userCd'),
                                                    getObj('$!userName'),
                                                    getObj('$!sectionCd'),
                                                    getObj('$!sectionName'),
                                                    getObj('$!officialName'),
                                                    getObj('$!sectionPlaceCd'),
                                                    getObj('$!sectionPlaceName'),
                                                    getObj('$!emailAddr'),
                                                    getObj('$!extensionNo'),
                                                    getObj('$!externalNo'),
                                                    getObj('$!faxNo'));
                                masterSearch('../../src/userPopup/search?pageid=userPopupSearch&popupPageid=$!popupPageid',
                                              'UserSearch',
                                              '750',
                                              '500',
                                              document.getElementById('$!userCd'),
                                              document.getElementById('$!userName'));">
                </td>
                <td>
                    <table class="NoBorder">
                        <tr>
                            <td>
                                <img class="Mark" src="../../image/mrkTel.gif">
                            </td>
                            <td class="FontSmall" nowrap>#customSpringMessage('EXTENSION_NO'):
                            </td>
                            <td align="left">
                                <input 
                                    id="$!extensionNo"
                                    name="$!extensionNo" 
                                    class="SmallAnk noIME" 
                                    maxlength="20" 
                                    type="text" 
                                    size="25" 
                                    value="$!extensionNoValue"
				                    $!_extensionNoEvent>
                            </td>
                            <td class="FontSmall" nowrap>#customSpringMessage('EXTERNAL_NO'):
                            </td>
                            <td align="left">
                                <input 
                                    id="$!externalNo" 
                                    name="$!externalNo" 
                                    class="SmallAnk noIME" 
                                    maxlength="20" 
                                    type="text" 
                                    size="25" 
                                    value="$!externalNoValue"
				                    $!_externalNoEvent>
                            </td>
                        </tr>
                    </table>
                    <table class="NoBorder">
                        <tr>
                            <td>
                                <img class="Mark" src="../../image/mrkMail.gif">
                            </td>
                            <td id="EMAIL" nowrap>
                              <input 
                              type="hidden" 
                              id="$!officialName" 
                              name="$!officialName" 
                              value="$!officialNameValue" >
                              <input 
                              type="hidden" 
                              id="$!sectionPlaceName" 
                              name="$!sectionPlaceName" 
                              value="$!sectionPlaceNameValue" >
                              <input 
                              type="hidden" 
                              id="$!sectionPlaceCd" 
                              name="$!sectionPlaceCd" 
                              value="$!sectionPlaceCdValue" >
                              <input 
                              type="hidden" 
                              id="$!emailAddr" 
                              name="$!emailAddr" 
                              value="$!emailAddrValue" >
                                <a id = "link.$!emailAddr" class="FontMiniAnk" href='mailto:$!userNameValue<$!emailAddrValue>'>$!emailAddrValue</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
