    #if(!$!_imageName)
        #set($_imageName='ItemKindSearch')
    #end
    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.searchMethod.searchType.searchType=='1')
            <span class="FontComment">＊</span>
        #elseif($!itemDefinitionDetail.searchMethod.searchType.searchType=='2')
            <span class="FontComment">％</span>
        #end
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right nowrap>
        <table class="FontSmall">
            <tr>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_L_ABBR')</div>
                </td>
                <td>
                    <input 
                        id="$!itemClassL" 
                        name="$!itemClassL" 
                        type="hidden" 
                        value="$!itemClassLValue">
                   ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf START +++++
                    <input 
                        id="$!itemClassLName" 
                        name="$!itemClassLName" 
                        type="text" class="SmallDsp" 
                        size="20" 
                        tabindex = '-1'
                        readonly
                        value="$!itemClassLNameValue" 
                        >
                   ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf END +++++
                   ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf START -----
                   #*
                   <input 
                        id="$!itemClassLName" 
                        name="$!itemClassLName" 
                        type="text" class="SmallDsp" 
                        size="20" 
                        readonly
                        value="$!itemClassLNameValue" 
                        >
                    *#
                   ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf END -----
                </td>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_M_ABBR')</div>
                </td>
                <td>
                    <input 
                        id="$!itemClassM" 
                        name="$!itemClassM" 
                        type="hidden" 
                        value="$!itemClassMValue">
                  ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf START +++++      
                    <input 
                        id="$!itemClassMName" 
                        name="$!itemClassMName" 
                        type="text" 
                        class="SmallDsp" 
                        size="20" 
                        tabindex = '-1'
                        readonly
                        value="$!itemClassMNameValue" 
                        >
                  ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf END +++++ 
                  ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf START ----- 
                  #* <input 
                        id="$!itemClassMName" 
                        name="$!itemClassMName" 
                        type="text" 
                        class="SmallDsp" 
                        size="20" 
                        readonly
                        value="$!itemClassMNameValue" 
                        >*#
                  ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf END ----- 
                </td>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_S_ABBR')</div>
                </td>
                <td>
                    <input 
                        id="$!itemClassS" 
                        name="$!itemClassS" 
                        type="hidden" 
                        value="$!itemClassSValue">
                   ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf START +++++ 
                    <input 
                        id="$!itemClassSName" 
                        name="$!itemClassSName" 
                        type="text" 
                        class="SmallDsp" 
                        size="20" 
                        readonly
                        tabindex = '-1'
                        value="$!itemClassSNameValue" >
                   ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf END +++++ 
                   ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf START ----- 
                   #*<input 
                        id="$!itemClassSName" 
                        name="$!itemClassSName" 
                        type="text" 
                        class="SmallDsp" 
                        size="20" 
                        readonly
                        value="$!itemClassSNameValue" >*#
                   ## ---- 強化-00717-000 2013/03/28 DEL SBO_wangzf END ----- 
                </td>
                <td>
                    <img class="Icon" 
                         name="$!_imageName" src="../../image/btnLupe.gif" 
                         #* ----- 2013/02/14 DEL DAIKO_YAMAGUCHI
                         onclick="itemKindPopup.setParam('$!_termFlag','$!_companyCd','$!_itemClassL','$!_itemClassM');
                         *#
                         ## +++++ 2013/02/14 ADD DAIKO_YAMAGUCHI START
                         onclick="itemKindPopup.setParam('','','#jsEscapeInHTML($$!_itemClassL)','#jsEscapeInHTML($$!_itemClassM)','#jsEscapeInHTML($$!_sectionTypeCode)');
                         ## +++++ 2013/02/14 ADD DAIKO_YAMAGUCHI -END-
                                  itemKindPopup.setObject(getObj('$!itemClassLName'),
                                                          getObj('$!itemClassMName'),
                                                          getObj('$!itemClassSName'),
                                                          getObj('$!itemClassL'),
                                                          getObj('$!itemClassM'),
                                                          getObj('$!itemClassS'),
                                                          getObj('$!sectionCd'),
                                                          getObj('$!sectionName'),
                                                          getObj('$!userCd'),
                                                          getObj('$!userName'));
                                  masterSearch('../../src/itemKindPopup/search?pageid=itemKindPopupSearch&popupPageid=$!popupPageid',
                                               'ProductKindSearch',
                                               '750','500');">
                </td>
            </tr>
        </table>
            <input 
                        id="$!sectionCd" 
                        name="$!sectionCd" 
                        type="hidden"
                        value="$!sectionCdValue">
            <input 
                        id="$!sectionName" 
                        name="$!sectionName" 
                        type="hidden" 
                        value="$!sectionNameValue">
            <input 
                        id="$!userCd" 
                        name="$!userCd" 
                        type="hidden" 
                        value="$!userCdValue">
            <input 
                        id="$!userName" 
                        name="$!userName" 
                        type="hidden"
                        value="$!userNameValue">
    </td>
