    #if($!patternName == "6")
        <td $!_td_style_left>
            #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        </td>
        <td $!_td_style_right>
            <span $!_item_style>
                    $!itemCdValue
            </span>
            <input 
                id="$!itemCd" 
                name="$!itemCd" 
                type="hidden" 
                value="$!itemCdValue">
        </td>
    #else
        #if(!$!_masterCdIme)
            #set($_masterCdIme=$!ime)
        #end
        #if(!$!_masterNameIme)
            #set($_masterNameIme=$!ime)
        #end
        #if(!$!_imageName)
            #set($_imageName='itemSearch')
        #end
        <td $!_td_style_left nowrap>
             #customSpringMessage('ITEM_CD')
        </td>
        #customFormHiddenInput("isClassify" "fasle")
        <td $!_td_style_right nowrap>
            <input 
            class="$!_item_style $!_masterCdIme Small" 
            id="$!itemCd" 
            name="$!itemCd" 
            type="text" 
            maxlength="25" 
            size="44" 
            value="$!itemCdValue"
            onblur="$!_setItemName"
            $!_event>
            <img class="Icon" 
                 name="$!_imageName$!_index" 
                 id = "$!_imageName$!_index"
                 tabindex = '-1'
                 src="../../image/btnLupe.gif" 
                 onclick="itemPopup.setParam('','','#jsEscapeInHTML($!_reqVol)','#jsEscapeInHTML($!_sysDate)','#jsEscapeInHTML($!_reqDate)');
                          itemPopup.setObject(
                          getObj('$!itemCd'),
                          getObj('$!_itemNameObj'),
                          null,
                          null,
                          null,
                          null,
                          null,
                          null,
                          getObj('$!_manufactCdObj'),
                          getObj('$!_manufactNameObject'),
                          getObj('$!_katashikiObj'),
                          getObj('$!_unitCdObject'),
                          getObj('$!_unitNameObject'),
                          null,
                          null,
                          null,
                          null,
                          null,
                          null,
                          getPriceObj$!_index('$!_priceObj'),
                          null,
                          null,
                          null,
                          null,
                          getObj('$!_subjectCdObject'),
                          getObj('$!_subjectNameObject')
                          );
                          masterSearch('../../src/itemPopup/search?pageid=itemPopupSearch&popupPageid=$!popupPageid',
                                       'itemPopup',
                                       '850',
                                       '600');setNum$!_index();return false;">
        </td>
        <script language="javascript" type="text/javascript">
            function setNum$!_index() {
                $("body").data("num",'$!_index');
            }
            function disItemName$!_index() {
                if(getObj("$!itemCd").value == ''){
                    getObj("$!_itemNameObj").readOnly = false;
                    getObj("$!_itemNameObj").style.backgroundColor = 'white';
                    getObj("$!_katashikiObj").readOnly = false;
                    getObj("$!_katashikiObj").style.backgroundColor = 'white';
                } else {
                    getObj("$!_itemNameObj").readOnly = true;
                    getObj("$!_itemNameObj").style.backgroundColor = '#ECECEC';
                    getObj("$!_katashikiObj").readOnly = true;
                    getObj("$!_katashikiObj").style.backgroundColor = '#ECECEC';
                }
            }
            function getPriceObj$!_index(objName) {
                if (getObj(objName) != null) {
                    return getObj(objName);
                } else {
                    return null;
                }
            }
        </script>
#end