    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right nowrap>
        <table class="FontSmall">
            <tr>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_L_ABBR')</div></td>
                <td>
                    $!itemClassLNameValue
                </td>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_M_ABBR')</div></td>
                <td>
                    $!itemClassMNameValue
                </td>
                <td>
                    <div class="ItemKind">#customSpringMessage('ITEM_CLASS_S_ABBR')</div></td>
                <td>
                    $!itemClassSNameValue
                </td>
            </tr>
        </table>
    </td>
