    #if(!$_masterCdIme)
        #set($_masterCdIme=$!ime)
    #end
    #if(!$_masterNameIme)
        #set($_masterNameIme=$!ime)
    #end
    #set($_maxlength=$itemDefinitionDetail.inputMethod.maxLength.maxLength)
    #set($intConv = 1)
    #set($_size = $intConv.parseInt($_maxlength) + 4)
    #if(! $itemDefinitionDetail.searchMethod.searchType.searchType) ##空=NULLの場合は入力画面
        <td $!_td_style_left>
    #else ##空じゃない場合は検索画面
        <td $!_td_style_left nowrap>
    #end
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($itemDefinitionDetail.searchMethod.searchType.searchType=='1')
            <span class="FontComment">＊</span>
        #elseif($itemDefinitionDetail.searchMethod.searchType.searchType=='2')
            <span class="FontComment">％</span>
        #end
        #if($itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
        </td>
        <td $!_td_style_right nowrap>
    #if(! $itemDefinitionDetail.searchMethod.searchType.searchType && $dspFlg == '1')
        ##入力画面であり伝票定義マスタで表示項目指定されていた場合
            <span class="$!_label_style">$!{masterCdValue}&nbsp;$!{masterNameValue}</span>
            <input 
                type="hidden" 
                id="$!masterCd" 
                name="$!masterCd" 
                value="$!masterCdValue">
    #else ##入力画面であり入力項目であるor検索画面の場合
            #if(! $itemDefinitionDetail.searchMethod.searchType.searchType) ##入力画面の場合はonblurあり
                #optionalMasterScript('PS_MASTER_AJAX', $!itemDefinitionDetail.elementNameCd, $!itemDefinitionDetail.voucherType)
            #end
            <input 
            class="$!_item_style noIME Small" 
            id="$!masterCd" 
            name="$!masterCd" 
            type="text" 
            maxlength="$!_maxlength" 
            size="$_size"
            value="$!masterCdValue"
        #if($itemDefinitionDetail.searchMethod.searchType.searchType) ##検索画面の場合はonchangeあり
            onchange="getObj('$!masterName').value='';"
        #end
            $!_event>
            <input 
            readonly 
            class="$!_item_style $!_masterNameIme SmallDsp" 
            id="$!masterName" 
            name="$!masterName" 
            type="text" 
            size="70"
            tabindex="-1" 
            value="$!masterNameValue">
            #optionalMasterScript('PS_MASTER_POPUP', $!itemDefinitionDetail.elementNameCd, $!itemDefinitionDetail.voucherType)
    #end
    </td>

