    #if(!$!_masterCdIme)
        #set($_masterCdIme=$!ime)
    #end
    #if(!$!_masterNameIme)
        #set($_masterNameIme=$!ime)
    #end
    #if(!$!_imageName)
        #set($_imageName='SupplierSearch')
    #end
    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.searchMethod.searchType.searchType=='1')
            <span class="FontComment">＊</span>
        #elseif($!itemDefinitionDetail.searchMethod.searchType.searchType=='2')
            <span class="FontComment">％</span>
        #end
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right nowrap>
            <input 
            class="$!_item_style $!_masterCdIme Small" 
            id="$!masterCd" 
            name="$!masterCd" 
            type="text" 
            maxlength="12" 
            size="20" 
            value="$!masterCdValue"
            onchange="disMasterAbbrName()"
            $!_event>
            <img class="Icon" 
                 name="$!_imageName" 
                 src="../../image/btnLupe.gif" 
                 onclick="supplierPopup.setObject(getObj('$!masterCd'),getObj('$!masterName'),getObj('$!masterAbbrName'));
                          masterSearch('../../src/supplierPopup/search?pageid=supplierPopupSearch&popupPageid=$!popupPageid',
                                       'supplierPopup',
                                       '700',
                                       '500');">
    </td>
</tr>
<tr $!_tr_style>
    <td $!_td_style_left>
        #customSpringMessage($!_name_element_cd)
    </td>
    <td $!_td_style_right>
            <input 
            class="$!_item_style  SmallDsp" 
            id="$!masterAbbrName" 
            name="$!masterAbbrName" 
            type="text" 
            maxlength="30"
            size="71" 
            value="$!masterAbbrNameValue">
            <input 
            type="hidden" 
            id="$!masterName" 
            name="$!masterName" 
            value="$!masterNameValue" >
    </td> 
<script language="javascript" type="text/javascript">
    $("document").ready(function(){
      getObj("$!masterAbbrName").style.backgroundColor = 'white';
    });
    function disMasterAbbrName() {
    ## ----- 強化-00948-000 2013/04/23 DEL SBO_pangzhen START -----
    ## getObj("$!masterAbbrName").value = '';
    ## ----- 強化-00948-000 2013/04/23 DEL SBO_pangzhen -END- -----
    if(getObj("$!masterCd").value == ''){
        ## +++++ 強化-00948-000 2013/04/23 ADD SBO_pangzhen START +++++
        getObj("$!masterAbbrName").value = '';
        ## +++++ 強化-00948-000 2013/04/23 ADD SBO_pangzhen -END- +++++
        getObj("$!masterAbbrName").readOnly = false;
        getObj("$!masterAbbrName").style.backgroundColor = 'white';
        
    } else {
        getObj("$!masterAbbrName").readOnly = true;
        getObj("$!masterAbbrName").style.backgroundColor = '#ECECEC';
    }
}
</script>
