    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
    </td>
    <td $!_td_style_right nowrap>
            <table class="NoBorder">
                <tr>
                    <td nowrap>
                        <span class="FontSmall">
                        $!supplierCdValue</span>&nbsp;<span class="FontUserName">$!supplierAbbrNameValue</span>&nbsp;
                    </td>
                    <td>
	                    #if($!subconIndValue == '1')
	                     ## +++++ 強化-01689-000 2013/05/29 ADD SBO_wangzf START +++++
	                     <span class="FontSubcon Subcon" id="subconInd">$!subconIndPageValue</span>
	                     ## +++++ 強化-01689-000 2013/05/29 ADD SBO_wangzf END +++++
                         ## ----- 強化-01689-000 2013/05/29 DEL SBO_wangzf START -----
	                     ##<span class="FontSubcon Subcon" id="subconInd">#customSpringMessage('SUBCONTRACTOR')</span>
	                     ## ----- 強化-01689-000 2013/05/29 DEL SBO_wangzf END -----
	                    #else
	                    <span class="FontSubcon Subcon" id="subconInd"></span>
	                    #end
	                    <span class="FontSmallAnk">
                        #if($!ediIndValue == '0')
                        	$!nonEdi
						#end
						#if($!ediIndValue == '1')
                        	$!edi
                        #end
                        </span>
                        <input id="nonEdiValue" type="hidden" value="$!nonEdi">
                    	<input id="ediValue" type="hidden" value="$!edi">
                        
                    </td>
                </tr>
            </table>
            <span class="SkyBlue">
            $!PostalCodeValue<br>
            $!address1Value&nbsp;$!address2Value
            ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
            ##</span></br>
            </span><br>
            ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
            <table class="NoBorder">
                <tr>
                    <td><img src="../../image/mrkTel.gif"></td>
                    <td class="FontMini" nowrap>
                         ## +++++ IT2-01432-000  2013/03/15 ADD SBO_wangzf START +++++
                          #customSpringMessage('EXTERNAL_NO'):
                         ## +++++ IT2-01432-000  2013/03/15 ADD SBO_wangzf END +++++
                         ## ----- IT2-01432-000  2013/03/15 DEL SBO_wangzf START -----
                         ## #customSpringMessage('EXTERNAL_NO')
                         ## ----- IT2-01432-000  2013/03/15 DEL SBO_wangzf END -----
                        <span class="FontSmallAnk">$!telNoValue</span>&nbsp;&nbsp;#customSpringMessage('FAX'):<span class="FontSmallAnk">$!faxValue</span>
                    </td>
                </tr>
            </table>
    </td>