    <td $!_td_style_left nowrap>
        #customSpringMessage('ITEM_CD')
    </td>
    <td $!_td_style_right nowrap>
        $!itemCdValue
    </td></tr>
<tr $!_tr_style>
    <td $!_td_style_left nowrap>
        #customSpringMessage($!itemDefinitionDetail.elementNameCd)
        #if($!itemDefinitionDetail.inputMethod.mustEnterFlg.mustEnterFlg=='1') 
            <span class="FontWarn">&nbsp;※</span>
        #end
    </td>
    <td $!_td_style_right nowrap>
        <input 
        class="$!_item_style $!_masterCdIme Small" 
        id="$!itemName" 
        name="$!itemName" 
        type="text" 
        maxlength="8" 
        size="60" 
        value="$!itemNameValue">
    </td>
</tr>
<tr $!_tr_style>
    <td $!_td_style_left nowrap>
        #customSpringMessage('KATASHIKI')
    </td>
    <td $!_td_style_right nowrap>
        <input 
        class="$!_item_style $!_masterCdIme Small" 
        id="$!katashiki" 
        name="$!katashiki" 
        type="text" 
        maxlength="8" 
        size="60" 
        value="$!katashikiValue">
    </td>