    #if(!$!_masterCdIme)
        #set($_masterCdIme=$!ime)
    #end
    #if(!$!_masterNameIme)
        #set($_masterNameIme=$!ime)
    #end
    #if(!$!_imageName)
        #set($_imageName='itemSearch')
    #end
    <td $!_td_style_left nowrap>
         #customSpringMessage('ITEM_CD')
    </td>
    #customFormHiddenInput("isClassify" "fasle")
    <td $!_td_style_right nowrap>
        <input 
        ## ----- 2013/03/20 DEL SBO_DAILINKAI START
        ##class="$!_item_style Small　noIME" 
        ## ----- 2013/03/20 DEL SBO_DAILINKAI END
        ## +++++ 2013/03/20 ADD SBO_DAILINKAI START +++++
        class="$!_item_style $!ime Small" 
        ## +++++ 2013/03/20 ADD SBO_DAILINKAI END +++++
        id="$!itemCd" 
        name="$!itemCd" 
        type="text" 
        maxlength="25"
        ## +++++ 強化-00739-000 2013/03/28 ADD SBO_wangzf START +++++
         size="44" 
        ## +++++ 強化-00739-000 2013/03/28 ADD SBO_wangzf END +++++
        ## ----- 強化-00739-000 2013/03/28 DEL SBO_wangzf START ----
        ## size="25" 
        ## ----- 強化-00739-000 2013/03/28 DEL SBO_wangzf END -----
        value="$!itemCdValue"
        onblur="$!_setItemName"
        $!_event>
         ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf START +++++
         <img class="Icon" 
             name="$!_imageName$!_index" 
             id = "$!_imageName$!_index"
             tabindex = '-1'
             src="../../image/btnLupe.gif" 
             onclick="setIndex($!_index);
                      itemPopup.setParam('','','#jsEscapeInHTML($!_reqVol)','#jsEscapeInHTML($!_sysDate)','#jsEscapeInHTML($!_reqDate)','#jsEscapeInHTML($!_supCd)');
                      itemPopup.setObject(
                      getObj('$!itemCd'),
                      getObj('$!_itemNameObj'),
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      getObj('$!_manufactCdObj'),
                      getObj('$!_manufactNameObject'),
                      getObj('$!_katashikiObj'),
                      getObj('$!_unitCdObject'),
                      null,
                      getObj('$!_supCdObject'),
                      getObj('$!_supNameObject'),
                      getObj('$!_supAbbrNameObject'),
                      getObj('$!_currencyCdObject'),
                      null,
                      null,
                      getObj('$!_priceObj'),
                      getObj('$!_inspectIndObject'),
                      getObj('$!_priceFlgObject'),
                      getObj('$!_autoOrderFlgObject'),
                      getObj('$!_taxIndObject')
                      );
                      masterSearch('../../src/itemPopup/search?pageid=itemPopupSearch&popupPageid=$!popupPageid',
                                   'itemPopup',
                                   '850',
                                   '600');setNum$!_index();return false;">
         ## +++++ 強化-00717-000 2013/03/28 ADD SBO_wangzf END +++++
         ## ----- 強化-00717-000 2013/03/28 ADD SBO_wangzf START -----
        #*
        <input type="image" class="Icon" 
             name="$!_imageName$!_index" 
             id = "$!_imageName$!_index"
             src="../../image/btnLupe.gif" 
             onclick="setIndex($!_index);
                      itemPopup.setParam('','','$!_reqVol','$!_sysDate','$!_reqDate','$!_supCd');
                      itemPopup.setObject(
                      getObj('$!itemCd'),
                      getObj('$!_itemNameObj'),
                      null,
                      null,
                      null,
                      null,
                      null,
                      null,
                      getObj('$!_manufactCdObj'),
                      getObj('$!_manufactNameObject'),
                      getObj('$!_katashikiObj'),
                      getObj('$!_unitCdObject'),
                      null,
                      getObj('$!_supCdObject'),
                      getObj('$!_supNameObject'),
                      getObj('$!_supAbbrNameObject'),
                      getObj('$!_currencyCdObject'),
                      null,
                      null,
                      getObj('$!_priceObj'),
                      getObj('$!_inspectIndObject'),
                      getObj('$!_priceFlgObject'),
                      getObj('$!_autoOrderFlgObject'),
                      getObj('$!_taxIndObject')
                      );
                      masterSearch('../../src/itemPopup/search?pageid=itemPopupSearch&popupPageid=$!popupPageid',
                                   'itemPopup',
                                   '850',
                                   '600');setNum$!_index();return false;"> *#
                   ## ----- 強化-00717-000 2013/03/28 DEL SBO_wangzf END -----               
    </td>
<script language="javascript" type="text/javascript">
function setNum$!_index() {
    $("body").data("num",'$!_index');
}

</script>