
<td $!_td_style_left nowrap>
	#customSpringMessage($!itemDefinitionDetail.elementNameCd)</td>
<td $!_td_style_right nowrap>
	<table class="NoBorder">
		<tr>
			<td nowrap><span class="FontSmall"> $!supplierCdValue</span>&nbsp;<span
				class="FontUserName">$!supplierNameValue</span>&nbsp;</td>
			<td>#if("$!_subconInd" == "1")
					<span class="FontSubcon Subcon">#out($!_subconIndValue)</span>
				#end
				<span class="FontSmallAnk">
				#if($!ediIndValue == '0')
					$!nonEdi
				#end
				#if($!ediIndValue == '1')
					$!edi
				#end
				</span>
			</td>
		</tr>
	</table> <span class="SkyBlue"> $!PostalCodeValue<br>
		$!addressValue&nbsp;$!address2Value
</span><br>
	<table class="NoBorder">
		#if($!supplierCdValue!="")
		<tr>
			<td><img src="../../image/mrkTel.gif"></td>
			<td class="FontMini" nowrap>
				#customSpringMessage('EXTERNAL_NO'):<span class="FontSmallAnk">$!telNoValue</span>&nbsp;&nbsp;#customSpringMessage('FAX'):<span
				class="FontSmallAnk">$!faxValue</span>
			</td>
		</tr>

		#end
	</table>
</td>