<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.dataaccess.options.stock.strgshipresults.StrgShipResultsMapper">

    <sql id="listKeyIdentityWhereCondition">
        <!-- 個人設定未定義の場合、条件に入らないため追加している -->
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
         AND T_STRG_SHIP_RESULTS.COMPANY_CD = #{companyCd, jdbcType=VARCHAR}
        </if>
             ${@ps.common.util.ItemSettingUtil@getItemSettingWhereSQL()}
    </sql>

    <sql id="listSql">
      SELECT STRG_SHIP_RESULTS_SEQ
           , STRG_SHIP_NO
           , LAST_UPD_DATE
           , STRG_SHIP_IND
           , STRG_SHIP_CLASS_IND
           , CORRECT_CD
           , RB_IND
           , RB_SEQ
           , REQ_DATE
           , REQ_COMPANY_CD
           , REQ_COMPANY_NAME
           , REQ_SECTION_PLACE_CD
           , REQ_SECTION_PLACE_NAME
           , REQ_SECTION_CD
           , REQ_SECTION_NAME
           , REQ_USER_ID
           , REQ_USER_NAME
           , REQ_USER_EXTENSION_NO
           , REQ_USER_TEL_NO
           , TITLE_NAME
           , ITEM_CLASS_L
           , ITEM_CLASS_L_NAME
           , ITEM_CLASS_M
           , ITEM_CLASS_M_NAME
           , ITEM_CLASS_S
           , ITEM_CLASS_S_NAME
           , ITEM_COMPANY_CD
           , ITEM_CD
           , ITEM_NAME
           , KATASHIKI
           , MANUFACT_CD
           , MANUFACT_NAME
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_COMPANY_CD
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_COMPANY_CD
                  ELSE NULL
             END) AS COMPANY_CD
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_COMPANY_NAME
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_COMPANY_NAME
                  ELSE NULL
             END) AS COMPANY_NAME
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_SECTION_PLACE_CD
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_SECTION_PLACE_CD
                  ELSE NULL
             END) AS SECTION_PLACE_CD
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_SECTION_PLACE_NAME
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_SECTION_PLACE_NAME
                  ELSE NULL
             END) AS SECTION_PLACE_NAME
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_STOCK_PLACE_CD
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_STOCK_PLACE_CD
                  ELSE NULL
             END) AS STOCK_PLACE_CD
           ,(CASE WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_STRG}'
                  THEN STRG_STOCK_PLACE_NAME
                  WHEN STRG_SHIP_IND = '${@fw.common.options.stock.constant.CodeNameConstantForStock@STRG_SHIP_IND_SHIP}'
                  THEN SHIP_STOCK_PLACE_NAME
                  ELSE NULL
             END) AS STOCK_PLACE_NAME
           , SHIP_COMPANY_CD
           , SHIP_COMPANY_NAME
           , SHIP_SECTION_PLACE_CD
           , SHIP_SECTION_PLACE_NAME
           , SHIP_STOCK_PLACE_CD
           , SHIP_STOCK_PLACE_NAME
           , STRG_COMPANY_CD
           , STRG_COMPANY_NAME
           , STRG_SECTION_PLACE_CD
           , STRG_SECTION_PLACE_NAME
           , STRG_STOCK_PLACE_CD
           , STRG_STOCK_PLACE_NAME
           , SUBJECT_COMPANY_CD
           , SUBJECT_CD
           , SUBJECT_NAME
           , STRG_SHIP_DATE
           , STRG_SHIP_VOL
           , UNIT_CD
           , UNIT_NAME
           , CURRENCY_CD
           , STRG_SHIP_UNIT_PRICE
           , STRG_SHIP_AMOUNT
           , STRG_SHIP_NOTE
           , SETTLE_INV_IND
           , DELIV_KEY_NO
           , ACCEPT_SEQ
           , EXT_TXT_1
           , EXT_TXT_2
           , EXT_TXT_3
           , EXT_TXT_4
           , EXT_TXT_5
           , EXT_TXT_6
           , EXT_TXT_7
           , EXT_TXT_8
           , EXT_TXT_9
           , EXT_TXT_10
           , EXT_AREA_1
           , EXT_AREA_2
           , EXT_AREA_3
           , EXT_AREA_4
           , EXT_AREA_5
           , EXT_DATE_1
           , EXT_DATE_2
           , EXT_DATE_3
           , EXT_DATE_4
           , EXT_DATE_5
           , EXT_INT_1
           , EXT_INT_2
           , EXT_INT_3
           , EXT_INT_4
           , EXT_INT_5
           , EXT_INT_6
           , EXT_INT_7
           , EXT_INT_8
           , EXT_INT_9
           , EXT_INT_10
           , EXT_DEC_1
           , EXT_DEC_2
           , EXT_DEC_3
           , EXT_DEC_4
           , EXT_DEC_5
           , EXT_SEL_1
           , EXT_SEL_2
           , EXT_SEL_3
           , EXT_SEL_4
           , EXT_SEL_5
           , EXT_SEL_6
           , EXT_SEL_7
           , EXT_SEL_8
           , EXT_SEL_9
           , EXT_SEL_10
           , EXT_CHK_1
           , EXT_CHK_2
           , EXT_CHK_3
           , EXT_CHK_4
           , EXT_CHK_5
           , EXT_FILE_1
           , EXT_FILE_2
           , EXT_FILE_3
           , EXT_MST_1
           , EXT_MST_2
           , EXT_MST_3
           , EXT_MST_4
           , EXT_MST_5
           , EXT_MST_6
           , EXT_MST_7
           , EXT_MST_8
           , EXT_MST_NAME_1
           , EXT_MST_NAME_2
           , EXT_MST_NAME_3
           , EXT_MST_NAME_4
           , EXT_MST_NAME_5
           , EXT_MST_NAME_6
           , EXT_MST_NAME_7
           , EXT_MST_NAME_8
        FROM T_STRG_SHIP_RESULTS
    </sql>

    <resultMap id="identity_Map" type="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsIdentify">
        <id column="STRG_SHIP_RESULTS_SEQ"   property="strgShipResultsSeq" />
        <id column="LAST_UPD_DATE"           property="lastUpdDate" />
    </resultMap>

    <resultMap id="item_Map" type="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsItem">
        <id column="STRG_SHIP_RESULTS_SEQ"   property="strgShipResultsIdentify.strgShipResultsSeq" />
        <id column="LAST_UPD_DATE"           property="strgShipResultsIdentify.lastUpdDate" />
        <id column="STRG_SHIP_NO"            property="strgShipNo" />
        <id column="STRG_SHIP_IND"           property="strgShipInd.strgShipInd" />
        <id column="STRG_SHIP_CLASS_IND"     property="strgShipClassInd.strgShipClassInd" />
        <id column="CORRECT_CD"              property="correctInd.correctInd" />
        <id column="RB_IND"                  property="rbInd" />
        <id column="RB_SEQ"                  property="rbSeq" />
        <id column="REQ_DATE"                property="reqDate.dateOfymd" />
        <id column="REQ_COMPANY_CD"          property="reqCompanyCd" />
        <id column="REQ_COMPANY_NAME"        property="reqCompanyName" />
        <id column="REQ_SECTION_PLACE_CD"    property="reqSectionPlaceCd" />
        <id column="REQ_SECTION_PLACE_NAME"  property="reqSectionPlaceName" />
        <id column="REQ_SECTION_CD"          property="reqSectionCd" />
        <id column="REQ_SECTION_NAME"        property="reqSectionName" />
        <id column="REQ_USER_ID"             property="reqUserId" />
        <id column="REQ_USER_NAME"           property="reqUserName" />
        <id column="REQ_USER_EXTENSION_NO"   property="reqUserExtensionNo" />
        <id column="REQ_USER_TEL_NO"         property="reqUserTelNo" />
        <id column="TITLE_NAME"              property="titleName" />
        <id column="ITEM_CLASS_L"            property="itemClassL" />
        <id column="ITEM_CLASS_L_NAME"       property="itemClassLName" />
        <id column="ITEM_CLASS_M"            property="itemClassM" />
        <id column="ITEM_CLASS_M_NAME"       property="itemClassMName" />
        <id column="ITEM_CLASS_S"            property="itemClassS" />
        <id column="ITEM_CLASS_S_NAME"       property="itemClassSName" />
        <id column="ITEM_COMPANY_CD"         property="itemCompanyCd" />
        <id column="ITEM_CD"                 property="itemCd" />
        <id column="ITEM_NAME"               property="itemName" />
        <id column="KATASHIKI"               property="katashiki" />
        <id column="MANUFACT_CD"             property="manufactCd" />
        <id column="MANUFACT_NAME"           property="manufactName" />
        <id column="COMPANY_CD"              property="companyCd" />
        <id column="COMPANY_NAME"            property="companyName" />
        <id column="SECTION_PLACE_CD"        property="sectionPlaceCd" />
        <id column="SECTION_PLACE_NAME"      property="sectionPlaceName" />
        <id column="STOCK_PLACE_CD"          property="stockPlaceCd" />
        <id column="STOCK_PLACE_NAME"        property="stockPlaceName" />
        <id column="SHIP_COMPANY_CD"         property="shipCompanyCd" />
        <id column="SHIP_COMPANY_NAME"       property="shipCompanyName" />
        <id column="SHIP_SECTION_PLACE_CD"   property="shipSectionPlaceCd" />
        <id column="SHIP_SECTION_PLACE_NAME" property="shipSectionPlaceName" />
        <id column="SHIP_STOCK_PLACE_CD"     property="shipStockPlaceCd" />
        <id column="SHIP_STOCK_PLACE_NAME"   property="shipStockPlaceName" />
        <id column="STRG_COMPANY_CD"         property="strgCompanyCd" />
        <id column="STRG_COMPANY_NAME"       property="strgCompanyName" />
        <id column="STRG_SECTION_PLACE_CD"   property="strgSectionPlaceCd" />
        <id column="STRG_SECTION_PLACE_NAME" property="strgSectionPlaceName" />
        <id column="STRG_STOCK_PLACE_CD"     property="strgStockPlaceCd" />
        <id column="STRG_STOCK_PLACE_NAME"   property="strgStockPlaceName" />
        <id column="SUBJECT_COMPANY_CD"      property="subjectCompanyCd" />
        <id column="SUBJECT_CD"              property="subjectCd" />
        <id column="SUBJECT_NAME"            property="subjectName" />
        <id column="STRG_SHIP_DATE"          property="strgShipDate.dateOfymd" />
        <id column="STRG_SHIP_VOL"           property="strgShipVol.vol" />
        <id column="UNIT_CD"                 property="unitCd" />
        <id column="UNIT_NAME"               property="unitName" />
        <id column="CURRENCY_CD"             property="currencyCd" />
        <id column="CURRENCY_CD"             property="strgShipUnitPrice.amount.currencyCd" />
        <id column="STRG_SHIP_UNIT_PRICE"    property="strgShipUnitPrice.amount.amount" />
        <id column="CURRENCY_CD"             property="strgShipAmount.currencyCd" />
        <id column="STRG_SHIP_AMOUNT"        property="strgShipAmount.amount" />
        <id column="STRG_SHIP_NOTE"          property="strgShipNote" />
        <id column="SETTLE_INV_IND"          property="settleInvInd.settleInvInd" />
        <id column="DELIV_KEY_NO"            property="delivKeyNo" />
        <id column="ACCEPT_SEQ"              property="acceptSeq" />
        <id column="EXT_TXT_1"      property="searchResExtItem.txt1" />
        <id column="EXT_TXT_2"      property="searchResExtItem.txt2" />
        <id column="EXT_TXT_3"      property="searchResExtItem.txt3" />
        <id column="EXT_TXT_4"      property="searchResExtItem.txt4" />
        <id column="EXT_TXT_5"      property="searchResExtItem.txt5" />
        <id column="EXT_TXT_6"      property="searchResExtItem.txt6" />
        <id column="EXT_TXT_7"      property="searchResExtItem.txt7" />
        <id column="EXT_TXT_8"      property="searchResExtItem.txt8" />
        <id column="EXT_TXT_9"      property="searchResExtItem.txt9" />
        <id column="EXT_TXT_10"     property="searchResExtItem.txt10" />
        <id column="EXT_AREA_1"     property="searchResExtItem.area1" />
        <id column="EXT_AREA_2"     property="searchResExtItem.area2" />
        <id column="EXT_AREA_3"     property="searchResExtItem.area3" />
        <id column="EXT_AREA_4"     property="searchResExtItem.area4" />
        <id column="EXT_AREA_5"     property="searchResExtItem.area5" />
        <id column="EXT_DATE_1"     property="searchResExtItem.date1" />
        <id column="EXT_DATE_2"     property="searchResExtItem.date2" />
        <id column="EXT_DATE_3"     property="searchResExtItem.date3" />
        <id column="EXT_DATE_4"     property="searchResExtItem.date4" />
        <id column="EXT_DATE_5"     property="searchResExtItem.date5" />
        <id column="EXT_INT_1"      property="searchResExtItem.int1" />
        <id column="EXT_INT_2"      property="searchResExtItem.int2" />
        <id column="EXT_INT_3"      property="searchResExtItem.int3" />
        <id column="EXT_INT_4"      property="searchResExtItem.int4" />
        <id column="EXT_INT_5"      property="searchResExtItem.int5" />
        <id column="EXT_INT_6"      property="searchResExtItem.int6" />
        <id column="EXT_INT_7"      property="searchResExtItem.int7" />
        <id column="EXT_INT_8"      property="searchResExtItem.int8" />
        <id column="EXT_INT_9"      property="searchResExtItem.int9" />
        <id column="EXT_INT_10"     property="searchResExtItem.int10" />
        <id column="EXT_DEC_1"      property="searchResExtItem.dec1" />
        <id column="EXT_DEC_2"      property="searchResExtItem.dec2" />
        <id column="EXT_DEC_3"      property="searchResExtItem.dec3" />
        <id column="EXT_DEC_4"      property="searchResExtItem.dec4" />
        <id column="EXT_DEC_5"      property="searchResExtItem.dec5" />
        <id column="EXT_SEL_1"      property="searchResExtItem.sel1" />
        <id column="EXT_SEL_2"      property="searchResExtItem.sel2" />
        <id column="EXT_SEL_3"      property="searchResExtItem.sel3" />
        <id column="EXT_SEL_4"      property="searchResExtItem.sel4" />
        <id column="EXT_SEL_5"      property="searchResExtItem.sel5" />
        <id column="EXT_SEL_6"      property="searchResExtItem.sel6" />
        <id column="EXT_SEL_7"      property="searchResExtItem.sel7" />
        <id column="EXT_SEL_8"      property="searchResExtItem.sel8" />
        <id column="EXT_SEL_9"      property="searchResExtItem.sel9" />
        <id column="EXT_SEL_10"     property="searchResExtItem.sel10" />
        <id column="EXT_CHK_1"      property="searchResExtItem.chk1" />
        <id column="EXT_CHK_2"      property="searchResExtItem.chk2" />
        <id column="EXT_CHK_3"      property="searchResExtItem.chk3" />
        <id column="EXT_CHK_4"      property="searchResExtItem.chk4" />
        <id column="EXT_CHK_5"      property="searchResExtItem.chk5" />
        <id column="EXT_FILE_1"     property="searchResExtItem.fiNm1" />
        <id column="EXT_FILE_2"     property="searchResExtItem.fiNm2" />
        <id column="EXT_FILE_3"     property="searchResExtItem.fiNm3" />
        <id column="EXT_MST_1"      property="searchResExtItem.mtKy1" />
        <id column="EXT_MST_2"      property="searchResExtItem.mtKy2" />
        <id column="EXT_MST_3"      property="searchResExtItem.mtKy3" />
        <id column="EXT_MST_4"      property="searchResExtItem.mtKy4" />
        <id column="EXT_MST_5"      property="searchResExtItem.mtKy5" />
        <id column="EXT_MST_6"      property="searchResExtItem.mtKy6" />
        <id column="EXT_MST_7"      property="searchResExtItem.mtKy7" />
        <id column="EXT_MST_8"      property="searchResExtItem.mtKy8" />
        <id column="EXT_MST_NAME_1" property="searchResExtItem.mtNm1"/>
        <id column="EXT_MST_NAME_2" property="searchResExtItem.mtNm2"/>
        <id column="EXT_MST_NAME_3" property="searchResExtItem.mtNm3"/>
        <id column="EXT_MST_NAME_4" property="searchResExtItem.mtNm4"/>
        <id column="EXT_MST_NAME_5" property="searchResExtItem.mtNm5"/>
        <id column="EXT_MST_NAME_6" property="searchResExtItem.mtNm6"/>
        <id column="EXT_MST_NAME_7" property="searchResExtItem.mtNm7"/>
        <id column="EXT_MST_NAME_8" property="searchResExtItem.mtNm8"/>
    </resultMap>

    <resultMap id="management_Map" type="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsManagement">
        <id column="STRG_SHIP_RESULTS_SEQ"   property="strgShipResultsIdentify.strgShipResultsSeq" />
        <id column="LAST_UPD_DATE"           property="strgShipResultsIdentify.lastUpdDate" />
        <id column="STRG_SHIP_NO"            property="strgShipNo" />
        <id column="STRG_SHIP_IND"           property="strgShipInd.strgShipInd" />
        <id column="STRG_SHIP_CLASS_IND"     property="strgShipClassInd.strgShipClassInd" />
        <id column="CORRECT_CD"              property="correctInd.correctInd" />
        <id column="RB_IND"                  property="rbInd.rbInd" />
        <id column="RB_SEQ"                  property="rbInd.rbSeq" />
        <id column="REQ_DATE"                property="reqDate.dateOfymd" />
        <id column="REQ_COMPANY_CD"          property="reqUser.reqUser.section.company.companyCd" />
        <id column="REQ_COMPANY_NAME"        property="reqUser.reqUser.section.company.companyName" />
        <id column="REQ_SECTION_PLACE_CD"    property="reqUser.reqUser.section.sectionPlace.sectionPlaceCd" />
        <id column="REQ_SECTION_PLACE_NAME"  property="reqUser.reqUser.section.sectionPlace.sectionPlaceName" />
        <id column="REQ_SECTION_CD"          property="reqUser.reqUser.section.sectionCd" />
        <id column="REQ_SECTION_NAME"        property="reqUser.reqUser.section.sectionName" />
        <id column="REQ_USER_ID"             property="reqUser.reqUser.userID" />
        <id column="REQ_USER_NAME"           property="reqUser.reqUser.userName" />
        <id column="REQ_USER_EXTENSION_NO"   property="reqUser.reqUser.extNo.extensionNo" />
        <id column="REQ_USER_TEL_NO"         property="reqUser.reqUser.externalNo.externalNo" />
        <id column="TITLE_NAME"              property="titleName" />
        <id column="ITEM_CLASS_L"            property="item.itemClass.itemClassL" />
        <id column="ITEM_CLASS_L_NAME"       property="item.itemClass.itemClassNameL" />
        <id column="ITEM_CLASS_M"            property="item.itemClass.itemClassM" />
        <id column="ITEM_CLASS_M_NAME"       property="item.itemClass.itemClassNameM" />
        <id column="ITEM_CLASS_S"            property="item.itemClass.itemClassS" />
        <id column="ITEM_CLASS_S_NAME"       property="item.itemClass.itemClassNameS" />
        <id column="ITEM_COMPANY_CD"         property="item.itemCompanyCd" />
        <id column="ITEM_CD"                 property="item.itemCd" />
        <id column="ITEM_NAME"               property="item.itemName" />
        <id column="KATASHIKI"               property="item.katashiki" />
        <id column="MANUFACT_CD"             property="item.manufact.manufactCd" />
        <id column="MANUFACT_NAME"           property="item.manufact.manufactName" />
        <id column="SHIP_COMPANY_CD"         property="shipStockPlace.company.companyCd" />
        <id column="SHIP_COMPANY_NAME"       property="shipStockPlace.company.companyName" />
        <id column="SHIP_SECTION_PLACE_CD"   property="shipStockPlace.sectionPlace.sectionPlaceCd" />
        <id column="SHIP_SECTION_PLACE_NAME" property="shipStockPlace.sectionPlace.sectionPlaceName" />
        <id column="SHIP_STOCK_PLACE_CD"     property="shipStockPlace.stockPlaceCd" />
        <id column="SHIP_STOCK_PLACE_NAME"   property="shipStockPlace.stockPlaceName" />
        <id column="STRG_COMPANY_CD"         property="strgStockPlace.company.companyCd" />
        <id column="STRG_COMPANY_NAME"       property="strgStockPlace.company.companyName" />
        <id column="STRG_SECTION_PLACE_CD"   property="strgStockPlace.sectionPlace.sectionPlaceCd" />
        <id column="STRG_SECTION_PLACE_NAME" property="strgStockPlace.sectionPlace.sectionPlaceName" />
        <id column="STRG_STOCK_PLACE_CD"     property="strgStockPlace.stockPlaceCd" />
        <id column="STRG_STOCK_PLACE_NAME"   property="strgStockPlace.stockPlaceName" />
        <id column="SUBJECT_COMPANY_CD"      property="subject.subjectCompanyCd" />
        <id column="SUBJECT_CD"              property="subject.subjectCd" />
        <id column="SUBJECT_NAME"            property="subject.subjectName" />
        <id column="STRG_SHIP_DATE"          property="strgShipDate.dateOfymd" />
        <id column="STRG_SHIP_VOL"           property="strgShipVol.vol" />
        <id column="UNIT_CD"                 property="item.unit.unitCd" />
        <id column="UNIT_NAME"               property="item.unit.unitName" />
        <id column="CURRENCY_CD"             property="currency.currencyCd" />
        <id column="CURRENCY_CD"             property="strgShipUnitPrice.amount.currencyCd" />
        <id column="STRG_SHIP_UNIT_PRICE"    property="strgShipUnitPrice.amount.amount" />
        <id column="CURRENCY_CD"             property="strgShipAmount.currencyCd" />
        <id column="STRG_SHIP_AMOUNT"        property="strgShipAmount.amount" />
        <id column="STRG_SHIP_NOTE"          property="strgShipNote" />
        <id column="SETTLE_INV_IND"          property="settleInvInd.settleInvInd" />
        <id column="DELIV_KEY_NO"            property="delivKeyNo.delivKeyNo" />
        <id column="ACCEPT_SEQ"              property="acceptSeq.sequenceNo" />
        <id column="EXT_TXT_1"         property="detailExtItem.extendTxt.extendTxt1"/>
        <id column="EXT_TXT_2"         property="detailExtItem.extendTxt.extendTxt2"/>
        <id column="EXT_TXT_3"         property="detailExtItem.extendTxt.extendTxt3"/>
        <id column="EXT_TXT_4"         property="detailExtItem.extendTxt.extendTxt4"/>
        <id column="EXT_TXT_5"         property="detailExtItem.extendTxt.extendTxt5"/>
        <id column="EXT_TXT_6"         property="detailExtItem.extendTxt.extendTxt6"/>
        <id column="EXT_TXT_7"         property="detailExtItem.extendTxt.extendTxt7"/>
        <id column="EXT_TXT_8"         property="detailExtItem.extendTxt.extendTxt8"/>
        <id column="EXT_TXT_9"         property="detailExtItem.extendTxt.extendTxt9"/>
        <id column="EXT_TXT_10"        property="detailExtItem.extendTxt.extendTxt10"/>
        <id column="EXT_AREA_1"        property="detailExtItem.extendArea.extendArea1"/>
        <id column="EXT_AREA_2"        property="detailExtItem.extendArea.extendArea2"/>
        <id column="EXT_AREA_3"        property="detailExtItem.extendArea.extendArea3"/>
        <id column="EXT_AREA_4"        property="detailExtItem.extendArea.extendArea4"/>
        <id column="EXT_AREA_5"        property="detailExtItem.extendArea.extendArea5"/>
        <id column="EXT_DATE_1"        property="detailExtItem.extendDate.extendDate1.dateOfymd"/>
        <id column="EXT_DATE_2"        property="detailExtItem.extendDate.extendDate2.dateOfymd"/>
        <id column="EXT_DATE_3"        property="detailExtItem.extendDate.extendDate3.dateOfymd"/>
        <id column="EXT_DATE_4"        property="detailExtItem.extendDate.extendDate4.dateOfymd"/>
        <id column="EXT_DATE_5"        property="detailExtItem.extendDate.extendDate5.dateOfymd"/>
        <id column="EXT_INT_1"         property="detailExtItem.extendInt.extendInt1.value"/>
        <id column="EXT_INT_2"         property="detailExtItem.extendInt.extendInt2.value"/>
        <id column="EXT_INT_3"         property="detailExtItem.extendInt.extendInt3.value"/>
        <id column="EXT_INT_4"         property="detailExtItem.extendInt.extendInt4.value"/>
        <id column="EXT_INT_5"         property="detailExtItem.extendInt.extendInt5.value"/>
        <id column="EXT_INT_6"         property="detailExtItem.extendInt.extendInt6.value"/>
        <id column="EXT_INT_7"         property="detailExtItem.extendInt.extendInt7.value"/>
        <id column="EXT_INT_8"         property="detailExtItem.extendInt.extendInt8.value"/>
        <id column="EXT_INT_9"         property="detailExtItem.extendInt.extendInt9.value"/>
        <id column="EXT_INT_10"        property="detailExtItem.extendInt.extendInt10.value"/>
        <id column="EXT_DEC_1"         property="detailExtItem.extendDec.extendDec1.value"/>
        <id column="EXT_DEC_2"         property="detailExtItem.extendDec.extendDec2.value"/>
        <id column="EXT_DEC_3"         property="detailExtItem.extendDec.extendDec3.value"/>
        <id column="EXT_DEC_4"         property="detailExtItem.extendDec.extendDec4.value"/>
        <id column="EXT_DEC_5"         property="detailExtItem.extendDec.extendDec5.value"/>
        <id column="EXT_SEL_1"         property="detailExtItem.extendSel.extendSel1"/>
        <id column="EXT_SEL_2"         property="detailExtItem.extendSel.extendSel2"/>
        <id column="EXT_SEL_3"         property="detailExtItem.extendSel.extendSel3"/>
        <id column="EXT_SEL_4"         property="detailExtItem.extendSel.extendSel4"/>
        <id column="EXT_SEL_5"         property="detailExtItem.extendSel.extendSel5"/>
        <id column="EXT_SEL_6"         property="detailExtItem.extendSel.extendSel6"/>
        <id column="EXT_SEL_7"         property="detailExtItem.extendSel.extendSel7"/>
        <id column="EXT_SEL_8"         property="detailExtItem.extendSel.extendSel8"/>
        <id column="EXT_SEL_9"         property="detailExtItem.extendSel.extendSel9"/>
        <id column="EXT_SEL_10"        property="detailExtItem.extendSel.extendSel10"/>
        <id column="EXT_CHK_1"         property="detailExtItem.extendChk.extendChk1"/>
        <id column="EXT_CHK_2"         property="detailExtItem.extendChk.extendChk2"/>
        <id column="EXT_CHK_3"         property="detailExtItem.extendChk.extendChk3"/>
        <id column="EXT_CHK_4"         property="detailExtItem.extendChk.extendChk4"/>
        <id column="EXT_CHK_5"         property="detailExtItem.extendChk.extendChk5"/>
        <id column="EXT_FILE_1"        property="detailExtItem.extendFile.extendFile1.fileName"/>
        <id column="EXT_FILE_2"        property="detailExtItem.extendFile.extendFile2.fileName"/>
        <id column="EXT_FILE_3"        property="detailExtItem.extendFile.extendFile3.fileName"/>
        <id column="EXT_FILE_BINARY_1" property="detailExtItem.extendFile.extendFile1.binary"/>
        <id column="EXT_FILE_BINARY_2" property="detailExtItem.extendFile.extendFile2.binary"/>
        <id column="EXT_FILE_BINARY_3" property="detailExtItem.extendFile.extendFile3.binary"/>
        <id column="EXT_MST_1"         property="detailExtItem.extendMst.extendMst1.mstKey"/>
        <id column="EXT_MST_2"         property="detailExtItem.extendMst.extendMst2.mstKey"/>
        <id column="EXT_MST_3"         property="detailExtItem.extendMst.extendMst3.mstKey"/>
        <id column="EXT_MST_4"         property="detailExtItem.extendMst.extendMst4.mstKey"/>
        <id column="EXT_MST_5"         property="detailExtItem.extendMst.extendMst5.mstKey"/>
        <id column="EXT_MST_6"         property="detailExtItem.extendMst.extendMst6.mstKey"/>
        <id column="EXT_MST_7"         property="detailExtItem.extendMst.extendMst7.mstKey"/>
        <id column="EXT_MST_8"         property="detailExtItem.extendMst.extendMst8.mstKey"/>
        <id column="EXT_MST_NAME_1"    property="detailExtItem.extendMst.extendMst1.mstName"/>
        <id column="EXT_MST_NAME_2"    property="detailExtItem.extendMst.extendMst2.mstName"/>
        <id column="EXT_MST_NAME_3"    property="detailExtItem.extendMst.extendMst3.mstName"/>
        <id column="EXT_MST_NAME_4"    property="detailExtItem.extendMst.extendMst4.mstName"/>
        <id column="EXT_MST_NAME_5"    property="detailExtItem.extendMst.extendMst5.mstName"/>
        <id column="EXT_MST_NAME_6"    property="detailExtItem.extendMst.extendMst6.mstName"/>
        <id column="EXT_MST_NAME_7"    property="detailExtItem.extendMst.extendMst7.mstName"/>
        <id column="EXT_MST_NAME_8"    property="detailExtItem.extendMst.extendMst8.mstName"/>
    </resultMap>

    <select id="listKeyIdentity" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsSearchCondition" resultMap="identity_Map">
      SELECT T_STRG_SHIP_RESULTS.STRG_SHIP_RESULTS_SEQ
           , T_STRG_SHIP_RESULTS.LAST_UPD_DATE
        FROM(<include refid="listSql"/>) T_STRG_SHIP_RESULTS
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
    ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>

    <select id="listPageItem" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsSearchCondition" resultMap="item_Map">
      SELECT *
        FROM(<include refid="listSql"/>) T_STRG_SHIP_RESULTS
        <where>
             T_STRG_SHIP_RESULTS.STRG_SHIP_RESULTS_SEQ IN
        <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">
             #{keyList.strgShipResultsSeq, jdbcType=NUMERIC}
        </foreach>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
    ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>

    <select id="download" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsSearchCondition" resultMap="item_Map">
      SELECT * FROM(
      SELECT *
        FROM(<include refid="listSql"/>) T_STRG_SHIP_RESULTS
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
    ORDER BY ${searchCondition.columnOrder.columnOrder()}
      )WHERE ROWNUM &lt;= ${@fw.common.util.PropertiesUtil@getLong("DOWNLOAD_MAXCNT")}
    </select>

    <select id="downloadCount" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsSearchCondition" resultType="java.lang.Long">
      SELECT COUNT(*)
        FROM(<include refid="listSql"/>) T_STRG_SHIP_RESULTS
        <where>
            <include refid="listKeyIdentityWhereCondition"/>
        </where>
    </select>

    <select id="search" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsIdentify" resultMap="management_Map">
      SELECT *
        FROM(<include refid="listSql"/>) T_STRG_SHIP_RESULTS
       WHERE T_STRG_SHIP_RESULTS.STRG_SHIP_RESULTS_SEQ = #{strgShipResultsSeq, jdbcType=NUMERIC}
    </select>

    <select id="searchIdentify" parameterType="fw.domain.options.stock.strgship.strgshipresults.StrgShipResultsIdentify" resultMap="identity_Map">
      SELECT T_STRG_SHIP_RESULTS.STRG_SHIP_RESULTS_SEQ
           , T_STRG_SHIP_RESULTS.LAST_UPD_DATE
        FROM T_STRG_SHIP_RESULTS
       WHERE T_STRG_SHIP_RESULTS.STRG_SHIP_RESULTS_SEQ = #{strgShipResultsSeq, jdbcType=NUMERIC}
    </select>

</mapper>