
<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('USER_SEARCH')</title><!--ユーザー検索-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript">
<!--

#parse("./common/popup_js.vm")

function onLoad() {
    popupDataLoadHasPage('../../src/userPopup');
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
}

//-->
</script>

</head>
<body id="BODY" class="Body" topmargin="10" leftmargin="10" marginwidth="0" marginheight="0" align="left" onload="onLoad();">
    <form name="Body">
#if($!errorMessage && $!errorMessage!="")
<div id="error" name="error" class="error">
    $!errorMessage
</div>
#end
        <!--#customFormHiddenInput("searchCondition.page.totalRows" "$searchCondition.searchCondition.page.totalRows")-->
        #if($itemList.userPopupItemList.size()!=0)
        #parse("./common/src_title.vm")
        <table width="100%"  bgcolor="#EAEAEA">
            <tr>
                <td align="left"><span class="FontMiddleBold">#customSpringMessage('CANDIDATE')</span></td><!--候補-->
            </tr>
        </table>
        
        <table id="TABLE" class="ListArea" width="100%">
         <thead>
                <tr id="Header">
                    <th class="BoxHeaderCenter FontSmall" >No.<!--NO.--></th>
                    <th class="BoxHeaderCenter FontSmall" width="5%;">#customSpringMessage('ACTION')<!--処理--></th>
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION.SECTION_CD"
                        onclick="parent.iframeChange('../../src/userPopup/order','column','SECTION_CD')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_CD')<!--部門コード-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderLeft FontSmall" id="M_SECTION_LANG.SECTION_NAME" 
                        onclick="parent.iframeChange('../../src/userPopup/order','column','SECTION_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_NAME')<!--部門名-->
                        </span>
                    </th>
                        
                    <th label="case" class="BoxHeaderCenter FontSmall" id="M_USER.USER_ID"
                        onclick="parent.iframeChange('../../src/userPopup/order','column','M_USER.USER_ID')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('USER_ID')<!--ユーザーID-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderLeft FontSmall" id="M_B_USER_LANG.USER_NAME" 
                        onclick="parent.iframeChange('../../src/userPopup/order','column','M_B_USER_LANG.USER_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('USER_NAME')<!--ユーザー名-->
                        </span>
                    </th>
                    <th label="case" class="BoxHeaderLeft FontSmall" id="M_USER.OFFICIAL_NAME" 
                        onclick="parent.iframeChange('../../src/userPopup/order','column','M_USER.OFFICIAL_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('POST')<!--役職-->
                        </span>
                    </th>
                     <th label="case" class="BoxHeaderCenter FontSmall" id="M_SECTION_PLACE.SECTION_PLACE_CD"
                        onclick="parent.iframeChange('../../src/userPopup/order','column','SECTION_PLACE_CD')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_PLACE_CD')<!--事業所コード-->
                        </span>
                     </th>
                     <th label="case" class="BoxHeaderLeft FontSmall" id="M_SECTION_PLACE_LANG.SECTION_PLACE_NAME" 
                        onclick="parent.iframeChange('../../src/userPopup/order','column','SECTION_PLACE_NAME')">
                        <span class="BoxHeaderSortItem">
                            #customSpringMessage('SECTION_PLACE_NAME')<!--事業所名-->
                        </span>
                     </th>
                </tr>
                    </thead>
                 #set( $index = 0 )
                #foreach($!deptItem in $!itemList.userPopupItemList)
                <tbody id="Row_0">
                    <tr>
                    <td class="BoxDetailCenter FontList">#set( $index = $index + 1 )$index</td>
                    <td class="BoxDetailCenter">
                        <input type="button" class="miniButton" value="#customSpringMessage('SELECTION')" onclick="javascript:parent.selectRow('#jsEscapeInHTML($!deptItem.userIdentify.userId)',
                            '#jsEscapeInHTML($!deptItem.userName)','#jsEscapeInHTML($!deptItem.userIdentify.sectionCd)',
                            '#jsEscapeInHTML($!deptItem.sectionName)','#jsEscapeInHTML($!deptItem.officialName)','#jsEscapeInHTML($!deptItem.sectionPlaceCd)',
                            '#jsEscapeInHTML($!deptItem.sectionPlaceName)','#jsEscapeInHTML($!deptItem.mailAddr)','#jsEscapeInHTML($!deptItem.extensionNo)',
                            '#jsEscapeInHTML($!deptItem.externalNo)','#jsEscapeInHTML($!deptItem.faxNo)');"><!--選択-->
                    </td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.userIdentify.sectionCd)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.sectionName)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.userIdentify.userId)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.userName)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.officialName)</span></td>
                    <td class="BoxDetailCenter"><span class="FontList">#out($!deptItem.sectionPlaceCd)</span></td>
                    <td class="BoxDetailLeft"><span class="FontList">#out($!deptItem.sectionPlaceName)</span></td>
                     #customFormHiddenInput("mailAddr" "$!deptItem.mailAddr") 
                     #customFormHiddenInput("extensionNo" "$!deptItem.extensionNo")
                     #customFormHiddenInput("externalNo" "$!deptItem.externalNo")
                     #customFormHiddenInput("faxNo" "$!deptItem.faxNo")
            </tr>
                </tbody>
            #end
        </table>
        #parse("./common/src_title2.vm")
        #end
          <br>
        <table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
        <img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao START +++++
        </td></tr></table>
        ## +++++ 強化-01835-000 2013/06/29 ADD SBO_lichao -END- +++++
    </form>
</body>
</html>
