$!PSORD040PageCreater.build('upd','_tr_style', '', '_td_style_left', 'class="Box1H FontBoxHeader"','_td_style_right', 'class="Box1D FontSmall"')
#foreach($!item in $!PSORD040PageCreater.getItemListForBody())
    #if($!item.getColumnName() == "T_ORDER.ORDER_NO")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSlipNo"','_item_style', 'class="FontSlipNo"')
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_VERSION")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSlipNo"','_item_style', 'class="FontSlipNo"')
    #elseif($!item.getColumnName() == "T_ORDER.TITLE_NAME")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.REQ_USER_ID")
        $!PSORD040PageCreater.printSpecial("CLIENT",'m15_showUser', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.PUR_REQ_DATE")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_FIRST_DATE")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.APP_ROUTE_NO")
        $!PSORD040PageCreater.printSpecial('m02_inputAppRoute', $!item, '_companyCd', $!userCompanyCd, '_sectionCd', $!userSectionCd, '_voucherType', '2', '_td_style_right', 'class="Box1D"', '_item_style', 'class="Small" onchange="setAppRouteName();setShowButton();"','_currentAppRoute',"$!domain.approute.appRouteNo")
    #elseif($!item.getColumnName() == "T_ORDER.LOAD_SECTION_CD")
        $!PSORD040PageCreater.printSpecial('m16_showSectionForOrderStop', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.DELIV_PLACE_CD")
        $!PSORD040PageCreater.printSpecial("DELIVERY_PLACE",'m17_showDelivery', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.SUP_CD")
        $!PSORD040PageCreater.printSpecial("SUPPLIER",'m23_showSupplierDetail', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.SUBJECT_CD")
        $!PSORD040PageCreater.printSpecial("SUBJECT",'m19_showSubject', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_CLASS_S")
        #if(!$!domain.reqInd.isCatalog())
        $!PSORD040PageCreater.printSpecial('m10_showItemKind', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.PRODUCT_CLASS")
        #if($!domain.reqInd.isCatalog())
            $!PSORD040PageCreater.printSpecial('m30_showItemProductClass', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_CD")
        $!PSORD040PageCreater.printSpecial("s00_label",$!item)
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_NAME")
        $!PSORD040PageCreater.printSpecial("s00_label",$!item)
    #elseif($!item.getColumnName() == "T_ORDER.KATASHIKI")
        $!PSORD040PageCreater.printSpecial("s00_label",$!item)
    #elseif($!item.getColumnName() == "T_ORDER.MANUFACT_CD")
        $!PSORD040PageCreater.printSpecial('m20_showManufact', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.INSPECT_IND")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_DELIV_DATE")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.CURRENCY_CD")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_item_style', 'id="requestCurrencyCd"')
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_PRICE")
        $!PSORD040PageCreater.printSpecial("s24_currency", $!item,"_item_style",'class="FontCurrSmall"','_td_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_VOL")
        $!PSORD040PageCreater.printSpecial('s16_showVol', $!item)
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_AMOUNT")
        $!PSORD040PageCreater.printSpecial("s24_currency", $!item,"_item_style",'class="FontCurrSmall"','_td_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName() == "T_ORDER.CURRENCY_CD")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.UNIT_PRICE")
        $!PSORD040PageCreater.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName() == "T_ORDER.UNIT_PRICE_IND")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.PRICE_UNDEC_REASON")
        #if($!domain.status.priceManagement.unitPriceInd != '1')
            $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_tr_style', 'id="unDecReason"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.PRICE_DEC_DATE")
        #if($!domain.status.priceManagement.unitPriceInd != '1')
            $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_tr_style', 'id="priceDecDate"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_VOL")
        $!PSORD040PageCreater.printSpecial('s27_volForCancel', $!item, '_item_style', 'class="FontCurrSmall"', '_td_rcv_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_AMOUNT")
        $!PSORD040PageCreater.printSpecial('s26_amountForCancel', $!item, '_item_style', 'class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName() == "T_ORDER.TAX_IND")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.CONSUMPT_IND")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.PAY_CONDITION_CD")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.BUDGET_NO")
        #if($isActiveProfileBudget=="true")
            $!PSORD040PageCreater.printSpecial('BG02_budget_no_label', $!item)
        #else
            $!PSORD040PageCreater.printSpecial('s00_label', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ATTACH_FILE_SEQ1")
        $!PSORD040PageCreater.printSpecial('s14_showFile3', $!item, '_event','onclick = "downloadFile(id);"','_event2','onclick = "downloadFile(id);"','_event3','onclick = "downloadFile(id);"')
    #elseif($!item.getColumnName() == "T_ORDER.BUYER_COMMENT")
        $!PSORD040PageCreater.printDefault($!item)
    #elseif($!item.getColumnName() == "T_ORDER.FOR_SUPPRIER_COMMENT")
        $!PSORD040PageCreater.printDefault($!item)
    #elseif($!item.getColumnName() == "T_PUR_APL.FOR_BUYER_COMMENT")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY1")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY2")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY3")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY4")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY5")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #else
        $!PSORD040PageCreater.printDefaultForCancel($!item)
    #end
#end

<script language="javascript" type="text/javascript">
    function downloadFile(seqNo) {
        iframeChange("${flowExecutionUrl}&_eventId=download",'seqNo',seqNo);
    }
    function downloadExt(filename, file) {
        iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
    }
</script>