$!PSORD040PageCreater.build('reg','_tr_style', '', '_td_style_left', 'class="Box1H FontBoxHeader"','_td_style_right', 'class="Box1D FontSmall"', '_label_style', 'FontSmallAnk')
#foreach($!item in $!PSORD040PageCreater.getItemListForBody())
    #if($!item.getColumnName() == "T_ORDER.ORDER_NO")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSlipNo"','_item_style', 'class="FontSlipNo"')
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_VERSION")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSlipNo"','_item_style', 'class="FontSlipNo"')
    #elseif($!item.getColumnName() == "T_ORDER.TITLE_NAME")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.REQ_USER_ID")
        $!PSORD040PageCreater.printSpecial("CLIENT",'m15_showUser', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.PUR_REQ_DATE")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_FIRST_DATE")
    #elseif($!item.getColumnName() == "T_ORDER.APP_ROUTE_NO")
        $!PSORD040PageCreater.printSpecial('m02_inputAppRoute', $!item, '_companyCd', $!userCompanyCd, '_sectionCd', $!userSectionCd, '_voucherType', '2', '_td_style_right', 'class="Box1D"', '_item_style', 'class="Small" onchange="setAppRouteName();setShowButton();"','_currentAppRoute',"$!domain.approute.appRouteNo")
    #elseif($!item.getColumnName() == "T_ORDER.LOAD_SECTION_CD")
       	#if($customMacroRequestContext.isActiveProfile('budget'))
       	    $!PSORD040PageCreater.printSpecial('m03_inputLoadSection', $!item,'popupPageid','PSORD040', '_event','onblur="sectionOnblur();" onfocus="sectionCodeGetfocus(this);"')
        #else   
            $!PSORD040PageCreater.printSpecial('m03_inputSection', $!item,'popupPageid','PSORD040', '_event','onblur="sectionOnblur();" onfocus="sectionCodeGetfocus(this);"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.DELIV_PLACE_CD")
        #if(!$!domain.reqInd.isCatalog() && $!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial("DELIVERY_PLACE",'m17_showDelivery', $!item)
        #else
            $!PSORD040PageCreater.printSpecial("DELIVERY_PLACE",'m04_inputDelivery', $!item,'popupPageid','PSORD040','_event','onblur="deliveryPlaceOnBlur();" onfocus="deliveryPlaceCodeGetfocus(this);"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.SUP_CD")
        #if(!$!domain.reqInd.isCatalog() && !($!domain.isAdoFlg() && $!domain.isSupExist()))
            $!PSORD040PageCreater.printSpecial("SUPPLIER",'m22_inputSupplierDetail', $!item,"popupPageid","PSORD040_Insert", '_event','onblur="supcdOnBlur();" onfocus="supCodeGetfocus(this);" onchange="changeAppRoute();"')
        #else
            $!PSORD040PageCreater.printSpecial("SUPPLIER",'m23_showSupplierDetail', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.SUBJECT_CD")
        $!PSORD040PageCreater.printSpecial("SUBJECT",'m07_inputSubject', $!item, 'popupPageid', 'PSORD040', '_event','onblur="subjectOnblur();" onfocus="subjectCodeGetfocus(this);"')
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_CLASS_S")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial('m06_inputItemKind', $!item, 'popupPageid', 'PSORD040','_sectionTypeCode','0')
        #elseif(!$!domain.reqInd.isCatalog())
            $!PSORD040PageCreater.printSpecial('m10_showItemKind', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.PRODUCT_CLASS")
        #if($!domain.reqInd.isCatalog())
            $!PSORD040PageCreater.printSpecial('m30_showItemProductClass', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_CD")
        $!PSORD040PageCreater.printSpecial("s00_label",$!item)
    #elseif($!item.getColumnName() == "T_ORDER.ITEM_NAME")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg() && $!domain.accounting.orderItem.item.itemCd == '')
            $!PSORD040PageCreater.printDefault($!item)
        #else
            $!PSORD040PageCreater.printSpecial("s00_label",$!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.KATASHIKI")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg() && $!domain.accounting.orderItem.item.itemCd == '')
            $!PSORD040PageCreater.printDefault($!item)
        #else
            $!PSORD040PageCreater.printSpecial("s00_label",$!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.MANUFACT_CD")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg() && $!domain.accounting.orderItem.item.itemCd == '')
            $!PSORD040PageCreater.printSpecial('m09_inputManufact', $!item, 'popupPageid', 'PSORD040', '_event','onblur="manufactOnBlur();" onfocus="manufactCodeGetfocus(this)"')
        #else
            $!PSORD040PageCreater.printSpecial('m20_showManufact', $!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.INSPECT_IND")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printDefault($!item)
        #else
            $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_DELIV_DATE")
        $!PSORD040PageCreater.printDefault($!item, '_td_style_right', 'class="Box1D"')
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.CURRENCY_CD")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_item_style', 'id="requestCurrencyCd"')
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_PRICE")
        $!PSORD040PageCreater.printSpecial("s24_currency", $!item, "_item_style", 'class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"', 'isNotChangeable', 'notChangeable')
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_VOL")
        $!PSORD040PageCreater.printSpecial('s16_showVol', $!item)
    #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_AMOUNT")
        $!PSORD040PageCreater.printSpecial("s24_currency", $!item, "_item_style", 'class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"', 'isNotChangeable', 'notChangeable')
    #elseif($!item.getColumnName() == "T_ORDER.CURRENCY_CD")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_item_style', 'id="currencyCd"')
    #elseif($!item.getColumnName() == "T_ORDER.UNIT_PRICE")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial('s02_currency', $!item, '_event', 'onblur="editVal(this);calculateAmountByAjax();" onfocus="deleteComma(this);"')
        #else
            $!PSORD040PageCreater.printSpecial('s24_currency', $!item, '_item_style', 'class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"', 'isNotChangeable', 'notChangeable', 'currencyMarkId', 'mark.accounting.orderAmount.unitPrice.amount.amountFormat')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.UNIT_PRICE_IND")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printDefault($!item, '_event', 'onchange="dispUnitPriceInd();"', '_spaceAddFlg', '1')
        #else
            $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.PRICE_UNDEC_REASON")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial('s10_inputUndecidedReason', $!item, '_tr_style', 'id="unDecReason"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.PRICE_DEC_DATE")
        #if(!$!domain.reqInd.isCatalog() && !$!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial('s38_inputPriceDecDate',$!item,'_tr_style', 'id="priceDecDate"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_VOL")
        #if(!$!domain.reqInd.isCatalog() && $!domain.isAdoFlg())
            $!PSORD040PageCreater.printSpecial('s16_showVol', $!item)
        #else
            $!PSORD040PageCreater.printSpecial('s21_volUnit', $!item, '_event', 'onblur="editVal(this); calculateAmountByAjax();" onfocus="deleteComma(this);"')
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ORDER_AMOUNT")
        $!PSORD040PageCreater.printSpecial('s24_currency', $!item, '_item_style', 'id="orderAmount" class="FontCurrSmall"', '_td_style_right', 'class="Box1D FontSmall"')
    #elseif($!item.getColumnName() == "T_ORDER.TAX_IND")
        #if(!$!domain.reqInd.isCatalog())
            $!PSORD040PageCreater.printSpecial('s46_inputTaxInd', $!item, '_td_style_left', 'class="Box1Hd FontBoxHeader"','_td_style_right', 'class="Box1Dd"', '_spaceAddFlg', '1')
        #else
            $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.CONSUMPT_IND")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item, '_page_value', true)
    #elseif($!item.getColumnName() == "T_ORDER.PAY_CONDITION_CD")
        $!PSORD040PageCreater.printSpecial("s41_inputPayCondition",$!item)
    #elseif($!item.getColumnName() == "T_ORDER.BUDGET_NO")
        #if($isActiveProfileBudget=="true")
            #if($!item.itemDefinitionDetail.inputMethod.regFlg.regFlg=='1')
                $!PSORD040PageCreater.printSpecial('BG02_budget_no_label', $!item)
            #elseif($!item.itemDefinitionDetail.inputMethod.regFlg.regFlg=='2')
                $!PSORD040PageCreater.printSpecial("BG01_input_BudgetNo",$!item,'popupPageid','PSORD040')
            #end
        #else
            $!PSORD040PageCreater.printDefault($!item)
        #end
    #elseif($!item.getColumnName() == "T_ORDER.ATTACH_FILE_SEQ1")
        $!PSORD040PageCreater.printSpecial('s20_file3', $!item, '_td_style_right', 'class="Box1Dd FontMini"')
    #elseif($!item.getColumnName() == "T_ORDER.BUYER_COMMENT")
        $!PSORD040PageCreater.printDefault($!item)
    #elseif($!item.getColumnName() == "T_ORDER.FOR_SUPPRIER_COMMENT")
        $!PSORD040PageCreater.printDefault($!item)
    #elseif($!item.getColumnName() == "T_PUR_APL.FOR_BUYER_COMMENT")
        $!PSORD040PageCreater.printSpecial('s00_label', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY1")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY2")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY3")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY4")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #elseif($!item.getColumnName() == "DUMMY.DISPLAY5")
        $!PSORD040PageCreater.printSpecial('s40_catalogDisplay', $!item)
    #else
        $!PSORD040PageCreater.printDefault($!item)
    #end
#end