<!--
/************************************************************************************/
/*     TCP    IMEモードを設定するスタイルシート	STYLE SHEET (Color.css)					*/
/************************************************************************************/

input.noIME {
	ime-mode: disabled;
}

input.onIME {
	ime-mode: active;
}

input.inIME {
    ime-mode: inactive;
}

textarea.noIME {
    ime-mode: disabled;
}

textarea.onIME {
    ime-mode: active;
}

textarea.inIME {
    ime-mode: inactive;
}
//--->

