<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.dataaccess.dlv.chk.PreLinkCmnMapper">
    <select id="getPreDelivResp" resultType="java.lang.String">
      SELECT T_DLV_EST_MNG.DELIV_MNG_SEQ
        FROM T_DLV_EST_MNG
       WHERE T_DLV_EST_MNG.ORDER_NO = #{orderNo}
         AND T_DLV_EST_MNG.DELETE_FLG = '0'
         AND T_DLV_EST_MNG.INQ_RESP_IND = '2'
         AND T_DLV_EST_MNG.DELIV_VERSION =
            (SELECT COALESCE(MAX(DELIV_VERSION), 0) AS MAX_DELIV_VERSION
               FROM T_DLV_EST_MNG T_DLV_EST_MNG_A
              WHERE T_DLV_EST_MNG_A.ORDER_NO = #{orderNo}
                AND T_DLV_EST_MNG_A.DELETE_FLG = '0'
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(delivMngSeq)">
                AND T_DLV_EST_MNG_A.DELIV_MNG_SEQ != #{delivMngSeq}
        </if>
                AND T_DLV_EST_MNG_A.INQ_RESP_IND = '2')
    </select>
</mapper>