<table class="NoBorder" width="100%" style="margin:auto;">
    <tr>
        <td>
         ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
         #if($!uploadFileFlag)
         ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
            <table>
                <tr>
                    <td class="FontMini DarkBlue">
                        #customSpringMessage('UPLOAD_FILE')：&nbsp;<input class="Small" id="file" name="file" type="file" size="80">
                        
                    </td>
                    <td align="left">
                        <input class="SmallButton" type="button" value="#customSpringMessage('ACTION_UPLOAD')" onclick="javascript:doUpload()">
                    </td>
                </tr>
            </table>
         ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf START +++++
          #end
         ## +++++ 強化-00832-000 2013/05/02 ADD SBO_wangzf END +++++
        </td>
        <td align="center">
        </td>
        <td align="right">
            <input class="SmallButton" type="button" value="#customSpringMessage('ACTION_DOWNLOAD')" onclick="javascript:doDownload()">
        </td>
    </tr>
</table>