<table class="NoBorder" width="100%" style="margin:auto;">
    <tr>
        <td align="left">
            <table width="100%">
                <tr>
                    <td align="left" class="FontSmallBold"></td>
                    <td align="right">
                        <input id="button_exec_nm" class="SmallButton" type="button" value="#customSpringMessage('ACTION_REGISTER')" onclick="save();"><!-- 登録 -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>