<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('T_NEWS')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    setFocus();
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
        var isSuccess = '#jsEscape($!isSuccess)';
        if(isSuccess == 'true'){
            #set( $mNews = "#customSpringMessage('T_NEWS')" )
            #if($!type == "Update")
                alert('#customMessageArgs("I002",[$mNews])');
            #else
                alert('#customMessageArgs("I005",[$mNews])');
            #end
            buttonDisable();
            top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }

}

function exec() {
    #set( $mmNews = "#customSpringMessage('T_NEWS')" )
    #if($!type == "Update")
        #set( $register = "#customSpringMessage('UPDATE')" )
        if( !confirm('#customMessageArgs("W001",[$mmNews,$register])') ) {
            return;
        }
    #else
        #set( $register = "#customSpringMessage('ACTION_REGISTER')" )
        if( !confirm('#customMessageArgs("W001",[$mmNews,$register])') ) {
            return;
        }
    #end

    buttonDisable();
    getObj("Body").submit();
}
function getCalendar(num,objName){
    var obj = document.getElementsByName(objName)[0];
    initSearchBox(num,obj);
}


//-->
</script>
</head>
<body class="Body" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="center" onload="onLoad();">
<table class="NoBorder" width="70%"><tr><td>
<!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
<iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
</td></tr></table>
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    #customFormHiddenInput("pageid" "news$!type")
    #if($isUseAll)
    #customFormHiddenInput("companySummary.companyCd" "ALL")
    #end
    <table width="70%" style="height:20px; margin-right:auto; margin-left:auto;">
       <tr id ="TR_ERROR" style="display:none;">
           <td class="error">
               $!errorMessage
           </td>
       </tr>
       <tr>
            <td class="FontSmallBold DarkBlue">
                #if($!{type} == "Insert")
                    #customSpringMessage("PSMST322_ADD_HEADER_COMMENT")
                #else
                    #customSpringMessage("PSMST322_EDIT_HEADER_COMMENT")
                #end
            </td>
       </tr>
    </table>
			<table class="DTL_BOX" width="70%">
				<tr>
					<td class="DTL_TITLE_BOX" colspan="2">
						<table class="NoBorder" width="100%">
							<tr>
                                #if("Insert" == "$!type")
								<td class="FontBigBold" style="text-align:left;"><span class="FontBigBold DarkBlue">#customSpringMessage('SCREEN_T_NEWS_CREATE')<!--お知らせ情報登録--></span></td>
								#else
                                <td class="FontBigBold" style="text-align:left;"><span class="FontBigBold DarkBlue">#customSpringMessage('SCREEN_T_NEWS_EDIT')<!--お知らせ情報編集--></span></td>
                                #end
                                <td  align="right">
									<input type="button" onclick="exec();" class="MiddleButton" value="#customSpringMessage('ACTION_REGISTER')">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="DTL_INTER_BOX">
						<table class="NoBorder" width="100%">
						#if(!$isUseAll)
						<tr>
								<td class="DTL_OUTHEAD" width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('COMPANY_CD')<!--会社コード--></span>
									</div>
								</td>
								<td class="DTL_OUTBODY">
									<div class="DTL_INBODY">
										<table class="NoBorder" width="100%">
											<tr>
												<td class="FontMiniAnkBold"><span class="Brown">
												    #out($domain.companySummary.companyCd)
												</span></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							#end
							#if(!$isUseAll)
							<tr>
								<td class="DTL_OUTHEAD" width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('COMPANY_NAME')<!--会社名--></span>
									</div>
								</td>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INBODY">
										<table class="NoBorder" width="100%">
											<tr>
												<td class="FontMiniAnkBold"><span class="Brown">
                                                    #out($domain.companySummary.companyName)
												</span></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							#end
							<tr>
								<td class="DTL_OUTHEAD" width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('SEND_USER')<!--発信者--></span><span class="FontSmallAnk Red">&nbsp;※</span>
									</div>
								</td>
								<td class="DTL_OUTBODY">
									<div class="DTL_INBODY">
										<table class="NoBorder" width="100%"><tr>
                                        #customFormInputByType("domain.sendUserName" "class='Middle onIME' maxLength='30' size='75' type='text'" "true" "" "")
										</tr></table>
									</div>
								</td>
							</tr>

							<tr>
								<td class="DTL_OUTHEAD"  width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('TITLE')<!--タイトル--></span><span class="FontSmallAnk Red">&nbsp;※</span>
									</div>
								</td>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INBODY">
                                        #customFormInputByType("domain.title" "class='Middle onIME' maxLength='40' type='text' size='102'" "true" "" "")
									</div>
								</td>
							</tr>
							<tr>
								<td class="DTL_OUTHEAD"  width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('CONTENTS')<!--内容 --></span>
										<br><br><br>
										<br><br><br>
									</div>
								</td>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INBODY">
                                        ## +++++  強化-01383-000 2013/05/14 ADD SBO_wangzf START +++++
                                        #springFormTextarea("domain.contents" "cols='70' maxlength='200' rows='5'")<br>
										## +++++  強化-01383-000 2013/05/14 ADD SBO_wangzf END +++++
										## -----  強化-01383-000 2013/05/14 ADD SBO_wangzf START -----
										## #springFormTextarea("domain.contents" "cols='70' rows='5' class='Middle onIME' maxLength='200'")<br>
										## -----  強化-01383-000 2013/05/14 ADD SBO_wangzf END -----
										<span class="FontSmall">#customSpringMessage('PSMST322_CONTENTS_COMMENT') <!--全角200文字以内(改行も1文字に数えます)--></span>
									</div>
								</td>
							</tr>

							<tr>
								<td class="DTL_OUTHEAD"  width="30%">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('VIEW_SIGHT')<!--閲覧範囲--></span><span class="FontSmallAnk Red">&nbsp;※</span>
									</div>
								</td>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INBODY"><span class="FontSmall">
                                        #customFormRadioButtons("domain.userKbn.recvUserInd" $userKbnList "" "")
                                        </span>
									</div>
								</td>
							</tr>
							<tr>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INHEAD">
										<span class="FontSmallBold">#customSpringMessage('PUBLICATION_PERIOD')<!--掲載期間--></span><span class="FontSmallAnk Red">&nbsp;※</span>
									</div>
								</td>
								<td class="DTL_OUTHEAD">
									<div class="DTL_INBODY">
                                        #springFormInput("domain.validityPeriod.period.startDate.dateOfymdFormat" "maxLength=8 size=12 class='Small noIME' onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="getCalendar(1,'validityPeriod.period.startDate.dateOfymdFormat');"><!--カレンダー-->
                                                                                                            ～
                                        #springFormInput("domain.validityPeriod.period.endDate.dateOfymdFormat" "maxLength=8 size=12 class='Small noIME'  onblur='dateOnBlur(this);' onfocus='dateOnFocus(this);' ")
                                        <img class="Icon" src="../../image/btnCalendar.gif" onclick="getCalendar(1,'validityPeriod.period.endDate.dateOfymdFormat');"><!--カレンダー-->
                                    </div>
								</td>
							</tr>
						</table>
						 <hr>
                        <table class="NoBorder" width="100%">
                            <tr>
                                <td class="DTL_MSGBOX" nowrap>
                                    #if($!{type} == "Insert")
                                        #customSpringMessage("PSMST322_ADD_FOOTER_COMMENT")
                                    #else
                                        #customSpringMessage("PSMST322_EDIT_FOOTER_COMMENT")
                                    #end
                                </td>
                                <td class="DTL_MSGBOX" align="right">
                                    <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_REGISTER')" onclick="exec();"><!--登　録-->
                                </td>
                            </tr>
                        </table>

					</td>
				</tr>
			</table>
</form>

</body>

</html>
