<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.AccountSectionMapper">
    <select id="getAccountSectionCount" resultType="int">
		SELECT COUNT(1) 
		FROM M_ACC_DEPT 
		WHERE REQ_COMPANY_CD = #{reqCompanyCd} 
		      AND REQ_SECTION_CD = #{reqSectionCd}
		      AND ACCOUNT_COMPANY_CD = #{accountCompanyCd}
	</select>
</mapper>