<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.AuthCheckMapper">

    <select id="hasAuth" resultType="Integer">
        SELECT COUNT(0)
        FROM M_USER
        INNER JOIN M_ROLE ON
                M_USER.COMPANY_CD = M_ROLE.COMPANY_CD
            AND M_USER.ROLE_NO = M_ROLE.ROLE_NO
        INNER JOIN M_ROLE_DTL ON
                M_ROLE.COMPANY_CD = M_ROLE_DTL.COMPANY_CD
            AND M_ROLE.ROLE_NO = M_ROLE_DTL.ROLE_NO
        WHERE
                M_USER.COMPANY_CD = #{userIdentify.companyCd}
            AND M_USER.SECTION_CD = #{userIdentify.sectionCd}
            AND M_USER.USER_ID = #{userIdentify.userId}
            AND M_ROLE_DTL.AUTH_NO = #{authNo}
            AND M_ROLE_DTL.AUTH_IND = '1'
    </select>
</mapper>
