<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2013.02.13 ADD DAIKO_WANG START -->
<mapper namespace="ps.check.impl.business.BuyerPriceIsEditingMapper">

    <select id="unapprovedBuyerPriceEditingCount" resultType="int">
        SELECT COUNT(1)
          FROM M_PUR_PRICE
         WHERE
	           M_PUR_PRICE.BUYER_COMPANY_CD = #{identify.buyerCompany.buyerCompanyCd}
	           AND M_PUR_PRICE.BUYER_SECTION_CD = #{identify.buyerCompany.buyerSectionCd}
	           AND M_PUR_PRICE.SUP_CD = #{identify.supplierFrom.supCd}
	           AND M_PUR_PRICE.APP_STATUS_IND &lt;&gt; '2'
    </select>

    <select id="unapprovedBuyerPriceEditingCountByItem" resultType="int">
        SELECT COUNT(1)
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{identify.buyerCompany.buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{identify.buyerCompany.buyerSectionCd}
               AND M_PUR_PRICE.ITEM_CD = #{identify.item.itemCd}
               AND M_PUR_PRICE.SUP_CD = #{identify.supplierFrom.supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;&gt; #{identify.validityPeriodPre.period.startDate.dateOfymd}
               AND M_PUR_PRICE.VALID_END_DATE &lt;&gt; #{identify.validityPeriodPre.period.endDate.dateOfymd}
               AND M_PUR_PRICE.APP_STATUS_IND &lt;&gt; '2'
    </select>

    <select id="unapprovedPriceRevCount" resultType="int">
        SELECT COUNT(1)
          FROM T_PRICE_REV
         WHERE
               T_PRICE_REV.PRICE_REQ_COMPANY_CD = #{companyCd}
               AND T_PRICE_REV.PRICE_REQ_SECTION_CD = #{sectionCd}
               AND T_PRICE_REV.SUP_CD = #{supCd}
               AND T_PRICE_REV.PRICE_STATUS &lt;&gt; '30'
               AND T_PRICE_REV.DELETE_FLG = '0'
    </select>

</mapper>
