<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.DlvEstIsHolidayPolicyMapper">

    <select id="searchCount" resultType="int">
       SELECT
           COUNT(DISTINCT M_HOLIDAY.HOLIDAY) 
       FROM M_HOLIDAY,M_DELIVERY_PLACE
       WHERE M_HOLIDAY.HOLIDAY=#{dlvEstDate}
             AND M_HOLIDAY.COMPANY_CD =#{companyCd}
             AND M_HOLIDAY.SECTION_PLACE_CD =#{sectionPlaceCd}
             AND M_DELIVERY_PLACE.COMPANY_CD = M_HOLIDAY.COMPANY_CD
             AND M_DELIVERY_PLACE.SECTION_PLACE_CD = M_HOLIDAY.SECTION_PLACE_CD
    </select>

    <select id="delivSearchCount" resultType="int">
       SELECT
           COUNT(DISTINCT M_HOLIDAY.HOLIDAY)
       FROM M_HOLIDAY,M_DELIVERY_PLACE
       WHERE M_HOLIDAY.HOLIDAY=#{dlvEstDate}
             AND M_DELIVERY_PLACE.DELIV_PLACE_CD =#{delivPlaceCd}
             AND M_HOLIDAY.COMPANY_CD = M_DELIVERY_PLACE.COMPANY_CD
             AND M_HOLIDAY.SECTION_PLACE_CD = M_DELIVERY_PLACE.SECTION_PLACE_CD
    </select>
</mapper>