<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.DlvMaxPctCondMapper">

    <!-- 強化-00180-000 2013/03/13 MODIFY SBO_SOKOU START -->
    <select id="getDlvMaxPctFromItemClass" resultType="String">
        SELECT M_ITEM_CLASS.DLV_MAX_PCT
          FROM M_ITEM
         INNER JOIN M_ITEM_CLASS
                 ON M_ITEM.ITEM_CLASS_L = M_ITEM_CLASS.ITEM_CLASS_L
                AND M_ITEM.ITEM_CLASS_M = M_ITEM_CLASS.ITEM_CLASS_M
                AND M_ITEM.ITEM_CLASS_S = M_ITEM_CLASS.ITEM_CLASS_S
                AND M_ITEM_CLASS.TERM_FLG = '0'
         WHERE (M_ITEM.COMPANY_CD = #{companyCd}
            OR M_ITEM.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
           AND M_ITEM.ITEM_CD = #{itemCd}
           AND M_ITEM.TERM_FLG = '0'
    </select>

    <select id="getDlvMaxPctFromItemKind" resultType="String">
        SELECT M_ITEM_KIND.DLV_MAX_PCT
          FROM M_ITEM_KIND
         INNER JOIN T_ORDER
                 ON M_ITEM_KIND.ITEM_CLASS_L = T_ORDER.ITEM_CLASS_L
                AND M_ITEM_KIND.ITEM_CLASS_M = T_ORDER.ITEM_CLASS_M
                AND M_ITEM_KIND.ITEM_CLASS_S = T_ORDER.ITEM_CLASS_S
                AND T_ORDER.ORDER_SEQ = #{orderSeq}
         WHERE (M_ITEM_KIND.COMPANY_CD = #{companyCd}
            OR M_ITEM_KIND.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
           AND M_ITEM_KIND.TERM_FLG = '0'
    </select>
    <!-- 強化-00180-000 2013/03/13 MODIFY SBO_SOKOU END -->
</mapper>
