<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.ExistSectionPlaceMapper">

    <select id="sectionExistSectionPlace" resultType="Integer">
		SELECT      COUNT(1)
		FROM        M_SECTION
		WHERE       M_SECTION.COMPANY_CD = #{companyCd}
        AND         M_SECTION.SECTION_CD = #{sectionCd}
        AND         M_SECTION.SECTION_PLACE_CD = #{sectionPlaceCd}
		AND         M_SECTION.VALID_START_DATE &lt;= '${@fw.common.util.AppUtil@getSysDate()}'
		AND         M_SECTION.VALID_END_DATE >= '${@fw.common.util.AppUtil@getSysDate()}'
		AND         M_SECTION.TERM_FLG = 0 
    </select>
</mapper>