<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.HopeDlvEstIsHolidayMapper">

    <select id="searchCount" resultType="int">
       SELECT
           COUNT(DISTINCT M_HOLIDAY.HOLIDAY) 
       FROM M_DELIVERY_PLACE,
           M_SECTION_PLACE,
           M_HOLIDAY
       WHERE M_DELIVERY_PLACE.Company_Cd=M_SECTION_PLACE.Company_Cd
           AND M_DELIVERY_PLACE.Company_Cd = M_HOLIDAY.Company_Cd
           AND M_DELIVERY_PLACE.Section_Place_Cd = M_SECTION_PLACE.Section_Place_Cd
           AND M_SECTION_PLACE.SECTION_PLACE_CD = M_HOLIDAY.SECTION_PLACE_CD
           AND M_DELIVERY_PLACE.TERM_FLG = '0'
           AND M_SECTION_PLACE.Term_Flg = '0'
           AND M_DELIVERY_PLACE.Deliv_Place_Cd = #{delivPlaceCd}
           AND M_HOLIDAY.HOLIDAY=#{date}
           <!-- ＩＴ２-01523-000 2013/06/08 ADD SBO_CHENCHENG START -->
           AND M_DELIVERY_PLACE.COMPANY_CD=#{companyCd}
           <!-- ＩＴ２-01523-000 2013/06/08 ADD SBO_CHENCHENG -END- -->
    </select>
</mapper>