<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.ItemKindDeptSectionMapper">

    <select id="validateItemKind" resultType="int">
        SELECT      COUNT(*)
        FROM        M_ITEM_KIND
        WHERE       M_ITEM_KIND.ITEM_CLASS_L = #{itemKind.itemClassL}
        AND         M_ITEM_KIND.ITEM_CLASS_M = #{itemKind.itemClassM}
        AND         M_ITEM_KIND.ITEM_CLASS_S = #{itemKind.itemClassS}
        AND         M_ITEM_KIND.ITEM_CLASS_IND = '3'
        AND         M_ITEM_KIND.TERM_FLG = '0'
        AND         M_ITEM_KIND.BUYER_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
        AND         EXISTS
                    (
                        SELECT      *
                        FROM        M_PROC_DEPT
                        WHERE       M_PROC_DEPT.REQ_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
                        AND         M_PROC_DEPT.REQ_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
                        AND         M_PROC_DEPT.BUYER_SECTION_CD  = M_ITEM_KIND.BUYER_SECTION_CD
                    )
    </select>
</mapper>