<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.check.impl.business.NotExistReceiveCancelMapper">
    <select id="countReceiveCancel" resultType="int">
        SELECT
            COUNT(1)
        FROM
            T_ARRIVAL
        INNER JOIN T_RECEIVE_MNG ON
            T_RECEIVE_MNG.NEW_ARRIVAL_SEQ = T_ARRIVAL.ARRIVAL_SEQ
        WHERE
                T_ARRIVAL.CORRECT_CD = '3'
            AND T_ARRIVAL.ARRIVAL_STATUS IN ('01','02','03')
            AND T_ARRIVAL.DELETE_FLG = '0'
            AND T_ARRIVAL.ORDER_NO = #{orderNo}
    </select>
</mapper>