<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.OrderStatusCheckMapper">

    <!-- 2013/05/31 強化-01706-000 MODIFY SBO_SOKOU START -->
    <select id="getStatus" resultType="String">
        SELECT ORDER_STATUS
          FROM T_ORDER
         WHERE ORDER_NO = #{orderNo}
           AND NEW_FLG = '1'
           AND DELETE_FLG = '0'
    </select>
    <!-- 2013/05/31 強化-01706-000 MODIFY SBO_SOKOU -END- -->
</mapper>
