<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.PriceOrderMapper">

    <select id="getOrderLT" resultType="Integer">
        SELECT M_PUR_PRICE.ORDER_LT
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.ITEM_CD = #{itemCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND (M_PUR_PRICE.PUR_STOP_FROM &gt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR M_PUR_PRICE.PUR_STOP_TO &lt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR (M_PUR_PRICE.PUR_STOP_FROM is null and M_PUR_PRICE.PUR_STOP_TO is null))
               AND M_PUR_PRICE.APP_STATUS_IND = '2'
    </select>

    <select id="getMinOrderVol" resultType="fw.domain.mst.basicvocabulary.candidate.Vol">
        SELECT M_PUR_PRICE.MIN_ORDER_VOL AS "vol"
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.ITEM_CD = #{itemCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND (M_PUR_PRICE.PUR_STOP_FROM &gt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR M_PUR_PRICE.PUR_STOP_TO &lt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR (M_PUR_PRICE.PUR_STOP_FROM is null and M_PUR_PRICE.PUR_STOP_TO is null))
               AND M_PUR_PRICE.APP_STATUS_IND = '2'
    </select>
    
    <select id="getExternalCatalogMinOrderVol" resultType="fw.domain.mst.basicvocabulary.candidate.Vol">
        SELECT M_PUR_PRICE.MIN_ORDER_VOL AS "vol"
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND (M_PUR_PRICE.PUR_STOP_FROM &gt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR M_PUR_PRICE.PUR_STOP_TO &lt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR (M_PUR_PRICE.PUR_STOP_FROM is null and M_PUR_PRICE.PUR_STOP_TO is null))
               AND M_PUR_PRICE.APP_STATUS_IND = '2'
               AND M_PUR_PRICE.TERM_FLG = '0'
    </select>

    <select id="getOrderUnit" resultType="fw.domain.mst.basicvocabulary.candidate.Vol">
        SELECT M_PUR_PRICE.ORDER_UNIT AS "vol"
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.ITEM_CD = #{itemCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND (M_PUR_PRICE.PUR_STOP_FROM &gt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR M_PUR_PRICE.PUR_STOP_TO &lt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR (M_PUR_PRICE.PUR_STOP_FROM is null and M_PUR_PRICE.PUR_STOP_TO is null))
               AND M_PUR_PRICE.APP_STATUS_IND = '2'
               AND M_PUR_PRICE.TERM_FLG = '0'
    </select>
    
    
    <select id="getExternalCatalogOrderUnit" resultType="fw.domain.mst.basicvocabulary.candidate.Vol">
        SELECT M_PUR_PRICE.ORDER_UNIT AS "vol"
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND (M_PUR_PRICE.PUR_STOP_FROM &gt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR M_PUR_PRICE.PUR_STOP_TO &lt; '${@fw.common.util.AppUtil@getSysDate()}'
                   OR (M_PUR_PRICE.PUR_STOP_FROM is null and M_PUR_PRICE.PUR_STOP_TO is null))
               AND M_PUR_PRICE.APP_STATUS_IND = '2'
               AND M_PUR_PRICE.TERM_FLG = '0'
    </select>
</mapper>
