<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.PriceRegSameSupSameTitNameMapper">

    <select id="getRegistNumber" resultType="Integer">
       SELECT COUNT(*)
         FROM T_PRICE_REV
        <where>
               T_PRICE_REV.SUP_CD = #{supCd}
           AND T_PRICE_REV.PRICE_REQ_COMPANY_CD = #{companyCd}
           AND T_PRICE_REV.TITLE_NAME = #{titleName}
           AND T_PRICE_REV.PRICE_REQ_SECTION_CD = #{sectionCd}
           AND T_PRICE_REV.PRICE_STATUS = '21'
           AND T_PRICE_REV.DELETE_FLG='0'
        </where>   
    </select>    
</mapper>