<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.PriceCreateRegisterExistMapper">

    <select id="getCount" resultType="Integer">
        SELECT COUNT(*)
        FROM T_PRICE_REV
        <where>
           <!-- 2013/05/28 ADD DAIKO_YAMAGUCHI START -->
           T_PRICE_REV.PRICE_REQ_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
           AND T_PRICE_REV.PRICE_REQ_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}'
           <![CDATA[
           AND T_PRICE_REV.PRICE_STATUS <> '30'
           ]]>
           AND 
           <!-- 2013/05/28 ADD DAIKO_YAMAGUCHI -END- -->
           T_PRICE_REV.SUP_CD = #{supCd}
           <!-- 2013/05/28 DEL DAIKO_YAMAGUCHI
           AND T_PRICE_REV.UPD_YM = #{updYm} -->
           AND T_PRICE_REV.DELETE_FLG = '0'
        </where>   
    </select>

</mapper>
