<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2013.02.13 ADD DAIKO_WANG START -->
<mapper namespace="ps.check.impl.business.PriceValidateMapper">

    <select id="getValidate" resultType="int">
        SELECT COUNT(1)
          FROM M_PUR_PRICE
         WHERE
	           M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
	           AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
	           AND M_PUR_PRICE.ITEM_CD = #{itemCd}
	           AND M_PUR_PRICE.SUP_CD = #{supCd}
	           AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
	           AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
	           AND M_PUR_PRICE.APP_STATUS_IND = '${@fw.common.constant.CodeNameConstant@APP_STATUS_IND_APPROVED}'
	           AND M_PUR_PRICE.TERM_FLG = 0
    </select>
    
    <select id="getExternalCatalogValidate" resultType="int">
        SELECT COUNT(1)
          FROM M_PUR_PRICE
         WHERE
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
               AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
               AND M_PUR_PRICE.SUP_CD = #{supCd}
               AND M_PUR_PRICE.VALID_START_DATE &lt;= #{systemTime}
               AND M_PUR_PRICE.VALID_END_DATE >= #{systemTime}
               AND M_PUR_PRICE.APP_STATUS_IND = '${@fw.common.constant.CodeNameConstant@APP_STATUS_IND_APPROVED}'
               AND M_PUR_PRICE.TERM_FLG = 0
    </select>

</mapper>
<!-- 2013.02.13 ADD DAIKO_WANG -END- -->
