<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.QuotReqIsNotFinishPolicyMapper">
    <select id="getPurAplNo" resultType="String">
        SELECT      T_PUR_REQUEST.PUR_APL_NO
        FROM        T_PUR_REQUEST
        LEFT JOIN   T_QUOT_REQUEST
        ON          T_PUR_REQUEST.PUR_APL_NO = T_QUOT_REQUEST.PUR_APL_NO
        AND        (T_PUR_REQUEST.PUR_REQ_NO = T_QUOT_REQUEST.QUOT_REQ_NO
        OR          T_PUR_REQUEST.PUR_APL_NO = T_QUOT_REQUEST.QUOT_REQ_NO)
        <where>
                    T_PUR_REQUEST.PUR_REQ_NO = #{purReqNo}
        AND         T_QUOT_REQUEST.NEW_FLG = '1' 
        AND         T_QUOT_REQUEST.DELETE_FLG = '0'
        AND         T_QUOT_REQUEST.QUOT_REQ_STATUS &lt;>'21'
        AND        (T_QUOT_REQUEST.QUOT_ADO_STATUS &lt;>'21'
        OR          T_QUOT_REQUEST.QUOT_ADO_STATUS IS NULL)
        </where> 
        GROUP BY    T_PUR_REQUEST.PUR_APL_NO
    </select>
</mapper>