<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.ReceiveInfoIsRepeatMapper">

    <select id="search" resultType="int">
	    SELECT COUNT(1)
		  FROM T_RECEIVE_MNG
		 WHERE T_RECEIVE_MNG.DELIV_KEY_NO = #{delivKeyNo}
		   AND T_RECEIVE_MNG.DELIV_STATUS != '1105'
		   AND T_RECEIVE_MNG.DELETE_FLG = '0'
    </select>

</mapper>