<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.ReceiveNotInfoIsRepeatMapper">

    <select id="search" resultType="String">
    SELECT T_RECEIVE_MNG.DELIV_KEY_NO
      FROM T_RECEIVE_MNG
     WHERE
           T_RECEIVE_MNG.DELIV_KEY_NO = #{delivKeyNo}
       AND T_RECEIVE_MNG.DELIV_STATUS &lt;&gt; #{receiveManagementStatus}
    </select>
    
</mapper>