<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.SlipReqTypeIndCheckMapper">

    <select id="searchCountDelivKeyNo" resultType="fw.domain.slip.order.order.Order">
        SELECT T_ORDER.REQ_TYPE_IND AS "reqInd"
        FROM T_ORDER       
    </select>
    
</mapper>