<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.SumPricePolicyMapper">

    <select id="getAppRouteCount" resultType="int">
    SELECT COUNT(1)
	  FROM M_APP_ROUTE
	 WHERE M_APP_ROUTE.COMPANY_CD = #{companyCd}
	   AND M_APP_ROUTE.SECTION_CD = #{sectionCd}
	   AND M_APP_ROUTE.APP_VOUCHER_IND = #{appVoucherInd}
	   AND M_APP_ROUTE.APP_ROUTE_NO = #{appRouteNo}
	   AND M_APP_ROUTE.TARGET_PRICE_FROM &lt;= #{sumPrice}
	   AND M_APP_ROUTE.TARGET_PRICE_TO >= #{sumPrice}
	   AND M_APP_ROUTE.VALID_START_DATE &lt;= #{systemDate}
	   AND M_APP_ROUTE.VALID_END_DATE >= #{systemDate}
	   AND M_APP_ROUTE.TERM_FLG = '0'
    </select>
    
</mapper>