<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.SupFromPasswordConfirmMapper">

    <select id="verifyPassword" resultType="int">
		SELECT COUNT(1)
		  FROM M_B_USER
		 WHERE M_B_USER.COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}'
		   AND M_B_USER.USER_ID = '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
		   AND M_B_USER.PASSWORD = #{password}
    </select>    
    
</mapper>
