<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.UnitPriceIndIsUnderConfirmPolicyMapper">

    <select id="getUnitPriceInd" resultType="hashmap">
        SELECT T_ORDER.UNIT_PRICE_IND,
               T_SLIP_MNG.RECEIVE_STATUS
          FROM T_ORDER
     LEFT JOIN T_SLIP_MNG
            ON T_SLIP_MNG.SLIP_NO = T_ORDER.ORDER_NO
         WHERE T_ORDER.ORDER_SEQ = #{orderSeq}
    </select>

</mapper>