<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.UnitPriceLotConformityMapper">

    <select id="getNumberForUnacknowledged" resultType="int">
        SELECT COUNT(BUYER_COMPANY_CD)
          FROM M_PUR_PRICE_DTL    
        <where>
               BUYER_COMPANY_CD = #{buyerCompanyCd}
           AND BUYER_SECTION_CD = #{buyerSectionCd}
           AND ITEM_CD = #{itemCd}
           AND SUP_CD = #{supCd}
           AND VALID_START_DATE  &lt;= '${@fw.common.util.AppUtil@getSysDate()}'
           AND VALID_END_DATE >= '${@fw.common.util.AppUtil@getSysDate()}'
           AND BUY_PRICE = #{price}
           AND LOWER_VOL &lt;=#{count}
           AND UPPER_VOL >=#{count}
        </where>   
    </select>

</mapper>