<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.UnitPriceConformityMapper">

    <select id="getNumberForUnacknowledged" resultType="Integer">
        SELECT COUNT(M_PUR_PRICE.BUYER_COMPANY_CD)
          FROM M_PUR_PRICE    
        <where>
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
           AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
           AND M_PUR_PRICE.ITEM_CD = #{itemCd}
           AND M_PUR_PRICE.SUP_CD = #{supCd}
           AND M_PUR_PRICE.VALID_START_DATE  &lt;= '${@fw.common.util.AppUtil@getSysDate()}'
           AND M_PUR_PRICE.VALID_END_DATE >= '${@fw.common.util.AppUtil@getSysDate()}'
           AND M_PUR_PRICE.BUY_PRICE = #{price}
        </where>   
    </select>

</mapper>