<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.UpdateNoExistMapper">

    <select id="getShipmentVol" resultType="int">
        SELECT COUNT(M_PUR_PRICE.BUYER_COMPANY_CD)
          FROM M_PUR_PRICE
        <where>
               M_PUR_PRICE.BUYER_COMPANY_CD = #{buyerCompanyCd}
           AND M_PUR_PRICE.BUYER_SECTION_CD = #{buyerSectionCd}
           AND M_PUR_PRICE.ITEM_CD = #{itemCd}
           AND M_PUR_PRICE.SUP_CD = #{supCd}
           AND M_PUR_PRICE.UPDATE_NO = #{updateNo}
           <!-- 強化-01815-000 20130621 SBO_SOKOU DEL START-->
           <!-- AND M_PUR_PRICE.VALID_START_DATE = #{validDateStart} -->
           <!-- AND M_PUR_PRICE.VALID_END_DATE = #{validDateEnd} -->
           <!-- 強化-01815-000 20130621 SBO_SOKOU DEL -END- -->
        </where>
    </select>

</mapper>
