<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.business.ValidPeriodConstraintMapper">

    <select id="getValidPeriodCount" resultType="Integer">
        SELECT 
          COUNT(BUYER_COMPANY_CD)
        FROM 
          M_PUR_PRICE
        WHERE BUYER_COMPANY_CD = #{buyerCompanyCd}
          AND BUYER_SECTION_CD = #{buyerSectionCd}
          AND ITEM_CD= #{itemCd}
          AND SUP_CD = #{supCd}
          AND VALID_START_DATE = #{validPeriodFrom}
          AND VALID_END_DATE = #{validPeriodTo}
    </select>
    
    <!-- ＩＴ２-01382-000 2013/04/09 ADD SBO_pangzhen START -->
    <select id="getDetailValidPeriodCount" resultType="Integer">
        SELECT 
          COUNT(BUYER_COMPANY_CD)
        FROM 
          M_PUR_PRICE_DTL
        WHERE BUYER_COMPANY_CD = #{buyerCompanyCd}
          AND BUYER_SECTION_CD = #{buyerSectionCd}
          AND ITEM_CD= #{itemCd}
          AND SUP_CD = #{supCd}
          AND VALID_START_DATE = #{validPeriodFrom}
          AND VALID_END_DATE = #{validPeriodTo}
    </select>
    <!-- ＩＴ２-01382-000 2013/04/09 ADD SBO_pangzhen -END- -->

</mapper>
