<!doctype html>
<html lang="ja">
<head>
<title>#customSpringMessage('M_COND')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")
function onLoad() {
    setFocus();
    
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        return;
    }
        var isSuccess = '#jsEscape($!isSuccess)';
        if(isSuccess == 'true'){
            #set( $mCond = "#customSpringMessage('M_COND')" )
            
            
            #if($!type == "Update")
                alert('#customMessageArgs("I002",[$mCond])');
            #else
                alert('#customMessageArgs("I005",[$mCond])');
            #end 
            buttonDisable();
            top.iframeChange("${flowExecutionUrl}&_eventId=back");
        }
    
}

function exec() {

    #set( $mmCond = "#customSpringMessage('M_COND')" )   
    #if($!type == "Update")
        #set( $register = "#customSpringMessage('UPDATE')" )
        if( !confirm('#customMessageArgs("W001",[$mmCond,$register])') ) {
            return false;
        }
    #else
        #set( $register = "#customSpringMessage('ACTION_REGISTER')" )
        if( !confirm('#customMessageArgs("W001",[$mmCond,$register])') ) {
            return false;
        }
    #end
    
    buttonDisable();
    getObj("Body").submit();
}

//-->
</script>
</head>
<body class="Body" topmargin="10" leftmargin="10" marginwidth="10" marginheight="10" align="center" onload="onLoad();" >
<form id="Body" name="Body" action="${flowExecutionUrl}&_eventId=submit" method="post">
    #customFormHiddenInput("pageid" "condEdit")
    #customFormHiddenInput("condIdentify.condKey" "$!domain.condIdentify.condKey")
    #customFormHiddenInput("condIdentify.conddeValue" "$!domain.condIdentify.condValue")
    <table width="70%" style="height:20px; margin-right:auto; margin-left:auto;">
       <tr id ="TR_ERROR" style="display:none;">
           <td class="error">
               $!errorMessage
           </td>
       </tr>
       <tr>
            <td class="FontSmallBold DarkBlue">
               #customSpringMessage("PSMST012_EDIT_HEADER_COMMENT")
            </td>
       </tr>    
    </table>
    <table class="DTL_BOX" width="70%">
        <tr>
            <td class="DTL_TITLE_BOX">
                <table class="NoBorder" width="100%">
                    <tr>
                        <td style="text-align:left;"><span class="DarkBlue FontBigBold">#customSpringMessage("SCREEN_M_COND_EDIT")</span></td> <!--設定マスタ編集-->
                        <td class="FontSmall" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_REGISTER')" onClick="exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="DTL_INTER_BOX">
                <table class="NoBorder" width="100%">
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage('COND_KEY')</span><!--設定キー-->
                            </div>
                        </td>
                        <td class="DTL_OUTBODY">
                            <div class="DTL_INBODY">
                                #customFormInputByType("domain.condIdentify.condKey" "" "false"  "class='FontMiniAnkBold'" "class='Brown'")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage('COND_NAME')</span><!--設定名-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                #customFormInputByType("domain.condName" "" "false"  "class='FontMiniAnkBold'" "class='Brown'")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader">#customSpringMessage('COND_VALUE')</span>#customFormRedMessageByType("class=FontWarn" "true" "※")<!--設定値-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                #customFormInputByType("domain.condValue" "class='Middle onIME' size='40' maxlength='256' value='10' " "true"  "" "")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="DTL_OUTHEAD" width="30%">
                            <div class="DTL_INHEAD">
                                <span class="FontBoxHeader"　>#customSpringMessage('COND_COMMENTS')</span><!--設定説明-->
                            </div>
                        </td>
                        <td class="DTL_OUTHEAD">
                            <div class="DTL_INBODY">
                                #customFormInputByType("domain.condComments" "" "false"  "class='FontMiniAnkBold'" "class='Brown' style='white-space: pre-wrap;'")
                            </div>
                        </td>
                    </tr>
                </table>
                
                <table class="NoBorder" style="width:100%;">
                    <tr>
                        <td class="DTL_MSGBOX FontWarn" nowrap>
                            #customSpringMessage("PSMST012_EDIT_FOOTER_COMMENT") 
                        </td>
                        <td class="DTL_MSGBOX" align="right">
                            <input type="button" class="MiddleButton" value="#customSpringMessage('ACTION_REGISTER')" onclick="exec();">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
