<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('CATALOG_SELECTION')</title><!--カタログ選択-->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
if("$!errorMessage" != ""){
        var obj= $(top.BODYAREA.document);
        obj.find('#error').text($("<span>$!errorMessage</span>").text());
        obj.find('input[name="catalogSelectSearchCondition.keyword"]').val($("<span>$!searchCondition.catalogSelectSearchCondition.keyword</span>").text());
        obj.find('#TR_ERROR').show();
        history.back();
}
#parse("./common/common_js.vm")
var classList = new Array($!itemClassTreeArrayData);
top.backUrl="${flowExecutionUrl}&_eventId=back";
top.homeUrl="${flowExecutionUrl}&_eventId=home";
function onLoad() {
    setFocus();
    changeFontSize();
    top.document.title = document.title;
    top.viewMode ="0";

    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    var isShowList = "#jsEscape($isShowList)";
    if (errorMsg != ""){
        return;
    }
    if (isShowList == 'true'){
        getObj("catalogSelectSearchCondition.keyword").value="";
        iframeChange("${flowExecutionUrl}&_eventId=search","pageid","PriceList");
    }
    if( isShowList != "true"){
        iframeChange("${flowExecutionUrl}&_eventId=searchCategoryList","catalogSelectSearchCondition.outputPlace","0","itemClass.itemClassInd","1","itemClass.itemClassL","","itemClass.itemClassM","","itemClass.itemClassS","","DATAAREA");
    }
}


function changeFontSize() {
    changeFontSize0();
}

var currentSelectedNode = null;
function selectNode(wId,keywordFlag,outputPlace,itemClassInd,itemClassL,itemClassM,itemClassS, selectedObj) {
	##IT2-01057-000 12.12.27 start
    ## ＩＴ３-00279-000 2013.07.22 DEL SBO_WANGXM START
	//if (oldOnclickFlg == onclickFlg || listOnclickFlg == true) {
		//return;
	//}
    ## ＩＴ３-00279-000 2013.07.22 DEL SBO_WANGXM -END-
	listOnclickFlg = true;
   var docHref = document.body.getElementsByTagName("a");
   var aLength = docHref.length;
   for (var i=0;i<aLength;i++) {
    docHref[i].disabled=true;
   }
   if(outputPlace=="0"){
        if(itemClassM == ""){
            iframeChange("${flowExecutionUrl}&_eventId=searchCategoryList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }else{
            iframeChange("${flowExecutionUrl}&_eventId=searchPriceArticleList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }
   }else if(outputPlace=="2"){
        if(itemClassM == ""){
            iframeChange("${flowExecutionUrl}&_eventId=searchCategoryList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }else{
            iframeChange("${flowExecutionUrl}&_eventId=searchOuterCatalogList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }
   }else{
        if(itemClassM == ""){
            iframeChange("${flowExecutionUrl}&_eventId=searchCategoryList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }else{
            iframeChange("${flowExecutionUrl}&_eventId=searchFavoritesCatalogList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"keywordFlag","0","DATAAREA");
        }
   }

   if(selectedObj){
        if(currentSelectedNode){
            $(currentSelectedNode).css('background-color','transparent');
            $(currentSelectedNode).css('color', 'black');
        }
        $(selectedObj).css('background-color','blue');
        $(selectedObj).css('color', '#fff');
        currentSelectedNode = selectedObj;
   }

}

function changeTag(no) {
    for(i=0; i<3; i++) {
        if( i==no ) {
            getObj("TagHeader_"+i).className = "DetailTabsOn";
            setDisplay("TagBody_"+i,true);

        } else {
            getObj("TagHeader_"+i).className = "DetailTabsOff";
            setDisplay("TagBody_"+i,false);
        }
    }
}

function newSearch(){
        if(valKeywordEmpty()){
            return;
        }

        if(selectCheckboxS()){
             ## +++++ ＩＴ２-01532-000 2013/05/30 ADD SBO_jujt START +++++
            buttonDisable();
            $('#error').text('');
            ## +++++ ＩＴ２-01532-000 2013/05/30 ADD SBO_jujt END +++++
             getObj("Body").action="${flowExecutionUrl}&_eventId=newSearch";
             getObj("Body").target="DATAAREA";
             getObj("Body").submit();
             $('input[name="catalogSelectSearchCondition.keyword"]').val("");
             $('#DATAAREA').load(function(){
                buttonUsable();
             });
        }

}

function narrowSearch(){
        if(valKeywordEmpty()){
            return;
        }
        if(selectCheckboxS()){
            ## +++++ ＩＴ２-01532-000 2013/05/30 ADD SBO_jujt START +++++
            buttonDisable();
            $('#error').text('');
            ## +++++ ＩＴ２-01532-000 2013/05/30 ADD SBO_jujt END +++++
            getObj("Body").action="${flowExecutionUrl}&_eventId=narrowSearch";
            getObj("Body").target="DATAAREA";
            getObj("Body").submit();
            $('input[name="catalogSelectSearchCondition.keyword"]').val("");
            $('#DATAAREA').load(function(){
               buttonUsable();
            });
        }

}
function selectCheckboxS(){
       if("0"==getObj("catalogSelectSearchCondition.itemCd").value && "0"==getObj("catalogSelectSearchCondition.itemName").value && "0"==getObj("catalogSelectSearchCondition.supplierName").value && "0"==getObj("catalogSelectSearchCondition.katashiki").value && "0"==getObj("catalogSelectSearchCondition.manufactName").value && "0"==getObj("catalogSelectSearchCondition.itemClassName").value ){
               #set($searchTarget = "#customSpringMessage('SEARCH_TARGET')" )
               alert('#customMessageArgs("E027",[$searchTarget])');
               return false;
       }
       return true;
}
function valKeywordEmpty(){
    if(getObj("catalogSelectSearchCondition.keyword").value==""){
         #set( $keywordSearch = "#customSpringMessage('KEYWORD_SEARCH')" )
         document.getElementById("TR_ERROR").style.display = "";
         document.getElementById("error").innerHTML='#customMessageArgs("E002",[$keywordSearch])'
         return true;
    }
    return false;
}
function toggle(obj){
    var expanded = $(obj).attr('data-expanded') == 'true';

    if(expanded){
        $(obj).attr('src', '../../image/btnPlus.gif');
        $(obj).parent().siblings().hide();
    } else {
        $(obj).attr('src', '../../image/btnMinus.gif');
        $(obj).parent().siblings().show();
    }
    $(obj).attr('data-expanded', !expanded);
}

function openExternalCatalog(externalCatalogId, supplierCode, buyerCompanyCode, buyerSectionCode, catalogName, itemCode){
	iframeChange("${flowExecutionUrl}&_eventId=searchOuterCatalogList","catalogSelectSearchCondition.outputPlace",2,"catalogName", catalogName, "keywordFlag","0", "DATAAREA");

	var setupURL = '../../punchout/setup?supplierCode='+ supplierCode + '&buyerCompanyCode=' + buyerCompanyCode + '&buyerSectionCode=' + buyerSectionCode + '&itemCode=' + itemCode;
	window.open(setupURL, externalCatalogId);
}
//-->
</script>
<style>
body.TreeArea {
    background-color:#ECECEC;
    padding:0px 0px 0px 0px;
    z-index:-1;
    text-align:left;
    height:100%;
    width:auto;
}
</style>
</head>

<body class="TreeArea" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" ALIGN="left" width="100%" style="text-align:left;height:100%;" onload="onLoad();">
<form name="Body" id="Body" onsubmit="return false;" method="post">
<table class="NoBorder" style="width:100%;height:100%;">
 <tr>
  <td id="ADJUSTTREEAREA" name="ADJUSTTREEAREA">
   <div id="Area" style="OVERFLOW-Y: auto;OVERFLOW-X: auto; HEIGHT: 100%">
   <textarea name="W" style="display:none;"></textarea>
    <table class="NoBorder" style="width:99%;">
        <tr id ="TR_ERROR" style="display:none;">
            <td id="error" class="error" style="background-color:transparent;">$!errorMessage</td>
        </tr>
        <tr>
            <td class="FontSmallBold" align="left">
               <table width="98%"><tr><td></td></tr>
               <tr><td>
              #customFormHiddenInput("catalogSelectSearchCondition.outputPlace" "0")
              #customFormHiddenInput("keywordFlag" "1")
                <span class="CornerTopGray">
                <span class="Corner1"></span><span class="Corner2"></span><span class="Corner3"></span><span class="Corner4"></span>
                </span>
                <div class="CornerMidGray PaddingM ScreenName" width="100%">
                    #customSpringMessage('CATALOG_SELECTION')<!--カタログ選択 -->
                </div>
                <span class="CornerBtmGray">
                <span class="Corner4"></span><span class="Corner3"></span><span class="Corner2"></span><span class="Corner1"></span></span>
                <br>
                </td></tr>
                <table class="NoBorder" width="100%">
                    <tr>
                        <td colspan="2" class="FontSmallBold" style="border-bottom:1px solid #999999;">
                   #customSpringMessage('KEYWORD_SEARCH')<!-- キーワードで検索-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" nowrap style="padding-top:6px;">
                            <table class="NoBorder">
                                <tr>
                                    <td nowrap>
                                    #springFormInput("searchCondition.catalogSelectSearchCondition.keyword" "class='Small' maxLength=60 size=50")
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td nowrap colspan="2" align="left" style="padding-bottom:6px;border-bottom:1px dashed #999999;">
                            <input class="MiniButton" type="button" value="#customSpringMessage('NEW_SEARCH')" onclick="newSearch();">  <!--新規検索 -->
                            <input class="MiniButton" type="button" value="#customSpringMessage('NARROW_SEARCH')" onclick="narrowSearch();"> <!--絞込検索 -->
                        </td>
                    </tr>
                    <tr>
                        <td class="FontMini Green" align="left" valign="top" nowrap style="padding-top:6px;border-bottom:1px dashed #999999;">#customSpringMessage('SEARCH_TARGET')：</td> <!-- 検索対象-->
                        <td class="FontMini" align="left" style="border-bottom:1px dashed #999999;">
                            <table class="NoBorder">
                                <tr>
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.itemCd" "" "1" "0")#customSpringMessage('ITEM_CD')&nbsp;</td> <!--品名コード -->
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.itemName" "" "1" "0")#customSpringMessage('ITEM_NAME')&nbsp;</td> <!--品名 -->
                                </tr>
                                <tr>
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.supplierName" "" "1" "0")#customSpringMessage('SUP_NAME')&nbsp;</td> <!--取引先名 -->
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.katashiki" "" "1" "0")#customSpringMessage('KATASHIKI')&nbsp;</td> <!--型式 -->
                                </tr>
                                <tr>
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.manufactName" "" "1" "0")#customSpringMessage('MANUFACT_NAME')&nbsp;</td> <!--メーカー名 -->
                                    <td class="FontMini" nowrap>#customFormCheckbox("searchCondition.catalogSelectSearchCondition.itemClassName" "" "1" "0")#customSpringMessage('PRODUCT_CLASS')&nbsp;</td> <!--品名分類 -->
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="FontMini" align="left" valign="top" nowrap style="color:green;padding-top:6px;border-bottom:1px dashed #999999;">#customSpringMessage('INSPECTION_TYPE')：</td> <!-- 検索種別-->
                        <td class="FontMini" align="left" style="border-bottom:1px dashed #999999;">
                            #customFormRadioButtons("searchCondition.catalogSelectSearchCondition.searchType" $searchTypeList "" "")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="FontSmallBold" style="border-bottom:1px solid #999999;">
                <br>#customSpringMessage('CATEGORY_SEARCH')   <!--カテゴリで検索 -->
            </td>
        </tr>
        <tr>
            <td  class="NoBorder" style="width:100%; height:0px;" align="left" valign="top">

                <table   class="NoBorder" width="100%" style="margin-top:4px;">
                    <tr>
                        <td id="TagHeader_0" class="DetailTabsOn"><a class="FontSmall" href="javascript:changeTag(0);" width="33%" nowrap>#customSpringMessage('PRODUCT_CLASS')</a></td>  <!--品名分類 -->
                        <td id="TagHeader_1" class="DetailTabsOff"><a class="FontSmall" href="javascript:changeTag(1);" width="33%" nowrap>#customSpringMessage('FAVORITE')</a></td>  <!--お気に入り -->
                        #if("1"==$useOuterCatalog)
                        <td id="TagHeader_2" class="DetailTabsOff"><a class="FontSmall" href="javascript:changeTag(2);" width="33%" nowrap>#customSpringMessage('OUTER_CATALOG')</a></td>  <!--外部カタログ -->
                        #end
                    </tr>
                </table>
            </td>
        </tr>

        <tr >
            <td class="InterTab">

                <table id="TagBody_0"   class="NoBorder"   width="100%">
                    <tr >
                        <td>
                            <table class="FontSmall">
                                <tr>
                                    <td>
                                        <dl>
                                        #foreach($itemClassL in $itemClassTree)
                                            <dd style="margin:0; padding: 0;">
                                            <dl style="margin:auto;">
                                                <dt>
                                                    <img src="../../image/btnMinus.gif" style="cursor:pointer;" onclick="toggle(this)" data-expanded="true">
                                                    <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_L_ABBR')</div>
                                                    <a href="#" onclick="selectNode(0,0,0,$itemClassL.itemClassInd,'$!itemClassL.itemClassL', '', '', this)">
                                                    #out($itemClassL.itemClassNameL)
                                                    </a>
                                                </dt>
                                                #foreach($itemClassM in $itemClassL.children)
                                                <dd style="margin:2px 2px 2px 18px; padding-left: 0;">
                                                    <dl style="margin:auto;">
                                                        <dt>
                                                            <img src="../../image/btnPlus.gif" style="cursor:pointer;" onclick="toggle(this)" data-expanded="false">
                                                            <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_M_ABBR')</div>
                                                            <a href="#" onclick="selectNode(0,0,0,$itemClassM.itemClassInd,'$itemClassM.itemClassL', '$itemClassM.itemClassM', '', this)">
                                                            #out($itemClassM.itemClassNameM)
                                                            </a>
                                                        </dt>
                                                        #foreach($itemClassS in $itemClassM.children)
                                                        <dd style="margin:2px 2px 2px 18px; padding-left: 0;display:none;">
                                                            <dl style="margin:auto;">
                                                                <dt>
                                                                    <img src="../../image/btnMinus.gif" style="cursor:pointer;">
                                                                    <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_S_ABBR')</div>
                                                                    <a href="#" onclick="selectNode(0,0,0,$itemClassS.itemClassInd,'$itemClassS.itemClassL', '$itemClassS.itemClassM', '$itemClassS.itemClassS', this)">
                                                                    #out($itemClassS.itemClassNameS)
                                                                    </a>
                                                                </dt>
                                                            </dl>
                                                        </dd>
                                                        #end
                                                    </dl>
                                                </dd>
                                                #end
                                            </dl>
                                            </dd>
                                        #end
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>

                <table id="TagBody_1" class="NoBorder"   style="display:none;" width="100%">
                    <tr>
                        <td class="FontMini" align="right">
                            <a  href="#" onclick="javascript:poppage('../../fav/favorite/PSFAV010','PSFAV010','600', '600');">#customSpringMessage('ACTION_MOD_FAV')</a> <!--お気に入りの編集... -->
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <table class="FontSmall">
                                <tr>
                                    <td>
                                        <dl>
                                            <dd style="margin:0; padding: 0;">
                                            <dl style="margin:auto;">
                                                <dt>
                                                    <img src="../../image/btnMinus.gif" style="cursor:pointer;" onclick="toggle(this)" data-expanded="true">
                                                    <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_L_ABBR')</div>
                                                    <a href="#" onclick="selectNode(0,0,1,1,'$favoritesTab.yourFavorites.userSectionInd', '', '', this)">
                                                    #out($favoritesTab.yourFavorites.favoriteFolderName)
                                                    </a>
                                                </dt>
                                                #foreach($favoritCatalog in $favoritesTab.yourFavorites.favoritesCatalogList)
                                                <dd style="margin:2px 2px 2px 18px; padding-left: 0;">
                                                    <dl style="margin:auto;">
                                                        <dt>
                                                            <img src="../../image/btnMinus.gif" style="cursor:pointer;">
                                                            <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_M_ABBR')</div>
                                                            <a href="#" onclick="selectNode(0,0,1,2,'$favoritesTab.yourFavorites.userSectionInd', '$favoritCatalog.favoritesSeqNo', '', this)">
                                                            #out($favoritCatalog.favoriteFolderName)
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                </dd>
                                                #end
                                            </dl>
                                            </dd>

                                            <dd style="margin:0; padding: 0;">
                                            <dl style="margin:auto;">
                                                <dt>
                                                    <img src="../../image/btnMinus.gif" style="cursor:pointer;" onclick="toggle(this)" data-expanded="true">
                                                    <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_L_ABBR')</div>
                                                    <a href="#" onclick="selectNode(0,0,1,1,'$favoritesTab.sectionFavorites.userSectionInd', '', '', this)">
                                                    #out($favoritesTab.sectionFavorites.favoriteFolderName)
                                                    </a>
                                                </dt>
                                                #foreach($favoritCatalog in $favoritesTab.sectionFavorites.favoritesCatalogList)
                                                <dd style="margin:2px 2px 2px 18px; padding-left: 0;">
                                                    <dl style="margin:auto;">
                                                        <dt>
                                                            <img src="../../image/btnMinus.gif" style="cursor:pointer;">
                                                            <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_M_ABBR')</div>
                                                            <a href="#" onclick="selectNode(0,0,1,2,'$favoritesTab.sectionFavorites.userSectionInd', '$favoritCatalog.favoritesSeqNo', '', this)">
                                                            #out($favoritCatalog.favoriteFolderName)
                                                            </a>
                                                        </dt>
                                                    </dl>
                                                </dd>
                                                #end
                                            </dl>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>

                <table id="TagBody_2"  class="NoBorder"  style="display:none;" width="100%" >

                    <tr >
                        <td>
                            <table class="FontSmall">
                                <tr>
                                    <td>
                                        <dl>
                                        #foreach($externalCatalog in $externalCatalogList)
                                            <dd style="margin:0; padding: 0;">
                                            <dl style="margin:auto;">
                                                <dt>
                                                    <div class="ItemKind" style="vertical-align:middle;">#customSpringMessage('ITEM_CLASS_L_ABBR')</div>
                                                    <a href="#" onclick="openExternalCatalog('$!externalCatalog.externalCatalogId', '$!externalCatalog.supplierCode', '$!externalCatalog.buyerCompanyCode', '$!externalCatalog.buyerSectionCode', '$!externalCatalog.catalogName', '$!externalCatalog.itemCode')">
                                                    #out($!externalCatalog.catalogName)
                                                    </a>
                                                </dt>
                                            </dl>
                                            </dd>
                                        #end
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

    </div>
  </td>
  <td id="ADJUSTDATAAREA" style="width:80%;" rowspan="1">
    <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="" scrolling="auto" frameborder="no" style="border-left:2px solid #E9E4BD;position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
  </td>
 </tr>
</table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</FORM>
</body>

</html>
