<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('CATALOG_SELECTION')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($searchCondition=$searchPath)
#parse("./common/common_js.vm")
var _width; 
function onLoad() {
    _width = fGetXY(document.Body.dummy1).x;
    var i,w;
    changeFontSize();
    #if($outerCatalogList.priceArticleList.size()==0)
     getObj("column").disabled="true";
     getObj("ascOrder").disabled="true";
    #end
    var errorMsg = "$!errorMessage";

}
function changeFontSize() {
    changeFontSize0();
}
function showCart() {
    #if($!fromPattern=="Home")
        top.iframeChange('${flowExecutionUrl}&_eventId=create','pageid','PSCAT020Insert');
    #end
    #if($!fromPattern=="Insert")
        top.iframeChange('${flowExecutionUrl}&_eventId=create','pageid','PSCAT020Insert');
    #end
    #if($!fromPattern=="Update")
        top.iframeChange('${flowExecutionUrl}&_eventId=edit','pageid','PSCAT020Update');
    #end
    #if($!fromPattern=="Correct")
        top.iframeChange('${flowExecutionUrl}&_eventId=applyAgain','pageid','PSCAT020Correct');
    #end
}
function toggleTreeArea() {

    var img = document.getElementById("toggleImage");

    if( img.src.indexOf("btnLeft.gif")>=0 ) {
        parent.getObj("ADJUSTDATAAREA").style.width = "100%";
        parent.getObj("Area").style.display = "none";
        img.src='../../image/btnRight.gif';
    } else {
        parent.getObj("ADJUSTDATAAREA").style.width = "80%";
        parent.getObj("Area").style.display = "";
        img.src='../../image/btnLeft.gif';
    } 
}

function order(){
    var column = getObj("column").value;
    var ascOrder = getObj("ascOrder").value;
    parent.iframeChange("${flowExecutionUrl}&_eventId=order","column",column,"ascOrder",ascOrder,"DATAAREA");
}
function selectNode(outputPlace,itemClassInd,itemClassL,itemClassM,itemClassS) {
    if(itemClassInd == "1"){
        parent.iframeChange("${flowExecutionUrl}&_eventId=searchCategoryList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"DATAAREA");
    }else{
         if(outputPlace=="0"){
             parent.iframeChange("${flowExecutionUrl}&_eventId=searchPriceArticleList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"DATAAREA");
         }else if(outputPlace=="2") {
             parent.iframeChange("${flowExecutionUrl}&_eventId=searchOuterCatalogList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"DATAAREA");
         }else{
             parent.iframeChange("${flowExecutionUrl}&_eventId=searchFavoritesCatalogList","catalogSelectSearchCondition.outputPlace",outputPlace,"itemClass.itemClassInd",itemClassInd,"itemClass.itemClassL",itemClassL,"itemClass.itemClassM",itemClassM,"itemClass.itemClassS",itemClassS,"DATAAREA");
         }
     }  
}
$(document).ready(function(){
	var count = function(){
		$.get('../../cartItemCount')
		.done(function(response){
				$('#cartItemCount').text(response);
				setTimeout(count, interval);
		});
	}
	var interval = '$!pollingInterval' || 1000;
	if(interval != '0'){
		count();
	}
});
//-->
</script>
</head>
<body class="CatalogMain" id="Body" onload="onLoad();">
    <form name="Body">
            <table class="NoBorder" width="100%">
                <tr id="TopView">
                                <td class="FontMini" nowrap>
                                    <table class="NoBorder">
                                        <tr>
                                            <td class="FontMini">
                                            	&nbsp;
                                            </td>
                                            <td><span id="A1" class="FontMini"></span>&nbsp;</td>
                                            <td><A id="C2" class="Normal"></A></td>
                                            <td>&nbsp;<span id="A2" class="FontMini"></span>&nbsp;</td>
                                            <td><A id="C3" class="Normal"></A></td>
                                            <td>&nbsp;<span id="A3" class="FontMini"></span>&nbsp;</td>
                                            <td><A id="C4" class="Normal"></A></td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="NoBorder" align="right" valign="bottom" nowrap>
                                    <table class="NoBorder" style="margin-top:4px;margin-right:none;">
                                        <tr>
                                            <td valign="top" style="width:22px;">
                                                <img name="Cart" src="../../image/mrkCart2.gif">&nbsp;
                                            </td>
                                            <td valign="top" class="FontLarge">
                                                <!--新人教育スターターキット-->
                                                <a class="Dashed FontLarge" id="CartLink" href="#" onclick="showCart();">
                                               #customSpringMessage('NEW_CART')
                                               #if("$!shoppingCart.priceArticleIdentifyList.size()"!="")
                                               (
                                               #end
                                               <span id="cartItemCount" class="FontLarge">
                                               $!shoppingCart.priceArticleIdentifyList.size()
                                               </span>
                                               #if("$!shoppingCart.priceArticleIdentifyList.size()"!="")
                                               )
                                               #end
                                                </a>&nbsp;<img class="Icon" src="../../image/mrkRight.gif" onclick="showCart();"><input name="dummy1" type="text" style="border:1px solid #ffffff;width:1px;" >
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                  </tr>
                <tr>
                    <td valign="bottom" colspan="2">
                                <table width="100%">
                                 <tr>
                                    <td style="width:16px;">
                                        <button type="button" class="Button" onclick="toggleTreeArea();" nowrap>
                                            <img id="toggleImage" src="../../image/btnLeft.gif" >
                                        </button>
                                    </td>
                                    <td id="HEADtitle" class="FontBigBold Green" align="left">
                                        #out($catalogName)
                                    </td>
                                    <td class="FontMini" align="right" nowrap;>
                                    </td>
                                    <td class="FontMini" align="right" nowrap;>
                                            <table class="NoBorder">
                                                <tr>
                                                    <td id="Explain_id">
                                                            <table >
                                                                    <tr>
                                                                       <td valign="middle" class="FontMini Green">
                                                                            &nbsp;
                                                                        </td>
                                                                        <td valign="middle" class="FontMini Green">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                    </td>
                                                    <td>
                                                    #if($LoginUser.hasAuth(${AuthNoConstant.getValue("PUR_UPDATE_GRANT")}))
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="FontSmallBold" href="#" onclick="javascript:top.iframeChange('${flowExecutionUrl}&_eventId=everyPurReq','pattern','create')">#customSpringMessage('TO_EVERY_PUR_REQ')</A>&nbsp;## 都度購入依頼へ
                                                    #end
                                                    </td>
                                                </tr>
                                            </table>
                                    </td>
                                </tr>
                           </table>
                    </td>
                </tr>
            </table>
   </form>
     <script>
    <!--
        ##IT2-01057-000 12.12.27 start
       var docHref = parent.document.body.getElementsByTagName("a");
       var aLength = docHref.length;
       for (var i=0;i<aLength;i++) {
          docHref[i].disabled=false;
       }
       parent.listOnclickFlg = false;
       ##IT2-01057-000 12.12.27 end
     //-->
    </script>
</body>
</html>
