<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('PAY_SLIP_LIST')</title> ## 支払伝票一覧
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link id="CSS_CORNERS" rel="stylesheet" href="../../include/Color.css" type="text/css">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery.tablefix.js"></script>
<script language="javascript" TYPE="text/javascript">
<!--

#parse("./common/common_js.vm")

function onLoad() {
    top.document.title=parent.document.title;
    dataLoadHasPage();

    var isApplyCancel = "#jsEscape($!isApplyCancelSuccess)";
    if (isApplyCancel == "true"){
        #set( $purReq = "#customSpringMessage('PAY_CHECK')" )
        alert('#customMessageArgs("I031",[$purReq])'); 
    }

    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        buttonUsableForList(alertMessage);
        alert(alertMessage);
    }

    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        return;
    }

	var isShowDetail = "#jsEscape($isShowDetail)";
    if (isShowDetail == 'true'){
      poppage("${flowExecutionUrl}&_eventId=detail",'DETAIL','800','700');
    }
}

function chkHead() {
    #foreach ( $item in $!itemList.paySlipItemList)
        if(getObj("ParentCheck").checked) {
            $("[id='_quotReqIdentifyList[$velocityCount].checkStatus']").attr("checked",'true');
            getObj('Row_$velocityCount').style.backgroundColor = "#ffff99";
        } else {
            $("[id='_quotReqIdentifyList[$velocityCount].checkStatus']").removeAttr("checked");
            if ("$velocityCount" % 2 != 0) {
                getObj('Row_$velocityCount').style.backgroundColor = "#dce4ef";
            } else {
                getObj('Row_$velocityCount').style.backgroundColor = "#ffffff";
            }
        }
    #end
}

function chkData(obj){
    var object = getObj(obj.parentNode.parentNode.id);
    var objId = object.id;
    var arr = objId.split("_");
    if(obj.checked){
        object.style.backgroundColor = "#ffff99";
    }else{
        if (arr[1] % 2 != 0) {
            object.style.backgroundColor = "#dce4ef";
        } else {
            object.style.backgroundColor = "#ffffff";
        }
    }
}

//詳細
function openDetail(payReqSeq,lastUpdDate){
    parent.iframeChange('${flowExecutionUrl}&_eventId=detailValidate','payReqSeq',payReqSeq,'lastUpdDate',lastUpdDate,"HIDDENAREA");
}
//申請中止
function openDetailApplyCancel(payReqSeq,lastUpdDate) {
    #set( $purReq = "#customSpringMessage('PAY_CHECK')")

   	#set( $reqStop = "#customSpringMessage('REQ_STOP')" ) 
    if( !confirm('#customMessageArgs("W001",[$purReq,$reqStop])') ) {
        return;
    }
    buttonDisable();
    parent.iframeChange('${flowExecutionUrl}&_eventId=applyCancel&payReqSeq='+payReqSeq+'&lastUpdDate='+ lastUpdDate);
}
//-->
</script>

</head>
<body id="BODY"  topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="left" onload="onLoad();setTablefix('#TABLE', 1, 3+$!PSPAY121PageCreaterForList.printLockColumn());" >
#if($!errorMessage && $!errorMessage !="")
<div class="error">
    $!errorMessage
</div>
#end
 <form name="FORM" id="FORM" method="post">
 #if($!itemList.paySlipItemList&& ($!itemList.paySlipItemList.size() > 0))
<table id="TABLE" class="ListArea" WIDTH="100%">
     <thead>
        <tr id="Header">
                <th class="BoxHeaderCenter FontSmall">No.</th>
                <th class="BoxHeaderCenter FontSmall">#customSpringMessage("DETAIL")</th><!--詳細 -->
                <th class="BoxHeaderCenter FontSmall">#customSpringMessage("ACTION")</th>##処理
               #foreach($!item in $!PSPAY121PageCreaterForList.getItemListForBody())
                #set($currentOneColumnFlag = $!PSPAY121PageCreaterForList.getOneColumnFlag($!item))
                #if($velocityCount == 0)
                    $!PSPAY121PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #elseif($currentOneColumnFlag)
                    $!PSPAY121PageCreaterForList.printBRtag($!item)
                #else
                    $!PSPAY121PageCreaterForList.printTHtagClose()
                    $!PSPAY121PageCreaterForList.printTHtag($!item,'class="BoxHeaderCenter FontSmall"')
                #end
                #if($!item.getColumnName()=="T_P_PAY.PAY_NO")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.ACC_USER_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.ACC_STATUS")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.REQ_DATE")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.TITLE_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.SUP_CD")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.SUP_ABBR_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.CURRENCY_CD")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.TOTAL_AMOUNT_IN_TAX")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.PAY_CONDITION_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.REQ_SECTION_CD")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.REQ_SECTION_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_ID")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.ACC_SECTION_CD")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #elseif($!item.getColumnName()=="T_P_PAY.ACC_SECTION_NAME")
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #else
                    $!PSPAY121PageCreaterForList.printHead($!item)
                #end
            #end
            $!PSPAY121PageCreaterForList.printTHtagClose()
        </tr>
    </thead>    
    <tbody>
    #set( $No = 0)    

    #foreach($!paySlipItem in $!itemList.paySlipItemList)
    
        #set( $No = $No+1)
        <tr id="Row_$velocityCount" name="Row_$velocityCount" #if($velocityCount % 2 == 0) bgcolor="#dce4ef" #else bgcolor="#ffffff" #end>
            <td class="BoxDetailCenter FontList">$No</td>           
            <td class="BoxDetailCenter">
                <img id="DetailButton_$velocityCount" class="Icon" src="../../image/btnDetailDisp.gif" onclick="openDetail('#jsEscapeInHTML($!paySlipItem.payReqIdentify.payReqSeq)','#jsEscapeInHTML($!paySlipItem.payReqIdentify.lastUpdDate)');">
            </td>
            <td class="BoxDetailCenter">
            #if("$!paySlipItem.status" !="02")
                <input type="button" class="SmallButton Red" value="#customSpringMessage('REQ_STOP')" onclick="openDetailApplyCancel('#jsEscapeInHTML($!paySlipItem.payReqIdentify.payReqSeq)','#jsEscapeInHTML($!paySlipItem.payReqIdentify.lastUpdDate)');">
            #end
            </td><!--申請中止-->
              #foreach($!item in $!PSPAY121PageCreaterForList.getItemListForBody($velocityCount))
                    #set($currentOneColumnFlag = $!PSPAY121PageCreaterForList.getOneColumnFlag($!item))
                    #if($velocityCount == 0)
                        $!PSPAY121PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #elseif(!$currentOneColumnFlag)
                        $!PSPAY121PageCreaterForList.printTDtagClose()
                        $!PSPAY121PageCreaterForList.printTDtag('class="BoxDetailLeft FontList"')
                    #end
                    #if($!item.getColumnName()=="T_P_PAY.PAY_NO")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontSlipNo" align="left"')
                    #elseif($!item.getColumnName()=="T_P_PAY.ACC_USER_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_P_PAY.ACC_STATUS")
                     #if("$!paySlipItem.status" =="03")
                    $!PSPAY121PageCreaterForList.printSpecial("s25_codeName", $!item,'ACC_STATUS','',"_data_style",'class="FontMiniAnkBold Red"  align="center"')
                     #else
                     $!PSPAY121PageCreaterForList.printSpecial("s25_codeName",$!item,'ACC_STATUS','',"_data_style",'class="FontMiniAnkBold" align="center"')
                      #end 
                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_DATE")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.TITLE_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_P_PAY.SUP_CD")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.SUP_ABBR_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_P_PAY.CURRENCY_CD")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.TOTAL_AMOUNT_IN_TAX")
                        $!PSPAY121PageCreaterForList.printSpecial('s27_list_data_currency',$!item,"_data_style",'class="FontCurrSmall" align="right"')
                    #elseif($!item.getColumnName()=="T_P_PAY.PAY_CONDITION_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_SECTION_CD")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_SECTION_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_ID")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #elseif($!item.getColumnName()=="T_P_PAY.ACC_SECTION_CD")
                        $!PSPAY121PageCreaterForList.printDefault($!item,"_data_style",'class="FontList" align="center"')
                    #elseif($!item.getColumnName()=="T_P_PAY.ACC_SECTION_NAME")
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #else
                        $!PSPAY121PageCreaterForList.printDefault($!item)
                    #end
                #end
                $!PSPAY121PageCreaterForList.printTDtagClose()
             </tr>
    #end
   </tbody>
</table>
 #end
<br>
<table id="WAIT" class="NoBorder" style="display:none;" width="100%"><tr><td align="center"><br><br>
<img src="../../image/wait.gif"><br><span class="FontMini"><br>#customSpringMessage('SEARCH_MESSAGE')</span></td></tr></table><!--問い合わせ中... -->
</form>
</body>
</html>
