<!doctype html>
<html LANG="ja">
<head>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('SCREEN_ACC_USER_CHANGE')</title><!--経理担当者変更（検索） -->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript">
<!--
#set($commonTitle = "#customSpringMessage('SCREEN_ACC_USER_CHANGE')")
#set($searchViewStateID='PSPAY080')
#set($listViewStateID='PSPAY081')

var pinName="PSPAY080_Pin";
#parse("./common/common_js.vm")

var maxSearchHeight = 160;
var minSearchHeight = 30;

function onLoad(){
    bodyLoad();
    var alertMessage = "$!alertMessage";
    if (alertMessage != ""){
        alert(alertMessage);
    }
    var errorMsg = "$!errorMessage";
    if (errorMsg != ""){
        document.getElementById("TR_ERROR").style.display = "";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen START -----
        ## document.getElementById("DATAAREA").src="";
        ## ----- ＩＴ３-00024-000 2013/06/29 DEL SBO_pangzhen -END- -----
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen START +++++
        document.getElementById("DATAAREA").contentWindow.document.body.innerText = ""; 
        ## +++++ ＩＴ３-00024-000 2013/06/29 ADD SBO_pangzhen -END- +++++
        return;
    }
        var isShowList = '#jsEscape($isShowList)';
        if(isShowList == 'true'){
            iframeChange("${flowExecutionUrl}&_eventId=search","pageid","PSPAY080");
        }

}
function clearSubjectName() {
        getObj('subjectName').value='';
}
## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW START +++++
function execSearch(){
    buttonDisable();
    getObj('BodyForm').action = "${flowExecutionUrl}&_eventId=validate";
    getObj('BodyForm').submit();
}
## +++++ 強化-00041-000 2013/04/07 ADD SBO_KANGJW END +++++
//-->
</script>
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" align="center" width="100%" height="100%" onload="onLoad();" style="overflow-y:hidden;">
<form id="BodyForm" name="Body"  action="${flowExecutionUrl}&_eventId=validate" method="post">
    <!-- ＊＊＊＊＊　カレンダーボックス　＊＊＊＊＊ -->
    <iframe id="CALENDARBOX" class="CALENDARBOX" framespacing="0"scrolling="no" frameborder="0" src="../../sbxCalendar/body.vm"></iframe>
    #customFormHiddenInput("accUserId.hidden" "$!defaultSearchCondition.accUserId")
    #customFormHiddenInput("payNo.hidden" "$!defaultSearchCondition.payNo")
    #customFormHiddenInput("titleName.hidden" "$!defaultSearchCondition.titleName")
    #customFormHiddenInput("supplierCd.hidden" "$!defaultSearchCondition.supplierCd")
    #customFormHiddenInput("supplierName.hidden" "$!defaultSearchCondition.supplierName")
    #customFormHiddenInput("currencyCd.hidden" "$!defaultSearchCondition.currencyCd")
    #customFormHiddenInput("reqUserId.hidden" "$!defaultSearchCondition.reqUserId")
    #customFormHiddenInput("reqUserName.hidden" "$!defaultSearchCondition.reqUserName")
    #customFormHiddenInput("reqDateFrom.dateOfymd.hidden" "$!defaultSearchCondition.reqDateFrom.dateOfymd")
    #customFormHiddenInput("reqDateTo.dateOfymd.hidden" "$!defaultSearchCondition.reqDateTo.dateOfymd")
    #customFormHiddenInput("payCondition.hidden" "$!defaultSearchCondition.payCondition")
    
    <table class="NoBorder" width="100%" height="100%">
        <tr>
            <td id="SEARCH_AREA" class="SearchArea"><!-- onLoadで変更 -->
                #parse("./common/common_title_tran_with_personal_setting.vm")
                
                <table width="100%">
                    <tr id="SEARCH_AREA2">
                        <td id="Adjust" align="right" valign="top">
                            <!-- 検索条件入力部 -->
                            <table class="NoBorder" width="100%">
                                ## 2013.03.21 ADD DAIKO_WANG
                                <tr><td align="left" colspan="4" nowrap>#customSpringMessage('PSPAY080_HEADER_COMMENT')</td></tr>
                             $!PSPAY080PageCreaterForSearch.build('_td_style_left','class="FontSmallBold" align="right"', '_td_style_right', 'class="FontSmall" align="left"', '_item_style','Small')
                                #set($isFirstItem = true)
                                #foreach($!item in $!PSPAY080PageCreaterForSearch.getItemListForBody())
                                    #set($currentOneRowFlag = $!PSPAY080PageCreaterForSearch.getOneRowFlag($!item))
                                    #if($isFirstItem)
                                        $!PSPAY080PageCreaterForSearch.printTRtag()
                                    #elseif($currentOneRowFlag)
                                            $!PSPAY080PageCreaterForSearch.printTDtag()
                                            $!PSPAY080PageCreaterForSearch.printTRtagClose()
                                            #set($isFirstItem = true)
                                            $!PSPAY080PageCreaterForSearch.printTRtag()
                                    #end
                                    #if($!item.getColumnName()=="T_P_PAY.ACC_USER_ID")
                                        $!PSPAY080PageCreaterForSearch.printSpecial('ACC_USER_NAME','s19_inputBuyer',$!item,'_authNo','500')
                                    #elseif($!item.getColumnName()=="T_P_PAY.PAY_NO")
                                        $!PSPAY080PageCreaterForSearch.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_P_PAY.TITLE_NAME")
                                        $!PSPAY080PageCreaterForSearch.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_P_PAY.SUP_CD")
                                        $!PSPAY080PageCreaterForSearch.printSpecial('m05_inputSupplier',$!item,"popupPageid","PSPAY080",'_masterCdIme','noIME')
                                    #elseif($!item.getColumnName()=="T_P_PAY.CURRENCY_CD")
                                        $!PSPAY080PageCreaterForSearch.printSpecial('m25_inputCurrency',$!item)
                                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_USER_ID")
                                        $!PSPAY080PageCreaterForSearch.printSpecial('m13_inputUserForSearch',$!item,"popupPageid","PSPAY080",'_masterCdIme','noIME')
                                    #elseif($!item.getColumnName()=="T_P_PAY.REQ_DATE")
                                        $!PSPAY080PageCreaterForSearch.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_P_PAY.PAY_CONDITION_CD")
                                        $!PSPAY080PageCreaterForSearch.printSpecial('m26_inputPayCondition',$!item)
                                    #else
                                        $!PSPAY080PageCreaterForSearch.printDefault($!item)
                                    #end
                                    #if($currentOneRowFlag)
                                        $!PSPAY080PageCreaterForSearch.printTRtagClose()
                                        #set($isFirstItem = true)
                                    #else
                                        #if($isFirstItem)
                                            #set($isFirstItem = false)
                                        #else
                                            $!PSPAY080PageCreaterForSearch.printTRtagClose()
                                            #set($isFirstItem = true)
                                        #end
                                    #end
                                #end
                                #if(!$isFirstItem)
                                        $!PSPAY080PageCreaterForSearch.printTDtag()
                                        $!PSPAY080PageCreaterForSearch.printTRtagClose()
                                #end
                                <tr>
                                    <!-- 科目-->
                                    <td nowrap class="FontSmallBold" align="right">#customSpringMessage("SUBJECT")</td>
                                    <td nowrap align="left">
                                        #springFormInput("searchCondition.subjectCd" "size=20 maxLength=12 type='text' class='Small noIME' onchange='clearSubjectName();'")
                                        #springFormInput("searchCondition.subjectName" " class='SmallDsp' type='text' readonly tabIndex='-1' maxlength='32' size='71'")
                                        <img class="Icon" name="PlaceSearch" src="../../image/btnLupe.gif" onclick="subjectPopup.setObject(getObj('subjectCd'),getObj('subjectName')); masterSearch('../../src/subjectPopup/search?pageid=subjectPopupSearch&popupPageid=PSPAY080','subjectPopup','700','500');">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="4" nowrap class="FontComment">
                                        #customSpringMessage("PSPAY080_FOOTER_COMMENT") ## ＊:前方一致 / ％:中間一致 / なし:完全一致
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td nowrap class="FontSmallBold" align="right" valign="top">
                            <br>
                            <!-- ＊＊＊＊＊　検索実行　＊＊＊＊＊ -->
                            <input type="button" onclick="javascript:execSearch();" class="LargeButton" value="#customSpringMessage('ACTION_SEARCH')"><!--検索-->
                            <br>
                            <br><a href="javascript:clear();searchConditionCheckBoxClearForExt();" id="clearSearch">#customSpringMessage("ACTION_CLEAR_SEARCH_CRITERIA")<!--検索条件をクリアする--></a>&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="DownLoadSection" style = "display:none">
            <td  class="UploadArea">
                #parse("./common/execution_ModifiedAccUserButton.vm")
            </td>
       </tr>
       <tr id ="TR_ERROR" style="display:none;"><td class="error" style="height:0px;">
            $!errorMessage
        </td></tr>
        <tr>
            <td class="NoBorder" style="height:auto;">
                <iframe id="DATAAREA" name="DATAAREA" framespacing="0" frameborder="0" src="../../layout/default.vm" scrolling="no" frameborder="no" style="position:static;width:100%;border:0px solid #999999;height:100%;z-index:0;"></iframe>
            </td>
        </tr>
    </table>
<iframe id="HIDDENAREA" name="HIDDENAREA" framespacing="0" frameborder="0" src="" scrolling="no" frameborder="no" style="display:none"></iframe>
</FORM>
</BODY>
</html>
