<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.ajax.ElementNameOnblurMapper">
     <resultMap type="fw.domain.mst.resource.customize.elementname.ElementNameItem"
         id="ElementNameItem_Map">
        <id column="ELEMENT_NAME_CD" property="elementNameIdentify.elementNameCd"/>
        <id column="ELEMENT_NAME" property="elementName"/>
    </resultMap>
    <select id="getElementNameOnBlur" resultMap="ElementNameItem_Map">
        SELECT 
            S_ELEMENT_NAME.ELEMENT_NAME_CD,
            S_ELEMENT_NAME.ELEMENT_NAME
        FROM S_ELEMENT_NAME 
        <where>
                S_ELEMENT_NAME.LANGUAGE_IND = '${@fw.security.SecurityUtil@getUseLanguageIndByEscapeSql()}'
                AND S_ELEMENT_NAME.ELEMENT_NAME_CD = #{elementNameCd}
        </where> 
    </select>
</mapper>