<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.ajax.VendorOnblurMapper">
    <select id="getVendorInfoOnBlur" resultType="fw.domain.mst.supplier.vendor.VendorPopupItem">
            SELECT
                VENDOR_CD as "vendorIdentify.vendorCd",
                VENDOR_NAME as "vendorName",
                LAST_UPD_DATE as "vendorIdentify.lastUpdDate"
            FROM M_VENDOR 
            WHERE 
            M_VENDOR.VENDOR_CD = #{vendorCd}
    </select>
</mapper>