<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.dataaccess.mst.cutoffdate.CutoffdateMapper">

    <resultMap type="fw.domain.mst.organization.cutoffdate.CutoffdateIdentify" id="cutoffdateId">
        <id column="YEARMONTH" property="cutoffMonth.yearMonth.yearMonth"></id>
    </resultMap>

    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU START -->
    <select id="listKeyIdentity" parameterType="fw.domain.mst.organization.cutoffdate.CutoffdateSearchCondition"
        resultMap="cutoffdateId">
        SELECT 
            M_CUTOFF_DATE.COMPANY_CD as "companyCd",
            M_CUTOFF_DATE.BUSINESS_YEAR as "businessYear.year.year"
        FROM M_CUTOFF_DATE 
         <where>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
                  AND (M_CUTOFF_DATE.COMPANY_CD =#{companyCd}
                   OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(businessYearTo)">
                  AND M_CUTOFF_DATE.BUSINESS_YEAR &lt;= #{businessYearTo, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(businessYearFrom)">
                  AND M_CUTOFF_DATE.BUSINESS_YEAR >= #{businessYearFrom, jdbcType=VARCHAR}
              </if>
        </where> 
        GROUP BY M_CUTOFF_DATE.COMPANY_CD,M_CUTOFF_DATE.BUSINESS_YEAR
        ORDER BY ${searchCondition.columnOrder.columnOrder()}
    </select>
    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU END -->

    <resultMap type="fw.domain.mst.organization.cutoffdate.CutoffdateItem" id="yearDateId">
        <id column="APRILCUTOFFDATE" property="cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="APRILCUTOFFHOUR" property="cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="APRILCUTOFFACCDATE" property = "cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="APRILCUTOFFCUTOFFIND" property = "cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="APRILCUTOFFMONTH" property = "cutoffdatedetailList.aprilCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="APRILLASTUPDATE" property = "cutoffdatedetailList.aprilCutoffdateDetail.lastUpdDate"></id>
        
        <id column="MAYCUTOFFDATE" property="cutoffdatedetailList.mayCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="MAYCUTOFFHOUR" property="cutoffdatedetailList.mayCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="MAYCUTOFFACCDATE" property = "cutoffdatedetailList.mayCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="MAYCUTOFFCUTOFFIND" property = "cutoffdatedetailList.mayCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="MAYCUTOFFMONTH" property = "cutoffdatedetailList.mayCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="MAYLASTUPDATE" property = "cutoffdatedetailList.mayCutoffdateDetail.lastUpdDate"></id>
        
        
        <id column="JUNECUTOFFDATE" property="cutoffdatedetailList.juneCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JUNECUTOFFHOUR" property="cutoffdatedetailList.juneCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JUNECUTOFFACCDATE" property = "cutoffdatedetailList.juneCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JUNECUTOFFCUTOFFIND" property = "cutoffdatedetailList.juneCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JUNECUTOFFMONTH" property = "cutoffdatedetailList.juneCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JUNELASTUPDATE" property = "cutoffdatedetailList.juneCutoffdateDetail.lastUpdDate"></id>
        
        
        <id column="JULYCUTOFFDATE" property="cutoffdatedetailList.julyCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JULYCUTOFFHOUR" property="cutoffdatedetailList.julyCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JULYCUTOFFACCDATE" property = "cutoffdatedetailList.julyCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JULYCUTOFFCUTOFFIND" property = "cutoffdatedetailList.julyCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JULYCUTOFFMONTH" property = "cutoffdatedetailList.julyCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JULYLASTUPDATE" property = "cutoffdatedetailList.julyCutoffdateDetail.lastUpdDate"></id>
        
        <id column="AUGUSTCUTOFFDATE" property="cutoffdatedetailList.augustCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="AUGUSTCUTOFFHOUR" property="cutoffdatedetailList.augustCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="AUGUSTCUTOFFACCDATE" property = "cutoffdatedetailList.augustCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="AUTGSTCUTOFFCUTOFFIND" property = "cutoffdatedetailList.augustCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="AUTGSTCUTOFFMONTH" property = "cutoffdatedetailList.augustCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="AUTGSTLASTUPDATE" property = "cutoffdatedetailList.augustCutoffdateDetail.lastUpdDate"></id>
        
        <id column="SEPTEMBERCUTOFFDATE" property="cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="SEPTEMBERCUTOFFHOUR" property="cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="SEPTEMBERCUTOFFACCDATE" property = "cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="SEPTEMBERCUTOFFCUTOFFIND" property = "cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="SEPTEMBERCUTOFFMONTH" property = "cutoffdatedetailList.septemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="SEPTEMBERLASTUPDATE" property = "cutoffdatedetailList.septemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="OCTOBERCUTOFFDATE"  property="cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="OCTOBERCUTOFFHOUR" property="cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="OCTOBERCUTOFFACCDATE" property = "cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="OCTOBERCUTOFFCUTOFFIND" property = "cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="OCTOBERCUTOFFMONTH" property = "cutoffdatedetailList.octoberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="OCTOBERLASTUPDATE" property = "cutoffdatedetailList.octoberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="NOVEMBERCUTOFFDATE" property="cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="NOVEMBERCUTOFFHOUR" property="cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="NOVEMBERCUTOFFACCDATE" property = "cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="NOVEMBERCUTOFFCUTOFFIND" property = "cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="NOVEMBERCUTOFFMONTH" property = "cutoffdatedetailList.novemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="NOVEMBERLASTUPDATE" property = "cutoffdatedetailList.novemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="DECEMBERCUTOFFDATE" property="cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="DECEMBERCUTOFFHOUR" property="cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="DECEMBERCUTOFFACCDATE" property = "cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="DECEMBERCUTOFFCUTOFFIND" property = "cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="DECEMBERCUTOFFMONTH" property = "cutoffdatedetailList.decemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="DECEMBERLASTUPDATE" property = "cutoffdatedetailList.decemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="JANUARYCUTOFFDATE" property="cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JANUARYCUTOFFHOUR" property="cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JANUARYCUTOFFACCDATE" property = "cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JANUARYCUTOFFCUTOFFIND" property = "cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JANUARYCUTOFFMONTH" property = "cutoffdatedetailList.januaryCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JANUARYLASTUPDATE" property = "cutoffdatedetailList.januaryCutoffdateDetail.lastUpdDate"></id>
        
        <id column="FEBRUARYCUTOFFDATE" property="cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="FEBRUARYCUTOFFHOUR" property="cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="FEBRUARYCUTOFFACCDATE" property = "cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="FEBRUARYCUTOFFCUTOFFIND" property = "cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="FEBRUARYCUTOFFMONTH" property = "cutoffdatedetailList.februaryCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="FEBRUARYLASTUPDATE" property = "cutoffdatedetailList.februaryCutoffdateDetail.lastUpdDate"></id>
        
        <id column="MARCHCUTOFFDATE" property="cutoffdatedetailList.marchCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="MARCHCUTOFFHOUR" property="cutoffdatedetailList.marchCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="MARCHCUTOFFACCDATE" property = "cutoffdatedetailList.marchCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="MARCHCUTOFFCUTOFFIND" property = "cutoffdatedetailList.marchCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="MARCHCUTOFFMONTH" property = "cutoffdatedetailList.marchCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="MARCHLASTUPDATE" property = "cutoffdatedetailList.marchCutoffdateDetail.lastUpdDate"></id>
        
        <id column="CUTOFFBUSINESSYEAR" property="cutoffdateIdentify.businessYear.year.year"></id>
        <id column="COMPANYCD" property="cutoffdateIdentify.companyCd"></id>
        <id column="LASTUPDATEDATE" property="cutoffdateIdentify.lastUpdDate"></id>
    </resultMap>

    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU START -->
    <select id="listPageItem" parameterType="fw.domain.mst.organization.cutoffdate.CutoffdateSearchCondition" resultMap="yearDateId">
          SELECT 
            COMPANY_CD as "COMPANYCD",
            BUSINESS_YEAR as "CUTOFFBUSINESSYEAR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "APRILCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_DATE ELSE NULL END ) as "APRILCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_HOUR ELSE NULL END ) as "APRILCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_IND ELSE NULL END ) as "APRILCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN cutoff_month ELSE NULL END ) as "APRILCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "MAYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_DATE ELSE NULL END ) as "MAYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_HOUR ELSE NULL END ) as "MAYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_IND ELSE NULL END ) as "MAYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN cutoff_month ELSE NULL END ) as "MAYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JUNECUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_DATE ELSE NULL END ) as "JUNECUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_HOUR ELSE NULL END ) as "JUNECUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_IND ELSE NULL END ) as "JUNECUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN cutoff_month ELSE NULL END ) as "JUNECUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JULYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_DATE ELSE NULL END ) as "JULYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_HOUR ELSE NULL END ) as "JULYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_IND ELSE NULL END ) as "JULYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN cutoff_month ELSE NULL END ) as "JULYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "AUGUSTCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_DATE ELSE NULL END ) as "AUGUSTCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_HOUR ELSE NULL END ) as "AUGUSTCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_IND ELSE NULL END ) as "AUTGSTCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN cutoff_month ELSE NULL END ) as "AUTGSTCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "SEPTEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_DATE ELSE NULL END ) as "SEPTEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_HOUR ELSE NULL END ) as "SEPTEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_IND ELSE NULL END ) as "SEPTEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN cutoff_month ELSE NULL END ) as "SEPTEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "OCTOBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_DATE ELSE NULL END ) as "OCTOBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_HOUR ELSE NULL END ) as "OCTOBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_IND ELSE NULL END ) as "OCTOBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN cutoff_month ELSE NULL END ) as "OCTOBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "NOVEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_DATE ELSE NULL END ) as "NOVEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_HOUR ELSE NULL END ) as "NOVEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_IND ELSE NULL END ) as "NOVEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN cutoff_month ELSE NULL END ) as "NOVEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "DECEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_DATE ELSE NULL END ) as "DECEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_HOUR ELSE NULL END ) as "DECEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_IND ELSE NULL END ) as "DECEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN cutoff_month ELSE NULL END ) as "DECEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JANUARYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_DATE ELSE NULL END ) as "JANUARYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_HOUR ELSE NULL END ) as "JANUARYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_IND ELSE NULL END ) as "JANUARYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN cutoff_month ELSE NULL END ) as "JANUARYCUTOFFMONTH",
           
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "FEBRUARYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_DATE ELSE NULL END ) as "FEBRUARYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_HOUR ELSE NULL END ) as "FEBRUARYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_IND ELSE NULL END ) as "FEBRUARYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN cutoff_month ELSE NULL END ) as "FEBRUARYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "MARCHCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_DATE ELSE NULL END ) as "MARCHCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_HOUR ELSE NULL END ) as "MARCHCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_IND ELSE NULL END ) as "MARCHCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN cutoff_month ELSE NULL END ) as "MARCHCUTOFFMONTH"
            ,MAX(last_Upd_Date) LASTUPDATEDATE
          FROM M_CUTOFF_DATE
          WHERE (M_CUTOFF_DATE.COMPANY_CD, M_CUTOFF_DATE.BUSINESS_YEAR) in
              <foreach collection="searchCondition.page.keyDomainEntityList" item="keyList"  open="(" separator="," close=")">  
               (#{keyList.companyCd}, #{keyList.businessYear.year.year})
              </foreach>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(companyCd)">
                  AND (M_CUTOFF_DATE.COMPANY_CD =#{companyCd}
                   OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(businessYearTo)">
                  AND M_CUTOFF_DATE.BUSINESS_YEAR &lt;= #{businessYearTo, jdbcType=VARCHAR}
              </if>
              <if test="@org.apache.commons.lang.StringUtils@isNotBlank(businessYearFrom)">
                  AND M_CUTOFF_DATE.BUSINESS_YEAR >= #{businessYearFrom, jdbcType=VARCHAR}
              </if>
          GROUP BY COMPANY_CD,
                BUSINESS_YEAR
          ORDER BY BUSINESS_YEAR DESC
    </select>
    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU END -->

    <resultMap type="fw.domain.mst.organization.cutoffdate.CutoffdateManagement" id="cutoffdateManagementId">
        <id column="APRILCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="APRILCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="APRILCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="APRILCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="APRILCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.companyCd"></id>
        <id column="APRILCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="APRILLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.aprilCutoffdateDetail.lastUpdDate"></id>
        
        <id column="MAYCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="MAYCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="MAYCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="MAYCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="MAYCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.companyCd"></id>
        <id column="MAYCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="MAYLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.mayCutoffdateDetail.lastUpdDate"></id>
        
        
        <id column="JUNECUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JUNECUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JUNECUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JUNECUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JUNECUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.companyCd"></id>
        <id column="JUNECUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JUNELASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.juneCutoffdateDetail.lastUpdDate"></id>
        
        
        <id column="JULYCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JULYCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JULYCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JULYCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JULYCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.companyCd"></id>
        <id column="JULYCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JULYLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.julyCutoffdateDetail.lastUpdDate"></id>
        
        <id column="AUGUSTCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="AUGUSTCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="AUGUSTCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="AUTGSTCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="AUTGSTCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.companyCd"></id>
        <id column="AUTGSTCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="AUTGSTLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.augustCutoffdateDetail.lastUpdDate"></id>
        
        <id column="SEPTEMBERCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="SEPTEMBERCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="SEPTEMBERCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="SEPTEMBERCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="SEPTEMBERCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.companyCd"></id>
        <id column="SEPTEMBERCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="SEPTEMBERLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.septemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="OCTOBERCUTOFFDATE"  property="cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="OCTOBERCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="OCTOBERCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="OCTOBERCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="OCTOBERCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.companyCd"></id>
        <id column="OCTOBERCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="OCTOBERLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.octoberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="NOVEMBERCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="NOVEMBERCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="NOVEMBERCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="NOVEMBERCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="NOVEMBERCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.companyCd"></id>
        <id column="NOVEMBERCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="NOVEMBERLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.novemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="DECEMBERCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="DECEMBERCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="DECEMBERCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="DECEMBERCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="DECEMBERCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.companyCd"></id>
        <id column="DECEMBERCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="DECEMBERLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.decemberCutoffdateDetail.lastUpdDate"></id>
        
        <id column="JANUARYCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="JANUARYCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="JANUARYCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="JANUARYCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="JANUARYCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.companyCd"></id>
        <id column="JANUARYCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="JANUARYLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.januaryCutoffdateDetail.lastUpdDate"></id>
        
        <id column="FEBRUARYCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="FEBRUARYCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="FEBRUARYCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="FEBRUARYCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="FEBRUARYCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.companyCd"></id>
        <id column="FEBRUARYCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="FEBRUARYLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.februaryCutoffdateDetail.lastUpdDate"></id>
        
        <id column="MARCHCUTOFFDATE" property="cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.cutoffdateDate.yearDate.yearDate"></id>
        <id column="MARCHCUTOFFHOUR" property="cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.cutoffdateAccDate.accHour.hour.hour"></id>
        <id column="MARCHCUTOFFACCDATE" property = "cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate"></id>
        <id column="MARCHCUTOFFCUTOFFIND" property = "cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.cutoffdateCutoffInd.cutoffInd" ></id>
        <id column="MARCHCUTOFFCOMPANYCD" property = "cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.companyCd"></id>
        <id column="MARCHCUTOFFMONTH" property = "cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.cutoffMonth.yearMonth.yearMonth"></id>
        <id column="MARCHLASTUPDATE" property = "cutoffdateItem.cutoffdatedetailList.marchCutoffdateDetail.lastUpdDate"></id>
        
        <id column="CUTOFFBUSINESSYEAR" property="cutoffdateItem.cutoffdateIdentify.businessYear.year.year"></id>
        <id column="COMPANYCD" property="cutoffdateItem.cutoffdateIdentify.companyCd"></id>
        <id column="LASTUPDATEDATE" property="cutoffdateItem.cutoffdateIdentify.lastUpdDate"></id>
    </resultMap>

    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU START -->
    <select id="search" parameterType="fw.domain.mst.organization.cutoffdate.CutoffdateIdentify" resultMap="cutoffdateManagementId">
        SELECT 
            COMPANY_CD as "COMPANYCD",
            BUSINESS_YEAR as "CUTOFFBUSINESSYEAR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "APRILCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_DATE ELSE NULL END ) as "APRILCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_HOUR ELSE NULL END ) as "APRILCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN CUTOFF_IND ELSE NULL END ) as "APRILCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '04' THEN cutoff_month ELSE NULL END ) as "APRILCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "MAYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_DATE ELSE NULL END ) as "MAYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_HOUR ELSE NULL END ) as "MAYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN CUTOFF_IND ELSE NULL END ) as "MAYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '05' THEN cutoff_month ELSE NULL END ) as "MAYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JUNECUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_DATE ELSE NULL END ) as "JUNECUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_HOUR ELSE NULL END ) as "JUNECUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN CUTOFF_IND ELSE NULL END ) as "JUNECUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '06' THEN cutoff_month ELSE NULL END ) as "JUNECUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JULYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_DATE ELSE NULL END ) as "JULYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_HOUR ELSE NULL END ) as "JULYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN CUTOFF_IND ELSE NULL END ) as "JULYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '07' THEN cutoff_month ELSE NULL END ) as "JULYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "AUGUSTCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_DATE ELSE NULL END ) as "AUGUSTCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_HOUR ELSE NULL END ) as "AUGUSTCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN CUTOFF_IND ELSE NULL END ) as "AUTGSTCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '08' THEN cutoff_month ELSE NULL END ) as "AUTGSTCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "SEPTEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_DATE ELSE NULL END ) as "SEPTEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_HOUR ELSE NULL END ) as "SEPTEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN CUTOFF_IND ELSE NULL END ) as "SEPTEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '09' THEN cutoff_month ELSE NULL END ) as "SEPTEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "OCTOBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_DATE ELSE NULL END ) as "OCTOBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_HOUR ELSE NULL END ) as "OCTOBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN CUTOFF_IND ELSE NULL END ) as "OCTOBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '10' THEN cutoff_month ELSE NULL END ) as "OCTOBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "NOVEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_DATE ELSE NULL END ) as "NOVEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_HOUR ELSE NULL END ) as "NOVEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN CUTOFF_IND ELSE NULL END ) as "NOVEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '11' THEN cutoff_month ELSE NULL END ) as "NOVEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "DECEMBERCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_DATE ELSE NULL END ) as "DECEMBERCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_HOUR ELSE NULL END ) as "DECEMBERCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN CUTOFF_IND ELSE NULL END ) as "DECEMBERCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '12' THEN cutoff_month ELSE NULL END ) as "DECEMBERCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "JANUARYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_DATE ELSE NULL END ) as "JANUARYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_HOUR ELSE NULL END ) as "JANUARYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN CUTOFF_IND ELSE NULL END ) as "JANUARYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '01' THEN cutoff_month ELSE NULL END ) as "JANUARYCUTOFFMONTH",
           
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "FEBRUARYCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_DATE ELSE NULL END ) as "FEBRUARYCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_HOUR ELSE NULL END ) as "FEBRUARYCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN CUTOFF_IND ELSE NULL END ) as "FEBRUARYCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '02' THEN cutoff_month ELSE NULL END ) as "FEBRUARYCUTOFFMONTH",
            
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_ACC_DATE ELSE NULL END ) as "MARCHCUTOFFACCDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_DATE ELSE NULL END ) as "MARCHCUTOFFDATE",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_HOUR ELSE NULL END ) as "MARCHCUTOFFHOUR",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN CUTOFF_IND ELSE NULL END ) as "MARCHCUTOFFCUTOFFIND",
            MAX(CASE WHEN substr(cutoff_month, 5, 2) = '03' THEN cutoff_month ELSE NULL END ) as "MARCHCUTOFFMONTH"
            ,MAX(last_Upd_Date) LASTUPDATEDATE
           FROM M_CUTOFF_DATE
          WHERE (M_CUTOFF_DATE.COMPANY_CD = #{companyCd}
             OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
            AND M_CUTOFF_DATE.BUSINESS_YEAR = #{businessYear.year.year}
          GROUP BY BUSINESS_YEAR,COMPANY_CD
          ORDER BY BUSINESS_YEAR
    </select>
    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU END -->

    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU START -->
    <select id="searchExclusive" parameterType="fw.domain.mst.organization.cutoffdate.CutoffdateIdentify" 
    resultType="fw.domain.mst.organization.cutoffdate.CutoffdateIdentify">
        SELECT
            M_CUTOFF_DATE.COMPANY_CD as "companyCd"
        FROM M_CUTOFF_DATE 
        WHERE
            M_CUTOFF_DATE.BUSINESS_YEAR = #{businessYear.year.year}
            AND (M_CUTOFF_DATE.COMPANY_CD = #{companyCd}
             OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
            AND M_CUTOFF_DATE.last_Upd_Date in(#{lastUpdDate})
    </select>
    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU END -->

    <insert id="insert">
        INSERT INTO M_CUTOFF_DATE
        (
            COMPANY_CD,
            CUTOFF_MONTH,
            BUSINESS_YEAR,
            CUTOFF_DATE,
            CUTOFF_IND,
            CUTOFF_ACC_DATE,
            CUTOFF_HOUR,
            LAST_UPD_DATE,
            LAST_UPD_COMPANY_CD,
            LAST_UPD_SECTION_CD,
            LAST_UPD_USER_ID,
            REG_DATE,
            REG_COMPANY_CD,
            REG_SECTION_CD,
            REG_USER_ID
        ) VALUES (
            #{companyCd},
            #{cutoffdateDetail.cutoffMonth.yearMonth.yearMonth, jdbcType=VARCHAR},
            #{cutoffdateBussinessYear.year.year, jdbcType=VARCHAR},
            '${@fw.common.util.AppUtil@convertDate(cutoffdateDetail.cutoffdateDate.yearDate.yearDate,@fw.common.util.AppUtil@CONV_DATE,@fw.common.util.AppUtil@DATE_SHORT)}',
            #{cutoffdateDetail.cutoffdateCutoffInd.cutoffInd,jdbcType=VARCHAR},
            '${@fw.common.util.AppUtil@convertDate(cutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate,@fw.common.util.AppUtil@CONV_DATE,@fw.common.util.AppUtil@DATE_SHORT)}',
            #{cutoffdateDetail.cutoffdateAccDate.accHour.hour.hour, jdbcType=VARCHAR},
            #{lastUpdDate},
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}',
             #{lastUpdDate},
            '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        )
    </insert>

    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU START -->
    <update id="update">
        UPDATE M_CUTOFF_DATE
        SET
            CUTOFF_IND = #{cutoffdateDetail.cutoffdateCutoffInd.cutoffInd},
            CUTOFF_ACC_DATE = '${@fw.common.util.AppUtil@convertDate(cutoffdateDetail.cutoffdateAccDate.accYearDate.yearDate.yearDate,@fw.common.util.AppUtil@CONV_DATE,@fw.common.util.AppUtil@DATE_SHORT)}',
            CUTOFF_HOUR = #{cutoffdateDetail.cutoffdateAccDate.accHour.hour.hour, jdbcType=VARCHAR},
            LAST_UPD_DATE = #{lastUpdDate},
            LAST_UPD_COMPANY_CD = '${@fw.security.SecurityUtil@getCompanyCdByEscapeSql()}',
            LAST_UPD_SECTION_CD = '${@fw.security.SecurityUtil@getDefaultSectionCdByEscapeSql()}',
            LAST_UPD_USER_ID = '${@fw.security.SecurityUtil@getUserIdByEscapeSql()}'
        WHERE (M_CUTOFF_DATE.COMPANY_CD = #{companyCd}
           OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}')
          AND CUTOFF_MONTH = #{cutoffdateDetail.cutoffMonth.yearMonth.yearMonth}
    </update>

    <select id="searchCompanyLastYear" resultType="String" parameterType="String">
        SELECT MAX(M_CUTOFF_DATE.BUSINESS_YEAR)+1 
          FROM M_CUTOFF_DATE
         WHERE M_CUTOFF_DATE.COMPANY_CD = #{companyCd}
            OR M_CUTOFF_DATE.COMPANY_CD = '${@fw.common.constant.ApplicationConstant@COMPANY_CD_ALL}'
    </select>
    <!-- 強化-00180-000 2013/03/09 MODIFY SBO_SOKOU END -->
</mapper>