<!doctype html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<html LANG="ja">
<head>
<META http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>#customSpringMessage('PUR_REQ_UPLOAD')</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" CONTENT="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">
<script language="javascript" type="text/javascript" src="../../include/common.js"></script>
<script language="javascript" type="text/javascript" src="../../include/date.js"></script>
<script language="javascript" type="text/javascript" src="../../include/check.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript">
<!--
#parse("./common/common_js.vm")

var isClickable = false;

function onLoad() {
    setFocusForInput();
    top.document.title = document.title;

    changeFontSize0();

    var errorMsg = "$!errorMessage";

    var isShowInfo = "#jsEscape($!isShowInfo)";
    if (isShowInfo == 'true'){
         top.iframeChange("${flowExecutionUrl}&_eventId=showUploadResult");
         return;
    } else {
        var alertMessage = "$!alertMessage";
        if (alertMessage != ""){
            if (confirm("$!alertMessage")) {
                buttonDisable();
                getObj("Body").action = "${flowExecutionUrl}&_eventId=upload&checkPass=1";
                getObj("Body").submit();
                return;
            }
        }else{
            var isSuccess = "#jsEscape($!isSuccess)";
            if (isSuccess == "true") {
                #set( $purReq = "#customSpringMessage('PUR_REQ')" )
                alert("#customMessageArgs('I005',[$purReq])");
            }
        }
    }
    
    isClickable = true;
}

function upload() {
    if(!isClickable) {
        return;
    }
    #set( $purReq = "#customSpringMessage('PUR_REQ')" )
    #set( $register = "#customSpringMessage('ACTION_REGISTER')" )
    
    if( !confirm('#customMessageArgs("W001",[$purReq,$register])') ) {
        return;
    }
    
    buttonDisable();
    getObj("Body").action = "${flowExecutionUrl}&_eventId=upload";
    getObj("Body").submit();
}

//-->
</script>
<style>
table.HomeBox {
    background-color:#FFFFFF;
    border: 1px solid #333333;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    behavior: url("../../include/ie-css3.htc");
    zoom:1;
    position: relative;
    z-index:200;
    padding:16px;
    box-shadow: 3px 3px 0px #000000;
    margin-left:auto;
    margin-right:auto;
}
</style>
</head>
<body class="CreateArea" style="text-align:center;vertical-align:top;" onload="onLoad();" >
<form name="Body" id="Body" method="post" enctype="multipart/form-data">
    <table class="HomeBox" width="620">
        <tr>
            <td>
                <table class="Base" style="width:100%;">
                    <tr>
                        <td align="left">
                            ## ＊＊＊＊＊＊＊＊＊＊左サイド＊＊＊＊＊＊＊＊＊＊ 
                            <table class="NoBorder" width="98%">
                                <tr>
                                    <td>
                                        <u><img src="../../image/mrkCircle.gif"><span id="StepTitle" class="FontStepTitle">#customSpringMessage('PUR_REQ_UPLOAD')</span></u><br><br>## カタログ購入依頼一括アップロード
                                    </td>
                                    <td align="right" valign="middle" id="Submit1">
                                        <input type="button" class="LargeButton" value="#customSpringMessage('ACTION_UPLOAD')" onclick="upload();">##アップロード
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="STEPMSG" class="FontSmallBold DarkBlue">
                                            #customSpringMessage('PSPUR060_HEADER_COMMENT')
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            ## ＊＊＊＊＊＊＊＊＊＊１番目の四角＊＊＊＊＊＊＊＊＊＊ 
                            #if($!errorMessage && $!errorMessage!="")
                            <div class="error">
                                $!errorMessage
                            </div>
                            #end
                            
                            <table class="NoBorder" style="width:100%;">
                                <tbody class="Box1H FontBoxHeader ListBorderWidth">
                                    <tr>
                                        <td nowrap class="Box1H FontBoxHeader">#customSpringMessage('UPLOAD_FILE')<span class="FontWarn">&nbsp;※</span></td>## アップロードファイル
                                        <td nowrap class="Box1D">
                                            #if($!domain.uploadFile.fileName!='') 
                                            <span id="filename">#out($!domain.uploadFile.fileName)</span>
                                            #end
                                            <input type="file" class="Small" name="uploadFile.screenFile" id="uploadFile.screenFile" style="width:400px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table class="NoBorder" width="100%">
                                <tr>
                                    <td>
                                        #customSpringMessage("PSPUR060_FOOTER_COMMENT")
                                    </td>
                                </tr>
                            </table>
                            
                            #if($!isSuccess)
                                <div class="FontSmallBold">
                                    #out($!domain.result.resultInfo)
                                </div>
                                <table>
                                    <tr>
                                        #foreach($purReqNo in $!domain.result.purReqNos)
                                            #if($velocityCount != 0 && $velocityCount % 5 == 0)
                                                </tr>
                                                <tr>
                                            #end
                                            
                                            <td class="FontSmallBold">
                                                #out($purReqNo)
                                            </td>
                                        #end
                                    </tr>
                                </table>
                            #end

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
