<!doctype html>
<html LANG="ja">
<head>
<title>#customSpringMessage('EVERY_PUR_REQ_DETAIL')</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-script-type" content="text/javascript">
<link id="CSS_FONT" rel="stylesheet" href="../../include/FontS.css" type="text/css">
<link rel="stylesheet" href="../../include/Layout.css" type="text/css">
<link rel="stylesheet" href="../../include/Color.css" type="text/css">
<link rel="stylesheet" href="../../include/searchbox.css" type="text/css">
<link rel="stylesheet" href="../../include/ime.css" type="text/css">

<script language="javascript" TYPE="text/javascript" src="../../include/common.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/check.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/date.js"></script>
<script language="javascript" TYPE="text/javascript" src="../../include/tablesort.js"></script>
<script language="javascript" type="text/javascript" src="../../include/searchbox.js"></script>
<script language="javascript" type="text/javascript" src="../../include/jquery-1.7.2.min.js"></script>
<script language="javascript" TYPE="text/javascript">
#set($detailViewStateID='PSPUR040')
<!--
## 2013/06/10 DEL DAIKO_KANEKO
## #parse("./common/common_js.vm")
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM START
var title = top.document.title;

#set($isActiveProfileBudget = "#isActiveProfile('budget')")

#parse("./common/common_js.vm")
top.document.title = title;
## 強化-01806-000 2013.06.21 ADD SBO_WANGXM -END-
//添付ファイル
function downloadFile(seqNo) {
    iframeChange("${flowExecutionUrl}&_eventId=download",'seqNo',seqNo);
}
function downloadExt(filename, file) {
    iframeChange("${flowExecutionUrl}&_eventId=downloadext", 'filename', filename, 'file', file);
}
//-->
</script>
</head>
<body method="post">
    <table class="DetailSheet" width="100%" height="100%" align="left">
        <tr>
    		#if("$whereFromFlag" == "history")
    			<td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる -->
    		#else
				<td >
			#end
               <table width="100%">
                   <tr>
                       <td align="right">
                           <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=8','PersonalSettingsDetail','500','500');">
                       </td>
                   </tr>
                    <tr><td>#customSpringMessage('PSPUR040_HEADER_COMMENT')</td></tr>
               </table>
                <!-- １番目のタグ-->
                <table id="InnerTabBody_0" class="Box1G" width="100%" >
                $!PSPUR040PageCreaterForDetail.build('_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1HApp FontBoxHeader"')
                                #foreach($!item in $!PSPUR040PageCreaterForDetail.getItemListForBody())
                                    #if($!item.getColumnName()=="T_PUR_APL.PUR_APL_NO")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("s17_showNoWithUrgent",$!item, '_td_style_right', 'class="Box1D FontSlipNo"', '_item_style' , 'class="FontSlipNo"')
                                    #elseif($!item.getColumnName()=="T_PUR_APL.PUR_APL_STATUS")
                                        #if($!domain.purAplManagement.status == '03')
                                            $!PSPUR040PageCreaterForDetail.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSmall"','_item_style','class="FontStatus Red"')
                                        #else
                                            $!PSPUR040PageCreaterForDetail.printSpecial('s00_label', $!item, '_td_style_right', 'class="Box1D FontSmall"','_item_style','class="FontStatus"')
                                        #end
                                    #elseif($!item.getColumnName()=="T_PUR_APL.PUR_REQ_DATE")
                                        $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.TITLE_NAME")
                                        $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.INPUT_USER_ID")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("m15_showUser",$!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.REQ_USER_ID")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("CLIENT", "m15_showUser",$!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.LOAD_SECTION_CD")
                                        $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.DELIV_PLACE_CD")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("DELIVERY_PLACE","m17_showDelivery",$!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.HOPE_SUPPLIER_CD")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("HOPE_SUPPLIER","m18_showSupplier",$!item,'_subconInd',$!domain.purAplManagement.hopeSupplier.hopeSupplier.subcon.subconInd,'_subconIndValue',$!domain.purAplManagement.hopeSupplier.hopeSupplier.subcon.subconInd_PageValue)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.ITEM_CLASS_S")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("m10_showItemKind",$!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.PRICE_REQ_FLG")
                                         $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.BUDGET_NO")
                                        #if($isActiveProfileBudget=="true")
                                            $!PSPUR040PageCreaterForDetail.printSpecial('BG03_budget_no_without_button', $!item)
                                        #else
                                            $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                        #end
                                    #elseif($!item.getColumnName()=="T_PUR_APL.ATTACH_FILE_SEQ1")
                                         $!PSPUR040PageCreaterForDetail.printSpecial("s13_showFile2",$!item,'_event','onclick = "downloadFile(id);"','_event2','onclick = "downloadFile(id);"')
                                    #elseif($!item.getColumnName()=="T_PUR_APL.FOR_BOSS_COMMENT")
                                         $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.FOR_BUYER_COMMENT")
                                         $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #elseif($!item.getColumnName()=="T_PUR_APL.FOR_SUPPRIER_COMMENT")
                                         $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_right', 'class="Box1D FontSmall"', '_td_style_left','class="Box1Hr FontBoxHeader"')
                                    #elseif($!item.getColumnName()=="T_APPROVAL.BACK_APP_COMMENTS")
                                        #if("$!domain.purAplManagement.appManagement.backApp.backAppReason.backReason.comment" != "")
                                            $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                        #end
                                    #elseif($!item.getColumnName()=="T_PUR_APL.APP_ROUTE_NO")
                                        $!PSPUR040PageCreaterForDetail.printSpecial("s15_appHistory",$!item,'_application',$!domain.application.approute,'_appManagement',$!domain.purAplManagement.appManagement,'colspan','1')
                                    #else
                                        $!PSPUR040PageCreaterForDetail.printDefault($!item)
                                    #end
                                #end
                    <tr>
                        <td class="Box1HApp FontBoxHeader">#customSpringMessage('CURRENCY_CD')</td>
                        <td class="Box1D FontSmall">
                        #if($!domain.purAplManagement.everyPurReqList.size()>0)
                            #out($!domain.purAplManagement.everyPurReqList[0].amountMng.currency.currencyCd)
                        #end
                        </td>
                    </tr>
                    <tr>
                        <td class="Box1HApp FontBoxHeader">#customSpringMessage('HOPE_PRICE_TOTAL')</td>
                        <td class="Box1D FontSmall">
                            <span class="FontCurrMiddle Brown">
                            #out($!domain.purAplManagement.everyPurReqList[0].amountMng.currency.currencyMark)
                            #out($!domain.purAplManagement.hopeAmountTotal.hopeAmountTotal.amountFormat)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Box1HApp FontBoxHeader">#customSpringMessage('BUYER_USER')</td>
                        <td class="Box1D FontSmall">
                            <table class="NoBorder">
                                <tr>
                                    <td valign="top" rowspan="2"><img class="Mark" src="../../image/mrkHuman.gif" ></td>
                                    <td rowspan="2" nowrap>
                                    #if($!domain.purAplManagement.everyPurReqList.size()>0)
                                        <span class="FontSmall">
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.section.sectionCd) #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.section.sectionName)
                                        </span><br>
                                        <span class="FontSmall">
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.userID)</span>&nbsp;<span class="FontUserName">
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.userName)
                                        </span>
                                    #end
                                    </td>
                                    <td><img class="Mark" src="../../image/mrkTel.gif"></td>
                                    <td class="FontMini" nowrap>
                                        #customSpringMessage('EXTENSION_NO')：
                                        #if($!domain.purAplManagement.everyPurReqList.size()>0)
                                        <span class="FontSmallAnk">
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.extNo.extensionNo)
                                        </span>
                                        #end
                                        &nbsp;&nbsp;#customSpringMessage('EXTERNAL_NO')：
                                        #if($!domain.purAplManagement.everyPurReqList.size()>0)
                                        <span class="FontSmallAnk">
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.externalNo.externalNo)
                                        </span>
                                        #end
                                    </td>
                                </tr>
                                <tr>
                                    <td><img class="Mark" src="../../image/mrkMail.gif" ></td>
                                    <td nowrap>
                                        #if($!domain.purAplManagement.everyPurReqList.size()>0)
                                        <span class="FontMiniAnk">
                                        <A HREF='mailto:#out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.userName)<#out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.mailAddr.mail)>'>
                                        #out($!domain.purAplManagement.everyPurReqList[0].buyUser.buyUser.mailAddr.mail)</A>
                                        </span>
                                        #end
                                    </td>
                                    <td align="right" valign="bottom">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                #if($!domain.purAplManagement.everyPurReqList.size()>0)
                <table width="100%">
	                <tr>
	                    <td align="right">
	                        <img id="DetailButton_0" class="Icon" src="../../image/btnPersonalDetail.gif"  onclick="personalSettings('../../mst/personalsettingdetail/PSMST460?detailViewStateID=#jsEscapeInHTML($detailViewStateID)&voucherType=9','PersonalSettingsDetail','500','500');">
                        </td>
	                </tr>
                </table>
                #end
                <!--overflow-y:scroll; -->
                <table class="Box1G" width="100%"  align="center">
                    $!PSPUR040PageCreaterForDetail.build('_td_style_left', 'class="Box1Hd FontBoxHeader" width="17%"','_td_style_right', 'class="Box1Dd FontSmall"')
                    $!PSPUR040PageCreaterForDetail.buildDetail('index')
                    <!--ITEM_NAME都度購入依頼詳細-->
                    #foreach($!everyPurReq in $!domain.purAplManagement.everyPurReqList)
                          <tbody id="Detail$velocityCount" class="Box1HApp FontBoxHeader">
                          ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                           #set($listCount=$!PSPUR040PageCreaterForDetail.getItemListForDetail($velocityCount).size())
                          ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                              #foreach($!item in $!PSPUR040PageCreaterForDetail.getItemListForDetail($velocityCount))
                                     ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                    #if(($velocityCount+1) == $listCount)
                                        #set($td_style_left="class='Box1Hdt FontBoxHeader' width='17%'")
                                        #set($td_style_right="class='Box1Ddt FontSmall'")
                                     #else
                                        #set($td_style_left="class='Box1Hd FontBoxHeader' width='17%'")
                                        #set($td_style_right="class='Box1Dd FontSmall'")
                                     #end
                                      ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            #if($!item.getColumnName()=="T_PUR_REQUEST.SUBJECT_CD")
                                                ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSPUR040PageCreaterForDetail.printSpecial("SUBJECT","m19_showSubject",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("m19_showSubject",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                                ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                                ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                                ##$!PSPUR040PageCreaterForDetail.printSpecial("SUBJECT","m19_showSubject",$!item)
                                                ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_CD")
                                                $!PSPUR040PageCreaterForDetail.printSpecial("m24_showItem",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.ITEM_NAME")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSPUR040PageCreaterForDetail.printSpecial("ITEM_NAME","m24_showItem",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("ITEM_NAME","m24_showItem",$!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.KATASHIKI")
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.MANUFACT_CD")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSPUR040PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("m20_showManufact",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("MANUFACT","m20_showManufact",$!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.INSPECT_IND")
                                               ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                              ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                              ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                              ##$!PSPUR040PageCreaterForDetail.printDefault($!item)
                                              ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_DELIV_DATE")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printDefault($!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.UNIT_PRICE")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("s24_currency", $!item,"_item_style",'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("s24_currency", $!item,"_item_style",'class="FontCurrSmall"')
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_VOL")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                #* ----- ＩＴ２-01166-000 2013/06/22 DEL SBO_shiyl
                                                $!PSPUR040PageCreaterForDetail.printSpecial("HOPE_VOL", "s16_showVol",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                *#
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("s16_showVol",$!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ ＩＴ２-01166-000 2013/06/22 ADD SBO_shiyl -END- +++++

                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("HOPE_VOL", "s16_showVol",$!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.REQ_AMOUNT")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("s24_currency",$!item,"_item_style",'class="FontCurrSmall"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("s24_currency",$!item,"_item_style",'class="FontCurrSmall"')
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.TAX_IND")
                                                ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                                ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                                ##$!PSPUR040PageCreaterForDetail.printDefault($!item)
                                                ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.ATTACH_FILE_SEQ")
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printSpecial("s12_showFile1",$!item,'_event','onclick = "downloadFile(id);"','_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printSpecial("s12_showFile1",$!item,'_event','onclick = "download(id);"')
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                            #elseif($!item.getColumnName()=="T_PUR_REQUEST.BUYER_BACK_USER_COMMENTS")
                                                #if($!everyPurReq.purReturnUser.backReason.backReason.comment!="")
                                                 ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                                $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                                 ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                                 ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                                 ##$!PSPUR040PageCreaterForDetail.printDefault($!item)
                                                 ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                                 ## +++++ 強化-01696-000 2013/05/30 ADD SBO_wangzf START +++++
                                                 #else
                                                    #if(($velocityCount+1) == $listCount)
                                                        #set($isChangeLastItemClass = "true")
                                                    #end
                                                 ## +++++ 強化-01696-000 2013/05/30 ADD SBO_wangzf END +++++
                                                #end
                                            #else
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf START +++++
                                            $!PSPUR040PageCreaterForDetail.printDefault($!item,'_td_style_left', $td_style_left,'_td_style_right', $td_style_right)
                                            ## +++++ 強化-00740-000 2013/05/27 ADD SBO_wangzf END +++++
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf START -----
                                            ##$!PSPUR040PageCreaterForDetail.printDefault($!item)
                                            ## ---- 強化-00740-000 2013/05/27 DEL SBO_wangzf END -----
                                        #end
                                    #end
                          </tbody>
                            #if($isChangeLastItemClass)
                            <script language="javascript" TYPE="text/javascript">
                            $("#Detail$velocityCount tr:last-child").children(":last").removeClass();
                            $("#Detail$velocityCount tr:last-child").children(":last").addClass("Box1Ddt FontSmall");
                            $("#Detail$velocityCount tr:last-child").children(":last").prev().removeClass();
                            $("#Detail$velocityCount tr:last-child").children(":last").prev().addClass("Box1Hdt FontBoxHeader");
                            </script>
                            #end
                    #end
                </table>
            </td>
        </tr>
        ## 2013.03.21 ADD DAIKO_WANG
        <tr><td>#customSpringMessage('PSPUR040_FOOTER_COMMENT')</td></tr>
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM START
		#if("$whereFromFlag" == "history")
			<tr><td align="right"><input type="button" class="MiddleButton" value="#customSpringMessage('CLOSE')" onClick="window.close();"><!--閉じる --></td></tr>
		#end
		## ＩＴ３-00148-000 2013.06.18 ADD SBO_WANGXM -END-
    </table>
</body>
</html>
