<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.ArrivalMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_ARRIVAL.ARRIVAL_SEQ
          FROM T_ARRIVAL
         WHERE
               T_ARRIVAL.ARRIVAL_SEQ = #{arrivalSeq}
           AND T_ARRIVAL.LAST_UPD_DATE = #{lastUpdDate}
    </select>

</mapper>
