<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.check.impl.exclusive.ElementAndVchconfConfigExclusiveCheckMapper">

    <select id="searchElementExclusive" parameterType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionIdentify" 
        resultType="fw.domain.mst.resource.customize.elementconfig.mstmanagement.ItemDefinitionIdentify">
        SELECT
            S_ELEMENT_CONFIG.ELEMENT_SEQ as "elementSeq"
        FROM S_ELEMENT_CONFIG 
        WHERE
            S_ELEMENT_CONFIG.ELEMENT_SEQ = #{elementSeq}
            AND S_ELEMENT_CONFIG.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
       <select id="searchVoucherExclusive" parameterType="fw.domain.mst.resource.customize.voucherconfig.mstmanagement.VoucherConfigIdentify" 
        resultType="fw.domain.mst.resource.customize.voucherconfig.mstmanagement.VoucherConfigIdentify">
        SELECT
            S_VOUCHER_CONFIG.ELEMENT_SEQ as "elementSeq",
            S_VOUCHER_CONFIG.VOUCHER_TYPE as "voucherType"
        FROM S_VOUCHER_CONFIG 
        WHERE
            S_VOUCHER_CONFIG.ELEMENT_SEQ = #{elementSeq}
            AND S_VOUCHER_CONFIG.VOUCHER_TYPE = #{voucherType}
            AND S_VOUCHER_CONFIG.LAST_UPD_DATE = #{lastUpdDate}
    </select> 
</mapper>