<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.FavoritesMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_FAVORITE_CAT.FAVORITE_SEQ
          FROM T_FAVORITE_CAT
         WHERE
               T_FAVORITE_CAT.FAVORITE_SEQ = #{favoritesSeqNo}
           AND T_FAVORITE_CAT.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
    <select id="searchFavCatDtl" resultType="String">
        SELECT
               T_FAV_CAT_DTL.FAVORITE_SEQ
          FROM T_FAV_CAT_DTL
         WHERE
               T_FAV_CAT_DTL.FAVORITE_SEQ = #{favoritesSeqNo}
           AND T_FAV_CAT_DTL.DETAIL_NO = #{detailNo}
           AND T_FAV_CAT_DTL.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
</mapper>
