<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.PayDetailMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_P_PAY_DTL.PAY_SEQ
          FROM T_P_PAY_DTL
          WHERE
               T_P_PAY_DTL.PAY_SEQ = #{payReqSeq}
    </select>

</mapper>