<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.PayMapper">

    <select id="searchExclusive" resultType="fw.domain.slip.payreq.payreq.payreqinput.PayReqIdentify">
        SELECT
               T_P_PAY.PAY_SEQ AS "payReqSeq"
          FROM T_P_PAY
         WHERE
               T_P_PAY.PAY_SEQ = #{payReqSeq}
           AND T_P_PAY.LAST_UPD_DATE = #{lastUpdDate}
    </select>

    <select id="dtlSearchExclusive" resultType="int">
        SELECT
               COUNT(*)
          FROM T_P_PAY_DTL
         WHERE
               T_P_PAY_DTL.PAY_SEQ = #{payReqSeq}
    </select>
    
    <select id="exclusivePayLocker" resultType="fw.domain.slip.payreq.payreq.payreqinput.PayReqIdentify">
        SELECT
               T_P_PAY.PAY_SEQ AS "payReqSeq"
          FROM T_P_PAY
         WHERE
               T_P_PAY.PAY_SEQ = #{payReqSeq}
           AND T_P_PAY.LAST_UPD_DATE = #{lastUpdDate}
           FOR UPDATE NOWAIT
    </select>
    
</mapper>
