<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.PriceUploadMapper">

    <select id="searchLockExclusive" resultType="String">
        SELECT
               T_PRICE_UPLOAD.PRICE_UPL_SEQ
          FROM T_PRICE_UPLOAD
         WHERE
               T_PRICE_UPLOAD.PRICE_UPL_SEQ = #{priceUplSeq}
           AND T_PRICE_UPLOAD.LAST_UPD_DATE = #{lastUpdDate}
           FOR UPDATE NOWAIT
    </select>

</mapper>
