<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.PriceRevMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               PRICE_REV_SEQ
          FROM T_PRICE_REV
         WHERE
               PRICE_REV_SEQ = #{priceRevSeq}
           AND LAST_UPD_DATE = #{lastUpdDate}
           FOR UPDATE NOWAIT
    </select>
    
      <select id="searchRevSeqExclusive"  resultType="String">
        SELECT
               PRICE_REV_SEQ
          FROM T_PRICE_REV
         WHERE
               T_PRICE_REV.PRICE_REQ_COMPANY_CD = #{CompanyCd}
           AND T_PRICE_REV.PRICE_REQ_SECTION_CD = #{SectionCd}
           AND T_PRICE_REV.SUP_CD = #{supCd}
           AND T_PRICE_REV.PRICE_STATUS IN 
        <foreach collection="statusList" item="status"  open="(" separator="," close=")">  
                    #{status}
        </foreach>
           AND T_PRICE_REV.DELETE_FLG ='0' 
           FOR UPDATE NOWAIT
    </select>
    
    <select id="searchPurPriceExclusive" resultType="String">
        SELECT
               BUYER_COMPANY_CD
          FROM M_PUR_PRICE
         WHERE
               BUYER_COMPANY_CD = #{CompanyCd}
           AND BUYER_SECTION_CD = #{SectionCd}
           AND SUP_CD = #{supCd}
           FOR UPDATE NOWAIT
    </select>
</mapper>
