<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.PupReqMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_PUR_APL.PUR_APL_SEQ
          FROM T_PUR_APL
         WHERE
               T_PUR_APL.PUR_APL_SEQ = #{puraplseq}
           AND T_PUR_APL.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
    <select id="searchExclusiveForReq" resultType="String">
        SELECT
               T_PUR_REQUEST.PUR_REQ_SEQ
          FROM T_PUR_REQUEST
         WHERE
               T_PUR_REQUEST.PUR_REQ_SEQ = #{puraplseq}
           AND T_PUR_REQUEST.LAST_UPD_DATE = #{lastUpdDate}
    </select>
</mapper>
    