<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.QuotReqExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
            T_QUOT_REQUEST.QUOT_REQ_SEQ
        FROM 
            T_QUOT_REQUEST
        WHERE
            T_QUOT_REQUEST.QUOT_REQ_SEQ = #{quotReqSeq}
        AND T_QUOT_REQUEST.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
    <select id="countQutReqByQuotAcqAplSeq" resultType="Integer">
        SELECT
            COUNT(T_QUOT_REQUEST.QUOT_REQ_SEQ)
        FROM
            T_QUOT_ACQ_APL
        INNER JOIN
            T_QUOT_REQUEST 
        ON
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_NO = T_QUOT_REQUEST.QUOT_ACQ_APL_NO AND
            T_QUOT_REQUEST.NEW_FLG = '1' AND
            T_QUOT_REQUEST.DELETE_FLG = '0'
        WHERE
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ = #{quotAcqAplSeq}
    </select>
    
</mapper>
    