<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.QuotAcqAplExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ
        FROM 
            T_QUOT_ACQ_APL
        WHERE
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ = #{quotAcqAplSeqNo}
        AND T_QUOT_ACQ_APL.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
    <select id="countByStatus" resultType="Integer">
        SELECT
            COUNT(T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ)
        FROM
            T_QUOT_ACQ_APL
        WHERE
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ = #{quotAcqAplSeqNo}
        AND T_QUOT_ACQ_APL.DELETE_FLG = '0'
        AND T_QUOT_ACQ_APL.NEW_FLG = '1'
        AND T_QUOT_ACQ_APL.QUOT_ACQ_APL_STATUS = '11'
        AND T_QUOT_ACQ_APL.NEW_APP_FLG = '1'
        AND T_QUOT_ACQ_APL.REQ_TYPE_IND = '1'
        AND EXISTS (
            SELECT T_SLIP_MNG.APL_NO
            FROM T_SLIP_MNG
            WHERE
                T_SLIP_MNG.APL_NO = T_QUOT_ACQ_APL.QUOT_ACQ_APL_NO
                AND T_SLIP_MNG.SLIP_STATUS = '0212'
                AND T_SLIP_MNG.DELETE_FLG = '0'
        )
    </select>

</mapper>
