<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.QuotReqSupExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_QUOT_REQ_SUP.QUOT_REQ_SEQ
          FROM T_QUOT_REQ_SUP
         WHERE
               T_QUOT_REQ_SUP.QUOT_REQ_SEQ = #{quotReqSeq}
               AND T_QUOT_REQ_SUP.QUOT_SUP_LINE_NO = #{quotSupplierLineNo}
               AND T_QUOT_REQ_SUP.LAST_UPD_DATE = #{lastUpdDate}
    </select>
    
</mapper>