<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.QuotAcqAplAllExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ
        FROM 
            T_QUOT_ACQ_APL
        WHERE
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ = #{quotAcqAplSeqNo}
        AND T_QUOT_ACQ_APL.LAST_UPD_DATE = #{lastUpdDate}
        UNION ALL
        SELECT
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ
        FROM 
            H_QUOT_ACQ_APL T_QUOT_ACQ_APL
        WHERE
            T_QUOT_ACQ_APL.QUOT_ACQ_APL_SEQ = #{quotAcqAplSeqNo}
        AND T_QUOT_ACQ_APL.LAST_UPD_DATE = #{lastUpdDate}
    </select>

</mapper>
