<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.check.impl.exclusive.SlipMngExclusiveCheckMapper">

    <select id="searchExclusive" resultType="String">
        SELECT
               T_SLIP_MNG.SLIP_NO
          FROM T_SLIP_MNG
         WHERE
               T_SLIP_MNG.SLIP_NO = #{slipNo}
           AND T_SLIP_MNG.LAST_UPD_DATE = #{lastUpdDate}
    </select>

    <select id="lockSlips" resultType="fw.domain.slip.exclusive.ExclusiveSlipId" parameterType="java.util.List">
        SELECT
               T_SLIP_MNG.SLIP_NO as slipNo
               , T_SLIP_MNG.LAST_UPD_DATE as lastUpdDate
          FROM T_SLIP_MNG
         WHERE T_SLIP_MNG.SLIP_NO IN 
            <foreach collection="list" item="exclusiveSlipId"  open="(" separator="," close=")">  
                #{exclusiveSlipId.slipNo} 
            </foreach>
           FOR UPDATE NOWAIT
    </select>

    <select id="findSlips" resultType="fw.domain.slip.exclusive.ExclusiveSlipId" parameterType="java.util.List">
        SELECT
               T_SLIP_MNG.SLIP_NO as slipNo
               , T_SLIP_MNG.LAST_UPD_DATE as lastUpdDate
          FROM T_SLIP_MNG
         WHERE T_SLIP_MNG.SLIP_NO IN 
            <foreach collection="list" item="exclusiveSlipId"  open="(" separator="," close=")">  
                #{exclusiveSlipId.slipNo} 
            </foreach>
    </select>

    <select id="lockSlipsHist" resultType="fw.domain.slip.exclusive.ExclusiveSlipId" parameterType="java.util.List">
        SELECT
               T_SLIP_MNG.SLIP_NO as slipNo
               , T_SLIP_MNG.LAST_UPD_DATE as lastUpdDate
          FROM H_SLIP_MNG T_SLIP_MNG
         WHERE T_SLIP_MNG.SLIP_NO IN 
            <foreach collection="list" item="exclusiveSlipId"  open="(" separator="," close=")">  
                #{exclusiveSlipId.slipNo} 
            </foreach>
           FOR UPDATE NOWAIT
    </select>
</mapper>
