<!--*************************************************************************-->
<!--*************************************************************************-->
<!doctype html>
<html LANG="ja">
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-script-type" content="text/javascript">
    <title></title>
    <link id="CSS_FONT" rel="stylesheet" href="../include/FontS.css" type="text/css">
    <link rel="stylesheet" href="../include/Layout.css" type="text/css">
    <link rel="stylesheet" href="../include/Color.css" type="text/css">
    <link rel="stylesheet" href="../include/searchbox.css" type="text/css">
    <script language="javascript" type="text/javascript" src="../include/common.js"></script>
    <script language="javascript" type="text/javascript" src="../include/check.js"></script>
    <script language="javascript" type="text/javascript" src="../include/date.js"></script>
    <script language="javascript" type="text/javascript" src="../include/searchbox.js"></script>
    <script language="javascript" type="text/javascript" src="../include/jquery-1.7.2.min.js"></script>
    <script language="javascript" type="text/javascript">
    <!--

var backUrl="";
var homeUrl="";
function back(){
	if(backUrl!=""){
		iframeChange(backUrl);
		backUrl="";
		homeUrl="";
	}
}

function home(){
    backUrl="";
	if(homeUrl!=""){
		iframeChange(homeUrl);
		homeUrl="";
	}else{
	    iframeChange('../hme/data');
	}
}

// homeとbackリンクのEnterキーを押した場合の処理
function procEnterKey(e){
    var ev = e || window.event;
    var obj = ev.target || ev.srcElement;

    if (ev.keyCode==13){
        if (obj.id == 'linkHome'){
            if($("#linkHome").is(":focus")){
                home();
            }
        }else if (obj.id == 'linkBack'){
            if($("#linkBack").is(":focus")){
                back();
            }
        }
    }
}

function setMenuButton() {
    getObj("menuButton").style.display = "";
}
document.onkeydown=procEnterKey;
    //-->
    </script>
    </head>

    <body class="Body" align="center" topmargin="0" leftmargin="0" style="overflow-y:auto;">
        <form name="Body">
            <table id="MENU" class="NoBorder" width="100%" height="100%">
                <tr>
                    <td nowrap class="NoBorder" style="border-bottom:1px solid black;height:50px;" bgcolor="#819cc9">
                        <table class="NoBorder" style="width:100%;z-index:0;">
                            <tr>
                                <td nowrap>
                                    <table class="NoBorder" width="100%">
                                        <tr>
                                            <td nowrap style="text-align:left;"><img src="../image/title2.gif" ></td>
                                            <td nowrap style="text-align:left;padding-top:4px;line-height:1;">
                                                <span class="FontMini" id="SectionName" style="color:#ffffff"></span><br>
                                                <span id="UserName" class="UserName" style="color:#ffffff;font-weight:bold;"><b></b></span>&nbsp;<span id ="RoleName" class="FontSmallBold" style="color:white;font-weight:bold;"></span><br>
                                                <span id="NowDate" class="FontMiniAnkBold" style="color:#ffffff;font-weight:bold;"></span>
                                            </td>
                                            <td nowrap style="text-align:right;white-space:nowrap;">
                                                <table id="menuButton" class="NoBorder" width="100%" style="display:none;">
                                                    <tr>
                                                        <td nowrap class="NoBorder"><a href="#" id = 'linkHome'><img border="0" class="Icon" src="../image/cmdHome.gif" onmouseover="this.src='../image/cmdHome_.gif'" onmouseout="this.src='../image/cmdHome.gif'" onclick="home()"></a></td>
                                                        <td nowrap class="NoBorder"><a href="#" id = 'linkBack'><img border="0" class="Icon" src="../image/cmdBack.gif" onmouseover="this.src='../image/cmdBack_.gif'" onmouseout="this.src='../image/cmdBack.gif'" onclick="back()"></a></td>
                                                        <td nowrap class="NoBorder" id="CMDUSEROFF"><a href="javascript:top.iframeChange('../lgn/login/PSLGN020','pageid','PSLGN020');"><img border="0" class="Icon" src="../image/cmdUser.gif" onmouseover="this.src='../image/cmdUser_.gif'" onmouseout="this.src='../image/cmdUser.gif'"></a></td>
                                                        <td nowrap class="NoBorder"><a href="../lgn/logout/logout"><img border="0" class="Icon" src="../image/cmdLogout.gif" onmouseover="this.src='../image/cmdLogout_.gif'" onmouseout="this.src='../image/cmdLogout.gif'"></a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:100%;">
                    <td nowrap class="NoBorder">
                        <iframe id="BODYAREA" name="BODYAREA" src="../hme/data"></iframe>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
