<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ps.dataaccess.cmn.information.InformationMapper">
    
    <select id="search" parameterType="String" resultType="fw.domain.mst.operation.news.NewsItem">
        SELECT
            TITLE as "title",
            SEND_USER_NAME as "sendUserName",
            VALID_START_DATE as "validStartDate.dateOfymd",
            VALID_END_DATE as "validEndDate.dateOfymd",
            CONTENTS as "comment"
        FROM
            T_NEWS
        WHERE
            T_NEWS.NEWS_SEQ = #{newsSeq}
    </select>
   
</mapper>